Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Fix always an array problem
  lib/streamlit/commands/query_params.py
  lib/streamlit/util.py
  lib/tests/streamlit/commands/query_params_test.py
  lib/tests/streamlit/testing/test_runner_test.py
  lib/tests/streamlit/util_test.py
Due: no-relative-imports

Revive prototype
  lib/streamlit/elements/widgets/selectbox.py
  lib/streamlit/elements/widgets/text_widgets.py
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/scriptrunner/script_requests.py
  lib/streamlit/runtime/scriptrunner/script_run_context.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  proto/streamlit/proto/Button.proto
  proto/streamlit/proto/ClientState.proto
  proto/streamlit/proto/ForwardMsg.proto
  proto/streamlit/proto/Selectbox.proto
  proto/streamlit/proto/TextInput.proto
Due: no-relative-imports

Fix import
  frontend/app/src/styled-components.ts
Due: prettier, typecheck

Address comment to make code more readable
  lib/streamlit/commands/query_params.py
Due: no-relative-imports

Minor fix for documentation
  lib/streamlit/util.py
Due: no-relative-imports

Fix e2e test
  e2e/specs/st_experimental_get_query_params.spec.js
Due: typecheck

Add ability to add empty query params (#7601)
  lib/streamlit/commands/query_params.py
  lib/tests/streamlit/commands/query_params_test.py
Due: no-relative-imports

Updating constraints. Github run id:6633882677
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Moved utils function to type utils
  lib/streamlit/components/v1/component_arrow.py
  lib/streamlit/type_util.py
Due: no-relative-imports

Refactor arrow component
  lib/streamlit/components/v1/component_arrow.py
  lib/streamlit/type_util.py
Due: no-relative-imports

Revert component arrow refactoring
  lib/streamlit/components/v1/component_arrow.py
  lib/streamlit/type_util.py
  lib/streamlit/util.py
Due: no-relative-imports

Set the correct color scheme in CSS (#7586)
  frontend/app/src/styled-components.ts
Due: prettier, typecheck

Deprecate unused config options (#7584)
  lib/streamlit/config.py
Due: no-relative-imports

Remove "Made by Streamlit" footer (#7583)
  e2e/scripts/st_tooltips.py
  frontend/app/src/components/AppView/AppView.test.tsx
  frontend/app/src/components/AppView/AppView.tsx
  frontend/app/src/components/AppView/styled-components.ts
  frontend/cypress/snapshots/linux/2x/iframe_resizer.spec.js/embedded_iframe.snap.png
  frontend/cypress/snapshots/linux/2x/iframe_resizer.spec.js/embedded_iframe_expanded.snap.png
  frontend/cypress/snapshots/linux/2x/iframe_resizer.spec.js/unembedded_iframe.snap.png
  frontend/cypress/snapshots/linux/2x/iframe_resizer.spec.js/unembedded_iframe_expanded.snap.png
  frontend/cypress/snapshots/linux/2x/iframe_resizer.spec.js/unembedded_iframe_with_min_height.snap.png
  frontend/cypress/snapshots/linux/2x/iframe_resizer.spec.js/unembedded_iframe_with_min_height_expanded.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/animation-demo-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/animation-demo.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/dataframe-demo-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/dataframe-demo.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/hello-mpa-sidebar-nav-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/hello-mpa-sidebar-nav.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/mapping-demo-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/mapping-demo.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/welcome-streamlit-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/welcome-streamlit.snap.png
Due: prettier, typecheck, no-relative-imports

Remove usage of element dimension spec (#7585)
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  proto/streamlit/proto/ForwardMsg.proto
Due: prettier, typecheck

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

fix test_coerce_enum
  lib/tests/streamlit/type_util_test.py
Due: no-relative-imports

Mypy fixes
  lib/streamlit/elements/utils.py
  lib/streamlit/elements/widgets/select_slider.py
  lib/streamlit/type_util.py
  lib/tests/streamlit/data_mocks.py
  lib/tests/streamlit/pyspark_mocks.py
  lib/tests/streamlit/snowpark_mocks.py
  scripts/check_license_headers.py
Due: no-relative-imports

Add Enum coercion to widgets with 'options' arg
  lib/streamlit/config.py
  lib/streamlit/elements/utils.py
  lib/streamlit/elements/widgets/multiselect.py
  lib/streamlit/elements/widgets/radio.py
  lib/streamlit/elements/widgets/select_slider.py
  lib/streamlit/elements/widgets/selectbox.py
  lib/streamlit/type_util.py
  lib/tests/streamlit/config_test.py
  lib/tests/streamlit/elements/element_utils_test.py
  lib/tests/streamlit/type_util_test.py
Due: no-relative-imports

Fix 3.8 test syntax
  lib/tests/streamlit/type_util_test.py
Due: no-relative-imports

Add ability to coerce sequences of common Enum class members
  lib/streamlit/elements/utils.py
  lib/streamlit/elements/widgets/multiselect.py
  lib/streamlit/elements/widgets/radio.py
  lib/streamlit/elements/widgets/select_slider.py
  lib/streamlit/elements/widgets/selectbox.py
  lib/tests/streamlit/elements/element_utils_test.py
Due: no-relative-imports

Fixup! Formatting PR Feedback
  lib/streamlit/config.py
  lib/streamlit/elements/utils.py
  lib/streamlit/type_util.py
  lib/streamlit/web/bootstrap.py
  lib/tests/streamlit/data_mocks.py
  lib/tests/streamlit/pyspark_mocks.py
Due: no-relative-imports

Un-fix type: ignore[attr-defined] error on windows to make it work on linux
  lib/streamlit/web/bootstrap.py
Due: no-relative-imports

Reorganized EnumCoercion tests into TestClass
  lib/tests/streamlit/type_util_test.py
Due: no-relative-imports

Add e2e AppTests of coercing elements
  lib/tests/streamlit/elements/multiselect_test.py
  lib/tests/streamlit/elements/radio_test.py
  lib/tests/streamlit/elements/select_slider_test.py
  lib/tests/streamlit/elements/selectbox_test.py
Due: no-relative-imports

Remove workarounds from https://github.com/streamlit/streamlit/issues/7563
  lib/tests/streamlit/elements/multiselect_test.py
  lib/tests/streamlit/elements/radio_test.py
  lib/tests/streamlit/elements/select_slider_test.py
  lib/tests/streamlit/elements/selectbox_test.py
Due: no-relative-imports

Correct comment grammar
  lib/streamlit/type_util.py
Due: no-relative-imports

Use AppTest.from_function everywhere from_string was being used.
  lib/tests/streamlit/elements/date_input_test.py
  lib/tests/streamlit/elements/multiselect_test.py
  lib/tests/streamlit/elements/number_input_test.py
  lib/tests/streamlit/elements/radio_test.py
  lib/tests/streamlit/elements/select_slider_test.py
  lib/tests/streamlit/elements/selectbox_test.py
  lib/tests/streamlit/elements/slider_test.py
  lib/tests/streamlit/elements/text_area_test.py
  lib/tests/streamlit/elements/text_input_test.py
  lib/tests/streamlit/elements/time_input_test.py
  lib/tests/streamlit/testing/element_tree_test.py
  lib/tests/streamlit/testing/test_runner_test.py
Due: no-relative-imports

_extract_common_class_from_iter returns None on failure to extract
  lib/streamlit/elements/utils.py
Due: no-relative-imports

Fix typo in data_mocks.py
  lib/tests/streamlit/data_mocks.py
Due: no-relative-imports

Refactor withMapboxToken to be in DeckGLJsonChart (#7374)
  frontend/app/src/App.tsx
  frontend/app/src/StreamlitLib.test.tsx
  frontend/lib/src/SessionInfo.ts
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/core/LibContext.tsx
  frontend/lib/src/components/elements/DeckGlJsonChart/DeckGlJsonChart.tsx
  frontend/lib/src/components/elements/DeckGlJsonChart/withMapboxToken/MapboxTokenError.tsx
  frontend/lib/src/components/elements/DeckGlJsonChart/withMapboxToken/index.tsx
  frontend/lib/src/components/elements/DeckGlJsonChart/withMapboxToken/withMapboxToken.test.tsx
  frontend/lib/src/components/elements/DeckGlJsonChart/withMapboxToken/withMapboxToken.tsx
  frontend/lib/src/hocs/withMapboxToken/MapboxToken.test.ts
  frontend/lib/src/hocs/withMapboxToken/MapboxToken.ts
  frontend/lib/src/hocs/withMapboxToken/withMapboxToken.test.tsx
  frontend/lib/src/mocks/mocks.ts
  lib/streamlit/elements/deck_gl_json_chart.py
  lib/streamlit/runtime/app_session.py
  proto/streamlit/proto/DeckGlJsonChart.proto
  proto/streamlit/proto/NewSession.proto
Due: prettier, typecheck, no-relative-imports

Remove Recording Feature Menu Item when unsupported
  e2e/specs/st_main_menu.spec.js
  e2e_playwright/main_menu.py
  e2e_playwright/main_menu_test.py
  frontend/app/src/components/MainMenu/MainMenu.tsx
  frontend/cypress/snapshots/linux/2x/st_main_menu.spec.js/dev_main_menu-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_main_menu.spec.js/dev_main_menu.snap.png
  frontend/cypress/snapshots/linux/2x/st_main_menu.spec.js/main_menu-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_main_menu.spec.js/main_menu.snap.png
Due: prettier, typecheck, no-relative-imports

Build releases directly from tags instead of release branches (#7580)
  .github/workflows/release-candidate.yml
  .github/workflows/release.yml
  scripts/get_latest_release_candidate.py
  scripts/get_prerelease_version.py
Due: no-relative-imports

Docstrings for App testing (#7587)
  lib/streamlit/connections/snowflake_connection.py
  lib/streamlit/testing/v1/app_test.py
  lib/streamlit/testing/v1/element_tree.py
Due: no-relative-imports

Make the outline for expanders appear on focus-visible and not focus (#7592)
  frontend/lib/src/components/elements/Expander/styled-components.ts
Due: prettier, typecheck

Add new libraries to attributions (#7599)
  lib/streamlit/runtime/metrics_util.py
Due: no-relative-imports

Up version to 1.28.0
  frontend/app/package.json
  frontend/lib/package.json
  frontend/package.json
  lib/setup.py
Due: no-relative-imports

Fix python test
  lib/tests/streamlit/commands/query_params_test.py
Due: no-relative-imports

Updating constraints. Github run id:6636643408
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Add snapshots
  e2e_playwright/__snapshots__/linux/main_menu_test/main_menu[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/main_menu_test/main_menu[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/main_menu_test/main_menu[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/main_menu_test/main_menu[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/main_menu_test/main_menu[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/main_menu_test/main_menu[light_theme-webkit].png
Due: none

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
