Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Simplify: use only reviews endpoint for AI review verdict
  .claude/skills/finalizing-pr/SKILL.md
Due: none

Update version and project name in files
  frontend/package.json
  lib/pyproject.toml
  lib/streamlit/version.py
  pyproject.toml
Due: no-relative-imports

[chore] AI-assisted flaky E2E test fixes
  e2e_playwright/st_slider_test.py
Due: no-relative-imports

Apply automatic fixes
  frontend/yarn.lock
Due: none

feat: allow integer pixel gap for st.container and st.columns
  frontend/lib/src/components/core/Block/Block.test.tsx
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/core/Block/styled-components.ts
  frontend/lib/src/components/core/Block/utils.test.ts
  frontend/lib/src/components/core/Block/utils.ts
  lib/streamlit/elements/layouts.py
  lib/streamlit/elements/lib/layout_utils.py
  lib/streamlit/errors.py
  lib/streamlit/testing/v1/element_tree.py
  lib/tests/streamlit/elements/layouts_test.py
  lib/tests/streamlit/elements/lib/layout_utils_test.py
  proto/streamlit/proto/GapSize.proto
Due: prettier, typecheck, no-relative-imports

Stretch SVG images to container width by default
  frontend/lib/src/components/elements/ImageList/ImageList.test.tsx
  frontend/lib/src/components/elements/ImageList/ImageList.tsx
Due: prettier, typecheck

Fix selectbox first item hidden with 7 options
  frontend/lib/src/components/shared/Dropdown/VirtualDropdown.test.tsx
  frontend/lib/src/components/shared/Dropdown/VirtualDropdown.tsx
Due: prettier, typecheck

Strengthen selectbox regression tests
  frontend/lib/src/components/shared/Dropdown/VirtualDropdown.test.tsx
Due: prettier, typecheck

yarn dedupe
  frontend/yarn.lock
Due: none

Dedupe yarn.lock
  frontend/yarn.lock
Due: none

Bump knip from 6.6.1 to 6.9.0 in /frontend
  frontend/package.json
  frontend/yarn.lock
Due: none

Fix deck.gl type errors and run yarn dedupe
  frontend/lib/src/components/elements/DeckGlJsonChart/useDeckGl.tsx
  frontend/lib/src/components/elements/DeckGlJsonChart/utils/colors.ts
  frontend/yarn.lock
Due: prettier, typecheck

Filter deck.gl WebGL context error in mega tester Firefox test
  e2e_playwright/mega_tester_app_test.py
Due: no-relative-imports

[chore] Enable 24 new ESLint rules from eslint bump and fix violations
  frontend/app/src/App.tsx
  frontend/app/src/components/StreamlitDialog/DialogErrorMessage.tsx
  frontend/app/src/hocs/withScreencast/components/VideoRecordedDialog/VideoRecordedDialog.tsx
  frontend/connection/src/ConnectionManager.ts
  frontend/eslint.config.mjs
  frontend/lib/src/WidgetStateManager.ts
  frontend/lib/src/components/audio/backends/WaveSurferRecordBackend.ts
  frontend/lib/src/components/audio/core/encodeToWav.ts
  frontend/lib/src/components/core/Maybe/Maybe.test.tsx
  frontend/lib/src/components/elements/ArrowVegaLiteChart/ArrowVegaLiteChart.test.tsx
  frontend/lib/src/components/elements/ArrowVegaLiteChart/useVegaElementPreprocessor.ts
  frontend/lib/src/components/elements/DeckGlJsonChart/utils/colors.ts
  frontend/lib/src/components/elements/Json/Json.tsx
  frontend/lib/src/components/elements/Particles/Particles.tsx
  frontend/lib/src/components/shared/Tooltip/useTooltipMeasurementSideEffect.ts
  frontend/lib/src/components/widgets/BidiComponent/hooks/useHandleJsContent.ts
  frontend/lib/src/components/widgets/CameraInput/WebcamComponent.tsx
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/ChartColumn.ts
  frontend/lib/src/components/widgets/DataFrame/columns/CheckboxColumn.ts
  frontend/lib/src/components/widgets/DataFrame/columns/ProgressColumn.ts
  frontend/lib/src/components/widgets/DataFrame/menus/FormattingMenu.test.tsx
  frontend/lib/src/components/widgets/Slider/Slider.tsx
  frontend/lib/src/hooks/useBasicWidgetState.ts
  frontend/lib/src/hooks/useScrollAnimation.ts
  frontend/lib/src/render-tree/AppRoot.ts
  frontend/lib/src/util/uploadFiles.ts
Due: prettier, typecheck

Address PR review feedback
  frontend/app/src/App.tsx
  frontend/app/src/hocs/withScreencast/components/VideoRecordedDialog/VideoRecordedDialog.tsx
  frontend/connection/src/ConnectionManager.ts
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
  frontend/lib/src/render-tree/AppRoot.ts
Due: prettier, typecheck

fix: address PR review comments for path security middleware
  lib/streamlit/web/server/starlette/starlette_path_security_middleware.py
  lib/tests/streamlit/web/server/starlette/starlette_path_security_middleware_test.py
Due: no-relative-imports

Add st.pagination widget
  e2e_playwright/st_pagination.py
  e2e_playwright/st_pagination_test.py
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/widgets/Pagination/Pagination.test.tsx
  frontend/lib/src/components/widgets/Pagination/Pagination.tsx
  frontend/lib/src/components/widgets/Pagination/styled-components.ts
  lib/streamlit/__init__.py
  lib/streamlit/delta_generator.py
  lib/streamlit/elements/widgets/pagination.py
  lib/tests/streamlit/element_mocks.py
  lib/tests/streamlit/elements/pagination_test.py
  proto/streamlit/proto/Element.proto
  proto/streamlit/proto/Pagination.proto
Due: prettier, typecheck, no-relative-imports

fix: address PR review comments for st.pagination widget
  e2e_playwright/st_pagination.py
  e2e_playwright/st_pagination_test.py
  frontend/lib/src/components/widgets/Pagination/Pagination.test.tsx
  frontend/lib/src/components/widgets/Pagination/Pagination.tsx
  lib/streamlit/elements/widgets/pagination.py
Due: prettier, typecheck, no-relative-imports

fix: address PR review comments for st.pagination
  frontend/lib/src/components/widgets/Pagination/styled-components.ts
  lib/streamlit/elements/widgets/pagination.py
  lib/tests/streamlit/typing/pagination_types.py
Due: prettier, typecheck, no-relative-imports

fix: address additional PR review comments for st.pagination
  e2e_playwright/st_pagination.py
  e2e_playwright/st_pagination_test.py
  frontend/lib/src/components/widgets/Pagination/Pagination.tsx
  frontend/lib/src/components/widgets/Pagination/styled-components.ts
  lib/streamlit/elements/widgets/pagination.py
  lib/tests/streamlit/elements/pagination_test.py
Due: prettier, typecheck, no-relative-imports

fix: address additional PR review comments for st.pagination
  e2e_playwright/st_pagination_test.py
  lib/streamlit/elements/widgets/pagination.py
Due: no-relative-imports

fix: memoize useResizeObserver properties and fix max_visible_pages fallback
  frontend/lib/src/components/widgets/Pagination/Pagination.tsx
Due: prettier, typecheck

fix: address additional PR review comments for st.pagination
  e2e_playwright/st_pagination_test.py
  frontend/lib/src/components/widgets/Pagination/Pagination.tsx
  lib/streamlit/elements/widgets/pagination.py
  lib/tests/streamlit/elements/pagination_test.py
Due: prettier, typecheck, no-relative-imports

Refactor: extract shared handle_user_script_exception function
  lib/streamlit/error_util.py
  lib/streamlit/runtime/fragment.py
  lib/streamlit/runtime/scriptrunner/exec_code.py
  lib/tests/streamlit/runtime/fragment_test.py
Due: no-relative-imports

test: Add HTTPS fallback timeout test and fix import location
  lib/tests/streamlit/net_util_test.py
Due: no-relative-imports

Add UI Library Migration Research document
  specs/tech-specs/ui-migration-research.md
Due: none

fix: update mock patch paths after refactoring handle_user_script_exception
  lib/tests/streamlit/runtime/scriptrunner/code_exec_test.py
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
Due: no-relative-imports

Add product spec for Mermaid chart support
  specs/2026-05-02-mermaid-chart/product-spec.md
Due: none

fix: address Greptile review comments on mermaid spec
  specs/2026-05-02-mermaid-chart/product-spec.md
Due: none

fix: address Copilot review comments on mermaid spec
  specs/2026-05-02-mermaid-chart/product-spec.md
Due: none

Add backwards compatibility section to mermaid spec
  specs/2026-05-02-mermaid-chart/product-spec.md
Due: none

[fix] Fix MarkdownCell import path for StreamlitMarkdown
  frontend/lib/src/components/widgets/DataFrame/columns/cells/MarkdownCell.tsx
Due: prettier, typecheck

fix: address PR review comments for AI QA workflow
  .github/workflows/ai-qa-testing.yml
Due: none

[chore] Update knip config to ignore DataFrame column exports
  frontend/knip.json
Due: none

fix: revert to subagent invocation, keep verdict file instruction
  .github/workflows/ai-qa-testing.yml
Due: none

[chore] Enable 3 more ESLint rules and fix ~40 violations
  frontend/eslint.config.mjs
  frontend/lib/src/components/core/Layout/FlexContext.test.tsx
  frontend/lib/src/components/core/Layout/useLayoutStyles.test.tsx
  frontend/lib/src/components/core/Layout/withCalculatedWidth.test.tsx
  frontend/lib/src/components/elements/DeckGlJsonChart/useDeckGl.test.tsx
  frontend/lib/src/components/elements/Expander/useDetailsAnimation.test.ts
  frontend/lib/src/components/shared/WindowDimensions/Provider.test.tsx
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.tsx
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
  frontend/lib/src/components/widgets/DataFrame/hooks/useSelectionHandler.ts
  frontend/lib/src/components/widgets/DataFrame/menus/ColumnVisibilityMenu.test.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/FormattingMenu.test.tsx
  frontend/lib/src/components/widgets/Multiselect/Multiselect.tsx
  frontend/lib/src/hooks/useWidgetManagerElementState.test.tsx
  frontend/lib/src/test_util.tsx
Due: prettier, typecheck

fix: correct backtick count in mermaid spec examples
  specs/2026-05-02-mermaid-chart/product-spec.md
Due: none

Document Starlette background tasks integration
  specs/tech-specs/starlette-background-tasks.md
Due: none
