Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Add widget id kwargs types, start resolving conflicts
  lib/streamlit/elements/time_widgets.py
  lib/streamlit/runtime/state/common.py
Due: no-relative-imports

Add back snapshots
  e2e/specs/st_button.spec.js
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/button-widget-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/button-widget.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/disabled-button-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/disabled-button.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/disabled-primary-button-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/disabled-primary-button.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/primary-button-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/primary-button.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/stretched_buttons_0-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/stretched_buttons_0.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/stretched_buttons_1-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/stretched_buttons_1.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/stretched_buttons_2-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/stretched_buttons_2.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/stretched_buttons_3-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/stretched_buttons_3.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/use-container-width-and-help-button-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/use-container-width-and-help-button.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/use-container-width-button-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/use-container-width-button.snap.png
  frontend/cypress/snapshots/linux/2x/st_download_button.spec.js/container-width-help-button-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_download_button.spec.js/container-width-help-button.snap.png
  frontend/cypress/snapshots/linux/2x/st_download_button.spec.js/disabled-download-button-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_download_button.spec.js/disabled-download-button.snap.png
  frontend/cypress/snapshots/linux/2x/st_download_button.spec.js/download-button-widget-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_download_button.spec.js/download-button-widget.snap.png
  frontend/cypress/snapshots/linux/2x/st_download_button.spec.js/use-container-width-button-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_download_button.spec.js/use-container-width-button.snap.png
  frontend/cypress/snapshots/linux/2x/st_form_use_container_width_submit_button.spec.js/form-submit-button-container-and-help-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_form_use_container_width_submit_button.spec.js/form-submit-button-container-and-help.snap.png
  frontend/cypress/snapshots/linux/2x/st_form_use_container_width_submit_button.spec.js/use-container-width-submit-form-button-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_form_use_container_width_submit_button.spec.js/use-container-width-submit-form-button.snap.png
Due: typecheck

Remove console.log
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
Due: prettier, typecheck

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:5595822503
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Resolve no-node-access warnings
  frontend/.eslintrc.js
  frontend/lib/src/components/core/Block/ElementNodeRenderer.test.tsx
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
Due: prettier, typecheck

Resolve prefer-screen-queries warnings
  frontend/.eslintrc.js
  frontend/app/src/components/AppView/AppView.test.tsx
  frontend/app/src/components/MainMenu/MainMenu.test.tsx
  frontend/lib/src/components/elements/ChatMessage/ChatMessage.test.tsx
  frontend/lib/src/components/shared/FullScreenWrapper/FullScreenWrapper.test.tsx
  frontend/lib/src/components/shared/InputInstructions/InputInstructions.test.tsx
  frontend/lib/src/components/widgets/ChatInput/ChatInput.test.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/DateTimeCell.test.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
Due: prettier, typecheck

Resolve render-result-naming-convention
  frontend/.eslintrc.js
  frontend/app/src/components/MainMenu/MainMenu.test.tsx
  frontend/app/src/components/Sidebar/Sidebar.test.tsx
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/elements/DataFrame/DataFrame.tsx
  frontend/lib/src/components/widgets/Form/FormSubmitButton.test.tsx
Due: prettier, typecheck

Move widgets to submodule
  lib/streamlit/elements/widgets/button.py
  lib/streamlit/elements/widgets/camera_input.py
  lib/streamlit/elements/widgets/chat.py
  lib/streamlit/elements/widgets/checkbox.py
  lib/streamlit/elements/widgets/color_picker.py
  lib/streamlit/elements/widgets/data_editor.py
  lib/streamlit/elements/widgets/file_uploader.py
  lib/streamlit/elements/widgets/multiselect.py
  lib/streamlit/elements/widgets/number_input.py
  lib/streamlit/elements/widgets/radio.py
  lib/streamlit/elements/widgets/select_slider.py
  lib/streamlit/elements/widgets/selectbox.py
  lib/streamlit/elements/widgets/slider.py
  lib/streamlit/elements/widgets/text_widgets.py
  lib/streamlit/elements/widgets/time_widgets.py
Due: no-relative-imports

Update NOTICES
  NOTICES
Due: none

Update widget import paths
  lib/streamlit/delta_generator.py
Due: no-relative-imports

Fix test imports and patching
  lib/streamlit/testing/element_tree.py
  lib/tests/streamlit/elements/chat_test.py
  lib/tests/streamlit/elements/data_editor_test.py
  lib/tests/streamlit/elements/file_uploader_test.py
  lib/tests/streamlit/elements/multiselect_test.py
  lib/tests/streamlit/form_test.py
  lib/tests/streamlit/runtime/state/session_state_test.py
Due: no-relative-imports

Add widgets init file
  lib/streamlit/elements/widgets/__init__.py
Due: no-relative-imports

Fix `chat_input` enter submission for Chinese and Japanse (#6993)
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
  frontend/lib/src/components/widgets/TextArea/TextArea.tsx
Due: prettier, typecheck

Updating constraints. Github run id:5605096648
  constraints-3.10.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Allow common types with safe str encodings
  lib/streamlit/elements/time_widgets.py
  lib/streamlit/runtime/state/common.py
Due: no-relative-imports

Finish hacky hashing of existing safe values
  lib/streamlit/elements/data_editor.py
  lib/streamlit/runtime/state/common.py
Due: no-relative-imports

Update forms docstring
  lib/streamlit/elements/form.py
Due: no-relative-imports

Updating constraints. Github run id:5607697340
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Update st.form docstring
  lib/streamlit/elements/form.py
Due: no-relative-imports

Update e2e/playwright/conftest.py
  e2e/playwright/conftest.py
Due: no-relative-imports

Update link color
  frontend/lib/src/theme/globalStyles.ts
Due: prettier, typecheck

Update sidebar bottom padding
  frontend/app/src/components/Sidebar/styled-components.ts
Due: prettier, typecheck

Use healthcheck
  e2e/playwright/conftest.py
Due: no-relative-imports

Hide number input controls when size is too small
  frontend/lib/src/components/widgets/NumberInput/NumberInput.tsx
Due: prettier, typecheck

Remove tests
  frontend/cypress/snapshots/linux/2x/modals.spec.js/about-dark.snap.png
  frontend/cypress/snapshots/linux/2x/modals.spec.js/about.snap.png
Due: none

Add new JS test for small number inputs
  frontend/lib/src/components/widgets/NumberInput/NumberInput.test.tsx
Due: prettier, typecheck

Update e2e tests
  e2e/scripts/st_number_input.py
  e2e/specs/st_number_input.spec.js
Due: typecheck, no-relative-imports

Get random available port from operating system
  e2e/playwright/conftest.py
Due: no-relative-imports

Add missing number input tests
  frontend/cypress/snapshots/linux/2x/st_number_input.spec.js/number_input9-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_number_input.spec.js/number_input9.snap.png
Due: none

Update number input test
  e2e/specs/st_number_input.spec.js
Due: typecheck

Override link color for a tag as well in globalStyles
  frontend/lib/src/theme/globalStyles.ts
Due: prettier, typecheck

Don't show labels when no x or y specified (to match existing behavior).
  lib/streamlit/elements/arrow_altair.py
  lib/tests/streamlit/elements/arrow_altair_test.py
Due: no-relative-imports

Update snapshots (need to regenerate)
  frontend/cypress/snapshots/linux/2x/st_arrow_bar_chart.spec.js/arrow_bar_chart7-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_bar_chart.spec.js/arrow_bar_chart7.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_line_chart.spec.js/arrow_line_chart0-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_line_chart.spec.js/arrow_line_chart0.snap.png
Due: none

Fix bug where x axis was sometimes quantitative rather than temporal.
  lib/streamlit/elements/arrow_altair.py
Due: no-relative-imports

Add modal snapshots
  frontend/cypress/snapshots/linux/2x/modals.spec.js/about-dark.snap.png
  frontend/cypress/snapshots/linux/2x/modals.spec.js/about.snap.png
Due: none

Add cache warning to st.toast
  lib/streamlit/elements/toast.py
Due: no-relative-imports

Implement st.scatter_chart
  e2e/scripts/st_arrow_scatter_chart.py
  e2e/specs/st_arrow_scatter_chart.spec.js
  lib/streamlit/__init__.py
  lib/streamlit/elements/arrow_altair.py
  lib/streamlit/elements/dataframe_selector.py
  lib/tests/streamlit/delta_generator_test.py
  lib/tests/streamlit/elements/arrow_altair_test.py
  lib/tests/streamlit/streamlit_test.py
Due: typecheck, no-relative-imports

Fix x enc when no x_column.
  lib/streamlit/elements/arrow_altair.py
Due: no-relative-imports
