Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Update text_input types spec to match implementation
  specs/2026-06-29-text-input-types/product-spec.md
Due: none

Harden default url validation regex
  lib/streamlit/elements/widgets/text_widgets.py
  lib/tests/streamlit/elements/text_input_test.py
Due: no-relative-imports

[fix] Use content-derived seed for cache_data hash sampling (#14622)
  lib/streamlit/runtime/caching/hashing.py
  lib/tests/streamlit/runtime/caching/hashing_test.py
Due: no-relative-imports

Document the helper's numpy-exact vs representative scope (#14622)
  lib/tests/streamlit/runtime/caching/hashing_test.py
Due: no-relative-imports

Extend stability assertions to pandas DataFrame and both polars types (#14622)
  lib/tests/streamlit/runtime/caching/hashing_test.py
Due: no-relative-imports

Correct the helper docstring: replace=False is a superset, not exact (#14622)
  lib/tests/streamlit/runtime/caching/hashing_test.py
Due: no-relative-imports

Hash large objects in full instead of sampling (#14622)
  lib/streamlit/runtime/caching/hashing.py
  lib/tests/streamlit/runtime/caching/hashing_test.py
Due: no-relative-imports

Name the historical sample sizes instead of inlining them (#14622)
  lib/tests/streamlit/runtime/caching/hashing_test.py
Due: no-relative-imports

Replace full hashing with a configurable sample seed (#14622)
  lib/streamlit/config.py
  lib/streamlit/runtime/caching/hashing.py
  lib/tests/streamlit/config_test.py
  lib/tests/streamlit/runtime/caching/hashing_test.py
Due: no-relative-imports

Correct the sampler claim and lead with the invariant (#14622)
  lib/tests/streamlit/runtime/caching/hashing_test.py
Due: no-relative-imports

Add docstrings to collision tests per lib/tests/AGENTS.md (#14622)
  lib/tests/streamlit/runtime/caching/hashing_test.py
Due: no-relative-imports

Make the collision-class claim precise for pandas/polars paths (#14622)
  lib/tests/streamlit/runtime/caching/hashing_test.py
Due: no-relative-imports

Make the seed independent of TOML quoting (#14622)
  lib/streamlit/runtime/caching/hashing.py
  lib/tests/streamlit/runtime/caching/hashing_test.py
Due: no-relative-imports

Document that only unset maps to the historical seed (#14622)
  lib/streamlit/config.py
Due: no-relative-imports

Address review nitpicks; pin the non-string config case (#14622)
  lib/streamlit/config.py
  lib/tests/streamlit/runtime/caching/hashing_test.py
Due: no-relative-imports

Accept any string as the cache hash seed (#14622)
  lib/streamlit/config.py
  lib/streamlit/runtime/caching/hashing.py
  lib/tests/streamlit/runtime/caching/hashing_test.py
Due: no-relative-imports

Address AI review: sensitive flag, real collision test, pytest style (#14622)
  lib/streamlit/config.py
  lib/tests/streamlit/runtime/caching/hashing_test.py
Due: no-relative-imports

Simplify the cache hash seed to an integer (#14622)
  lib/streamlit/config.py
  lib/streamlit/runtime/caching/hashing.py
  lib/tests/streamlit/runtime/caching/hashing_test.py
Due: no-relative-imports

Point users needing exact hashing at hash_funcs (#14622)
  lib/streamlit/config.py
Due: no-relative-imports

Stop stranding Claude Code users whose skill only landed in .agents/skills
  lib/streamlit/web/skills.py
  lib/tests/streamlit/web/skills_test.py
Due: no-relative-imports

[fix] Show full popover contents in narrow / embedded viewports (#9340) (#16173)
  e2e_playwright/st_popover_test.py
  frontend/lib/src/components/elements/Popover/Popover.test.tsx
  frontend/lib/src/components/elements/Popover/Popover.tsx
Due: prettier, typecheck, no-relative-imports

Fix CSS-friendly wording in the skill routing table
  lib/streamlit/.agents/skills/developing-with-streamlit/SKILL.md
Due: none

[feature] Add in-error install-skills callout
  e2e_playwright/__snapshots__/linux/skills_install_callout_test/skills_install_callout-idle[chromium].png
  e2e_playwright/__snapshots__/linux/skills_install_callout_test/skills_install_callout-idle[firefox].png
  e2e_playwright/__snapshots__/linux/skills_install_callout_test/skills_install_callout-idle[webkit].png
  e2e_playwright/__snapshots__/linux/skills_install_callout_test/skills_install_callout-in_error_box[chromium].png
  e2e_playwright/__snapshots__/linux/skills_install_callout_test/skills_install_callout-in_error_box[firefox].png
  e2e_playwright/__snapshots__/linux/skills_install_callout_test/skills_install_callout-in_error_box[webkit].png
  e2e_playwright/__snapshots__/linux/skills_install_callout_test/skills_install_callout-success[chromium].png
  e2e_playwright/shared/skills_install_app.py
  e2e_playwright/skills_install_callout.py
  e2e_playwright/skills_install_callout_test.py
  e2e_playwright/skills_nudge_test.py
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  frontend/app/src/MetricsManager.test.ts
  frontend/app/src/MetricsManager.ts
  frontend/app/src/components/StreamlitContextProvider.tsx
  frontend/lib/src/components/core/SkillsInstallContext.tsx
  frontend/lib/src/components/elements/ExceptionElement/ExceptionElement.test.tsx
  frontend/lib/src/components/elements/ExceptionElement/ExceptionElement.tsx
  frontend/lib/src/components/elements/ExceptionElement/SkillsInstallCallout.test.tsx
  frontend/lib/src/components/elements/ExceptionElement/SkillsInstallCallout.tsx
  frontend/lib/src/components/elements/ExceptionElement/styled-components.ts
  frontend/lib/src/index.ts
  frontend/lib/src/test_util.tsx
  lib/streamlit/elements/exception.py
  lib/tests/streamlit/elements/exception_test.py
  lib/tests/streamlit/proto_compatibility_test.py
  proto/streamlit/proto/Exception.proto
  proto/streamlit/proto/MetricsEvent.proto
Due: prettier, typecheck, no-relative-imports

Fix the callout's error-state layout, and render it
  e2e_playwright/skills_install_callout_test.py
  frontend/lib/src/components/elements/ExceptionElement/ExceptionElement.tsx
  frontend/lib/src/components/elements/ExceptionElement/SkillsInstallCallout.test.tsx
  frontend/lib/src/components/elements/ExceptionElement/SkillsInstallCallout.tsx
  frontend/lib/src/components/elements/ExceptionElement/styled-components.ts
  specs/2026-06-26-in-error-install-skills-nudge/product-spec.md
  specs/2026-06-26-in-error-install-skills-nudge/state-error.png
Due: prettier, typecheck, no-relative-imports

Update the spec to the shipped design
  specs/2026-06-26-in-error-install-skills-nudge/overview-toast-and-callout.png
  specs/2026-06-26-in-error-install-skills-nudge/product-spec.md
  specs/2026-06-26-in-error-install-skills-nudge/state-error.png
  specs/2026-06-26-in-error-install-skills-nudge/state-idle-below-error.png
  specs/2026-06-26-in-error-install-skills-nudge/state-success.png
Due: none

Restyle the skills callout as its own box below the error
  e2e_playwright/__snapshots__/linux/skills_install_callout_test/skills_install_callout-idle[chromium].png
  e2e_playwright/__snapshots__/linux/skills_install_callout_test/skills_install_callout-idle[firefox].png
  e2e_playwright/__snapshots__/linux/skills_install_callout_test/skills_install_callout-idle[webkit].png
  e2e_playwright/__snapshots__/linux/skills_install_callout_test/skills_install_callout-in_error_box[chromium].png
  e2e_playwright/__snapshots__/linux/skills_install_callout_test/skills_install_callout-in_error_box[firefox].png
  e2e_playwright/__snapshots__/linux/skills_install_callout_test/skills_install_callout-in_error_box[webkit].png
  e2e_playwright/__snapshots__/linux/skills_install_callout_test/skills_install_callout-success[chromium].png
  e2e_playwright/skills_install_callout.py
  e2e_playwright/skills_install_callout_test.py
  frontend/lib/src/components/elements/ExceptionElement/ExceptionElement.test.tsx
  frontend/lib/src/components/elements/ExceptionElement/ExceptionElement.tsx
  frontend/lib/src/components/elements/ExceptionElement/SkillsInstallCallout.tsx
  frontend/lib/src/components/elements/ExceptionElement/styled-components.ts
Due: prettier, typecheck, no-relative-imports

Put the callout's action at the end of the row, not below it
  frontend/lib/src/components/elements/ExceptionElement/SkillsInstallCallout.test.tsx
  frontend/lib/src/components/elements/ExceptionElement/SkillsInstallCallout.tsx
  frontend/lib/src/components/elements/ExceptionElement/styled-components.ts
  specs/2026-06-26-in-error-install-skills-nudge/product-spec.md
  specs/2026-06-26-in-error-install-skills-nudge/state-error.png
Due: prettier, typecheck

First pass
  e2e_playwright/theming/theme_font_weights_test.py
  frontend/lib/src/theme/utils.test.ts
  frontend/lib/src/theme/utils.ts
  lib/streamlit/config.py
Due: prettier, typecheck, no-relative-imports

Withhold is_streamlit_exception when the type is redacted
  lib/streamlit/elements/exception.py
  lib/tests/streamlit/elements/exception_test.py
  specs/2026-06-26-in-error-install-skills-nudge/product-spec.md
Due: no-relative-imports

Fix the callout's keyboard and screen-reader handling
  e2e_playwright/skills_install_callout_test.py
  frontend/app/src/App.test.tsx
  frontend/lib/src/components/elements/ExceptionElement/ExceptionElement.test.tsx
  frontend/lib/src/components/elements/ExceptionElement/SkillsInstallCallout.test.tsx
  frontend/lib/src/components/elements/ExceptionElement/SkillsInstallCallout.tsx
  frontend/lib/src/components/elements/ExceptionElement/styled-components.ts
  specs/2026-06-26-in-error-install-skills-nudge/product-spec.md
Due: prettier, typecheck, no-relative-imports

e2e test fixes
  e2e_playwright/theming/theme_font_weights_test.py
Due: no-relative-imports

Cover the callout's failure state in E2E, and fix a path leak
  e2e_playwright/shared/skills_install_app.py
  e2e_playwright/skills_install_callout_test.py
  e2e_playwright/skills_nudge_test.py
  frontend/app/src/App.test.tsx
  frontend/lib/src/components/elements/ExceptionElement/SkillsInstallCallout.test.tsx
  lib/streamlit/web/skills.py
  lib/tests/streamlit/web/skills_test.py
  specs/2026-06-26-in-error-install-skills-nudge/product-spec.md
Due: prettier, typecheck, no-relative-imports

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/skills_install_callout_test/skills_install_callout-error[chromium].png
  e2e_playwright/__snapshots__/linux/skills_install_callout_test/skills_install_callout-success[chromium].png
Due: none

Dedupe concurrent installs, skip hidden errors, stop re-offering a failure
  frontend/app/src/App.tsx
  frontend/lib/src/components/core/SkillsInstallContext.tsx
  frontend/lib/src/components/elements/ExceptionElement/ExceptionElement.test.tsx
  frontend/lib/src/components/elements/ExceptionElement/ExceptionElement.tsx
Due: prettier, typecheck

Make the spec's dismissal and visibility rules precise
  specs/2026-06-26-in-error-install-skills-nudge/product-spec.md
Due: none

Stop the toast re-raising over a settled install
  frontend/app/src/App.tsx
  frontend/lib/src/components/elements/ExceptionElement/SkillsInstallCallout.tsx
Due: prettier, typecheck

Address AI review: strengthen callback AppTest and clean up tests
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
  lib/tests/streamlit/runtime/state/session_state_test.py
Due: no-relative-imports

Stop the action overflowing a narrow callout
  frontend/lib/src/components/elements/ExceptionElement/SkillsInstallCallout.test.tsx
  frontend/lib/src/components/elements/ExceptionElement/SkillsInstallCallout.tsx
  frontend/lib/src/components/elements/ExceptionElement/styled-components.ts
  specs/2026-06-26-in-error-install-skills-nudge/product-spec.md
  specs/2026-06-26-in-error-install-skills-nudge/state-error.png
  specs/2026-06-26-in-error-install-skills-nudge/state-idle-below-error.png
Due: prettier, typecheck

Address feedback
  e2e_playwright/theming/theme_font_weights_test.py
  frontend/lib/src/theme/utils.ts
  lib/streamlit/config.py
Due: prettier, typecheck, no-relative-imports

Address feedback & update snaps
  e2e_playwright/__snapshots__/linux/theme_chart_colors_test/custom_chart_colors-dark_section[chromium].png
  e2e_playwright/__snapshots__/linux/theme_chart_colors_test/custom_chart_colors-dark_section[firefox].png
  e2e_playwright/__snapshots__/linux/theme_chart_colors_test/custom_chart_colors-dark_section[webkit].png
  e2e_playwright/__snapshots__/linux/theme_chart_colors_test/custom_chart_colors-light_section[chromium].png
  e2e_playwright/__snapshots__/linux/theme_chart_colors_test/custom_chart_colors-light_section[firefox].png
  e2e_playwright/__snapshots__/linux/theme_chart_colors_test/custom_chart_colors-light_section[webkit].png
  e2e_playwright/__snapshots__/linux/theme_chart_colors_test/custom_chart_colors-sidebar_section[chromium].png
  e2e_playwright/__snapshots__/linux/theme_chart_colors_test/custom_chart_colors-sidebar_section[firefox].png
  e2e_playwright/__snapshots__/linux/theme_chart_colors_test/custom_chart_colors-sidebar_section[webkit].png
  frontend/lib/src/theme/utils.test.ts
  frontend/lib/src/theme/utils.ts
Due: prettier, typecheck
