Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

[chore] Modernize Maybe component
  frontend/lib/src/components/core/Maybe/Maybe.test.tsx
  frontend/lib/src/components/core/Maybe/Maybe.tsx
Due: prettier, typecheck

Improve tests for AppNodes and Quiver
  frontend/lib/src/AppNode.test.ts
  frontend/lib/src/dataframes/Quiver.test.ts
  frontend/lib/src/test_util.tsx
Due: prettier, typecheck

PR feedback
  frontend/lib/src/components/core/Maybe/Maybe.test.tsx
  frontend/lib/src/components/core/Maybe/Maybe.tsx
Due: prettier, typecheck

deexperimentalize audio input
  e2e_playwright/st_experimental_audio_input.py
  e2e_playwright/st_experimental_audio_test.py
  lib/streamlit/__init__.py
  lib/streamlit/elements/widgets/audio_input.py
  lib/tests/streamlit/element_mocks.py
Due: no-relative-imports

Remove unneeded import
  frontend/lib/src/test_util.tsx
Due: prettier, typecheck

Adds WindowDimensionProvider and passing fullscreen props via context (#9590)
  frontend/app/src/ThemedApp.tsx
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/elements/DeckGlJsonChart/DeckGlJsonChart.test.tsx
  frontend/lib/src/components/elements/DeckGlJsonChart/DeckGlJsonChart.tsx
  frontend/lib/src/components/elements/DeckGlJsonChart/types.ts
  frontend/lib/src/components/elements/DeckGlJsonChart/useDeckGl.tsx
  frontend/lib/src/components/shared/ElementFullscreen/ElementFullscreenContext.tsx
  frontend/lib/src/components/shared/ElementFullscreen/ElementFullscreenWrapper.tsx
  frontend/lib/src/components/shared/ElementFullscreen/testUtils.tsx
  frontend/lib/src/components/shared/FullScreenWrapper/FullScreenWrapper.tsx
  frontend/lib/src/components/shared/Tooltip/OverflowTooltip.test.tsx
  frontend/lib/src/components/shared/WindowDimensions/Provider.test.tsx
  frontend/lib/src/components/shared/WindowDimensions/Provider.tsx
  frontend/lib/src/components/shared/WindowDimensions/index.tsx
  frontend/lib/src/components/shared/WindowDimensions/useWindowDimensions.tsx
  frontend/lib/src/components/widgets/AudioInput/AudioInput.tsx
  frontend/lib/src/hooks/useRequiredContext.tsx
  frontend/lib/src/test_util.tsx
  frontend/lib/src/util/utils.ts
Due: prettier, typecheck

adding download button to audio_input (#9637)
  e2e_playwright/conftest.py
  e2e_playwright/st_audio_input_test.py
  frontend/lib/src/components/widgets/AudioInput/AudioInput.tsx
  frontend/lib/src/components/widgets/DataFrame/hooks/useDataExporter.ts
  frontend/lib/src/components/widgets/DownloadButton/DownloadButton.tsx
  frontend/lib/src/hooks/useDownloadUrl.ts
  frontend/lib/src/util/createDownloadLinkElement.ts
Due: prettier, typecheck, no-relative-imports

Updating constraints. Github run id:11298385598
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

adding correct test files
  e2e_playwright/st_experimental_audio_input_test.py
  e2e_playwright/st_experimental_audio_test.py
Due: no-relative-imports

deexperiment audio_input widget
  e2e_playwright/st_experimental_audio_input.py
  e2e_playwright/st_experimental_audio_input_test.py
  lib/streamlit/__init__.py
  lib/streamlit/elements/widgets/audio_input.py
  lib/tests/streamlit/element_mocks.py
Due: no-relative-imports

add snapshots
  e2e_playwright/st_experimental_audio_input_test/st_audio_input-default[dark_theme-chromium].png
  e2e_playwright/st_experimental_audio_input_test/st_audio_input-default[dark_theme-firefox].png
  e2e_playwright/st_experimental_audio_input_test/st_audio_input-default[dark_theme-webkit].png
  e2e_playwright/st_experimental_audio_input_test/st_audio_input-default[light_theme-chromium].png
  e2e_playwright/st_experimental_audio_input_test/st_audio_input-default[light_theme-firefox].png
  e2e_playwright/st_experimental_audio_input_test/st_audio_input-default[light_theme-webkit].png
  e2e_playwright/st_experimental_audio_input_test/st_audio_input-disabled[dark_theme-chromium].png
  e2e_playwright/st_experimental_audio_input_test/st_audio_input-disabled[dark_theme-firefox].png
  e2e_playwright/st_experimental_audio_input_test/st_audio_input-disabled[dark_theme-webkit].png
  e2e_playwright/st_experimental_audio_input_test/st_audio_input-disabled[light_theme-chromium].png
  e2e_playwright/st_experimental_audio_input_test/st_audio_input-disabled[light_theme-firefox].png
  e2e_playwright/st_experimental_audio_input_test/st_audio_input-disabled[light_theme-webkit].png
  e2e_playwright/st_experimental_audio_input_test/st_audio_input-error_state[dark_theme-chromium].png
  e2e_playwright/st_experimental_audio_input_test/st_audio_input-error_state[light_theme-chromium].png
  e2e_playwright/st_experimental_audio_input_test/st_audio_input-label_visibility_disabled[dark_theme-chromium].png
  e2e_playwright/st_experimental_audio_input_test/st_audio_input-label_visibility_disabled[dark_theme-firefox].png
  e2e_playwright/st_experimental_audio_input_test/st_audio_input-label_visibility_disabled[dark_theme-webkit].png
  e2e_playwright/st_experimental_audio_input_test/st_audio_input-label_visibility_disabled[light_theme-chromium].png
  e2e_playwright/st_experimental_audio_input_test/st_audio_input-label_visibility_disabled[light_theme-firefox].png
  e2e_playwright/st_experimental_audio_input_test/st_audio_input-label_visibility_disabled[light_theme-webkit].png
  e2e_playwright/st_experimental_audio_input_test/st_audio_input-no_permission[dark_theme-webkit].png
  e2e_playwright/st_experimental_audio_input_test/st_audio_input-no_permission[light_theme-webkit].png
Due: none

add snapshots to correct location
  e2e_playwright/__snapshots__/linux/st_experimental_audio_input_test/st_audio_input-default[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_experimental_audio_input_test/st_audio_input-default[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_experimental_audio_input_test/st_audio_input-default[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_experimental_audio_input_test/st_audio_input-default[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_experimental_audio_input_test/st_audio_input-default[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_experimental_audio_input_test/st_audio_input-default[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_experimental_audio_input_test/st_audio_input-disabled[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_experimental_audio_input_test/st_audio_input-disabled[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_experimental_audio_input_test/st_audio_input-disabled[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_experimental_audio_input_test/st_audio_input-disabled[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_experimental_audio_input_test/st_audio_input-disabled[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_experimental_audio_input_test/st_audio_input-disabled[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_experimental_audio_input_test/st_audio_input-error_state[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_experimental_audio_input_test/st_audio_input-error_state[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_experimental_audio_input_test/st_audio_input-label_visibility_disabled[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_experimental_audio_input_test/st_audio_input-label_visibility_disabled[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_experimental_audio_input_test/st_audio_input-label_visibility_disabled[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_experimental_audio_input_test/st_audio_input-label_visibility_disabled[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_experimental_audio_input_test/st_audio_input-label_visibility_disabled[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_experimental_audio_input_test/st_audio_input-label_visibility_disabled[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_experimental_audio_input_test/st_audio_input-no_permission[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_experimental_audio_input_test/st_audio_input-no_permission[light_theme-webkit].png
Due: none

[chore] Modernize Maybe component (#9629)
  frontend/lib/src/components/core/Maybe/Maybe.test.tsx
  frontend/lib/src/components/core/Maybe/Maybe.tsx
Due: prettier, typecheck

Add improved implementation
  e2e_playwright/st_write_stream.py
  lib/streamlit/elements/write.py
  lib/streamlit/type_util.py
Due: no-relative-imports

show deprecation warning
  lib/streamlit/elements/widgets/audio_input.py
Due: no-relative-imports

remove `experimental_audio_input` from the list of mock elements
  lib/tests/streamlit/element_mocks.py
Due: no-relative-imports

fix pytest
  lib/tests/streamlit/element_mocks.py
  lib/tests/streamlit/runtime/caching/cache_data_api_test.py
  lib/tests/streamlit/runtime/caching/cache_resource_api_test.py
Due: no-relative-imports

add test to ensure we show deprecation warning for st.experimental_audio_input
  e2e_playwright/st_experimental_audio_input_test.py
Due: no-relative-imports

empty commit to trigger rerun
  lib/streamlit/elements/widgets/audio_input.py
Due: no-relative-imports

added server.customWatchPath as cli param to click and added all files under the folder to PathWatcher for the LocalSourcesWatcher
  lib/streamlit/config.py
  lib/streamlit/runtime/runtime.py
  lib/streamlit/watcher/event_based_path_watcher.py
  lib/streamlit/watcher/local_sources_watcher.py
  lib/tests/streamlit/watcher/local_sources_watcher_test.py
Due: no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:11303507984
  constraints-3.12.txt
Due: none

Improve snapshot process
  e2e_playwright/conftest.py
Due: no-relative-imports

Fix various hardcoded CSS props in lib - part 4 (#9643)
  e2e_playwright/__snapshots__/linux/st_multiselect_test/st_multiselect-11[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_multiselect_test/st_multiselect-11[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_multiselect_test/st_multiselect-dropdown_narrow_column[firefox].png
  frontend/lib/src/components/shared/Dropdown/Selectbox.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.tsx
  frontend/lib/src/components/widgets/Multiselect/Multiselect.tsx
  frontend/lib/src/components/widgets/NumberInput/NumberInput.tsx
  frontend/lib/src/components/widgets/TimeInput/TimeInput.tsx
  frontend/lib/src/theme/primitives/sizes.ts
Due: prettier, typecheck

Extend lint rule to also check the template string notation
  frontend/eslint-plugin-streamlit-custom/no-hardcoded-theme-values.js
  frontend/eslint-plugin-streamlit-custom/no-hardcoded-theme-values.test.js
  frontend/eslint-plugin-streamlit-custom/package.json
Due: prettier, typecheck

Add eslint rule to detect hardcoded values
  frontend/.eslintrc.js
  frontend/eslint-plugin-streamlit-custom/index.js
  frontend/eslint-plugin-streamlit-custom/no-hardcoded-theme-values.js
  frontend/eslint-plugin-streamlit-custom/no-hardcoded-theme-values.test.js
  frontend/eslint-plugin-streamlit-custom/package.json
  frontend/eslint-plugin-streamlit-custom/use-strict-null-equality-checks.js
  frontend/lib/package.json
  frontend/lib/src/util/Hooks.test.ts
  frontend/tsconfig.dev.json
  frontend/tsconfig.json
  frontend/yarn.lock
Due: prettier, typecheck

Allow 'em' unit after numbers
  frontend/eslint-plugin-streamlit-custom/no-hardcoded-theme-values.js
  frontend/eslint-plugin-streamlit-custom/no-hardcoded-theme-values.test.js
Due: prettier, typecheck

Allow negative & decimal numbers
  frontend/eslint-plugin-streamlit-custom/no-hardcoded-theme-values.js
  frontend/eslint-plugin-streamlit-custom/no-hardcoded-theme-values.test.js
Due: prettier, typecheck

Disallow fonts
  frontend/.eslintrc.js
  frontend/app/src/components/Countdown/styled-components.ts
  frontend/eslint-plugin-streamlit-custom/no-hardcoded-theme-values.js
  frontend/eslint-plugin-streamlit-custom/no-hardcoded-theme-values.test.js
Due: prettier, typecheck

Extend regex rule to match for example 'margin: 0 1em 2em 0'
  frontend/eslint-plugin-streamlit-custom/no-hardcoded-theme-values.js
  frontend/eslint-plugin-streamlit-custom/no-hardcoded-theme-values.test.js
Due: prettier, typecheck

Update frontend/.eslintrc.js
  frontend/.eslintrc.js
Due: prettier, typecheck

Ignore lint violations
  frontend/app/src/connection/WebsocketConnection.tsx
  frontend/lib/src/components/elements/ArrowVegaLiteChart/CustomTheme.tsx
  frontend/lib/src/components/elements/PlotlyChart/CustomTheme.tsx
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
  frontend/lib/src/components/shared/FullScreenWrapper/styled-components.ts
  frontend/lib/src/components/shared/Radio/Radio.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/styled-components.ts
  frontend/lib/src/components/widgets/AudioInput/styled-components.ts
Due: prettier, typecheck

Revert "Improve snapshot process"
  e2e_playwright/conftest.py
Due: no-relative-imports

Fix package dependencies
  frontend/lib/package.json
  frontend/yarn.lock
Due: none

Update conftest
  e2e_playwright/conftest.py
Due: no-relative-imports

Updating constraints. Github run id:11312137669
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.9.txt
Due: none

Allow st.feedbak has default as initial value (#9469)
  lib/streamlit/elements/widgets/button_group.py
Due: no-relative-imports

Fix vega theme
  frontend/lib/src/components/elements/ArrowVegaLiteChart/CustomTheme.tsx
Due: prettier, typecheck
