Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Updating constraints. Github run id:6399278221
  constraints-3.11.txt
  constraints-3.8.txt
Due: none

attempt to fix hostframe test
  frontend/hostframe.html
Due: none

attempt to fix hostframe test
  e2e/specs/hostframe.spec.js
Due: typecheck

Update column_config_utils.py (#7477)
  lib/streamlit/elements/lib/column_config_utils.py
Due: no-relative-imports

Updating constraints. Github run id:6399968309
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Fix & add tests
  frontend/lib/src/components/elements/Spinner/Spinner.test.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
  lib/tests/streamlit/spinner_test.py
Due: prettier, typecheck, no-relative-imports

Add a few more test cases
  frontend/lib/src/components/widgets/FileUploader/FileDropzoneInstructions.test.tsx
Due: prettier, typecheck

Avoid confusion about file extensions: keep inner dots (#7362)
  frontend/lib/src/components/widgets/FileUploader/FileDropzoneInstructions.test.tsx
  frontend/lib/src/components/widgets/FileUploader/FileDropzoneInstructions.tsx
Due: prettier, typecheck

Try removing potentially unneeded `type: ignore`s
  lib/streamlit/connections/snowpark_connection.py
Due: no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Update streamlit_callback_handler.py
  lib/streamlit/external/langchain/streamlit_callback_handler.py
Due: no-relative-imports

Remove outdated pandas version checks (#7480)
  lib/streamlit/components/v1/component_arrow.py
  lib/streamlit/elements/lib/pandas_styler_utils.py
  lib/tests/streamlit/elements/arrow_dataframe_test.py
  lib/tests/streamlit/elements/arrow_table_test.py
Due: no-relative-imports

Configure non-range indices as required for editing (#7481)
  lib/streamlit/elements/lib/column_config_utils.py
  lib/tests/streamlit/elements/lib/column_config_utils_test.py
Due: no-relative-imports

Readd line back
  e2e/specs/hostframe.spec.js
Due: typecheck

Add new snapshots
  frontend/cypress/snapshots/linux/2x/hostframe.spec.js/toolbarActions-after.snap.png
  frontend/cypress/snapshots/linux/2x/hostframe.spec.js/toolbarActions-before.snap.png
Due: none

Add better exception if styler cannot render df
  lib/streamlit/elements/lib/pandas_styler_utils.py
Due: no-relative-imports

add file_uploader playwright tests
  e2e_playwright/st_file_uploader.py
  e2e_playwright/st_file_uploader_test.py
Due: no-relative-imports

Revert change
  lib/streamlit/elements/lib/pandas_styler_utils.py
Due: no-relative-imports

Add test for styler maximum
  lib/tests/streamlit/elements/arrow_dataframe_test.py
Due: no-relative-imports

Add support for setting the display value
  e2e_playwright/st_dataframe_styler_support.py
  frontend/lib/src/components/widgets/DataFrame/arrowUtils.ts
  frontend/lib/src/components/widgets/DataFrame/columns/LinkColumn.ts
Due: prettier, typecheck, no-relative-imports

Some fixed to e2e test
  e2e_playwright/st_dataframe_styler_support.py
Due: no-relative-imports

Remove other offending snapshots
  e2e_playwright/__snapshots__/linux/st_date_input_test/date_input-single_date[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/date_input-single_date[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/date_input-single_date[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/date_input-single_date[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/date_input-single_date[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/date_input-single_date[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-clearable_input[chromium].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-clearable_input[firefox].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-clearable_input[webkit].png
Due: none

Add missing playwright snapshots
  e2e_playwright/__snapshots__/linux/st_date_input_test/date_input-single_date[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/date_input-single_date[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/date_input-single_date[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/date_input-single_date[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/date_input-single_date[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/date_input-single_date[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-clearable_input[chromium].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-clearable_input[firefox].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-clearable_input[webkit].png
  e2e_playwright/__snapshots__/linux/st_number_input_test/st_number_input-small_width[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_number_input_test/st_number_input-small_width[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_number_input_test/st_number_input-small_width[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_number_input_test/st_number_input-small_width[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_number_input_test/st_number_input-small_width[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_number_input_test/st_number_input-small_width[light_theme-webkit].png
Due: none

empty commit to trigger CI
  e2e_playwright/st_file_uploader_test.py
Due: no-relative-imports

Update playwright snapshots
  e2e_playwright/__snapshots__/linux/st_date_input_test/date_input-single_datetime[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/date_input-single_datetime[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/date_input-single_datetime[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/date_input-single_datetime[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/date_input-single_datetime[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/date_input-single_datetime[light_theme-webkit].png
Due: none

empty commit to trigger rerun
  e2e_playwright/st_file_uploader_test.py
Due: no-relative-imports

Fix unnecessary snapshots:
  e2e/specs/hostframe.spec.js
  frontend/cypress/snapshots/linux/2x/hostframe.spec.js/toolbarActions-before.snap.png
  frontend/cypress/snapshots/linux/2x/hostframe.spec.js/toolbarActions.snap.png
Due: typecheck

Fix test
  lib/tests/streamlit/type_util_test.py
Due: no-relative-imports

Minor fix
  lib/tests/streamlit/type_util_test.py
Due: no-relative-imports

Improve typing
  lib/streamlit/type_util.py
Due: no-relative-imports

Fix stringifying headers
  lib/streamlit/elements/widgets/data_editor.py
Due: no-relative-imports
