Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Fix: AppNode compatible w/o Event in RootContainer (#7053)
  frontend/lib/src/AppNode.ts
Due: prettier, typecheck

Update toast.py description of `body` parameter (#6997)
  lib/streamlit/elements/toast.py
Due: no-relative-imports

Dont use constraints files in python-min-deps.yml workflow in canary builds (#6919)
  .github/workflows/python-min-deps.yml
Due: none

Re-add homepage to package.json (#6987)
  frontend/app/package.json
Due: none

Allow setting placeholder for st.multiselect (#6901)
  e2e/scripts/st_multiselect.py
  e2e/specs/st_multiselect.spec.js
  frontend/lib/src/components/widgets/Multiselect/Multiselect.test.tsx
  frontend/lib/src/components/widgets/Multiselect/Multiselect.tsx
  lib/streamlit/elements/multiselect.py
  lib/tests/streamlit/elements/multiselect_test.py
  proto/streamlit/proto/MultiSelect.proto
Due: prettier, typecheck, no-relative-imports

Remove useless condition (#7005)
  frontend/app/src/connection/ConnectionManager.ts
Due: prettier, typecheck

Bump protobufjs to 7.2.4 (#7026)
  frontend/lib/package.json
  frontend/yarn.lock
Due: none

Re-enable Jest rules in ESLint (#7002)
  frontend/.eslintrc.js
  frontend/app/src/App.test.tsx
  frontend/app/src/components/AppView/AppView.test.tsx
  frontend/app/src/components/MainMenu/MainMenu.test.tsx
  frontend/app/src/components/StatusWidget/StatusWidget.test.tsx
  frontend/app/src/connection/WebsocketConnection.test.tsx
  frontend/app/src/hocs/withScreencast/components/ScreencastDialog/ScreencastDialog.test.tsx
  frontend/app/src/hocs/withScreencast/components/VideoRecordedDialog/VideoRecordedDialog.test.tsx
  frontend/lib/src/WidgetStateManager.test.ts
  frontend/lib/src/components/elements/Metric/Metric.test.tsx
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.test.tsx
  frontend/lib/src/components/elements/Tabs/Tabs.test.tsx
  frontend/lib/src/components/shared/BaseButton/BaseButton.test.tsx
  frontend/lib/src/components/shared/BaseColorPicker/BaseColorPicker.test.tsx
  frontend/lib/src/components/shared/Dropdown/Selectbox.test.tsx
  frontend/lib/src/components/shared/Tooltip/OverflowTooltip.test.tsx
  frontend/lib/src/components/widgets/CustomComponent/ComponentInstance.test.tsx
  frontend/lib/src/components/widgets/CustomComponent/ComponentRegistry.test.ts
  frontend/lib/src/components/widgets/DataFrame/Tooltip.test.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/DateTimeCell.test.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/utils.test.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useDataEditor.test.ts
  frontend/lib/src/components/widgets/FileUploader/FileUploader.test.tsx
  frontend/lib/src/components/widgets/FileUploader/UploadedFile.test.tsx
  frontend/lib/src/components/widgets/Form/FormSubmitButton.test.tsx
  frontend/lib/src/hocs/withMapboxToken/MapboxToken.test.ts
  frontend/lib/src/hocs/withMapboxToken/MapboxToken.ts
  frontend/lib/src/hostComm/HostCommunicationManager.test.tsx
  frontend/lib/src/theme/utils.test.ts
  frontend/lib/src/util/FileHelper.test.ts
Due: prettier, typecheck

Add support for latitude, longitude, color, and size args in st.map (#6896)
  e2e/scripts/st_map.py
  e2e/specs/st_map.spec.js
  frontend/cypress/snapshots/linux/2x/st_map.spec.js/stDeckGlJsonChart-complexMap-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_map.spec.js/stDeckGlJsonChart-complexMap.snap.png
  lib/streamlit/color_util.py
  lib/streamlit/elements/map.py
  lib/tests/streamlit/elements/map_test.py
Due: typecheck, no-relative-imports

Ignore iframe resizer anchor for apps with `st.chat_input` (#6992)
  e2e/specs/embedded_chat_input_app.js
  frontend/app/src/components/AppView/AppView.tsx
Due: prettier, typecheck

Fix UpdateVersion.py script to modify app and lib package.json (#7052)
  scripts/update_version.py
Due: no-relative-imports

add property in LibContext to remove fullScreenButton for widgets and elements (#7009)
  frontend/app/src/App.tsx
  frontend/app/src/StreamlitLib.test.tsx
  frontend/lib/src/components/core/LibContext.tsx
  frontend/lib/src/components/shared/FullScreenWrapper/FullScreenWrapper.test.tsx
  frontend/lib/src/components/shared/FullScreenWrapper/FullScreenWrapper.tsx
  frontend/lib/src/hocs/withFullScreenWrapper/withFullScreenWrapper.test.tsx
  frontend/lib/src/test_util.tsx
Due: prettier, typecheck

Create proper relative paths in the dist folder for js and ts code (#7028)
  .github/workflows/build-streamlit-lib-prod.yml
  Makefile
  frontend/lib/package.json
  frontend/lib/scripts/create.js
  frontend/lib/tsconfig.prod.json
  frontend/package.json
  frontend/yarn.lock
  scripts/ensure_relative_imports.sh
Due: prettier, typecheck

Allow conda build number to be set via envvar (#7029)
  lib/conda-recipe/meta.yaml
Due: none

Point out that editable columns cannot be styled via Pandas Styler (#6933)
  lib/streamlit/elements/data_editor.py
Due: no-relative-imports

Add ability to click enter on textInput, NumberInput, and TextArea when in st.form (#6911)
  frontend/lib/src/WidgetStateManager.test.ts
  frontend/lib/src/WidgetStateManager.ts
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/shared/InputInstructions/InputInstructions.test.tsx
  frontend/lib/src/components/shared/InputInstructions/InputInstructions.tsx
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
  frontend/lib/src/components/widgets/Checkbox/Checkbox.test.tsx
  frontend/lib/src/components/widgets/ColorPicker/ColorPicker.test.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
  frontend/lib/src/components/widgets/FileUploader/FileUploader.test.tsx
  frontend/lib/src/components/widgets/Form/FormSubmitButton.test.tsx
  frontend/lib/src/components/widgets/Form/FormSubmitButton.tsx
  frontend/lib/src/components/widgets/Multiselect/Multiselect.test.tsx
  frontend/lib/src/components/widgets/NumberInput/NumberInput.test.tsx
  frontend/lib/src/components/widgets/NumberInput/NumberInput.tsx
  frontend/lib/src/components/widgets/Radio/Radio.test.tsx
  frontend/lib/src/components/widgets/Selectbox/Selectbox.test.tsx
  frontend/lib/src/components/widgets/Slider/Slider.test.tsx
  frontend/lib/src/components/widgets/TextArea/TextArea.test.tsx
  frontend/lib/src/components/widgets/TextArea/TextArea.tsx
  frontend/lib/src/components/widgets/TextInput/TextInput.test.tsx
  frontend/lib/src/components/widgets/TextInput/TextInput.tsx
  frontend/lib/src/components/widgets/TimeInput/TimeInput.test.tsx
Due: prettier, typecheck

Remove unused import (#7006)
  lib/streamlit/elements/alert.py
Due: no-relative-imports

Allow setting placeholder for st.selectbox (#6913)
  frontend/lib/src/components/shared/Dropdown/Selectbox.test.tsx
  frontend/lib/src/components/shared/Dropdown/Selectbox.tsx
  frontend/lib/src/components/widgets/Selectbox/Selectbox.tsx
  lib/streamlit/elements/selectbox.py
  lib/tests/streamlit/elements/selectbox_test.py
  proto/streamlit/proto/Selectbox.proto
Due: prettier, typecheck, no-relative-imports

Fix overflow menu (#6994)
  frontend/app/src/components/MainMenu/MainMenu.tsx
  frontend/app/src/components/MainMenu/styled-components.ts
  frontend/cypress/snapshots/linux/2x/st_main_menu.spec.js/dev_main_menu-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_main_menu.spec.js/dev_main_menu.snap.png
  frontend/cypress/snapshots/linux/2x/st_main_menu.spec.js/main_menu-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_main_menu.spec.js/main_menu.snap.png
Due: prettier, typecheck

Update st.map docstring for color and size (#7014)
  lib/streamlit/elements/map.py
Due: no-relative-imports

Remove unnecessary code and Add rm commands to make clean (#6980)
  Makefile
  frontend/package.json
  scripts/watch_frontend_lib.py
Due: no-relative-imports

Add host communication e2e tests (#6806)
  e2e/scripts/hostframe/hostframe_app.py
  e2e/scripts/hostframe/pages/02_App_Page_2.py
  e2e/scripts/hostframe/pages/03_App_Page_3.py
  e2e/specs/hostframe.spec.js
  frontend/cypress/snapshots/linux/2x/hostframe.spec.js/theme-message-after.snap.png
  frontend/cypress/snapshots/linux/2x/hostframe.spec.js/theme-message-before.snap.png
  frontend/hostframe.html
  frontend/lib/src/hostComm/HostCommunicationManager.tsx
  frontend/lib/src/util/UriUtil.test.ts
  frontend/lib/src/util/UriUtil.ts
  lib/streamlit/web/server/routes.py
  lib/tests/streamlit/web/server/routes_test.py
  scripts/run_e2e_tests.py
Due: prettier, typecheck, no-relative-imports

Move widgets to their own submodule (#7042)
  lib/streamlit/delta_generator.py
  lib/streamlit/elements/widgets/__init__.py
  lib/streamlit/elements/widgets/button.py
  lib/streamlit/elements/widgets/camera_input.py
  lib/streamlit/elements/widgets/chat.py
  lib/streamlit/elements/widgets/checkbox.py
  lib/streamlit/elements/widgets/color_picker.py
  lib/streamlit/elements/widgets/data_editor.py
  lib/streamlit/elements/widgets/file_uploader.py
  lib/streamlit/elements/widgets/multiselect.py
  lib/streamlit/elements/widgets/number_input.py
  lib/streamlit/elements/widgets/radio.py
  lib/streamlit/elements/widgets/select_slider.py
  lib/streamlit/elements/widgets/selectbox.py
  lib/streamlit/elements/widgets/slider.py
  lib/streamlit/elements/widgets/text_widgets.py
  lib/streamlit/elements/widgets/time_widgets.py
  lib/streamlit/testing/element_tree.py
  lib/tests/streamlit/elements/chat_test.py
  lib/tests/streamlit/elements/data_editor_test.py
  lib/tests/streamlit/elements/file_uploader_test.py
  lib/tests/streamlit/elements/multiselect_test.py
  lib/tests/streamlit/form_test.py
  lib/tests/streamlit/runtime/state/session_state_test.py
Due: no-relative-imports

Fix `chat_input` enter submission for Chinese and Japanse (#6993)
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
  frontend/lib/src/components/widgets/TextArea/TextArea.tsx
Due: prettier, typecheck

Assorted visual tweaks (#7050)
  e2e/scripts/st_number_input.py
  e2e/specs/st_number_input.spec.js
  frontend/app/src/components/Sidebar/styled-components.ts
  frontend/app/src/components/StreamlitDialog/StreamlitDialog.tsx
  frontend/app/src/components/StreamlitDialog/styled-components.ts
  frontend/cypress/snapshots/linux/2x/modals.spec.js/about-dark.snap.png
  frontend/cypress/snapshots/linux/2x/modals.spec.js/about.snap.png
  frontend/cypress/snapshots/linux/2x/st_number_input.spec.js/number_input9-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_number_input.spec.js/number_input9.snap.png
  frontend/lib/src/components/widgets/NumberInput/NumberInput.test.tsx
  frontend/lib/src/components/widgets/NumberInput/NumberInput.tsx
  frontend/lib/src/theme/primitives/breakpoints.ts
Due: prettier, typecheck, no-relative-imports

Add `format` parameter to `date_input` (#6974)
  e2e/scripts/st_date_input.py
  e2e/specs/st_date_input.spec.js
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input10-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input10.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input11-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input11.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input8-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input8.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input9-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input9.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_11-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_11.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_8-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_8.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_9-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_9.snap.png
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.tsx
  lib/streamlit/elements/time_widgets.py
  lib/tests/streamlit/elements/date_input_test.py
  proto/streamlit/proto/DateInput.proto
Due: prettier, typecheck, no-relative-imports

Update docstrings for st.form, st.toast, st.date_input (#7043)
  lib/streamlit/elements/form.py
  lib/streamlit/elements/time_widgets.py
  lib/streamlit/elements/toast.py
Due: no-relative-imports

Update require-labels.yml to include changes to documentation (#7008)
  .github/workflows/require-labels.yml
Due: none

`USE_CONSTRAINT_FILE` should be plural constraints (#7059)
  .github/actions/build_info/action.yml
  .github/scripts/build_info.py
  .github/workflows/python-versions.yml
  .github/workflows/release-candidate.yml
  .github/workflows/release.yml
  Makefile
Due: no-relative-imports

Feature/root style provider (#7060)
  frontend/app/src/ThemedApp.tsx
  frontend/lib/src/RootStyleProvider.tsx
  frontend/lib/src/index.ts
Due: prettier, typecheck

Convert some FE Enzyme tests to RTL (#7067)
  frontend/lib/src/components/elements/Balloons/Balloons.test.tsx
  frontend/lib/src/components/elements/Particles/Particles.test.tsx
  frontend/lib/src/components/elements/Particles/Particles.tsx
  frontend/lib/src/components/elements/Snow/Snow.test.tsx
  frontend/lib/src/components/elements/Table/Table.test.tsx
  frontend/lib/src/components/shared/TooltipIcon/TooltipIcon.test.tsx
  frontend/lib/src/components/shared/TooltipIcon/TooltipIcon.tsx
Due: prettier, typecheck

Replace imghdr with pillow (#7081)
  lib/streamlit/elements/image.py
Due: no-relative-imports

Update feature request template (#7065)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/workflows/community-voting.yml
Due: none

Fix flaky playwright test (#7080)
  e2e/playwright/conftest.py
  e2e/playwright/st_checkbox_test.py
Due: no-relative-imports

Markdown support for radio button labels (#7018)
  e2e/scripts/st_radio.py
  e2e/specs/st_radio.spec.js
  frontend/cypress/snapshots/linux/2x/st_radio.spec.js/radio10-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_radio.spec.js/radio10.snap.png
  frontend/cypress/snapshots/linux/2x/st_radio.spec.js/radio8-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_radio.spec.js/radio8.snap.png
  frontend/cypress/snapshots/linux/2x/st_radio.spec.js/radio9-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_radio.spec.js/radio9.snap.png
  frontend/lib/src/components/shared/Radio/Radio.test.tsx
  frontend/lib/src/components/shared/Radio/Radio.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/styled-components.ts
  frontend/lib/src/components/widgets/Checkbox/Checkbox.tsx
  frontend/lib/src/components/widgets/Radio/Radio.test.tsx
Due: prettier, typecheck, no-relative-imports

Up version to 1.25.0 (#7051)
  frontend/package.json
  lib/setup.py
Due: no-relative-imports

Remove stale comments and group statements writing to protobufs (#7093)
  lib/streamlit/elements/widgets/button.py
  lib/streamlit/elements/widgets/camera_input.py
  lib/streamlit/elements/widgets/checkbox.py
  lib/streamlit/elements/widgets/color_picker.py
  lib/streamlit/elements/widgets/file_uploader.py
  lib/streamlit/elements/widgets/multiselect.py
  lib/streamlit/elements/widgets/number_input.py
  lib/streamlit/elements/widgets/radio.py
  lib/streamlit/elements/widgets/select_slider.py
  lib/streamlit/elements/widgets/selectbox.py
  lib/streamlit/elements/widgets/slider.py
  lib/streamlit/elements/widgets/text_widgets.py
  lib/streamlit/elements/widgets/time_widgets.py
Due: no-relative-imports

Don't build frontend assets when SNOWPARK_CONDA_BUILD=1 (#7103)
  Makefile
Due: none

Fix: Pass additional color specifications to charts (#7061)
  e2e/scripts/st_arrow_altair_chart.py
  frontend/cypress/snapshots/linux/2x/st_arrow_altair_chart.spec.js/altair_chart_4-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_altair_chart.spec.js/altair_chart_4.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_altair_chart.spec.js/altair_chart_5-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_altair_chart.spec.js/altair_chart_5.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_altair_chart.spec.js/altair_chart_6-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_altair_chart.spec.js/altair_chart_6.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_altair_chart.spec.js/altair_chart_7-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_altair_chart.spec.js/altair_chart_7.snap.png
  frontend/lib/src/components/elements/ArrowVegaLiteChart/CustomTheme.tsx
Due: prettier, typecheck, no-relative-imports
