Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

fix(auth): clear stale Tornado auth cookies after Starlette migration
  lib/streamlit/web/server/starlette/starlette_auth_routes.py
Due: no-relative-imports

refactor(auth): optimize stale cookie cleanup and handle encode errors
  lib/streamlit/web/server/starlette/starlette_auth_routes.py
Due: no-relative-imports

Break import cycle via shared leaf module for ctx attr name
  lib/streamlit/runtime/parallel_coordinator.py
  lib/streamlit/runtime/scriptrunner_utils/script_run_context.py
  lib/streamlit/runtime/scriptrunner_utils/script_run_context_attr.py
Due: no-relative-imports

docs: revise outside-container writes spec to use transparent block
  outside-container-writes-tech-spec.md
Due: none

docs: add tech spec for outside container writes cursor management
  outside-container-writes-tech-spec.md
Due: none

Address review: fix dispatch docstring, pin attr re-export
  lib/streamlit/runtime/fragment.py
  lib/tests/streamlit/runtime/scriptrunner_utils/script_run_context_test.py
Due: no-relative-imports

Use frozenset for cached_message_hashes
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/scriptrunner_utils/script_requests.py
  lib/streamlit/runtime/scriptrunner_utils/script_run_context.py
  lib/tests/streamlit/commands/execution_control_test.py
  lib/tests/streamlit/runtime/scriptrunner_utils/script_run_context_test.py
Due: no-relative-imports

Extract shared mutable state into SharedRunState
  lib/streamlit/components/v2/presentation.py
  lib/streamlit/elements/form.py
  lib/streamlit/elements/lib/utils.py
  lib/streamlit/runtime/fragment.py
  lib/streamlit/runtime/metrics_util.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/streamlit/runtime/scriptrunner_utils/script_run_context.py
  lib/streamlit/runtime/scriptrunner_utils/shared_run_state.py
  lib/streamlit/runtime/state/session_state.py
  lib/streamlit/testing/v1/local_script_runner.py
Due: no-relative-imports

Migrate tests to ctx.shared and add SharedRunState tests
  lib/tests/streamlit/components/v2/test_bidi_component.py
  lib/tests/streamlit/components/v2/test_bidi_presentation.py
  lib/tests/streamlit/components_test.py
  lib/tests/streamlit/delta_generator_test.py
  lib/tests/streamlit/elements/lib/utils_test.py
  lib/tests/streamlit/runtime/caching/common_cache_test.py
  lib/tests/streamlit/runtime/fragment_test.py
  lib/tests/streamlit/runtime/metrics_util_test.py
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
  lib/tests/streamlit/runtime/scriptrunner_utils/script_run_context_test.py
  lib/tests/streamlit/runtime/scriptrunner_utils/shared_run_state_test.py
  lib/tests/streamlit/runtime/scriptrunner_utils/thread_safe_set_test.py
  lib/tests/streamlit/runtime/state/session_state_test.py
Due: no-relative-imports

docs: revise outside container writes tech spec
  outside-container-writes-tech-spec.md
  specs/2026-06-03-outside-container-writes/tech-spec.md
Due: none

Address button column review comments
  frontend/lib/src/components/widgets/DataFrame/hooks/useDataExporter.test.ts
  frontend/lib/src/components/widgets/DataFrame/menus/ButtonActionMenu.test.tsx
  lib/tests/streamlit/elements/lib/column_config_utils_test.py
  proto/streamlit/proto/Dataframe.proto
Due: prettier, typecheck, no-relative-imports

Fix ty 0.0.40 false positive in cache_utils
  lib/streamlit/runtime/caching/cache_utils.py
Due: no-relative-imports

Remove now-unused clear_cookie_and_chunks helper
  lib/streamlit/auth_util.py
  lib/tests/streamlit/auth_util_test.py
Due: no-relative-imports

Dedupe frontend/yarn.lock
  frontend/yarn.lock
Due: none

Show dataframe session state in e2e app
  e2e_playwright/st_dataframe_config.py
Due: no-relative-imports

Close button action menu on dataframe clicks
  frontend/lib/src/components/widgets/DataFrame/hooks/useButtonColumnInteractions.test.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useButtonColumnInteractions.ts
Due: prettier, typecheck

[spec] Per-user app analytics on the metrics endpoint
  specs/2026-06-06-user-analytics-metrics/product-spec.md
  specs/2026-06-06-user-analytics-metrics/tech-spec.md
Due: none

chore: regenerate NOTICES after develop merge
  NOTICES
Due: none

Address button column review feedback
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
  frontend/lib/src/components/widgets/DataFrame/hooks/useButtonColumnInteractions.test.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useButtonColumnInteractions.ts
  lib/streamlit/elements/lib/column_config_utils.py
  lib/tests/streamlit/elements/arrow_dataframe_test.py
Due: prettier, typecheck, no-relative-imports

[spec] Address review feedback on user-analytics-metrics spec
  specs/2026-06-06-user-analytics-metrics/product-spec.md
  specs/2026-06-06-user-analytics-metrics/tech-spec.md
Due: none

Add typing test for st.pyplot
  lib/tests/streamlit/typing/pyplot_types.py
Due: no-relative-imports

test: add invalid-usage type checks for st.pyplot typing test
  lib/tests/streamlit/typing/pyplot_types.py
Due: no-relative-imports

[spec] Address second-pass review on user-analytics-metrics spec
  specs/2026-06-06-user-analytics-metrics/product-spec.md
  specs/2026-06-06-user-analytics-metrics/tech-spec.md
Due: none

[spec] Clarify metricsUserAttributes is startup-only, not runtime-toggled
  specs/2026-06-06-user-analytics-metrics/product-spec.md
  specs/2026-06-06-user-analytics-metrics/tech-spec.md
Due: none

Update
  specs/2026-06-06-user-analytics-metrics/product-spec.md
  specs/2026-06-06-user-analytics-metrics/tech-spec.md
Due: none

Fixes
  e2e_playwright/custom_components/pdf_component_test.py
  e2e_playwright/multipage_apps/mpa_basics_test.py
  e2e_playwright/multipage_apps_v2/mpa_v2_basics_test.py
  e2e_playwright/st_slider_test.py
  frontend/lib/src/components/widgets/Slider/Slider.tsx
Due: prettier, typecheck, no-relative-imports

First pass
  frontend/lib/src/components/widgets/Slider/Slider.test.tsx
  frontend/lib/src/components/widgets/Slider/Slider.tsx
  frontend/lib/src/components/widgets/Slider/styled-components.ts
Due: prettier, typecheck

Fix slider positioning & e2e tests
  e2e_playwright/multipage_apps/mpa_basics_test.py
  frontend/lib/src/components/widgets/Slider/Slider.tsx
  frontend/lib/src/components/widgets/Slider/styled-components.ts
Due: prettier, typecheck, no-relative-imports

Clean up & test fixes
  e2e_playwright/custom_components/pdf_component_test.py
  frontend/lib/src/components/widgets/Slider/Slider.tsx
Due: prettier, typecheck, no-relative-imports

Fix RST in text status elements
  lib/streamlit/elements/alert.py
Due: no-relative-imports

Address recommendations
  frontend/lib/src/components/widgets/Slider/Slider.test.tsx
  frontend/lib/src/components/widgets/Slider/Slider.tsx
Due: prettier, typecheck

First pass
  e2e_playwright/shared/app_utils.py
  e2e_playwright/st_selectbox_test.py
  frontend/lib/src/components/shared/Dropdown/Selectbox.styled.ts
  frontend/lib/src/components/shared/Dropdown/Selectbox.test.tsx
  frontend/lib/src/components/shared/Dropdown/Selectbox.tsx
  frontend/lib/src/components/widgets/Selectbox/Selectbox.test.tsx
  frontend/vitest.setup.ts
Due: prettier, typecheck, no-relative-imports

Fixes
  frontend/lib/src/components/shared/Dropdown/Selectbox.styled.ts
  frontend/lib/src/components/shared/Dropdown/Selectbox.test.tsx
  frontend/lib/src/components/shared/Dropdown/Selectbox.tsx
Due: prettier, typecheck

e2e test fixes & cleanup
  e2e_playwright/mega_tester_app_test.py
  e2e_playwright/st_pydeck_chart_select_test.py
  frontend/lib/src/components/shared/Dropdown/Selectbox.tsx
Due: prettier, typecheck, no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/pyproject.toml
  lib/streamlit/version.py
  pyproject.toml
Due: no-relative-imports

Style fixes
  frontend/lib/src/components/shared/Dropdown/Selectbox.styled.ts
  frontend/lib/src/components/shared/Dropdown/Selectbox.tsx
Due: prettier, typecheck

Update
  e2e_playwright/__snapshots__/linux/st_slider_test/st_slider-float_formatting[chromium].png
  frontend/lib/src/components/widgets/Slider/Slider.tsx
Due: prettier, typecheck

Fix flaky snap
  e2e_playwright/st_slider_test.py
  frontend/lib/src/components/widgets/Slider/Slider.tsx
Due: prettier, typecheck, no-relative-imports
