Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Update README.md
  README.md
Due: none

Snapshots added
  frontend/cypress/snapshots/linux/2x/st_main_menu.spec.js/dev_main_menu-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_main_menu.spec.js/dev_main_menu.snap.png
  frontend/cypress/snapshots/linux/2x/st_main_menu.spec.js/main_menu-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_main_menu.spec.js/main_menu.snap.png
Due: none

up version to 1.18.0 (#6090)
  frontend/package.json
  lib/setup.py
Due: no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Remove default URL values where it doesn't make sense to keep them.
  frontend/src/components/core/MainMenu/MainMenu.tsx
  frontend/src/urls.ts
Due: prettier, typecheck, eslint

fixup! fixup! Refactor st.code to be markdown independent
  frontend/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/src/components/elements/CodeBlock/StreamlitSyntaxHighlighter.test.tsx
  frontend/src/components/elements/CodeBlock/StreamlitSyntaxHighlighter.tsx
  frontend/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
  frontend/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
  proto/streamlit/proto/Element.proto
Due: prettier, typecheck, eslint

Downgrade decamelize to avoid Safari break
  frontend/package.json
  frontend/yarn.lock
Due: none

Update NOTICES
  NOTICES
Due: none

implement get_stats for default cache storage
  lib/streamlit/runtime/caching/cache_data_api.py
  lib/streamlit/runtime/caching/storage/cache_storage.py
  lib/streamlit/runtime/caching/storage/cache_storage_protocol.py
Due: no-relative-imports

Split up column loader
  frontend/src/components/widgets/DataFrame/DataFrame.tsx
  frontend/src/components/widgets/DataFrame/EditingState.ts
  frontend/src/components/widgets/DataFrame/hooks/index.ts
  frontend/src/components/widgets/DataFrame/hooks/useColumnLoader.test.ts
  frontend/src/components/widgets/DataFrame/hooks/useColumnLoader.ts
  frontend/src/components/widgets/DataFrame/hooks/useDataLoader.test.ts
  frontend/src/components/widgets/DataFrame/hooks/useDataLoader.ts
Due: prettier, typecheck, eslint

Use grey when background color is yellow
  frontend/src/components/widgets/DataFrame/arrowUtils.ts
Due: prettier, typecheck, eslint

Add test
  frontend/src/components/widgets/DataFrame/arrowUtils.test.ts
Due: prettier, typecheck, eslint

fixup! fixup! fixup! Refactor st.code to be markdown independent
  lib/tests/streamlit/elements/code_test.py
  lib/tests/streamlit/elements/echo_test.py
Due: no-relative-imports

Added or modified tests are now migrated to the React Testing Libary as agreed.
  frontend/src/components/core/MainMenu/MainMenu.test.tsx
Due: prettier, typecheck, eslint

Add TODO comment
  lib/streamlit/runtime/caching/cache_data_api.py
Due: no-relative-imports

Check availability of local storage
  frontend/src/components/core/Sidebar/Sidebar.tsx
  frontend/src/lib/storageUtils.test.ts
  frontend/src/lib/storageUtils.ts
  frontend/src/theme/utils.test.ts
  frontend/src/theme/utils.ts
Due: prettier, typecheck, eslint

Add sfc-gh-mnowotka as a protobuf CODEOWNER (#6069)
  .github/CODEOWNERS
Due: none

Downgrade decamelize to avoid Safari break (#6094)
  NOTICES
  frontend/package.json
  frontend/yarn.lock
Due: none

Check availability of local storage (#6100)
  frontend/src/components/core/Sidebar/Sidebar.tsx
  frontend/src/lib/storageUtils.test.ts
  frontend/src/lib/storageUtils.ts
  frontend/src/theme/utils.test.ts
  frontend/src/theme/utils.ts
Due: prettier, typecheck, eslint

Remove snapshot
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_styler_support.spec.js/dataframe-pd-styler-1-dark.snap.png
Due: none

Up version to 1.18.1
  frontend/package.json
  lib/setup.py
Due: no-relative-imports

Comments
  lib/tests/streamlit/elements/help_test.py
  lib/tests/streamlit/write_test.py
Due: no-relative-imports

Prettify tests.
  lib/tests/streamlit/elements/help_test.py
Due: no-relative-imports

Remove shared Radio
  frontend/src/components/shared/Radio/Radio.test.tsx
  frontend/src/components/shared/Radio/Radio.tsx
  frontend/src/components/shared/Radio/index.tsx
  frontend/src/components/widgets/Radio/Radio.test.tsx
  frontend/src/components/widgets/Radio/Radio.tsx
Due: prettier, typecheck, eslint

Only return first line of multiline, and add more tests
  lib/streamlit/elements/doc_string.py
  lib/tests/streamlit/elements/help_test.py
Due: no-relative-imports

Fix st.help header overflow when narrow.
  frontend/src/components/elements/DocString/styled-components.ts
Due: prettier, typecheck, eslint

Update snapshots
  frontend/cypress/snapshots/linux/2x/st_help.spec.js/help-2-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_help.spec.js/help-2.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart1-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart1.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart11-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart11.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart12-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart12.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart13-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart13.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart2-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart2.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart4-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart4.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart5-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart5.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart8-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart8.snap.png
Due: none

Rework no option condition
  frontend/src/components/widgets/Radio/Radio.tsx
Due: prettier, typecheck, eslint

Add updated snapshot
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_styler_support.spec.js/dataframe-pd-styler-1-dark.snap.png
Due: none

Remove column type scripts
  e2e/scripts/st_data_editor_column_types.py
  e2e/specs/st_data_editor_column_types.spec.js
Due: typecheck, no-relative-imports

Formatting fix
  frontend/src/lib/Quiver.ts
Due: prettier, typecheck, eslint

Improve readability of styled cells in dark mode (#6098)
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_styler_support.spec.js/dataframe-pd-styler-1-dark.snap.png
  frontend/src/components/widgets/DataFrame/arrowUtils.test.ts
  frontend/src/components/widgets/DataFrame/arrowUtils.ts
Due: prettier, typecheck, eslint

Update repo's README (#6016)
  README.md
Due: none

remove unused WORK_WITH_PERSIST_KEYWORD from protocol
  lib/streamlit/runtime/caching/storage/cache_storage.py
  lib/streamlit/runtime/caching/storage/cache_storage_protocol.py
Due: no-relative-imports
