Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

fix: add eslint-disable for clientWidth access in ResizeObserver callback
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
Due: prettier, typecheck

Fix chat input alignment and reduce height
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
  frontend/lib/src/components/widgets/ChatInput/styled-components.ts
Due: prettier, typecheck

fix: inline waveform layout and file upload button
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
  frontend/lib/src/components/widgets/ChatInput/fileUpload/ChatFileUploadButton.tsx
  frontend/lib/src/components/widgets/ChatInput/styled-components.ts
Due: prettier, typecheck

refactor: use CSS-only layout switching to preserve focus on transition
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
  frontend/lib/src/components/widgets/ChatInput/styled-components.ts
Due: prettier, typecheck

fix: audio recording alignment and add regression tests
  e2e_playwright/st_chat_input_test.py
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
Due: prettier, typecheck, no-relative-imports

Fix auto-focus on page load in chat input
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
Due: prettier, typecheck

fix: improve focus handling and e2e test efficiency for dynamic layout
  e2e_playwright/st_chat_input_test.py
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
Due: prettier, typecheck, no-relative-imports

perf: reuse canvas element for text measurement instead of creating new one per keystroke
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
Due: prettier, typecheck

refactor: remove unnecessary canvas cleanup effect
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
Due: prettier, typecheck

fix: correct eslint-disable placement for clientWidth access
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
Due: prettier, typecheck

maybe a flake got erroneously committed in the snaps batch?
  e2e_playwright/__snapshots__/linux/theme_chart_colors_test/custom_chart_colors-sidebar[chromium].png
Due: none

fix: replace setTimeout with useLayoutEffect for textarea measurement
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
Due: prettier, typecheck

merge: incorporate dropzone reset fix from #13556
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
Due: prettier, typecheck

fix: ensure layout measurements are computed before stacked mode check
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
Due: prettier, typecheck

Sort
  .ruff.toml
Due: none

Don't sync default values
  frontend/lib/src/WidgetStateManager.ts
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.tsx
  frontend/lib/src/components/widgets/Checkbox/Checkbox.tsx
  frontend/lib/src/components/widgets/ColorPicker/ColorPicker.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.tsx
  frontend/lib/src/components/widgets/DateTimeInput/DateTimeInput.tsx
  frontend/lib/src/components/widgets/Multiselect/Multiselect.tsx
  frontend/lib/src/components/widgets/NumberInput/NumberInput.tsx
  frontend/lib/src/components/widgets/Radio/Radio.tsx
  frontend/lib/src/components/widgets/Selectbox/Selectbox.tsx
  frontend/lib/src/components/widgets/Slider/Slider.tsx
  frontend/lib/src/components/widgets/TextArea/TextArea.tsx
  frontend/lib/src/components/widgets/TextInput/TextInput.tsx
  frontend/lib/src/components/widgets/TimeInput/TimeInput.tsx
  frontend/lib/src/hooks/useQueryParamBinding.ts
Due: prettier, typecheck

Fix
  .ruff.toml
Due: none

Update
  .ruff.toml
Due: none

Ignore instead of select
  .pre-commit-config.yaml
  .ruff.toml
  lib/dev-requirements.txt
  lib/tests/streamlit/git_util_test.py
Due: no-relative-imports

Update
  .ruff.toml
  e2e_playwright/conftest.py
  lib/streamlit/components/v2/bidi_component/main.py
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/stats.py
  lib/streamlit/web/server/starlette/starlette_routes.py
  lib/streamlit/web/server/stats_request_handler.py
Due: no-relative-imports

Fix MPA entry point behavior
  frontend/app/src/App.tsx
  frontend/lib/src/hooks/useQueryParamBinding.ts
  lib/streamlit/commands/execution_control.py
  lib/streamlit/runtime/scriptrunner_utils/script_run_context.py
  lib/streamlit/runtime/state/query_params.py
  lib/streamlit/runtime/state/widgets.py
Due: prettier, typecheck, no-relative-imports

Fix
  lib/streamlit/errors.py
Due: no-relative-imports

Update
  lib/streamlit/errors.py
Due: no-relative-imports

Fix
  .ruff.toml
  lib/streamlit/elements/lib/image_utils.py
Due: no-relative-imports

Add comment
  lib/streamlit/dataframe_util.py
Due: no-relative-imports

Fix conditional widgets & cleanup
  frontend/lib/src/components/widgets/Slider/Slider.tsx
  frontend/lib/src/hooks/useQueryParamBinding.ts
  lib/streamlit/runtime/state/query_params.py
  lib/streamlit/runtime/state/session_state.py
Due: prettier, typecheck, no-relative-imports

Fix list indent
  lib/streamlit/elements/metric.py
Due: no-relative-imports

Fix invalid dates allowed via URL
  lib/streamlit/elements/widgets/time_widgets.py
Due: no-relative-imports

Raise error when attempting bidn to embed params
  lib/streamlit/runtime/state/query_params.py
Due: no-relative-imports

Handle conflict between st.query_params and bound widgets
  lib/streamlit/runtime/state/query_params.py
Due: no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

[chore] Update Browserslist DB
  frontend/yarn.lock
Due: none

Fix selectbox
  lib/streamlit/runtime/state/widgets.py
Due: no-relative-imports

Cache scope
  lib/streamlit/runtime/caching/cache_data_api.py
  lib/streamlit/runtime/caching/cache_resource_api.py
Due: no-relative-imports

Fix date default udpate
  lib/streamlit/elements/widgets/time_widgets.py
Due: no-relative-imports

Custom component optional content
  lib/streamlit/components/v2/__init__.py
Due: no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
