Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

docs: refine widget navigation API summaries
  lib/streamlit/.agents/skills/developing-with-streamlit/references/api-reference.md
Due: none

docs: refine API reference command summaries
  lib/streamlit/.agents/skills/developing-with-streamlit/references/api-reference.md
Due: none

docs: clarify API reference object terminology
  lib/streamlit/.agents/skills/developing-with-streamlit/references/api-reference.md
Due: none

Add CI job testing against latest numpy
  .github/workflows/python-tests.yml
  lib/pyproject.toml
  pyproject.toml
Due: none

docs: address api reference review comments
  lib/streamlit/web/cli.py
  lib/tests/streamlit/streamlit_test.py
  lib/tests/streamlit/web/cli_test.py
Due: no-relative-imports

Fix merge fallout: dedupe lib tests and de-flake form e2e test
  e2e_playwright/st_fragment_basics_test.py
  lib/tests/streamlit/delta_generator_test.py
Due: no-relative-imports

[docs] AI-assisted documentation updates
  AGENTS.md
Due: none

Test latest numpy in existing unit-test jobs
  .github/workflows/python-tests.yml
  pyproject.toml
Due: none

docs: address data editor spec feedback
  specs/2026-05-13-data-editor-apply-edits/product-spec.md
  specs/2026-05-13-data-editor-dynamic-data/tech-spec.md
Due: none

Replace weak parallel cross-container test with root-encoding invariant
  lib/tests/streamlit/delta_generator_test.py
Due: no-relative-imports

Drop redundant pyproject comment to preserve CI venv cache
  pyproject.toml
Due: none

Apply ruff format to delta_generator_test.py
  lib/tests/streamlit/delta_generator_test.py
Due: no-relative-imports

docs: add lazy fragment (st.fragment(lazy=True)) implementation feasibility analysis
  lazy-fragment-implementation-analysis.md
Due: none

Preserve incoming_serialized_value through enum coercion to cover Enum selectboxes
  lib/streamlit/elements/lib/options_selector_utils.py
  lib/tests/streamlit/elements/lib/options_selector_utils_test.py
  lib/tests/streamlit/elements/selectbox_test.py
Due: no-relative-imports

fix(testing): resolve from_file() relative paths against caller's directory (#8154)
  lib/streamlit/testing/v1/app_test.py
Due: no-relative-imports

Rename submit_mode values and track run scope per submission
  e2e_playwright/st_chat_input.py
  e2e_playwright/st_chat_input_test.py
  frontend/app/src/App.tsx
  frontend/app/src/components/StreamlitContextProvider.tsx
  frontend/lib/src/components/core/ScriptRunContext.tsx
  frontend/lib/src/components/widgets/ChatInput/ChatInput.test.tsx
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
  frontend/lib/src/test_util.tsx
  lib/streamlit/.agents/skills/developing-with-streamlit/references/chat-ui.md
  lib/streamlit/elements/widgets/chat.py
  lib/tests/streamlit/elements/chat_test.py
  lib/tests/streamlit/typing/chat_input_types.py
  proto/streamlit/proto/ChatInput.proto
Due: prettier, typecheck, no-relative-imports

Apply automatic fixes
  .cursor/rules/overview.mdc
  .github/copilot-instructions.md
Due: none

Update snaps
  e2e_playwright/__snapshots__/linux/st_json_test/st_json-path_tooltip[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_json_test/st_json-path_tooltip[light_theme-chromium].png
Due: none

First pass
  frontend/lib/src/components/elements/Json/JsonPathTooltip.test.tsx
  frontend/lib/src/components/elements/Json/JsonPathTooltip.tsx
  frontend/lib/src/components/elements/Json/styled-components.ts
Due: prettier, typecheck

Address feedback
  frontend/lib/src/components/elements/Json/JsonPathTooltip.test.tsx
  frontend/lib/src/components/elements/Json/JsonPathTooltip.tsx
Due: prettier, typecheck

Make chat input submit_mode running state robust to run timing
  frontend/lib/src/components/widgets/ChatInput/ChatInput.test.tsx
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
Due: prettier, typecheck

Restore chat input focus after submit_mode run completes
  frontend/lib/src/components/widgets/ChatInput/ChatInput.test.tsx
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
Due: prettier, typecheck

First pass
  frontend/app/package.json
  frontend/app/src/components/Navigation/TopNavSection.tsx
  frontend/app/src/components/Navigation/styled-components.ts
  frontend/lib/src/index.ts
  frontend/yarn.lock
Due: prettier, typecheck

Address feedback
  frontend/app/src/components/Navigation/TopNavSection.tsx
  frontend/app/src/components/Navigation/styled-components.ts
Due: prettier, typecheck

Fix & add tests
  e2e_playwright/multipage_apps_v2/mpa_v2_top_nav_test.py
  frontend/app/src/components/AppView/AppView.test.tsx
Due: prettier, typecheck, no-relative-imports

First pass
  frontend/lib/src/components/shared/BaseColorPicker/BaseColorPicker.test.tsx
  frontend/lib/src/components/shared/BaseColorPicker/BaseColorPicker.tsx
  frontend/lib/src/components/shared/BaseColorPicker/styled-components.ts
Due: prettier, typecheck

Add autofocus
  frontend/lib/src/components/shared/BaseColorPicker/BaseColorPicker.tsx
Due: prettier, typecheck

Update snaps
  e2e_playwright/__snapshots__/linux/st_color_picker_test/st_color_picker-popover[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_color_picker_test/st_color_picker-popover[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_color_picker_test/st_color_picker-popover[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_color_picker_test/st_color_picker-popover[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_color_picker_test/st_color_picker-popover[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_color_picker_test/st_color_picker-popover[light_theme-webkit].png
Due: none

Test fixes & snapshot updates
  e2e_playwright/__snapshots__/linux/st_color_picker_test/st_color_picker-popover[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_color_picker_test/st_color_picker-popover[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_color_picker_test/st_color_picker-popover[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_color_picker_test/st_color_picker-popover[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_color_picker_test/st_color_picker-popover[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_color_picker_test/st_color_picker-popover[light_theme-webkit].png
  e2e_playwright/st_color_picker_test.py
  e2e_playwright/st_fragment_basics_test.py
Due: no-relative-imports

Address feedback
  frontend/lib/src/components/shared/BaseColorPicker/BaseColorPicker.test.tsx
  frontend/lib/src/components/shared/BaseColorPicker/BaseColorPicker.tsx
Due: prettier, typecheck

Address greptile concern
  frontend/lib/src/components/shared/BaseColorPicker/BaseColorPicker.test.tsx
  frontend/lib/src/components/shared/BaseColorPicker/BaseColorPicker.tsx
Due: prettier, typecheck

First pass
  e2e_playwright/help_tooltip_test.py
  e2e_playwright/st_audio_input_test.py
  e2e_playwright/st_button_test.py
  e2e_playwright/st_markdown_test.py
  e2e_playwright/st_metric_test.py
  e2e_playwright/st_page_link_test.py
  frontend/lib/src/components/shared/Tooltip/OverflowTooltip.test.tsx
  frontend/lib/src/components/shared/Tooltip/Tooltip.test.tsx
  frontend/lib/src/components/shared/Tooltip/Tooltip.tsx
  frontend/lib/src/components/shared/Tooltip/styled-components.tsx
  frontend/lib/src/components/shared/Tooltip/useTooltipMeasurementSideEffect.test.tsx
  frontend/lib/src/components/shared/Tooltip/useTooltipMeasurementSideEffect.ts
  frontend/lib/src/components/shared/TooltipIcon/TooltipIcon.test.tsx
Due: prettier, typecheck, no-relative-imports

Add unit test fixes
  frontend/lib/src/components/core/Block/ElementNodeRenderer.test.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/Heading.test.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
  frontend/lib/src/components/shared/Tooltip/Tooltip.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
  frontend/lib/src/components/widgets/DateTimeInput/DateTimeInput.test.tsx
  frontend/vitest.setup.ts
Due: prettier, typecheck

Add fix for e2e tests
  e2e_playwright/st_date_input_test.py
  e2e_playwright/st_download_button_test.py
  e2e_playwright/st_form_test.py
  e2e_playwright/st_menu_button_test.py
  e2e_playwright/st_popover_test.py
Due: no-relative-imports

Integrate overlay z index
  frontend/lib/src/components/shared/Tooltip/styled-components.tsx
Due: prettier, typecheck

Refactor
  frontend/lib/src/components/shared/Tooltip/Tooltip.tsx
  frontend/lib/src/components/shared/Tooltip/styled-components.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/MarkdownCell.tsx
Due: prettier, typecheck

Fix event propogation
  frontend/lib/src/components/shared/Tooltip/Tooltip.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/MarkdownCell.tsx
Due: prettier, typecheck

Fix placement
  frontend/lib/src/components/shared/Tooltip/Tooltip.tsx
Due: prettier, typecheck

Update snaps
  e2e_playwright/__snapshots__/linux/st_button_test/st_button-help_button[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_button_test/st_button-help_button[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_interactions_test/st_dataframe-toolbar_hover_search[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_interactions_test/st_dataframe-toolbar_hover_search[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-range_date_input_error[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-range_date_input_error[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-range_date_input_error[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-range_date_input_error[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-range_date_input_error[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-range_date_input_error[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-single_date_error[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-single_date_error[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-single_date_error[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-single_date_error[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-single_date_error[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-single_date_error[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-complex_tooltip_with_markdown_formatting[chromium].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-complex_tooltip_with_markdown_formatting[firefox].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-complex_tooltip_with_markdown_formatting[webkit].png
  e2e_playwright/__snapshots__/linux/st_metric_test/st_metric-code_in_help[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_metric_test/st_metric-code_in_help[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_metric_test/st_metric-code_in_help[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_metric_test/st_metric-code_in_help[light_theme-webkit].png
Due: none

Address feedback P2
  frontend/lib/src/components/shared/Tooltip/Tooltip.test.tsx
  frontend/lib/src/components/shared/Tooltip/Tooltip.tsx
  frontend/vitest.setup.ts
Due: prettier, typecheck
