Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

[e2e] Skip webkit shortcut tests for Playwright 1.59 compatibility
  e2e_playwright/st_button_test.py
  e2e_playwright/st_form_test.py
Due: no-relative-imports

[snapshots] Update webkit snapshots for Playwright 1.59
  e2e_playwright/__snapshots__/linux/st_chat_message_test/st_chat_message-message_with_cat_path_avatar[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_chat_message_test/st_chat_message-message_with_cat_path_avatar[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_chat_message_test/st_chat_message-message_with_cat_str_path_avatar[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_chat_message_test/st_chat_message-message_with_cat_str_path_avatar[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_selections_test/st_dataframe-multi_row_multi_column_selection[webkit].png
Due: none

chore(deps): Update protobufjs to 8.0.3 and protobufjs-cli to 2.0.3
  frontend/lib/package.json
  frontend/yarn.lock
Due: none

Update print statement from 'Hello' to 'Goodbye'
  specs/tech-specs/frontend-performance-improvements.md
Due: none

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/custom_url_base_test/custom_theme_with_url_base[firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_selections_test/st_dataframe-multi_row_multi_column_selection[webkit].png
Due: none

Apply automatic fixes
  NOTICES
Due: none

chore: Update NOTICES for protobufjs 8.0.3
  NOTICES
Due: none

refactor: Move element hash memo tests into dedicated element test files
  e2e_playwright/st_balloons.py
  e2e_playwright/st_balloons_test.py
  e2e_playwright/st_element_hash_memo.py
  e2e_playwright/st_element_hash_memo_test.py
  e2e_playwright/st_slider.py
  e2e_playwright/st_slider_test.py
  e2e_playwright/st_spinner_test.py
  e2e_playwright/st_text_input.py
  e2e_playwright/st_text_input_test.py
Due: no-relative-imports

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/st_chat_message_test/st_chat_message-message_with_cat_path_avatar[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_chat_message_test/st_chat_message-message_with_cat_str_path_avatar[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_selections_test/st_dataframe-multi_row_multi_column_selection[webkit].png
Due: none

fix: Only show initial balloons on first load in e2e test
  e2e_playwright/st_balloons.py
Due: no-relative-imports

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/st_dataframe_selections_test/st_dataframe-multi_row_multi_column_selection[webkit].png
Due: none

fix: address PR comments
  frontend/connection/src/ForwardMessageCache.ts
  frontend/connection/src/types.ts
  frontend/lib/src/components/elements/Tabs/Tabs.tsx
Due: prettier, typecheck

fix: simplify
  frontend/connection/src/types.ts
Due: prettier, typecheck

[chore] Fix entry bundle size regression from Vite 8.0.9 upgrade
  frontend/app/package.json
  frontend/app/vite.config.ts
  frontend/component-lib/package.json
  frontend/component-v2-lib/package.json
  frontend/connection/package.json
  frontend/eslint.config.mjs
  frontend/lib/package.json
  frontend/utils/package.json
  frontend/yarn.lock
Due: prettier, typecheck

[snapshots] Update webkit snapshots for Playwright 1.59
  e2e_playwright/__snapshots__/linux/st_chat_message_test/st_chat_message-message_with_cat_path_avatar[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_chat_message_test/st_chat_message-message_with_cat_str_path_avatar[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_selections_test/st_dataframe-multi_row_multi_column_selection[webkit].png
Due: none

Remove deprecated add_rows feature
  .claude/skills/understanding-streamlit-architecture/references/frontend.md
  e2e_playwright/st_add_rows.py
  e2e_playwright/st_add_rows_test.py
  e2e_playwright/st_area_chart.py
  e2e_playwright/st_area_chart_test.py
  e2e_playwright/st_bar_chart.py
  e2e_playwright/st_bar_chart_test.py
  e2e_playwright/st_line_chart.py
  e2e_playwright/st_line_chart_test.py
  e2e_playwright/st_scatter_chart.py
  e2e_playwright/st_scatter_chart_test.py
  frontend/lib/src/components/elements/ArrowVegaLiteChart/arrowUtils.ts
  frontend/lib/src/components/elements/ArrowVegaLiteChart/useVegaEmbed.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useTableSizer.ts
  frontend/lib/src/dataframes/Quiver.test.ts
  frontend/lib/src/dataframes/Quiver.ts
  frontend/lib/src/dataframes/__snapshots__/Quiver.test.ts.snap
  frontend/lib/src/dataframes/arrowConcatUtils.ts
  frontend/lib/src/mocks/arrow/differentColumnTypes.ts
  frontend/lib/src/mocks/arrow/fewerColumns.ts
  frontend/lib/src/render-tree/AppRoot.ts
  frontend/lib/src/render-tree/ElementNode.test.ts
  frontend/lib/src/render-tree/ElementNode.ts
  lib/streamlit/delta_generator.py
  lib/streamlit/elements/arrow.py
  lib/streamlit/elements/lib/built_in_chart_utils.py
  lib/streamlit/elements/vega_charts.py
  lib/streamlit/runtime/forward_msg_queue.py
  lib/streamlit/runtime/metrics_util.py
  lib/streamlit/testing/v1/element_tree.py
  lib/tests/streamlit/delta_generator_test.py
  lib/tests/streamlit/elements/arrow_add_rows_test.py
  lib/tests/streamlit/elements/vega_charts_test.py
  lib/tests/streamlit/runtime/forward_msg_queue_test.py
  proto/streamlit/proto/Delta.proto
Due: prettier, typecheck, no-relative-imports

Remove orphaned add_rows snapshot files
  e2e_playwright/__snapshots__/linux/st_add_rows_test/st_dataframe-added_rows[chromium].png
  e2e_playwright/__snapshots__/linux/st_add_rows_test/st_dataframe-added_rows[firefox].png
  e2e_playwright/__snapshots__/linux/st_add_rows_test/st_dataframe-added_rows[webkit].png
  e2e_playwright/__snapshots__/linux/st_add_rows_test/st_vega_lite_chart-added_rows-0[chromium].png
  e2e_playwright/__snapshots__/linux/st_add_rows_test/st_vega_lite_chart-added_rows-0[firefox].png
  e2e_playwright/__snapshots__/linux/st_add_rows_test/st_vega_lite_chart-added_rows-0[webkit].png
  e2e_playwright/__snapshots__/linux/st_add_rows_test/st_vega_lite_chart-added_rows-1[chromium].png
  e2e_playwright/__snapshots__/linux/st_add_rows_test/st_vega_lite_chart-added_rows-1[firefox].png
  e2e_playwright/__snapshots__/linux/st_add_rows_test/st_vega_lite_chart-added_rows-1[webkit].png
  e2e_playwright/__snapshots__/linux/st_add_rows_test/st_vega_lite_chart-added_rows-2[chromium].png
  e2e_playwright/__snapshots__/linux/st_add_rows_test/st_vega_lite_chart-added_rows-2[firefox].png
  e2e_playwright/__snapshots__/linux/st_add_rows_test/st_vega_lite_chart-added_rows-2[webkit].png
  e2e_playwright/__snapshots__/linux/st_add_rows_test/st_vega_lite_chart-added_rows-3[chromium].png
  e2e_playwright/__snapshots__/linux/st_add_rows_test/st_vega_lite_chart-added_rows-3[firefox].png
  e2e_playwright/__snapshots__/linux/st_add_rows_test/st_vega_lite_chart-added_rows-3[webkit].png
  e2e_playwright/__snapshots__/linux/st_add_rows_test/st_vega_lite_chart-added_rows-4[chromium].png
  e2e_playwright/__snapshots__/linux/st_add_rows_test/st_vega_lite_chart-added_rows-4[firefox].png
  e2e_playwright/__snapshots__/linux/st_add_rows_test/st_vega_lite_chart-added_rows-4[webkit].png
  e2e_playwright/__snapshots__/linux/st_add_rows_test/st_vega_lite_chart-added_rows-5[chromium].png
  e2e_playwright/__snapshots__/linux/st_add_rows_test/st_vega_lite_chart-added_rows-5[firefox].png
  e2e_playwright/__snapshots__/linux/st_add_rows_test/st_vega_lite_chart-added_rows-5[webkit].png
  e2e_playwright/__snapshots__/linux/st_add_rows_test/st_vega_lite_chart-added_rows-6[chromium].png
  e2e_playwright/__snapshots__/linux/st_add_rows_test/st_vega_lite_chart-added_rows-6[firefox].png
  e2e_playwright/__snapshots__/linux/st_add_rows_test/st_vega_lite_chart-added_rows-6[webkit].png
  e2e_playwright/__snapshots__/linux/st_area_chart_test/st_area_chart-add_rows_preserves_styling[chromium].png
  e2e_playwright/__snapshots__/linux/st_area_chart_test/st_area_chart-add_rows_preserves_styling[firefox].png
  e2e_playwright/__snapshots__/linux/st_area_chart_test/st_area_chart-add_rows_preserves_styling[webkit].png
  e2e_playwright/__snapshots__/linux/st_bar_chart_test/st_bar_chart-add_rows_preserves_styling[chromium].png
  e2e_playwright/__snapshots__/linux/st_bar_chart_test/st_bar_chart-add_rows_preserves_styling[firefox].png
  e2e_playwright/__snapshots__/linux/st_bar_chart_test/st_bar_chart-add_rows_preserves_styling[webkit].png
  e2e_playwright/__snapshots__/linux/st_line_chart_test/st_line_chart-add_rows_after_fullscreen[chromium].png
  e2e_playwright/__snapshots__/linux/st_line_chart_test/st_line_chart-add_rows_after_fullscreen[firefox].png
  e2e_playwright/__snapshots__/linux/st_line_chart_test/st_line_chart-add_rows_after_fullscreen[webkit].png
  e2e_playwright/__snapshots__/linux/st_line_chart_test/st_line_chart-add_rows_preserves_styling[chromium].png
  e2e_playwright/__snapshots__/linux/st_line_chart_test/st_line_chart-add_rows_preserves_styling[firefox].png
  e2e_playwright/__snapshots__/linux/st_line_chart_test/st_line_chart-add_rows_preserves_styling[webkit].png
  e2e_playwright/__snapshots__/linux/st_scatter_chart_test/st_scatter_chart-add_rows_preserves_styling[chromium].png
  e2e_playwright/__snapshots__/linux/st_scatter_chart_test/st_scatter_chart-add_rows_preserves_styling[firefox].png
  e2e_playwright/__snapshots__/linux/st_scatter_chart_test/st_scatter_chart-add_rows_preserves_styling[webkit].png
Due: none

perf(PlotlyChart): Skip React state update in onUpdate for non-selection charts
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

chore: address review comments - add return type and TODO comment
  frontend/app/vite.config.ts
  frontend/eslint.config.mjs
Due: prettier, typecheck

[chore] Bump _MAX_TRACKED_COMMANDS limit to 400
  lib/streamlit/runtime/metrics_util.py
Due: no-relative-imports

Remove unused immerable import and property from Quiver
  frontend/lib/src/dataframes/Quiver.ts
Due: prettier, typecheck

fix(PlotlyChart): Use ref to track figure state and prevent stale zoom/pan
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

test: consolidate E2E pagination tests per AGENTS.md guidance
  e2e_playwright/st_pagination_test.py
Due: no-relative-imports

test: Update test_command_tracking_limits to exercise new 400 limit
  lib/tests/streamlit/runtime/metrics_util_test.py
Due: no-relative-imports

test: add dataframe pagination example with right-aligned layout
  e2e_playwright/st_pagination.py
Due: no-relative-imports

Remove vestigial Cursor.props plumbing
  lib/streamlit/cursor.py
  lib/streamlit/delta_generator.py
  lib/tests/streamlit/cursor_test.py
  lib/tests/streamlit/delta_generator_test.py
Due: no-relative-imports

Revert PlotlyChart performance optimization to fix selection tests
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

Update version and project name in files
  frontend/package.json
  lib/pyproject.toml
  lib/streamlit/version.py
  pyproject.toml
Due: no-relative-imports

[chore] Update Browserslist DB
  frontend/yarn.lock
Due: none

Address PR review comments
  frontend/lib/src/dataframes/Quiver.ts
  lib/streamlit/runtime/forward_msg_queue.py
  lib/streamlit/testing/v1/element_tree.py
Due: prettier, typecheck, no-relative-imports

[chore] Simplify protobuf AGENTS.md documentation
  .cursor/rules/protobuf.mdc
  .github/instructions/protobuf.instructions.md
  proto/streamlit/proto/AGENTS.md
Due: none

Improve Quiver hash comment clarity
  frontend/lib/src/dataframes/Quiver.ts
Due: prettier, typecheck

docs: update pagination docstring example with right-aligned layout
  lib/streamlit/elements/widgets/pagination.py
Due: no-relative-imports

feat: add bind parameter to st.pagination for URL query param sync
  frontend/lib/src/components/widgets/Pagination/Pagination.tsx
  lib/streamlit/elements/widgets/pagination.py
  lib/tests/streamlit/elements/pagination_test.py
  proto/streamlit/proto/Pagination.proto
Due: prettier, typecheck, no-relative-imports

Add React.memo to four frontend components
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/elements/Help/Help.tsx
  frontend/lib/src/components/widgets/BaseWidget/WidgetLabelHelpIcon.tsx
  frontend/lib/src/components/widgets/Form/FormSubmitButton.tsx
Due: prettier, typecheck

Reorder Member component above Help for proper declaration order
  frontend/lib/src/components/elements/Help/Help.tsx
Due: prettier, typecheck

Update mermaid spec: add width param, broaden markdown support
  specs/2026-05-02-mermaid-chart/product-spec.md
Due: none
