Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

fix: satisfy plotly.js 4 config spread typing
  frontend/lib/src/components/elements/PlotlyChart/mapboxCompat.ts
Due: prettier, typecheck

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/st_plotly_chart_select_test/st_plotly_chart-bar_chart_reset[chromium].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_select_test/st_plotly_chart-double_select[chromium].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_select_test/st_plotly_chart-panned[chromium].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_select_test/st_plotly_chart-panned[firefox].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_select_test/st_plotly_chart-panned_reset[chromium].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_select_test/st_plotly_chart-reset[chromium].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_select_test/st_plotly_chart-single_select[chromium].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_select_test/st_plotly_chart-zoomed_in_reset[chromium].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_select_test/st_plotly_chart-zoomed_in_reset[firefox].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-toolbar_customization[webkit].png
Due: none

[spec] Native Apache ECharts support (#15841)
  specs/2026-07-06-echarts-chart/product-spec.md
Due: none

Remove the ECharts chart specs now that the feature is implemented.
  specs/2026-07-06-echarts-chart/product-spec.md
  specs/2026-07-06-echarts-chart/tech-spec.md
Due: none

[fix] Tighten live duration bounds and identity docs
  .claude/skills/understanding-streamlit-architecture/SKILL.md
  frontend/lib/src/hooks/useBasicWidgetState.ts
  lib/streamlit/elements/widgets/text_widgets.py
  lib/tests/streamlit/elements/text_input_test.py
  specs/2026-08-03-text-input-live-update/product-spec.md
Due: prettier, typecheck, no-relative-imports

fix: narrow AppTest initialization cleanup guard
  lib/streamlit/testing/v1/local_script_runner.py
  lib/tests/streamlit/testing/app_test_test.py
Due: no-relative-imports

[fix] Remove expired mapbox.token config option (#16774)
  lib/streamlit/config.py
  lib/streamlit/config_option.py
  lib/streamlit/elements/deck_gl_json_chart.py
  lib/streamlit/elements/map.py
  lib/streamlit/web/bootstrap.py
  lib/tests/streamlit/config_option_test.py
  lib/tests/streamlit/config_test.py
  lib/tests/streamlit/config_util_test.py
  lib/tests/streamlit/elements/map_test.py
  lib/tests/streamlit/elements/pydeck_test.py
  lib/tests/streamlit/web/bootstrap_test.py
  lib/tests/streamlit/web/cli_test.py
Due: no-relative-imports

Harden frontend tests from review feedback
  frontend/app/src/components/Sidebar/Sidebar.test.tsx
  frontend/app/src/components/Sidebar/Sidebar.tsx
  frontend/lib/src/WidgetStateManager.test.ts
  frontend/lib/src/components/elements/DeckGlJsonChart/DeckGlJsonChart.test.tsx
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.test.tsx
  frontend/lib/src/components/widgets/ChatInput/ChatInput.test.tsx
  frontend/lib/src/components/widgets/FileUploader/FileUploader.test.tsx
Due: prettier, typecheck

[docs] Add text_input example outputs and restore identity wording
  .claude/skills/understanding-streamlit-architecture/SKILL.md
  lib/streamlit/elements/widgets/text_widgets.py
Due: no-relative-imports

[fix] Support asyncio.get_event_loop() in scripts (#16167)
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/streamlit/testing/v1/local_script_runner.py
  lib/tests/streamlit/runtime/app_session_test.py
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
  lib/tests/streamlit/runtime/scriptrunner/test_data/asyncio_event_loop.py
  lib/tests/streamlit/testing/app_test_test.py
Due: no-relative-imports

fix: resolve PlotlyChart eslint errors on plotly.js 4 types
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
  frontend/lib/src/components/elements/PlotlyChart/utils.ts
Due: prettier, typecheck

[docs] Drop identity-kwarg upgrade guidance from architecture skill
  .claude/skills/understanding-streamlit-architecture/SKILL.md
Due: none

Strengthen rerun coalescing regression coverage
  e2e_playwright/st_fragment_key_rerun.py
  e2e_playwright/st_fragment_key_rerun_fast_reruns_disabled.py
  e2e_playwright/st_fragment_key_rerun_fast_reruns_disabled_test.py
  e2e_playwright/st_fragment_key_rerun_test.py
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
  lib/tests/streamlit/runtime/scriptrunner_utils/script_requests_test.py
  lib/tests/streamlit/runtime/state/session_state_test.py
Due: no-relative-imports

Fix ECharts review issues around selection, datasets, and recovery.
  e2e_playwright/st_echarts_chart.py
  e2e_playwright/st_echarts_chart_test.py
  frontend/lib/src/components/elements/EChartsChart/EChartsChart.test.tsx
  frontend/lib/src/components/elements/EChartsChart/EChartsChart.tsx
  frontend/lib/src/components/elements/EChartsChart/useEChartsSelections.test.ts
  frontend/lib/src/components/elements/EChartsChart/useEChartsSelections.ts
  lib/streamlit/.agents/skills/developing-with-streamlit/references/api-reference.md
  lib/streamlit/elements/echarts_chart.py
  lib/tests/streamlit/elements/echarts_chart_test.py
  proto/streamlit/proto/EChartsChart.proto
Due: prettier, typecheck, no-relative-imports

Fix async cache same-key deadlock
  PROTOTYPE_NOTES.md
  lib/streamlit/runtime/caching/cache_utils.py
  lib/tests/streamlit/runtime/caching/async_cache_test.py
Due: no-relative-imports

Use shared API error types for commit_edits validation.
  lib/streamlit/elements/widgets/data_editor.py
  lib/tests/streamlit/elements/data_editor_test.py
Due: no-relative-imports

Isolate cached message replay across async tasks
  lib/streamlit/runtime/caching/cached_message_replay.py
  lib/tests/streamlit/runtime/caching/common_cache_test.py
Due: no-relative-imports

Isolate the ECharts lines XSS tooltip on its own chart.
  e2e_playwright/st_echarts_chart.py
  e2e_playwright/st_echarts_chart_test.py
Due: no-relative-imports

fix: keep Plotly selection points assignable to PlotDatum
  frontend/lib/src/components/elements/PlotlyChart/utils.ts
Due: prettier, typecheck

Fix weak coverage tests from AI review feedback
  lib/streamlit/dataframe_util.py
  lib/streamlit/elements/exception.py
  lib/tests/streamlit/dataframe/lazy_df_source_test.py
  lib/tests/streamlit/dataframe_util_test.py
  lib/tests/streamlit/elements/exception_test.py
  lib/tests/streamlit/elements/table_test.py
  lib/tests/streamlit/runtime/caching/hashing_test.py
  lib/tests/streamlit/runtime/forward_msg_queue_test.py
  lib/tests/streamlit/type_util_test.py
Due: no-relative-imports

Address remaining AI review nits for commit_edits.
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
  lib/streamlit/elements/widgets/data_editor.py
  lib/streamlit/runtime/state/session_state.py
  lib/tests/streamlit/elements/data_editor_test.py
Due: prettier, typecheck, no-relative-imports

[fix] Ack live commits after ordinary reruns so session_state resets apply
  e2e_playwright/st_text_input.py
  e2e_playwright/st_text_input_test.py
  frontend/lib/src/components/widgets/TextInput/TextInput.test.tsx
  frontend/lib/src/components/widgets/TextInput/TextInput.tsx
  specs/2026-08-03-text-input-live-update/product-spec.md
Due: prettier, typecheck, no-relative-imports

Explain why the viewport wait is separate from React stability
  e2e_playwright/st_layouts_container_min_width_test.py
Due: no-relative-imports

[fix] Ack live pending commits on scriptFinished, not proto identity
  frontend/lib/src/components/widgets/TextInput/TextInput.test.tsx
  frontend/lib/src/components/widgets/TextInput/TextInput.tsx
Due: prettier, typecheck

Reject background refresh for async caches
  lib/streamlit/runtime/caching/cache_data_api.py
  lib/streamlit/runtime/caching/cache_resource_api.py
  lib/streamlit/runtime/caching/cache_utils.py
  lib/tests/streamlit/runtime/caching/async_cache_test.py
Due: no-relative-imports

Preserve replay media-data inspection
  lib/streamlit/runtime/caching/cached_message_replay.py
Due: no-relative-imports

Address remaining ECharts review nits around selection and GL.
  frontend/lib/src/components/elements/EChartsChart/CustomTheme.test.ts
  frontend/lib/src/components/elements/EChartsChart/CustomTheme.ts
  frontend/lib/src/components/elements/EChartsChart/EChartsSelectionIndices.test.ts
  frontend/lib/src/components/elements/EChartsChart/useEChartsSelections.test.ts
  frontend/lib/src/components/elements/EChartsChart/useEChartsSelections.ts
  lib/streamlit/elements/echarts_chart.py
  lib/tests/streamlit/elements/echarts_chart_test.py
Due: prettier, typecheck, no-relative-imports

[test] Restore earlier live values after scriptFinished, not setValue echoes
  frontend/lib/src/components/core/ScriptRunContext.tsx
  frontend/lib/src/components/widgets/TextInput/TextInput.test.tsx
Due: prettier, typecheck

[fix] Sort TextInput ScriptRunContext import for eslint import/order
  frontend/lib/src/components/widgets/TextInput/TextInput.tsx
Due: prettier, typecheck

Preserve present protobuf trigger payloads during replay
  lib/streamlit/runtime/scriptrunner_utils/script_requests.py
  lib/streamlit/runtime/state/session_state.py
  lib/tests/streamlit/runtime/scriptrunner_utils/script_requests_test.py
  lib/tests/streamlit/runtime/state/session_state_test.py
Due: no-relative-imports

Reject functools.partial wrappers around async commit_edits callbacks.
  lib/streamlit/elements/widgets/data_editor.py
  lib/tests/streamlit/elements/data_editor_test.py
Due: no-relative-imports

fix: drop unnecessary Plotly layout type assertion
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

Cover async cache typing and reruns
  lib/tests/streamlit/runtime/caching/async_cache_test.py
  lib/tests/streamlit/runtime/caching/test_data/async_cache_rerun.py
  lib/tests/streamlit/typing/cache_types.py
Due: no-relative-imports

[test] Drop flaky live search session_state reset e2e
  e2e_playwright/st_text_input.py
  e2e_playwright/st_text_input_test.py
Due: no-relative-imports

[chore] De-flake container min-width reduced-viewport snapshots (#16771)
  e2e_playwright/st_layouts_container_min_width_test.py
Due: no-relative-imports

[test] Drop live IME e2e that duplicated the unit test
  e2e_playwright/st_text_input_test.py
Due: no-relative-imports

[fix] Reschedule live debounce when the delay changes
  frontend/lib/src/components/widgets/TextInput/TextInput.test.tsx
  frontend/lib/src/components/widgets/TextInput/TextInput.tsx
  lib/streamlit/elements/widgets/text_widgets.py
Due: prettier, typecheck, no-relative-imports

fix: drop unused @types/plotly.js after plotly.js 4
  frontend/lib/package.json
  frontend/yarn.lock
Due: none

Add st.echarts_chart for native Apache ECharts
  NOTICES
  e2e_playwright/__snapshots__/linux/st_echarts_chart_test/st_echarts_chart-basic_bar[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_echarts_chart_test/st_echarts_chart-basic_bar[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_echarts_chart_test/st_echarts_chart-custom_colors[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_echarts_chart_test/st_echarts_chart-custom_colors[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_echarts_chart_test/st_echarts_chart-gauge[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_echarts_chart_test/st_echarts_chart-gauge[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_echarts_chart_test/st_echarts_chart-line_multi[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_echarts_chart_test/st_echarts_chart-line_multi[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_echarts_chart_test/st_echarts_chart-radar[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_echarts_chart_test/st_echarts_chart-radar[light_theme-chromium].png
  e2e_playwright/st_echarts_chart.py
  e2e_playwright/st_echarts_chart_test.py
  frontend/lib/package.json
  frontend/lib/src/components/core/Block/ElementNodeRenderer.test.tsx
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/elements/EChartsChart/CustomTheme.test.ts
  frontend/lib/src/components/elements/EChartsChart/CustomTheme.ts
  frontend/lib/src/components/elements/EChartsChart/EChartsChart.test.tsx
  frontend/lib/src/components/elements/EChartsChart/EChartsChart.tsx
  frontend/lib/src/components/elements/EChartsChart/styled-components.ts
  frontend/yarn.lock
  lib/streamlit/.agents/skills/developing-with-streamlit/references/api-reference.md
  lib/streamlit/__init__.py
  lib/streamlit/delta_generator.py
  lib/streamlit/elements/echarts_chart.py
  lib/tests/streamlit/element_mocks.py
  lib/tests/streamlit/elements/echarts_chart_test.py
  lib/tests/streamlit/typing/echarts_chart_types.py
  proto/streamlit/proto/EChartsChart.proto
  proto/streamlit/proto/Element.proto
Due: prettier, typecheck, no-relative-imports

fix: hide Plotly Cloud share button on plotly.js 4 charts
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.test.tsx
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
