Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

more cleanup, more refactor, more optimized
  frontend/lib/src/components/widgets/AudioInput/ActionButton.tsx
  frontend/lib/src/components/widgets/AudioInput/AudioInput.tsx
  frontend/lib/src/components/widgets/AudioInput/constants.ts
Due: prettier, typecheck

more cleanup and getting label and toolbar working nicely together
  frontend/lib/src/components/widgets/AudioInput/AudioInput.tsx
  frontend/lib/src/components/widgets/AudioInput/constants.ts
  frontend/lib/src/components/widgets/AudioInput/styled-components.ts
Due: prettier, typecheck

fix python
  lib/streamlit/elements/widgets/audio_input.py
Due: no-relative-imports

revoking the url upon clearing
  frontend/lib/src/components/widgets/AudioInput/AudioInput.tsx
Due: prettier, typecheck

a bit of cleanup and unit tests for AudioInputActionButton
  frontend/lib/src/components/widgets/AudioInput/AudioInput.tsx
  frontend/lib/src/components/widgets/AudioInput/AudioInputActionButton.test.tsx
  frontend/lib/src/components/widgets/AudioInput/AudioInputActionButton.tsx
Due: prettier, typecheck

lint
  frontend/lib/src/components/widgets/AudioInput/AudioInputActionButton.test.tsx
Due: prettier, typecheck

i knew i forgot something lol
  frontend/lib/src/components/widgets/AudioInput/styled-components.ts
Due: prettier, typecheck

make all st.audio_input arguments keyword only (except label).
  lib/streamlit/elements/widgets/audio_input.py
Due: no-relative-imports

cleanup ActionButton
  frontend/lib/src/components/widgets/AudioInput/ActionButton.tsx
Due: prettier, typecheck

removing ignore deps lint comment
  frontend/lib/src/components/widgets/AudioInput/AudioInput.tsx
Due: prettier, typecheck

updating height
  frontend/lib/src/components/widgets/AudioInput/constants.ts
Due: prettier, typecheck

removing deps ignore
  frontend/lib/src/components/widgets/AudioInput/AudioInput.tsx
Due: prettier, typecheck

fixing the delete file bug
  frontend/lib/src/components/widgets/AudioInput/AudioInput.tsx
Due: prettier, typecheck

refactor height to theme
  frontend/lib/src/components/widgets/AudioInput/AudioInput.tsx
  frontend/lib/src/components/widgets/AudioInput/constants.ts
  frontend/lib/src/components/widgets/AudioInput/styled-components.ts
  frontend/lib/src/theme/primitives/sizes.ts
Due: prettier, typecheck

lint
  frontend/lib/src/components/widgets/AudioInput/ActionButton.tsx
Due: prettier, typecheck

adding hover color
  frontend/lib/src/components/widgets/AudioInput/AudioInputActionButton.tsx
  frontend/lib/src/components/widgets/AudioInput/styled-components.ts
Due: prettier, typecheck

oh lol gotta love tests, i think it actually caught a bug introduced when the linter yelled at me about hook deps
  e2e_playwright/st_audio_input_test.py
  frontend/lib/src/components/widgets/AudioInput/AudioInput.tsx
  frontend/lib/src/components/widgets/AudioInput/NoMicPermissions.tsx
Due: prettier, typecheck, no-relative-imports

removing exports
  frontend/lib/src/components/widgets/AudioInput/AudioInputActionButton.tsx
Due: prettier, typecheck

fix
  e2e_playwright/st_audio_input_test.py
Due: no-relative-imports

adding kw
  e2e_playwright/st_audio_input_test.py
Due: no-relative-imports

removing memo
  frontend/lib/src/components/widgets/AudioInput/AudioInput.tsx
Due: prettier, typecheck

okay, just chomium, you win playwright
  e2e_playwright/st_audio_input_test.py
Due: no-relative-imports

lint
  frontend/lib/src/components/widgets/AudioInput/AudioInputActionButton.tsx
Due: prettier, typecheck

Nico/audio input widget protoype backend polishing (#9399)
  e2e_playwright/st_fragment_basics.py
  lib/streamlit/elements/widgets/audio_input.py
  lib/tests/streamlit/elements/audio_input_test.py
Due: no-relative-imports

reverting toolbar changes
  frontend/lib/src/components/shared/Toolbar/Toolbar.tsx
Due: prettier, typecheck

cleaning up styling
  frontend/lib/src/components/widgets/AudioInput/constants.ts
  frontend/lib/src/components/widgets/AudioInput/styled-components.ts
Due: prettier, typecheck

ughhhhhhhhh
  e2e_playwright/st_audio_input_test.py
Due: no-relative-imports

adding disabled
  frontend/lib/src/components/widgets/AudioInput/ActionButton.tsx
  frontend/lib/src/components/widgets/AudioInput/AudioInput.tsx
Due: prettier, typecheck

another hook deps error
  frontend/lib/src/components/widgets/AudioInput/AudioInput.tsx
Due: prettier, typecheck

updating snapshots
  e2e_playwright/__snapshots__/linux/st_audio_input_test/st_audio_input_default[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_audio_input_test/st_audio_input_default[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_audio_input_test/st_audio_input_default[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_audio_input_test/st_audio_input_default[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_audio_input_test/st_audio_input_default[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_audio_input_test/st_audio_input_default[light_theme-webkit].png
Due: none

lint
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/widgets/AudioInput/ActionButton.tsx
  frontend/lib/src/components/widgets/AudioInput/AudioInput.tsx
  frontend/lib/src/components/widgets/AudioInput/NoMicPermissions.tsx
  frontend/lib/src/components/widgets/AudioInput/styled-components.ts
  frontend/lib/src/components/widgets/AudioInput/uploadFiles.ts
Due: prettier, typecheck

no more memo
  frontend/lib/src/components/widgets/AudioInput/AudioInput.tsx
Due: prettier, typecheck

third times the charm
  e2e_playwright/st_audio_input_test.py
Due: no-relative-imports

lets try this!
  e2e_playwright/st_audio_input_test.py
Due: no-relative-imports

monospace theme font
  frontend/lib/src/components/widgets/AudioInput/styled-components.ts
Due: prettier, typecheck

enhancing tests
  e2e_playwright/st_audio_input.py
  e2e_playwright/st_audio_input_test.py
Due: no-relative-imports

fix test
  frontend/lib/src/components/widgets/AudioInput/AudioInputActionButton.test.tsx
  frontend/lib/src/components/widgets/AudioInput/AudioInputActionButton.tsx
Due: prettier, typecheck

leverage js date formatter for time formatting the counter
  frontend/lib/src/components/widgets/AudioInput/formatTime.ts
Due: prettier, typecheck

more lint
  frontend/lib/src/components/shared/Toolbar/Toolbar.tsx
  frontend/lib/src/components/widgets/AudioInput/AudioInput.tsx
  frontend/lib/src/components/widgets/AudioInput/NoMicPermissions.tsx
  frontend/lib/src/components/widgets/AudioInput/Placeholder.tsx
  frontend/lib/src/components/widgets/AudioInput/styled-components.ts
  frontend/lib/src/components/widgets/AudioInput/uploadFiles.ts
  frontend/lib/src/urls.ts
Due: prettier, typecheck

updating test
  frontend/lib/src/components/widgets/AudioInput/AudioInputActionButton.test.tsx
Due: prettier, typecheck
