Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/st_dataframe_selections_test/st_dataframe-multi_row_column_and_cell_select[chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_selections_test/st_dataframe-multi_row_multi_column_selection[chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_selections_test/st_dataframe-programmatic_col_cell_selection[chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_selections_test/st_dataframe-single_row_required_selection[chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_selections_test/st_dataframe-single_row_required_selection[firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_selections_test/st_dataframe-single_row_required_selection[webkit].png
Due: none

fix: address PR review comments for single-row-required mode
  frontend/lib/src/components/widgets/DataFrame/hooks/useSelectionHandler.test.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useSelectionHandler.ts
  lib/streamlit/elements/arrow.py
Due: prettier, typecheck, no-relative-imports

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-markdown_options[chromium].png
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-markdown_options[firefox].png
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-markdown_options[webkit].png
Due: none

Fix ChatInput testing to use chat_input_value proto field
  lib/streamlit/testing/v1/element_tree.py
Due: no-relative-imports

Use findByText for async menu item queries
  frontend/lib/src/components/widgets/MenuButton/MenuButton.test.tsx
Due: prettier, typecheck

Fix ty type checker error for Exception in MenuButton
  lib/streamlit/testing/v1/element_tree.py
Due: no-relative-imports

Fix flaky MenuButton tests with waitFor
  frontend/lib/src/components/widgets/MenuButton/MenuButton.test.tsx
Due: prettier, typecheck

Fix MenuButtonSerde.serialize to always return valid proto
  lib/streamlit/elements/widgets/menu_button.py
  lib/tests/streamlit/elements/menu_button_test.py
Due: no-relative-imports

Simplify MenuButton E2E tests by reducing snapshots
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-emoji_icon[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-emoji_icon[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-emoji_icon[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-emoji_icon[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-emoji_icon[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-emoji_icon[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-sidebar[chromium].png
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-sidebar[firefox].png
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-sidebar[webkit].png
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-width_200px[chromium].png
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-width_200px[firefox].png
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-width_200px[webkit].png
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-width_content[chromium].png
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-width_content[firefox].png
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-width_content[webkit].png
  e2e_playwright/st_menu_button.py
  e2e_playwright/st_menu_button_test.py
  frontend/lib/src/components/widgets/MenuButton/MenuButton.test.tsx
Due: prettier, typecheck, no-relative-imports

Fix handle_deserialize to accept pre-parsed JSON values
  lib/streamlit/runtime/state/session_state.py
  lib/tests/streamlit/runtime/state/session_state_test.py
Due: no-relative-imports

Fix test_invalid_type assertion to match StreamlitValueError format
  lib/tests/streamlit/elements/menu_button_test.py
Due: no-relative-imports

[feat] Add st.menu_button widget
  e2e_playwright/st_menu_button.py
  e2e_playwright/st_menu_button_test.py
  frontend/lib/src/WidgetStateManager.ts
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/widgets/MenuButton/MenuButton.test.tsx
  frontend/lib/src/components/widgets/MenuButton/MenuButton.tsx
  frontend/lib/src/components/widgets/MenuButton/index.ts
  frontend/lib/src/components/widgets/MenuButton/styled-components.ts
  lib/streamlit/__init__.py
  lib/streamlit/delta_generator.py
  lib/streamlit/elements/widgets/menu_button.py
  lib/streamlit/runtime/state/session_state.py
  lib/tests/streamlit/element_mocks.py
  lib/tests/streamlit/runtime/state/session_state_test.py
  lib/tests/streamlit/typing/menu_button_types.py
  proto/streamlit/proto/Common.proto
  proto/streamlit/proto/Element.proto
  proto/streamlit/proto/MenuButton.proto
  proto/streamlit/proto/WidgetStates.proto
Due: prettier, typecheck, no-relative-imports

Remove emoji options snapshots
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-emoji_options[chromium].png
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-emoji_options[firefox].png
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-emoji_options[webkit].png
Due: none

Remove expander from width examples in MenuButton E2E tests
  e2e_playwright/st_menu_button.py
  e2e_playwright/st_menu_button_test.py
Due: no-relative-imports

Add E2E test for menu button inside fragment
  e2e_playwright/st_menu_button.py
  e2e_playwright/st_menu_button_test.py
Due: no-relative-imports

Remove emoji options test case from MenuButton E2E tests
  e2e_playwright/st_menu_button.py
  e2e_playwright/st_menu_button_test.py
Due: no-relative-imports

Consolidate MenuButton E2E tests to reduce browser loads
  e2e_playwright/st_menu_button_test.py
Due: no-relative-imports

Update menu button E2E snapshots for firefox and webkit
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-short_options[firefox].png
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-short_options[webkit].png
Due: none

Add clarifying note to menu button width test docstring
  e2e_playwright/st_menu_button_test.py
Due: no-relative-imports

[refactor] st.menu_button: reorder code and adjust menu styling
  frontend/lib/src/components/widgets/MenuButton/MenuButton.tsx
  frontend/lib/src/components/widgets/MenuButton/styled-components.ts
Due: prettier, typecheck

Add exception handling for format_func in MenuButton._widget_state
  lib/streamlit/testing/v1/element_tree.py
Due: no-relative-imports

Add AppTest support for menu_button
  lib/streamlit/elements/widgets/menu_button.py
  lib/streamlit/testing/v1/app_test.py
  lib/streamlit/testing/v1/element_tree.py
  lib/tests/streamlit/testing/element_tree_test.py
Due: no-relative-imports

Add DynamicIcon component and improve MenuButton icon handling
  frontend/lib/src/components/shared/Icon/DynamicIcon.test.tsx
  frontend/lib/src/components/shared/Icon/DynamicIcon.tsx
  frontend/lib/src/components/shared/Icon/index.ts
  frontend/lib/src/components/widgets/MenuButton/MenuButton.test.tsx
  frontend/lib/src/components/widgets/MenuButton/MenuButton.tsx
  frontend/lib/src/components/widgets/MenuButton/styled-components.ts
Due: prettier, typecheck

Improve MenuButton component and tests
  frontend/lib/src/components/widgets/MenuButton/MenuButton.test.tsx
  frontend/lib/src/components/widgets/MenuButton/MenuButton.tsx
Due: prettier, typecheck

Add Python unit tests and address review feedback
  e2e_playwright/st_menu_button_test.py
  frontend/lib/src/components/widgets/MenuButton/MenuButton.test.tsx
  frontend/lib/src/components/widgets/MenuButton/MenuButton.tsx
  lib/tests/streamlit/elements/menu_button_test.py
Due: prettier, typecheck, no-relative-imports

Update width stretch snapshots for MenuButton E2E tests
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-width_stretch[chromium].png
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-width_stretch[firefox].png
  e2e_playwright/__snapshots__/linux/st_menu_button_test/st_menu_button-width_stretch[webkit].png
Due: none

Address PR review comments for menu_button
  lib/streamlit/elements/widgets/menu_button.py
  lib/tests/streamlit/elements/menu_button_test.py
Due: no-relative-imports

Refactor menu button: use StreamlitValueError and styled component
  frontend/lib/src/components/widgets/MenuButton/MenuButton.tsx
  frontend/lib/src/components/widgets/MenuButton/styled-components.ts
  lib/streamlit/elements/widgets/menu_button.py
Due: prettier, typecheck, no-relative-imports

Fix click_index() for non-string option types
  lib/streamlit/elements/widgets/menu_button.py
  lib/streamlit/testing/v1/element_tree.py
  lib/tests/streamlit/testing/element_tree_test.py
Due: no-relative-imports

Simplify tests and improve code clarity
  frontend/lib/src/components/widgets/MenuButton/MenuButton.test.tsx
  frontend/lib/src/components/widgets/MenuButton/MenuButton.tsx
  frontend/lib/src/components/widgets/MenuButton/styled-components.ts
  lib/tests/streamlit/elements/menu_button_test.py
Due: prettier, typecheck, no-relative-imports

Improve MenuButton tests and fix transient prop warnings
  frontend/lib/src/components/widgets/MenuButton/MenuButton.test.tsx
  frontend/lib/src/components/widgets/MenuButton/MenuButton.tsx
  lib/tests/streamlit/elements/menu_button_test.py
Due: prettier, typecheck, no-relative-imports

Update skill config and workflow git author settings
  .claude/skills/implementing-feature/SKILL.md
  .github/workflows/update-emojis-material-icons.yml
Due: none

Fix E2E test to use exact=True for text matching in markdown options
  e2e_playwright/st_menu_button_test.py
Due: no-relative-imports

Use smaller icon size and consistent color for menu option icons
  e2e_playwright/st_menu_button.py
  e2e_playwright/st_menu_button_test.py
  frontend/lib/src/components/widgets/MenuButton/MenuButton.tsx
  frontend/lib/src/components/widgets/MenuButton/styled-components.ts
Due: prettier, typecheck, no-relative-imports

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/st_dataframe_selections_test/st_dataframe-multi_row_multi_column_selection[chromium].png
Due: none

[chore] Add GitHub issue linking guidance to finalizing-pr skill
  .claude/skills/finalizing-pr/SKILL.md
Due: none

Fix toast disappearing during st.rerun() (#7740)
  e2e_playwright/st_toast.py
  e2e_playwright/st_toast_test.py
  frontend/lib/src/components/elements/Toast/Toast.test.tsx
  frontend/lib/src/components/elements/Toast/Toast.tsx
  lib/streamlit/runtime/forward_msg_queue.py
  lib/tests/streamlit/runtime/forward_msg_queue_test.py
Due: prettier, typecheck, no-relative-imports

fix: align GitHub Issue heading with PR template
  .claude/skills/finalizing-pr/SKILL.md
Due: none

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
