Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Further st.experimental_connection polish omnibus PR (#6530)
  lib/streamlit/connections/__init__.py
  lib/streamlit/connections/base_connection.py
  lib/streamlit/connections/snowpark_connection.py
  lib/streamlit/connections/sql_connection.py
  lib/streamlit/runtime/connection_factory.py
  lib/test-requirements.txt
  lib/tests/streamlit/connections/snowpark_connection_test.py
  lib/tests/streamlit/connections/sql_connection_test.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

Support ttl and max_entries kwargs (#6449)
  lib/streamlit/runtime/connection_factory.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

More misc st.experimental_connection renames (#6457)
  lib/streamlit/connections/base_connection.py
  lib/streamlit/connections/snowpark_connection.py
  lib/streamlit/connections/sql_connection.py
  lib/streamlit/runtime/connection_factory.py
  lib/tests/streamlit/connections/snowpark_connection_test.py
  lib/tests/streamlit/connections/sql_connection_test.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

Add explanatory comment to metrics_util_test.py
  lib/tests/streamlit/runtime/metrics_util_test.py
Due: no-relative-imports

Allow users to set SQL create_engine kwargs from secrets (#6505)
  lib/streamlit/connections/sql_connection.py
  lib/tests/streamlit/connections/sql_connection_test.py
Due: no-relative-imports

Merge config parameters from various sources in SQL/Snowpark connections (#6486)
  lib/streamlit/connections/snowpark_connection.py
  lib/streamlit/connections/sql_connection.py
  lib/streamlit/connections/util.py
  lib/tests/streamlit/connections/snowpark_connection_test.py
  lib/tests/streamlit/connections/sql_connection_test.py
  lib/tests/streamlit/connections/util_test.py
Due: no-relative-imports

Update docstrings for st.connection (#6528)
  lib/streamlit/connections/base_connection.py
  lib/streamlit/connections/snowpark_connection.py
  lib/streamlit/connections/sql_connection.py
  lib/streamlit/runtime/connection_factory.py
Due: no-relative-imports

Add _repr_html_ implementations for the base and SQL connections (#6466)
  lib/streamlit/connections/base_connection.py
  lib/streamlit/connections/sql_connection.py
  lib/tests/streamlit/connections/base_connection_test.py
  lib/tests/streamlit/connections/sql_connection_test.py
Due: no-relative-imports

Allow st.experimental_connection callers to set a name via envvar (#6446)
  lib/streamlit/runtime/connection_factory.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

Allow users to specify name only for first party connections (#6478)
  lib/streamlit/runtime/connection_factory.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

Use the current active Snowpark session if one is available (#6504)
  lib/streamlit/connections/snowpark_connection.py
  lib/tests/streamlit/connections/snowpark_connection_test.py
Due: no-relative-imports

Add a bunch of docstrings (#6491)
  lib/streamlit/connections/base_connection.py
  lib/streamlit/connections/snowpark_connection.py
  lib/streamlit/connections/sql_connection.py
  lib/streamlit/runtime/connection_factory.py
Due: no-relative-imports

Misc st.experimental_connection fixes omnibus (#6523)
  lib/streamlit/connections/snowpark_connection.py
  lib/streamlit/connections/sql_connection.py
  lib/streamlit/runtime/connection_factory.py
  lib/tests/streamlit/connections/snowpark_connection_test.py
  lib/tests/streamlit/connections/sql_connection_test.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

Don't forget only-name connection_factory overloads (#6519)
  lib/streamlit/runtime/connection_factory.py
Due: no-relative-imports

Tweak some st.experimental_connection-related names (#6437)
  lib/streamlit/connections/__init__.py
  lib/streamlit/connections/base_connection.py
  lib/streamlit/connections/snowpark_connection.py
  lib/streamlit/connections/sql_connection.py
  lib/streamlit/runtime/connection_factory.py
  lib/tests/streamlit/connections/__init__.py
  lib/tests/streamlit/connections/base_connection_test.py
  lib/tests/streamlit/connections/snowpark_connection_test.py
  lib/tests/streamlit/connections/sql_connection_test.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

st.experimental_connection: The big merge (#6487)
  .github/workflows/python-versions.yml
  lib/streamlit/__init__.py
  lib/streamlit/connections/__init__.py
  lib/streamlit/connections/base_connection.py
  lib/streamlit/connections/snowpark_connection.py
  lib/streamlit/connections/sql_connection.py
  lib/streamlit/connections/util.py
  lib/streamlit/runtime/connection_factory.py
  lib/test-requirements.txt
  lib/tests/streamlit/connections/__init__.py
  lib/tests/streamlit/connections/base_connection_test.py
  lib/tests/streamlit/connections/snowpark_connection_test.py
  lib/tests/streamlit/connections/sql_connection_test.py
  lib/tests/streamlit/connections/util_test.py
  lib/tests/streamlit/runtime/connection_factory_test.py
  lib/tests/streamlit/runtime/metrics_util_test.py
  lib/tests/streamlit/streamlit_test.py
Due: no-relative-imports

Updating constraints. Github run id:4770144225
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Updating constraints. Github run id:4771418140
  constraints-3.8.txt
Due: none

Use markdown renderer in cell
  frontend/src/components/elements/ArrowTable/ArrowTable.tsx
Due: prettier, typecheck, eslint

Move pandas styler logic to dedicated module
  lib/streamlit/elements/arrow.py
  lib/streamlit/elements/data_editor.py
  lib/streamlit/elements/lib/pandas_styler_utils.py
Due: no-relative-imports

Fix typing
  lib/streamlit/type_util.py
Due: no-relative-imports

Unify missing values for selected datastructures
  lib/streamlit/type_util.py
  lib/tests/streamlit/type_util_test.py
Due: no-relative-imports

Add license header
  lib/streamlit/elements/lib/pandas_styler_utils.py
Due: no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:4776885540
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Improve data_editor touch editing
  frontend/src/components/widgets/DataFrame/DataFrame.test.tsx
  frontend/src/components/widgets/DataFrame/DataFrame.tsx
Due: prettier, typecheck, eslint

Add comment
  frontend/src/components/widgets/DataFrame/DataFrame.tsx
Due: prettier, typecheck, eslint

Show error for unsafe integer cells
  frontend/src/components/widgets/DataFrame/columns/NumberColumn.test.ts
  frontend/src/components/widgets/DataFrame/columns/NumberColumn.ts
Due: prettier, typecheck, eslint

Add a comment
  frontend/src/components/widgets/DataFrame/columns/NumberColumn.ts
Due: prettier, typecheck, eslint

Add error value
  frontend/src/components/widgets/DataFrame/columns/NumberColumn.test.ts
Due: prettier, typecheck, eslint

Add icon for editable columns
  frontend/src/components/widgets/DataFrame/DataFrame.tsx
  frontend/src/components/widgets/DataFrame/columns/utils.ts
  frontend/src/components/widgets/DataFrame/hooks/useColumnLoader.ts
  frontend/src/components/widgets/DataFrame/hooks/useCustomTheme.ts
Due: prettier, typecheck, eslint

Add comments
  frontend/src/components/widgets/DataFrame/hooks/useCustomTheme.ts
Due: prettier, typecheck, eslint

Add tests to check for existence of icon
  frontend/src/components/widgets/DataFrame/hooks/useColumnLoader.test.ts
Due: prettier, typecheck, eslint

Add comment
  frontend/src/components/widgets/DataFrame/hooks/useCustomTheme.ts
Due: prettier, typecheck, eslint

Add functionality to check underlying types
  lib/streamlit/elements/data_editor.py
  lib/streamlit/elements/lib/column_config_utils.py
Due: no-relative-imports
