Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Revert "Update Plotly toolbar snapshot baselines"
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-toolbar_customization[chromium].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-toolbar_customization[firefox].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-toolbar_customization[webkit].png
Due: none

Update NOTICES after frontend-minor-patch dependency bumps
  NOTICES
Due: none

Rewrite parenthesized assignment returns in tests for no-return-assign always.
  frontend/app/src/components/AppView/AppView.test.tsx
  frontend/lib/src/hooks/useScrollAnimation.test.ts
Due: prettier, typecheck

Address review comments on chat input repr
  lib/streamlit/elements/widgets/chat.py
  lib/streamlit/testing/v1/element_tree.py
  lib/tests/streamlit/elements/chat_test.py
  lib/tests/streamlit/testing/element_tree_test.py
Due: no-relative-imports

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/hello_app_test/hello_app-dataframe_demo_page[chromium].png
  e2e_playwright/__snapshots__/linux/hello_app_test/hello_app-dataframe_demo_page[firefox].png
  e2e_playwright/__snapshots__/linux/hello_app_test/hello_app-dataframe_demo_page[webkit].png
  e2e_playwright/__snapshots__/linux/hello_app_test/hello_app-print_media-landscape-sidebar_closed[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_basic_select_test/st_altair_chart-scatter_interval_selection[chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_basic_select_test/st_altair_chart-scatter_interval_selection[firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_basic_select_test/st_altair_chart-scatter_interval_selection[webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_basic_select_test/st_altair_chart-scatter_shift_selection[chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_basic_select_test/st_altair_chart-scatter_shift_selection[firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_basic_select_test/st_altair_chart-scatter_shift_selection[webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-altair_chart_cut_off_legend_title_none[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-altair_chart_cut_off_legend_title_none[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-altair_chart_cut_off_legend_title_none[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-altair_chart_cut_off_legend_title_none[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-altair_chart_cut_off_legend_title_none[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-altair_chart_cut_off_legend_title_none[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-binding_widgets[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-binding_widgets[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-binding_widgets[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-binding_widgets[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-binding_widgets[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-binding_widgets[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-marginal_histogram[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-marginal_histogram[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-pie_chart_large_legend_items[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-pie_chart_large_legend_items[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-pie_chart_large_legend_items[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-pie_chart_large_legend_items[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-pie_chart_large_legend_items[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-pie_chart_large_legend_items[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/theme_chart_colors_test/custom_chart_colors-dark_section[chromium].png
  e2e_playwright/__snapshots__/linux/theme_chart_colors_test/custom_chart_colors-dark_section[firefox].png
  e2e_playwright/__snapshots__/linux/theme_chart_colors_test/custom_chart_colors-dark_section[webkit].png
  e2e_playwright/__snapshots__/linux/theme_chart_colors_test/custom_chart_colors-light_section[chromium].png
  e2e_playwright/__snapshots__/linux/theme_chart_colors_test/custom_chart_colors-light_section[firefox].png
  e2e_playwright/__snapshots__/linux/theme_chart_colors_test/custom_chart_colors-light_section[webkit].png
Due: none

Clarify ESLint guard comments and tighten no-sequences.
  frontend/eslint.config.mjs
Due: prettier

Sync ChatInputValue mapping after key delete
  lib/streamlit/elements/widgets/chat.py
  lib/streamlit/testing/v1/element_tree.py
  lib/tests/streamlit/elements/chat_test.py
  lib/tests/streamlit/testing/element_tree_test.py
Due: no-relative-imports

[fix] Increase Vega-Lite legend title padding (#16818)
  e2e_playwright/__snapshots__/linux/hello_app_test/hello_app-dataframe_demo_page[chromium].png
  e2e_playwright/__snapshots__/linux/hello_app_test/hello_app-dataframe_demo_page[firefox].png
  e2e_playwright/__snapshots__/linux/hello_app_test/hello_app-dataframe_demo_page[webkit].png
  e2e_playwright/__snapshots__/linux/hello_app_test/hello_app-print_media-landscape-sidebar_closed[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_basic_select_test/st_altair_chart-scatter_interval_selection[chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_basic_select_test/st_altair_chart-scatter_interval_selection[firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_basic_select_test/st_altair_chart-scatter_interval_selection[webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_basic_select_test/st_altair_chart-scatter_shift_selection[chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_basic_select_test/st_altair_chart-scatter_shift_selection[firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_basic_select_test/st_altair_chart-scatter_shift_selection[webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-altair_chart_cut_off_legend_title_none[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-altair_chart_cut_off_legend_title_none[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-altair_chart_cut_off_legend_title_none[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-altair_chart_cut_off_legend_title_none[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-altair_chart_cut_off_legend_title_none[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-altair_chart_cut_off_legend_title_none[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-binding_widgets[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-binding_widgets[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-binding_widgets[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-binding_widgets[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-binding_widgets[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-binding_widgets[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-marginal_histogram[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-marginal_histogram[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-pie_chart_large_legend_items[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-pie_chart_large_legend_items[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-pie_chart_large_legend_items[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-pie_chart_large_legend_items[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-pie_chart_large_legend_items[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-pie_chart_large_legend_items[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/theme_chart_colors_test/custom_chart_colors-dark_section[chromium].png
  e2e_playwright/__snapshots__/linux/theme_chart_colors_test/custom_chart_colors-dark_section[firefox].png
  e2e_playwright/__snapshots__/linux/theme_chart_colors_test/custom_chart_colors-dark_section[webkit].png
  e2e_playwright/__snapshots__/linux/theme_chart_colors_test/custom_chart_colors-light_section[chromium].png
  e2e_playwright/__snapshots__/linux/theme_chart_colors_test/custom_chart_colors-light_section[firefox].png
  e2e_playwright/__snapshots__/linux/theme_chart_colors_test/custom_chart_colors-light_section[webkit].png
  frontend/lib/src/components/elements/ArrowVegaLiteChart/CustomTheme.tsx
Due: prettier, typecheck

Keep ECharts selection writes stable across spec, form, and disconnect.
  e2e_playwright/st_echarts_chart_test.py
  frontend/lib/src/components/elements/EChartsChart/useEChartsSelections.test.ts
  frontend/lib/src/components/elements/EChartsChart/useEChartsSelections.ts
  lib/streamlit/elements/echarts_chart.py
  lib/tests/streamlit/elements/echarts_chart_test.py
  proto/streamlit/proto/EChartsChart.proto
Due: prettier, typecheck, no-relative-imports

[chore] Enable ESLint zero-cost frontend guards (#16856)
  frontend/app/src/components/AppView/AppView.test.tsx
  frontend/eslint.config.mjs
  frontend/lib/src/hooks/useResizeObserver.test.tsx
  frontend/lib/src/hooks/useScrollAnimation.test.ts
Due: prettier, typecheck

Suppress programmatic ECharts clear events so form-clear can persist empty committed state.
  e2e_playwright/st_echarts_chart_test.py
  frontend/lib/src/components/elements/EChartsChart/useEChartsSelections.test.ts
  frontend/lib/src/components/elements/EChartsChart/useEChartsSelections.ts
Due: prettier, typecheck, no-relative-imports

[feature] Async-aware st.cache_data and st.cache_resource (#16168)
  e2e_playwright/conftest.py
  e2e_playwright/st_cache_data.py
  e2e_playwright/st_cache_data_test.py
  e2e_playwright/st_cache_resource.py
  lib/streamlit/runtime/caching/cache_data_api.py
  lib/streamlit/runtime/caching/cache_resource_api.py
  lib/streamlit/runtime/caching/cache_utils.py
  lib/streamlit/runtime/caching/cached_message_replay.py
  lib/tests/streamlit/runtime/caching/async_cache_test.py
  lib/tests/streamlit/runtime/caching/common_cache_test.py
  lib/tests/streamlit/runtime/caching/test_data/async_cache_rerun.py
  lib/tests/streamlit/typing/cache_types.py
Due: no-relative-imports

Reject async cache_resource lifecycle callbacks
  lib/streamlit/runtime/caching/cache_resource_api.py
  lib/tests/streamlit/runtime/caching/cache_resource_api_test.py
Due: no-relative-imports

Document async cache support in skills
  lib/streamlit/.agents/skills/developing-with-streamlit/references/api-reference.md
  lib/streamlit/.agents/skills/developing-with-streamlit/references/performance.md
  lib/streamlit/.agents/skills/developing-with-streamlit/references/server-asgi.md
Due: none

Omit async cache from API overview table
  lib/streamlit/.agents/skills/developing-with-streamlit/references/api-reference.md
Due: none

Trim obvious async cache skill caveats
  lib/streamlit/.agents/skills/developing-with-streamlit/references/performance.md
Due: none

Drop async caveat from ASGI refresh notes
  lib/streamlit/.agents/skills/developing-with-streamlit/references/server-asgi.md
Due: none

[chore] Generate emoji list from Unicode emoji-test.txt (#16793)
  .claude/skills/discovering-make-commands/SKILL.md
  .github/workflows/update-emojis-material-icons.yml
  Makefile
  lib/streamlit/emojis.py
  lib/tests/scripts/update_emojis_test.py
  pyproject.toml
  scripts/update_emojis.py
  uv.lock
Due: no-relative-imports

[feature] Add `on_change="ignore"` mode to st.select_slider (#16776)
  e2e_playwright/st_select_slider.py
  e2e_playwright/st_select_slider_test.py
  frontend/lib/src/components/widgets/Slider/Slider.test.tsx
  lib/streamlit/elements/widgets/select_slider.py
  lib/tests/streamlit/elements/select_slider_test.py
  lib/tests/streamlit/typing/select_slider_types.py
Due: prettier, typecheck, no-relative-imports

Align ECharts form-clear with other widgets and apply selection review follow-ups.
  e2e_playwright/st_echarts_chart.py
  e2e_playwright/st_echarts_chart_test.py
  frontend/lib/src/components/elements/EChartsChart/EChartsChart.tsx
  frontend/lib/src/components/elements/EChartsChart/styled-components.ts
  frontend/lib/src/components/elements/EChartsChart/useEChartsSelections.test.ts
  frontend/lib/src/components/elements/EChartsChart/useEChartsSelections.ts
  lib/streamlit/elements/echarts_chart.py
  proto/streamlit/proto/EChartsChart.proto
Due: prettier, typecheck, no-relative-imports

Add on_change="ignore" to st.selectbox
  e2e_playwright/st_selectbox.py
  e2e_playwright/st_selectbox_test.py
  frontend/lib/src/components/widgets/Selectbox/Selectbox.test.tsx
  frontend/lib/src/components/widgets/Selectbox/Selectbox.tsx
  lib/streamlit/elements/widgets/selectbox.py
  lib/tests/streamlit/elements/selectbox_test.py
  lib/tests/streamlit/typing/selectbox_types.py
  proto/streamlit/proto/Selectbox.proto
Due: prettier, typecheck, no-relative-imports

Harden the ignore-mode selectbox e2e against dropdown toggle flake.
  e2e_playwright/st_selectbox.py
  e2e_playwright/st_selectbox_test.py
  frontend/lib/src/components/widgets/Selectbox/Selectbox.test.tsx
Due: prettier, typecheck, no-relative-imports

Add position parameter to st.dialog
  e2e_playwright/mega_tester_app.py
  e2e_playwright/st_dialog.py
  e2e_playwright/st_dialog_test.py
  frontend/lib/src/components/elements/Dialog/Dialog.test.tsx
  frontend/lib/src/components/elements/Dialog/Dialog.tsx
  frontend/lib/src/components/shared/Modal/Modal.test.tsx
  frontend/lib/src/components/shared/Modal/Modal.tsx
  frontend/lib/src/components/shared/Modal/styled-components.ts
  lib/streamlit/.agents/skills/developing-with-streamlit/references/layouts.md
  lib/streamlit/elements/dialog_decorator.py
  lib/streamlit/elements/layouts.py
  lib/streamlit/elements/lib/dialog.py
  lib/tests/streamlit/elements/layouts_test.py
  lib/tests/streamlit/typing/dialog_types.py
  proto/streamlit/proto/Block.proto
Due: prettier, typecheck, no-relative-imports

[chore] De-flake slider float-formatting snapshot
  e2e_playwright/st_slider_test.py
Due: no-relative-imports

[fix] Default omitted dialog position and gate mega tester compatibility
  e2e_playwright/mega_tester_app.py
  e2e_playwright/st_dialog_test.py
  frontend/lib/src/components/elements/Dialog/Dialog.test.tsx
  frontend/lib/src/components/elements/Dialog/Dialog.tsx
  frontend/lib/src/components/shared/Modal/Modal.test.tsx
  lib/streamlit/elements/dialog_decorator.py
  lib/streamlit/elements/lib/dialog.py
Due: prettier, typecheck, no-relative-imports

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/st_dialog_test/st_dialog-position_left[chromium].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/st_dialog-position_left[firefox].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/st_dialog-position_left[webkit].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/st_dialog-position_right[chromium].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/st_dialog-position_right[firefox].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/st_dialog-position_right[webkit].png
Due: none

Use square corners for side drawer dialogs.
  frontend/lib/src/components/shared/Modal/Modal.test.tsx
  frontend/lib/src/components/shared/Modal/styled-components.ts
Due: prettier, typecheck

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/hello_app_test/hello_app-print_media-landscape-sidebar_open[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/st_dialog-position_left[chromium].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/st_dialog-position_left[firefox].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/st_dialog-position_left[webkit].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/st_dialog-position_right[chromium].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/st_dialog-position_right[firefox].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/st_dialog-position_right[webkit].png
Due: none

Add E2E snapshot baselines for left and right dialog drawers.
  e2e_playwright/__snapshots__/linux/st_dialog_test/st_dialog-position_left[chromium].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/st_dialog-position_left[firefox].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/st_dialog-position_left[webkit].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/st_dialog-position_right[chromium].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/st_dialog-position_right[firefox].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/st_dialog-position_right[webkit].png
Due: none

Scope threshold to chromium, restore font wait
  e2e_playwright/st_slider_test.py
Due: no-relative-imports

Name what the font wait guards; tighten threshold comment
  e2e_playwright/st_slider_test.py
Due: no-relative-imports

Add end padding after the last widget in st.dialog.
  frontend/lib/src/components/core/Block/Block.test.tsx
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/core/Block/styled-components.ts
Due: prettier, typecheck

Note dialogs as a drill-down pattern for ButtonColumn row actions.
  lib/streamlit/.agents/skills/developing-with-streamlit/references/layouts.md
Due: none

Address review feedback on drawer spacing, tests, and tokens.
  frontend/lib/src/components/core/Block/Block.test.tsx
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/elements/Dialog/Dialog.test.tsx
  frontend/lib/src/components/shared/Modal/styled-components.ts
  proto/streamlit/proto/Block.proto
Due: prettier, typecheck

Name the capture size and fix the off-by-one in comments
  e2e_playwright/st_slider_test.py
Due: no-relative-imports

[chore] De-flake slider float-formatting snapshot (#16865)
  e2e_playwright/st_slider_test.py
Due: no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/pyproject.toml
  lib/streamlit/version.py
  pyproject.toml
  uv.lock
Due: no-relative-imports

Update emojis/material icons
  e2e_playwright/st_alert.py
  frontend/app/src/assets/fonts/MaterialSymbols/MaterialSymbols-Rounded.woff2
  lib/streamlit/material_icon_names.py
Due: no-relative-imports

[chore] Update Browserslist DB
  frontend/yarn.lock
Due: none

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-latest_material_symbol[chromium].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-latest_material_symbol[firefox].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-latest_material_symbol[webkit].png
Due: none
