Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Fix test
  frontend/lib/src/dataframes/Quiver.test.ts
Due: prettier, typecheck

Fix slider snapshots
  e2e_playwright/__snapshots__/linux/st_slider_test/st_slider-time_value[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_slider_test/st_slider-time_value[light_theme-firefox].png
Due: none

Add screenshots
  e2e_playwright/__snapshots__/linux/st_tabs_test/st_tabs-date_input[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_tabs_test/st_tabs-date_input[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_tabs_test/st_tabs-date_input[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_tabs_test/st_tabs-date_input[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_tabs_test/st_tabs-date_input[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_tabs_test/st_tabs-date_input[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_tabs_test/st_tabs-sidebar[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_tabs_test/st_tabs-sidebar[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_tabs_test/st_tabs-sidebar[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_tabs_test/st_tabs-sidebar[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_tabs_test/st_tabs-sidebar[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_tabs_test/st_tabs-sidebar[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_tabs_test/st_tabs-text_input[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_tabs_test/st_tabs-text_input[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_tabs_test/st_tabs-text_input[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_tabs_test/st_tabs-text_input[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_tabs_test/st_tabs-text_input[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_tabs_test/st_tabs-text_input[light_theme-webkit].png
Due: none

Migrate st_tooltips to playwright (#8755)
  e2e/scripts/st_tooltips.py
  e2e/specs/st_tooltips.spec.js
  e2e_playwright/st_checkbox.py
  e2e_playwright/st_checkbox_test.py
  e2e_playwright/st_color_picker_test.py
  e2e_playwright/st_date_input.py
  e2e_playwright/st_date_input_test.py
  e2e_playwright/st_metric_test.py
  e2e_playwright/st_multiselect.py
  e2e_playwright/st_multiselect_test.py
  e2e_playwright/st_number_input.py
  e2e_playwright/st_number_input_test.py
  e2e_playwright/st_radio_test.py
  e2e_playwright/st_select_slider_test.py
  e2e_playwright/st_text_area_test.py
  e2e_playwright/st_time_input_test.py
Due: typecheck, no-relative-imports

Fix flaky slider test by waiting on the result text (#8926)
  e2e_playwright/__snapshots__/linux/st_slider_test/st_slider-time_value[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_slider_test/st_slider-time_value[light_theme-firefox].png
  e2e_playwright/conftest.py
  e2e_playwright/st_slider.py
  e2e_playwright/st_slider_test.py
Due: no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:9577311074
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Add support for numpy 2.x
  lib/setup.py
Due: no-relative-imports

Fix tests
  lib/test-requirements.txt
  lib/tests/streamlit/elements/bokeh_test.py
  lib/tests/streamlit/elements/image_test.py
Due: no-relative-imports

Fix test
  lib/tests/streamlit/elements/bokeh_test.py
Due: no-relative-imports

Add apt update
  .github/workflows/pr-preview.yml
Due: none

Add additional information
  lib/tests/streamlit/elements/bokeh_test.py
Due: no-relative-imports

Add back BGR test
  lib/tests/streamlit/elements/image_test.py
Due: no-relative-imports

Fix test
  lib/tests/streamlit/elements/image_test.py
Due: no-relative-imports

Update arrow js dependency (#8924)
  NOTICES
  frontend/lib/package.json
  frontend/lib/src/dataframes/Quiver.test.ts
  frontend/yarn.lock
Due: prettier, typecheck

Updating constraints. Github run id:9582426564
  constraints-3.12.txt
Due: none

Add support for numpy 2.x (#8940)
  .github/workflows/pr-preview.yml
  lib/setup.py
  lib/test-requirements.txt
  lib/tests/streamlit/elements/bokeh_test.py
  lib/tests/streamlit/elements/image_test.py
Due: no-relative-imports

Updating constraints. Github run id:9583465104
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Set ctx.current_fragment_id in both full script and fragment runs
  e2e_playwright/st_fragments_nested.py
  e2e_playwright/st_fragments_nested_test.py
  lib/streamlit/runtime/fragment.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/tests/streamlit/runtime/fragment_test.py
Due: no-relative-imports

Updating constraints. Github run id:9592754080
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Add separate area_chart test file
  e2e_playwright/st_area_chart.py
  e2e_playwright/st_area_chart_test.py
Due: no-relative-imports

Add separate bar_chart test file
  e2e_playwright/st_bar_chart.py
  e2e_playwright/st_bar_chart_test.py
Due: no-relative-imports

Add separate line_chart test file
  e2e_playwright/st_line_chart.py
  e2e_playwright/st_line_chart_test.py
Due: no-relative-imports

Add separate scatter_chart test file
  e2e_playwright/st_scatter_chart.py
  e2e_playwright/st_scatter_chart_test.py
Due: no-relative-imports

Update links to "Streamlit Components" in README.md
  README.md
Due: none

Add 'apt update' command
  .github/workflows/nightly.yml
Due: none

Update links to "Streamlit Components" in the main README.md (#8947)
  README.md
Due: none

Add 'apt update' command to Nightly Build to fix workflow (#8948)
  .github/workflows/nightly.yml
Due: none

Activate PYI linting rule for improved type linting (#8872)
  .ruff.toml
  e2e_playwright/shared/dataframe_utils.py
  e2e_playwright/st_write.py
Due: no-relative-imports

Up version to 1.36.0
  frontend/app/package.json
  frontend/lib/package.json
  frontend/package.json
  lib/setup.py
Due: no-relative-imports

Set ctx.current_fragment_id in both full script and fragment runs (#8931)
  e2e_playwright/st_fragments_nested.py
  e2e_playwright/st_fragments_nested_test.py
  lib/streamlit/runtime/fragment.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/tests/streamlit/runtime/fragment_test.py
Due: no-relative-imports

Don't immediately remove fragments added by callbacks (#8916)
  lib/streamlit/runtime/fragment.py
  lib/streamlit/runtime/scriptrunner/script_run_context.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/tests/streamlit/runtime/fragment_test.py
Due: no-relative-imports

Refactor test
  e2e_playwright/st_session_state_test.py
Due: no-relative-imports

Fix snapshot naming that i forgot to commit...
  e2e_playwright/__snapshots__/linux/st_tabs_test/st_tabs-date_input[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_tabs_test/st_tabs-date_input[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_tabs_test/st_tabs-date_input[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_tabs_test/st_tabs-date_input[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_tabs_test/st_tabs-date_input[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_tabs_test/st_tabs-date_input[light_theme-webkit].png
  e2e_playwright/st_tabs_test.py
Due: no-relative-imports

Refactor to use stTab
  e2e_playwright/st_tabs_test.py
  frontend/lib/src/components/elements/Tabs/Tabs.tsx
Due: prettier, typecheck, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
