Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Update version and project name in files
  frontend/package.json
  lib/pyproject.toml
  lib/streamlit/version.py
  pyproject.toml
Due: no-relative-imports

chore: automated code quality updates
  patch.py
Due: no-relative-imports

Fix streamlit#11668: avoid converting div attributes
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
Due: prettier, typecheck

Consolidate container pre-allocation paragraphs into single block
  specs/2026-03-05-parallel-fragments/tech-spec.md
Due: none

Address AI review: validate max_workers, convert tests to pytest-style
  lib/streamlit/runtime/fragment.py
  lib/tests/streamlit/runtime/parallel_fragment_coordinator_test.py
Due: no-relative-imports

Extract ParallelFragmentCoordinator into its own module
  lib/streamlit/runtime/fragment.py
  lib/streamlit/runtime/parallel_coordinator.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/streamlit/runtime/scriptrunner_utils/script_run_context.py
  lib/tests/streamlit/runtime/parallel_fragment_coordinator_test.py
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
  lib/tests/streamlit/runtime/scriptrunner_utils/script_run_context_test.py
Due: no-relative-imports

Remove stale-context yield-check tests
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
Due: no-relative-imports

Address review comments: trim comments, extract helper
  lib/streamlit/runtime/parallel_coordinator.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/streamlit/runtime/scriptrunner_utils/script_run_context.py
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
Due: no-relative-imports

Fix lint: move yield_check comment above parameter
  lib/streamlit/runtime/scriptrunner_utils/script_run_context.py
Due: no-relative-imports

feat: Add parallel=True parameter to @st.fragment decorator
  e2e_playwright/st_fragment_parallel.py
  e2e_playwright/st_fragment_parallel_test.py
  lib/streamlit/runtime/fragment.py
  lib/streamlit/runtime/scriptrunner_utils/script_run_context.py
  lib/tests/streamlit/runtime/fragment_test.py
Due: no-relative-imports

fix: resolve CI failures in type checking and E2E tests
  e2e_playwright/st_fragment_parallel_test.py
  lib/streamlit/runtime/fragment.py
Due: no-relative-imports

test: address E2E test gaps for parallel fragments
  e2e_playwright/st_fragment_parallel.py
  e2e_playwright/st_fragment_parallel_test.py
Due: no-relative-imports

docs: add parallel parameter to fragment() docstring
  lib/streamlit/runtime/fragment.py
Due: no-relative-imports

fix: remove E2E tests for unimplemented error/stop behavior
  e2e_playwright/st_fragment_parallel.py
  e2e_playwright/st_fragment_parallel_test.py
Due: no-relative-imports

fix: use bounding box for DOM order verification in E2E test
  e2e_playwright/st_fragment_parallel_test.py
Due: no-relative-imports

docs: add parallel parameter docstring with session_state thread-safety note
  lib/streamlit/runtime/fragment.py
Due: no-relative-imports

Add PR 9 implementation plan for API restrictions during parallel fragment execution
  pr9-api-restrictions-plan.md
Due: none

Warn when shortcut is browser-reserved
  lib/streamlit/elements/form.py
  lib/streamlit/elements/lib/shortcut_utils.py
  lib/streamlit/elements/widgets/button.py
  lib/tests/streamlit/elements/lib/shortcut_utils_test.py
Due: no-relative-imports

[fix] Discover script-level .streamlit/config.toml when st.App runs under uvicorn
  lib/streamlit/web/server/starlette/starlette_app.py
  lib/tests/streamlit/web/server/starlette/starlette_app_test.py
Due: no-relative-imports

Patch _LOGGER directly in shortcut tests
  lib/tests/streamlit/elements/lib/shortcut_utils_test.py
Due: no-relative-imports

Fix flaky chat message E2E test by using local images
  e2e_playwright/st_chat_message.py
  e2e_playwright/static/dog.jpg
Due: no-relative-imports

Update chat message E2E snapshots for local avatar images
  e2e_playwright/__snapshots__/linux/st_chat_message_test/st_chat_message-custom_name_with_url_avatar_and_dataframe[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_chat_message_test/st_chat_message-custom_name_with_url_avatar_and_dataframe[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_chat_message_test/st_chat_message-custom_name_with_url_avatar_and_dataframe[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_chat_message_test/st_chat_message-custom_name_with_url_avatar_and_dataframe[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_chat_message_test/st_chat_message-custom_name_with_url_avatar_and_dataframe[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_chat_message_test/st_chat_message-custom_name_with_url_avatar_and_dataframe[light_theme-webkit].png
Due: none

[fix] Isolate config discovery tests from leaked AppSession listeners
  lib/tests/streamlit/web/server/starlette/starlette_app_test.py
Due: no-relative-imports

Warn once per process for browser-reserved shortcut
  lib/streamlit/elements/lib/shortcut_utils.py
  lib/tests/streamlit/elements/lib/shortcut_utils_test.py
Due: no-relative-imports

Warn on Cmd+PageUp/PageDown for cross-OS coverage
  lib/streamlit/elements/lib/shortcut_utils.py
  lib/tests/streamlit/elements/lib/shortcut_utils_test.py
Due: no-relative-imports

[chore] Document process-global pinning of `_main_script_path`
  lib/streamlit/web/server/starlette/starlette_app.py
Due: no-relative-imports

Apply automatic fixes
  frontend/yarn.lock
Due: none

Apply automatic fixes
  NOTICES
Due: none

fix: update NOTICES and fix download race condition in MermaidChart
  NOTICES
  frontend/lib/src/components/shared/StreamlitMarkdown/MermaidChart.tsx
Due: prettier, typecheck

fix: improve accessibility for number input error UI
  e2e_playwright/st_number_input_test.py
  frontend/lib/src/components/widgets/NumberInput/NumberInput.test.tsx
  frontend/lib/src/components/widgets/NumberInput/NumberInput.tsx
  frontend/lib/src/components/widgets/NumberInput/styled-components.ts
Due: prettier, typecheck, no-relative-imports

fix: address AI review comments for st.skeleton()
  e2e_playwright/st_skeleton.py
  e2e_playwright/st_skeleton_test.py
  frontend/lib/src/components/elements/Skeleton/Skeleton.tsx
  lib/streamlit/elements/lib/skeleton_placeholder.py
  lib/streamlit/elements/skeleton.py
  lib/tests/streamlit/elements/skeleton_test.py
  lib/tests/streamlit/typing/skeleton_types.py
Due: prettier, typecheck, no-relative-imports

Fix help icon when unsafe_allow_html is True in st.markdown
  e2e_playwright/st_markdown.py
  e2e_playwright/st_markdown_test.py
  frontend/lib/src/components/elements/Markdown/Markdown.test.tsx
  frontend/lib/src/components/elements/Markdown/Markdown.tsx
Due: prettier, typecheck, no-relative-imports

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-shimmer_reduced_motion[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-shimmer_reduced_motion[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-shimmer_reduced_motion[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-shimmer_reduced_motion[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-shimmer_reduced_motion[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-unsafe_allow_html_with_help[chromium].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-unsafe_allow_html_with_help[firefox].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-unsafe_allow_html_with_help[webkit].png
Due: none

chore: update NOTICES file after develop merge
  NOTICES
Due: none

Update emojis/material icons
  e2e_playwright/st_alert.py
  frontend/app/src/assets/fonts/MaterialSymbols/MaterialSymbols-Rounded.woff2
  lib/streamlit/material_icon_names.py
Due: no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
