Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! Add streamlit components create command
  lib/streamlit/component_template/__init__.py
  lib/tests/streamlit/web/cli_test.py
Due: no-relative-imports

fix code ql warnings
  frontend/lib/src/components/widgets/FileUploader/UploadFileInfo.ts
  lib/streamlit/elements/file_uploader.py
  lib/streamlit/runtime/memory_uploaded_file_manager.py
Due: prettier, typecheck, no-relative-imports

More fixes
  frontend/.eslintrc.js
  frontend/lib/src/components/shared/FullScreenWrapper/FullScreenWrapper.test.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
  frontend/lib/src/components/widgets/DataFrame/Tooltip.test.tsx
  frontend/lib/src/components/widgets/DataFrame/Tooltip.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/DateTimeCell.test.tsx
Due: prettier, typecheck

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! Add streamlit components create command
  lib/min-constraints-gen.txt
Due: none

Dont use constraints files in python-min-deps.yml workflow in canary builds (#6919)
  .github/workflows/python-min-deps.yml
Due: none

Updating constraints. Github run id:5588011216
  constraints-3.10.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Rename tsconfig.prod.json to tsconfig.build.json
  frontend/lib/package.json
  frontend/lib/tsconfig.build.json
Due: none

Add a new command that builds st-lib with relative pathing named yarn buildLibProd
  frontend/lib/package.json
  frontend/lib/scripts/create.js
  frontend/lib/tsconfig.prod.json
  frontend/package.json
Due: prettier, typecheck

Remove console.log statements
  frontend/lib/scripts/create.js
Due: prettier, typecheck

Remove ensure_relative_imports from js-tests workflow and make completely new workflow as we have two separate yarn build commands
  .github/workflows/build_streamlit_lib.yml
  .github/workflows/js-tests.yml
  Makefile
  scripts/ensure_relative_imports.py
Due: no-relative-imports

Fix ensure_relative_imports github actions
  .github/workflows/build_streamlit_lib_prod.yml
Due: none

Add comment for script and add f string
  scripts/ensure_relative_imports.py
Due: no-relative-imports

Fix script as yarn buildLib doesn't produce relative pathing
  scripts/ensure_relative_imports.py
Due: no-relative-imports

Rename js_test to ensure_relative_imports job
  .github/workflows/build_streamlit_lib_prod.yml
Due: none

Rename ensure_relative_import to check as it's extra long and repetitive
  .github/workflows/build_streamlit_lib_prod.yml
Due: none

Add missing label to time widget id
  lib/streamlit/elements/time_widgets.py
Due: no-relative-imports

Add e2e test for markdown in label options
  e2e/scripts/st_radio.py
  e2e/specs/st_radio.spec.js
Due: typecheck, no-relative-imports

First pass & test re-write
  frontend/lib/src/components/shared/Radio/Radio.test.tsx
  frontend/lib/src/components/shared/Radio/Radio.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/styled-components.ts
  frontend/lib/src/components/widgets/Checkbox/Checkbox.tsx
  frontend/lib/src/components/widgets/Radio/Radio.test.tsx
Due: prettier, typecheck

Replace snapshots
  frontend/cypress/snapshots/linux/2x/st_radio.spec.js/radio10-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_radio.spec.js/radio10.snap.png
  frontend/cypress/snapshots/linux/2x/st_radio.spec.js/radio8-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_radio.spec.js/radio8.snap.png
  frontend/cypress/snapshots/linux/2x/st_radio.spec.js/radio9-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_radio.spec.js/radio9.snap.png
Due: none

Fix types in type_util
  lib/streamlit/elements/arrow_altair.py
  lib/streamlit/type_util.py
Due: no-relative-imports

Dont copy the actual source code for ts files in vendor as that causes breakage for @streamlit/lib users
  frontend/lib/package.json
Due: none

Add one stop shop command to build prod @streamlit/lib and change github actions accordingingly
  .github/workflows/build_streamlit_lib_prod.yml
  Makefile
Due: none

Removin unnecessary DF cloning, and add test to ensure we're not mutating the orig DF.
  lib/streamlit/elements/arrow_altair.py
  lib/tests/streamlit/elements/arrow_altair_test.py
  lib/tests/testutil.py
Due: no-relative-imports

Make a new command and fix the github actions
  .github/workflows/build_streamlit_lib_prod.yml
  Makefile
Due: none

Fix tests in latest Pandas and Arrow.
  lib/tests/streamlit/elements/arrow_altair_test.py
Due: no-relative-imports

Revert st_arrow_add_rows test to avoid too many changes in this PR. Will land in another PR.
  e2e/scripts/st_arrow_add_rows.py
Due: no-relative-imports

Remove snaps that should be regenerated.
  frontend/cypress/snapshots/linux/2x/st_arrow_chart_utc_time.spec.js/arrowChartUTCTime-0.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_chart_utc_time.spec.js/arrowChartUTCTime-1.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_chart_utc_time.spec.js/arrowChartUTCTime-2.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_line_chart_add_rows_special.spec.js/arrowLineChartAddRows-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_line_chart_add_rows_special.spec.js/arrowLineChartAddRows.snap.png
  frontend/cypress/snapshots/linux/2x/st_nested_columns_1.spec.js/nested_columns_1_0-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_nested_columns_1.spec.js/nested_columns_1_0.snap.png
  frontend/cypress/snapshots/linux/2x/st_nested_columns_1.spec.js/nested_columns_1_8-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_nested_columns_1.spec.js/nested_columns_1_8.snap.png
Due: none

Simplify logic in streamlit-lib-prod
  Makefile
Due: none

Early generate ids for custom components and file uploader
  lib/streamlit/components/v1/components.py
  lib/streamlit/elements/file_uploader.py
Due: no-relative-imports

Generate id for data editor
  lib/streamlit/elements/data_editor.py
Due: no-relative-imports

Fix and simplify keyed widget id test
  lib/tests/streamlit/delta_generator_test.py
Due: no-relative-imports

Update other deltagen widget id tests
  lib/tests/streamlit/delta_generator_test.py
Due: no-relative-imports

Warn about fallback widget id generation
  lib/streamlit/runtime/state/widgets.py
Due: no-relative-imports

Concision
  lib/streamlit/runtime/state/common.py
Due: no-relative-imports

Add e2e test coverage
  e2e/scripts/st_button.py
  e2e/scripts/st_download_button.py
  e2e/scripts/st_form_use_container_width_submit_button.py
  e2e/specs/st_button.spec.js
  e2e/specs/st_download_button.spec.js
  e2e/specs/st_form_use_container_width_submit_button.spec.js
Due: typecheck, no-relative-imports

Add/update FE tests
  frontend/app/src/components/StreamlitDialog/__snapshots__/StreamlitDialog.test.tsx.snap
  frontend/lib/src/components/widgets/Button/Button.test.tsx
  frontend/lib/src/components/widgets/DownloadButton/DownloadButton.test.tsx
  frontend/lib/src/components/widgets/Form/FormSubmitButton.test.tsx
Due: prettier, typecheck

First pass - use_container_width + help
  frontend/lib/src/components/shared/BaseButton/styled-components.ts
  frontend/lib/src/components/widgets/Button/Button.tsx
  frontend/lib/src/components/widgets/DownloadButton/DownloadButton.tsx
  frontend/lib/src/components/widgets/Form/FormSubmitButton.tsx
Due: prettier, typecheck

Fix e2e tests, convert FE tests to RTL & remove buttons snaps
  e2e/scripts/st_button.py
  e2e/specs/st_button.spec.js
  e2e/specs/st_download_button.spec.js
  e2e/specs/st_form_use_container_width_submit_button.spec.js
  frontend/app/src/components/StreamlitDialog/__snapshots__/StreamlitDialog.test.tsx.snap
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/button-widget-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/button-widget.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/disabled-button-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/disabled-button.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/disabled-primary-button-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/disabled-primary-button.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/primary-button-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/primary-button.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/stretched_buttons_0-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/stretched_buttons_0.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/stretched_buttons_1-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/stretched_buttons_1.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/stretched_buttons_2-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/stretched_buttons_2.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/stretched_buttons_3-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/stretched_buttons_3.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/use-container-width-button-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_button.spec.js/use-container-width-button.snap.png
  frontend/cypress/snapshots/linux/2x/st_download_button.spec.js/disabled-download-button-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_download_button.spec.js/disabled-download-button.snap.png
  frontend/cypress/snapshots/linux/2x/st_download_button.spec.js/download-button-widget-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_download_button.spec.js/download-button-widget.snap.png
  frontend/cypress/snapshots/linux/2x/st_download_button.spec.js/use-container-width-button-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_download_button.spec.js/use-container-width-button.snap.png
  frontend/cypress/snapshots/linux/2x/st_form_use_container_width_submit_button.spec.js/use-container-width-submit-form-button-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_form_use_container_width_submit_button.spec.js/use-container-width-submit-form-button.snap.png
  frontend/lib/src/components/shared/BaseButton/BaseButton.test.tsx
  frontend/lib/src/components/shared/BaseButton/BaseButton.tsx
  frontend/lib/src/components/widgets/Button/Button.test.tsx
  frontend/lib/src/components/widgets/Button/Button.tsx
  frontend/lib/src/components/widgets/DownloadButton/DownloadButton.test.tsx
  frontend/lib/src/components/widgets/DownloadButton/DownloadButton.tsx
  frontend/lib/src/components/widgets/Form/FormSubmitButton.test.tsx
Due: prettier, typecheck, no-relative-imports

Remove git hash from output file name
  lib/conda-recipe/meta.yaml
Due: none
