Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Move `dg_stack` into a `ContextVar` to support `with` blocks in separate threads (#7715)
  lib/streamlit/delta_generator.py
  lib/streamlit/elements/form.py
  lib/streamlit/runtime/scriptrunner/script_run_context.py
  lib/tests/streamlit/delta_generator_test.py
Due: no-relative-imports

temp fix mypy upper bound, to avoid broken CI (#7713)
  lib/dev-requirements.txt
Due: none

Remove unnecessary PIL dependency in st.image docstring (#7728)
  lib/streamlit/elements/image.py
Due: no-relative-imports

Poll for script completion much more often in AppTest (#7691)
  lib/streamlit/testing/v1/local_script_runner.py
Due: no-relative-imports

Improved AppTest/ElementTree formatting (#7658)
  lib/streamlit/testing/v1/app_test.py
  lib/streamlit/testing/v1/element_tree.py
Due: no-relative-imports

Add exhaustive proto stability tests (#7635)
  lib/tests/streamlit/proto_compatibility_test.py
  proto/streamlit/proto/Alert.proto
  proto/streamlit/proto/AppPage.proto
  proto/streamlit/proto/Exception.proto
  proto/streamlit/proto/NewSession.proto
  proto/streamlit/proto/ParentMessage.proto
  proto/streamlit/proto/SessionStatus.proto
Due: no-relative-imports

Migrate one more file_uploader test to playwright to verify that file_uploader doesn't call callback when not changed. (#7676)
  e2e_playwright/st_file_uploader_test.py
Due: no-relative-imports

Use "loading skeletons" throughout Streamlit (#7598)
  e2e/scripts/staticfiles_apps/streamlit_static_app.py
  e2e/specs/st_arrow_unevaluated_pyspark_dataframe.spec.js
  e2e/specs/st_arrow_unevaluated_snowpark_dataframe.spec.js
  e2e/specs/staticfiles_app.spec.js
  frontend/app/src/App.tsx
  frontend/app/src/StreamlitLib.test.tsx
  frontend/app/src/ThemedApp.test.tsx
  frontend/app/src/components/AppView/AppView.test.tsx
  frontend/cypress/support/commands.js
  frontend/hostframe.html
  frontend/lib/src/AppNode.test.ts
  frontend/lib/src/AppNode.ts
  frontend/lib/src/components/core/Block/ElementNodeRenderer.test.tsx
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/core/Block/styled-components.ts
  frontend/lib/src/components/elements/DeckGlJsonChart/withMapboxToken/withMapboxToken.test.tsx
  frontend/lib/src/components/elements/DeckGlJsonChart/withMapboxToken/withMapboxToken.tsx
  frontend/lib/src/components/elements/Skeleton/AppSkeleton.test.tsx
  frontend/lib/src/components/elements/Skeleton/AppSkeleton.tsx
  frontend/lib/src/components/elements/Skeleton/Skeleton.test.tsx
  frontend/lib/src/components/elements/Skeleton/Skeleton.tsx
  frontend/lib/src/components/elements/Skeleton/index.tsx
  frontend/lib/src/components/elements/Skeleton/styled-components.ts
  frontend/lib/src/hostComm/HostCommunicationManager.test.tsx
  frontend/lib/src/mocks/mockTheme.ts
  frontend/lib/src/theme/emotionBaseTheme/themeColors.ts
  frontend/lib/src/theme/utils.ts
  frontend/lib/src/util/utils.test.ts
  frontend/lib/src/util/utils.ts
  lib/tests/streamlit/proto_compatibility_test.py
  proto/streamlit/proto/Element.proto
  proto/streamlit/proto/NewSession.proto
  proto/streamlit/proto/Skeleton.proto
Due: prettier, typecheck, no-relative-imports

Migrate Selectbox to RTL (#7673)
  frontend/lib/src/components/shared/Dropdown/Selectbox.test.tsx
Due: prettier, typecheck

Allow a service managing a Streamlit runtime to set its own session IDs (#7544)
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/runtime.py
  lib/streamlit/runtime/session_manager.py
  lib/streamlit/runtime/websocket_session_manager.py
  lib/tests/streamlit/runtime/app_session_test.py
  lib/tests/streamlit/runtime/runtime_test.py
  lib/tests/streamlit/runtime/runtime_test_case.py
  lib/tests/streamlit/runtime/websocket_session_manager_test.py
Due: no-relative-imports

RTL Test Conversions (#7654)
  frontend/lib/src/components/core/ThemeProvider.tsx
  frontend/lib/src/components/core/ThemeProvider/ThemeProvider.test.tsx
  frontend/lib/src/components/core/ThemeProvider/index.tsx
  frontend/lib/src/components/widgets/FileUploader/UploadedFile.test.tsx
  frontend/lib/src/components/widgets/FileUploader/UploadedFile.tsx
  frontend/lib/src/components/widgets/TextArea/TextArea.test.tsx
  frontend/lib/src/components/widgets/TextInput/TextInput.test.tsx
Due: prettier, typecheck

Add Python 3.12 support (#7663)
  .github/scripts/build_info.py
  .pre-commit-config.yaml
  lib/setup.py
  lib/streamlit/external/langchain/streamlit_callback_handler.py
  lib/test-requirements.txt
  lib/tests/streamlit/elements/map_test.py
  lib/tests/streamlit/external/langchain/streamlit_callback_handler_test.py
  lib/tests/streamlit/runtime/legacy_caching/hashing_test.py
  lib/tests/streamlit/runtime/scriptrunner/script_cache_test.py
Due: no-relative-imports

Use slightly larger top padding for better toolbar handling (#7681)
  e2e/specs/embedded_chat_input_app.js
  frontend/app/src/components/AppView/styled-components.ts
  frontend/cypress/snapshots/linux/2x/iframe_resizer.spec.js/embedded_iframe.snap.png
  frontend/cypress/snapshots/linux/2x/iframe_resizer.spec.js/embedded_iframe_expanded.snap.png
Due: prettier, typecheck

Release Streamlit version 1.28.2 (#7716)
  frontend/app/package.json
  frontend/lib/package.json
  frontend/package.json
  lib/setup.py
Due: no-relative-imports

Replace deprecated `find_executable` from `distutils.spawn` with recommended `which` from `shutil` (#7756)
  lib/streamlit/env_util.py
Due: no-relative-imports

Fix how connection is declared for typing purposes (#7671)
  lib/streamlit/__init__.py
Due: no-relative-imports

add app_heartbeat BackMsg type and send it when receiving SEND_APP_HEARTBEAT window message (#7682)
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  frontend/lib/src/hostComm/HostCommunicationManager.test.tsx
  frontend/lib/src/hostComm/HostCommunicationManager.tsx
  lib/streamlit/runtime/app_session.py
  lib/tests/streamlit/runtime/app_session_test.py
  proto/streamlit/proto/BackMsg.proto
Due: prettier, typecheck, no-relative-imports

Preload the correct font for semi bold (#7786)
  frontend/app/public/index.html
  frontend/app/src/FontPreload.test.tsx
Due: prettier, typecheck

Fix playwright port selection (#7861)
  e2e_playwright/conftest.py
Due: no-relative-imports

Send Rerun message also for newly created pages (#7806)
  lib/streamlit/runtime/app_session.py
  lib/streamlit/watcher/local_sources_watcher.py
  lib/tests/streamlit/watcher/local_sources_watcher_test.py
Due: no-relative-imports

Fix parenthesis error messaging (#7770)
  lib/streamlit/testing/v1/local_script_runner.py
Due: no-relative-imports

Up version to 1.29.0 (#7789)
  frontend/app/package.json
  frontend/lib/package.json
  frontend/package.json
  lib/setup.py
Due: no-relative-imports

Add config option for storing messages content in ForwardMsgCache (#7799)
  lib/streamlit/config.py
  lib/streamlit/runtime/forward_msg_cache.py
  lib/streamlit/web/server/routes.py
  lib/tests/streamlit/config_test.py
  lib/tests/streamlit/runtime/forward_msg_cache_test.py
Due: no-relative-imports

Migrate ThemeCreatorDialog to RTL (#7804)
  frontend/app/src/components/StreamlitDialog/ThemeCreatorDialog.test.tsx
  frontend/app/src/components/StreamlitDialog/ThemeCreatorDialog.tsx
  frontend/app/src/components/StreamlitDialog/__snapshots__/ThemeCreatorDialog.test.tsx.snap
Due: prettier, typecheck

Fix iframe background for dark color scheme (#7821)
  e2e/scripts/components_html.py
  e2e/scripts/components_iframe.py
  e2e/specs/components_declare_component.spec.js
  e2e/specs/components_html.spec.js
  e2e/specs/components_iframe.spec.js
  e2e_playwright/__snapshots__/linux/st_components_v1_test/st_components-html[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_components_v1_test/st_components-html[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_components_v1_test/st_components-html[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_components_v1_test/st_components-html[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_components_v1_test/st_components-html[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_components_v1_test/st_components-html[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_components_v1_test/st_components-iframe[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_components_v1_test/st_components-iframe[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_components_v1_test/st_components-iframe[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_components_v1_test/st_components-iframe[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_components_v1_test/st_components-iframe[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_components_v1_test/st_components-iframe[light_theme-webkit].png
  e2e_playwright/st_components_v1.py
  e2e_playwright/st_components_v1_test.py
  frontend/lib/src/components/elements/IFrame/IFrame.tsx
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
  frontend/lib/src/components/elements/PlotlyChart/__snapshots__/PlotlyChart.test.tsx.snap
  frontend/lib/src/components/elements/Video/Video.tsx
  frontend/lib/src/components/elements/Video/__snapshots__/Video.test.tsx.snap
  frontend/lib/src/components/widgets/CustomComponent/ComponentInstance.tsx
Due: prettier, typecheck, no-relative-imports

Convert fullscreen (#7824)
  e2e_playwright/st_dataframe_interactions_test.py
  frontend/lib/src/components/shared/FullScreenWrapper/FullScreenWrapper.tsx
  frontend/lib/src/components/shared/FullScreenWrapper/withFullScreenWrapper.test.tsx
Due: prettier, typecheck, no-relative-imports

Add Pandas styler support to `LinkColumn` (#7784)
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-link_column[chromium].png
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-link_column[firefox].png
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-link_column[webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[light_theme-webkit].png
  e2e_playwright/st_data_editor_config.py
  e2e_playwright/st_dataframe_config.py
  e2e_playwright/st_dataframe_styler_support.py
  e2e_playwright/st_dataframe_styler_support_test.py
  frontend/lib/src/components/widgets/DataFrame/arrowUtils.ts
  frontend/lib/src/components/widgets/DataFrame/columns/LinkColumn.test.ts
  frontend/lib/src/components/widgets/DataFrame/columns/LinkColumn.ts
  frontend/lib/src/components/widgets/DataFrame/columns/index.ts
  lib/streamlit/elements/lib/column_types.py
Due: prettier, typecheck, no-relative-imports

Remove Enzyme from Slider Tests (#7757)
  frontend/lib/src/components/widgets/Slider/Slider.test.tsx
Due: prettier, typecheck

Remove numpy.ndarray from list of supported types from docstring (#7832)
  lib/streamlit/elements/map.py
Due: no-relative-imports

Migrate CameraInput to RTL (#7803)
  frontend/lib/src/components/widgets/CameraInput/CameraInput.test.tsx
  frontend/lib/src/components/widgets/CameraInput/CameraInput.tsx
  frontend/lib/src/components/widgets/CameraInput/SwitchFacingModeButton.tsx
  frontend/lib/src/components/widgets/CameraInput/WebcamComponent.test.tsx
  frontend/lib/src/components/widgets/CameraInput/WebcamComponent.tsx
Due: prettier, typecheck

Remove Enzyme from Plotly Charts (#7761)
  frontend/lib/jest.config.js
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.test.tsx
  frontend/lib/src/components/elements/PlotlyChart/__snapshots__/PlotlyChart.test.tsx.snap
  frontend/lib/src/setupTestEnv.js
Due: prettier, typecheck

Revamp the `LinkColumn` with clickable links and support for display values (#7741)
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-link_column[chromium].png
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-link_column[firefox].png
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-link_column[webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[light_theme-webkit].png
  e2e_playwright/st_dataframe_config.py
  frontend/lib/src/components/widgets/DataFrame/columns/LinkColumn.test.ts
  frontend/lib/src/components/widgets/DataFrame/columns/LinkColumn.ts
  frontend/lib/src/components/widgets/DataFrame/columns/cells/LinkCell.test.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/LinkCell.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/UriOverlayEditor.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/uri-overlay-editor-style.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/index.ts
  frontend/lib/src/components/widgets/DataFrame/columns/utils.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useDataEditor.ts
  lib/streamlit/elements/lib/column_types.py
  lib/tests/streamlit/elements/lib/column_types_test.py
Due: prettier, typecheck, no-relative-imports

Add support for scroll container via the `height` parameter (#7697)
  e2e_playwright/__snapshots__/linux/st_container_test/st_container-scroll_container[chromium].png
  e2e_playwright/__snapshots__/linux/st_container_test/st_container-scroll_container[firefox].png
  e2e_playwright/__snapshots__/linux/st_container_test/st_container-scroll_container[webkit].png
  e2e_playwright/__snapshots__/linux/st_container_test/st_container-scroll_container_chat[chromium].png
  e2e_playwright/__snapshots__/linux/st_container_test/st_container-scroll_container_chat[firefox].png
  e2e_playwright/__snapshots__/linux/st_container_test/st_container-scroll_container_chat[webkit].png
  e2e_playwright/__snapshots__/linux/st_container_test/st_container-scroll_container_empty[chromium].png
  e2e_playwright/__snapshots__/linux/st_container_test/st_container-scroll_container_empty[firefox].png
  e2e_playwright/__snapshots__/linux/st_container_test/st_container-scroll_container_empty[webkit].png
  e2e_playwright/st_container.py
  e2e_playwright/st_container_test.py
  frontend/lib/src/components/core/Block/Block.test.tsx
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/core/Block/styled-components.ts
  lib/streamlit/elements/layouts.py
  lib/tests/streamlit/layouts_test.py
  proto/streamlit/proto/Block.proto
Due: prettier, typecheck, no-relative-imports

Fix typing issues with altair (#7769)
  lib/streamlit/elements/arrow_altair.py
  lib/streamlit/type_util.py
  lib/test-requirements.txt
Due: no-relative-imports

Fix handling of ordinal columns for builtin-charts (#7771)
  lib/streamlit/type_util.py
  lib/tests/streamlit/elements/arrow_altair_test.py
Due: no-relative-imports

Migrate Maybe Component to RTL (#7805)
  frontend/lib/src/components/core/Maybe/Maybe.test.tsx
Due: prettier, typecheck

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
