Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

[chore] Modernize DeployButton.tsx
  frontend/app/src/components/DeployButton/DeployButton.tsx
Due: prettier, typecheck

Fix issue #9198: Add 🚫 icon for disconnected websocket
  frontend/app/src/components/Sidebar/SidebarNav.tsx
  frontend/app/src/components/Sidebar/styled-components.ts
Due: prettier, typecheck

Remove async/await in act() when not necessary.
  frontend/lib/src/components/elements/DeckGlJsonChart/DeckGlJsonChart.test.tsx
  frontend/lib/src/components/widgets/Checkbox/Checkbox.test.tsx
  frontend/lib/src/components/widgets/ColorPicker/ColorPicker.test.tsx
  frontend/lib/src/components/widgets/NumberInput/NumberInput.test.tsx
  frontend/lib/src/components/widgets/Radio/Radio.test.tsx
  frontend/lib/src/components/widgets/Selectbox/Selectbox.test.tsx
  frontend/lib/src/components/widgets/Slider/Slider.test.tsx
  frontend/lib/src/components/widgets/TextArea/TextArea.test.tsx
  frontend/lib/src/components/widgets/TextInput/TextInput.test.tsx
Due: prettier, typecheck

[Fix] MPA page layout (#9479)
  e2e_playwright/__snapshots__/linux/mpa_basics_test/mpa-sidebar_nav[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/mpa_basics_test/mpa-sidebar_nav[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/mpa_basics_test/mpa-sidebar_nav[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/mpa_basics_test/mpa-sidebar_nav[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/mpa_basics_test/mpa-sidebar_nav[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/mpa_basics_test/mpa-sidebar_nav[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/mpa_basics_test/mpa-sidebar_nav_expanded[chromium].png
  e2e_playwright/__snapshots__/linux/mpa_basics_test/mpa-sidebar_nav_expanded[firefox].png
  e2e_playwright/__snapshots__/linux/mpa_basics_test/mpa-sidebar_nav_expanded[webkit].png
  e2e_playwright/multipage_apps/mpa_layout.py
  e2e_playwright/multipage_apps/mpa_layout_test.py
  e2e_playwright/multipage_apps/pages/14_default_layout_page.py
  e2e_playwright/multipage_apps/pages/15_wide_layout_page.py
  e2e_playwright/multipage_apps/pages/16_dynamic_layout_page.py
  e2e_playwright/multipage_apps_v2/mpa_v2_layout.py
  e2e_playwright/multipage_apps_v2/mpa_v2_layout_test.py
  frontend/app/src/App.tsx
Due: prettier, typecheck, no-relative-imports

Create ourproject
  ourproject
Due: none

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:11191166578
  constraints-3.12.txt
Due: none

Rename SegmentMetricsMgr -> MetricsMgr
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  frontend/app/src/MetricsManager.test.ts
  frontend/app/src/MetricsManager.ts
  frontend/app/src/components/MainMenu/MainMenu.test.tsx
  frontend/app/src/components/MainMenu/MainMenu.tsx
  frontend/app/src/components/StreamlitDialog/DeployDialog/DeployDialog.tsx
  frontend/app/src/components/StreamlitDialog/SettingsDialog.test.tsx
  frontend/app/src/components/StreamlitDialog/SettingsDialog.tsx
  frontend/app/src/components/ToolbarActions/ToolbarActions.test.tsx
  frontend/app/src/components/ToolbarActions/ToolbarActions.tsx
Due: prettier, typecheck

Updating constraints. Github run id:11199672954
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Updating constraints. Github run id:11210015389
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Revert "Hide st.pills command for now (#9526)"
  e2e_playwright/st_pills.py
  lib/streamlit/__init__.py
  lib/streamlit/elements/widgets/button_group.py
  lib/tests/streamlit/element_mocks.py
  lib/tests/streamlit/elements/button_group_test.py
  lib/tests/streamlit/runtime/state/widgets_test.py
  lib/tests/streamlit/streamlit_test.py
Due: no-relative-imports

Remove unused RerunDialog
  frontend/app/src/components/StreamlitDialog/StreamlitDialog.tsx
  frontend/app/src/components/StreamlitDialog/styled-components.ts
Due: prettier, typecheck

Use our own ModalProps
  frontend/app/src/components/StreamlitDialog/DeployDialog/DeployDialog.tsx
  frontend/app/src/components/StreamlitDialog/DeployDialog/DeployModal.tsx
  frontend/lib/src/components/elements/Dialog/Dialog.tsx
  frontend/lib/src/components/shared/Modal/Modal.test.tsx
  frontend/lib/src/components/shared/Modal/Modal.tsx
  frontend/lib/src/theme/types.ts
Due: prettier, typecheck

Update hardcoded theme values
  frontend/app/src/components/StatusWidget/styled-components.ts
  frontend/app/src/components/StreamlitDialog/DeployDialog/DeployDialog.tsx
  frontend/app/src/components/StreamlitDialog/styled-components.ts
  frontend/app/src/hocs/withScreencast/components/UnsupportedBrowserDialog/styled-components.ts
Due: prettier, typecheck

Update hardcoded theme values
  e2e_playwright/__snapshots__/linux/deploy_dialog_test/deploy_dialog[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/deploy_dialog_test/deploy_dialog[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/deploy_dialog_test/deploy_dialog[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/deploy_dialog_test/deploy_dialog[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/deploy_dialog_test/deploy_dialog[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/deploy_dialog_test/deploy_dialog[light_theme-webkit].png
  e2e_playwright/deploy_dialog_test.py
  frontend/app/src/components/StreamlitDialog/DeployDialog/DeployCard.tsx
  frontend/app/src/components/StreamlitDialog/DeployDialog/DeployDialog.tsx
Due: prettier, typecheck, no-relative-imports

Move logic to wait for images to be loaded to the shared app utils
  e2e_playwright/deploy_dialog_test.py
  e2e_playwright/shared/app_utils.py
Due: no-relative-imports

Rename table to small in lineHeights
  frontend/app/src/components/Sidebar/styled-components.ts
  frontend/app/src/components/StreamlitDialog/styled-components.ts
  frontend/lib/src/components/elements/ArrowTable/styled-components.ts
  frontend/lib/src/theme/primitives/typography.ts
Due: prettier, typecheck

Add docstring for st.pills
  lib/streamlit/elements/widgets/button_group.py
Due: no-relative-imports

Consolidate all lineHeights '1.5' properties
  frontend/lib/src/components/shared/AlertContainer/AlertContainer.tsx
  frontend/lib/src/components/shared/Modal/Modal.tsx
  frontend/lib/src/theme/primitives/typography.ts
Due: prettier, typecheck

Replace some hardcoded style values with theme values (#9605)
  e2e_playwright/__snapshots__/linux/deploy_dialog_test/deploy_dialog[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/deploy_dialog_test/deploy_dialog[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/deploy_dialog_test/deploy_dialog[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/deploy_dialog_test/deploy_dialog[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/deploy_dialog_test/deploy_dialog[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/deploy_dialog_test/deploy_dialog[light_theme-webkit].png
  e2e_playwright/deploy_dialog_test.py
  e2e_playwright/shared/app_utils.py
  frontend/app/src/components/Sidebar/styled-components.ts
  frontend/app/src/components/StatusWidget/styled-components.ts
  frontend/app/src/components/StreamlitDialog/DeployDialog/DeployCard.tsx
  frontend/app/src/components/StreamlitDialog/DeployDialog/DeployDialog.tsx
  frontend/app/src/components/StreamlitDialog/DeployDialog/DeployModal.tsx
  frontend/app/src/components/StreamlitDialog/StreamlitDialog.tsx
  frontend/app/src/components/StreamlitDialog/styled-components.ts
  frontend/app/src/hocs/withScreencast/components/UnsupportedBrowserDialog/styled-components.ts
  frontend/lib/src/components/elements/ArrowTable/styled-components.ts
  frontend/lib/src/components/elements/Dialog/Dialog.tsx
  frontend/lib/src/components/shared/AlertContainer/AlertContainer.tsx
  frontend/lib/src/components/shared/Modal/Modal.test.tsx
  frontend/lib/src/components/shared/Modal/Modal.tsx
  frontend/lib/src/theme/primitives/typography.ts
  frontend/lib/src/theme/types.ts
Due: prettier, typecheck, no-relative-imports

Move max tooltip width to theme
  frontend/lib/src/components/elements/ArrowVegaLiteChart/ArrowVegaLiteChart.tsx
  frontend/lib/src/components/elements/ArrowVegaLiteChart/styled-components.ts
  frontend/lib/src/theme/primitives/sizes.ts
Due: prettier, typecheck

Add comment
  frontend/lib/src/components/elements/ArrowVegaLiteChart/styled-components.ts
Due: prettier, typecheck

Fix comments
  frontend/lib/src/components/elements/ArrowVegaLiteChart/styled-components.ts
Due: prettier, typecheck

Refactor vega chart tooltip CSS (#9587)
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-tooltip_styling[chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-tooltip_styling[firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-tooltip_styling[webkit].png
  e2e_playwright/st_altair_chart_test.py
  frontend/lib/src/assets/css/vega-tooltip.css
  frontend/lib/src/assets/css/vega-tooltip.scss
  frontend/lib/src/components/elements/ArrowVegaLiteChart/ArrowVegaLiteChart.tsx
  frontend/lib/src/components/elements/ArrowVegaLiteChart/styled-components.ts
  frontend/lib/src/theme/globalStyles.ts
  frontend/lib/src/theme/primitives/sizes.ts
  frontend/lib/src/theme/primitives/zIndices.ts
Due: prettier, typecheck, no-relative-imports

feat: refine date_input to ensure consistent and accurate return types
  lib/streamlit/elements/widgets/time_widgets.py
  lib/tests/streamlit/typing/date_input_types.py
Due: no-relative-imports

use helper
  frontend/lib/src/components/widgets/Form/FormClearHelper.ts
  frontend/lib/src/hooks/useWidgetManagerElementState.tsx
Due: prettier, typecheck

and use callback here
  frontend/lib/src/hooks/useWidgetManagerElementState.tsx
Due: prettier, typecheck

test
  e2e_playwright/st_text.py
  e2e_playwright/st_text_test.py
Due: no-relative-imports

add back escape char
  e2e_playwright/st_text.py
  e2e_playwright/st_text_test.py
Due: no-relative-imports

un-optionalizing things
  frontend/lib/src/components/widgets/Form/FormClearHelper.ts
  frontend/lib/src/hooks/useWidgetManagerElementState.tsx
Due: prettier, typecheck

[chore] Modernize Multiselect code
  frontend/lib/src/components/widgets/Multiselect/Multiselect.test.tsx
  frontend/lib/src/components/widgets/Multiselect/Multiselect.tsx
Due: prettier, typecheck

[chore] Modernize TextArea code
  frontend/lib/src/components/widgets/TextArea/TextArea.test.tsx
  frontend/lib/src/components/widgets/TextArea/TextArea.tsx
  frontend/lib/src/useBasicWidgetState.ts
Due: prettier, typecheck

renaming 1
  e2e_playwright/st_segmented_control.py
  e2e_playwright/st_segmented_control_test.py
  frontend/lib/src/components/shared/BaseButton/BaseButton.tsx
  frontend/lib/src/components/shared/BaseButton/styled-components.ts
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.tsx
  lib/streamlit/elements/widgets/button_group.py
  proto/streamlit/proto/ButtonGroup.proto
Due: prettier, typecheck, no-relative-imports

remove comment
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.tsx
Due: prettier, typecheck

renaming 2
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.test.tsx
  lib/tests/streamlit/elements/button_group_test.py
Due: prettier, typecheck, no-relative-imports

fix test
  e2e_playwright/st_segmented_control.py
Due: no-relative-imports

more fixes
  lib/streamlit/__init__.py
  lib/tests/streamlit/element_mocks.py
  lib/tests/streamlit/runtime/state/widgets_test.py
Due: no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
