Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Disallow setting embed query param using set_query_param method
  lib/streamlit/commands/query_params.py
  lib/streamlit/util.py
  lib/tests/streamlit/streamlit_test.py
  lib/tests/streamlit/util_test.py
Due: no-relative-imports

use join instead of string formatting
  lib/streamlit/commands/query_params.py
Due: no-relative-imports

fix empty ampersand
  lib/streamlit/commands/query_params.py
Due: no-relative-imports

cleanup and refactor the code
  lib/streamlit/commands/query_params.py
  lib/streamlit/util.py
  lib/tests/streamlit/util_test.py
Due: no-relative-imports

Add new e2e tests
  e2e/scripts/multipage_apps/pages/06_page_6.py
  e2e/scripts/multipage_apps/pages/07_page_7.py
  e2e/specs/multipage_apps.spec.js
  frontend/cypress/snapshots/linux/2x/multipage_apps.spec.js/multipage-apps-sidebar-nav-dark.snap.png
  frontend/cypress/snapshots/linux/2x/multipage_apps.spec.js/multipage-apps-sidebar-nav.snap.png
Due: typecheck, no-relative-imports

Add support for st.modal
  frontend/src/App.tsx
  frontend/src/components/core/AppView/AppView.test.tsx
  frontend/src/components/core/AppView/AppView.tsx
  frontend/src/components/core/Block/Block.tsx
  frontend/src/components/core/Block/ElementNodeRenderer.test.tsx
  frontend/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/src/components/core/Block/utils.ts
  frontend/src/components/core/StreamlitDialog/__snapshots__/StreamlitDialog.test.tsx.snap
  frontend/src/components/elements/Alert/Alert.tsx
  frontend/src/components/elements/Alert/styled-components.tsx
  frontend/src/components/elements/ExceptionElement/__snapshots__/ExceptionElement.test.tsx.snap
  frontend/src/components/shared/AlertContainer/AlertContainer.tsx
  frontend/src/components/shared/AlertContainer/styled-components.ts
  frontend/src/components/shared/Button/Button.tsx
  frontend/src/components/shared/Button/styled-components.ts
  frontend/src/components/shared/Modal/Modal.tsx
  frontend/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
  frontend/src/components/shared/StreamlitMarkdown/styled-components.ts
  frontend/src/components/widgets/Form/FormSubmitButton.tsx
  frontend/src/components/widgets/Form/styled-components.ts
  frontend/src/components/widgets/Modal/Modal.tsx
  frontend/src/components/widgets/Modal/index.tsx
  frontend/src/theme/primitives/zIndices.ts
  frontend/src/theme/utils.ts
  lib/streamlit/__init__.py
  lib/streamlit/delta_generator.py
  lib/streamlit/elements/button.py
  lib/streamlit/elements/form.py
  lib/streamlit/elements/modal.py
  lib/streamlit/runtime/app_session.py
  lib/tests/streamlit/delta_generator_test.py
  lib/tests/streamlit/streamlit_test.py
  proto/streamlit/proto/AlertTypeMessage.proto
  proto/streamlit/proto/BackMsg.proto
  proto/streamlit/proto/Block.proto
  proto/streamlit/proto/Button.proto
  proto/streamlit/proto/ForwardMsg.proto
  proto/streamlit/proto/UpdateModalStateEvent.proto
Due: prettier, typecheck, eslint, no-relative-imports

Apply some changes
  frontend/package.json
  frontend/src/components/widgets/DataFrame/columns/DateTimeColumn.ts
  frontend/src/components/widgets/DataFrame/columns/index.ts
  frontend/src/components/widgets/DataFrame/columns/utils.ts
  frontend/src/components/widgets/DataFrame/customCells/DatePickerCell.tsx
  frontend/yarn.lock
Due: prettier, typecheck, eslint

Update tests
  frontend/src/components/core/Sidebar/Sidebar.test.tsx
Due: prettier, typecheck, eslint

Add new snapshots
  frontend/cypress/snapshots/linux/2x/multipage_apps.spec.js/multipage-apps-sidebar-nav-collapsed-dark.snap.png
  frontend/cypress/snapshots/linux/2x/multipage_apps.spec.js/multipage-apps-sidebar-nav-collapsed.snap.png
  frontend/cypress/snapshots/linux/2x/multipage_apps.spec.js/multipage-apps-sidebar-nav-dark.snap.png
  frontend/cypress/snapshots/linux/2x/multipage_apps.spec.js/multipage-apps-sidebar-nav-with-widgets-dark.snap.png
  frontend/cypress/snapshots/linux/2x/multipage_apps.spec.js/multipage-apps-sidebar-nav-with-widgets.snap.png
  frontend/cypress/snapshots/linux/2x/multipage_apps.spec.js/multipage-apps-sidebar-nav.snap.png
Due: none

Fix on expand/collapse button padding
  frontend/src/components/core/Sidebar/styled-components.ts
Due: prettier, typecheck, eslint

Rework todos
  lib/streamlit/runtime/caching/cache_data_api.py
  lib/streamlit/runtime/caching/storage/cache_storage_protocol.py
  lib/streamlit/runtime/caching/storage/dummy_cache_storage.py
  lib/streamlit/runtime/caching/storage/in_memory_cache_storage_wrapper.py
  lib/streamlit/runtime/caching/storage/local_disk_cache_storage.py
  lib/streamlit/runtime/runtime.py
  lib/streamlit/runtime/stats.py
  lib/streamlit/testing/script_interactions.py
  lib/tests/streamlit/runtime/caching/common_cache_test.py
  lib/tests/streamlit/runtime/caching/storage/local_disk_cache_storage_test.py
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
Due: no-relative-imports

Rework todos
  lib/streamlit/runtime/caching/cache_data_api.py
  lib/streamlit/runtime/caching/storage/in_memory_cache_storage_wrapper.py
Due: no-relative-imports

Fix on st.metric tooltip positioning
  frontend/src/components/elements/Metric/styled-components.ts
Due: prettier, typecheck, eslint

add more tests
  lib/tests/streamlit/runtime/caching/cache_data_api_test.py
Due: no-relative-imports

pre-commit update
  .pre-commit-config.yaml
Due: none

some js changes
  frontend/src/App.tsx
Due: prettier, typecheck, eslint

move typecheck and eslint to manual stage
  .pre-commit-config.yaml
Due: none

Add tests
  e2e/scripts/st_metric.py
  e2e/specs/st_metric.spec.js
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-container-gray-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-container-gray.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-container-green-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-container-green.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-container-red-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-container-red.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-help-and-ellipses-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-help-and-ellipses.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-label-collapse-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-label-collapse.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-label-hidden-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-label-hidden.snap.png
Due: typecheck, no-relative-imports

Add e2e snapshot tests
  e2e/scripts/label_markdown.py
  e2e/specs/label_markdown.spec.js
Due: typecheck, no-relative-imports

add cnapshots
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-container-gray-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-container-gray.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-container-green-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-container-green.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-container-red-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-container-red.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-help-and-ellipses-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-help-and-ellipses.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-with-help-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-with-help.snap.png
Due: none

introduce make frontendFast command
  Makefile
  frontend/package.json
Due: none

remove alias and rename react-build-fast to frontendFast
  Makefile
Due: none

use snake case
  Makefile
Due: none

Check for change in elements in Sidebar component to prevent flickering
  frontend/src/components/core/Sidebar/Sidebar.tsx
  frontend/src/components/core/Sidebar/SidebarNav.tsx
Due: prettier, typecheck, eslint

Update snaps
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/checkbox-invalid-table-dark.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/checkbox-invalid-table.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/radio-invalid-heading1-dark.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/radio-invalid-heading1.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/selectbox-invalid-heading2-dark.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/selectbox-invalid-heading2.snap.png
Due: none

add comment what frontend fast does
  Makefile
Due: none

Fix up tests
  e2e/scripts/st_metric.py
  e2e/specs/st_metric.spec.js
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-container-gray-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-container-gray.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-container-green-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-container-green.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-container-red-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-container-red.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-help-and-ellipses-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-help-and-ellipses.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-with-help-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-with-help.snap.png
Due: typecheck, no-relative-imports

Introduce make frontend-fast command (#6172)
  Makefile
  frontend/package.json
Due: none

Allow tests bo to filtered by file
  Makefile
  frontend/package.json
Due: none

Update snaps & fix tests
  e2e/specs/label_markdown.spec.js
  frontend/cypress/snapshots/linux/2x/st_form_use_container_width_submit_button.spec.js/use-container-width-submit-form-button-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_form_use_container_width_submit_button.spec.js/use-container-width-submit-form-button.snap.png
Due: typecheck

Allow overriding timeout arg for running a script
  lib/streamlit/testing/local_script_runner.py
Due: no-relative-imports

Recommit snapshots
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-container-gray-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-container-gray.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-container-green-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-container-green.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-container-red-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-container-red.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-help-and-ellipses-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-help-and-ellipses.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-label-collapse-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-label-collapse.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-label-hidden-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-label-hidden.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-with-help-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-with-help.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-with-none-value-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_metric.spec.js/metric-with-none-value.snap.png
Due: none

update logic to correctly find number prefix
  frontend/src/components/widgets/NumberInput/NumberInput.tsx
Due: prettier, typecheck, eslint

Update color picker & file uploader snaps
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/colorPicker-invalid-ordered-list-dark.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/colorPicker-invalid-ordered-list.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/colorPicker-valid-colored-dark.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/colorPicker-valid-colored.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/colorPicker-valid-link-dark.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/colorPicker-valid-link.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/colorPicker-valid-markdown-dark.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/colorPicker-valid-markdown.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/fileUploader-invalid-heading2-dark.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/fileUploader-invalid-heading2.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/fileUploader-valid-colored-dark.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/fileUploader-valid-colored.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/fileUploader-valid-link-dark.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/fileUploader-valid-link.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/fileUploader-valid-markdown-dark.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/fileUploader-valid-markdown.snap.png
Due: none

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Add testing-library/jest-dom to our dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none

hook stage manual on CI when running pre-commit
  .github/workflows/js-tests.yml
Due: none

Add tests for DummyCacheStorage and InMemoryWrappedDummyCacheStorageManager
  lib/streamlit/runtime/caching/storage/dummy_cache_storage.py
  lib/tests/streamlit/runtime/caching/storage/dummy_cache_storage_test.py
  lib/tests/streamlit/runtime/caching/storage/local_disk_cache_storage_test.py
  lib/tests/streamlit/runtime/runtime_test_case.py
Due: no-relative-imports

check hooks
  frontend/src/components/widgets/TimeInput/TimeInput.tsx
Due: prettier, typecheck, eslint
