Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Complete datetime from inline date and popover time
  e2e_playwright/st_datetime_input_test.py
  frontend/lib/src/components/widgets/DateTimeInput/DateTimeInput.test.tsx
  frontend/lib/src/components/widgets/DateTimeInput/SingleDateTimeInput.tsx
  frontend/lib/src/components/widgets/DateTimeInput/dateTimeInputUtils.test.ts
  frontend/lib/src/components/widgets/DateTimeInput/dateTimeInputUtils.ts
Due: prettier, typecheck, no-relative-imports

Keep a time given before a date in datetime input
  e2e_playwright/st_datetime_input_test.py
  frontend/lib/src/components/widgets/DateTimeInput/DateTimeInput.test.tsx
  frontend/lib/src/components/widgets/DateTimeInput/SingleDateTimeInput.tsx
  frontend/lib/src/components/widgets/DateTimeInput/dateTimeInputUtils.test.ts
  frontend/lib/src/components/widgets/DateTimeInput/dateTimeInputUtils.ts
Due: prettier, typecheck, no-relative-imports

Remount popover time field on form clear
  frontend/lib/src/components/widgets/DateTimeInput/DateTimeInput.test.tsx
  frontend/lib/src/components/widgets/DateTimeInput/SingleDateTimeInput.tsx
Due: prettier, typecheck

Commit split date-time before Tab closes the popover
  frontend/lib/src/components/widgets/DateTimeInput/DateTimeInput.test.tsx
  frontend/lib/src/components/widgets/DateTimeInput/SingleDateTimeInput.tsx
Due: prettier, typecheck

Clear commit-dedup memory on form clear
  frontend/lib/src/components/widgets/DateTimeInput/DateTimeInput.test.tsx
  frontend/lib/src/components/widgets/DateTimeInput/SingleDateTimeInput.tsx
Due: prettier, typecheck

Address AI review feedback on datetime input fix
  e2e_playwright/st_datetime_input_test.py
  frontend/lib/src/components/widgets/DateTimeInput/DateTimeInput.test.tsx
  frontend/lib/src/components/widgets/DateTimeInput/SingleDateTimeInput.tsx
  frontend/lib/src/components/widgets/DateTimeInput/dateTimeInputUtils.test.ts
  frontend/lib/src/components/widgets/DateTimeInput/dateTimeInputUtils.ts
Due: prettier, typecheck, no-relative-imports

Cover re-submitting the same datetime after a form clear
  e2e_playwright/st_datetime_input_test.py
Due: no-relative-imports

Clear datetime segments and restore focus on form clear
  e2e_playwright/st_datetime_input_test.py
  frontend/lib/src/components/widgets/DateTimeInput/DateTimeInput.test.tsx
  frontend/lib/src/components/widgets/DateTimeInput/SingleDateTimeInput.tsx
Due: prettier, typecheck, no-relative-imports

Address review 10: iOS segment state, docs
  frontend/lib/src/components/widgets/DateTimeInput/DateTimeInput.test.tsx
  frontend/lib/src/components/widgets/DateTimeInput/SingleDateTimeInput.tsx
  frontend/lib/src/components/widgets/DateTimeInput/dateTimeInputUtils.test.ts
  frontend/lib/src/components/widgets/DateTimeInput/dateTimeInputUtils.ts
Due: prettier, typecheck

Pin the dedup reset with an Enter-submit test
  frontend/lib/src/components/widgets/DateTimeInput/DateTimeInput.test.tsx
Due: prettier, typecheck

Lead docstrings with their rule
  frontend/lib/src/components/widgets/DateTimeInput/SingleDateTimeInput.tsx
Due: prettier, typecheck

Address review: fix comment, extract test helpers
  frontend/lib/src/components/widgets/DateTimeInput/DateTimeInput.test.tsx
  frontend/lib/src/components/widgets/DateTimeInput/SingleDateTimeInput.tsx
Due: prettier, typecheck

[fix] Prevent upload hang when middleware reads the body first (#16709)
  e2e_playwright/mega_tester_app_test.py
  lib/streamlit/web/server/starlette/starlette_routes.py
  lib/tests/streamlit/web/server/starlette/starlette_routes_test.py
Due: no-relative-imports

[fix] Keep a time given before a date in st.datetime_input (#16664)
  e2e_playwright/st_datetime_input_test.py
  frontend/lib/src/components/widgets/DateTimeInput/DateTimeInput.test.tsx
  frontend/lib/src/components/widgets/DateTimeInput/SingleDateTimeInput.tsx
  frontend/lib/src/components/widgets/DateTimeInput/dateTimeInputUtils.test.ts
  frontend/lib/src/components/widgets/DateTimeInput/dateTimeInputUtils.ts
Due: prettier, typecheck, no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/pyproject.toml
  lib/streamlit/version.py
  pyproject.toml
  uv.lock
Due: no-relative-imports

Update emojis/material icons
  e2e_playwright/st_alert.py
  frontend/app/src/assets/fonts/MaterialSymbols/MaterialSymbols-Rounded.woff2
  lib/streamlit/material_icon_names.py
Due: no-relative-imports

[chore] Update Browserslist DB
  frontend/yarn.lock
Due: none

[chore] Persist MemoryFragmentStorage across AppTest.run() calls (#16752)
  lib/streamlit/testing/v1/app_test.py
  lib/streamlit/testing/v1/local_script_runner.py
  lib/tests/streamlit/testing/app_test_test.py
Due: no-relative-imports

Apply automatic fixes
  .pre-commit-config.yaml
Due: none

fix: format app session event loop tests
  lib/tests/streamlit/runtime/app_session_test.py
Due: no-relative-imports

[chore] Add typing tests for st.spinner (#16542)
  lib/tests/streamlit/typing/spinner_types.py
Due: no-relative-imports

[docs] AI-assisted documentation updates
  .claude/skills/understanding-streamlit-architecture/SKILL.md
  .claude/skills/understanding-streamlit-architecture/references/backend.md
  lib/streamlit/.agents/skills/developing-with-streamlit/references/api-reference.md
  lib/streamlit/.agents/skills/developing-with-streamlit/references/selection-widgets.md
  lib/streamlit/.agents/skills/developing-with-streamlit/references/session-state.md
  lib/streamlit/.agents/skills/developing-with-streamlit/references/testing.md
Due: none

Add typing tests for st.badge
  lib/tests/streamlit/typing/markdown_types.py
  lib/tests/streamlit/typing/spinner_types.py
Due: no-relative-imports

[fix] Add ty ignore comments to spinner typing tests
  lib/tests/streamlit/typing/spinner_types.py
Due: no-relative-imports

fix: always finalize script runner shutdown
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/tests/streamlit/runtime/app_session_test.py
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
Due: no-relative-imports

[docs] Tighten agent skill wording from AI review
  .claude/skills/understanding-streamlit-architecture/references/backend.md
  lib/streamlit/.agents/skills/developing-with-streamlit/references/api-reference.md
  lib/streamlit/.agents/skills/developing-with-streamlit/references/selection-widgets.md
  lib/streamlit/.agents/skills/developing-with-streamlit/references/session-state.md
  lib/streamlit/.agents/skills/developing-with-streamlit/references/testing.md
Due: none

Use runtime-valid badge icon in typing tests
  lib/tests/streamlit/typing/markdown_types.py
Due: no-relative-imports

[chore] Add typing tests for st.badge (#16760)
  lib/tests/streamlit/typing/markdown_types.py
  lib/tests/streamlit/typing/spinner_types.py
Due: no-relative-imports

Add browser.command config option
  lib/streamlit/cli_util.py
  lib/streamlit/config.py
  lib/tests/streamlit/cli_util_test.py
  lib/tests/streamlit/config_test.py
Due: no-relative-imports

Keep widget values after st.rerun
  e2e_playwright/st_rerun.py
  e2e_playwright/st_rerun_test.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/streamlit/runtime/state/session_state.py
  lib/streamlit/testing/v1/local_script_runner.py
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
  lib/tests/streamlit/runtime/state/session_state_test.py
Due: no-relative-imports

Fix browser.command fallback for unresolvable commands.
  lib/streamlit/cli_util.py
  lib/streamlit/config.py
  lib/tests/streamlit/cli_util_test.py
Due: no-relative-imports

docs: clarify script event loop teardown
  lib/streamlit/runtime/app_session.py
Due: no-relative-imports

Add session-owned rerun mailbox tech spec
  specs/2026-09-01-session-owned-rerun-mailbox/tech-spec.md
Due: none

Address review comments on deferred stale-widget cleanup.
  .claude/skills/understanding-streamlit-architecture/references/backend.md
  e2e_playwright/st_rerun_test.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/streamlit/runtime/state/session_state.py
  lib/tests/streamlit/runtime/state/session_state_test.py
Due: no-relative-imports

Up version to 1.63.0
  frontend/app/package.json
  frontend/connection/package.json
  frontend/lib/package.json
  frontend/package.json
  frontend/protobuf/package.json
  frontend/typescript-config/package.json
  frontend/utils/package.json
  lib/pyproject.toml
  uv.lock
Due: none

Format Python code block in rerun mailbox spec
  specs/2026-09-01-session-owned-rerun-mailbox/tech-spec.md
Due: none

Dedent Python snippets to module level for ruff
  specs/2026-09-01-session-owned-rerun-mailbox/tech-spec.md
Due: none

docs: document fast rerun asyncio constraint
  lib/streamlit/config.py
Due: no-relative-imports

docs: clarify fast rerun overlap boundary
  lib/streamlit/config.py
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
Due: no-relative-imports

Move stale-widget skip comment next to remove_stale_widgets.
  lib/streamlit/runtime/scriptrunner/script_runner.py
Due: no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
