Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Update snapshots
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-link_column[chromium].png
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-link_column[firefox].png
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-link_column[webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[light_theme-webkit].png
Due: none

Add catch for regex exception
  frontend/lib/src/components/widgets/DataFrame/columns/LinkColumn.ts
Due: prettier, typecheck

Add Pandas styler support to `LinkColumn` (#7784)
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-link_column[chromium].png
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-link_column[firefox].png
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-link_column[webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[light_theme-webkit].png
  e2e_playwright/st_data_editor_config.py
  e2e_playwright/st_dataframe_config.py
  e2e_playwright/st_dataframe_styler_support.py
  e2e_playwright/st_dataframe_styler_support_test.py
  frontend/lib/src/components/widgets/DataFrame/arrowUtils.ts
  frontend/lib/src/components/widgets/DataFrame/columns/LinkColumn.test.ts
  frontend/lib/src/components/widgets/DataFrame/columns/LinkColumn.ts
  frontend/lib/src/components/widgets/DataFrame/columns/index.ts
  lib/streamlit/elements/lib/column_types.py
Due: prettier, typecheck, no-relative-imports

Support direct editing for link column
  frontend/lib/src/components/widgets/DataFrame/columns/cells/LinkCell.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/UriOverlayEditor.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/uri-overlay-editor-style.tsx
Due: prettier, typecheck

Updating constraints. Github run id:7108130980
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Don't mark elements outside of a partial rerun as stale
  frontend/app/src/App.tsx
  frontend/lib/src/AppNode.ts
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/core/Block/utils.ts
  frontend/lib/src/components/core/LibContext.tsx
  frontend/lib/src/components/elements/Tabs/Tabs.tsx
  frontend/lib/src/test_util.tsx
  lib/streamlit/delta_generator.py
  proto/streamlit/proto/Delta.proto
Due: prettier, typecheck, no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Add more tests
  lib/tests/streamlit/watcher/local_sources_watcher_test.py
Due: no-relative-imports

test
  frontend/lib/src/components/elements/Balloons/styled-components.ts
Due: prettier, typecheck

Add tests
  lib/streamlit/config.py
  lib/streamlit/runtime/forward_msg_cache.py
  lib/streamlit/web/server/routes.py
  lib/tests/streamlit/config_test.py
  lib/tests/streamlit/runtime/forward_msg_cache_test.py
Due: no-relative-imports

Explicitly check that that entry.msg is not None
  lib/streamlit/runtime/forward_msg_cache.py
Due: no-relative-imports

Update tests
  frontend/lib/src/components/widgets/DataFrame/columns/cells/LinkCell.test.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/LinkCell.tsx
Due: prettier, typecheck

Fix tests
  frontend/lib/src/components/widgets/DataFrame/columns/cells/LinkCell.test.tsx
Due: prettier, typecheck

Send Rerun message also for newly created pages (#7806)
  lib/streamlit/runtime/app_session.py
  lib/streamlit/watcher/local_sources_watcher.py
  lib/tests/streamlit/watcher/local_sources_watcher_test.py
Due: no-relative-imports

Updating constraints. Github run id:7119649980
  constraints-3.10.txt
  constraints-3.11.txt
Due: none

Change data test id
  frontend/lib/src/components/widgets/DataFrame/columns/cells/LinkCell.test.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/UriOverlayEditor.tsx
Due: prettier, typecheck

Support direct editing for link column (#7809)
  frontend/lib/src/components/widgets/DataFrame/columns/cells/LinkCell.test.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/LinkCell.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/UriOverlayEditor.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/uri-overlay-editor-style.tsx
Due: prettier, typecheck

improve option code style
  lib/streamlit/config.py
Due: no-relative-imports

Updating constraints. Github run id:7122030717
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

add option server.logPageAccess
  lib/streamlit/config.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/tests/streamlit/config_test.py
Due: no-relative-imports

Updating constraints. Github run id:7124648839
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Convert fullscreen
  e2e_playwright/st_dataframe_interactions_test.py
  frontend/lib/src/components/shared/FullScreenWrapper/FullScreenWrapper.tsx
  frontend/lib/src/components/shared/FullScreenWrapper/withFullScreenWrapper.test.tsx
Due: prettier, typecheck, no-relative-imports

Remove cloudpickle dependency
  lib/setup.py
Due: no-relative-imports

Add implementation with tests
  e2e/specs/multipage_apps.spec.js
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
Due: prettier, typecheck

Uncomment cypress tests for multipage apps
  e2e/specs/multipage_apps.spec.js
Due: typecheck

Allow user to specify that the whole script should be rerun from partial function
  lib/streamlit/runtime/scriptrunner/script_run_context.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
Due: no-relative-imports

Slightly change name of test
  frontend/app/src/App.test.tsx
Due: prettier, typecheck

Add showPageNav to config & set page config
  frontend/app/src/App.tsx
  lib/streamlit/commands/page_config.py
  lib/streamlit/config.py
  lib/streamlit/runtime/app_session.py
  proto/streamlit/proto/PageConfig.proto
Due: prettier, typecheck, no-relative-imports

Got something working
  frontend/lib/src/components/StreamlitApp/lib/ConnectionManager.ts
  frontend/lib/src/components/StreamlitApp/stores/StreamlitInstallationContext.ts
  frontend/lib/src/components/StreamlitView/StreamlitView.tsx
  frontend/package.json
  frontend/star-admin-pro-react/package.json
  frontend/star-admin-pro-react/src/app/App.js
  frontend/star-admin-pro-react/src/app/AppRoutes.js
  frontend/star-admin-pro-react/src/emotion.d.ts
  frontend/star-admin-pro-react/tsconfig.json
  frontend/yarn.lock
Due: prettier, typecheck

It's ALLLLLLLLLLLLLIIIIIIIIIIIVE
  frontend/lib/src/components/StreamlitApp/StreamlitApp.tsx
  frontend/star-admin-pro-react/package.json
  frontend/star-admin-pro-react/src/app/App.js
  frontend/yarn.lock
Due: prettier, typecheck

Get Core Previews Working
  frontend/lib/package.json
  frontend/lib/src/components/StreamlitApp/StreamlitApp.tsx
  frontend/lib/src/components/StreamlitApp/hooks/useConnectionManager.ts
  frontend/lib/src/components/StreamlitApp/stores/ConnectionContext.ts
  frontend/lib/src/components/StreamlitView/StreamlitView.tsx
  frontend/star-admin-pro-react/src/app/App.js
  frontend/star-admin-pro-react/src/app/dashboard/Dashboard.js
  frontend/star-admin-pro-react/src/app/shared/Sidebar.js
  frontend/yarn.lock
Due: prettier, typecheck

Updating constraints. Github run id:7138214820
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Good ending point for the day
  frontend/lib/src/components/StreamlitApp/index.ts
  frontend/star-admin-pro-react/src/app/App.js
  frontend/star-admin-pro-react/src/app/AppRoutes.js
  frontend/star-admin-pro-react/src/app/shared/Sidebar.js
Due: prettier, typecheck

Make the page name correct
  frontend/star-admin-pro-react/src/app/shared/Sidebar.js
Due: prettier, typecheck

Update glide version
  frontend/lib/package.json
  frontend/yarn.lock
Due: none

Remove usage of useExtraCells
  frontend/lib/src/components/widgets/DataFrame/hooks/useCustomRenderer.ts
Due: prettier, typecheck

Better config option description
  lib/streamlit/config.py
Due: no-relative-imports
