Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Add js-yaml install step to spec validation workflow
  .github/workflows/spec-validation.yml
Due: none

Revert "Add js-yaml install step to spec validation workflow"
  .github/workflows/spec-validation.yml
Due: none

Remove implementation detail from spec
  specs/2026-02-21-compact-expander-status/product-spec.md
Due: none

Add product spec for compact expander and status style
  specs/2026-02-21-compact-expander-status/product-spec.md
  specs/2026-02-21-compact-expander-status/reference-compact-designs.png
  specs/2026-02-21-compact-expander-status/reference-compact-expander.png
Due: none

Move type parameter above key for better discoverability
  specs/2026-02-21-compact-expander-status/product-spec.md
Due: none

Rename type="normal" to type="default"
  specs/2026-02-21-compact-expander-status/product-spec.md
Due: none

Remove compact-expander-status spec folder
  specs/2026-02-21-compact-expander-status/product-spec.md
  specs/2026-02-21-compact-expander-status/reference-compact-designs.png
  specs/2026-02-21-compact-expander-status/reference-compact-expander.png
Due: none

fix: address PR review comments
  lib/streamlit/runtime/scriptrunner_utils/script_run_context.py
  lib/tests/streamlit/components/v2/test_bidi_presentation.py
  lib/tests/streamlit/elements/lib/utils_test.py
  lib/tests/streamlit/runtime/state/session_state_test.py
Due: no-relative-imports

Rename type parameter value from "normal" to "default" per spec
  e2e_playwright/st_status.py
  frontend/lib/src/components/elements/Expander/Expander.test.tsx
  lib/streamlit/elements/layouts.py
  lib/streamlit/elements/lib/mutable_status_container.py
  lib/tests/streamlit/elements/layouts_test.py
  lib/tests/streamlit/typing/expander_container_types.py
  proto/streamlit/proto/Block.proto
Due: prettier, typecheck, no-relative-imports

Fix setValue race condition in useBasicWidgetState under React batching
  frontend/lib/src/hooks/useBasicWidgetState.test.ts
  frontend/lib/src/hooks/useBasicWidgetState.ts
Due: prettier, typecheck

Simplify code and add typing tests for st.status
  frontend/lib/src/components/elements/Expander/Expander.test.tsx
  frontend/lib/src/components/elements/Expander/styled-components.ts
  lib/streamlit/elements/layouts.py
  lib/tests/streamlit/typing/status_container_types.py
Due: prettier, typecheck, no-relative-imports

[feat] Add MarkdownColumn for st.dataframe and st.data_editor
  e2e_playwright/st_data_editor_config.py
  e2e_playwright/st_data_editor_config_test.py
  e2e_playwright/st_dataframe_config.py
  e2e_playwright/st_dataframe_config_test.py
  frontend/lib/src/components/widgets/DataFrame/columns/MarkdownColumn.test.ts
  frontend/lib/src/components/widgets/DataFrame/columns/MarkdownColumn.ts
  frontend/lib/src/components/widgets/DataFrame/columns/cells/MarkdownCell.test.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/MarkdownCell.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/index.ts
  lib/streamlit/column_config.py
  lib/streamlit/elements/lib/column_config_utils.py
  lib/streamlit/elements/lib/column_types.py
  lib/tests/streamlit/elements/lib/column_types_test.py
Due: prettier, typecheck, no-relative-imports

[test] Add MarkdownCell keyboard shortcut tests and edge case coverage
  e2e_playwright/st_data_editor_config_test.py
  frontend/lib/src/components/widgets/DataFrame/columns/cells/MarkdownCell.test.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/MarkdownCell.tsx
Due: prettier, typecheck, no-relative-imports

fix: use keyboard shortcut to save in markdown cell editing test
  e2e_playwright/st_data_editor_config_test.py
Due: no-relative-imports

Skip webkit for flaky markdown cell keyboard test
  e2e_playwright/st_data_editor_config_test.py
Due: no-relative-imports

[fix] Remove unnecessary type assertion in MarkdownCell test
  frontend/lib/src/components/widgets/DataFrame/columns/cells/MarkdownCell.test.tsx
Due: prettier, typecheck

[fix] Fix MarkdownCell import path for StreamlitMarkdown
  frontend/lib/src/components/widgets/DataFrame/columns/cells/MarkdownCell.tsx
Due: prettier, typecheck

fix: improve markdown cell editing test stability
  e2e_playwright/st_data_editor_config_test.py
Due: no-relative-imports

fix: use Escape to close markdown cell overlay in editing test
  e2e_playwright/st_data_editor_config_test.py
Due: no-relative-imports

fix: add canvas stabilization wait in markdown cell keyboard test
  e2e_playwright/st_data_editor_config_test.py
Due: no-relative-imports

[chore] Update knip config to ignore DataFrame column exports
  frontend/knip.json
Due: none

Skip Firefox for flaky markdown cell editing test
  e2e_playwright/st_data_editor_config_test.py
Due: no-relative-imports

fix: use Enter to close markdown cell overlay after save
  e2e_playwright/st_data_editor_config_test.py
Due: no-relative-imports

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/st_expander_test/st_expander-compact_collapsed_hover[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_expander_test/st_expander-compact_collapsed_hover[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_expander_test/st_expander-compact_expanded_hover[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_expander_test/st_expander-compact_expanded_hover[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_status_test/st_status-compact_complete[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_status_test/st_status-compact_complete[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_status_test/st_status-compact_expanded[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_status_test/st_status-compact_expanded[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_status_test/st_status-compact_running[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_status_test/st_status-compact_running[light_theme-webkit].png
Due: none

fix: Update NUMBER_OF_EXPANDERS to 25 for compact expander tests
  e2e_playwright/st_expander_test.py
Due: no-relative-imports

refactor: simplify statistics menu code structure
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsChart.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsMenu.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/statisticsUtils.ts
Due: prettier, typecheck

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/st_expander_test/st_expander-compact_collapsed[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_expander_test/st_expander-compact_collapsed[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_expander_test/st_expander-compact_collapsed_hover[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_expander_test/st_expander-compact_collapsed_hover[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_expander_test/st_expander-compact_expanded[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_expander_test/st_expander-compact_expanded[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_expander_test/st_expander-compact_expanded_hover[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_expander_test/st_expander-compact_expanded_hover[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_expander_test/st_expander-compact_with_icon[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_expander_test/st_expander-compact_with_icon[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_expander_test/st_expander-with_code_block[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_expander_test/st_expander-with_code_block[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_status_test/st_status-compact_complete[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_status_test/st_status-compact_complete[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_status_test/st_status-compact_expanded[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_status_test/st_status-compact_expanded[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_status_test/st_status-compact_running[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_status_test/st_status-compact_running[light_theme-webkit].png
Due: none

test: add caller-level concurrent registration tests
  lib/tests/streamlit/runtime/scriptrunner_utils/thread_safe_set_test.py
Due: no-relative-imports

fix: avoid passing children as prop in test by using JSX children syntax
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsMenu.test.tsx
Due: prettier, typecheck

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/st_dataframe_interactions_test/st_dataframe-column_menu[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_interactions_test/st_dataframe-column_menu[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_interactions_test/st_dataframe-statistics_numeric_column[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_interactions_test/st_dataframe-statistics_numeric_column[light_theme-webkit].png
Due: none

[chore] Simplify MarkdownColumn and update internal docs
  frontend/lib/src/components/widgets/DataFrame/columns/MarkdownColumn.ts
  frontend/lib/src/components/widgets/DataFrame/columns/cells/MarkdownCell.tsx
  lib/streamlit/.agents/skills/developing-with-streamlit/references/data-display.md
Due: prettier, typecheck

Add comment explaining compact chevron icon choice
  frontend/lib/src/components/elements/Expander/Expander.tsx
Due: prettier, typecheck

[spec] Add product spec for button column feature
  specs/2026-03-26-button-column/product-spec.md
Due: none

fix: migrate last bare-set mock and build frozenset directly
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/tests/streamlit/components/v2/test_bidi_presentation.py
Due: no-relative-imports

[chore] Simplify MarkdownColumn tests and reduce code duplication
  frontend/lib/src/components/widgets/DataFrame/columns/MarkdownColumn.ts
  frontend/lib/src/components/widgets/DataFrame/columns/cells/MarkdownCell.test.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/MarkdownCell.tsx
Due: prettier, typecheck

refactor: split walrus+check_and_add into two lines for readability
  lib/streamlit/elements/lib/utils.py
Due: no-relative-imports

Skip Firefox for flaky markdown cell keyboard test
  e2e_playwright/st_data_editor_config_test.py
Due: no-relative-imports

Replace __deepcopy__ with TypeError guards for copy and deepcopy
  lib/streamlit/runtime/scriptrunner_utils/thread_safe_set.py
  lib/tests/streamlit/runtime/scriptrunner_utils/thread_safe_set_test.py
Due: no-relative-imports

Clean up test names and redundant assertions
  lib/tests/streamlit/runtime/scriptrunner_utils/thread_safe_set_test.py
Due: no-relative-imports

Make ThreadSafeSet generic over element type
  lib/streamlit/runtime/scriptrunner_utils/script_run_context.py
  lib/streamlit/runtime/scriptrunner_utils/thread_safe_set.py
Due: no-relative-imports
