Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Make small patch to get file uploader jwts working
  frontend/app/src/App.tsx
  frontend/lib/src/hostComm/HostCommunicationManager.test.tsx
  frontend/lib/src/hostComm/HostCommunicationManager.tsx
Due: prettier, typecheck

Remove debug logs
  lib/streamlit/runtime/partials.py
Due: no-relative-imports

Add st write case
  e2e_playwright/st_write.py
Due: no-relative-imports

Add tests
  e2e_playwright/st_write.py
  e2e_playwright/st_write_test.py
Due: no-relative-imports

Fix trigger value regression with `st.rerun` (#7643)
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/streamlit/runtime/state/session_state.py
  lib/streamlit/testing/v1/app_test.py
  lib/streamlit/testing/v1/local_script_runner.py
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
Due: no-relative-imports

Convert ComponentInstance.test.tsx to RTL
  frontend/lib/src/components/widgets/CustomComponent/ComponentInstance.test.tsx
Due: prettier, typecheck

Add some more comments to make it a little bit more readable
  frontend/lib/src/components/widgets/CustomComponent/ComponentInstance.test.tsx
Due: prettier, typecheck

Add stream e2e test
  e2e_playwright/conftest.py
  e2e_playwright/st_stream.py
  e2e_playwright/st_stream_test.py
Due: no-relative-imports

Fix unused import
  e2e_playwright/st_write.py
Due: no-relative-imports

Support both st.rerun() and rerunning via return value in partials
  lib/streamlit/runtime/scriptrunner/script_requests.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/streamlit/runtime/state/safe_session_state.py
  lib/streamlit/runtime/state/session_state.py
Due: no-relative-imports

Add streaming snapshots
  e2e_playwright/__snapshots__/linux/st_stream_test/st_stream-generator_output[chromium].png
  e2e_playwright/__snapshots__/linux/st_stream_test/st_stream-generator_output[firefox].png
  e2e_playwright/__snapshots__/linux/st_stream_test/st_stream-generator_output[webkit].png
Due: none

Update docstring
  lib/streamlit/elements/write.py
Due: no-relative-imports

Update write
  lib/streamlit/elements/write.py
Due: no-relative-imports

Update write e2e test
  e2e_playwright/st_write.py
  e2e_playwright/st_write_test.py
Due: no-relative-imports

Remove image support
  lib/streamlit/elements/write.py
Due: no-relative-imports

Remove unused import
  lib/streamlit/elements/write.py
Due: no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:7566250756
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Add frontend parts
  frontend/app/src/App.tsx
  frontend/lib/src/WidgetStateManager.ts
Due: prettier, typecheck

Minor improvements
  lib/streamlit/delta_generator.py
  lib/streamlit/elements/widgets/button.py
Due: no-relative-imports

Added partial storage
  lib/streamlit/runtime/partials.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
Due: no-relative-imports

Add cloudpickle to dependencies
  lib/setup.py
Due: no-relative-imports

Revive prototype
  lib/streamlit/elements/widgets/selectbox.py
  lib/streamlit/elements/widgets/text_widgets.py
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/scriptrunner/script_requests.py
  lib/streamlit/runtime/scriptrunner/script_run_context.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  proto/streamlit/proto/Button.proto
  proto/streamlit/proto/ClientState.proto
  proto/streamlit/proto/ForwardMsg.proto
  proto/streamlit/proto/Selectbox.proto
  proto/streamlit/proto/TextInput.proto
Due: no-relative-imports

Apply updates
  lib/streamlit/__init__.py
  lib/streamlit/elements/widgets/multiselect.py
  lib/streamlit/runtime/partials.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  proto/streamlit/proto/MultiSelect.proto
Due: no-relative-imports

More changes
  lib/streamlit/runtime/partials.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
Due: no-relative-imports

Update prototype
  frontend/app/src/App.tsx
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/partials.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  proto/streamlit/proto/AutoRerun.proto
  proto/streamlit/proto/ForwardMsg.proto
  proto/streamlit/proto/NewSession.proto
Due: prettier, typecheck, no-relative-imports

Allow new annotations
  lib/streamlit/runtime/app_session.py
Due: no-relative-imports

Fix app tsx
  frontend/app/src/App.tsx
Due: prettier, typecheck

Fix streaming
  frontend/app/src/App.tsx
  lib/streamlit/runtime/app_session.py
Due: prettier, typecheck, no-relative-imports

Only serialize/deserialize the DeltaGenerator stack
  lib/streamlit/runtime/partials.py
Due: no-relative-imports

Auto wrap partial rerun function in container if not in one
  lib/streamlit/runtime/partials.py
Due: no-relative-imports

Add partial support to all widgets
  lib/streamlit/components/v1/components.py
  lib/streamlit/elements/widgets/button.py
  lib/streamlit/elements/widgets/camera_input.py
  lib/streamlit/elements/widgets/chat.py
  lib/streamlit/elements/widgets/checkbox.py
  lib/streamlit/elements/widgets/color_picker.py
  lib/streamlit/elements/widgets/data_editor.py
  lib/streamlit/elements/widgets/file_uploader.py
  lib/streamlit/elements/widgets/multiselect.py
  lib/streamlit/elements/widgets/number_input.py
  lib/streamlit/elements/widgets/radio.py
  lib/streamlit/elements/widgets/select_slider.py
  lib/streamlit/elements/widgets/selectbox.py
  lib/streamlit/elements/widgets/slider.py
  lib/streamlit/elements/widgets/text_widgets.py
  lib/streamlit/elements/widgets/time_widgets.py
  proto/streamlit/proto/Arrow.proto
  proto/streamlit/proto/Button.proto
  proto/streamlit/proto/CameraInput.proto
  proto/streamlit/proto/ChatInput.proto
  proto/streamlit/proto/Checkbox.proto
  proto/streamlit/proto/ColorPicker.proto
  proto/streamlit/proto/Components.proto
  proto/streamlit/proto/DateInput.proto
  proto/streamlit/proto/DownloadButton.proto
  proto/streamlit/proto/FileUploader.proto
  proto/streamlit/proto/NumberInput.proto
  proto/streamlit/proto/Radio.proto
  proto/streamlit/proto/Slider.proto
  proto/streamlit/proto/TextArea.proto
  proto/streamlit/proto/TimeInput.proto
Due: no-relative-imports

Allow user to specify that the whole script should be rerun from partial function
  lib/streamlit/runtime/scriptrunner/script_run_context.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
Due: no-relative-imports

Rerun full app when a partial function returns any none-None value
  lib/streamlit/runtime/scriptrunner/script_runner.py
Due: no-relative-imports

Remove cloudpickle dependency
  lib/setup.py
Due: no-relative-imports

Don't mark elements outside of a partial rerun as stale
  frontend/app/src/App.tsx
  frontend/lib/src/AppNode.ts
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/core/Block/utils.ts
  frontend/lib/src/components/core/LibContext.tsx
  frontend/lib/src/components/elements/Tabs/Tabs.tsx
  frontend/lib/src/test_util.tsx
  lib/streamlit/delta_generator.py
  proto/streamlit/proto/Delta.proto
Due: prettier, typecheck, no-relative-imports

Update getting the dg stack
  lib/streamlit/runtime/partials.py
  lib/streamlit/runtime/scriptrunner/script_run_context.py
  proto/streamlit/proto/AutoRerun.proto
Due: no-relative-imports

add ability for host to toggle widgets disabled state
  frontend/app/src/App.tsx
  frontend/lib/src/hostComm/HostCommunicationManager.test.tsx
  frontend/lib/src/hostComm/HostCommunicationManager.tsx
  frontend/lib/src/hostComm/types.ts
Due: prettier, typecheck
