Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Add e2e test
  e2e_playwright/st_number_input_test.py
Due: no-relative-imports

Add try finally
  frontend/lib/src/components/elements/ArrowVegaLiteChart/useVegaEmbed.ts
Due: prettier, typecheck

Improve comment
  frontend/lib/src/components/elements/ArrowVegaLiteChart/useVegaEmbed.ts
Due: prettier, typecheck

Update snapshots
  e2e_playwright/__snapshots__/linux/st_number_input_test/st_number_input-tab_focus[chromium].png
  e2e_playwright/__snapshots__/linux/st_number_input_test/st_number_input-tab_focus[firefox].png
  e2e_playwright/__snapshots__/linux/st_number_input_test/st_number_input-tab_focus[webkit].png
Due: none

Lint
  frontend/lib/src/components/widgets/Slider/styled-components.ts
Due: prettier, typecheck

Add `key_as_main_identity` parameter to `DropdownButtonMixin` for consistent key handling
  lib/streamlit/elements/widgets/dropdown_button.py
Due: no-relative-imports

Add better types for chart colum colors
  frontend/lib/src/components/widgets/DataFrame/columns/ChartColumn.ts
Due: prettier, typecheck

Add color validation
  lib/streamlit/elements/lib/built_in_chart_utils.py
  lib/streamlit/elements/lib/column_types.py
  lib/tests/streamlit/elements/lib/column_types_test.py
Due: no-relative-imports

Rename back error
  lib/streamlit/elements/lib/built_in_chart_utils.py
Due: no-relative-imports

Revert
  frontend/lib/src/components/elements/ArrowVegaLiteChart/useVegaEmbed.ts
Due: prettier, typecheck

Fix test
  frontend/lib/src/components/elements/ArrowVegaLiteChart/useVegaEmbed.test.ts
Due: prettier, typecheck

Ignore updateView for dependency update
  frontend/lib/src/components/elements/ArrowVegaLiteChart/ArrowVegaLiteChart.tsx
Due: prettier, typecheck

Make e2e tests for overlapping slider labels test the right thing.
  e2e_playwright/st_slider.py
Due: no-relative-imports

Comment
  frontend/lib/src/components/widgets/Slider/Slider.tsx
Due: prettier, typecheck

Remove tick change leftover from previous work.
  frontend/lib/src/components/widgets/Slider/Slider.tsx
Due: prettier, typecheck

Update pattern
  frontend/lib/src/components/elements/ArrowVegaLiteChart/useVegaEmbed.ts
Due: prettier, typecheck

Update comment
  frontend/lib/src/components/elements/ArrowVegaLiteChart/ArrowVegaLiteChart.tsx
Due: prettier, typecheck

Update screenshots
  e2e_playwright/__snapshots__/linux/st_slider_test/st_slider-overlap_near_left[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_slider_test/st_slider-overlap_near_left[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_slider_test/st_slider-overlap_near_left[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_slider_test/st_slider-overlap_near_left[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_slider_test/st_slider-overlap_near_left[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_slider_test/st_slider-overlap_near_left[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_slider_test/st_slider-overlap_near_right[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_slider_test/st_slider-overlap_near_right[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_slider_test/st_slider-overlap_near_right[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_slider_test/st_slider-overlap_near_right[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_slider_test/st_slider-overlap_near_right[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_slider_test/st_slider-overlap_near_right[light_theme-webkit].png
Due: none

Address review comment from bot about deleting a property
  frontend/lib/src/components/widgets/Slider/Slider.tsx
Due: prettier, typecheck

Show ticks on focus-visible
  frontend/lib/src/components/widgets/Slider/styled-components.ts
Due: prettier, typecheck

Add/fix tests around tickbar when focused
  e2e_playwright/st_slider_test.py
  frontend/lib/src/components/widgets/Slider/Slider.test.tsx
Due: prettier, typecheck, no-relative-imports

Add focused screenshots
  e2e_playwright/__snapshots__/linux/st_slider_test/st_slider-tickbar_focused[chromium].png
  e2e_playwright/__snapshots__/linux/st_slider_test/st_slider-tickbar_focused[firefox].png
  e2e_playwright/__snapshots__/linux/st_slider_test/st_slider-tickbar_focused[webkit].png
Due: none

Fix Makefile help command delimiter to preserve :: in comments
  .cursor/rules/make_commands.mdc
  Makefile
Due: none

[fix] Ensure python env vars are set in automation jobs
  .github/workflows/cherry-pick-to-release-branch.yml
  .github/workflows/patch-release-branch-creation.yml
  .github/workflows/release-branch-creation.yml
  .github/workflows/release-tag-and-pr-creation.yml
Due: none

addressing feedbacks
  Makefile
Due: none

Fix syntax in trace-e2e-test command usage instructions
  .cursor/rules/make_commands.mdc
Due: none

more feedbacks
  Makefile
  e2e_playwright/.gitignore
Due: none

updating doc to be smaller
  .cursor/rules/make_commands.mdc
  Makefile
Due: none

Add make trace-e2e-test command for debugging e2e tests
  .cursor/rules/make_commands.mdc
  Makefile
  e2e_playwright/.gitignore
Due: none

extra line?
  .cursor/rules/make_commands.mdc
Due: none

Add make trace-e2e-test command for debugging e2e tests
  e2e_playwright/.gitignore
Due: none

more feedbacks
  e2e_playwright/.gitignore
Due: none

Add some tweaks
  lib/streamlit/dataframe_util.py
  lib/streamlit/elements/arrow.py
  lib/tests/streamlit/dataframe_util_test.py
  lib/tests/streamlit/elements/arrow_dataframe_test.py
Due: no-relative-imports

Update lib/streamlit/elements/arrow.py
  lib/streamlit/elements/arrow.py
Due: no-relative-imports

Update
  lib/streamlit/elements/arrow.py
Due: no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
