Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

docs: expand timestamp unit comment in datetime statistics
  frontend/lib/src/components/widgets/DataFrame/menus/statisticsUtils.ts
Due: prettier, typecheck

fix: resolve frontend lint errors in statisticsUtils
  frontend/lib/src/components/widgets/DataFrame/menus/statisticsUtils.ts
Due: prettier, typecheck

refactor: simplify statistics menu components
  frontend/lib/src/components/widgets/DataFrame/menus/ColumnMenu.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsChart.test.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsChart.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsMenu.tsx
Due: prettier, typecheck

fix: address PR review comments for statistics menu
  frontend/lib/src/components/widgets/DataFrame/menus/ColumnMenu.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsChart.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsMenu.tsx
Due: prettier, typecheck

fix: address AI review feedback for statistics menu
  frontend/lib/src/components/elements/ArrowVegaLiteChart/styled-components.ts
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsChart.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsMenu.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/statisticsUtils.ts
Due: prettier, typecheck

[fix] Fix frontend build errors from directory imports
  frontend/lib/src/components/widgets/DataFrame/menus/ColumnMenu.test.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsChart.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsMenu.test.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/statisticsUtils.ts
Due: prettier, typecheck

fix: address latest AI review feedback for statistics feature
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsChart.test.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsChart.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsMenu.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/statisticsUtils.ts
Due: prettier, typecheck

fix: add tooltip encoding to bar chart for consistency with histogram
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsChart.tsx
Due: prettier, typecheck

fix: avoid passing children as prop in test by using JSX children syntax
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsMenu.test.tsx
Due: prettier, typecheck

fix: add missing role="menuitem" for column menu accessibility
  frontend/lib/src/components/widgets/DataFrame/menus/ColumnMenu.tsx
Due: prettier, typecheck

fix: exclude selectbox/link columns from statistics to avoid raw value exposure
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsMenu.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/statisticsUtils.test.ts
  frontend/lib/src/components/widgets/DataFrame/menus/statisticsUtils.ts
Due: prettier, typecheck

docs: add JSDoc explaining datetime unit detection heuristics
  frontend/lib/src/components/widgets/DataFrame/menus/statisticsUtils.ts
Due: prettier, typecheck

fix: address additional AI review feedback for statistics feature
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsChart.test.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsChart.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsMenu.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/statisticsUtils.ts
Due: prettier, typecheck

fix: address remaining AI review feedback for statistics feature
  e2e_playwright/st_dataframe_interactions_test.py
  frontend/lib/src/components/widgets/DataFrame/menus/ColumnMenu.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsChart.test.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsChart.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsMenu.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/statisticsUtils.test.ts
  frontend/lib/src/components/widgets/DataFrame/menus/statisticsUtils.ts
Due: prettier, typecheck, no-relative-imports

fix: honor column timezone in statistics datetime formatting
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsMenu.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/statisticsUtils.test.ts
  frontend/lib/src/components/widgets/DataFrame/menus/statisticsUtils.ts
Due: prettier, typecheck

fix: address AI review feedback for statistics feature
  e2e_playwright/st_dataframe_interactions_test.py
  frontend/lib/src/components/widgets/DataFrame/menus/ColumnMenu.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/statisticsUtils.ts
Due: prettier, typecheck, no-relative-imports

fix: address AI review feedback for statistics feature
  frontend/lib/src/components/widgets/DataFrame/menus/ColumnMenu.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsChart.test.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsChart.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/statisticsUtils.test.ts
  frontend/lib/src/components/widgets/DataFrame/menus/statisticsUtils.ts
  frontend/lib/src/components/widgets/DataFrame/menus/styled-components.ts
  frontend/lib/src/theme/primitives/zIndices.ts
Due: prettier, typecheck

refactor: simplify statistics utils and address review feedback
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/ColumnMenu.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsChart.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsMenu.test.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/statisticsUtils.test.ts
  frontend/lib/src/components/widgets/DataFrame/menus/statisticsUtils.ts
Due: prettier, typecheck

Polish mermaid support after develop merge
  frontend/lib/src/components/shared/StreamlitMarkdown/MermaidChart.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
  lib/streamlit/.agents/skills/developing-with-streamlit/SKILL.md
  lib/streamlit/.agents/skills/developing-with-streamlit/references/markdown.md
Due: prettier, typecheck

fix: address Bugbot review comments in column statistics
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsChart.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/statisticsUtils.test.ts
  frontend/lib/src/components/widgets/DataFrame/menus/statisticsUtils.ts
Due: prettier, typecheck

Add width parameter test coverage for st.mermaid_chart
  lib/tests/streamlit/elements/mermaid_chart_test.py
  lib/tests/streamlit/typing/mermaid_chart_types.py
Due: no-relative-imports

Show sample note for reduced (all-empty) column statistics
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsMenu.test.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsMenu.tsx
Due: prettier, typecheck

fix: check global skills after project lookup errors
  lib/streamlit/web/skills.py
  lib/tests/streamlit/web/skills_test.py
Due: no-relative-imports

test: isolate skills fallback test
  lib/tests/streamlit/web/skills_test.py
Due: no-relative-imports

Update Mermaid chart spec notes
  specs/2026-05-02-mermaid-chart/product-spec.md
Due: none

Revert "Update Mermaid chart spec notes"
  specs/2026-05-02-mermaid-chart/product-spec.md
Due: none

Update Streamlit markdown skill reference
  lib/streamlit/.agents/skills/developing-with-streamlit/references/markdown.md
Due: none

[fix] Make WebSocket handshake header-size limit configurable
  lib/streamlit/config.py
  lib/streamlit/web/server/starlette/starlette_server.py
  lib/tests/streamlit/web/server/starlette/starlette_server_test.py
Due: no-relative-imports

[fix] Address review: guard non-positive header size, version-resilient tests
  lib/streamlit/web/server/starlette/starlette_server.py
  lib/tests/streamlit/web/server/starlette/starlette_server_test.py
Due: no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/pyproject.toml
  lib/streamlit/version.py
  pyproject.toml
Due: no-relative-imports

Apply automatic fixes
  .pre-commit-config.yaml
Due: none

Add parallel fragment guidance to developing-with-streamlit skill
  lib/streamlit/.agents/skills/developing-with-streamlit/SKILL.md
  lib/streamlit/.agents/skills/developing-with-streamlit/references/performance.md
Due: none

docs: add outside container writes implementation plan
  outside-container-writes-implementation-plan.md
Due: none

Clip Vega-Lite chart wrapper to prevent overflow in narrow columns
  frontend/lib/src/components/elements/ArrowVegaLiteChart/styled-components.ts
Due: prettier, typecheck

Add parallel fragments docs draft for handoff
  parallel-fragments-docs-draft.md
Due: none

Only clip Vega-Lite charts that use pad sizing (facet/nested)
  frontend/lib/src/components/elements/ArrowVegaLiteChart/ArrowVegaLiteChart.tsx
  frontend/lib/src/components/elements/ArrowVegaLiteChart/styled-components.ts
Due: prettier, typecheck

[docs] Simplify parallel fragment caveats
  lib/streamlit/.agents/skills/developing-with-streamlit/references/performance.md
Due: none

[docs] Clarify performance routing guidance
  lib/streamlit/.agents/skills/developing-with-streamlit/SKILL.md
Due: none
