Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Add a working test for disableSetPageMetadata
  frontend/app/src/App.test.tsx
Due: prettier, typecheck

Minor fixes
  frontend/lib/src/components/elements/Expander/Expander.tsx
Due: prettier, typecheck

Add auto collapse mode
  lib/streamlit/elements/layouts.py
Due: no-relative-imports

Add auto collapse mode
  lib/streamlit/elements/lib/mutable_status.py
Due: no-relative-imports

Add a few more tests
  frontend/app/src/App.test.tsx
Due: prettier, typecheck

cleanup
  frontend/app/src/App.test.tsx
Due: prettier, typecheck

more cleanup
  frontend/app/src/App.test.tsx
Due: prettier, typecheck

Fix test
  frontend/app/src/App.test.tsx
Due: prettier, typecheck

Remove unused ref
  frontend/app/src/App.test.tsx
Due: prettier, typecheck

Various fixes and improvements
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/elements/Expander/styled-components.ts
  lib/streamlit/elements/layouts.py
  lib/streamlit/elements/lib/mutable_status.py
Due: prettier, typecheck, no-relative-imports

Add empty expander test
  e2e/scripts/st_expander.py
Due: no-relative-imports

Add empty expander test
  e2e/playwright/st_expander.py
  e2e/scripts/st_expander.py
Due: no-relative-imports

Fix 2 of 3 comments
  frontend/app/src/App.test.tsx
Due: prettier, typecheck

Add App.test.tsx tests to HostConfig feature (#7169)
  frontend/app/src/App.test.tsx
Due: prettier, typecheck

Fix issue with duplicated widget ID for toggle
  lib/streamlit/elements/widgets/checkbox.py
Due: no-relative-imports

Address PR feedback
  lib/streamlit/commands/execution_control.py
  lib/streamlit/runtime/metrics_util.py
Due: no-relative-imports

Move exception handling to entirely within except
  lib/streamlit/runtime/metrics_util.py
Due: no-relative-imports

Allow metrics gathering even if interrupted by rerun, and track `st.rerun` (#7158)
  lib/streamlit/commands/execution_control.py
  lib/streamlit/runtime/metrics_util.py
Due: no-relative-imports

Updating constraints. Github run id:5861840327
  constraints-3.10.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Current version of disableThemeing. It currently doesn't seemly work but it does not call processThemeInput
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  frontend/lib/src/components/core/LibContext.tsx
  frontend/lib/src/test_util.tsx
Due: prettier, typecheck

Fix issue with duplicated widget ID for toggle (#7170)
  lib/streamlit/elements/widgets/checkbox.py
Due: no-relative-imports

Updating constraints. Github run id:5862183815
  constraints-3.11.txt
Due: none

Fix doc bug.
  lib/streamlit/elements/arrow_altair.py
  lib/streamlit/elements/dataframe_selector.py
Due: no-relative-imports

REALLY fix the doc bug
  lib/streamlit/elements/arrow_altair.py
  lib/streamlit/elements/dataframe_selector.py
Due: no-relative-imports

Committing so people can check out the current brancH
  frontend/app/src/App.tsx
Due: prettier, typecheck

Forgot to commit the disableUserTheme to be enabled so one can test it out
  lib/streamlit/web/server/routes.py
Due: no-relative-imports

Update config description message
  lib/streamlit/config.py
Due: no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Disallow empty for normal expander
  lib/streamlit/elements/layouts.py
Due: no-relative-imports

Apply various updates
  lib/streamlit/elements/lib/mutable_status.py
Due: no-relative-imports

Some refactoring
  lib/streamlit/elements/lib/mutable_status.py
Due: no-relative-imports

Update status container
  lib/streamlit/elements/layouts.py
  lib/streamlit/elements/lib/mutable_status_container.py
Due: no-relative-imports

Update callback handler
  lib/streamlit/external/langchain/mutable_expander.py
  lib/streamlit/external/langchain/streamlit_callback_handler.py
Due: no-relative-imports

Change empty state for expander
  frontend/lib/src/components/elements/Expander/Expander.tsx
  frontend/lib/src/components/elements/Expander/styled-components.ts
Due: prettier, typecheck

Add required=True to match behavior with embedded app
  lib/streamlit/elements/lib/column_types.py
Due: no-relative-imports

Move icon implementation to expander
  frontend/lib/src/components/elements/Expander/Expander.test.tsx
  frontend/lib/src/components/elements/Expander/Expander.tsx
  frontend/lib/src/components/shared/Icon/Icon.tsx
  frontend/lib/src/components/shared/Icon/index.tsx
  frontend/lib/src/components/shared/Icon/styled-components.ts
Due: prettier, typecheck

Add e2e tests
  e2e/playwright/st_status.py
  e2e/playwright/st_status_test.py
Due: no-relative-imports

Add required=True to match behavior with embedded app (#7174)
  lib/streamlit/elements/lib/column_types.py
Due: no-relative-imports

Add unit tests
  e2e/playwright/st_status.py
  lib/tests/streamlit/layouts_test.py
Due: no-relative-imports

Add empty expander e2e test
  e2e/playwright/st_expander_test.py
Due: no-relative-imports
