Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

MainMenu component fixes
  frontend/app/src/components/MainMenu/MainMenu.test.tsx
  frontend/app/src/components/MainMenu/MainMenu.tsx
Due: prettier, typecheck

Fix styling/tests
  e2e_playwright/main_menu_test.py
  frontend/app/src/components/MainMenu/MainMenu.test.tsx
  frontend/app/src/components/MainMenu/mainMenuTestHelpers.ts
  frontend/app/src/components/MainMenu/styled-components.ts
Due: prettier, typecheck, no-relative-imports

Add updated snaps
  e2e_playwright/__snapshots__/linux/custom_theme_fonts_test/custom_fonts_main_menu[chromium].png
  e2e_playwright/__snapshots__/linux/custom_theme_fonts_test/custom_fonts_main_menu[firefox].png
  e2e_playwright/__snapshots__/linux/custom_theme_fonts_test/custom_fonts_main_menu[webkit].png
  e2e_playwright/__snapshots__/linux/main_menu_test/main_menu[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/main_menu_test/main_menu[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/main_menu_test/main_menu[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/main_menu_test/main_menu[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/main_menu_test/main_menu[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/main_menu_test/main_menu[light_theme-webkit].png
Due: none

First pass
  frontend/app/src/App.test.tsx
  frontend/app/src/components/MainMenu/MainMenu.test.tsx
  frontend/app/src/components/MainMenu/MainMenu.tsx
  frontend/app/src/components/MainMenu/mainMenuTestHelpers.ts
  frontend/app/src/components/MainMenu/styled-components.ts
  frontend/lib/src/theme/primitives/sizes.ts
Due: prettier, typecheck

More fixes
  frontend/app/src/components/MainMenu/MainMenu.test.tsx
  frontend/app/src/components/MainMenu/MainMenu.tsx
  frontend/app/src/components/MainMenu/styled-components.ts
Due: prettier, typecheck

Resolve functional e2e tests
  e2e_playwright/main_menu_test.py
  e2e_playwright/st_set_page_config_test.py
  frontend/app/src/components/MainMenu/MainMenu.tsx
  frontend/app/src/components/MainMenu/mainMenuTestHelpers.ts
Due: prettier, typecheck, no-relative-imports

Separate About
  frontend/app/src/components/MainMenu/MainMenu.test.tsx
  frontend/app/src/components/MainMenu/MainMenu.tsx
Due: prettier, typecheck

Fixes
  frontend/app/src/App.test.tsx
  frontend/app/src/components/MainMenu/MainMenu.tsx
Due: prettier, typecheck

Transition to list
  e2e_playwright/st_set_page_config_test.py
  frontend/app/src/components/MainMenu/MainMenu.test.tsx
  frontend/app/src/components/MainMenu/MainMenu.tsx
Due: prettier, typecheck, no-relative-imports

Fix
  frontend/app/src/components/MainMenu/MainMenu.tsx
Due: prettier, typecheck

Address PR feedback
  frontend/app/src/App.test.tsx
  frontend/connection/src/ConnectionManager.test.ts
  frontend/connection/src/ConnectionManager.ts
Due: prettier, typecheck

Allow host to control whether to expect an ack
  e2e_playwright/test_assets/hostframe.html
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  frontend/app/src/util/AppNavigation.test.ts
  frontend/connection/src/ConnectionManager.test.ts
  frontend/connection/src/ConnectionManager.ts
  frontend/lib/src/hostComm/HostCommunicationManager.test.tsx
  frontend/lib/src/hostComm/HostCommunicationManager.tsx
  frontend/lib/src/hostComm/types.ts
Due: prettier, typecheck

Have server ack app_heartbeat messages received from client
  e2e_playwright/test_assets/hostframe.html
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  frontend/connection/src/ConnectionManager.test.ts
  frontend/connection/src/ConnectionManager.ts
  frontend/connection/src/WebsocketConnection.test.tsx
  frontend/connection/src/WebsocketConnection.tsx
  frontend/connection/src/constants.ts
  lib/streamlit/runtime/app_session.py
  lib/tests/streamlit/runtime/app_session_test.py
  proto/streamlit/proto/ForwardMsg.proto
Due: prettier, typecheck, no-relative-imports

Whitespace fixes in docstrings
  lib/streamlit/commands/logo.py
  lib/streamlit/elements/vega_charts.py
  lib/streamlit/user_info.py
Due: no-relative-imports

Remove unused themeUtils and THEME_CREATOR dialog type
  frontend/app/src/components/StreamlitDialog/constants.ts
  frontend/app/src/components/StreamlitDialog/themeUtils.test.ts
  frontend/app/src/components/StreamlitDialog/themeUtils.ts
Due: prettier, typecheck

Remove deprecated proto fields from CustomThemeConfig
  frontend/lib/src/components/widgets/BidiComponent/utils/theme.test.ts
  frontend/lib/src/components/widgets/BidiComponent/utils/theme.ts
  frontend/lib/src/theme/utils.test.ts
  frontend/lib/src/theme/utils.ts
  frontend/utils/src/config/index.test.ts
  lib/streamlit/runtime/app_session.py
  lib/tests/streamlit/runtime/app_session_test.py
  proto/streamlit/proto/NewSession.proto
Due: prettier, typecheck, no-relative-imports

Update proto compatibility tests for removed deprecated fields
  lib/tests/streamlit/proto_compatibility_test.py
Due: no-relative-imports

Fix e2e tests and change timeout
  e2e_playwright/hostframe_app_test.py
  frontend/connection/src/constants.ts
Due: prettier, typecheck, no-relative-imports

[chore] opus-4.5 -> opus-4.6
  .github/workflows/ai-issue-triage.yml
  .github/workflows/ai-pr-review.yml
Due: none

fix: prevent code text from overlapping copy button in st.code
  frontend/lib/src/components/elements/CodeBlock/styled-components.ts
Due: prettier, typecheck

Update version and project name in files
  frontend/package.json
  lib/pyproject.toml
  lib/streamlit/version.py
  pyproject.toml
Due: no-relative-imports

Fix
  lib/tests/streamlit/elements/vega_charts_test.py
Due: no-relative-imports

Update
  e2e_playwright/test_assets/hostframe.html
Due: none

Revert
  e2e_playwright/test_assets/hostframe.html
Due: none

More cleanup
  e2e_playwright/test_assets/hostframe.html
  frontend/app/src/util/useThemeManager.test.ts
  frontend/lib/src/hostComm/HostCommunicationManager.test.tsx
Due: prettier, typecheck

Update agent guidelines for frontend and e2e testing
  .cursor/rules/e2e_playwright.mdc
  .cursor/rules/typescript.mdc
  .github/instructions/e2e_playwright.instructions.md
  .github/instructions/typescript.instructions.md
  e2e_playwright/AGENTS.md
  frontend/AGENTS.md
Due: none

Simplify re-render prevention guidance in frontend docs
  .cursor/rules/typescript.mdc
  .github/instructions/typescript.instructions.md
  frontend/AGENTS.md
Due: none

Add GitHub CLI recommendation to setup instructions
  CONTRIBUTING.md
Due: none

Add error checking steps to debugging workflow
  .claude/skills/debugging-streamlit/SKILL.md
Due: none

Add line limit to tail commands in debugging workflow
  .claude/skills/debugging-streamlit/SKILL.md
Due: none

Increase tail line limit to 1000
  .claude/skills/debugging-streamlit/SKILL.md
Due: none

Remove rerun_data from debug log message
  lib/streamlit/runtime/scriptrunner/script_runner.py
Due: no-relative-imports

Simplify tail command to use default behavior
  .claude/skills/debugging-streamlit/SKILL.md
Due: none

Add -n 100 to tail for better debugging context
  .claude/skills/debugging-streamlit/SKILL.md
Due: none

Add log size warning and frontend error checking to debugging skill
  .claude/skills/debugging-streamlit/SKILL.md
Due: none

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/hostframe_app_test/hostframe_app-theme_message_after[chromium].png
  e2e_playwright/__snapshots__/linux/hostframe_app_test/hostframe_app-theme_message_after[firefox].png
  e2e_playwright/__snapshots__/linux/hostframe_app_test/hostframe_app-theme_message_after[webkit].png
Due: none

Simplify worktree setup to use make all
  .cursor/worktrees.json
Due: none

Promote Shell & Build Policy to top-level heading
  .cursor/rules/overview.mdc
  .github/copilot-instructions.md
  AGENTS.md
Due: none

Rename Debugging section to 'Debugging backend & frontend'
  .cursor/rules/overview.mdc
  .github/copilot-instructions.md
  AGENTS.md
Due: none

Update frontend command descriptions and clean up check description
  .cursor/rules/overview.mdc
  .github/copilot-instructions.md
  AGENTS.md
Due: none

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
