Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Add an is_fragment_run field for page profiling
  lib/streamlit/runtime/metrics_util.py
  lib/tests/streamlit/runtime/metrics_util_test.py
  proto/streamlit/proto/PageProfile.proto
Due: no-relative-imports

Add basic e2e tests for @st.experimental_fragment
  e2e_playwright/st_experimental_fragment_basics.py
  e2e_playwright/st_experimental_fragment_basics_test.py
Due: no-relative-imports

`st.popover` docstring
  lib/streamlit/elements/layouts.py
Due: no-relative-imports

Add an isFragmentRun field for page profiling (#8218)
  lib/streamlit/runtime/metrics_util.py
  lib/tests/streamlit/runtime/metrics_util_test.py
  proto/streamlit/proto/PageProfile.proto
Due: no-relative-imports

`AppTest` property docstrings
  lib/streamlit/testing/v1/app_test.py
Due: no-relative-imports

Add basic e2e tests for @st.experimental_fragment (#8219)
  e2e_playwright/st_experimental_fragment_basics.py
  e2e_playwright/st_experimental_fragment_basics_test.py
Due: no-relative-imports

Update `st.video` docstring
  lib/streamlit/elements/media.py
Due: no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:8121001251
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Add support for tracing file
  Makefile
Due: none

Use example.com
  lib/streamlit/elements/lib/column_types.py
Due: no-relative-imports

Add bytes/Path to `st.video` `subtitle` parameter
  lib/streamlit/elements/media.py
Due: no-relative-imports

Supoort for other LLM libraries
  lib/streamlit/elements/write.py
Due: no-relative-imports

Final improvements to subtitles docstring
  lib/streamlit/elements/media.py
Due: no-relative-imports

Nicer url for subtitle inputs app
  lib/streamlit/elements/media.py
Due: no-relative-imports

Instructions for no default subtitles
  lib/streamlit/elements/media.py
Due: no-relative-imports

Grammar typo
  lib/streamlit/elements/media.py
Due: no-relative-imports

Clarification and semantic link
  lib/streamlit/elements/media.py
Due: no-relative-imports

Release 1.32.0 docstrings (#8229)
  lib/streamlit/elements/layouts.py
  lib/streamlit/elements/lib/column_types.py
  lib/streamlit/elements/media.py
  lib/streamlit/elements/write.py
  lib/streamlit/testing/v1/app_test.py
Due: no-relative-imports

Add timeout
  e2e_playwright/st_popover_test.py
Due: no-relative-imports

Don't use container width
  e2e_playwright/st_popover.py
Due: no-relative-imports

Remove timeout
  e2e_playwright/st_popover_test.py
Due: no-relative-imports

Remove tracing
  Makefile
Due: none

Fix flaky e2e test (#8232)
  e2e_playwright/st_popover.py
Due: no-relative-imports

ForwardMsgQueue didn't have a __len__, now it does
  lib/streamlit/runtime/forward_msg_queue.py
Due: no-relative-imports

(internal) Ignore symlink files for precommit checks
  .pre-commit-config.yaml
Due: none

(internal) Use os.path.join in mypy script for os-independent path matching
  scripts/mypy
Due: none

(internal) add a shell run_in_subdirectory.py fallback to work around yarn not being executable
  scripts/run_in_subdirectory.py
Due: no-relative-imports

Explicit update() method for query_params
  lib/streamlit/runtime/state/query_params.py
  lib/streamlit/runtime/state/query_params_proxy.py
  lib/tests/streamlit/runtime/state/query_params_proxy_test.py
  lib/tests/streamlit/runtime/state/query_params_test.py
Due: no-relative-imports

Updating constraints. Github run id:8136640207
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Associate label with input for text area and number input
  frontend/lib/src/components/widgets/NumberInput/NumberInput.test.tsx
  frontend/lib/src/components/widgets/NumberInput/NumberInput.tsx
  frontend/lib/src/components/widgets/TextArea/TextArea.test.tsx
  frontend/lib/src/components/widgets/TextArea/TextArea.tsx
Due: prettier, typecheck

Updating constraints. Github run id:8152046507
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Revert yarn and notices
  NOTICES
  frontend/yarn.lock
Due: none

Add area chart column
  frontend/lib/src/components/widgets/DataFrame/columns/ChartColumn.ts
  frontend/lib/src/components/widgets/DataFrame/columns/index.ts
  lib/streamlit/column_config.py
  lib/streamlit/elements/lib/column_types.py
Due: prettier, typecheck, no-relative-imports

Add e2e test
  e2e_playwright/st_dataframe_config.py
  e2e_playwright/st_dataframe_config_test.py
Due: no-relative-imports

Add area chart test
  frontend/lib/src/components/widgets/DataFrame/columns/ChartColumn.test.ts
Due: prettier, typecheck

Update fixes
  e2e_playwright/st_dataframe_config_test.py
  frontend/lib/src/components/widgets/DataFrame/columns/ChartColumn.test.ts
Due: prettier, typecheck, no-relative-imports
