Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Apply fix
  e2e_playwright/st_query_params_test.py
Due: no-relative-imports

Apply more fixes
  e2e_playwright/label_markdown_test.py
  e2e_playwright/st_multiselect_test.py
  e2e_playwright/st_tabs_selection_test.py
  frontend/lib/src/components/elements/Tabs/Tabs.tsx
Due: prettier, typecheck, no-relative-imports

Remove other port finding method
  e2e_playwright/conftest.py
Due: no-relative-imports

Remove todo
  e2e/docker-compose.yml
Due: none

Remove todo
  e2e_playwright/conftest.py
Due: no-relative-imports

Remove todo
  e2e_playwright/st_data_editor_config.py
Due: no-relative-imports

Fix query param test
  e2e_playwright/st_multiselect_test.py
  e2e_playwright/st_query_params.py
  e2e_playwright/st_query_params_test.py
  lib/streamlit/runtime/state/query_params.py
  lib/streamlit/runtime/state/query_params_proxy.py
Due: no-relative-imports

Add support for converting query params to string
  e2e_playwright/st_query_params.py
  e2e_playwright/st_query_params_test.py
  lib/streamlit/runtime/state/query_params.py
  lib/streamlit/runtime/state/query_params_proxy.py
  lib/tests/streamlit/runtime/state/query_params_proxy_test.py
Due: no-relative-imports

Fix imports
  e2e_playwright/fast_rerun_safety_test.py
  e2e_playwright/st_expander_state_test.py
Due: no-relative-imports

Fix expander test
  e2e_playwright/st_expander_state_test.py
Due: no-relative-imports

Update dependency
  frontend/lib/package.json
  frontend/yarn.lock
Due: none

Update react-select version
  frontend/lib/package.json
  frontend/yarn.lock
Due: none

Update notices file
  NOTICES
Due: none

Remove outdated snapshots
  e2e_playwright/__snapshots__/linux/st_arrow_add_rows_test/st_dataFrame-added_rows[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_arrow_add_rows_test/st_dataFrame-added_rows[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_arrow_add_rows_test/st_dataFrame-added_rows[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_arrow_add_rows_test/st_dataFrame-added_rows[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_arrow_add_rows_test/st_dataFrame-added_rows[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_arrow_add_rows_test/st_dataFrame-added_rows[light_theme-webkit].png
Due: none

Remove write stream snapshots
  e2e_playwright/__snapshots__/linux/st_write_stream_test/st_write_stream-generator_output[chromium].png
  e2e_playwright/__snapshots__/linux/st_write_stream_test/st_write_stream-generator_output[firefox].png
  e2e_playwright/__snapshots__/linux/st_write_stream_test/st_write_stream-generator_output[webkit].png
Due: none

Update snapshots
  e2e_playwright/__snapshots__/linux/st_arrow_add_rows_test/st_dataFrame-added_rows[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_arrow_add_rows_test/st_dataFrame-added_rows[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_arrow_add_rows_test/st_dataFrame-added_rows[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_arrow_add_rows_test/st_dataFrame-added_rows[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_arrow_add_rows_test/st_dataFrame-added_rows[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_arrow_add_rows_test/st_dataFrame-added_rows[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_write_stream_test/st_write_stream-generator_output[chromium].png
  e2e_playwright/__snapshots__/linux/st_write_stream_test/st_write_stream-generator_output[firefox].png
  e2e_playwright/__snapshots__/linux/st_write_stream_test/st_write_stream-generator_output[webkit].png
Due: none

Update arrowJS version to 15
  frontend/lib/package.json
  frontend/yarn.lock
Due: none

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:7683988545
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

attempt to fix,main changes
  lib/streamlit/elements/widgets/time_widgets.py
Due: no-relative-imports

small fix
  lib/streamlit/elements/widgets/time_widgets.py
Due: no-relative-imports

Fix custom dataframe scrollbars in Chrome and Safari
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
  frontend/lib/src/components/widgets/DataFrame/styled-components.ts
Due: prettier, typecheck

Improve error handling in write stream
  lib/streamlit/elements/write.py
Due: no-relative-imports

Add spaces
  lib/streamlit/elements/write.py
Due: no-relative-imports

make mypy happy
  lib/streamlit/elements/widgets/time_widgets.py
Due: no-relative-imports

Remove import
  lib/streamlit/elements/write.py
Due: no-relative-imports

Updating constraints. Github run id:7692117570
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Update e2e_playwright/st_image_test.py
  e2e_playwright/st_image_test.py
Due: no-relative-imports

Add support for PIL images in st.write
  e2e_playwright/st_write.py
  e2e_playwright/st_write_test.py
  lib/streamlit/elements/write.py
  lib/tests/streamlit/write_test.py
Due: no-relative-imports

Address PR feedback
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/core/Block/utils.ts
  frontend/lib/src/components/shared/FullScreenWrapper/withFullScreenWrapper.tsx
  frontend/lib/src/components/shared/Toolbar/Toolbar.tsx
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
Due: prettier, typecheck

Rename field to disableFullScreenMode
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/core/Block/ElementNodeRenderer.test.tsx
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/core/Block/utils.ts
  frontend/lib/src/components/shared/FullScreenWrapper/FullScreenWrapper.tsx
  frontend/lib/src/components/shared/FullScreenWrapper/withFullScreenWrapper.tsx
  frontend/lib/src/components/shared/Toolbar/Toolbar.tsx
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
Due: prettier, typecheck

Support markdown links in`st.radio` options (#8028)
  e2e_playwright/__snapshots__/linux/label_markdown_test/st_radio-supports_links_in_options[chromium].png
  e2e_playwright/__snapshots__/linux/label_markdown_test/st_radio-supports_links_in_options[firefox].png
  e2e_playwright/__snapshots__/linux/label_markdown_test/st_radio-supports_links_in_options[webkit].png
  e2e_playwright/label_markdown.py
  e2e_playwright/label_markdown_test.py
  frontend/lib/src/components/shared/Radio/Radio.tsx
Due: prettier, typecheck, no-relative-imports

Move disableFullScreenMode to correct place
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
Due: prettier, typecheck

Add test for disabling fullscreenmode in host-config endpoint
  e2e_playwright/host_config.py
  e2e_playwright/host_config_test.py
  e2e_playwright/st_dataframe_interactions_test.py
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/core/Block/utils.ts
  frontend/lib/src/components/shared/FullScreenWrapper/FullScreenWrapper.test.tsx
  frontend/lib/src/components/shared/FullScreenWrapper/FullScreenWrapper.tsx
  frontend/lib/src/components/shared/FullScreenWrapper/withFullScreenWrapper.tsx
  frontend/lib/src/components/shared/Toolbar/Toolbar.tsx
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
Due: prettier, typecheck, no-relative-imports

Add playwright screenshots
  e2e_playwright/__snapshots__/linux/host_config_test/host_config-dataframe_disabled_fullscreen_mode[chromium].png
  e2e_playwright/__snapshots__/linux/host_config_test/host_config-dataframe_disabled_fullscreen_mode[firefox].png
  e2e_playwright/__snapshots__/linux/host_config_test/host_config-dataframe_disabled_fullscreen_mode[webkit].png
Due: none

not expose sentinel "default_value_today" to user
  lib/streamlit/elements/widgets/time_widgets.py
Due: no-relative-imports

Fix JavaScript unit tests
  frontend/lib/src/components/shared/FullScreenWrapper/FullScreenWrapper.test.tsx
  frontend/lib/src/components/shared/Toolbar/Toolbar.test.tsx
Due: prettier, typecheck

remove prints
  lib/streamlit/elements/widgets/time_widgets.py
Due: no-relative-imports
