Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Annotate new tests per lib/tests/AGENTS.md, reword comment (#6269)
  lib/tests/streamlit/elements/vega_charts_test.py
Due: no-relative-imports

Name the winning datasets explicitly in the merge comment (#6269)
  lib/streamlit/elements/vega_charts.py
Due: no-relative-imports

Use an em-dash in the merge comment for readability (#6269)
  lib/streamlit/elements/vega_charts.py
Due: no-relative-imports

Index kwargs[format] directly; the png default was unreachable (#11489)
  lib/streamlit/elements/pyplot.py
Due: no-relative-imports

Use useLayoutEffect and add JSDoc on applyAnchor (#8793)
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
Due: prettier, typecheck

Drop waitFor now that the id commits before paint; annotate callback (#8793)
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
Due: prettier, typecheck

Sniff serialized bytes so rcParams-resolved SVG is detected (#11489)
  lib/streamlit/elements/pyplot.py
  lib/tests/streamlit/elements/pyplot_test.py
Due: no-relative-imports

Format with oxfmt, the repo formatter, reverting stray prettier changes (#8793)
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
Due: prettier, typecheck

Require an <svg tag after <?xml to match image_to_url's contract (#11489)
  lib/streamlit/elements/pyplot.py
Due: no-relative-imports

Bound the <svg lookahead to the prolog region (#11489)
  lib/streamlit/elements/pyplot.py
Due: no-relative-imports

Assert the anchor link href, the surface #8793 was reported through (#8793)
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
Due: prettier, typecheck

Update version and project name in files
  frontend/package.json
  lib/pyproject.toml
  lib/streamlit/version.py
  pyproject.toml
  uv.lock
Due: no-relative-imports

Add typing test for st.dialog
  lib/tests/streamlit/typing/dialog_types.py
Due: no-relative-imports

Address review feedback for st.dialog typing test
  lib/tests/streamlit/typing/dialog_types.py
Due: no-relative-imports

Add scoped and runtime theme overrides spec
  specs/2026-08-02-scoped-runtime-themes/product-spec.md
  specs/2026-08-02-scoped-runtime-themes/tech-spec.md
Due: none

Fix spec code-block formatting and refine theme override specs
  specs/2026-08-02-scoped-runtime-themes/product-spec.md
  specs/2026-08-02-scoped-runtime-themes/tech-spec.md
Due: none

Clarify theme override spec details from AI review
  specs/2026-08-02-scoped-runtime-themes/product-spec.md
  specs/2026-08-02-scoped-runtime-themes/tech-spec.md
Due: none

Clarify color validation and prose in theme specs
  specs/2026-08-02-scoped-runtime-themes/product-spec.md
  specs/2026-08-02-scoped-runtime-themes/tech-spec.md
Due: none

Refine color validation and disambiguate theme parameter
  specs/2026-08-02-scoped-runtime-themes/product-spec.md
  specs/2026-08-02-scoped-runtime-themes/tech-spec.md
Due: none

[spec] Conditional cell color for st.dataframe and st.data_editor
  specs/2026-08-02-dataframe-conditional-styling/product-spec.md
  specs/2026-08-02-dataframe-conditional-styling/tech-spec.md
Due: none

Drop tech-spec from repo, refine product-spec wording
  specs/2026-08-02-dataframe-conditional-styling/product-spec.md
  specs/2026-08-02-dataframe-conditional-styling/tech-spec.md
Due: none

Format Python code blocks in product-spec
  specs/2026-08-02-dataframe-conditional-styling/product-spec.md
Due: none

Address AI review feedback on conditional-color spec
  specs/2026-08-02-dataframe-conditional-styling/product-spec.md
Due: none

Clarify ColorRule.color validation is a concrete paint color
  specs/2026-08-02-dataframe-conditional-styling/product-spec.md
Due: none

Limit chart typing exports to outer states
  specs/2026-07-21-public-typing/product-spec.md
Due: none

Address AI review nits on conditional-color spec
  specs/2026-08-02-dataframe-conditional-styling/product-spec.md
Due: none

Polish "auto" gradient wording in conditional-color spec
  specs/2026-08-02-dataframe-conditional-styling/product-spec.md
Due: none

[spec] Memory-bounded caching for st.cache_data
  specs/2026-08-02-cache-max-size/product-spec.md
  specs/2026-08-02-cache-max-size/tech-spec.md
Due: none

Link related issue #6602 in cache max_size spec
  specs/2026-08-02-cache-max-size/product-spec.md
Due: none

Address AI review feedback on cache max_size spec
  specs/2026-08-02-cache-max-size/product-spec.md
  specs/2026-08-02-cache-max-size/tech-spec.md
Due: none

Apply ruff formatting to spec code blocks
  specs/2026-08-02-cache-max-size/product-spec.md
  specs/2026-08-02-cache-max-size/tech-spec.md
Due: none

Correct menu button wrapping behavior in spec
  specs/2026-07-23-horizontal-wrap-control/product-spec.md
Due: none

Address feedback p2
  frontend/lib/src/components/widgets/DateInput/SingleDateInput.tsx
  frontend/lib/src/components/widgets/DateInput/dateInputUtils.ts
Due: prettier, typecheck

[feature] Provide fully-typed selection state return values (#16275)
  .cursor/rules/python_lib.mdc
  .github/instructions/python_lib.instructions.md
  e2e_playwright/st_altair_chart_basic_select.py
  e2e_playwright/st_dataframe_selections.py
  e2e_playwright/st_plotly_chart_select.py
  lib/streamlit/.agents/skills/developing-with-streamlit/assets/templates/apps/dashboard-companies/streamlit_app.py
  lib/streamlit/.agents/skills/developing-with-streamlit/references/data-display.md
  lib/streamlit/AGENTS.md
  lib/streamlit/elements/arrow.py
  lib/streamlit/elements/deck_gl_json_chart.py
  lib/streamlit/elements/lib/column_config_utils.py
  lib/streamlit/elements/plotly_chart.py
  lib/streamlit/elements/vega_charts.py
  lib/streamlit/elements/widgets/chat.py
  lib/streamlit/runtime/context.py
  lib/tests/streamlit/elements/arrow_dataframe_test.py
  lib/tests/streamlit/elements/plotly_chart_test.py
  lib/tests/streamlit/elements/pydeck_test.py
  lib/tests/streamlit/elements/vega_charts_test.py
  lib/tests/streamlit/typing/button_column_types.py
  lib/tests/streamlit/typing/chat_input_types.py
  lib/tests/streamlit/typing/context_types.py
  lib/tests/streamlit/typing/dataframe_types.py
  lib/tests/streamlit/typing/plotly_chart_types.py
  lib/tests/streamlit/typing/pydeck_chart_types.py
  lib/tests/streamlit/typing/vega_charts_types.py
Due: no-relative-imports

[feature] Add client-side validation to st.text_input (#15714)
  e2e_playwright/__snapshots__/linux/st_text_input_test/st_text_input-validation_error[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_text_input_test/st_text_input-validation_error[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_text_input_test/st_text_input-validation_error[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_text_input_test/st_text_input-validation_error[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_text_input_test/st_text_input-validation_error[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_text_input_test/st_text_input-validation_error[light_theme-webkit].png
  e2e_playwright/st_text_input.py
  e2e_playwright/st_text_input_test.py
  frontend/lib/src/WidgetStateManager.test.ts
  frontend/lib/src/WidgetStateManager.ts
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.test.tsx
  frontend/lib/src/components/widgets/NumberInput/NumberInput.test.tsx
  frontend/lib/src/components/widgets/TextInput/TextInput.test.tsx
  frontend/lib/src/components/widgets/TextInput/TextInput.tsx
  frontend/lib/src/components/widgets/TextInput/styled-components.tsx
  frontend/lib/src/components/widgets/TextInput/validation.test.ts
  frontend/lib/src/components/widgets/TextInput/validation.ts
  frontend/lib/src/components/widgets/TimeInput/TimeInput.test.tsx
  lib/streamlit/elements/widgets/text_widgets.py
  lib/tests/streamlit/elements/text_input_test.py
  lib/tests/streamlit/runtime/state/widgets_test.py
  lib/tests/streamlit/typing/text_input_types.py
  proto/streamlit/proto/TextInput.proto
  specs/2025-12-03-text-input-validation/product-spec.md
Due: prettier, typecheck, no-relative-imports

Update typing spec for typed state classes
  specs/2026-07-21-public-typing/product-spec.md
Due: none

[spec] Public streamlit.typing namespace (#16094)
  specs/2026-07-21-public-typing/product-spec.md
Due: none

Update text_input types spec for merged validate feature and review decisions
  specs/2026-06-29-text-input-types/product-spec.md
Due: none

Drop maintainer sign-off attributions from text_input types spec
  specs/2026-06-29-text-input-types/product-spec.md
Due: none
