Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Fix on sidebar elements not changing its font (#6825)
  frontend/src/app/components/Sidebar/ThemedSidebar.tsx
Due: prettier, typecheck, eslint

Camera width debounce logic (#6866)
  frontend/src/lib/components/widgets/CameraInput/WebcamComponent.tsx
Due: prettier, typecheck, eslint

hash_funcs for st.cache_data and st.cache_resource (#6502)
  lib/streamlit/runtime/caching/cache_data_api.py
  lib/streamlit/runtime/caching/cache_resource_api.py
  lib/streamlit/runtime/caching/cache_utils.py
  lib/streamlit/runtime/caching/hashing.py
  lib/streamlit/runtime/legacy_caching/hashing.py
  lib/tests/streamlit/runtime/caching/cache_data_api_test.py
  lib/tests/streamlit/runtime/caching/cache_resource_api_test.py
  lib/tests/streamlit/runtime/caching/hashing_test.py
Due: no-relative-imports

Add docstring and synthetic examples for `hash_funcs` (#6829)
  lib/streamlit/runtime/caching/cache_data_api.py
  lib/streamlit/runtime/caching/cache_resource_api.py
Due: no-relative-imports

Add `to_pandas` method to convert inputs to pandas DataFrames (#6668)
  lib/streamlit/type_util.py
  lib/tests/streamlit/type_util_test.py
Due: no-relative-imports

Remove unused import (#6977)
  lib/streamlit/string_util.py
Due: no-relative-imports

add datetime hashing for st.cache_data and st.cache_resource (#6812)
  lib/streamlit/runtime/caching/hashing.py
  lib/tests/streamlit/runtime/caching/hashing_test.py
Due: no-relative-imports

Bump component-lib version to 2.0.0 and add release notes (#6842)
  component-lib/RELEASE_NOTES.md
  component-lib/package.json
Due: none

Delay slider `thumbValueAlignment` to allow page layout to complete (#6828)
  e2e/scripts/st_select_slider.py
  e2e/specs/st_select_slider.spec.js
  e2e/specs/st_slider.spec.js
  frontend/src/lib/components/widgets/Slider/Slider.tsx
Due: prettier, typecheck, eslint, no-relative-imports

Fix: description of config options (#6917)
  lib/streamlit/config.py
Due: no-relative-imports

Slightly simplify bug report template (#6972)
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Minimum version dependency testing (#6802)
  .github/actions/make_init/action.yml
  .github/workflows/python-min-deps.yml
  Makefile
  e2e/scripts/st_arrow_altair_chart.py
  lib/min-constraints-gen.txt
  lib/setup.py
  lib/streamlit/testing/element_tree.py
  lib/test-requirements.txt
  scripts/check_license_headers.py
  scripts/get_min_versions.py
Due: no-relative-imports

Update st.audio/st.video docstrings (#6964)
  lib/streamlit/elements/media.py
Due: no-relative-imports

Only apply spinner fix to chat message (#6923)
  lib/streamlit/elements/spinner.py
  lib/tests/streamlit/spinner_test.py
  lib/tests/streamlit/write_test.py
Due: no-relative-imports

Add more correct out of bounds checks for min_value and max_value for st.number_input (#6847)
  lib/streamlit/elements/number_input.py
  lib/tests/streamlit/elements/number_input_test.py
Due: no-relative-imports

Fix baseweb warnings by using longhand properties (#6976)
  frontend/src/lib/components/shared/AlertContainer/AlertContainer.tsx
Due: prettier, typecheck, eslint

Add color_util.py, which will be used by native charts in next few PRs. (#6826)
  lib/streamlit/color_util.py
  lib/streamlit/errors.py
  lib/tests/streamlit/color_util_test.py
Due: no-relative-imports

LangChain CallbackHandler (#6890)
  lib/min-constraints-gen.txt
  lib/setup.py
  lib/streamlit/external/__init__.py
  lib/streamlit/external/langchain/__init__.py
  lib/streamlit/external/langchain/mutable_expander.py
  lib/streamlit/external/langchain/streamlit_callback_handler.py
  lib/test-requirements.txt
  lib/tests/streamlit/external/__init__.py
  lib/tests/streamlit/external/langchain/__init__.py
  lib/tests/streamlit/external/langchain/capturing_callback_handler.py
  lib/tests/streamlit/external/langchain/streamlit_callback_handler_test.py
  lib/tests/streamlit/external/langchain/test_data/alanis.pickle
Due: no-relative-imports

Also use bottom padding in embedded mode for chat input (#6979)
  e2e/scripts/embedded_chat_input_app.py
  e2e/specs/embedded_chat_input_app.js
  frontend/app/src/components/AppView/AppView.tsx
  frontend/app/src/components/AppView/styled-components.ts
Due: prettier, typecheck, no-relative-imports

Update hamburger menu icon to overflow (#6947)
  frontend/cypress/snapshots/linux/2x/deploy_button.spec.js/deploy_button-dark.snap.png
  frontend/cypress/snapshots/linux/2x/deploy_button.spec.js/deploy_button.snap.png
  frontend/cypress/snapshots/linux/2x/st_disconnect.spec.js/disconnected-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_disconnect.spec.js/disconnected.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/animation-demo-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/animation-demo.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/dataframe-demo-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/dataframe-demo.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/mapping-demo-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/mapping-demo.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/welcome-streamlit-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/welcome-streamlit.snap.png
  frontend/src/app/App.tsx
  frontend/src/app/components/Header/styled-components.ts
  frontend/src/app/components/MainMenu/MainMenu.test.tsx
  frontend/src/app/components/MainMenu/MainMenu.tsx
  frontend/src/app/components/MainMenu/styled-components.ts
  frontend/src/app/components/Sidebar/Sidebar.tsx
  frontend/src/app/components/StreamlitDialog/__snapshots__/StreamlitDialog.test.tsx.snap
  frontend/src/lib/components/shared/BaseButton/BaseButton.tsx
  frontend/src/lib/components/shared/BaseButton/styled-components.ts
  lib/streamlit/config.py
Due: prettier, typecheck, eslint, no-relative-imports

Fix protobuf gen in min deps workflow (#6909)
  .github/workflows/python-min-deps.yml
Due: none

Ensure script cache is cleared before the script is rerun if necessary (#6884)
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/runtime.py
  lib/tests/streamlit/runtime/app_session_test.py
  lib/tests/streamlit/runtime/runtime_test.py
Due: no-relative-imports

Up version to 1.24.0 (#6905)
  frontend/package.json
  lib/setup.py
Due: no-relative-imports

Strong typing for `withExpandable` HOC (#6924)
  frontend/src/lib/components/core/Block/Block.tsx
  frontend/src/lib/hocs/withExpandable/withExpandable.test.tsx
  frontend/src/lib/hocs/withExpandable/withExpandable.tsx
Due: prettier, typecheck, eslint

Do not rerun when a url contains an anchor (#6834)
  frontend/src/app/App.test.tsx
  frontend/src/app/App.tsx
Due: prettier, typecheck, eslint

fix: frontend/package.json & frontend/yarn.lock to reduce vulnerabilities (#6959)
  frontend/package.json
  frontend/yarn.lock
Due: none

Fix styler support for data editor (#6915)
  lib/streamlit/elements/data_editor.py
  lib/tests/streamlit/elements/data_editor_test.py
Due: no-relative-imports

modify st.echo to use ast to handle indenting properly (#5375)
  lib/streamlit/echo.py
  lib/tests/streamlit/echo_test_data/multiline_param_echo.py
  lib/tests/streamlit/elements/echo_test.py
  lib/tests/streamlit/testing/element_tree_test.py
Due: no-relative-imports

Respect current existing env var in build_info.py (#6906)
  .github/scripts/build_info.py
Due: no-relative-imports

Expose script timeout in testing API (#6886)
  lib/streamlit/testing/element_tree.py
  lib/tests/streamlit/testing/element_tree_test.py
Due: no-relative-imports

Allow the use of general number types in st.slider (#6816)
  lib/streamlit/elements/slider.py
  lib/tests/streamlit/elements/slider_test.py
Due: no-relative-imports

Release 1.24.1 (#6965)
  frontend/package.json
  lib/setup.py
Due: no-relative-imports

Feature: st.toast (#6783)
  e2e/scripts/st_toast.py
  e2e/specs/st_toast.spec.js
  frontend/app/src/App.tsx
  frontend/app/src/components/AppContext.tsx
  frontend/app/src/components/AppView/AppView.test.tsx
  frontend/app/src/components/AppView/AppView.tsx
  frontend/app/src/components/AppView/styled-components.ts
  frontend/app/src/components/EventContainer/EventContainer.test.tsx
  frontend/app/src/components/EventContainer/EventContainer.tsx
  frontend/app/src/components/EventContainer/index.tsx
  frontend/cypress/snapshots/linux/2x/st_toast.spec.js/toast-default-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_toast.spec.js/toast-default-light.snap.png
  frontend/cypress/snapshots/linux/2x/st_toast.spec.js/toast-expanded-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_toast.spec.js/toast-expanded-light.snap.png
  frontend/cypress/snapshots/linux/2x/st_toast.spec.js/toast-long-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_toast.spec.js/toast-long-light.snap.png
  frontend/lib/src/AppNode.test.ts
  frontend/lib/src/AppNode.ts
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/elements/Toast/Toast.test.tsx
  frontend/lib/src/components/elements/Toast/Toast.tsx
  frontend/lib/src/components/elements/Toast/index.tsx
  frontend/lib/src/components/elements/Toast/styled-components.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/styled-components.ts
  frontend/lib/src/theme/primitives/breakpoints.ts
  lib/streamlit/__init__.py
  lib/streamlit/delta_generator.py
  lib/streamlit/elements/alert.py
  lib/streamlit/elements/toast.py
  lib/streamlit/string_util.py
  lib/tests/streamlit/delta_generator_test.py
  lib/tests/streamlit/streamlit_test.py
  lib/tests/streamlit/toast_test.py
  proto/streamlit/proto/Element.proto
  proto/streamlit/proto/Toast.proto
Due: prettier, typecheck, no-relative-imports

Update st.selectbox description of placeholder (#7020)
  lib/streamlit/elements/selectbox.py
Due: no-relative-imports

Toast design adjustments (#7011)
  frontend/lib/src/components/elements/Toast/Toast.tsx
Due: prettier, typecheck
