Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Add final extra space
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

resolve path in get_module_paths
  lib/streamlit/watcher/local_sources_watcher.py
Due: no-relative-imports

Fix bug?
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

Remove another tsexpect error
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

Attempt to fix tests
  lib/tests/streamlit/elements/arrow_altair_test.py
Due: no-relative-imports

Attempt to move skip
  lib/tests/streamlit/elements/arrow_altair_test.py
Due: no-relative-imports

Readd watchdog
  lib/min-constraints-gen.txt
Due: none

Add comment
  lib/streamlit/elements/arrow_vega_lite.py
Due: no-relative-imports

Use different mechanism to keep plotly state
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

Minor improvements
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

Directly apply streamlit theme
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

Test form capabilities
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
  lib/streamlit/elements/plotly_chart.py
  proto/streamlit/proto/PlotlyChart.proto
Due: prettier, typecheck, no-relative-imports

Support nesting of cached functions
  lib/streamlit/runtime/caching/cached_message_replay.py
Due: no-relative-imports

Update e2e test
  e2e_playwright/st_cache_data.py
Due: no-relative-imports

fix bug that allowed selections to enter non-select plotly charts
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

Add zoom tests
  e2e_playwright/st_plotly_chart_select_test.py
Due: no-relative-imports

Add fixes for double click, multiple charts, and selectionPoints always opaquing
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

Fix issues
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
  lib/streamlit/elements/plotly_chart.py
Due: prettier, typecheck, no-relative-imports

Attempt to fix min-constraints
  lib/min-constraints-gen.txt
Due: none

Use `cache_data` instead of `memo` decorator name (#8491)
  lib/streamlit/runtime/caching/cached_message_replay.py
Due: no-relative-imports

Add colum selection mode
  e2e_playwright/st_dataframe_selections.py
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
  frontend/lib/src/components/widgets/DataFrame/EditingState.ts
  lib/streamlit/elements/arrow.py
  proto/streamlit/proto/Arrow.proto
Due: prettier, typecheck, no-relative-imports

Fix escaping in docstrings (#8510)
  lib/streamlit/elements/lib/column_types.py
  lib/streamlit/elements/widgets/button.py
Due: no-relative-imports

Fix issue
  e2e_playwright/st_dataframe_selections.py
  lib/streamlit/elements/arrow.py
Due: no-relative-imports

Updating constraints. Github run id:8714568746
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Keep old selections
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
Due: prettier, typecheck

Add logo with no sidebar
  frontend/app/src/components/AppView/AppView.tsx
  frontend/app/src/components/Sidebar/Sidebar.tsx
  frontend/app/src/components/Sidebar/styled-components.ts
Due: prettier, typecheck

PoC of simple charts: titles and customizable axes labels
  lib/streamlit/elements/arrow_altair.py
Due: no-relative-imports

Refactor title assignment for brevity
  lib/streamlit/elements/arrow_altair.py
Due: no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:8717387649
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Fix typo in axis label docstrings
  lib/streamlit/elements/arrow_altair.py
Due: no-relative-imports

Improve expand/collapse & styling
  frontend/app/src/components/AppView/AppView.tsx
  frontend/app/src/components/Sidebar/SidebarNav.tsx
  frontend/app/src/components/Sidebar/styled-components.ts
Due: prettier, typecheck

Update e2e tests
  e2e_playwright/st_cache_data.py
  e2e_playwright/st_cache_data_test.py
  e2e_playwright/st_cache_resource.py
  e2e_playwright/st_cache_resource_test.py
Due: no-relative-imports

Rename to check_widget_usage_rules
  lib/streamlit/components/v1/custom_component.py
  lib/streamlit/elements/form.py
  lib/streamlit/elements/utils.py
  lib/streamlit/elements/widgets/button.py
  lib/streamlit/elements/widgets/camera_input.py
  lib/streamlit/elements/widgets/chat.py
  lib/streamlit/elements/widgets/checkbox.py
  lib/streamlit/elements/widgets/color_picker.py
  lib/streamlit/elements/widgets/file_uploader.py
  lib/streamlit/elements/widgets/multiselect.py
  lib/streamlit/elements/widgets/number_input.py
  lib/streamlit/elements/widgets/radio.py
  lib/streamlit/elements/widgets/select_slider.py
  lib/streamlit/elements/widgets/selectbox.py
  lib/streamlit/elements/widgets/slider.py
  lib/streamlit/elements/widgets/text_widgets.py
  lib/streamlit/elements/widgets/time_widgets.py
Due: no-relative-imports

Move print-adjust-color property
  frontend/app/src/components/AppView/styled-components.ts
  frontend/lib/src/theme/globalStyles.ts
Due: prettier, typecheck

Fix print sidebar height in Safari
  frontend/app/src/components/Sidebar/styled-components.ts
Due: prettier, typecheck

Center app content when printing
  frontend/app/src/components/AppView/styled-components.ts
Due: prettier, typecheck

Fix linting error
  frontend/app/src/components/AppView/styled-components.ts
Due: prettier, typecheck

Add small top padding for printing
  frontend/app/src/components/AppView/styled-components.ts
  frontend/app/src/components/Sidebar/styled-components.ts
Due: prettier, typecheck

Fix typo
  e2e_playwright/print_app_test.py
Due: no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
