Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Update comment
  lib/streamlit/elements/spinner.py
Due: no-relative-imports

Add comment to spinner test
  lib/tests/streamlit/spinner_test.py
Due: no-relative-imports

Update st.slider and st.select_slider e2e tests
  e2e/scripts/st_select_slider.py
  e2e/specs/st_select_slider.spec.js
  e2e/specs/st_slider.spec.js
Due: typecheck, no-relative-imports

Update num of slider elements in select slider e2e
  e2e/specs/st_select_slider.spec.js
Due: typecheck

Fix stale element issue caused by spinners (#6859)
  lib/streamlit/elements/spinner.py
  lib/tests/streamlit/runtime/caching/test_data/arrow_replay.py
  lib/tests/streamlit/runtime/caching/test_data/cached_widget_replay_dynamic.py
  lib/tests/streamlit/script_interactions_test.py
  lib/tests/streamlit/spinner_test.py
  lib/tests/streamlit/test_data/cached_widget_replay.py
  lib/tests/streamlit/write_test.py
Due: no-relative-imports

Debug path in script
  scripts/run_bare_integration_tests.py
Due: no-relative-imports

Fix on sidebar elements not changing its font (#6825)
  frontend/src/app/components/Sidebar/ThemedSidebar.tsx
Due: prettier, typecheck, eslint

use st.select_slider in select slider e2e
  e2e/scripts/st_select_slider.py
Due: no-relative-imports

Fix session state init error
  e2e/scripts/st_select_slider.py
Due: no-relative-imports

goodbye Python 3.7
  lib/setup.py
Due: no-relative-imports

Update index on StyledThumbValue snapshot to 11
  e2e/specs/st_select_slider.spec.js
Due: typecheck

remove unneeded isolated_asyncio_test_case.py
  lib/tests/isolated_asyncio_test_case.py
  lib/tests/streamlit/runtime/app_session_test.py
  lib/tests/streamlit/runtime/runtime_test_case.py
  lib/tests/streamlit/runtime/runtime_threading_test.py
  lib/tests/streamlit/web/bootstrap_test.py
  lib/tests/streamlit/web/server/browser_websocket_handler_test.py
  scripts/check_license_headers.py
Due: no-relative-imports

more python 3.7 cleanup
  e2e/scripts/st_pyplot_kwargs.py
  lib/setup.py
Due: no-relative-imports

doc_string.py
  lib/streamlit/elements/doc_string.py
Due: no-relative-imports

test_walrus
  lib/tests/streamlit/elements/help_test.py
Due: no-relative-imports

help_test
  lib/tests/streamlit/elements/help_test.py
Due: no-relative-imports

update build_info.py
  .github/scripts/build_info.py
Due: no-relative-imports

Fix mypy errors
  lib/streamlit/runtime/legacy_caching/hashing.py
  lib/streamlit/runtime/runtime.py
Due: no-relative-imports

whoops
  lib/streamlit/runtime/runtime.py
Due: no-relative-imports

mypy 1.4 has some breaking changes
  lib/dev-requirements.txt
Due: none

mypy >= 1.4
  lib/dev-requirements.txt
Due: none

Add bottom pane
  frontend/src/app/components/AppView/AppView.tsx
  frontend/src/app/components/AppView/styled-components.ts
  frontend/src/lib/AppNode.ts
  frontend/src/lib/components/core/Block/Block.tsx
  frontend/src/lib/components/elements/ChatMessage/styled-components.ts
  frontend/src/lib/components/widgets/ChatInput/ChatInput.tsx
  frontend/src/lib/components/widgets/ChatInput/styled-components.ts
  lib/streamlit/__init__.py
  proto/streamlit/proto/RootContainer.proto
Due: prettier, typecheck, eslint, no-relative-imports

Fix mypy error and remove unnecessary test now
  lib/streamlit/elements/number_input.py
  lib/tests/streamlit/elements/number_input_test.py
Due: no-relative-imports

Camera width debounce logic (#6866)
  frontend/src/lib/components/widgets/CameraInput/WebcamComponent.tsx
Due: prettier, typecheck, eslint

Drop Python 3.7 support (#6868)
  .github/scripts/build_info.py
  e2e/scripts/st_pyplot_kwargs.py
  lib/dev-requirements.txt
  lib/setup.py
  lib/streamlit/elements/doc_string.py
  lib/streamlit/runtime/legacy_caching/hashing.py
  lib/streamlit/runtime/runtime.py
  lib/tests/isolated_asyncio_test_case.py
  lib/tests/streamlit/elements/help_test.py
  lib/tests/streamlit/runtime/app_session_test.py
  lib/tests/streamlit/runtime/runtime_test_case.py
  lib/tests/streamlit/runtime/runtime_threading_test.py
  lib/tests/streamlit/web/bootstrap_test.py
  lib/tests/streamlit/web/server/browser_websocket_handler_test.py
  scripts/check_license_headers.py
Due: no-relative-imports

Updating constraints. Github run id:5327791586
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Fix scroll height issue
  frontend/src/lib/components/widgets/ChatInput/ChatInput.tsx
Due: prettier, typecheck, eslint

Fixed Textarea resizing issues
  frontend/src/lib/components/widgets/ChatInput/ChatInput.tsx
  frontend/src/lib/components/widgets/ChatInput/styled-components.ts
Due: prettier, typecheck, eslint

more path debugging
  .github/actions/make_init/action.yml
  .github/workflows/python-min-deps.yml
Due: none

Update typing-extensions for compatibility with snowflake-connector-python
  lib/min-constraints-gen.txt
  lib/setup.py
Due: no-relative-imports

Fixed Textarea resizing issues (#6871)
  frontend/src/lib/components/widgets/ChatInput/ChatInput.tsx
  frontend/src/lib/components/widgets/ChatInput/styled-components.ts
Due: prettier, typecheck, eslint

Other changes
  frontend/src/app/components/AppView/AppView.tsx
  frontend/src/app/components/AppView/styled-components.ts
  frontend/src/lib/AppNode.ts
  frontend/src/lib/components/widgets/ChatInput/styled-components.ts
  lib/streamlit/elements/chat.py
  proto/streamlit/proto/RootContainer.proto
Due: prettier, typecheck, eslint, no-relative-imports

Show empty chat messages
  e2e/scripts/st_chat_message.py
  frontend/src/lib/components/core/Block/Block.tsx
Due: prettier, typecheck, eslint, no-relative-imports

Update comment
  frontend/src/lib/components/core/Block/Block.tsx
Due: prettier, typecheck, eslint

Does the problem happen if we install everything?
  .github/actions/make_init/action.yml
Due: none

Add todo
  frontend/src/lib/components/core/Block/Block.tsx
Due: prettier, typecheck, eslint

Closer to develop
  .github/actions/make_init/action.yml
Due: none

Maybe it is the followup make develop that lets it work
  .github/actions/make_init/action.yml
  .github/workflows/python-min-deps.yml
Due: none

Update docstrings
  lib/streamlit/elements/chat.py
Due: no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
