Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

add suggested test
  lib/streamlit/runtime/caching/hashing.py
  lib/tests/streamlit/runtime/caching/hashing_test.py
Due: no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:6212076499
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

added voice-assistant.py file
  examples/voice-assistant.py
Due: no-relative-imports

Updating constraints. Github run id:6219019159
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Fix comments
  e2e/scripts/st_data_editor_config.py
  e2e_playwright/st_data_editor_column_types_test.py
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/core/Block/styled-components.ts
Due: prettier, typecheck, no-relative-imports

Migrate BokehChart to RTL
  frontend/lib/src/components/elements/BokehChart/BokehChart.test.tsx
  frontend/lib/src/components/elements/BokehChart/BokehChart.tsx
Due: prettier, typecheck

Fix imports
  frontend/lib/src/components/elements/BokehChart/BokehChart.test.tsx
  frontend/lib/src/components/elements/BokehChart/BokehChart.tsx
Due: prettier, typecheck

Fix nits
  frontend/lib/src/components/elements/BokehChart/BokehChart.test.tsx
  frontend/lib/src/components/elements/BokehChart/BokehChart.tsx
Due: prettier, typecheck

Current progress on themeCreatorDialog but 2 tests are failing
  frontend/app/src/components/StreamlitDialog/ThemeCreatorDialog.test.tsx
  frontend/app/src/components/StreamlitDialog/ThemeCreatorDialog.tsx
  frontend/app/src/components/StreamlitDialog/__snapshots__/ThemeCreatorDialog.test.tsx.snap
Due: prettier, typecheck

Fix tests
  frontend/app/src/connection/WebsocketConnection.test.tsx
  frontend/lib/src/hostComm/HostCommunicationManager.test.tsx
Due: prettier, typecheck

Migrate Markdown to RTL
  frontend/lib/src/components/elements/Markdown/Markdown.test.tsx
Due: prettier, typecheck

Migrate Pagination to RTL
  frontend/lib/src/hocs/withPagination/Pagination.test.tsx
  frontend/lib/src/hocs/withPagination/Pagination.tsx
Due: prettier, typecheck

Migrate CameraInputButton to RTL
  frontend/lib/src/components/widgets/CameraInput/CameraInputButton.test.tsx
Due: prettier, typecheck

Fix lints
  frontend/lib/src/components/elements/Markdown/Markdown.test.tsx
Due: prettier, typecheck

Fix lints
  frontend/lib/src/hocs/withPagination/Pagination.test.tsx
Due: prettier, typecheck

Migrate BokehChart to RTL (#7351)
  frontend/lib/src/components/elements/BokehChart/BokehChart.test.tsx
  frontend/lib/src/components/elements/BokehChart/BokehChart.tsx
Due: prettier, typecheck

minor improvements and tests
  lib/streamlit/runtime/caching/hashing.py
  lib/tests/streamlit/runtime/caching/hashing_test.py
Due: no-relative-imports

Remove beforeEach as it's unnecessary
  frontend/lib/src/components/widgets/CameraInput/CameraInputButton.test.tsx
Due: prettier, typecheck

Fix super nit
  frontend/lib/src/hocs/withPagination/Pagination.test.tsx
Due: prettier, typecheck

Fix super nit
  frontend/lib/src/components/elements/Markdown/Markdown.test.tsx
Due: prettier, typecheck

Move imports around
  frontend/lib/src/components/widgets/CameraInput/CameraInputButton.test.tsx
Due: prettier, typecheck

add xsrf cookie options
  lib/streamlit/web/server/server.py
Due: no-relative-imports

Migrate Pagination to RTL (#7355)
  frontend/lib/src/hocs/withPagination/Pagination.test.tsx
  frontend/lib/src/hocs/withPagination/Pagination.tsx
Due: prettier, typecheck

Docstring clarity tweak
  lib/streamlit/testing/local_script_runner.py
Due: no-relative-imports

Migrate overflow tooltip to RTL
  frontend/lib/src/components/shared/Tooltip/OverflowTooltip.test.tsx
  frontend/lib/src/components/shared/Tooltip/OverflowTooltip.tsx
  frontend/lib/src/components/shared/Tooltip/__snapshots__/OverflowTooltip.test.tsx.snap
Due: prettier, typecheck

Remove consoles
  frontend/lib/src/components/shared/Tooltip/OverflowTooltip.tsx
Due: prettier, typecheck

Add yield point callback to safe session state
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/streamlit/runtime/state/safe_session_state.py
  lib/tests/delta_generator_test_case.py
  lib/tests/exception_capturing_thread.py
  lib/tests/streamlit/runtime/caching/common_cache_test.py
  lib/tests/streamlit/runtime/state/safe_session_state_test.py
  lib/tests/streamlit/runtime/state/session_state_proxy_test.py
  lib/tests/streamlit/script_run_context_test.py
  lib/tests/streamlit/user_info_test.py
  lib/tests/testutil.py
Due: no-relative-imports

Remove comment
  frontend/lib/src/components/elements/Markdown/Markdown.test.tsx
Due: prettier, typecheck

Fix comments
  frontend/lib/src/components/elements/Markdown/Markdown.test.tsx
Due: prettier, typecheck

Fix comments
  frontend/lib/src/components/widgets/CameraInput/CameraInputButton.test.tsx
Due: prettier, typecheck

Migrate VirtualDropdown to RTL
  frontend/lib/src/components/shared/Dropdown/VirtualDropdown.test.tsx
  frontend/lib/src/components/shared/Dropdown/VirtualDropdown.tsx
Due: prettier, typecheck

Add overrideable default timeout for script tests (#7327)
  lib/streamlit/testing/element_tree.py
  lib/streamlit/testing/local_script_runner.py
  lib/streamlit/testing/script_interactions.py
  lib/tests/streamlit/script_interactions_test.py
Due: no-relative-imports

Migrate StreamlitLib to RTL
  frontend/app/src/StreamlitLib.test.tsx
Due: prettier, typecheck

Add comment
  frontend/app/src/StreamlitLib.test.tsx
Due: prettier, typecheck

update comment
  frontend/app/src/StreamlitLib.test.tsx
Due: prettier, typecheck

change playwright to be explicit snapshots
  e2e_playwright/st_data_editor_column_types_test.py
Due: no-relative-imports

Remove disconnect state
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/streamlit/runtime/state/safe_session_state.py
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
  lib/tests/streamlit/runtime/state/safe_session_state_test.py
Due: no-relative-imports
