Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Fixes
  e2e_playwright/shared/dataframe_utils.py
  e2e_playwright/st_data_editor_config.py
  e2e_playwright/st_data_editor_config_test.py
Due: no-relative-imports

Fix type check
  lib/streamlit/elements/widgets/data_editor.py
Due: no-relative-imports

Remove
  e2e_playwright/st_data_editor_config.py
Due: no-relative-imports

Fix
  e2e_playwright/st_data_editor_config_test.py
Due: no-relative-imports

Update
  e2e_playwright/st_data_editor_config.py
  e2e_playwright/st_data_editor_config_test.py
Due: no-relative-imports

Update
  e2e_playwright/st_data_editor_config_test.py
Due: no-relative-imports

Add test case
  lib/tests/streamlit/elements/data_editor_test.py
Due: no-relative-imports

Fix typing
  lib/tests/streamlit/elements/data_editor_test.py
Due: no-relative-imports

Fix e2e test flakiness
  e2e_playwright/st_dataframe_selections_test.py
  e2e_playwright/st_layouts_container_various_elements_test.py
Due: no-relative-imports

Use higher timeout
  .github/workflows/playwright.yml
Due: none

Change a line
  e2e_playwright/st_dataframe_config_test.py
Due: no-relative-imports

Use higher delay
  e2e_playwright/st_dataframe_input_data_test.py
Due: no-relative-imports

Update
  e2e_playwright/st_layouts_container_various_elements_test.py
Due: no-relative-imports

Update e2e_playwright/st_dataframe_selections_test.py
  e2e_playwright/st_dataframe_selections_test.py
Due: no-relative-imports

More refactoring
  e2e_playwright/st_layouts_container_various_elements.py
  e2e_playwright/st_layouts_container_various_elements_test.py
  e2e_playwright/st_select_slider_test.py
Due: no-relative-imports

Update container case
  e2e_playwright/st_layouts_container_various_elements.py
  e2e_playwright/st_layouts_container_various_elements_test.py
Due: no-relative-imports

Update
  e2e_playwright/st_layouts_container_various_elements.py
  e2e_playwright/st_layouts_container_various_elements_test.py
Due: no-relative-imports

Add shared e2e selectbox selection util
  e2e_playwright/custom_components/popular_components_test.py
  e2e_playwright/shared/app_utils.py
  e2e_playwright/st_chat_input_test.py
  e2e_playwright/st_effects_with_fragment_interactions_test.py
  e2e_playwright/st_form_test.py
  e2e_playwright/st_fragment_basics_test.py
  e2e_playwright/st_fragment_dynamic_form_test.py
  e2e_playwright/st_logo_test.py
  e2e_playwright/st_pydeck_chart_test.py
Due: no-relative-imports

Update
  e2e_playwright/custom_components/pdf_component_test.py
  e2e_playwright/st_map_ensure_no_stale_maps_test.py
  e2e_playwright/st_rerun_test.py
Due: no-relative-imports

Add some defensive protection to prevent empty state keys
  lib/streamlit/runtime/state/session_state.py
  lib/tests/streamlit/runtime/state/session_state_test.py
Due: no-relative-imports

REmove
  e2e_playwright/st_fragment_basics_test.py
Due: no-relative-imports

Add comments
  lib/streamlit/elements/lib/dialog.py
Due: no-relative-imports

Improve
  e2e_playwright/shared/app_utils.py
Due: no-relative-imports

Reset hovering
  e2e_playwright/custom_components/popular_components_test.py
Due: no-relative-imports

done
  e2e_playwright/test_assets/iframerResizer.min.js
  e2e_playwright/test_assets/sintel-de.vtt
  e2e_playwright/test_assets/sintel-en.vtt
  lib/streamlit/runtime/download_data_util.py
  lib/streamlit/runtime/file_util.py
Due: typecheck, no-relative-imports

Add an automated PR comment on external PRs
  .github/workflows/fork-pr-welcome.yml
Due: none

Add automated comment on external PRs
  .github/workflows/fork-pr-welcome.yml
Due: none

Update comment
  .github/workflows/fork-pr-welcome.yml
Due: none

Update
  .github/workflows/fork-pr-welcome.yml
Due: none

Simplify
  .github/workflows/fork-pr-welcome.yml
Due: none

Fix
  .github/workflows/fork-pr-welcome.yml
Due: none

Address feedback
  specs/0002-auth-oidc-tokens/product-spec.md
Due: none

Update
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/utils.ts
Due: prettier, typecheck

Add label_visibility to st.button
  e2e_playwright/st_button.py
  frontend/lib/src/components/widgets/Button/Button.test.tsx
  frontend/lib/src/components/widgets/Button/Button.tsx
  lib/streamlit/elements/form.py
  lib/streamlit/elements/lib/policies.py
  lib/streamlit/elements/lib/utils.py
  lib/streamlit/elements/widgets/button.py
  lib/tests/streamlit/elements/audio_input_test.py
  lib/tests/streamlit/elements/button_test.py
  lib/tests/streamlit/elements/camera_input_test.py
  lib/tests/streamlit/elements/checkbox_test.py
  lib/tests/streamlit/elements/color_picker_test.py
  lib/tests/streamlit/elements/date_input_test.py
  lib/tests/streamlit/elements/file_uploader_test.py
  lib/tests/streamlit/elements/metric_test.py
  lib/tests/streamlit/elements/multiselect_test.py
  lib/tests/streamlit/elements/number_input_test.py
  lib/tests/streamlit/elements/radio_test.py
  lib/tests/streamlit/elements/select_slider_test.py
  lib/tests/streamlit/elements/selectbox_test.py
  lib/tests/streamlit/elements/slider_test.py
  lib/tests/streamlit/elements/text_area_test.py
  lib/tests/streamlit/elements/text_input_test.py
  lib/tests/streamlit/elements/time_input_test.py
  lib/tests/streamlit/form_test.py
  proto/streamlit/proto/Button.proto
Due: prettier, typecheck, no-relative-imports

Update
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
Due: prettier, typecheck

Make button label appear for screen reader
  frontend/lib/src/components/shared/BaseButton/DynamicButtonLabel.test.tsx
  frontend/lib/src/components/shared/BaseButton/DynamicButtonLabel.tsx
  frontend/lib/src/components/shared/BaseButton/styled-components.ts
  frontend/lib/src/components/widgets/Button/Button.test.tsx
  frontend/lib/src/components/widgets/Button/Button.tsx
Due: prettier, typecheck

updated formatting for ruff format pre commit hook error
  e2e_playwright/st_metric_area_chart_test.py
Due: no-relative-imports

Update spec and spec template
  specs/0000-template/product-spec.md
  specs/0002-auth-oidc-tokens/product-spec.md
Due: none

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
