Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Fix decimal types
  lib/tests/streamlit/data_mocks.py
Due: no-relative-imports

Remove data editor column type tests
  e2e/scripts/st_data_editor_column_types.py
  e2e/specs/st_data_editor_column_types.spec.js
  frontend/cypress/snapshots/linux/2x/st_data_editor_column_types.spec.js/data_editor-types-0.snap.png
  frontend/cypress/snapshots/linux/2x/st_data_editor_column_types.spec.js/data_editor-types-1.snap.png
  frontend/cypress/snapshots/linux/2x/st_data_editor_column_types.spec.js/data_editor-types-2.snap.png
  frontend/cypress/snapshots/linux/2x/st_data_editor_column_types.spec.js/data_editor-types-3.snap.png
  frontend/cypress/snapshots/linux/2x/st_data_editor_column_types.spec.js/data_editor-types-4.snap.png
  frontend/cypress/snapshots/linux/2x/st_data_editor_column_types.spec.js/data_editor-types-5.snap.png
  frontend/cypress/snapshots/linux/2x/st_data_editor_column_types.spec.js/data_editor-types-6.snap.png
  frontend/cypress/snapshots/linux/2x/st_data_editor_column_types.spec.js/data_editor-types-7.snap.png
Due: typecheck, no-relative-imports

Remove invalid screenshot
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-5-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-5.snap.png
Due: none

Dependency updates... - Part D (#6010)
  NOTICES
  frontend/.eslintrc
  frontend/craco.config.js
  frontend/package.json
  frontend/src/components/core/StatusWidget/StatusWidget.test.tsx
  frontend/src/components/core/StreamlitDialog/StreamlitDialog.test.tsx
  frontend/src/components/elements/DeckGlJsonChart/DeckGlJsonChart.test.tsx
  frontend/src/components/elements/DeckGlJsonChart/DeckGlJsonChart.tsx
  frontend/src/components/elements/GraphVizChart/GraphVizChart.test.tsx
  frontend/src/components/elements/GraphVizChart/GraphVizChart.tsx
  frontend/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
  frontend/src/lib/FileUploadClient.test.ts
  frontend/src/lib/MetricsManagerTestUtils.ts
  frontend/src/lib/WebsocketConnection.test.tsx
  frontend/yarn.lock
Due: prettier, typecheck, eslint

Add back correct screenshots
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-5-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-5.snap.png
Due: none

Unstring DeltaGenerator in its own type annotations
  lib/streamlit/delta_generator.py
Due: no-relative-imports

Remove Union uses
  lib/streamlit/delta_generator.py
Due: no-relative-imports

Convert Optional to unions
  lib/streamlit/delta_generator.py
Due: no-relative-imports

Use builtin dict in annotations
  lib/streamlit/delta_generator.py
Due: no-relative-imports

Use builtin tuple in annotations
  lib/streamlit/delta_generator.py
Due: no-relative-imports

Unstring remaining annotations in DG
  lib/streamlit/delta_generator.py
Due: no-relative-imports

add a few tests
  frontend/src/components/widgets/NumberInput/NumberInput.test.tsx
  frontend/src/components/widgets/NumberInput/NumberInput.tsx
Due: prettier, typecheck, eslint

Make data mocks consistent with last row None
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-0-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-0.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-1-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-1.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-2-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-2.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-3-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-3.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-4-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-4.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-5-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-5.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-6-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-6.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-7-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-7.snap.png
  lib/tests/streamlit/data_mocks.py
Due: no-relative-imports

Update screenshots
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-0-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-0.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-1-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-1.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-2-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-2.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-3-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-3.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-4-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-4.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-5-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-5.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-6-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-6.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-7-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-7.snap.png
Due: none

remove added lines
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Use new annotation features in DeltaGenerator (#6045)
  lib/streamlit/delta_generator.py
Due: no-relative-imports

Add File connection (WIP)
  lib/streamlit/connections/__init__.py
  lib/streamlit/connections/connection_factory.py
  lib/streamlit/connections/file_connection.py
Due: no-relative-imports

Fix some typing and import issues
  lib/streamlit/connections/file_connection.py
Due: no-relative-imports

Remove columns parameter
  lib/streamlit/elements/data_editor.py
Due: no-relative-imports

Add support for time formatting
  frontend/src/lib/Quiver.ts
Due: prettier, typecheck, eslint

minor improvements
  lib/tests/streamlit/data_mocks.py
Due: no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Lint README to fix failing tests
  README.md
Due: none

Static files serving (#5691)
  e2e/scripts/staticfiles_apps/static/streamlit-mark-color.png
  e2e/scripts/staticfiles_apps/streamlit_static_app.py
  e2e/specs/staticfiles_app.spec.js
  frontend/cypress/snapshots/linux/2x/staticfiles_app.spec.js/static_streamlit_logo-dark.snap.png
  frontend/cypress/snapshots/linux/2x/staticfiles_app.spec.js/static_streamlit_logo.snap.png
  lib/streamlit/config.py
  lib/streamlit/file_util.py
  lib/streamlit/web/bootstrap.py
  lib/streamlit/web/server/app_static_file_handler.py
  lib/streamlit/web/server/server.py
  lib/tests/streamlit/config_test.py
  lib/tests/streamlit/file_util_test.py
  lib/tests/streamlit/web/bootstrap_test.py
  lib/tests/streamlit/web/server/app_static_file_handler_test.py
  lib/tests/streamlit/web/server/routes_test.py
  scripts/check_license_headers.py
  scripts/run_e2e_tests.py
Due: typecheck, no-relative-imports

Remove old e2e snapshots
  frontend/cypress/snapshots/linux/2x/multipage_apps.spec.js/multipage-apps-sidebar-nav-dark.snap.png
  frontend/cypress/snapshots/linux/2x/multipage_apps.spec.js/multipage-apps-sidebar-nav.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/animation-demo-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/animation-demo.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/dataframe-demo-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/dataframe-demo.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/hello-mpa-sidebar-nav-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/hello-mpa-sidebar-nav.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/mapping-demo-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/mapping-demo.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/welcome-streamlit-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/welcome-streamlit.snap.png
  frontend/src/components/core/Sidebar/SidebarNav.tsx
  frontend/src/components/core/Sidebar/styled-components.ts
Due: prettier, typecheck, eslint

Fix on menu highlights (#6034)
  frontend/cypress/snapshots/linux/2x/st_main_menu.spec.js/dev_main_menu-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_main_menu.spec.js/dev_main_menu.snap.png
  frontend/cypress/snapshots/linux/2x/st_main_menu.spec.js/main_menu-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_main_menu.spec.js/main_menu.snap.png
  frontend/src/components/core/MainMenu/MainMenu.tsx
  frontend/src/components/core/MainMenu/styled-components.ts
Due: prettier, typecheck, eslint

Add back missing snapshots
  frontend/cypress/snapshots/linux/2x/multipage_apps.spec.js/multipage-apps-sidebar-nav-dark.snap.png
  frontend/cypress/snapshots/linux/2x/multipage_apps.spec.js/multipage-apps-sidebar-nav.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/animation-demo-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/animation-demo.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/dataframe-demo-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/dataframe-demo.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/hello-mpa-sidebar-nav-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/hello-mpa-sidebar-nav.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/mapping-demo-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/mapping-demo.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/welcome-streamlit-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_hello.spec.js/welcome-streamlit.snap.png
Due: none

Add line numbers to st.code
  e2e/scripts/st_code.py
  frontend/cypress/snapshots/linux/2x/st_code.spec.js/syntax_highlighting-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_code.spec.js/syntax_highlighting.snap.png
  frontend/src/components/elements/CodeBlock/CodeBlock.tsx
  frontend/src/components/elements/CodeBlock/styled-components.ts
  lib/streamlit/elements/markdown.py
  lib/tests/streamlit/delta_generator_test.py
  lib/tests/streamlit/elements/code_test.py
  lib/tests/streamlit/streamlit_test.py
Due: prettier, typecheck, eslint, no-relative-imports

Reword line_numbers docstring to indicate optional nature of param
  lib/streamlit/elements/markdown.py
Due: no-relative-imports

defining protocol
  lib/streamlit/runtime/caching/storage/__init__.py
  lib/streamlit/runtime/caching/storage/cache_storage.py
  lib/streamlit/runtime/caching/storage/cache_storage_protocol.py
Due: no-relative-imports

Remove deprecation warnings for endpoints from app logs
  lib/streamlit/web/server/server_util.py
  lib/tests/streamlit/web/server/routes_test.py
  lib/tests/streamlit/web/server/server_test.py
  lib/tests/streamlit/web/server/stats_handler_test.py
Due: no-relative-imports

Update inital state for collapse/expand behavior
  frontend/src/components/core/Sidebar/SidebarNav.tsx
  frontend/src/components/core/Sidebar/styled-components.ts
Due: prettier, typecheck, eslint

Add PR feedback
  frontend/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/src/components/widgets/DataFrame/DataFrame.tsx
  frontend/src/components/widgets/DataFrame/EditingState.ts
Due: prettier, typecheck, eslint

Add comments
  frontend/src/components/widgets/DataFrame/DataFrame.tsx
Due: prettier, typecheck, eslint

Remove unused imports
  frontend/src/components/core/Sidebar/SidebarNav.test.tsx
Due: prettier, typecheck, eslint

Remove snapshots
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-0-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-0.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-1-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-1.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-2-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-2.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-3-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-3.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-4-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-4.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-5-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-5.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-6-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-6.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-7-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-7.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_index_types.js/dataframe-index-types-0.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_index_types.js/dataframe-index-types-1.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_index_types.js/dataframe-index-types-2.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_index_types.js/dataframe-index-types-3.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_index_types.js/dataframe-index-types-4.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_index_types.js/dataframe-index-types-5.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_index_types.js/dataframe-index-types-6.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_index_types.js/dataframe-index-types-7.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_index_types.js/dataframe-index-types-8.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_index_types.js/dataframe-index-types-9.snap.png
Due: none

Fix quiver tests
  frontend/src/lib/Quiver.test.ts
Due: prettier, typecheck, eslint

Update patches
  frontend/package.json
  frontend/yarn.lock
Due: none

Remove screenshots for regeneration
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_styler_support.spec.js/dataframe-pd-styler-0-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_styler_support.spec.js/dataframe-pd-styler-0.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_styler_support.spec.js/dataframe-pd-styler-1-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_styler_support.spec.js/dataframe-pd-styler-1.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_styler_support.spec.js/dataframe-pd-styler-2-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_styler_support.spec.js/dataframe-pd-styler-2.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_styler_support.spec.js/dataframe-pd-styler-3-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_styler_support.spec.js/dataframe-pd-styler-3.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_table.spec.js/arrow-table-visuals1-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_table.spec.js/arrow-table-visuals1.snap.png
Due: none

Add ability to update layout for title
  e2e/scripts/st_plotly_chart.py
  frontend/src/components/elements/PlotlyChart/CustomTheme.tsx
Due: prettier, typecheck, eslint, no-relative-imports
