Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Add docs for requirements for calling widget id gen
  lib/streamlit/runtime/state/common.py
Due: no-relative-imports

Bump protobufjs to 7.2.4 (#7026)
  frontend/lib/package.json
  frontend/yarn.lock
Due: none

fixup! fixup! fixup! Add streamlit components create command
  lib/streamlit/component_template/__init__.py
  lib/streamlit/component_template/node.py
  lib/streamlit/component_template/template_renderer.py
  lib/streamlit/web/cli.py
  lib/tests/streamlit/component_template/node_test.py
  lib/tests/streamlit/component_template/template_config_test.py
  lib/tests/streamlit/component_template/template_renderer_test.py
  lib/tests/streamlit/web/cli_test.py
Due: no-relative-imports

Update conda build number to 1
  lib/conda-recipe/meta.yaml
Due: none

Use current form id as widget id input
  lib/streamlit/elements/camera_input.py
  lib/streamlit/elements/checkbox.py
  lib/streamlit/elements/color_picker.py
  lib/streamlit/elements/multiselect.py
  lib/streamlit/elements/number_input.py
  lib/streamlit/elements/radio.py
  lib/streamlit/elements/select_slider.py
  lib/streamlit/elements/selectbox.py
  lib/streamlit/elements/slider.py
  lib/streamlit/elements/text_widgets.py
  lib/streamlit/elements/time_widgets.py
Due: no-relative-imports

Update st.selectbox description of placeholder (#7020)
  lib/streamlit/elements/selectbox.py
Due: no-relative-imports

Add babel-module-plugin into our create script
  frontend/yarn.lock
Due: none

Add uuid as a dependency (#6789)
  frontend/lib/package.json
  frontend/package.json
  frontend/yarn.lock
Due: none

Fix a bunch of type errors (#6885)
  frontend/app/src/StreamlitLib.test.tsx
  frontend/app/src/connection/DefaultStreamlitEndpoints.ts
  frontend/lib/src/FileUploadClient.ts
  frontend/lib/src/StreamlitEndpoints.ts
  frontend/lib/src/components/widgets/CameraInput/CameraInput.tsx
  frontend/lib/src/components/widgets/FileUploader/FileUploader.test.tsx
  frontend/lib/src/components/widgets/FileUploader/FileUploader.tsx
  frontend/lib/src/components/widgets/FileUploader/UploadFileInfo.ts
  frontend/lib/src/components/widgets/FileUploader/UploadedFile.test.tsx
  proto/streamlit/proto/Common.proto
Due: prettier, typecheck

Feature/uploaded file manager protocol (#6762)
  lib/streamlit/elements/camera_input.py
  lib/streamlit/elements/file_uploader.py
  lib/streamlit/runtime/memory_uploaded_file_manager.py
  lib/streamlit/runtime/runtime.py
  lib/streamlit/runtime/uploaded_file_manager.py
  lib/streamlit/testing/local_script_runner.py
  lib/streamlit/web/server/server.py
  lib/streamlit/web/server/upload_file_request_handler.py
  lib/tests/delta_generator_test_case.py
  lib/tests/exception_capturing_thread.py
  lib/tests/streamlit/runtime/caching/common_cache_test.py
  lib/tests/streamlit/runtime/runtime_test.py
  lib/tests/streamlit/runtime/runtime_test_case.py
  lib/tests/streamlit/runtime/runtime_threading_test.py
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
  lib/tests/streamlit/runtime/uploaded_file_manager_test.py
  lib/tests/streamlit/script_run_context_test.py
  lib/tests/streamlit/web/server/upload_file_request_handler_test.py
  lib/tests/testutil.py
  proto/streamlit/proto/Common.proto
Due: no-relative-imports

Allow file uploader URLs to be fetched via websocket (#6791)
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  frontend/app/src/StreamlitLib.test.tsx
  frontend/app/src/components/AppView/AppView.test.tsx
  frontend/lib/package.json
  frontend/lib/src/FileUploadClient.test.ts
  frontend/lib/src/FileUploadClient.ts
  frontend/lib/src/components/core/Block/ElementNodeRenderer.test.tsx
  frontend/lib/src/components/widgets/FileUploader/FileUploader.tsx
  frontend/lib/src/util/Resolver.ts
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/memory_uploaded_file_manager.py
  lib/streamlit/web/server/server.py
  lib/streamlit/web/server/upload_file_request_handler.py
  lib/tests/streamlit/runtime/app_session_test.py
  proto/streamlit/proto/BackMsg.proto
  proto/streamlit/proto/Common.proto
  proto/streamlit/proto/ForwardMsg.proto
Due: prettier, typecheck, no-relative-imports

Update yarn.lock
  frontend/yarn.lock
Due: none

Fix a bunch of FileUploader js unit tests (#7019)
  frontend/lib/src/FileUploadClient.test.ts
  frontend/lib/src/components/widgets/CameraInput/CameraInput.test.tsx
  frontend/lib/src/components/widgets/FileUploader/FileUploader.test.tsx
  frontend/lib/src/components/widgets/FileUploader/FileUploader.tsx
  frontend/lib/src/components/widgets/FileUploader/UploadedFile.test.tsx
Due: prettier, typecheck

Tweak TODO
  frontend/lib/src/FileUploadClient.ts
Due: prettier, typecheck

Have UploadedFileManager react client fetch and use upload URLs (#6827)
  frontend/app/src/connection/DefaultStreamlitEndpoints.ts
  frontend/lib/src/components/widgets/FileUploader/FileUploader.tsx
  frontend/lib/src/components/widgets/FileUploader/UploadFileInfo.ts
  lib/streamlit/elements/file_uploader.py
  proto/streamlit/proto/Common.proto
Due: prettier, typecheck, no-relative-imports

Fix import
  frontend/lib/src/components/widgets/FileUploader/UploadFileInfo.ts
Due: prettier, typecheck

File uploader/docs and tests (#6945)
  frontend/lib/src/components/widgets/CameraInput/CameraInput.tsx
  frontend/lib/src/components/widgets/FileUploader/FileUploader.test.tsx
  frontend/lib/src/components/widgets/FileUploader/FileUploader.tsx
  lib/streamlit/elements/camera_input.py
  lib/streamlit/elements/file_uploader.py
  lib/streamlit/runtime/memory_uploaded_file_manager.py
  lib/streamlit/runtime/uploaded_file_manager.py
  lib/tests/streamlit/elements/file_uploader_test.py
  lib/tests/streamlit/runtime/app_session_test.py
  lib/tests/streamlit/runtime/caching/hashing_test.py
  lib/tests/streamlit/runtime/legacy_caching/hashing_test.py
  lib/tests/streamlit/runtime/state/session_state_test.py
  lib/tests/streamlit/runtime/uploaded_file_manager_test.py
  lib/tests/streamlit/web/server/upload_file_request_handler_test.py
Due: prettier, typecheck, no-relative-imports

Fix issue with file uploader dropping every other file (#6912)
  frontend/lib/src/components/widgets/FileUploader/FileUploader.tsx
Due: prettier, typecheck

Camera input with new file_uploader abstractions (#6862)
  frontend/lib/src/components/widgets/CameraInput/CameraInput.tsx
  lib/streamlit/elements/camera_input.py
Due: prettier, typecheck, no-relative-imports

Feature/file uploader file urls (#6902)
  frontend/lib/src/FileUploadClient.ts
  frontend/lib/src/components/widgets/CameraInput/CameraInput.tsx
  frontend/lib/src/components/widgets/FileUploader/FileUploader.tsx
  frontend/lib/src/components/widgets/FileUploader/UploadFileInfo.ts
  lib/streamlit/elements/camera_input.py
  lib/streamlit/elements/file_uploader.py
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/uploaded_file_manager.py
  proto/streamlit/proto/Common.proto
Due: prettier, typecheck, no-relative-imports

Backend changes (#6819)
  lib/streamlit/elements/camera_input.py
  lib/streamlit/elements/file_uploader.py
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/memory_uploaded_file_manager.py
  lib/streamlit/runtime/uploaded_file_manager.py
  lib/streamlit/web/server/upload_file_request_handler.py
  proto/streamlit/proto/Common.proto
Due: no-relative-imports

Start supporting configurable file upload URLs in StreamlitEndpoints and FileUploadClient (#6754)
  frontend/app/src/StreamlitLib.test.tsx
  frontend/app/src/connection/DefaultStreamlitEndpoints.test.ts
  frontend/app/src/connection/DefaultStreamlitEndpoints.ts
  frontend/lib/src/FileUploadClient.test.ts
  frontend/lib/src/FileUploadClient.ts
  frontend/lib/src/ForwardMessageCache.test.ts
  frontend/lib/src/StreamlitEndpoints.ts
  frontend/lib/src/components/widgets/CameraInput/CameraInput.tsx
  frontend/lib/src/components/widgets/FileUploader/FileUploader.tsx
  frontend/lib/src/mocks/mocks.ts
Due: prettier, typecheck

Add a TODO
  lib/streamlit/runtime/state/session_state.py
Due: no-relative-imports

Start work on fixing file uploader and camera input e2e tests (#6891)
  e2e/specs/st_file_uploader.spec.js
  frontend/lib/src/components/widgets/CameraInput/CameraInput.tsx
  frontend/lib/src/components/widgets/FileUploader/FileUploader.tsx
Due: prettier, typecheck

Allow conda build number to be set via envvar
  lib/conda-recipe/meta.yaml
Due: none

First pass - fix code overflow in alert elements
  frontend/lib/src/components/elements/AlertElement/AlertElement.tsx
  frontend/lib/src/components/elements/AlertElement/styled-components.tsx
Due: prettier, typecheck

fixup! fixup! fixup! fixup! Add streamlit components create command
  lib/streamlit/component_template/node.py
  lib/streamlit/component_template/template_config.py
  lib/streamlit/component_template/template_renderer.py
Due: no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:5584113735
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Revise fix to not interfere with exception
  frontend/lib/src/components/elements/AlertElement/AlertElement.tsx
  frontend/lib/src/components/elements/AlertElement/styled-components.tsx
  frontend/lib/src/components/shared/AlertContainer/AlertContainer.tsx
  frontend/lib/src/components/shared/AlertContainer/styled-components.ts
Due: prettier, typecheck

fixup! fixup! fixup! fixup! fixup! Add streamlit components create command
  lib/streamlit/component_template/hooks.py
  lib/streamlit/component_template/template_config.py
  lib/streamlit/component_template/template_renderer.py
Due: no-relative-imports

fixup! fixup! fixup! fixup! fixup! fixup! Add streamlit components create command
  lib/streamlit/component_template/template_renderer.py
  lib/tests/streamlit/web/cli_test.py
Due: no-relative-imports

Fix typescript dist by changing the path so that tsc-alias can recognize it properly
  frontend/lib/package.json
  frontend/lib/scripts/create.js
  frontend/lib/tsconfig.prod.json
Due: prettier, typecheck

Add a comment into our create.js code
  frontend/lib/scripts/create.js
Due: prettier, typecheck

cleanup yarn build:lib-type command
  frontend/lib/package.json
Due: none

Fix comment
  frontend/lib/scripts/create.js
Due: prettier, typecheck

Add command and script to ensure relative imports exist in dist folder
  .github/workflows/js-tests.yml
  Makefile
  scripts/ensure_relative_imports.py
Due: no-relative-imports

fixup! fixup! fixup! fixup! fixup! fixup! fixup! Add streamlit components create command
  lib/tests/streamlit/web/cli_test.py
Due: no-relative-imports

Fix error message
  scripts/ensure_relative_imports.py
Due: no-relative-imports

fixup! fixup! fixup! fixup! fixup! fixup! fixup! fixup! Add streamlit components create command
  lib/tests/streamlit/web/cli_test.py
Due: no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
