Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Rename test spec file to change order in list
  e2e/specs/st_staticfiles_app.spec.js
  scripts/run_e2e_tests.py
Due: typecheck, no-relative-imports

Up version to 1.16.0 (#5852)
  frontend/package.json
  lib/setup.py
Due: no-relative-imports

Rename test spec file back and add snapshots
  e2e/specs/staticfiles_app.spec.js
  frontend/cypress/snapshots/linux/2x/staticfiles_app.spec.js/static_streamlit_logo-dark.snap.png
  frontend/cypress/snapshots/linux/2x/staticfiles_app.spec.js/static_streamlit_logo.snap.png
  scripts/run_e2e_tests.py
Due: typecheck, no-relative-imports

Add a little type information about widgets
  lib/streamlit/testing/element_tree.py
Due: no-relative-imports

Add comment about using Element directly
  lib/streamlit/testing/element_tree.py
Due: no-relative-imports

Get Protocol from typing_extensions for compatibility
  lib/streamlit/testing/element_tree.py
Due: no-relative-imports

Also import runtime_checkable from extensions
  lib/streamlit/testing/element_tree.py
Due: no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Refactor cypress yaml to run all e2e tests
  .github/workflows/cypress.yml
Due: none

Fix failing test, add debug prints to cypress tests runner
  .github/workflows/cypress.yml
  e2e/specs/staticfiles_app.spec.js
Due: typecheck

Add more debug prints to cypress tests runner
  .github/workflows/cypress.yml
Due: none

handle CURRENT_RUN = 1 case separately
  .github/workflows/cypress.yml
Due: none

Refactor logic of test splitting to workers to always cover all e2e specs
  .github/workflows/cypress.yml
Due: none

Revert changes related to e2e test running
  .github/workflows/cypress.yml
Due: none

* Not add extra test to first worker if no remaining tests exist * Add explanatory comments
  .github/workflows/cypress.yml
Due: none

Change workers balancing logic for e2e tests to always cover all specs (#5865)
  .github/workflows/cypress.yml
Due: none

* Check static folder size on bootstrap * Add more unit tests
  lib/streamlit/file_util.py
  lib/streamlit/web/bootstrap.py
  lib/tests/streamlit/web/bootstrap_test.py
Due: no-relative-imports

* make mypy happy
  lib/streamlit/file_util.py
Due: no-relative-imports

* move MAX_APP_STATIC_FOLDER_SIZE to constant
  lib/streamlit/file_util.py
  lib/streamlit/web/bootstrap.py
  lib/tests/streamlit/web/bootstrap_test.py
Due: no-relative-imports

* fix for numpy new 1.24.0 version
  lib/tests/streamlit/elements/legacy_data_frame_test.py
Due: no-relative-imports

* Simplify types
  lib/streamlit/file_util.py
Due: no-relative-imports

New numpy python unit test fix (#5873)
  lib/tests/streamlit/elements/legacy_data_frame_test.py
Due: no-relative-imports

Change some dependencies to be devDependencies (#5850)
  NOTICES
  frontend/package.json
  frontend/yarn.lock
Due: none

Rename SessionData -> ScriptData
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/runtime.py
  lib/streamlit/runtime/script_data.py
  lib/streamlit/runtime/session_data.py
  lib/tests/streamlit/runtime/app_session_test.py
  lib/tests/streamlit/runtime/script_data_test.py
  lib/tests/streamlit/web/bootstrap_test.py
Due: no-relative-imports

Move the ForwardMsgCache into AppSession
  lib/streamlit/runtime/app_session.py
  lib/tests/streamlit/runtime/app_session_test.py
Due: no-relative-imports

`validate` is a param to singleton_decorator
  lib/streamlit/runtime/caching/singleton_decorator.py
Due: no-relative-imports

fix validate arg; add validate tests
  lib/streamlit/runtime/caching/singleton_decorator.py
  lib/tests/streamlit/runtime/caching/singleton_test.py
Due: no-relative-imports

add a type annotation and clarifying comment
  lib/streamlit/runtime/caching/singleton_decorator.py
Due: no-relative-imports

tweak
  lib/streamlit/runtime/caching/singleton_decorator.py
Due: no-relative-imports

Add more explanation to the __post_init__ docstring
  lib/streamlit/runtime/script_data.py
  lib/tests/streamlit/runtime/script_data_test.py
Due: no-relative-imports

Rename SessionData -> ScriptData and move ForwardMsgQueue (#5851)
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/runtime.py
  lib/streamlit/runtime/script_data.py
  lib/streamlit/runtime/session_data.py
  lib/tests/streamlit/runtime/app_session_test.py
  lib/tests/streamlit/runtime/script_data_test.py
  lib/tests/streamlit/web/bootstrap_test.py
Due: no-relative-imports

Define the SessionStorage and SessionManager protocols (#5422)
  lib/streamlit/runtime/__init__.py
  lib/streamlit/runtime/runtime.py
  lib/streamlit/runtime/session_manager.py
  lib/streamlit/runtime/state/session_state.py
  lib/tests/streamlit/runtime/runtime_test.py
Due: no-relative-imports

Tweak the signatures of SessionManager.__init__ and SessionManager.connect_session (#5486)
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/session_manager.py
Due: no-relative-imports

Refactor current session behavior into WebsocketSessionManager (#5451)
  lib/streamlit/runtime/runtime.py
  lib/streamlit/runtime/state/session_state.py
  lib/streamlit/runtime/websocket_session_manager.py
  lib/streamlit/web/server/server.py
  lib/tests/streamlit/runtime/runtime_test.py
  lib/tests/streamlit/runtime/runtime_test_case.py
  lib/tests/streamlit/runtime/runtime_threading_test.py
  lib/tests/streamlit/runtime/websocket_session_manager_test.py
  lib/tests/streamlit/web/server/browser_websocket_handler_test.py
  lib/tests/streamlit/web/server/server_test.py
  lib/tests/streamlit/web/server/server_test_case.py
  lib/tests/streamlit/web/server/websocket_headers_test.py
Due: no-relative-imports

Add new MockSessionManager class for testing (#5665)
  lib/tests/streamlit/runtime/runtime_test.py
  lib/tests/streamlit/runtime/runtime_test_case.py
Due: no-relative-imports
