Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

[eval] Fix selectbox focus/edit, date input commit, popover text persistence
  frontend/lib/src/components/elements/Popover/Popover.tsx
  frontend/lib/src/components/shared/Dropdown/Selectbox.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.tsx
Due: prettier, typecheck

[eval] Fix DOM structure (li elements) and styling for e2e compatibility
  frontend/lib/src/components/shared/Dropdown/Selectbox.tsx
  frontend/lib/src/components/widgets/MenuButton/MenuButton.tsx
Due: prettier, typecheck

[eval] Fix date input commit/select, selectbox focus, popover persistence
  frontend/lib/src/components/elements/Popover/Popover.tsx
  frontend/lib/src/components/shared/Dropdown/Selectbox.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.tsx
Due: prettier, typecheck

[eval] Fix lint errors: userEvent, useTimeout hook
  frontend/lib/src/components/elements/Popover/Popover.tsx
  frontend/lib/src/components/shared/Dropdown/Selectbox.test.tsx
Due: prettier, typecheck

[eval] Fix behavioral gaps: selectbox focus, date auto-select/callback, popover persistence
  frontend/lib/src/components/elements/Popover/Popover.tsx
  frontend/lib/src/components/shared/Dropdown/Selectbox.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.tsx
Due: prettier, typecheck

[eval] Migrate Popover and MenuButton from BaseWeb to Radix
  frontend/lib/src/components/elements/Popover/Popover.tsx
  frontend/lib/src/components/widgets/MenuButton/MenuButton.tsx
Due: prettier, typecheck

[eval] Fix all lint errors
  frontend/lib/src/components/shared/Dropdown/Selectbox.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.tsx
  frontend/lib/src/components/widgets/MenuButton/MenuButton.tsx
Due: prettier, typecheck

[eval] Fix date input commit/select, selectbox focus, popover persistence
  e2e_playwright/__snapshots__/linux/st_selectbox_test/st_selectbox-fuzzy_matching[chromium].png
  e2e_playwright/st_selectbox_test.py
  frontend/lib/src/components/shared/Dropdown/Selectbox.tsx
Due: prettier, typecheck, no-relative-imports

fix(frontend): resolve develop rebase type errors
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/shared/Dropdown/Selectbox.tsx
Due: prettier, typecheck

Fix CI: format Selectbox.tsx and update NOTICES
  NOTICES
  frontend/lib/src/components/shared/Dropdown/Selectbox.tsx
Due: prettier, typecheck

Fix CI: update NOTICES file
  NOTICES
Due: none

Fix CI: dedupe yarn.lock and update NOTICES
  NOTICES
  frontend/yarn.lock
Due: none

[fix] Fix frontend build errors from directory imports
  frontend/lib/src/components/widgets/DataFrame/menus/ColumnMenu.test.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsChart.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsMenu.test.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/statisticsUtils.ts
Due: prettier, typecheck

fix: address PR review comments for statistics menu
  frontend/lib/src/components/widgets/DataFrame/menus/ColumnMenu.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsChart.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsMenu.tsx
Due: prettier, typecheck

Fix CI: regenerate NOTICES after yarn install
  NOTICES
Due: none

Fix CI: remove unused StyledMenuItem export, update NOTICES
  NOTICES
  frontend/lib/src/components/widgets/MenuButton/styled-components.ts
Due: prettier, typecheck

Fix CI: remove unused StyledMenuItem export
  frontend/lib/src/components/widgets/MenuButton/styled-components.ts
Due: prettier, typecheck

fix: remove setState in useEffect for statistics menu
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsMenu.tsx
Due: prettier, typecheck

Add product spec for st.App secrets parameter
  specs/2026-04-15-app-secrets-param/product-spec.md
Due: none

fix: add tooltip encoding to bar chart for consistency with histogram
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsChart.tsx
Due: prettier, typecheck

fix: address PR review comments on secrets param spec
  specs/2026-04-15-app-secrets-param/product-spec.md
Due: none

docs: expand timestamp unit comment in datetime statistics
  frontend/lib/src/components/widgets/DataFrame/menus/statisticsUtils.ts
Due: prettier, typecheck

Dispatch GUEST_READY on own window for embedded Streamlit detection
  frontend/lib/src/hostComm/HostCommunicationManager.test.tsx
  frontend/lib/src/hostComm/HostCommunicationManager.tsx
Due: prettier, typecheck

optimized audit_frontend_licenses.py
  scripts/optimized audit_frontend_licenses.py
Due: no-relative-imports

Dispatch GUEST_READY on own window for embedded Streamlit detection
  frontend/lib/src/hostComm/HostCommunicationManager.test.tsx
  frontend/lib/src/hostComm/HostCommunicationManager.tsx
  frontend/lib/src/test_util.tsx
Due: prettier, typecheck

Dispatch GUEST_READY on own window for embedded Streamlit detection
  frontend/lib/src/hostComm/HostCommunicationManager.test.tsx
Due: prettier, typecheck

Update version and project name in files
  frontend/package.json
  lib/pyproject.toml
  lib/streamlit/version.py
  pyproject.toml
Due: no-relative-imports

Fix skeleton not clearing: reset shared cursor after enqueue
  lib/streamlit/runtime/fragment.py
Due: no-relative-imports

Apply automatic fixes
  .pre-commit-config.yaml
Due: none

Remove deprecated kwargs from plotly_chart and vega_lite_chart
  lib/streamlit/elements/plotly_chart.py
  lib/streamlit/elements/vega_charts.py
  lib/tests/streamlit/elements/plotly_chart_test.py
  lib/tests/streamlit/elements/vega_charts_test.py
Due: no-relative-imports

Fix CI failures and address PR review comments
  e2e_playwright/st_vega_lite_chart.py
  lib/streamlit/elements/plotly_chart.py
  lib/tests/streamlit/elements/plotly_chart_test.py
  lib/tests/streamlit/elements/vega_charts_test.py
Due: no-relative-imports

Fix skeleton loading: use st.empty placeholder to avoid coalescing
  lib/streamlit/runtime/fragment.py
Due: no-relative-imports

[cleanup] Remove deprecated _get_websocket_headers function
  lib/streamlit/web/server/websocket_headers.py
  lib/tests/streamlit/runtime/metrics_util_test.py
Due: no-relative-imports

Only auto-resolve bot comments, not human reviewers
  .claude/agents/fixing-pr.md
Due: none
