Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Fix circular imports because merge didn't work
  frontend/lib/src/components/shared/StreamlitMarkdown/Heading.test.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/Heading.tsx
  frontend/lib/src/index.ts
  frontend/lib/src/theme/utils.ts
  frontend/src/lib/components/widgets/DataFrame/columns/NumberColumn.ts
  frontend/src/lib/components/widgets/DataFrame/columns/ProgressColumn.ts
Due: prettier, typecheck, eslint

Add no check temporarily for WebsocketConnection.tsx but Streamlit Hello is working
  frontend/app/src/app/connection/WebsocketConnection.tsx
Due: prettier, typecheck

Updating constraints. Github run id:4896323511
  constraints-3.8.txt
Due: none

Manual cleanup of some files
  .github/codeql-config.yml
  .github/workflows/release.yml
  Makefile
  NOTICES
  frontend/app/src/app/StreamlitLib.test.tsx
  frontend/app/src/app/emotion.d.ts
  frontend/lib/src/MetricsManager.ts
  frontend/lib/src/components/core/LibContext.tsx
Due: prettier, typecheck

Revert lib to develop
  lib/setup.py
  lib/streamlit/__init__.py
  lib/streamlit/connections/base_connection.py
  lib/streamlit/connections/snowpark_connection.py
  lib/streamlit/connections/sql_connection.py
  lib/streamlit/elements/data_editor.py
  lib/streamlit/elements/file_uploader.py
  lib/streamlit/elements/layouts.py
  lib/streamlit/elements/show.py
  lib/streamlit/elements/utils.py
  lib/streamlit/runtime/caching/cache_data_api.py
  lib/streamlit/runtime/caching/cache_errors.py
  lib/streamlit/runtime/caching/cache_resource_api.py
  lib/streamlit/runtime/caching/cache_utils.py
  lib/streamlit/runtime/connection_factory.py
  lib/streamlit/runtime/metrics_util.py
  lib/streamlit/testing/element_tree.py
  lib/streamlit/testing/script_interactions.py
  lib/tests/streamlit/delta_generator_test.py
  lib/tests/streamlit/elements/data_editor_test.py
  lib/tests/streamlit/elements/file_uploader_test.py
  lib/tests/streamlit/elements/lib/__init__.py
  lib/tests/streamlit/elements/show_test.py
  lib/tests/streamlit/runtime/caching/cache_utils_test.py
  lib/tests/streamlit/runtime/caching/common_cache_test.py
  lib/tests/streamlit/runtime/state/session_state_test.py
  lib/tests/streamlit/script_interactions_test.py
  lib/tests/streamlit/streamlit_test.py
  lib/tests/streamlit/testing/element_tree_test.py
Due: no-relative-imports

Revert dataframe code that I somehow changed
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
  frontend/lib/src/components/widgets/DataFrame/arrowUtils.test.ts
  frontend/lib/src/components/widgets/DataFrame/arrowUtils.ts
  frontend/lib/src/components/widgets/DataFrame/columns/ChartColumn.ts
  frontend/lib/src/components/widgets/DataFrame/columns/CheckboxColumn.test.ts
  frontend/lib/src/components/widgets/DataFrame/columns/CheckboxColumn.ts
  frontend/lib/src/components/widgets/DataFrame/columns/DateTimeColumn.test.ts
  frontend/lib/src/components/widgets/DataFrame/columns/DateTimeColumn.ts
  frontend/lib/src/components/widgets/DataFrame/columns/ImageColumn.test.ts
  frontend/lib/src/components/widgets/DataFrame/columns/ImageColumn.ts
  frontend/lib/src/components/widgets/DataFrame/columns/LinkColumn.test.ts
  frontend/lib/src/components/widgets/DataFrame/columns/LinkColumn.ts
  frontend/lib/src/components/widgets/DataFrame/columns/NumberColumn.test.ts
  frontend/lib/src/components/widgets/DataFrame/columns/NumberColumn.ts
  frontend/lib/src/components/widgets/DataFrame/columns/ProgressColumn.test.ts
  frontend/lib/src/components/widgets/DataFrame/columns/ProgressColumn.ts
  frontend/lib/src/components/widgets/DataFrame/columns/SelectboxColumn.test.ts
  frontend/lib/src/components/widgets/DataFrame/columns/SelectboxColumn.ts
  frontend/lib/src/components/widgets/DataFrame/columns/TextColumn.test.ts
  frontend/lib/src/components/widgets/DataFrame/columns/cells/DateTimeCell.test.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/DateTimeCell.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/ImageCellEditor.test.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/ImageCellEditor.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/index.ts
  frontend/lib/src/components/widgets/DataFrame/columns/utils.test.ts
  frontend/lib/src/components/widgets/DataFrame/columns/utils.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useColumnLoader.test.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useDataEditor.test.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useDataEditor.ts
  frontend/lib/src/dataframes/Quiver.test.ts
  frontend/lib/src/dataframes/Quiver.ts
Due: prettier, typecheck

More cleanup
  package.json
  scripts/run_e2e_tests.py
  scripts/validate_frontend_lib_imports.py
Due: no-relative-imports

Clean NOTICES
  NOTICES
Due: none

Fix lib files
  lib/streamlit/elements/data_editor.py
  lib/streamlit/elements/utils.py
Due: no-relative-imports

Fix yarn buildLib
  frontend/app/src/app/StreamlitLib.test.tsx
  frontend/lib/package.json
  frontend/lib/src/dataframes/Quiver.test.ts
  frontend/lib/src/dataframes/Quiver.ts
  frontend/yarn.lock
Due: prettier, typecheck

Add alert and text for StreamlitLib.test.tsx
  frontend/app/src/app/StreamlitLib.test.tsx
  frontend/lib/src/index.ts
Due: prettier, typecheck

Add ignore for typechecking on globalStyles because it's breaking app for now
  frontend/lib/src/theme/globalStyles.ts
Due: prettier, typecheck

Remove unnecessary config for babel
  frontend/babel.config.json
Due: none

Revert cypress snapshots that somehow changed
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-0-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-0.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-2-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_column_types.js/dataframe-column-types-2.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_index_types.js/dataframe-index-types-0.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_index_types.js/dataframe-index-types-4.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_index_types.js/dataframe-index-types-5.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_index_types.js/dataframe-index-types-6.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_index_types.js/dataframe-index-types-9.snap.png
  frontend/cypress/snapshots/linux/2x/st_data_editor_input_data.spec.js/data_editor-input-data-30.snap.png
  frontend/cypress/snapshots/linux/2x/st_data_editor_input_data.spec.js/data_editor-input-data-31.snap.png
Due: none

Remove columns that got somehow added
  frontend/lib/src/components/widgets/DataFrame/columns/BooleanColumn.test.ts
  frontend/lib/src/components/widgets/DataFrame/columns/BooleanColumn.ts
  frontend/lib/src/components/widgets/DataFrame/columns/CategoricalColumn.test.ts
  frontend/lib/src/components/widgets/DataFrame/columns/CategoricalColumn.ts
Due: prettier, typecheck

Remove protos that aren't used
  frontend/app/src/autogen/proto.d.ts
  frontend/app/src/autogen/proto.js
Due: prettier, typecheck

Remove Bokeh scripts that are still somehow here
  frontend/app/public/vendor/bokeh/bokeh-2.4.3.min.js
  frontend/app/public/vendor/bokeh/bokeh-api-2.4.3.min.js
  frontend/app/public/vendor/bokeh/bokeh-gl-2.4.3.min.js
  frontend/app/public/vendor/bokeh/bokeh-mathjax-2.4.3.min.js
  frontend/app/public/vendor/bokeh/bokeh-tables-2.4.3.min.js
  frontend/app/public/vendor/bokeh/bokeh-widgets-2.4.3.min.js
Due: typecheck

Clean up Makefile
  Makefile
Due: none

Add comment to ignore types for theme for now
  frontend/app/src/app/components/AppView/styled-components.ts
  frontend/app/src/app/components/Countdown/styled-components.ts
  frontend/app/src/app/components/DeployButton/styled-components.tsx
  frontend/app/src/app/components/Header/styled-components.ts
  frontend/app/src/app/components/MainMenu/MainMenu.tsx
  frontend/app/src/app/components/MainMenu/styled-components.ts
  frontend/app/src/app/components/Sidebar/ThemedSidebar.tsx
  frontend/app/src/app/components/Sidebar/styled-components.ts
  frontend/app/src/app/components/StatusWidget/styled-components.ts
  frontend/app/src/app/components/StreamlitDialog/DeployDialog/DeployCard.tsx
  frontend/app/src/app/components/StreamlitDialog/DeployDialog/styled-components.tsx
  frontend/app/src/app/components/StreamlitDialog/DeployErrorDialogs/styled-components.tsx
  frontend/app/src/app/components/StreamlitDialog/SettingsDialog.test.tsx
  frontend/app/src/app/components/StreamlitDialog/SettingsDialog.tsx
  frontend/app/src/app/components/StreamlitDialog/ThemeCreatorDialog.tsx
  frontend/app/src/app/components/StreamlitDialog/styled-components.ts
  frontend/app/src/app/components/ToolbarActions/styled-components.ts
  frontend/app/src/app/hocs/withScreencast/components/ScreencastDialog/styled-components.ts
  frontend/app/src/app/hocs/withScreencast/components/UnsupportedBrowserDialog/styled-components.ts
  frontend/app/src/app/hocs/withScreencast/components/VideoRecordedDialog/styled-components.ts
Due: prettier, typecheck

Add missed type checking for theme
  frontend/app/src/styled-components.ts
Due: prettier, typecheck

Lint
  frontend/app/src/app/StreamlitLib.test.tsx
Due: prettier, typecheck

Add back new lines for python files
  lib/streamlit/elements/data_editor.py
  lib/streamlit/elements/utils.py
Due: no-relative-imports

Dont commit proto files
  frontend/lib/src/proto.d.ts
  frontend/lib/src/proto.js
Due: prettier, typecheck

Remove duplicate vendor
  frontend/app/src/vendor/bokeh/bokeh-LICENSE.txt
  frontend/app/src/vendor/bokeh/bokeh-api-2.4.3.esm.min.js
  frontend/app/src/vendor/bokeh/bokeh-gl-2.4.3.esm.min.js
  frontend/app/src/vendor/bokeh/bokeh-mathjax-2.4.3.esm.min.d.ts
  frontend/app/src/vendor/bokeh/bokeh-mathjax-2.4.3.esm.min.js
  frontend/app/src/vendor/bokeh/bokeh-tables-2.4.3.esm.min.js
  frontend/app/src/vendor/bokeh/bokeh-widgets-2.4.3.esm.min.js
  frontend/app/src/vendor/bokeh/bokeh.esm.d.ts
  frontend/app/src/vendor/bokeh/bokeh.esm.js
  frontend/app/src/vendor/dom-helpers.ts
  frontend/app/src/vendor/react-bootstrap-LICENSE.txt
  frontend/app/src/vendor/twemoji-LICENSE.txt
  frontend/app/src/vendor/twemoji.ts
Due: typecheck

Fix protobuf imports and export
  frontend/app/src/app/App.test.tsx
  frontend/app/src/app/App.tsx
  frontend/app/src/app/SegmentMetricsManager.test.ts
  frontend/app/src/app/SegmentMetricsManager.ts
  frontend/app/src/app/SessionEventDispatcher.ts
  frontend/app/src/app/StreamlitLib.test.tsx
  frontend/app/src/app/ThemedApp.tsx
  frontend/app/src/app/components/AppContext.tsx
  frontend/app/src/app/components/AppView/AppView.test.tsx
  frontend/app/src/app/components/AppView/AppView.tsx
  frontend/app/src/app/components/MainMenu/MainMenu.test.tsx
  frontend/app/src/app/components/MainMenu/MainMenu.tsx
  frontend/app/src/app/components/Sidebar/Sidebar.test.tsx
  frontend/app/src/app/components/Sidebar/Sidebar.tsx
  frontend/app/src/app/components/Sidebar/SidebarNav.test.tsx
  frontend/app/src/app/components/Sidebar/SidebarNav.tsx
  frontend/app/src/app/components/StatusWidget/StatusWidget.test.tsx
  frontend/app/src/app/components/StatusWidget/StatusWidget.tsx
  frontend/app/src/app/components/StreamlitDialog/DeployDialog/DeployDialog.tsx
  frontend/app/src/app/components/StreamlitDialog/StreamlitDialog.tsx
  frontend/app/src/app/components/StreamlitDialog/ThemeCreatorDialog.test.tsx
  frontend/app/src/app/components/StreamlitDialog/ThemeCreatorDialog.tsx
  frontend/app/src/app/connection/ConnectionManager.ts
  frontend/app/src/app/connection/DefaultStreamlitEndpoints.test.ts
  frontend/app/src/app/connection/DefaultStreamlitEndpoints.ts
  frontend/app/src/app/connection/WebsocketConnection.test.tsx
  frontend/app/src/app/connection/WebsocketConnection.tsx
  frontend/lib/src/index.ts
Due: prettier, typecheck

Remove proto cp command
  frontend/lib/package.json
Due: none

Add merge conflict missed
  frontend/lib/src/index.ts
Due: prettier, typecheck

Change exports for protobuf to be included in index.ts instead of copied through cp command. (#6635)
  frontend/app/src/app/App.test.tsx
  frontend/app/src/app/App.tsx
  frontend/app/src/app/SegmentMetricsManager.test.ts
  frontend/app/src/app/SegmentMetricsManager.ts
  frontend/app/src/app/SessionEventDispatcher.ts
  frontend/app/src/app/StreamlitLib.test.tsx
  frontend/app/src/app/ThemedApp.tsx
  frontend/app/src/app/components/AppContext.tsx
  frontend/app/src/app/components/AppView/AppView.test.tsx
  frontend/app/src/app/components/AppView/AppView.tsx
  frontend/app/src/app/components/MainMenu/MainMenu.test.tsx
  frontend/app/src/app/components/MainMenu/MainMenu.tsx
  frontend/app/src/app/components/Sidebar/Sidebar.test.tsx
  frontend/app/src/app/components/Sidebar/Sidebar.tsx
  frontend/app/src/app/components/Sidebar/SidebarNav.test.tsx
  frontend/app/src/app/components/Sidebar/SidebarNav.tsx
  frontend/app/src/app/components/StatusWidget/StatusWidget.test.tsx
  frontend/app/src/app/components/StatusWidget/StatusWidget.tsx
  frontend/app/src/app/components/StreamlitDialog/DeployDialog/DeployDialog.tsx
  frontend/app/src/app/components/StreamlitDialog/StreamlitDialog.tsx
  frontend/app/src/app/components/StreamlitDialog/ThemeCreatorDialog.test.tsx
  frontend/app/src/app/components/StreamlitDialog/ThemeCreatorDialog.tsx
  frontend/app/src/app/connection/ConnectionManager.ts
  frontend/app/src/app/connection/DefaultStreamlitEndpoints.test.ts
  frontend/app/src/app/connection/DefaultStreamlitEndpoints.ts
  frontend/app/src/app/connection/WebsocketConnection.test.tsx
  frontend/app/src/app/connection/WebsocketConnection.tsx
  frontend/lib/package.json
  frontend/lib/src/index.ts
Due: prettier, typecheck

Move Text to TextElement so there is no same naming schema
  frontend/src/lib/StreamlitLib.test.tsx
  frontend/src/lib/components/core/Block/ElementNodeRenderer.tsx
  frontend/src/lib/components/elements/TextElement/TextElement.test.tsx
  frontend/src/lib/components/elements/TextElement/TextElement.tsx
  frontend/src/lib/components/elements/TextElement/index.tsx
  frontend/src/lib/components/elements/TextElement/styled-components.ts
Due: prettier, typecheck, eslint

Move Text to TextElement so there is no same naming schema (#6636)
  frontend/src/lib/StreamlitLib.test.tsx
  frontend/src/lib/components/core/Block/ElementNodeRenderer.tsx
  frontend/src/lib/components/elements/TextElement/TextElement.test.tsx
  frontend/src/lib/components/elements/TextElement/TextElement.tsx
  frontend/src/lib/components/elements/TextElement/index.tsx
  frontend/src/lib/components/elements/TextElement/styled-components.ts
Due: prettier, typecheck, eslint

Updating constraints. Github run id:4898543058
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Add empty test
  lib/tests/streamlit/elements/arrow_dataframe_test.py
Due: no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

feat(lib.streamlit.config): add config option for disabling widget session state duplication
  lib/streamlit/config.py
Due: no-relative-imports

feat(lib.streamlit.elements.utils): read state option in session state rules
  lib/streamlit/elements/utils.py
Due: no-relative-imports

fix(lib.tests.streamlit.config_test): update list of all config options
  lib/tests/streamlit/config_test.py
Due: no-relative-imports

Updating constraints. Github run id:4912198739
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
