Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Use real name
  .github/workflows/python-min-deps.yml
Due: none

First pass - e2e tests for st.chat_input
  e2e/scripts/st_chat_input.py
  e2e/specs/st_chat_input.spec.js
Due: typecheck, no-relative-imports

Update the docstring
  lib/streamlit/elements/chat.py
Due: no-relative-imports

Update docstring
  lib/streamlit/elements/chat.py
Due: no-relative-imports

Ensure send button is disabled when chat input is disabled
  frontend/src/lib/components/widgets/ChatInput/ChatInput.test.tsx
  frontend/src/lib/components/widgets/ChatInput/ChatInput.tsx
Due: prettier, typecheck, eslint

Test cleanup & add snapshots
  e2e/specs/st_chat_input.spec.js
  frontend/cypress/snapshots/linux/2x/st_chat_input.spec.js/chatInput-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_chat_input.spec.js/chatInput-focused-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_chat_input.spec.js/chatInput-focused-light.snap.png
  frontend/cypress/snapshots/linux/2x/st_chat_input.spec.js/chatInput-grows-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_chat_input.spec.js/chatInput-grows.snap.png
  frontend/cypress/snapshots/linux/2x/st_chat_input.spec.js/chatInput-maxChars-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_chat_input.spec.js/chatInput-maxChars.snap.png
  frontend/cypress/snapshots/linux/2x/st_chat_input.spec.js/chatInput-shiftEnter-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_chat_input.spec.js/chatInput-shiftEnter.snap.png
  frontend/cypress/snapshots/linux/2x/st_chat_input.spec.js/chatInput-shrinks-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_chat_input.spec.js/chatInput-shrinks.snap.png
  frontend/cypress/snapshots/linux/2x/st_chat_input.spec.js/chatInput.snap.png
Due: typecheck

Wrap exception
  lib/streamlit/elements/chat.py
Due: no-relative-imports

Add test case
  lib/tests/streamlit/elements/chat_test.py
Due: no-relative-imports

Updated tests to handle disabled testing principles
  frontend/src/lib/components/widgets/ChatInput/ChatInput.test.tsx
Due: prettier, typecheck, eslint

Show a better exception for invalid avatar value (#6876)
  lib/streamlit/elements/chat.py
  lib/tests/streamlit/elements/chat_test.py
Due: no-relative-imports

Show empty chat messages (#6872)
  e2e/scripts/st_chat_message.py
  frontend/src/lib/components/core/Block/Block.tsx
Due: prettier, typecheck, eslint, no-relative-imports

Update docstrings of chat commands (#6875)
  lib/streamlit/elements/chat.py
Due: no-relative-imports

Ensure send button is disabled when chat input is disabled (#6873)
  frontend/src/lib/components/widgets/ChatInput/ChatInput.test.tsx
  frontend/src/lib/components/widgets/ChatInput/ChatInput.tsx
Due: prettier, typecheck, eslint

Do not make chat input transparent on stale
  frontend/src/lib/components/core/Block/styled-components.ts
Due: prettier, typecheck, eslint

Addressed PR comment
  frontend/src/lib/components/core/Block/styled-components.ts
Due: prettier, typecheck, eslint

Add a comment
  frontend/src/lib/components/core/Block/styled-components.ts
Due: prettier, typecheck, eslint

Add e2e tests for st.chat_input (#6874)
  e2e/scripts/st_chat_input.py
  e2e/specs/st_chat_input.spec.js
  frontend/cypress/snapshots/linux/2x/st_chat_input.spec.js/chatInput-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_chat_input.spec.js/chatInput-focused-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_chat_input.spec.js/chatInput-focused-light.snap.png
  frontend/cypress/snapshots/linux/2x/st_chat_input.spec.js/chatInput-grows-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_chat_input.spec.js/chatInput-grows.snap.png
  frontend/cypress/snapshots/linux/2x/st_chat_input.spec.js/chatInput-maxChars-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_chat_input.spec.js/chatInput-maxChars.snap.png
  frontend/cypress/snapshots/linux/2x/st_chat_input.spec.js/chatInput-shiftEnter-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_chat_input.spec.js/chatInput-shiftEnter.snap.png
  frontend/cypress/snapshots/linux/2x/st_chat_input.spec.js/chatInput-shrinks-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_chat_input.spec.js/chatInput-shrinks.snap.png
  frontend/cypress/snapshots/linux/2x/st_chat_input.spec.js/chatInput.snap.png
Due: typecheck, no-relative-imports

Make Chat Input remain opaque when stale (#6877)
  frontend/src/lib/components/core/Block/styled-components.ts
Due: prettier, typecheck, eslint

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:5330871093
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Clarify warning that chat input can only be used once per app page
  lib/streamlit/elements/chat.py
Due: no-relative-imports

Order of params in docstring should match function signature
  lib/streamlit/elements/chat.py
Due: no-relative-imports

Fix reStructuredText formatting issues
  lib/streamlit/elements/chat.py
Due: no-relative-imports

Remove accidentally added return statement
  lib/streamlit/elements/chat.py
Due: no-relative-imports

Replace assistant with user1 in app url
  lib/streamlit/elements/chat.py
Due: no-relative-imports

Remove stray colon from docstring example
  lib/streamlit/elements/chat.py
Due: no-relative-imports

add datetime hashing for st.cache_data and st.cache_resource (#6812)
  lib/streamlit/runtime/caching/hashing.py
  lib/tests/streamlit/runtime/caching/hashing_test.py
Due: no-relative-imports

Change API from participant to name
  frontend/src/lib/components/elements/ChatMessage/ChatMessage.test.tsx
  frontend/src/lib/components/elements/ChatMessage/ChatMessage.tsx
  lib/streamlit/elements/chat.py
  lib/tests/streamlit/elements/chat_test.py
  proto/streamlit/proto/Block.proto
Due: prettier, typecheck, eslint, no-relative-imports

Updating constraints. Github run id:5337193469
  constraints-3.10.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Addressed PR comments
  lib/streamlit/elements/chat.py
Due: no-relative-imports

Change API from participant to name (#6880)
  frontend/src/lib/components/elements/ChatMessage/ChatMessage.test.tsx
  frontend/src/lib/components/elements/ChatMessage/ChatMessage.tsx
  lib/streamlit/elements/chat.py
  lib/tests/streamlit/elements/chat_test.py
  proto/streamlit/proto/Block.proto
Due: prettier, typecheck, eslint, no-relative-imports

Remove unnecessary comment
  frontend/src/app/App.test.tsx
Due: prettier, typecheck, eslint

Ensure script cache is cleared before the script is rerun if necessary
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/runtime.py
  lib/tests/streamlit/runtime/app_session_test.py
  lib/tests/streamlit/runtime/runtime_test.py
Due: no-relative-imports

Have UploadedFileManager react client fetch and use upload URLs (#6827)
  frontend/src/app/connection/DefaultStreamlitEndpoints.ts
  frontend/src/lib/components/widgets/FileUploader/FileUploader.tsx
  frontend/src/lib/components/widgets/FileUploader/UploadFileInfo.ts
  lib/streamlit/elements/file_uploader.py
  proto/streamlit/proto/Common.proto
Due: prettier, typecheck, eslint, no-relative-imports

Camera input with new file_uploader abstractions (#6862)
  frontend/src/lib/components/widgets/CameraInput/CameraInput.tsx
  lib/streamlit/elements/camera_input.py
Due: prettier, typecheck, eslint, no-relative-imports

Tweak TODO
  frontend/src/lib/FileUploadClient.ts
Due: prettier, typecheck, eslint

Start supporting configurable file upload URLs in StreamlitEndpoints and FileUploadClient (#6754)
  frontend/src/app/connection/DefaultStreamlitEndpoints.test.ts
  frontend/src/app/connection/DefaultStreamlitEndpoints.ts
  frontend/src/lib/FileUploadClient.test.ts
  frontend/src/lib/FileUploadClient.ts
  frontend/src/lib/ForwardMessageCache.test.ts
  frontend/src/lib/StreamlitEndpoints.ts
  frontend/src/lib/StreamlitLib.test.tsx
  frontend/src/lib/components/widgets/CameraInput/CameraInput.tsx
  frontend/src/lib/components/widgets/FileUploader/FileUploader.tsx
  frontend/src/lib/mocks/mocks.ts
Due: prettier, typecheck, eslint

Backend changes (#6819)
  lib/streamlit/elements/camera_input.py
  lib/streamlit/elements/file_uploader.py
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/memory_uploaded_file_manager.py
  lib/streamlit/runtime/uploaded_file_manager.py
  lib/streamlit/web/server/upload_file_request_handler.py
  proto/streamlit/proto/Common.proto
Due: no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
