Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Require explicit suggestion of unsafe_allow_html in st.write
  lib/streamlit/elements/write.py
  lib/tests/streamlit/write_test.py
Due: no-relative-imports

Update snapshots
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-link_column[chromium].png
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-link_column[firefox].png
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-link_column[webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[light_theme-webkit].png
Due: none

Add new snapshots
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-line_chart_column[chromium].png
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-line_chart_column[firefox].png
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-line_chart_column[webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-line_chart_column[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-line_chart_column[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-line_chart_column[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-line_chart_column[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-line_chart_column[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-line_chart_column[light_theme-webkit].png
Due: none

Fix E2E tests
  e2e_playwright/st_write.py
  e2e_playwright/st_write_test.py
  lib/tests/streamlit/write_test.py
Due: no-relative-imports

Add area chart snapshots
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-area_chart_column[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-area_chart_column[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-area_chart_column[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-area_chart_column[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-area_chart_column[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-area_chart_column[light_theme-webkit].png
Due: none

Fix type tests
  lib/streamlit/elements/write.py
Due: no-relative-imports

Update snapshots
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-image_column[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-image_column[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-image_column[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-image_column[light_theme-firefox].png
Due: none

Move dg_stack into delta_generator.py and ensure it's never empty
  lib/streamlit/__init__.py
  lib/streamlit/delta_generator.py
  lib/streamlit/elements/form.py
  lib/streamlit/runtime/scriptrunner/script_run_context.py
Due: no-relative-imports

Update snapshots
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-auto_sized_columns[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-auto_sized_columns[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-auto_sized_columns[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-auto_sized_columns[light_theme-firefox].png
Due: none

Use normal color scheme to prevent white backgrounds
  frontend/lib/src/components/elements/IFrame/IFrame.tsx
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
  frontend/lib/src/components/elements/PlotlyChart/__snapshots__/PlotlyChart.test.tsx.snap
  frontend/lib/src/components/elements/Video/Video.tsx
  frontend/lib/src/components/elements/Video/__snapshots__/Video.test.tsx.snap
  frontend/lib/src/components/widgets/CustomComponent/ComponentInstance.tsx
Due: prettier, typecheck

Update test
  e2e_playwright/st_components_v1_test.py
Due: no-relative-imports

Update popover styling
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[light_theme-webkit].png
  frontend/lib/src/components/elements/Popover/Popover.tsx
Due: prettier, typecheck

Fix border radius
  frontend/lib/src/components/elements/Popover/Popover.tsx
Due: prettier, typecheck

Migrate `LinkColumn` to native implementation in glide-data-grid (#7998)
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-link_column[chromium].png
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-link_column[firefox].png
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-link_column[webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[light_theme-webkit].png
  frontend/lib/src/components/widgets/DataFrame/arrowUtils.ts
  frontend/lib/src/components/widgets/DataFrame/columns/LinkColumn.test.ts
  frontend/lib/src/components/widgets/DataFrame/columns/LinkColumn.ts
  frontend/lib/src/components/widgets/DataFrame/columns/cells/LinkCell.test.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/LinkCell.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/UriOverlayEditor.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/uri-overlay-editor-style.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/index.ts
Due: prettier, typecheck

Update snapshots
  e2e_playwright/__snapshots__/linux/st_dataframe_index_types_test/st_dataframe-period_index[chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_index_types_test/st_dataframe-period_index[firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_index_types_test/st_dataframe-period_index[webkit].png
Due: none

Updating constraints. Github run id:8167468270
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Update popover snapshots
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[light_theme-webkit].png
Due: none

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Create axm
  axm
Due: none

Make ComponentRegistry an instance of the RuntimeConfig
  lib/streamlit/components/types/__init__.py
  lib/streamlit/components/types/base_component_registry.py
  lib/streamlit/components/types/base_custom_component.py
  lib/streamlit/components/v1/component_registry.py
  lib/streamlit/components/v1/custom_component.py
  lib/streamlit/components/v1/local_component_registry.py
  lib/streamlit/runtime/runtime.py
  lib/streamlit/web/server/component_request_handler.py
  lib/streamlit/web/server/server.py
  lib/tests/streamlit/components_test.py
  lib/tests/streamlit/runtime/runtime_test.py
  lib/tests/streamlit/runtime/runtime_test_case.py
  lib/tests/streamlit/runtime/runtime_threading_test.py
  lib/tests/streamlit/web/server/component_request_handler_test.py
Due: no-relative-imports

Address feedback
  lib/streamlit/components/v1/base_component_registry.py
  lib/streamlit/components/v1/component_registry.py
  lib/streamlit/components/v1/default_component_registry.py
  lib/streamlit/web/server/server.py
  lib/tests/streamlit/components_test.py
  lib/tests/streamlit/web/server/component_request_handler_test.py
  lib/tests/streamlit/web/server/server_test.py
  lib/tests/streamlit/web/server/server_test_case.py
Due: no-relative-imports

Add additional tests
  lib/streamlit/components/v1/base_component_registry.py
  lib/streamlit/components/v1/component_registry.py
  lib/streamlit/components/v1/default_component_registry.py
  lib/tests/streamlit/components_test.py
  lib/tests/streamlit/web/server/component_request_handler_test.py
  lib/tests/streamlit/web/server/server_test.py
  lib/tests/streamlit/web/server/server_test_case.py
Due: no-relative-imports

Address feedback
  lib/streamlit/components/v1/base_component_registry.py
  lib/streamlit/components/v1/component_registry.py
  lib/streamlit/components/v1/local_component_registry.py
  lib/tests/streamlit/components_test.py
Due: no-relative-imports

Abstract the ComponentRegistry
  lib/streamlit/components/v1/__init__.py
  lib/streamlit/components/v1/base_component_registry.py
  lib/streamlit/components/v1/component_registry.py
  lib/streamlit/components/v1/custom_component.py
  lib/streamlit/components/v1/default_component_registry.py
  lib/streamlit/errors.py
  lib/streamlit/web/server/component_request_handler.py
  lib/streamlit/web/server/server.py
  lib/tests/streamlit/components_test.py
Due: no-relative-imports

Add get_component method and initialize local_component_registry by default
  lib/streamlit/components/lib/__init__.py
  lib/streamlit/components/lib/local_component_registry.py
  lib/streamlit/components/types/base_component_registry.py
  lib/streamlit/components/v1/__init__.py
  lib/streamlit/components/v1/component_registry.py
  lib/streamlit/runtime/runtime.py
  lib/streamlit/web/server/server.py
  lib/tests/streamlit/components_test.py
  lib/tests/streamlit/runtime/runtime_test.py
  lib/tests/streamlit/runtime/runtime_test_case.py
  lib/tests/streamlit/web/server/component_request_handler_test.py
Due: no-relative-imports

ComponentRegistry Abstraction (#8193)
  lib/streamlit/components/lib/__init__.py
  lib/streamlit/components/lib/local_component_registry.py
  lib/streamlit/components/types/__init__.py
  lib/streamlit/components/types/base_component_registry.py
  lib/streamlit/components/types/base_custom_component.py
  lib/streamlit/components/v1/__init__.py
  lib/streamlit/components/v1/component_registry.py
  lib/streamlit/components/v1/custom_component.py
  lib/streamlit/errors.py
  lib/streamlit/runtime/runtime.py
  lib/streamlit/web/server/component_request_handler.py
  lib/streamlit/web/server/server.py
  lib/tests/streamlit/components_test.py
  lib/tests/streamlit/runtime/runtime_test.py
  lib/tests/streamlit/runtime/runtime_test_case.py
  lib/tests/streamlit/runtime/runtime_threading_test.py
  lib/tests/streamlit/web/server/component_request_handler_test.py
Due: no-relative-imports

Fix st.write
  lib/streamlit/elements/write.py
  lib/streamlit/string_util.py
  lib/tests/streamlit/string_util_test.py
  lib/tests/streamlit/write_test.py
Due: no-relative-imports

Add e2e tests
  e2e_playwright/st_write.py
  e2e_playwright/st_write_test.py
Due: no-relative-imports

Add snapshots
  e2e_playwright/__snapshots__/linux/st_write_test/write_datetime[chromium].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_datetime[firefox].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_datetime[webkit].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_int[chromium].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_int[firefox].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_int[webkit].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_multi_line_monospace_block[chromium].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_multi_line_monospace_block[firefox].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_multi_line_monospace_block[webkit].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_none[chromium].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_none[firefox].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_none[webkit].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_np_float[chromium].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_np_float[firefox].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_np_float[webkit].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_single_line_monospace_block[chromium].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_single_line_monospace_block[firefox].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_single_line_monospace_block[webkit].png
Due: none

Add e2e tests
  e2e_playwright/st_plotly_chart_select.py
  e2e_playwright/st_plotly_chart_select_test.py
Due: no-relative-imports

Fix conda-build CI
  .github/workflows/conda-build.yml
Due: none

Move dg_stack into delta_generator.py and ensure it's never empty (#8241)
  lib/streamlit/__init__.py
  lib/streamlit/delta_generator.py
  lib/streamlit/elements/form.py
  lib/streamlit/runtime/scriptrunner/script_run_context.py
Due: no-relative-imports

Small fix for tests broken by merge
  lib/streamlit/runtime/fragment.py
  lib/tests/streamlit/runtime/fragment_test.py
Due: no-relative-imports

Fix comments to have themed snapshots on valid markdown
  e2e_playwright/label_markdown_test.py
Due: no-relative-imports

explicit update() method for query_params (#8205)
  .pre-commit-config.yaml
  lib/streamlit/runtime/forward_msg_queue.py
  lib/streamlit/runtime/state/query_params.py
  lib/streamlit/runtime/state/query_params_proxy.py
  lib/tests/streamlit/runtime/state/query_params_proxy_test.py
  lib/tests/streamlit/runtime/state/query_params_test.py
  scripts/mypy
  scripts/run_in_subdirectory.py
Due: no-relative-imports

Updating constraints. Github run id:8180615867
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Fix problem in test script
  e2e_playwright/label_markdown_test.py
Due: no-relative-imports
