Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Add a TODO
  lib/streamlit/runtime/state/session_state.py
Due: no-relative-imports

Fix a bunch of type errors (#6885)
  frontend/app/src/StreamlitLib.test.tsx
  frontend/app/src/connection/DefaultStreamlitEndpoints.ts
  frontend/lib/src/FileUploadClient.ts
  frontend/lib/src/StreamlitEndpoints.ts
  frontend/lib/src/components/widgets/CameraInput/CameraInput.tsx
  frontend/lib/src/components/widgets/FileUploader/FileUploader.test.tsx
  frontend/lib/src/components/widgets/FileUploader/FileUploader.tsx
  frontend/lib/src/components/widgets/FileUploader/UploadFileInfo.ts
  frontend/lib/src/components/widgets/FileUploader/UploadedFile.test.tsx
  proto/streamlit/proto/Common.proto
Due: prettier, typecheck

Tweak TODO
  frontend/lib/src/FileUploadClient.ts
Due: prettier, typecheck

Feature/file uploader file urls (#6902)
  frontend/lib/src/FileUploadClient.ts
  frontend/lib/src/components/widgets/CameraInput/CameraInput.tsx
  frontend/lib/src/components/widgets/FileUploader/FileUploader.tsx
  frontend/lib/src/components/widgets/FileUploader/UploadFileInfo.ts
  lib/streamlit/elements/camera_input.py
  lib/streamlit/elements/file_uploader.py
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/uploaded_file_manager.py
  proto/streamlit/proto/Common.proto
Due: prettier, typecheck, no-relative-imports

Backend changes (#6819)
  lib/streamlit/elements/camera_input.py
  lib/streamlit/elements/file_uploader.py
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/memory_uploaded_file_manager.py
  lib/streamlit/runtime/uploaded_file_manager.py
  lib/streamlit/web/server/upload_file_request_handler.py
  proto/streamlit/proto/Common.proto
Due: no-relative-imports

Start work on fixing file uploader and camera input e2e tests (#6891)
  e2e/specs/st_file_uploader.spec.js
  frontend/lib/src/components/widgets/CameraInput/CameraInput.tsx
  frontend/lib/src/components/widgets/FileUploader/FileUploader.tsx
Due: prettier, typecheck

Update yarn.lock
  frontend/yarn.lock
Due: none

Fix issue with file uploader dropping every other file (#6912)
  frontend/lib/src/components/widgets/FileUploader/FileUploader.tsx
Due: prettier, typecheck

File uploader/docs and tests (#6945)
  frontend/lib/src/components/widgets/CameraInput/CameraInput.tsx
  frontend/lib/src/components/widgets/FileUploader/FileUploader.test.tsx
  frontend/lib/src/components/widgets/FileUploader/FileUploader.tsx
  lib/streamlit/elements/camera_input.py
  lib/streamlit/elements/file_uploader.py
  lib/streamlit/runtime/memory_uploaded_file_manager.py
  lib/streamlit/runtime/uploaded_file_manager.py
  lib/tests/streamlit/elements/file_uploader_test.py
  lib/tests/streamlit/runtime/app_session_test.py
  lib/tests/streamlit/runtime/caching/hashing_test.py
  lib/tests/streamlit/runtime/legacy_caching/hashing_test.py
  lib/tests/streamlit/runtime/state/session_state_test.py
  lib/tests/streamlit/runtime/uploaded_file_manager_test.py
  lib/tests/streamlit/web/server/upload_file_request_handler_test.py
Due: prettier, typecheck, no-relative-imports

Fix import
  frontend/lib/src/components/widgets/FileUploader/UploadFileInfo.ts
Due: prettier, typecheck

remove session_id from urls
  lib/streamlit/runtime/memory_uploaded_file_manager.py
  lib/streamlit/web/server/server.py
  lib/streamlit/web/server/upload_file_request_handler.py
Due: no-relative-imports

Update require-labels.yml to include changes to documentation (#7008)
  .github/workflows/require-labels.yml
Due: none

Fix boxShadow, borderRadius, and close icon position
  frontend/lib/src/components/elements/Toast/Toast.tsx
Due: prettier, typecheck

Remove unused import (#7006)
  lib/streamlit/elements/alert.py
Due: no-relative-imports

Updating constraints. Github run id:5546606880
  constraints-3.10.txt
Due: none

Break radius into long version
  frontend/lib/src/components/elements/Toast/Toast.tsx
Due: prettier, typecheck

Use updated sizes
  frontend/lib/src/components/widgets/Checkbox/Checkbox.tsx
Due: prettier, typecheck

Toast design adjustments (#7011)
  frontend/lib/src/components/elements/Toast/Toast.tsx
Due: prettier, typecheck

Updating constraints. Github run id:5547370865
  constraints-3.10.txt
Due: none

Fix circular dependency and test
  frontend/app/src/StreamlitLib.test.tsx
  frontend/app/src/components/AppView/AppView.tsx
  frontend/lib/src/AppNode.ts
  frontend/lib/src/baseconsts.ts
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/core/Block/utils.ts
  frontend/lib/src/components/shared/FullScreenWrapper/FullScreenWrapper.tsx
  frontend/lib/src/hocs/withFullScreenWrapper/withFullScreenWrapper.test.tsx
  frontend/lib/src/hocs/withFullScreenWrapper/withFullScreenWrapper.tsx
Due: prettier, typecheck

Fix yarn buildLib command by adding prop into dataframe test
  frontend/lib/src/components/core/Block/ElementNodeRenderer.test.tsx
  frontend/lib/src/components/widgets/DataFrame/DataFrame.test.tsx
Due: prettier, typecheck

Change default behavior
  frontend/app/src/components/AppView/AppView.tsx
Due: prettier, typecheck

Minor cleanup
  frontend/lib/src/AppNode.ts
  frontend/lib/src/baseconsts.ts
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/core/Block/utils.ts
Due: prettier, typecheck

Capitalize the comment
  frontend/lib/src/baseconsts.ts
  frontend/lib/src/components/core/Block/utils.ts
Due: prettier, typecheck

Add other recommended rules & resolve discrepancies
  frontend/.eslintrc.js
  frontend/app/src/App.test.tsx
  frontend/app/src/components/MainMenu/MainMenu.test.tsx
  frontend/lib/src/components/core/Block/ElementNodeRenderer.test.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/DateTimeCell.test.tsx
  frontend/lib/src/components/widgets/Form/FormSubmitButton.test.tsx
Due: prettier, typecheck

Fix import statement I missed
  frontend/app/src/components/AppView/AppView.tsx
  frontend/app/tsconfig.dev.json
  frontend/app/tsconfig.prod.json
Due: prettier, typecheck

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Update st.map docstring for color and size
  lib/streamlit/elements/map.py
Due: no-relative-imports

Updating constraints. Github run id:5551234337
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Update st.map docstring for color and size (#7014)
  lib/streamlit/elements/map.py
Due: no-relative-imports

Update lib/streamlit/elements/data_editor.py
  lib/streamlit/elements/data_editor.py
Due: no-relative-imports

Combine two notes into one
  lib/streamlit/elements/data_editor.py
Due: no-relative-imports

Point out that editable columns cannot be styled via Pandas Styler (#6933)
  lib/streamlit/elements/data_editor.py
Due: no-relative-imports

Remove skipped Mapbox tests / TODO
  frontend/lib/src/hocs/withMapboxToken/MapboxToken.test.ts
  frontend/lib/src/hocs/withMapboxToken/MapboxToken.ts
Due: prettier, typecheck

Minor name change from disableFullScreenButton to hideFullScreenButton and removing unnecessary files
  frontend/app/src/StreamlitLib.test.tsx
  frontend/app/src/components/AppView/AppView.tsx
  frontend/app/tsconfig.dev.json
  frontend/app/tsconfig.prod.json
  frontend/lib/src/baseconsts.ts
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/core/Block/ElementNodeRenderer.test.tsx
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/core/Block/utils.ts
  frontend/lib/src/components/shared/FullScreenWrapper/FullScreenWrapper.tsx
  frontend/lib/src/components/widgets/DataFrame/DataFrame.test.tsx
  frontend/lib/src/hocs/withFullScreenWrapper/withFullScreenWrapper.test.tsx
  frontend/lib/src/hocs/withFullScreenWrapper/withFullScreenWrapper.tsx
Due: prettier, typecheck

Minor fixes
  frontend/lib/src/baseconsts.ts
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/core/Block/utils.ts
Due: prettier, typecheck

Remove global const and move hideFullScreenButton to LibContext
  frontend/app/src/App.tsx
  frontend/app/src/components/AppView/AppView.tsx
  frontend/lib/src/baseconsts.ts
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/core/LibContext.tsx
  frontend/lib/src/components/shared/FullScreenWrapper/FullScreenWrapper.tsx
  frontend/lib/src/components/widgets/DataFrame/DataFrame.test.tsx
  frontend/lib/src/hocs/withFullScreenWrapper/withFullScreenWrapper.test.tsx
  frontend/lib/src/hocs/withFullScreenWrapper/withFullScreenWrapper.tsx
Due: prettier, typecheck

Add test util to render component with LibContext and add test for FullScreenWrapper
  frontend/lib/src/components/shared/FullScreenWrapper/FullScreenWrapper.test.tsx
  frontend/lib/src/test_util.tsx
Due: prettier, typecheck

Change name of method to something more reasonable
  frontend/lib/src/components/shared/FullScreenWrapper/FullScreenWrapper.test.tsx
  frontend/lib/src/test_util.tsx
Due: prettier, typecheck

More cleanup as we have context and unneeded prop plumbing
  frontend/app/src/App.tsx
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/core/Block/utils.ts
Due: prettier, typecheck

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
