Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Add e2e test
  e2e_playwright/theming/custom_url_base.py
  e2e_playwright/theming/custom_url_base_test.py
Due: no-relative-imports

Parse filetype of URL subpath, not full URL.
  lib/streamlit/url_util.py
  lib/streamlit/web/cli.py
Due: no-relative-imports

Update snaps
  e2e_playwright/__snapshots__/linux/custom_url_base_test/custom_theme_with_url_base[chromium].png
  e2e_playwright/__snapshots__/linux/custom_url_base_test/custom_theme_with_url_base[firefox].png
  e2e_playwright/__snapshots__/linux/custom_url_base_test/custom_theme_with_url_base[webkit].png
Due: none

MultiselectColumn
  lib/streamlit/elements/lib/column_types.py
Due: no-relative-imports

Hosted font configuration
  lib/streamlit/config.py
Due: no-relative-imports

Default st.tabs
  lib/streamlit/elements/layouts.py
Due: no-relative-imports

Table borders
  lib/streamlit/elements/arrow.py
Due: no-relative-imports

changed active disabled pills/control from gray30 to fadedText05
  frontend/lib/src/components/shared/BaseButton/styled-components.ts
Due: prettier, typecheck

[AdvancedLayouts] Add width parameter to st.altair_chart
  .gitignore
  e2e_playwright/st_altair_chart.py
  e2e_playwright/st_altair_chart_basic_select.py
  e2e_playwright/st_altair_chart_title.py
  e2e_playwright/st_vega_charts_width.py
  e2e_playwright/st_vega_charts_width_test.py
  lib/streamlit/elements/vega_charts.py
  lib/tests/streamlit/elements/vega_charts_test.py
Due: no-relative-imports

Typo
  lib/streamlit/elements/lib/column_types.py
Due: no-relative-imports

Bar chart sorting
  lib/streamlit/elements/vega_charts.py
Due: no-relative-imports

Audio sample rate
  lib/streamlit/elements/widgets/audio_input.py
Due: no-relative-imports

Basic color paletter options
  lib/streamlit/config.py
Due: no-relative-imports

Vega charts height and width
  lib/streamlit/elements/arrow.py
  lib/streamlit/elements/form.py
  lib/streamlit/elements/graphviz_chart.py
  lib/streamlit/elements/image.py
  lib/streamlit/elements/layouts.py
  lib/streamlit/elements/lib/column_types.py
  lib/streamlit/elements/plotly_chart.py
  lib/streamlit/elements/pyplot.py
  lib/streamlit/elements/vega_charts.py
  lib/streamlit/elements/widgets/button.py
  lib/streamlit/elements/widgets/data_editor.py
Due: no-relative-imports

Empty page section in top nav
  lib/streamlit/commands/navigation.py
Due: no-relative-imports

Graphviz height and width
  lib/streamlit/elements/graphviz_chart.py
Due: no-relative-imports

Chart column colors
  lib/streamlit/elements/lib/column_types.py
Due: no-relative-imports

test(e2e): switch st_audio_input_test to accessible selectors (no index-based locators)
  e2e_playwright/st_audio_input.py
  e2e_playwright/st_audio_input_test.py
Due: no-relative-imports

fix: Restore sample_rate parameters in audio input test app
  e2e_playwright/st_audio_input.py
Due: no-relative-imports

Remove typecheck exclusion line
  Makefile
Due: none

[fix] Branch checking logic
  .github/workflows/release-tag-and-pr-creation.yml
Due: none

[fix] Add repo guard to all automation scripts
  .github/workflows/cherry-pick-to-release-branch.yml
  .github/workflows/patch-release-branch-creation.yml
  .github/workflows/release-branch-creation.yml
  .github/workflows/release-tag-and-pr-creation.yml
Due: none

Fix docstring
  lib/streamlit/url_util.py
Due: no-relative-imports

[AdvancedLayouts] Modernize height parameter for st.pydeck_chart
  e2e_playwright/st_pydeck_chart.py
  e2e_playwright/st_pydeck_chart_test.py
  frontend/lib/src/components/elements/DeckGlJsonChart/DeckGlJsonChart.tsx
  frontend/lib/src/components/elements/DeckGlJsonChart/styled-components.ts
  lib/streamlit/elements/deck_gl_json_chart.py
  lib/tests/streamlit/elements/pydeck_test.py
  proto/streamlit/proto/DeckGlJsonChart.proto
Due: prettier, typecheck, no-relative-imports

Address copilot comments
  lib/streamlit/config_util.py
  lib/tests/streamlit/config_test.py
  lib/tests/streamlit/config_util_test.py
Due: no-relative-imports

In `hello`, preload Python modules that take a while to compile in a new venv.
  lib/streamlit/hello/hello.py
Due: no-relative-imports

Address graphite comment
  lib/streamlit/config_util.py
  lib/tests/streamlit/config_util_test.py
Due: no-relative-imports

Add e2e test docstring
  e2e_playwright/theming/custom_url_base_test.py
Due: no-relative-imports

Remove PR trigger
  .github/workflows/update-emojis-material-icons.yml
Due: none

Fix lint from graphite commit
  e2e_playwright/theming/custom_url_base_test.py
Due: no-relative-imports

Address comments
  .github/workflows/update-emojis-material-icons.yml
Due: none

Update test to check font
  e2e_playwright/theming/custom_url_base_test.py
Due: no-relative-imports

Update color validation logic
  lib/streamlit/config_util.py
  lib/tests/streamlit/config_util_test.py
Due: no-relative-imports

Add timeout and size limit
  lib/streamlit/config_util.py
  lib/tests/streamlit/config_util_test.py
Due: no-relative-imports

make sure minimum height doesn't impact user defined heights
  e2e_playwright/st_pydeck_chart.py
  e2e_playwright/st_pydeck_chart_test.py
  frontend/lib/src/components/elements/DeckGlJsonChart/DeckGlJsonChart.tsx
  frontend/lib/src/components/elements/DeckGlJsonChart/styled-components.ts
  frontend/lib/src/components/elements/DeckGlJsonChart/types.ts
Due: prettier, typecheck, no-relative-imports

rmv gitignore changes
  .gitignore
Due: none

keep default behaviour for st.map
  lib/streamlit/elements/map.py
Due: no-relative-imports

correct count
  e2e_playwright/st_pydeck_chart_test.py
Due: no-relative-imports

update snapshots
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_test/st_pydeck_chart-height_50px[chromium].png
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_test/st_pydeck_chart-height_50px[webkit].png
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_test/st_pydeck_chart-height_default[chromium].png
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_test/st_pydeck_chart-height_default[webkit].png
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_test/st_pydeck_chart-height_stretch[chromium].png
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_test/st_pydeck_chart-height_stretch[webkit].png
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_test/st_pydeck_chart-height_stretch_outside_container[chromium].png
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_test/st_pydeck_chart-height_stretch_outside_container[webkit].png
Due: none

update hello app test
  e2e_playwright/hello_app_test.py
Due: no-relative-imports
