Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

[fix] Remove unneeded margin on map components
  e2e_playwright/__snapshots__/linux/st_map_test/st_map-fullscreen_expanded[chromium].png
  e2e_playwright/__snapshots__/linux/st_map_test/st_map-fullscreen_expanded[webkit].png
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_test/st_pydeck_chart-fullscreen_expanded[chromium].png
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_test/st_pydeck_chart-fullscreen_expanded[webkit].png
  frontend/lib/src/components/elements/DeckGlJsonChart/styled-components.ts
Due: prettier, typecheck

only request the mic perm when the user starts to record
  e2e_playwright/st_audio_input_test.py
  frontend/lib/src/components/widgets/AudioInput/AudioInput.tsx
Due: prettier, typecheck, no-relative-imports

updating snapshots
  e2e_playwright/__snapshots__/linux/st_audio_input_test/st_audio_input-default[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_audio_input_test/st_audio_input-default[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_audio_input_test/st_audio_input-disabled[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_audio_input_test/st_audio_input-disabled[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_audio_input_test/st_audio_input-label_visibility_disabled[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_audio_input_test/st_audio_input-label_visibility_disabled[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_audio_input_test/st_audio_input-no_permission[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_audio_input_test/st_audio_input-no_permission[light_theme-webkit].png
Due: none

cleanup
  frontend/lib/src/components/widgets/AudioInput/AudioInput.tsx
Due: prettier, typecheck

updating tests
  e2e_playwright/st_audio_input_test.py
Due: no-relative-imports

[fix] Remove unneeded margin on map components (#9506)
  e2e_playwright/__snapshots__/linux/st_map_test/st_map-fullscreen_expanded[chromium].png
  e2e_playwright/__snapshots__/linux/st_map_test/st_map-fullscreen_expanded[webkit].png
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_test/st_pydeck_chart-fullscreen_expanded[chromium].png
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_test/st_pydeck_chart-fullscreen_expanded[webkit].png
  frontend/lib/src/components/elements/DeckGlJsonChart/styled-components.ts
Due: prettier, typecheck

adding comment to useWidgetManagerElementState
  frontend/lib/src/hooks/useWidgetManagerElementState.tsx
Due: prettier, typecheck

delete this file
  frontend/lib/src/components/widgets/AudioInput/uploadFiles.ts
Due: prettier, typecheck

add cursor style for disabled state in StyledBorderlessIconButton
  frontend/lib/src/components/shared/BaseButton/styled-components.ts
Due: prettier, typecheck

Reintroduce AddSlashHandler
  lib/streamlit/web/server/routes.py
  lib/streamlit/web/server/server.py
  lib/streamlit/web/server/server_util.py
  lib/tests/streamlit/web/server/routes_test.py
Due: no-relative-imports

Fix types
  lib/streamlit/web/server/server.py
Due: no-relative-imports

Fixes bug around data editor min/max dates (#9498)
  e2e_playwright/st_data_editor_timezones.py
  e2e_playwright/st_data_editor_timezones_test.py
  frontend/lib/src/components/widgets/DataFrame/columns/DateTimeColumn.ts
Due: prettier, typecheck, no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:10954445048
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Add styling
  frontend/lib/src/components/shared/BaseButton/styled-components.ts
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.tsx
Due: prettier, typecheck

Add playwright snapshots
  e2e_playwright/__snapshots__/linux/st_pills_test/st_pills-multiselect[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_pills_test/st_pills-multiselect[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_pills_test/st_pills-multiselect[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_pills_test/st_pills-multiselect[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_pills_test/st_pills-multiselect[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_pills_test/st_pills-multiselect[light_theme-webkit].png
Due: none

Add width-argument
  frontend/lib/src/components/shared/BaseButton/styled-components.ts
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.tsx
  lib/streamlit/elements/widgets/button_group.py
  proto/streamlit/proto/ButtonGroup.proto
Due: prettier, typecheck, no-relative-imports

Add support for icons argument
  frontend/lib/src/components/shared/BaseButton/styled-components.ts
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.tsx
  lib/streamlit/elements/widgets/button_group.py
  proto/streamlit/proto/ButtonGroup.proto
Due: prettier, typecheck, no-relative-imports

Use format_func for icon only buttons
  lib/streamlit/elements/widgets/button_group.py
Due: no-relative-imports

Rename ICON to SEGMENT
  frontend/lib/src/components/shared/BaseButton/BaseButton.tsx
  frontend/lib/src/components/shared/BaseButton/styled-components.ts
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.tsx
Due: prettier, typecheck

Update pills command signature
  lib/streamlit/elements/widgets/button_group.py
Due: no-relative-imports

Update pills style
  frontend/lib/src/components/shared/BaseButton/styled-components.ts
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.tsx
  frontend/lib/src/theme/primitives/radii.ts
Due: prettier, typecheck

Allow deselection of singleselect options
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.test.tsx
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.tsx
Due: prettier, typecheck

Add pills command
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.tsx
  lib/streamlit/__init__.py
  lib/streamlit/elements/widgets/button_group.py
  proto/streamlit/proto/ButtonGroup.proto
Due: prettier, typecheck, no-relative-imports

Make button_group an official command
  lib/streamlit/__init__.py
  lib/streamlit/elements/widgets/button_group.py
  lib/tests/streamlit/elements/button_group_test.py
Due: no-relative-imports

Simplify determine size and buttonkind
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.tsx
Due: prettier, typecheck

Update pills style
  frontend/lib/src/components/shared/BaseButton/styled-components.ts
Due: prettier, typecheck

Revert "Fix return type of icon-only buttons"
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.tsx
  lib/streamlit/elements/widgets/button_group.py
  proto/streamlit/proto/ButtonGroup.proto
Due: prettier, typecheck, no-relative-imports

Visualize button group
  frontend/lib/src/components/shared/BaseButton/BaseButton.tsx
  frontend/lib/src/components/shared/BaseButton/styled-components.ts
  frontend/lib/src/components/shared/Icon/DynamicIcon.tsx
  frontend/lib/src/components/shared/Icon/index.tsx
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.tsx
  lib/streamlit/elements/widgets/button_group.py
  lib/tests/streamlit/elements/button_group_test.py
Due: prettier, typecheck, no-relative-imports

Add pills style
  frontend/lib/src/components/shared/BaseButton/BaseButton.tsx
  frontend/lib/src/components/shared/BaseButton/styled-components.ts
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.tsx
  lib/streamlit/elements/widgets/button_group.py
  proto/streamlit/proto/ButtonGroup.proto
Due: prettier, typecheck, no-relative-imports

Update pills design
  frontend/lib/src/components/shared/BaseButton/styled-components.ts
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.tsx
Due: prettier, typecheck

Update selected hover style
  frontend/lib/src/components/shared/BaseButton/styled-components.ts
Due: prettier, typecheck

Add e2e test for pills
  e2e_playwright/st_pills.py
  e2e_playwright/st_pills_test.py
Due: no-relative-imports

Fix tests
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.tsx
  lib/streamlit/elements/widgets/button_group.py
  lib/tests/streamlit/delta_generator_test.py
  lib/tests/streamlit/runtime/state/widgets_test.py
  lib/tests/streamlit/streamlit_test.py
Due: prettier, typecheck, no-relative-imports

Fix return type of icon-only buttons
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.tsx
  lib/streamlit/elements/widgets/button_group.py
  proto/streamlit/proto/ButtonGroup.proto
Due: prettier, typecheck, no-relative-imports

Fix setting value by session_state
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.tsx
  lib/streamlit/elements/widgets/button_group.py
Due: prettier, typecheck, no-relative-imports

Refactor buttongroup in context of icon-only buttons
  frontend/lib/src/components/shared/Icon/DynamicIcon.tsx
  frontend/lib/src/components/shared/Icon/index.tsx
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.test.tsx
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.tsx
  lib/streamlit/elements/widgets/button_group.py
  proto/streamlit/proto/ButtonGroup.proto
Due: prettier, typecheck, no-relative-imports

Ensure single value default in select mode
  lib/streamlit/elements/widgets/button_group.py
Due: no-relative-imports

Make labelvisibility collapsed when not provided
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.tsx
Due: prettier, typecheck

Comment out generic button_group widget for now
  lib/streamlit/__init__.py
  lib/streamlit/elements/widgets/button_group.py
  lib/tests/streamlit/delta_generator_test.py
  lib/tests/streamlit/elements/button_group_test.py
Due: no-relative-imports
