Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Update markdown and link button
  frontend/lib/src/components/elements/LinkButton/BaseLinkButton.tsx
  frontend/lib/src/components/elements/LinkButton/LinkButton.test.tsx
  frontend/lib/src/components/elements/LinkButton/LinkButton.tsx
  frontend/lib/src/components/elements/Markdown/Markdown.test.tsx
  frontend/lib/src/components/elements/Markdown/Markdown.tsx
Due: prettier, typecheck

Update html component
  frontend/lib/src/components/core/Block/styled-components.ts
  frontend/lib/src/components/elements/Html/Html.test.tsx
  frontend/lib/src/components/elements/Html/Html.tsx
Due: prettier, typecheck

Add a build option for easier embedding of Streamlit. (#9269)
  frontend/app/craco.config.js
  frontend/app/package.json
Due: prettier, typecheck

Update bokeh chart
  frontend/lib/src/components/elements/ArrowTable/ArrowTable.tsx
  frontend/lib/src/components/elements/BokehChart/BokehChart.test.tsx
  frontend/lib/src/components/elements/BokehChart/BokehChart.tsx
Due: prettier, typecheck

Remove mock
  frontend/lib/src/components/elements/BokehChart/mock.ts
Due: prettier, typecheck

Some more improvements
  frontend/lib/src/components/core/Block/styled-components.ts
  frontend/lib/src/components/elements/ChatMessage/ChatMessage.tsx
  frontend/lib/src/components/elements/CodeBlock/CopyButton.test.tsx
  frontend/lib/src/components/elements/CodeBlock/CopyButton.tsx
  frontend/lib/src/components/elements/Spinner/Spinner.test.tsx
  frontend/lib/src/components/elements/Spinner/Spinner.tsx
Due: prettier, typecheck

Update favicon
  frontend/lib/src/components/elements/Favicon/Favicon.tsx
Due: prettier, typecheck

Fix tests
  lib/tests/delta_generator_test_case.py
  lib/tests/streamlit/runtime/caching/common_cache_test.py
  lib/tests/streamlit/runtime/scriptrunner/code_exec_test.py
  lib/tests/streamlit/runtime/scriptrunner/script_requests_test.py
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
  lib/tests/streamlit/runtime/state/session_state_test.py
  lib/tests/streamlit/runtime/state/widgets_test.py
  lib/tests/streamlit/script_run_context_test.py
  lib/tests/streamlit/stop_test.py
Due: no-relative-imports

Move script_run_context out of scriptrunner module
  e2e_playwright/st_dialog.py
  lib/streamlit/commands/navigation.py
  lib/streamlit/elements/lib/mutable_status_container.py
  lib/streamlit/elements/lib/policies.py
  lib/streamlit/navigation/page.py
  lib/streamlit/runtime/caching/cache_data_api.py
  lib/streamlit/runtime/caching/cache_resource_api.py
  lib/streamlit/runtime/caching/cached_message_replay.py
  lib/streamlit/runtime/metrics_util.py
  lib/streamlit/runtime/script_run_context.py
  lib/streamlit/runtime/scriptrunner/__init__.py
  lib/streamlit/runtime/scriptrunner/exec_code.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/streamlit/runtime/scriptrunner_context/script_run_context.py
  lib/streamlit/runtime/state/common.py
  lib/streamlit/testing/v1/local_script_runner.py
  lib/streamlit/user_info.py
  lib/tests/delta_generator_test_case.py
  lib/tests/streamlit/runtime/caching/common_cache_test.py
  lib/tests/streamlit/runtime/scriptrunner/code_exec_test.py
  lib/tests/streamlit/runtime/scriptrunner/script_requests_test.py
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
  lib/tests/streamlit/runtime/state/widgets_test.py
  lib/tests/streamlit/stop_test.py
Due: no-relative-imports

Fix GitHub import cycle warning
  lib/streamlit/error_util.py
Due: no-relative-imports

Move import in request_handler
  lib/streamlit/web/server/stats_request_handler.py
Due: no-relative-imports

Move script_run_context out of scriptrunner module
  lib/streamlit/commands/experimental_query_params.py
  lib/streamlit/commands/logo.py
  lib/streamlit/commands/page_config.py
  lib/streamlit/components/v1/component_registry.py
  lib/streamlit/components/v1/custom_component.py
  lib/streamlit/cursor.py
  lib/streamlit/elements/arrow.py
  lib/streamlit/elements/lib/dialog.py
  lib/streamlit/elements/media.py
  lib/streamlit/elements/plotly_chart.py
  lib/streamlit/elements/vega_charts.py
  lib/streamlit/elements/widgets/button_group.py
  lib/streamlit/elements/widgets/chat.py
  lib/streamlit/elements/widgets/data_editor.py
  lib/streamlit/error_util.py
  lib/streamlit/platform.py
  lib/streamlit/runtime/context.py
  lib/streamlit/runtime/fragment.py
  lib/streamlit/runtime/media_file_manager.py
  lib/streamlit/runtime/metrics_util.py
  lib/streamlit/runtime/scriptrunner_context/script_run_context.py
  lib/streamlit/runtime/state/query_params.py
  lib/streamlit/runtime/state/session_state.py
  lib/streamlit/runtime/state/session_state_proxy.py
  lib/streamlit/user_info.py
  lib/streamlit/web/server/websocket_headers.py
Due: no-relative-imports

Add package comment
  lib/streamlit/runtime/scriptrunner_utils/__init__.py
Due: no-relative-imports

Use new package structure also in tests
  lib/tests/streamlit/runtime/scriptrunner_utils/__init__.py
  lib/tests/streamlit/runtime/scriptrunner_utils/script_requests_test.py
  lib/tests/streamlit/runtime/scriptrunner_utils/script_run_context_test.py
Due: no-relative-imports

Update graphviz chart
  frontend/lib/src/components/elements/GraphVizChart/GraphVizChart.test.tsx
  frontend/lib/src/components/elements/GraphVizChart/GraphVizChart.tsx
Due: prettier, typecheck

Update iframe element
  frontend/lib/src/components/elements/IFrame/IFrame.test.tsx
  frontend/lib/src/components/elements/IFrame/IFrame.tsx
  frontend/lib/src/components/elements/IFrame/index.tsx
Due: prettier, typecheck

Update json
  frontend/lib/src/components/elements/Json/Json.test.tsx
  frontend/lib/src/components/elements/Json/Json.tsx
Due: prettier, typecheck

Fix test
  frontend/lib/src/components/elements/CodeBlock/CopyButton.test.tsx
Due: prettier, typecheck

Fix tests
  frontend/lib/src/components/elements/Html/Html.test.tsx
Due: prettier, typecheck

Remove children if block type is different
  frontend/lib/src/AppNode.ts
Due: prettier, typecheck

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:10399877096
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Apply feedback
  frontend/lib/src/components/elements/Tabs/Tabs.tsx
Due: prettier, typecheck

Change back iframe rename
  frontend/lib/src/components/elements/IFrame/IFrame.test.tsx
  frontend/lib/src/components/elements/IFrame/IFrame.tsx
Due: prettier, typecheck

Add comment
  lib/streamlit/dataframe_util.py
Due: no-relative-imports

Extend incompatible check
  lib/streamlit/dataframe_util.py
Due: no-relative-imports

Add data handling support for DB API 2.0 (#9274)
  .github/workflows/python-tests.yml
  lib/integration-requirements.txt
  lib/streamlit/dataframe_util.py
  lib/tests/streamlit/dataframe_util_test.py
Due: no-relative-imports

Clean up
  lib/streamlit/dataframe_util.py
Due: no-relative-imports

Use overloads to make the return types of st.feedback more precise.
  lib/streamlit/elements/widgets/button_group.py
  lib/tests/streamlit/typing/feedback.py
  scripts/mypy_custom_script.py
Due: no-relative-imports

When clearing forward queue add a stopped for rerun message
  lib/streamlit/runtime/forward_msg_queue.py
  lib/tests/streamlit/runtime/forward_msg_queue_test.py
Due: no-relative-imports

replace type alias with literals; also, rm list clause
  lib/streamlit/elements/widgets/button_group.py
Due: no-relative-imports

fix, or try to fix, tests that relied on passing st.feedback wrong type of argument
  lib/tests/streamlit/delta_generator_test.py
  lib/tests/streamlit/runtime/state/widgets_test.py
Due: no-relative-imports

Include readme.txt explaining this typing/, using raethlein's proposed verbiage plus my own.
  lib/tests/streamlit/typing/readme.txt
Due: none

include license header in readme.txt to pass the license header check
  lib/tests/streamlit/typing/readme.txt
Due: none

hide file_uploader if it is configured from backend
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
  lib/streamlit/elements/widgets/chat.py
Due: prettier, typecheck, no-relative-imports
