Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Upate
  specs/0000-st-app/product-spec.md
Due: none

Update
  specs/0000-st-app/product-spec.md
Due: none

Handle exception in clear() better.
  lib/streamlit/runtime/caching/cache_resource_api.py
  lib/streamlit/runtime/caching/ttl_cleanup_cache.py
  lib/tests/streamlit/runtime/caching/cache_resource_api_test.py
  lib/tests/streamlit/runtime/caching/ttl_cleanup_cache_test.py
Due: no-relative-imports

Update lib/streamlit/runtime/caching/cache_resource_api.py
  lib/streamlit/runtime/caching/cache_resource_api.py
Due: no-relative-imports

Actually fix typo.
  lib/streamlit/runtime/caching/cache_resource_api.py
Due: no-relative-imports

Move note about cache invalidation to TTL + maxsize.
  lib/streamlit/runtime/caching/cache_resource_api.py
Due: no-relative-imports

Clean up
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  frontend/app/src/util/hostConfigHelpers.ts
  frontend/connection/src/ConnectionManager.ts
  frontend/connection/src/DoInitPings.tsx
  frontend/connection/src/WebsocketConnection.tsx
  frontend/connection/src/types.ts
  frontend/utils/src/config/index.ts
Due: prettier, typecheck

Address comments
  frontend/app/src/util/hostConfigHelpers.test.ts
  frontend/app/src/util/hostConfigHelpers.ts
  frontend/connection/src/utils.test.ts
  frontend/utils/src/config/index.ts
Due: prettier, typecheck

First pass
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  frontend/app/src/util/hostConfigHelpers.test.ts
  frontend/app/src/util/hostConfigHelpers.ts
  frontend/connection/src/types.ts
  frontend/connection/src/utils.test.ts
  frontend/connection/src/utils.ts
  frontend/test-globals.d.ts
  frontend/utils/src/config/index.ts
Due: prettier, typecheck

Fix comments
  frontend/utils/src/config/index.ts
Due: prettier, typecheck

Address nits
  lib/streamlit/elements/vega_charts.py
  lib/tests/streamlit/elements/vega_charts_test.py
Due: no-relative-imports

Fix width for full screen like facet
  frontend/lib/src/components/elements/ArrowVegaLiteChart/ArrowVegaLiteChart.test.tsx
  frontend/lib/src/components/elements/ArrowVegaLiteChart/ArrowVegaLiteChart.tsx
  frontend/lib/src/components/elements/ArrowVegaLiteChart/useVegaElementPreprocessor.test.ts
  frontend/lib/src/components/elements/ArrowVegaLiteChart/useVegaElementPreprocessor.ts
Due: prettier, typecheck

Address comments
  frontend/lib/src/components/widgets/NumberInput/NumberInput.test.tsx
  frontend/lib/src/components/widgets/NumberInput/NumberInput.tsx
Due: prettier, typecheck

Fix handleBlur
  frontend/lib/src/components/widgets/NumberInput/NumberInput.test.tsx
  frontend/lib/src/components/widgets/NumberInput/NumberInput.tsx
Due: prettier, typecheck

Update snapshot
  e2e_playwright/__snapshots__/linux/st_number_input_test/st_number_input-clearable_input[firefox].png
Due: none

First pass
  frontend/lib/src/components/widgets/NumberInput/NumberInput.test.tsx
  frontend/lib/src/components/widgets/NumberInput/NumberInput.tsx
  frontend/lib/src/components/widgets/NumberInput/utils.test.ts
  frontend/lib/src/components/widgets/NumberInput/utils.ts
Due: prettier, typecheck

Address nits
  frontend/lib/src/components/widgets/NumberInput/NumberInput.test.tsx
  frontend/lib/src/components/widgets/NumberInput/NumberInput.tsx
  frontend/lib/src/hooks/useBasicWidgetState.ts
Due: prettier, typecheck

Address nits
  frontend/lib/src/components/widgets/NumberInput/NumberInput.tsx
  frontend/lib/src/components/widgets/NumberInput/utils.ts
  frontend/lib/src/hooks/useBasicWidgetState.ts
Due: prettier, typecheck

Fix inc/dec bug & add test
  frontend/lib/src/components/widgets/NumberInput/NumberInput.test.tsx
  frontend/lib/src/components/widgets/NumberInput/NumberInput.tsx
Due: prettier, typecheck

Improve hasNestedComposition check
  frontend/lib/src/components/elements/ArrowVegaLiteChart/ArrowVegaLiteChart.test.tsx
  frontend/lib/src/components/elements/ArrowVegaLiteChart/ArrowVegaLiteChart.tsx
  frontend/lib/src/components/elements/ArrowVegaLiteChart/useVegaElementPreprocessor.ts
Due: prettier, typecheck

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

st.logo now accepts a Material icon shortcode string
  frontend/app/src/components/Logo/LogoComponent.tsx
  lib/streamlit/commands/logo.py
  lib/tests/streamlit/commands/logo_test.py
  proto/streamlit/proto/Logo.proto
Due: prettier, typecheck, no-relative-imports

Apply automatic fixes
  .pre-commit-config.yaml
Due: none

Apply automatic fixes
  frontend/yarn.lock
Due: none

Update screenshots
  e2e_playwright/__snapshots__/linux/st_columns_test/st_columns-column_gap_large[chromium].png
  e2e_playwright/__snapshots__/linux/st_columns_test/st_columns-column_gap_large[firefox].png
  e2e_playwright/__snapshots__/linux/st_columns_test/st_columns-column_gap_large[webkit].png
  e2e_playwright/__snapshots__/linux/st_columns_test/st_columns-column_gap_medium[firefox].png
  e2e_playwright/__snapshots__/linux/st_columns_test/st_columns-column_gap_medium[webkit].png
  e2e_playwright/__snapshots__/linux/st_columns_test/st_columns-column_gap_small[chromium].png
  e2e_playwright/__snapshots__/linux/st_columns_test/st_columns-column_gap_small[firefox].png
  e2e_playwright/__snapshots__/linux/st_columns_test/st_columns-column_gap_small[webkit].png
  e2e_playwright/__snapshots__/linux/st_columns_test/st_columns-nested_one_level[chromium].png
  e2e_playwright/__snapshots__/linux/st_columns_test/st_columns-nested_one_level[firefox].png
  e2e_playwright/__snapshots__/linux/st_columns_test/st_columns-vertical_alignment_bottom[chromium].png
  e2e_playwright/__snapshots__/linux/st_columns_test/st_columns-vertical_alignment_bottom[firefox].png
  e2e_playwright/__snapshots__/linux/st_columns_test/st_columns-vertical_alignment_center[chromium].png
  e2e_playwright/__snapshots__/linux/st_columns_test/st_columns-vertical_alignment_center[firefox].png
  e2e_playwright/__snapshots__/linux/st_columns_test/st_columns-vertical_alignment_top[chromium].png
  e2e_playwright/__snapshots__/linux/st_columns_test/st_columns-vertical_alignment_top[firefox].png
  e2e_playwright/__snapshots__/linux/st_columns_test/st_columns-width_configuration_fixed[chromium].png
  e2e_playwright/__snapshots__/linux/st_columns_test/st_columns-width_configuration_fixed[firefox].png
  e2e_playwright/__snapshots__/linux/st_columns_test/st_columns-width_configuration_stretch[chromium].png
  e2e_playwright/__snapshots__/linux/st_columns_test/st_columns-width_configuration_stretch[firefox].png
  e2e_playwright/__snapshots__/linux/st_layouts_container_gap_size_test/st_layouts_container_gap_size-container-horizontal-gap-large[chromium].png
  e2e_playwright/__snapshots__/linux/st_layouts_container_gap_size_test/st_layouts_container_gap_size-container-horizontal-gap-medium[chromium].png
  e2e_playwright/__snapshots__/linux/st_layouts_container_gap_size_test/st_layouts_container_gap_size-container-horizontal-gap-medium[firefox].png
  e2e_playwright/__snapshots__/linux/st_layouts_container_gap_size_test/st_layouts_container_gap_size-container-horizontal-gap-none[chromium].png
  e2e_playwright/__snapshots__/linux/st_layouts_container_gap_size_test/st_layouts_container_gap_size-container-horizontal-gap-none[firefox].png
  e2e_playwright/__snapshots__/linux/st_layouts_container_gap_size_test/st_layouts_container_gap_size-container-horizontal-gap-small[chromium].png
  e2e_playwright/__snapshots__/linux/st_layouts_container_gap_size_test/st_layouts_container_gap_size-container-horizontal-gap-small[firefox].png
  e2e_playwright/__snapshots__/linux/st_layouts_container_gap_size_test/st_layouts_container_gap_size-container-vertical-gap-large[chromium].png
  e2e_playwright/__snapshots__/linux/st_layouts_container_gap_size_test/st_layouts_container_gap_size-container-vertical-gap-large[firefox].png
  e2e_playwright/__snapshots__/linux/st_layouts_container_gap_size_test/st_layouts_container_gap_size-container-vertical-gap-medium[chromium].png
  e2e_playwright/__snapshots__/linux/st_layouts_container_gap_size_test/st_layouts_container_gap_size-container-vertical-gap-small[chromium].png
  e2e_playwright/__snapshots__/linux/st_layouts_container_gap_size_test/st_layouts_container_gap_size-container-vertical-gap-small[firefox].png
  e2e_playwright/__snapshots__/linux/st_space_test/st_space_horizontal_container[chromium].png
  e2e_playwright/__snapshots__/linux/st_space_test/st_space_horizontal_container[firefox].png
  e2e_playwright/__snapshots__/linux/st_space_test/st_space_nested_containers[chromium].png
  e2e_playwright/__snapshots__/linux/st_space_test/st_space_nested_containers[firefox].png
  e2e_playwright/__snapshots__/linux/st_space_test/st_space_vertical_container_stretch[chromium].png
  e2e_playwright/__snapshots__/linux/st_space_test/st_space_vertical_container_stretch[firefox].png
Due: none

Add st.space e2e tests
  e2e_playwright/st_space_test.py
Due: no-relative-imports

Add type-ignore for boto3 and http returns; add os.path.isfile mocks in download tests
  lib/streamlit/runtime/file_util.py
  lib/tests/streamlit/runtime/download_data_util_test.py
Due: no-relative-imports

Fix #12802: Consistent border color on segmented control hover
  e2e_playwright/st_segmented_control_test.py
  frontend/lib/src/components/shared/BaseButton/styled-components.ts
Due: prettier, typecheck, no-relative-imports

Fix #13162: Remove inconsistent margin for checkbox in horizontal container
  e2e_playwright/st_checkbox.py
  e2e_playwright/st_checkbox_test.py
  frontend/lib/src/components/core/Block/styled-components.ts
Due: prettier, typecheck, no-relative-imports

Fix #12716: Long dialog starts at top instead of bottom
  e2e_playwright/st_dialog.py
  e2e_playwright/st_dialog_test.py
  frontend/lib/src/components/shared/Modal/Modal.tsx
Due: prettier, typecheck, no-relative-imports

Budget analyser
  Budget analyser
Due: none

fix: use callback ref instead of useRef to avoid lint error
  frontend/lib/src/components/shared/Modal/Modal.tsx
Due: prettier, typecheck

style: fix ruff format for assert statement
  e2e_playwright/st_checkbox_test.py
Due: no-relative-imports

Add "client.showExceptionLinks` config option (#11238)"
  frontend/app/src/App.tsx
  frontend/app/src/components/StreamlitContextProvider.tsx
  frontend/lib/src/components/core/LibConfigContext.tsx
  frontend/lib/src/components/elements/ExceptionElement/ExceptionElement.test.tsx
  frontend/lib/src/components/elements/ExceptionElement/ExceptionElement.tsx
  frontend/lib/src/test_util.tsx
  lib/streamlit/config.py
  lib/streamlit/runtime/app_session.py
  lib/tests/streamlit/config_test.py
  proto/streamlit/proto/NewSession.proto
Due: prettier, typecheck, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
