Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Fix Python tests for Interactive Plotly Charts (#8551)
  lib/streamlit/elements/plotly_chart.py
  lib/tests/streamlit/elements/plotly_chart_test.py
Due: no-relative-imports

Use Widget Callback
  lib/streamlit/elements/plotly_chart.py
Due: no-relative-imports

Remove default height
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.test.tsx
Due: prettier, typecheck

Remove Callable from typing as it's unused
  lib/streamlit/elements/plotly_chart.py
Due: no-relative-imports

Add new updated snapshots
  e2e_playwright/__snapshots__/linux/st_plotly_chart_select_test/st_plotly_chart-panned_reset[chromium].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_select_test/st_plotly_chart-panned_reset[firefox].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_select_test/st_plotly_chart-panned_reset[webkit].png
Due: none

Fix typing
  lib/streamlit/elements/plotly_chart.py
  lib/streamlit/runtime/state/common.py
Due: no-relative-imports

Remove junit tests because it's covered in e2e tests
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.test.tsx
  frontend/lib/src/components/elements/PlotlyChart/__snapshots__/PlotlyChart.test.tsx.snap
Due: prettier, typecheck

Add extra check for removing plotly config buttons
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

Fix lint
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.test.tsx
Due: prettier, typecheck

Add snapshots
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-container_width_false_exited_fullscreen[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-container_width_false_exited_fullscreen[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-container_width_true_exited_fullscreen[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-container_width_true_exited_fullscreen[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-line-chart-specific-height-width[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-line-chart-specific-height-width[light_theme-firefox].png
Due: none

Fix failing snapshots
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-use-container-width-false-and-specified-height[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-use-container-width-false-and-specified-height[light_theme-firefox].png
Due: none

Fix snapshots
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-none-theme-and-use-container-width[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-none-theme-and-use-container-width[light_theme-firefox].png
Due: none

Handle file changes in mpav2
  frontend/app/src/App.tsx
  lib/streamlit/commands/pages.py
  lib/streamlit/runtime/app_session.py
  lib/streamlit/source_util.py
  lib/streamlit/watcher/local_sources_watcher.py
Due: prettier, typecheck, no-relative-imports

Add unit tests for Plotly helper methods
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.test.tsx
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

Fix minor things
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.test.tsx
Due: prettier, typecheck

Fix github actions
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.test.tsx
Due: prettier, typecheck

Fix another ts expect error
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.test.tsx
Due: prettier, typecheck

Refactor
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.test.tsx
Due: prettier, typecheck

Revert changes to st_markdown cypress tests
  e2e/scripts/st_markdown.py
  e2e/specs/st_markdown.spec.js
  frontend/cypress/snapshots/linux/2x/st_markdown.spec.js/markdown-visuals-20-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_markdown.spec.js/markdown-visuals-20.snap.png
  frontend/cypress/snapshots/linux/2x/st_markdown.spec.js/markdown-visuals-21-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_markdown.spec.js/markdown-visuals-21.snap.png
  frontend/cypress/snapshots/linux/2x/st_markdown.spec.js/markdown-visuals-22-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_markdown.spec.js/markdown-visuals-22.snap.png
  frontend/cypress/snapshots/linux/2x/st_markdown.spec.js/markdown-visuals-23-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_markdown.spec.js/markdown-visuals-23.snap.png
  frontend/cypress/snapshots/linux/2x/st_markdown.spec.js/markdown-visuals-24-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_markdown.spec.js/markdown-visuals-24.snap.png
Due: typecheck, no-relative-imports

Add st_markdown playwright tests for background colors
  e2e_playwright/st_markdown.py
  e2e_playwright/st_markdown_test.py
Due: no-relative-imports

Fix typo in video test comments: `audio` -> `video`
  e2e_playwright/st_video_test.py
Due: no-relative-imports

Add support for autoplaying `st.audio` and `st.video` media (#8481)
  e2e_playwright/st_audio.py
  e2e_playwright/st_audio_test.py
  e2e_playwright/st_video.py
  e2e_playwright/st_video_test.py
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/elements/Audio/Audio.test.tsx
  frontend/lib/src/components/elements/Audio/Audio.tsx
  frontend/lib/src/components/elements/Video/Video.test.tsx
  frontend/lib/src/components/elements/Video/Video.tsx
  lib/streamlit/elements/media.py
  lib/tests/streamlit/elements/audio_test.py
  lib/tests/streamlit/elements/help_test.py
  lib/tests/streamlit/elements/video_test.py
  proto/streamlit/proto/Audio.proto
  proto/streamlit/proto/Video.proto
Due: prettier, typecheck, no-relative-imports

Update st_markdown playwright test for bg color line wrapping case
  e2e_playwright/st_markdown.py
Due: no-relative-imports

Updating constraints. Github run id:8811511205
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Update snapshots
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-heading_and_markdown_combinations[chromium].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-heading_and_markdown_combinations[firefox].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-heading_and_markdown_combinations[webkit].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-long-markdown-header-above-table[chromium].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-long-markdown-header-above-table[firefox].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-long-markdown-header-above-table[webkit].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-num_elements_displayed[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-num_elements_displayed[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-num_elements_displayed[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-num_elements_displayed[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-num_elements_displayed[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-num_elements_displayed[light_theme-webkit].png
Due: none

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:8812127947
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Updating constraints. Github run id:8812632621
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

changes after review
  frontend/lib/src/components/shared/Icon/Material/styled-components.ts
  lib/streamlit/material_icon_names.py
  lib/streamlit/string_util.py
Due: prettier, typecheck, no-relative-imports

Add js unit tests for DynamicIcon
  frontend/lib/src/components/shared/Icon/DynamicIcon.test.tsx
  frontend/lib/src/components/shared/Icon/DynamicIcon.tsx
Due: prettier, typecheck

Add explanatory comment
  frontend/lib/src/components/shared/Icon/Material/MaterialFontIcon.tsx
Due: prettier, typecheck

make codeql happy
  frontend/lib/src/components/shared/Icon/DynamicIcon.test.tsx
Due: prettier, typecheck

better regexps
  frontend/app/src/assets/css/icon-fonts.scss
  frontend/lib/src/components/elements/Favicon/Favicon.tsx
  frontend/lib/src/components/shared/Icon/DynamicIcon.tsx
  lib/streamlit/string_util.py
Due: prettier, typecheck, no-relative-imports

fix styling color issues
  frontend/lib/src/components/elements/ChatMessage/ChatMessage.tsx
  frontend/lib/src/components/shared/Icon/Material/MaterialFontIcon.tsx
  frontend/lib/src/components/shared/Icon/Material/styled-components.ts
  lib/streamlit/string_util.py
Due: prettier, typecheck, no-relative-imports

Load material icon names lazily
  e2e_playwright/lazy_loaded_modules.py
  lib/streamlit/string_util.py
Due: no-relative-imports

changes after review
  frontend/lib/src/components/shared/Icon/Material/MaterialFontIcon.tsx
  frontend/lib/src/components/shared/Icon/Material/styled-components.ts
  lib/streamlit/elements/alert.py
  lib/streamlit/elements/toast.py
  lib/streamlit/string_util.py
Due: prettier, typecheck, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
