Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Add Initial URL Parameters to query params state (#7707)
  e2e_playwright/conftest.py
  e2e_playwright/st_query_params.py
  e2e_playwright/st_query_params_test.py
  lib/streamlit/runtime/scriptrunner/script_run_context.py
  lib/streamlit/runtime/state/query_params.py
  lib/tests/streamlit/runtime/state/query_params_test.py
Due: no-relative-imports

Fix merge conflict that I messed up
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/tests/streamlit/runtime/state/query_params_test.py
Due: no-relative-imports

Update lib/streamlit/elements/lib/column_types.py
  lib/streamlit/elements/lib/column_types.py
Due: no-relative-imports

remove extra space
  lib/streamlit/elements/lib/column_types.py
Due: no-relative-imports

Update e2e_playwright/st_dataframe_config.py
  e2e_playwright/st_dataframe_config.py
Due: no-relative-imports

Send Rerun message also for newly created pages
  lib/streamlit/runtime/app_session.py
  lib/streamlit/watcher/local_sources_watcher.py
Due: no-relative-imports

Ensure only one query param api usage (#7800)
  e2e_playwright/st_both_query_params_error.py
  e2e_playwright/st_both_query_params_error_test.py
  lib/streamlit/commands/experimental_query_params.py
  lib/streamlit/runtime/scriptrunner/script_run_context.py
  lib/streamlit/runtime/state/query_params.py
  lib/tests/streamlit/script_run_context_test.py
Due: no-relative-imports

Updating constraints. Github run id:7091649707
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.9.txt
Due: none

Start adding StreamlitApp
  frontend/lib/src/components/StreamlitApp/StreamlitApp.tsx
  frontend/lib/src/components/StreamlitApp/hooks/useStreamlitScriptRunState.ts
Due: prettier, typecheck

try adding updated screenshot
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_background_and_font[dark_theme-webkit].png
Due: none

Remove Reresizable
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
Due: prettier, typecheck

Revert "Remove Reresizable"
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
Due: prettier, typecheck

Try rounding the scrollAreaBounds
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
Due: prettier, typecheck

Revamp the `LinkColumn` with clickable links and support for display values (#7741)
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-link_column[chromium].png
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-link_column[firefox].png
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-link_column[webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[light_theme-webkit].png
  e2e_playwright/st_dataframe_config.py
  frontend/lib/src/components/widgets/DataFrame/columns/LinkColumn.test.ts
  frontend/lib/src/components/widgets/DataFrame/columns/LinkColumn.ts
  frontend/lib/src/components/widgets/DataFrame/columns/cells/LinkCell.test.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/LinkCell.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/UriOverlayEditor.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/uri-overlay-editor-style.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/index.ts
  frontend/lib/src/components/widgets/DataFrame/columns/utils.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useDataEditor.ts
  lib/streamlit/elements/lib/column_types.py
  lib/tests/streamlit/elements/lib/column_types_test.py
Due: prettier, typecheck, no-relative-imports

Revert snapshot
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_background_and_font[dark_theme-webkit].png
Due: none

Update e2e test
  e2e_playwright/st_dataframe_styler_support_test.py
Due: no-relative-imports

Fix codeql error
  frontend/lib/src/components/widgets/DataFrame/columns/LinkColumn.test.ts
Due: prettier, typecheck

Fix merge conflict I messed up
  lib/streamlit/runtime/state/query_params.py
Due: no-relative-imports

fix typing issues
  lib/streamlit/runtime/state/query_params.py
Due: no-relative-imports

Add additional example
  lib/streamlit/elements/lib/column_types.py
Due: no-relative-imports

Update snapshots
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_styler_support_test/st_dataframe-styler_link_display_value[light_theme-webkit].png
Due: none

Convert themecreatordialog
  frontend/app/src/components/StreamlitDialog/ThemeCreatorDialog.test.tsx
  frontend/app/src/components/StreamlitDialog/ThemeCreatorDialog.tsx
  frontend/app/src/components/StreamlitDialog/__snapshots__/ThemeCreatorDialog.test.tsx.snap
Due: prettier, typecheck

Accept Tuples and Sets, Don't accept dicts (#7802)
  lib/streamlit/runtime/state/query_params.py
  lib/streamlit/runtime/state/query_params_proxy.py
  lib/tests/streamlit/runtime/state/query_params_test.py
Due: no-relative-imports

Deprecate Experimental query commands (#7782)
  e2e/specs/st_experimental_get_query_params.spec.js
  lib/streamlit/__init__.py
Due: typecheck, no-relative-imports

Add metric tracking for query params (#7781)
  lib/streamlit/runtime/state/query_params_proxy.py
  lib/tests/streamlit/runtime/metrics_util_test.py
Due: no-relative-imports

Convert maybe
  frontend/lib/src/components/core/Maybe/Maybe.test.tsx
Due: prettier, typecheck

Fix lint
  frontend/app/src/components/StreamlitDialog/ThemeCreatorDialog.test.tsx
Due: prettier, typecheck

Convert webcamComponent
  frontend/lib/src/components/widgets/CameraInput/WebcamComponent.test.tsx
  frontend/lib/src/components/widgets/CameraInput/WebcamComponent.tsx
Due: prettier, typecheck

First pass - convert camera tests
  frontend/lib/src/components/widgets/CameraInput/CameraInput.test.tsx
Due: prettier, typecheck

Convert/remove remaining
  frontend/lib/src/components/widgets/CameraInput/CameraInput.test.tsx
  frontend/lib/src/components/widgets/CameraInput/CameraInput.tsx
  frontend/lib/src/components/widgets/CameraInput/SwitchFacingModeButton.tsx
  frontend/lib/src/components/widgets/CameraInput/WebcamComponent.test.tsx
  frontend/lib/src/components/widgets/CameraInput/WebcamComponent.tsx
Due: prettier, typecheck

First pass test conversion
  frontend/app/src/hocs/withScreencast/withScreencast.test.tsx
  frontend/app/src/hocs/withScreencast/withScreencast.tsx
Due: prettier, typecheck

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:7097081665
  constraints-3.12.txt
Due: none

small improvements
  lib/streamlit/watcher/local_sources_watcher.py
Due: no-relative-imports

remove unused import make mypy happy
  lib/streamlit/runtime/app_session.py
  lib/streamlit/watcher/local_sources_watcher.py
Due: no-relative-imports

Add tests
  lib/tests/streamlit/watcher/local_sources_watcher_test.py
Due: no-relative-imports

Extend e2e tests
  e2e_playwright/st_data_editor_config.py
  e2e_playwright/st_dataframe_config.py
  frontend/lib/src/components/widgets/DataFrame/columns/LinkColumn.ts
Due: prettier, typecheck, no-relative-imports

Remove link colum snapshots
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-link_column[chromium].png
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-link_column[firefox].png
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-link_column[webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-link_column[light_theme-webkit].png
Due: none
