Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Remove screenshots
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[light_theme-webkit].png
Due: none

Update tests
  e2e_playwright/st_popover_test.py
Due: no-relative-imports

Add snapshots
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[light_theme-webkit].png
Due: none

Docstrings for chat improvements (#8044)
  lib/streamlit/elements/widgets/chat.py
  lib/streamlit/elements/write.py
Due: no-relative-imports

Migrate file_uploader works inside form test to playwright (#8051)
  e2e_playwright/st_file_uploader_test.py
Due: no-relative-imports

Update usage of react-syntax-highlighter to lazy load lang assets
  frontend/src/components/elements/CodeBlock/CodeBlock.tsx
Due: prettier, typecheck, eslint

Update usage of react-syntax-highlighter to lazy load lang assets
  frontend/lib/src/components/elements/CodeBlock/StreamlitSyntaxHighlighter.tsx
Due: prettier, typecheck

Remove unused logger in hello (#8048)
  lib/streamlit/hello/Hello.py
Due: no-relative-imports

Update to 6.0.2
  frontend/lib/package.json
  frontend/yarn.lock
Due: none

Update snapshots
  e2e_playwright/__snapshots__/linux/host_config_test/host_config-dataframe_disabled_fullscreen_mode[chromium].png
  e2e_playwright/__snapshots__/linux/host_config_test/host_config-dataframe_disabled_fullscreen_mode[firefox].png
  e2e_playwright/__snapshots__/linux/host_config_test/host_config-dataframe_disabled_fullscreen_mode[webkit].png
Due: none

Revert floor
  frontend/lib/src/components/core/Block/Block.tsx
Due: prettier, typecheck

Attempt Cypress fixes
  e2e/specs/st_file_uploader.spec.js
  e2e/specs/st_select_slider.spec.js
  e2e/specs/st_toast.spec.js
Due: typecheck

Up version to 1.31.0
  frontend/app/package.json
  frontend/lib/package.json
  frontend/package.json
  lib/setup.py
Due: no-relative-imports

Fix custom dataframe scrollbars in Chrome (#8034)
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
  frontend/lib/src/components/widgets/DataFrame/styled-components.ts
Due: prettier, typecheck

Toast fix
  e2e/specs/st_toast.spec.js
Due: typecheck

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:7737236496
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Label markdown e2e fixes
  e2e_playwright/label_markdown_test.py
Due: no-relative-imports

Add support for PIL images in st.write (#8039)
  e2e_playwright/st_write.py
  e2e_playwright/st_write_test.py
  lib/streamlit/elements/write.py
  lib/tests/streamlit/write_test.py
Due: no-relative-imports

Remove columns snapshots
  frontend/cypress/snapshots/linux/2x/st_columns.spec.js/columns-large-gap-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_columns.spec.js/columns-large-gap.snap.png
  frontend/cypress/snapshots/linux/2x/st_columns.spec.js/columns-medium-gap-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_columns.spec.js/columns-medium-gap.snap.png
  frontend/cypress/snapshots/linux/2x/st_columns.spec.js/columns-small-gap-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_columns.spec.js/columns-small-gap.snap.png
Due: none

Add snapshots
  frontend/cypress/snapshots/linux/2x/st_columns.spec.js/columns-large-gap-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_columns.spec.js/columns-large-gap.snap.png
  frontend/cypress/snapshots/linux/2x/st_columns.spec.js/columns-medium-gap-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_columns.spec.js/columns-medium-gap.snap.png
  frontend/cypress/snapshots/linux/2x/st_columns.spec.js/columns-small-gap-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_columns.spec.js/columns-small-gap.snap.png
Due: none

Fix tests
  frontend/lib/src/components/widgets/DataFrame/columns/LinkColumn.test.ts
  frontend/lib/src/components/widgets/DataFrame/columns/LinkColumn.ts
Due: prettier, typecheck

Add help parameter for popover
  e2e/specs/st_tooltips.spec.js
  e2e_playwright/st_popover.py
  frontend/app/src/components/StatusWidget/StatusWidget.test.tsx
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/elements/Markdown/Markdown.test.tsx
  frontend/lib/src/components/elements/Popover/Popover.tsx
  frontend/lib/src/components/elements/TextElement/TextElement.test.tsx
  frontend/lib/src/components/shared/Dropdown/VirtualDropdown.test.tsx
  frontend/lib/src/components/shared/Tooltip/OverflowTooltip.test.tsx
  frontend/lib/src/components/shared/Tooltip/Tooltip.tsx
  frontend/lib/src/components/shared/Tooltip/__snapshots__/OverflowTooltip.test.tsx.snap
  frontend/lib/src/components/shared/TooltipIcon/TooltipIcon.tsx
  frontend/lib/src/components/shared/TooltipIcon/styled-components.ts
  lib/streamlit/elements/layouts.py
  proto/streamlit/proto/Block.proto
Due: prettier, typecheck, no-relative-imports

Fix time input menu colors in dark mode
  e2e_playwright/st_time_input_test.py
  frontend/lib/src/theme/createThemeUtil.ts
Due: prettier, typecheck, no-relative-imports

Update time input screenshot
  e2e_playwright/__snapshots__/linux/st_time_input_test/st_time_input-menu_colors[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_time_input_test/st_time_input-menu_colors[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_time_input_test/st_time_input-menu_colors[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_time_input_test/st_time_input-menu_colors[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_time_input_test/st_time_input-menu_colors[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_time_input_test/st_time_input-menu_colors[light_theme-webkit].png
Due: none

Improve file uploader test id namings
  e2e/specs/st_file_uploader.spec.js
  e2e/specs/websocket_reconnects.spec.js
  e2e_playwright/st_file_uploader_test.py
  frontend/lib/src/components/widgets/FileUploader/FileDropzone.test.tsx
  frontend/lib/src/components/widgets/FileUploader/FileDropzone.tsx
  frontend/lib/src/components/widgets/FileUploader/FileDropzoneInstructions.test.tsx
  frontend/lib/src/components/widgets/FileUploader/FileDropzoneInstructions.tsx
  frontend/lib/src/components/widgets/FileUploader/FileUploader.test.tsx
  frontend/lib/src/components/widgets/FileUploader/UploadedFile.test.tsx
  frontend/lib/src/components/widgets/FileUploader/UploadedFile.tsx
Due: prettier, typecheck, no-relative-imports

Fix data test id
  e2e/specs/websocket_reconnects.spec.js
Due: typecheck

Fix `time_input` menu colors in dark mode (#8056)
  e2e_playwright/__snapshots__/linux/st_time_input_test/st_time_input-menu_colors[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_time_input_test/st_time_input-menu_colors[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_time_input_test/st_time_input-menu_colors[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_time_input_test/st_time_input-menu_colors[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_time_input_test/st_time_input-menu_colors[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_time_input_test/st_time_input-menu_colors[light_theme-webkit].png
  e2e_playwright/st_time_input_test.py
  frontend/lib/src/theme/createThemeUtil.ts
Due: prettier, typecheck, no-relative-imports

Add short timeout before doing snapshot tests
  e2e_playwright/conftest.py
Due: no-relative-imports

Initial subtitles changes
  frontend/lib/src/components/elements/Video/Video.tsx
  lib/streamlit/elements/media.py
  lib/streamlit/runtime/memory_media_file_storage.py
  lib/streamlit/web/server/media_file_handler.py
  proto/streamlit/proto/Video.proto
Due: prettier, typecheck, no-relative-imports

Updating constraints. Github run id:7745310556
  constraints-3.12.txt
  constraints-3.8.txt
Due: none

Release 1.31.0 (#8055)
  frontend/app/package.json
  frontend/lib/package.json
  frontend/package.json
  lib/setup.py
Due: no-relative-imports

Start form e2e migration
  e2e_playwright/st_form.py
  e2e_playwright/st_form_test.py
Due: no-relative-imports

Updating constraints. Github run id:7745817683
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Refactor date input test
  e2e_playwright/st_date_input_test.py
Due: no-relative-imports

Remove form e2e tests
  e2e/scripts/st_form.py
  e2e/specs/st_form.spec.js
Due: typecheck, no-relative-imports

Migrate more tests
  e2e/scripts/st_form_use_container_width_submit_button.py
  e2e/specs/st_form_column_association.spec.js
  e2e/specs/st_form_use_container_width_submit_button.spec.js
  e2e_playwright/st_form.py
  e2e_playwright/st_form_test.py
  frontend/cypress/snapshots/linux/2x/st_form_use_container_width_submit_button.spec.js/form-submit-button-container-and-help-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_form_use_container_width_submit_button.spec.js/form-submit-button-container-and-help.snap.png
  frontend/cypress/snapshots/linux/2x/st_form_use_container_width_submit_button.spec.js/use-container-width-submit-form-button-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_form_use_container_width_submit_button.spec.js/use-container-width-submit-form-button.snap.png
Due: typecheck, no-relative-imports

Migrate another form test
  e2e/scripts/form_multiple_buttons.py
  e2e/specs/form_multiple_buttons.spec.js
  e2e_playwright/st_form.py
  e2e_playwright/st_form_test.py
Due: typecheck, no-relative-imports

Add snapshot
  e2e/specs/st_form_column_association.spec.js
  e2e_playwright/__snapshots__/linux/st_form_test/st_form-borderless[chromium].png
  e2e_playwright/__snapshots__/linux/st_form_test/st_form-borderless[firefox].png
  e2e_playwright/__snapshots__/linux/st_form_test/st_form-borderless[webkit].png
  e2e_playwright/__snapshots__/linux/st_form_test/st_form-with_stretched_submit_button[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_form_test/st_form-with_stretched_submit_button[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_form_test/st_form-with_stretched_submit_button[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_form_test/st_form-with_stretched_submit_button[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_form_test/st_form-with_stretched_submit_button[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_form_test/st_form-with_stretched_submit_button[light_theme-webkit].png
Due: typecheck
