Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-single_date_calendar[dark_theme-chromium].png
Due: none

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/st_plotly_chart_select_test/st_plotly_chart-unmounted_still_has_selection[webkit].png
  e2e_playwright/__snapshots__/linux/st_sidebar_test/st_sidebar-date_popover[dark_theme-chromium].png
Due: none

Address AI review feedback for StreamlitValueError consolidation.
  lib/streamlit/elements/heading.py
  lib/streamlit/elements/lib/built_in_chart_utils.py
  lib/streamlit/elements/lib/options_selector_utils.py
  lib/streamlit/errors.py
  lib/tests/streamlit/runtime/state/widgets_test.py
Due: no-relative-imports

Address review: make index=None AppTest cases non-vacuous (#10093)
  lib/tests/streamlit/elements/radio_test.py
  lib/tests/streamlit/elements/selectbox_test.py
Due: no-relative-imports

Update shared-helper tests for stale-None reset contract (#10093)
  lib/tests/streamlit/elements/lib/options_selector_utils_test.py
Due: no-relative-imports

[fix] reset selectbox/radio to default when options change from empty (#10093)
  lib/streamlit/elements/lib/options_selector_utils.py
  lib/streamlit/elements/widgets/radio.py
  lib/streamlit/elements/widgets/selectbox.py
  lib/tests/streamlit/elements/radio_test.py
  lib/tests/streamlit/elements/selectbox_test.py
Due: no-relative-imports

Scope stale-None reset to selectbox and radio only (#10093)
  lib/streamlit/elements/lib/options_selector_utils.py
  lib/streamlit/elements/widgets/radio.py
  lib/tests/streamlit/elements/lib/options_selector_utils_test.py
Due: no-relative-imports

Fix P1: honor explicit session_state None instead of resetting to default (#10093)
  lib/streamlit/elements/lib/options_selector_utils.py
  lib/tests/streamlit/elements/radio_test.py
  lib/tests/streamlit/elements/selectbox_test.py
Due: no-relative-imports

Restore pre-existing None-retention test, exposing the contract conflict (#10093)
  lib/tests/streamlit/elements/selectbox_test.py
Due: no-relative-imports

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/st_plotly_chart_select_test/st_plotly_chart-unmounted_still_has_selection[webkit].png
Due: none

fix(pills): drop disabled defaults/selections; tighten types and tests
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.test.tsx
  lib/streamlit/elements/widgets/button_group.py
  lib/tests/streamlit/elements/button_group_test.py
Due: prettier, typecheck, no-relative-imports

fix(pills): sync session state when clearing disabled selections
  lib/streamlit/elements/widgets/button_group.py
Due: no-relative-imports

fix(pills): treat bool disabled lists as values when options are bool
  lib/streamlit/elements/widgets/button_group.py
  lib/tests/streamlit/elements/button_group_test.py
Due: no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/pyproject.toml
  lib/streamlit/version.py
  pyproject.toml
  uv.lock
Due: no-relative-imports

fix(pills): disable all duplicate options matched by value
  lib/streamlit/elements/widgets/button_group.py
  lib/tests/streamlit/elements/button_group_test.py
Due: no-relative-imports

fix(pills): only clear selection when all value matches are disabled
  lib/streamlit/elements/widgets/button_group.py
  lib/tests/streamlit/elements/button_group_test.py
Due: no-relative-imports

docs(pills): document intentional bool-mask rule for numeric options
  lib/streamlit/elements/widgets/button_group.py
  lib/tests/streamlit/elements/button_group_test.py
Due: no-relative-imports

Add behavioral and product principles to specs
  .cursor/rules/specs.mdc
  .github/instructions/specs.instructions.md
  specs/AGENTS.md
Due: none

Refine specs guide per AI review
  .cursor/rules/specs.mdc
  .github/instructions/specs.instructions.md
  specs/AGENTS.md
Due: none

Refine specs guide wording per AI review
  .cursor/rules/specs.mdc
  .github/instructions/specs.instructions.md
  specs/AGENTS.md
Due: none

Handle Matplotlib's remaining non-raster savefig formats
  lib/streamlit/elements/pyplot.py
  lib/tests/streamlit/elements/pyplot_test.py
Due: no-relative-imports

Pin svgz detection via rcParams and tighten the sniff docstring
  lib/streamlit/elements/pyplot.py
  lib/tests/streamlit/elements/pyplot_test.py
Due: no-relative-imports

Clarify the SVG-vs-vector branch and the corrupt-gzip fallthrough
  lib/streamlit/elements/pyplot.py
Due: no-relative-imports

fix: preserve explicit `session_state[k] = None` across reruns (#10093)
  lib/streamlit/elements/lib/options_selector_utils.py
  lib/streamlit/elements/widgets/radio.py
  lib/streamlit/elements/widgets/selectbox.py
  lib/streamlit/runtime/state/safe_session_state.py
  lib/streamlit/runtime/state/session_state.py
  lib/tests/streamlit/elements/radio_test.py
  lib/tests/streamlit/elements/selectbox_test.py
  lib/tests/streamlit/runtime/state/session_state_test.py
Due: no-relative-imports

[chore] Update Python lock
  uv.lock
Due: none

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-22[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-22[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-22[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-9[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-9[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-9[webkit].png
Due: none

Include uv upgrade log in lock PRs
  .github/workflows/update-python-lock.yml
Due: none

Harden multiline GITHUB_OUTPUT delimiter for upgrade log.
  .github/workflows/update-python-lock.yml
Due: none

Filter uv upgrade log to Update/Add/Remove lines.
  .github/workflows/update-python-lock.yml
Due: none

Apply automatic fixes
  frontend/yarn.lock
Due: none

Apply automatic fixes
  frontend/lib/src/components/elements/ImageList/ImageList.tsx
Due: prettier, typecheck

Apply automatic fixes
  NOTICES
Due: none

Fix ty 0.0.69 Altair Self false positives.
  lib/streamlit/elements/lib/built_in_chart_utils.py
  pyproject.toml
Due: no-relative-imports

[chore] Speed up cherry-pick workflow checkout (#16345)
  .github/workflows/cherry-pick-to-release-branch.yml
Due: none

[chore] Add typing test for st.dialog (#16289)
  lib/tests/streamlit/typing/dialog_types.py
Due: no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
