Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Clean out other changes
  lib/streamlit/dataframe_util.py
  lib/streamlit/elements/write.py
  lib/streamlit/type_util.py
  lib/test-requirements.txt
  lib/tests/streamlit/dask_mocks.py
  lib/tests/streamlit/data_mocks.py
  lib/tests/streamlit/type_util_test.py
Due: no-relative-imports

More cleanup
  lib/tests/streamlit/snowpandas_mocks.py
Due: no-relative-imports

More cleanup
  lib/streamlit/dataframe_util.py
Due: no-relative-imports

More cleanup
  lib/streamlit/type_util.py
Due: no-relative-imports

Add back line
  lib/test-requirements.txt
Due: none

More cleanups
  lib/streamlit/dataframe_util.py
  lib/tests/streamlit/dataframe_util_test.py
Due: no-relative-imports

More cleanups
  .github/workflows/python-tests.yml
  Makefile
  lib/setup.py
Due: no-relative-imports

More cleanup
  lib/tests/streamlit/dataframe_util_test.py
Due: no-relative-imports

More cleanups
  lib/tests/conftest.py
Due: no-relative-imports

Remove pydantic support
  lib/streamlit/elements/json.py
Due: no-relative-imports

Remove type ignore
  lib/streamlit/elements/json.py
Due: no-relative-imports

Change name
  lib/tests/streamlit/data_mocks.py
Due: no-relative-imports

Fix empty anchor scrolling
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
Due: prettier, typecheck

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:10226024536
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Updating constraints. Github run id:10234166396
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Updating constraints. Github run id:10243861924
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Fix ghost tabs issue in fragments (#9186)
  e2e_playwright/st_fragment_dynamic_containers.py
  e2e_playwright/st_fragment_dynamic_containers_test.py
  frontend/lib/src/AppNode.test.ts
  frontend/lib/src/AppNode.ts
Due: prettier, typecheck, no-relative-imports

Implement quick prototype
  e2e_playwright/st_number_input.py
  lib/streamlit/elements/widgets/number_input.py
  lib/streamlit/error_util.py
  lib/streamlit/errors.py
  lib/streamlit/runtime/runtime.py
Due: no-relative-imports

Cleanup
  e2e_playwright/st_number_input.py
Due: no-relative-imports

send files to server
  frontend/lib/src/WidgetStateManager.ts
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
  lib/streamlit/elements/widgets/chat.py
Due: prettier, typecheck, no-relative-imports

remove useRef, rely only on useState
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
Due: prettier, typecheck

Add test
  e2e_playwright/st_heading.py
  e2e_playwright/st_heading_test.py
Due: no-relative-imports

Apply review feedback
  lib/streamlit/dataframe_util.py
  lib/streamlit/elements/write.py
  lib/streamlit/type_util.py
Due: no-relative-imports

Add test for custom dict check
  lib/tests/streamlit/type_util_test.py
Due: no-relative-imports

Updating constraints. Github run id:10252932659
  constraints-3.12.txt
  constraints-3.8.txt
Due: none

Fix formatting
  e2e_playwright/st_heading_test.py
Due: no-relative-imports

Fix typo
  e2e_playwright/shared/app_utils.py
Due: no-relative-imports

Fix empty anchor scrolling (#9206)
  e2e_playwright/st_heading.py
  e2e_playwright/st_heading_test.py
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
Due: prettier, typecheck, no-relative-imports

Click test button more often to reduce chance of flakiness
  e2e_playwright/st_rerun.py
  e2e_playwright/st_rerun_test.py
Due: no-relative-imports

Only clear up fragment-related widgets
  e2e_playwright/st_rerun_test.py
  frontend/lib/src/AppNode.ts
Due: prettier, typecheck, no-relative-imports

Only clear up fragment-related stale widgets (#9215)
  e2e_playwright/st_rerun.py
  e2e_playwright/st_rerun_test.py
  frontend/lib/src/AppNode.ts
Due: prettier, typecheck, no-relative-imports

Add back logs
  frontend/lib/src/dataframes/Quiver.ts
Due: prettier, typecheck

Release/1.37.1 (#9200)
  frontend/app/package.json
  frontend/lib/package.json
  frontend/package.json
  lib/setup.py
Due: no-relative-imports

Updating constraints. Github run id:10257990629
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Updating constraints. Github run id:10261527109
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none
