Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Update test
  frontend/lib/src/components/shared/AlertContainer/AlertContainer.test.tsx
Due: prettier, typecheck

Address recommendations
  frontend/lib/src/components/shared/AlertContainer/AlertContainer.test.tsx
  frontend/lib/src/components/shared/AlertContainer/AlertContainer.tsx
  frontend/lib/src/components/shared/AlertContainer/styled-components.ts
Due: prettier, typecheck

Use Set-based lookup with early exit for row selection remap
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
Due: prettier, typecheck

Update version and project name in files
  frontend/package.json
  lib/pyproject.toml
  lib/streamlit/version.py
  pyproject.toml
Due: no-relative-imports

[perf] Add debouncing to Metric chart resize to reduce Vega recreations
  frontend/lib/src/components/elements/Metric/Metric.tsx
  frontend/lib/src/hooks/useCalculatedDimensions.test.ts
  frontend/lib/src/hooks/useCalculatedDimensions.ts
  frontend/lib/src/hooks/useResizeObserver.test.tsx
  frontend/lib/src/hooks/useResizeObserver.ts
Due: prettier, typecheck

Fix #9098: Infer SVG dimensions from viewBox when width/height missing
  lib/streamlit/elements/lib/image_utils.py
Due: no-relative-imports

Switch from debounce to throttle for better UX during resize
  frontend/lib/src/hooks/useCalculatedDimensions.test.ts
  frontend/lib/src/hooks/useCalculatedDimensions.ts
  frontend/lib/src/hooks/useResizeObserver.test.tsx
  frontend/lib/src/hooks/useResizeObserver.ts
Due: prettier, typecheck

Migrate to eslint-plugin-import-x for ESLint 10
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/yarn.lock
Due: prettier

Simplify throttle delay fallback
  frontend/lib/src/hooks/useResizeObserver.ts
Due: prettier, typecheck

fix: address PR review comments - add comment explaining throttle fallback and improve tests
  frontend/lib/src/hooks/useResizeObserver.test.tsx
  frontend/lib/src/hooks/useResizeObserver.ts
Due: prettier, typecheck

Update eslint-disable directives to import-x namespace
  frontend/app/performance/lighthouse/LighthouseOrchestrator.mjs
  frontend/app/performance/lighthouse/constants.mjs
Due: prettier

fix: address additional AI review comments - eslint warning, Math.max, named constant
  frontend/lib/src/components/elements/Metric/Metric.tsx
  frontend/lib/src/hooks/useResizeObserver.test.tsx
  frontend/lib/src/hooks/useResizeObserver.ts
Due: prettier, typecheck

fix: cancel pending animation frame before scheduling new one
  frontend/lib/src/hooks/useResizeObserver.ts
Due: prettier, typecheck

Set default throttleMs to 100ms for useCalculatedDimensions
  frontend/lib/src/components/elements/Metric/Metric.tsx
  frontend/lib/src/hooks/useCalculatedDimensions.test.ts
  frontend/lib/src/hooks/useCalculatedDimensions.ts
Due: prettier, typecheck

Use Streamlit blue for default map marker color
  lib/streamlit/elements/map.py
Due: no-relative-imports

fix: address AI review comments - improve comment wording and add behavioral tests
  frontend/lib/src/hooks/useResizeObserver.test.tsx
  frontend/lib/src/hooks/useResizeObserver.ts
Due: prettier, typecheck

chore(frontend): fix build warnings and optimize dev builds
  frontend/app/package.json
  frontend/app/vite.config.ts
  frontend/component-lib/package.json
  frontend/component-lib/vite.config.ts
  frontend/component-v2-lib/package.json
  frontend/component-v2-lib/vite.config.ts
  frontend/connection/package.json
  frontend/connection/vite.config.ts
  frontend/eslint.config.mjs
  frontend/lib/package.json
  frontend/lib/vite.config.ts
  frontend/utils/package.json
  frontend/utils/vite.config.ts
  frontend/yarn.lock
Due: prettier, typecheck

Move Arrow data models from render-tree to components
  .claude/skills/understanding-streamlit-architecture/references/frontend.md
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/elements/ArrowVegaLiteChart/ArrowVegaLiteChart.test.tsx
  frontend/lib/src/components/elements/ArrowVegaLiteChart/ArrowVegaLiteChart.tsx
  frontend/lib/src/components/elements/Table/Table.test.tsx
  frontend/lib/src/components/elements/Table/Table.tsx
  frontend/lib/src/components/widgets/DataFrame/DataFrame.test.tsx
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
  frontend/lib/src/render-tree/AppRoot.ts
  frontend/lib/src/render-tree/ElementNode.test.ts
  frontend/lib/src/render-tree/ElementNode.ts
  frontend/lib/src/render-tree/test-utils.ts
Due: prettier, typecheck

chore(frontend): add missing buildWatch script to lib package
  frontend/lib/package.json
Due: none

Add null guards for arrowData in Table and DataFrame components
  frontend/lib/src/components/elements/ArrowVegaLiteChart/ArrowVegaLiteChart.tsx
  frontend/lib/src/components/elements/Table/Table.tsx
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
Due: prettier, typecheck

[fix] pyplot: route SVG savefig output through string-SVG branch (#11489)
  lib/streamlit/elements/pyplot.py
  lib/tests/streamlit/elements/pyplot_test.py
Due: no-relative-imports

chore(frontend): skip compressed size reporting in builds
  frontend/app/vite.config.ts
  frontend/component-lib/vite.config.ts
  frontend/component-v2-lib/vite.config.ts
  frontend/connection/vite.config.ts
  frontend/lib/vite.config.ts
  frontend/utils/vite.config.ts
Due: prettier, typecheck

[fix] Reorder compare_chart export in Streamlit API
  lib/streamlit/__init__.py
Due: no-relative-imports

[feat] Add overlay mode to st.compare_chart and improve its validation
  lib/streamlit/elements/vega_charts.py
Due: no-relative-imports

[feat] Implement compare_chart tests for overlay mode
  lib/tests/streamlit/elements/vega_charts_test.py
Due: no-relative-imports

chore: add comment clarifying DEV_WATCH is workspace-only
  frontend/lib/vite.config.ts
Due: prettier, typecheck

[feat] Add difference mode to st.compare_chart and tests
  lib/streamlit/elements/vega_charts.py
  lib/tests/streamlit/elements/vega_charts_test.py
Due: no-relative-imports

proto: add camera_width and camera_height fields for size parameter
  proto/streamlit/proto/CameraInput.proto
Due: none

feat: add size parameter to st.camera_input for consistent resolution
  lib/streamlit/elements/widgets/camera_input.py
Due: no-relative-imports

feat: pass camera resolution constraints to getUserMedia
  frontend/lib/src/components/widgets/CameraInput/WebcamComponent.tsx
Due: prettier, typecheck

feat: pass camera_width/camera_height from proto to WebcamComponent
  frontend/lib/src/components/widgets/CameraInput/CameraInput.tsx
Due: prettier, typecheck

test: add tests for st.camera_input size parameter
  lib/tests/streamlit/elements/camera_input_test.py
Due: no-relative-imports

test: add typing tests for st.camera_input size parameter
  lib/tests/streamlit/typing/camera_input_types.py
Due: no-relative-imports

fix: destructure cameraWidth/cameraHeight props and use ideal constraint
  frontend/lib/src/components/widgets/CameraInput/WebcamComponent.tsx
Due: prettier, typecheck

fix: add validation for non-positive size values in camera_input
  lib/streamlit/elements/widgets/camera_input.py
Due: no-relative-imports

fix: add StreamlitAPIException import for size validation
  lib/streamlit/elements/widgets/camera_input.py
Due: no-relative-imports

[chore] Update sharing-pr-agent-artifacts skill with wiki guidelines
  .claude/skills/sharing-pr-agent-artifacts/SKILL.md
Due: none

fix: address PR review comments for references workflow
  .claude/skills/sharing-pr-agent-artifacts/SKILL.md
Due: none
