Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Allow pillow 10.0.1
  lib/setup.py
Due: no-relative-imports

attempt fix e2e playwright test
  e2e_playwright/st_bokeh_chart_test.py
Due: no-relative-imports

Fix comment
  e2e_playwright/st_bokeh_chart_test.py
Due: no-relative-imports

attempt to fix e2e playwright
  e2e_playwright/st_bokeh_chart_test.py
Due: no-relative-imports

Add the new line back to package.json
  frontend/lib/package.json
Due: none

Restore existing api stuff to `develop` status
  lib/streamlit/testing/element_tree.py
  lib/streamlit/testing/local_script_runner.py
  lib/streamlit/testing/test_runner.py
  lib/streamlit/testing/util.py
Due: no-relative-imports

New api stuff lives in `v1`
  lib/streamlit/testing/v1/__init__.py
  lib/streamlit/testing/v1/app_test.py
  lib/streamlit/testing/v1/element_tree.py
  lib/streamlit/testing/v1/local_script_runner.py
  lib/streamlit/testing/v1/util.py
Due: no-relative-imports

Port previous test runner tests
  lib/tests/streamlit/testing/test_runner_test.py
Due: no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:6335381108
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Apply various cleanups
  lib/streamlit/components/v1/component_arrow.py
  lib/streamlit/delta_generator.py
  lib/streamlit/elements/arrow.py
  lib/streamlit/elements/arrow_altair.py
  lib/streamlit/elements/arrow_vega_lite.py
  lib/streamlit/elements/map.py
  lib/streamlit/elements/widgets/data_editor.py
  lib/streamlit/type_util.py
  lib/streamlit/util.py
  lib/tests/streamlit/dataframe_coercion_test.py
  lib/tests/streamlit/type_util_test.py
Due: no-relative-imports

Remove legacy prototypes from delta generator
  lib/streamlit/delta_generator.py
Due: no-relative-imports

Mini fix
  lib/streamlit/delta_generator.py
Due: no-relative-imports

Remove migrated arrow tests
  e2e/scripts/st_arrow_dataframe_dimensions.py
  e2e/scripts/st_arrow_dataframe_styler_support.py
  e2e/specs/st_arrow_dataframe_dimensions.spec.js
  e2e/specs/st_arrow_dataframe_styler_support.spec.js
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_styler_support.spec.js/dataframe-pd-styler-0-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_styler_support.spec.js/dataframe-pd-styler-0.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_styler_support.spec.js/dataframe-pd-styler-1-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_styler_support.spec.js/dataframe-pd-styler-1.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_styler_support.spec.js/dataframe-pd-styler-2-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_styler_support.spec.js/dataframe-pd-styler-2.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_styler_support.spec.js/dataframe-pd-styler-3-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_dataframe_styler_support.spec.js/dataframe-pd-styler-3.snap.png
Due: typecheck, no-relative-imports

Fix namings
  lib/tests/streamlit/elements/arrow_altair_test.py
  lib/tests/streamlit/elements/arrow_dataframe_test.py
Due: no-relative-imports

Remove outdated prefix
  e2e/specs/st_arrow_altair_chart.spec.js
  e2e/specs/st_arrow_area_chart.spec.js
  e2e/specs/st_arrow_bar_chart.spec.js
  e2e/specs/st_arrow_chart_utc_time.spec.js
  e2e/specs/st_arrow_empty_tables.spec.js
Due: typecheck

Fix namings
  lib/tests/streamlit/elements/arrow_altair_test.py
  lib/tests/streamlit/elements/arrow_vega_lite_test.py
Due: no-relative-imports

Update expiration date
  lib/streamlit/config.py
Due: no-relative-imports

not rerun on download button click
  frontend/lib/src/components/widgets/DownloadButton/DownloadButton.tsx
Due: prettier, typecheck

Allow pillow 10.0.1 (#7442)
  lib/setup.py
Due: no-relative-imports

Fix nit
  frontend/lib/src/components/elements/GraphVizChart/GraphVizChart.test.tsx
Due: prettier, typecheck

Updating constraints. Github run id:6342974553
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.9.txt
Due: none

Expand regex across languages
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
Due: prettier, typecheck

Access methods for all elements
  lib/streamlit/testing/v1/app_test.py
  lib/tests/streamlit/elements/date_input_test.py
  lib/tests/streamlit/elements/number_input_test.py
  lib/tests/streamlit/elements/radio_test.py
  lib/tests/streamlit/elements/selectbox_test.py
  lib/tests/streamlit/elements/slider_test.py
  lib/tests/streamlit/elements/text_area_test.py
  lib/tests/streamlit/elements/text_input_test.py
  lib/tests/streamlit/elements/time_input_test.py
  lib/tests/streamlit/testing/element_tree_test.py
Due: no-relative-imports

Migrate GraphViz to RTL (#7423)
  frontend/lib/src/components/elements/GraphVizChart/GraphVizChart.test.tsx
  frontend/lib/src/components/elements/GraphVizChart/GraphVizChart.tsx
  frontend/lib/src/components/elements/GraphVizChart/__snapshots__/GraphVizChart.test.tsx.snap
Due: prettier, typecheck

Add id to make sure plotly chart actually refreshes
  lib/streamlit/elements/plotly_chart.py
  proto/streamlit/proto/PlotlyChart.proto
Due: no-relative-imports

Remove rejected api idea implementations
  lib/streamlit/testing/v1/element_tree.py
  lib/tests/streamlit/testing/test_runner_test.py
Due: no-relative-imports

Fix potential edge case with empty session state
  lib/streamlit/testing/v1/element_tree.py
Due: no-relative-imports

Adding bokeh 3.2.2 working
  frontend/app/public/index.html
  frontend/lib/src/components/elements/BokehChart/BokehChart.tsx
  frontend/lib/src/vendor/bokeh/bokeh-api-2.4.3.esm.min.js
  frontend/lib/src/vendor/bokeh/bokeh-api.esm.min.d.ts
  frontend/lib/src/vendor/bokeh/bokeh-api.esm.min.js
  frontend/lib/src/vendor/bokeh/bokeh-gl-2.4.3.esm.min.js
  frontend/lib/src/vendor/bokeh/bokeh-gl.esm.min.d.ts
  frontend/lib/src/vendor/bokeh/bokeh-gl.esm.min.js
  frontend/lib/src/vendor/bokeh/bokeh-mathjax-2.4.3.esm.min.js
  frontend/lib/src/vendor/bokeh/bokeh-mathjax.esm.min.d.ts
  frontend/lib/src/vendor/bokeh/bokeh-mathjax.esm.min.js
  frontend/lib/src/vendor/bokeh/bokeh-tables-2.4.3.esm.min.js
  frontend/lib/src/vendor/bokeh/bokeh-tables.esm.min.d.ts
  frontend/lib/src/vendor/bokeh/bokeh-tables.esm.min.js
  frontend/lib/src/vendor/bokeh/bokeh-widgets-2.4.3.esm.min.js
  frontend/lib/src/vendor/bokeh/bokeh-widgets.esm.min.d.ts
  frontend/lib/src/vendor/bokeh/bokeh-widgets.esm.min.js
  frontend/lib/src/vendor/bokeh/bokeh.esm.js
  frontend/lib/src/vendor/bokeh/jquery-3.6.0
  lib/streamlit/elements/bokeh_chart.py
Due: prettier, typecheck, no-relative-imports

Minor cleanup
  lib/streamlit/elements/plotly_chart.py
Due: no-relative-imports

Up version to 1.27.1
  frontend/app/package.json
  frontend/lib/package.json
  frontend/package.json
  lib/setup.py
Due: no-relative-imports

[Fix]: Python Dependency Resolutions (#7414)
  lib/min-constraints-gen.txt
  lib/setup.py
  lib/test-requirements.txt
  lib/tests/streamlit/external/langchain/streamlit_callback_handler_test.py
Due: no-relative-imports

Remove the experimental prefix from `st.experimental_connection` (#7368)
  lib/streamlit/__init__.py
  lib/streamlit/connections/__init__.py
  lib/streamlit/connections/base_connection.py
  lib/streamlit/connections/snowpark_connection.py
  lib/streamlit/connections/sql_connection.py
  lib/streamlit/deprecation_util.py
  lib/streamlit/runtime/connection_factory.py
  lib/tests/streamlit/connections/base_connection_test.py
  lib/tests/streamlit/deprecation_util_test.py
  lib/tests/streamlit/runtime/connection_factory_test.py
  lib/tests/streamlit/runtime/metrics_util_test.py
  lib/tests/streamlit/streamlit_test.py
Due: no-relative-imports

Add __getattribute__ to BaseConnection to provide helpful errors (#7383)
  lib/streamlit/connections/base_connection.py
  lib/tests/streamlit/connections/base_connection_test.py
Due: no-relative-imports

Make some minor changes to SQLConnection (#7366)
  lib/streamlit/connections/sql_connection.py
Due: no-relative-imports
