Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Fix secrets test
  e2e_playwright/st_secrets.py
Due: no-relative-imports

Fix typing
  lib/streamlit/elements/html.py
  lib/streamlit/elements/media.py
Due: no-relative-imports

Add tests for st.audio
  e2e_playwright/st_audio.py
  e2e_playwright/st_audio_test.py
  e2e_playwright/test_assets/cat-purr.mp3
  lib/tests/streamlit/elements/media_test.py
Due: no-relative-imports

Update snapshots
  e2e_playwright/__snapshots__/linux/st_chat_message_test/st_chat_message-10[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_chat_message_test/st_chat_message-10[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_chat_message_test/st_chat_message-10[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_chat_message_test/st_chat_message-10[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_chat_message_test/st_chat_message-10[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_chat_message_test/st_chat_message-10[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_html_test/st_html-file_path[chromium].png
  e2e_playwright/__snapshots__/linux/st_html_test/st_html-file_path[firefox].png
  e2e_playwright/__snapshots__/linux/st_html_test/st_html-file_path[webkit].png
  e2e_playwright/__snapshots__/linux/st_html_test/st_html-file_str[chromium].png
  e2e_playwright/__snapshots__/linux/st_html_test/st_html-file_str[firefox].png
  e2e_playwright/__snapshots__/linux/st_html_test/st_html-file_str[webkit].png
  e2e_playwright/__snapshots__/linux/st_html_test/st_html-style_tag_spacing[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_html_test/st_html-style_tag_spacing[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_html_test/st_html-style_tag_spacing[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_html_test/st_html-style_tag_spacing[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_html_test/st_html-style_tag_spacing[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_html_test/st_html-style_tag_spacing[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_image_test/st_image-channels_bgr_red[chromium].png
  e2e_playwright/__snapshots__/linux/st_image_test/st_image-channels_bgr_red[firefox].png
  e2e_playwright/__snapshots__/linux/st_image_test/st_image-image_from_file_path[chromium].png
  e2e_playwright/__snapshots__/linux/st_image_test/st_image-image_from_file_path[firefox].png
  e2e_playwright/__snapshots__/linux/st_image_test/st_image-image_from_file_path[webkit].png
  e2e_playwright/__snapshots__/linux/st_image_test/st_image-image_from_file_str[chromium].png
  e2e_playwright/__snapshots__/linux/st_image_test/st_image-image_from_file_str[firefox].png
  e2e_playwright/__snapshots__/linux/st_image_test/st_image-image_from_file_str[webkit].png
  e2e_playwright/__snapshots__/linux/st_image_test/st_image-image_list[chromium].png
  e2e_playwright/__snapshots__/linux/st_image_test/st_image-image_list[firefox].png
  e2e_playwright/__snapshots__/linux/st_image_test/st_image-use_column_width[chromium].png
  e2e_playwright/__snapshots__/linux/st_image_test/st_image-use_column_width[firefox].png
  e2e_playwright/__snapshots__/linux/st_image_test/st_image-use_container_width[chromium].png
  e2e_playwright/__snapshots__/linux/st_image_test/st_image-use_container_width[firefox].png
  e2e_playwright/__snapshots__/linux/st_video_test/video_element_webm_with_subtitles[chromium].png
Due: none

Add test for st.html
  e2e_playwright/st_html.py
  e2e_playwright/st_html_test.py
Due: no-relative-imports

Add pathlib support for all elements
  lib/streamlit/commands/execution_control.py
  lib/streamlit/commands/page_config.py
  lib/streamlit/elements/html.py
  lib/streamlit/elements/image.py
  lib/streamlit/elements/media.py
  lib/streamlit/elements/widgets/button.py
Due: no-relative-imports

Fix cyclic import
  lib/streamlit/elements/widgets/chat.py
Due: no-relative-imports

Improve tests for AppNodes and Quiver (#9653)
  frontend/lib/src/AppNode.test.ts
  frontend/lib/src/dataframes/Quiver.test.ts
  frontend/lib/src/test_util.tsx
Due: prettier, typecheck

Eliminate symlink requirement in component request handler (#9588)
  lib/streamlit/web/server/component_request_handler.py
  lib/tests/streamlit/web/server/component_request_handler_test.py
Due: no-relative-imports

Consolidate to streamlitExecutionStartedAt
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  frontend/app/src/ThemedApp.test.tsx
  frontend/app/src/ThemedApp.tsx
  frontend/app/src/index.tsx
  frontend/lib/src/hostComm/HostCommunicationManager.test.tsx
  frontend/lib/src/hostComm/HostCommunicationManager.tsx
Due: prettier, typecheck

Fix nits
  frontend/app/src/MetricsManager.ts
  proto/streamlit/proto/MetricsEvent.proto
Due: prettier, typecheck

Update `GUEST_READY` message (#9702)
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  frontend/app/src/ThemedApp.test.tsx
  frontend/app/src/ThemedApp.tsx
  frontend/app/src/index.tsx
  frontend/lib/src/hostComm/HostCommunicationManager.test.tsx
  frontend/lib/src/hostComm/HostCommunicationManager.tsx
  frontend/lib/src/hostComm/types.ts
Due: prettier, typecheck

Update icon size for file upload in chat input (#9708)
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
  frontend/lib/src/components/widgets/FileUploader/UploadedFile.tsx
  frontend/lib/src/components/widgets/FileUploader/UploadedFiles.tsx
  frontend/lib/src/components/widgets/FileUploader/styled-components.ts
Due: prettier, typecheck

auto focus on text input after file upload (#9709)
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
Due: prettier, typecheck

Add `MetricsEvent` proto & Fivetran infrastructure (#9695)
  frontend/app/package.json
  frontend/app/src/MetricsManager.test.ts
  frontend/app/src/MetricsManager.ts
  frontend/yarn.lock
  proto/streamlit/proto/MetricsEvent.proto
Due: prettier, typecheck

prototype for vega charts
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/elements/ArrowVegaLiteChart/ArrowVegaLiteChart.test.tsx
  frontend/lib/src/components/elements/ArrowVegaLiteChart/ArrowVegaLiteChart.tsx
  frontend/lib/src/components/elements/ArrowVegaLiteChart/styled-components.ts
  frontend/lib/src/components/shared/Toolbar/Toolbar.tsx
Due: prettier, typecheck

Add postMessage option & test settings
  frontend/app/src/App.tsx
  frontend/app/src/MetricsManager.test.ts
  frontend/app/src/MetricsManager.ts
  frontend/lib/src/hostComm/types.ts
  lib/streamlit/web/server/routes.py
Due: prettier, typecheck, no-relative-imports

Remove test setting
  lib/streamlit/web/server/routes.py
Due: no-relative-imports

make things work on the smaller charts
  frontend/lib/src/components/elements/ArrowVegaLiteChart/ArrowVegaLiteChart.tsx
  frontend/lib/src/components/elements/ArrowVegaLiteChart/styled-components.ts
Due: prettier, typecheck

lint
  frontend/lib/src/components/elements/ArrowVegaLiteChart/ArrowVegaLiteChart.tsx
Due: prettier, typecheck

fix lint
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
Due: prettier, typecheck

reverting the auto pulling from context in toolbar to see if that's what was breaking tests
  frontend/lib/src/components/elements/ArrowVegaLiteChart/ArrowVegaLiteChart.tsx
  frontend/lib/src/components/shared/Toolbar/Toolbar.tsx
Due: prettier, typecheck

adjusting types
  frontend/lib/src/components/elements/ArrowVegaLiteChart/ArrowVegaLiteChart.tsx
Due: prettier, typecheck

more fix
  frontend/lib/src/components/widgets/ChatInput/ChatInput.tsx
Due: prettier, typecheck

Add sidebar shadow option
  e2e_playwright/.streamlit/config.toml
  frontend/app/src/components/Sidebar/styled-components.ts
  frontend/lib/src/mocks/mockTheme.ts
  frontend/lib/src/theme/emotionBaseTheme/index.ts
  frontend/lib/src/theme/utils.ts
  lib/streamlit/config.py
  proto/streamlit/proto/NewSession.proto
Due: prettier, typecheck, no-relative-imports

Fix flaky label markdown test for images
  e2e_playwright/label_markdown.py
  e2e_playwright/static/cat.jpg
Due: no-relative-imports

Move functions to image_utils.py
  lib/streamlit/elements/image.py
  lib/streamlit/elements/lib/image_utils.py
Due: no-relative-imports

Fix imports of image utils in other files
  lib/streamlit/commands/logo.py
  lib/streamlit/commands/page_config.py
  lib/streamlit/elements/pyplot.py
  lib/streamlit/elements/widgets/chat.py
Due: no-relative-imports

Move marshall_images out to image_utils.py
  lib/streamlit/elements/image.py
  lib/streamlit/elements/lib/image_utils.py
Due: no-relative-imports

Fix tests
  lib/tests/streamlit/commands/page_config_test.py
  lib/tests/streamlit/elements/image_test.py
  lib/tests/streamlit/elements/pyplot_test.py
Due: no-relative-imports

Change WidthBehaviour to WidthBehavior everywhere
  frontend/lib/src/components/elements/ImageList/ImageList.tsx
  proto/streamlit/proto/Image.proto
Due: prettier, typecheck

Typing
  lib/streamlit/elements/image.py
Due: no-relative-imports

Restore ImageMixin
  lib/streamlit/elements/image.py
Due: no-relative-imports

Fix test
  lib/tests/streamlit/elements/image_test.py
Due: no-relative-imports

Restore old functions
  lib/streamlit/elements/image.py
  lib/streamlit/elements/lib/image_utils.py
Due: no-relative-imports

Add license header
  lib/streamlit/elements/lib/image_utils.py
Due: no-relative-imports

Cleanup
  e2e_playwright/.streamlit/config.toml
  e2e_playwright/st_advanced_theming.py
  frontend/app/src/components/Sidebar/ThemedSidebar.tsx
  frontend/lib/src/theme/utils.ts
Due: prettier, typecheck, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
