Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint

.pre-commit-config.yaml:

# Pre-commit configuration file,
# when Streamlit's pre-commit detects that one of the linters has failed,
# it automatically lints the files and does not allow the commit to pass.
# Please review the changes after lint has failed and commit them again,
# the second commit should pass,
# because the files were linted after trying to do the first commit.
repos:
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        args:
          # Configure Black to support only syntax supported by the minimum supported Python version in setup.py.
          - --target-version=py37
        files: \.py$|\.pyi$
  - repo: local
    hooks:
      # Script ./scripts/run_in_subdirectory.py was used to work around a
      # known problem with hooks in subdirectories when pass_filenames option
      # is set to true
      # See: https://github.com/pre-commit/pre-commit/issues/1417
      - id: prettier
        name: Prettier
        entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
        files: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$
        language: node
        pass_filenames: true
      - id: typecheck
        name: Typecheck
        entry: yarn --cwd frontend tsc --noEmit
        files: \.js$|\.jsx$|\.ts$|\.tsx$
        language: node
        pass_filenames: false
      - id: eslint
        name: Eslint
        entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
        files: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
        language: node
        pass_filenames: true
      - id: license-headers
        name: Checks that all files have the required license headers
        entry: ./scripts/check_license_headers.py
        language: system
        always_run: true
        pass_filenames: false
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.2.0
    hooks:
      - id: insert-license
        name: Add license for all (S)CSS/JS(X)/TS(X) files
        files: \.(s?css|jsx?|tsx?)$
        args:
          - --comment-style
          - "/**| *| */"
          - --license-filepath
          - scripts/license-template.txt
          - --fuzzy-match-generates-todo
        exclude: |
          (?x)
          /vendor/
          |^component-lib/declarations/apache-arrow
          |^frontend/src/assets/css/variables\.scss
      - id: insert-license
        name: Add license for all Proto files
        files: \.proto$
        args:
          - --comment-style
          - "/**!| *| */"
          - --license-filepath
          - scripts/license-template.txt
          - --fuzzy-match-generates-todo
        exclude: |
          (?x)
          /vendor/
          |^component-lib/declarations/apache-arrow
          |^proto/streamlit/proto/openmetrics_data_model\.proto
      - id: insert-license
        name: Add license for all shell files
        files: \.sh$
        args:
          - --comment-style
          - "|#|"
          - --license-filepath
          - scripts/license-template.txt
          - --fuzzy-match-generates-todo
        exclude: |
          (?x)
          /vendor/
          |^component-lib/declarations/apache-arrow
      - id: insert-license
        name: Add license for all Python files
        files: \.py$|\.pyi$
        args:
          - --comment-style
          - "|#|"
          - --license-filepath
          - scripts/license-template.txt
          - --fuzzy-match-generates-todo
        exclude: |
          (?x)
          /vendor/
          |^component-lib/declarations/apache-arrow
          |^lib/tests/isolated_asyncio_test_case\.py$
      - id: insert-license
        name: Add license for all HTML files
        files: \.html$
        args:
          - --comment-style
          - "<!--||-->"
          - --license-filepath
          - scripts/license-template.txt
          - --fuzzy-match-generates-todo
        exclude: |
          (?x)
          /vendor/
          |^component-lib/declarations/apache-arrow

Convert _image_data to always be list to simplify
  lib/streamlit/runtime/caching/cache_utils.py
Due: none

Add and remove libraries for consistency
  lib/streamlit/elements/bokeh_chart.py
  lib/streamlit/elements/dataframe_selector.py
  lib/streamlit/elements/deck_gl_json_chart.py
  lib/streamlit/elements/graphviz_chart.py
  lib/streamlit/elements/plotly_chart.py
Due: none

Fix linting issues
  lib/streamlit/string_util.py
Due: none

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: none

Refactoring code and adding in missing plots in streamlit_plotly_theme
  frontend/src/components/elements/PlotlyChart/CustomTheme.tsx
  frontend/src/components/elements/PlotlyChart/PlotlyChart.tsx
  frontend/src/theme/utils.ts
  lib/streamlit/elements/streamlit_plotly_theme.py
Due: prettier, typecheck, eslint

Add new screenshot tests and correct diverging plotly theme
  e2e/scripts/st_plotly_chart.py
  lib/streamlit/elements/streamlit_plotly_theme.py
Due: none

Add some comments
  frontend/src/components/elements/PlotlyChart/CustomTheme.tsx
  lib/streamlit/elements/streamlit_plotly_theme.py
Due: prettier, typecheck, eslint

experimentz
  lib/streamlit/web/server/server.py
Due: none

Delete snapshots, add new e2e snapshots, and move imports under typechecking
  e2e/scripts/st_plotly_chart.py
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart0-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart0.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart1-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart1.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart2-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart2.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart3-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart3.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart4-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart4.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart5-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart5.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart6-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart6.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart7-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart7.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart8-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart8.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart9-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart9.snap.png
  lib/streamlit/elements/plotly_chart.py
  lib/streamlit/elements/streamlit_plotly_theme.py
Due: none

Fix python tests
  lib/streamlit/elements/plotly_chart.py
Due: none

Add and remove libraries for consistency (#5687)
  lib/streamlit/elements/bokeh_chart.py
  lib/streamlit/elements/dataframe_selector.py
  lib/streamlit/elements/deck_gl_json_chart.py
  lib/streamlit/elements/graphviz_chart.py
  lib/streamlit/elements/plotly_chart.py
Due: none

Add docs for label markdown feature (#5668)
  lib/streamlit/elements/button.py
  lib/streamlit/elements/camera_input.py
  lib/streamlit/elements/checkbox.py
  lib/streamlit/elements/color_picker.py
  lib/streamlit/elements/file_uploader.py
  lib/streamlit/elements/layouts.py
  lib/streamlit/elements/metric.py
  lib/streamlit/elements/multiselect.py
  lib/streamlit/elements/number_input.py
  lib/streamlit/elements/radio.py
  lib/streamlit/elements/select_slider.py
  lib/streamlit/elements/selectbox.py
  lib/streamlit/elements/slider.py
  lib/streamlit/elements/text_widgets.py
  lib/streamlit/elements/time_widgets.py
Due: none

Docs: Update docstring for `sample_rate` (#5671)
  lib/streamlit/elements/media.py
Due: none

Remove `st.write` from `CachedStFunctionWarning` (#5669)
  lib/streamlit/runtime/caching/cache_errors.py
Due: none

Add docstrings for `experimental_allow_widgets` (#5670)
  lib/streamlit/runtime/caching/memo_decorator.py
  lib/streamlit/runtime/caching/singleton_decorator.py
  lib/streamlit/runtime/legacy_caching/caching.py
Due: none

Fix cypress test
  e2e/specs/st_plotly_chart.spec.js
Due: typecheck

Remove unnecessary imports
  lib/streamlit/elements/plotly_chart.py
Due: none

Document purpose of image replay sanity check test
  lib/tests/streamlit/runtime/caching/common_cache_test.py
Due: none

Clarify instance state cleanup in element caching
  lib/streamlit/runtime/caching/cache_utils.py
Due: none

Document purpose of image replay e2e test
  e2e/specs/st_image_replay.spec.js
Due: typecheck

Add new screenshots but change test to have chart that actually works because distplots dont work with streamlit theme
  e2e/scripts/st_plotly_chart.py
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart1-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart1.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart10-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart10.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart11-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart11.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart2-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart2.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart3-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart3.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart4-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart4.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart5-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart5.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart6-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart6.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart7-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart7.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart8-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart8.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart9-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart9.snap.png
Due: none

New snapshot
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart0-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart0.snap.png
Due: none

Image replay in cached functions (#5675)
  e2e/scripts/st_image_replay.py
  e2e/scripts/st_image_replay_old_image.py
  e2e/specs/st_image_replay.spec.js
  e2e/specs/st_image_replay_old_image.spec.js
  lib/streamlit/elements/__init__.py
  lib/streamlit/elements/image.py
  lib/streamlit/runtime/caching/__init__.py
  lib/streamlit/runtime/caching/cache_utils.py
  lib/tests/streamlit/elements/image_test.py
  lib/tests/streamlit/runtime/caching/common_cache_test.py
Due: typecheck

Add in histogram colorscale and new test for it
  e2e/scripts/st_plotly_chart.py
  lib/streamlit/elements/streamlit_plotly_theme.py
Due: none

Release 1.14.1 (#5693)
  frontend/package.json
  lib/setup.py
  lib/streamlit/elements/map.py
Due: none

Save media data for cache replay
  lib/streamlit/elements/__init__.py
  lib/streamlit/elements/media.py
  lib/streamlit/runtime/caching/cache_utils.py
  lib/tests/streamlit/elements/media_test.py
Due: none

Media replay e2e tests
  e2e/scripts/st_media_replay.py
  e2e/specs/st_media_replay.spec.js
Due: typecheck

Use more general name for saving media data
  lib/streamlit/elements/image.py
  lib/streamlit/elements/media.py
  lib/streamlit/runtime/caching/__init__.py
Due: none

Use new function name in test patching
  lib/tests/streamlit/elements/image_test.py
  lib/tests/streamlit/elements/media_test.py
Due: none

Fix cypress test since I added a new test
  e2e/specs/st_plotly_chart.spec.js
Due: typecheck

Add theme activation at top of plotly file to fix bug
  lib/streamlit/elements/plotly_chart.py
Due: none

Delete snapshots and add some small minor adjustments
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart0-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart0.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart1-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart1.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart10-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart10.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart11-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart11.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart2-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart2.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart3-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart3.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart4-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart4.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart5-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart5.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart6-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart6.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart7-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart7.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart8-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart8.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart9-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart9.snap.png
  lib/streamlit/elements/plotly_chart.py
  lib/streamlit/elements/streamlit_plotly_theme.py
Due: none

Use specialized assertion functions (#5680)
  lib/tests/streamlit/config_test.py
  lib/tests/streamlit/elements/map_test.py
  lib/tests/streamlit/git_util_test.py
  lib/tests/streamlit/runtime/secrets_test.py
  lib/tests/streamlit/runtime/state/widgets_test.py
  lib/tests/streamlit/watcher/local_sources_watcher_test.py
  lib/tests/streamlit/web/bootstrap_test.py
  lib/tests/streamlit/web/cli_test.py
Due: none

Add new snapshots
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart0-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart0.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart1-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart1.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart10-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart10.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart11-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart11.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart12-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart12.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart2-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart2.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart3-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart3.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart4-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart4.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart5-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart5.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart6-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart6.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart7-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart7.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart8-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart8.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart9-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_plotly_chart.spec.js/plotly_chart9.snap.png
Due: none

Add sankey definitions
  lib/streamlit/elements/streamlit_plotly_theme.py
Due: none

Disable rerun on download_button click
  frontend/src/components/widgets/DownloadButton/DownloadButton.tsx
  lib/streamlit/elements/button.py
Due: prettier, typecheck, eslint

Add config options `staticServingEnabled` and `staticServingDirectory` for prototyping
  lib/streamlit/config.py
  lib/streamlit/web/server/server.py
Due: none
