Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

fix things because they broke from a merge
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/yarn.lock
Due: prettier, typecheck

comment web.server import to avoid crash on `streamlit run`
  lib/streamlit/web/server/media_file_handler.py
Due: no-relative-imports

Handle url via page run event
  frontend/app/src/App.tsx
  frontend/app/src/connection/DefaultStreamlitEndpoints.ts
  lib/streamlit/commands/pages.py
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  proto/streamlit/proto/AppPage.proto
  proto/streamlit/proto/ForwardMsg.proto
  proto/streamlit/proto/Navigation.proto
Due: prettier, typecheck, no-relative-imports

Fix theme regression and always maintain zoom state
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

Fix theme regression by removing useState
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

Remove unnecessary theme code
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

Fix remaining TS issues
  frontend/app/src/App.tsx
  frontend/app/src/components/Sidebar/SidebarNav.tsx
Due: prettier, typecheck

Update fragment docstring with corrected behavior
  lib/streamlit/runtime/fragment.py
Due: no-relative-imports

Fragment docstring nit fixes
  lib/streamlit/runtime/fragment.py
Due: no-relative-imports

Adds a "from_dict" method to query_params
  lib/streamlit/runtime/state/query_params.py
Due: no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Add e2e tests for disabled fullscreen
  e2e_playwright/st_dialog_test.py
Due: no-relative-imports

Add tests for closing and re-opening the dialog
  e2e_playwright/st_dialog.py
  e2e_playwright/st_dialog_test.py
Due: no-relative-imports

Allow sizing the dialog
  e2e_playwright/st_dialog_test.py
  frontend/lib/src/components/core/Block/ElementNodeRenderer.test.tsx
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/elements/Dialog/Dialog.tsx
  lib/streamlit/elements/layouts.py
  lib/streamlit/elements/lib/dialog.py
  proto/streamlit/proto/Block.proto
Due: prettier, typecheck, no-relative-imports

Update playwright tests
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-in-main[chromium].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-in-main[firefox].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-in-main[webkit].png
Due: none

Add dialog including some tests
  e2e_playwright/st_dialog.py
  e2e_playwright/st_dialog_test.py
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/elements/Dialog/Dialog.test.tsx
  frontend/lib/src/components/elements/Dialog/Dialog.tsx
  frontend/lib/src/components/elements/Dialog/index.tsx
  lib/streamlit/__init__.py
  lib/streamlit/elements/layouts.py
  lib/streamlit/elements/lib/dialog.py
  proto/streamlit/proto/Block.proto
Due: prettier, typecheck, no-relative-imports

Add python Dialog test
  lib/tests/streamlit/layouts_test.py
Due: no-relative-imports

Address PR feedback
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
Due: prettier, typecheck

Fix test
  lib/tests/streamlit/delta_generator_test.py
  lib/tests/streamlit/streamlit_test.py
Due: no-relative-imports

Add playwright snapshots
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-in-main[chromium].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-in-main[firefox].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-in-main[webkit].png
Due: none

Use main theme for Dialogs in sidebar
  e2e_playwright/st_dialog.py
  e2e_playwright/st_dialog_test.py
  frontend/lib/src/components/elements/Dialog/Dialog.tsx
Due: prettier, typecheck, no-relative-imports

Fix typings
  frontend/lib/src/components/elements/Dialog/Dialog.tsx
  lib/streamlit/elements/layouts.py
  lib/streamlit/elements/lib/dialog.py
  proto/streamlit/proto/Block.proto
Due: prettier, typecheck, no-relative-imports

Allow setting hideFullScreenButton dynamically
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/core/Block/ElementNodeRenderer.test.tsx
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/shared/FullScreenWrapper/withFullScreenWrapper.tsx
Due: prettier, typecheck

Update snapshot test to not be flaky
  e2e_playwright/st_dialog.py
  e2e_playwright/st_dialog_test.py
Due: no-relative-imports

Fix lint issue
  lib/tests/streamlit/layouts_test.py
Due: no-relative-imports

Update all modal/dialog styles
  frontend/lib/src/components/shared/Modal/Modal.tsx
Due: prettier, typecheck

Fix tests
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-in-main[chromium].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-in-main[firefox].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-in-main[webkit].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-in-sidebar[chromium].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-in-sidebar[firefox].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-in-sidebar[webkit].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-with-large-width[chromium].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-with-large-width[firefox].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-with-large-width[webkit].png
  lib/tests/streamlit/runtime/metrics_util_test.py
  lib/tests/streamlit/streamlit_test.py
Due: no-relative-imports

Update size of large dialog
  frontend/lib/src/components/elements/Dialog/Dialog.tsx
  frontend/lib/src/components/elements/Popover/Popover.tsx
Due: prettier, typecheck

Size of st.title, st.subheader etc. should behave like in sidebar
  frontend/lib/src/components/elements/Dialog/Dialog.tsx
  frontend/lib/src/components/elements/Dialog/styled-components.ts
Due: prettier, typecheck

Make dialog experimental
  e2e_playwright/st_dialog.py
  e2e_playwright/st_dialog_nested.py
  lib/streamlit/__init__.py
  lib/tests/streamlit/layouts_test.py
Due: no-relative-imports

Fix tests
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-in-sidebar[chromium].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-in-sidebar[firefox].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-in-sidebar[webkit].png
  e2e_playwright/st_dialog.py
  e2e_playwright/st_dialog_test.py
  frontend/lib/src/components/core/Block/Block.tsx
  lib/streamlit/elements/lib/dialog.py
Due: prettier, typecheck, no-relative-imports

Update error messages
  lib/streamlit/elements/dialog_decorator.py
Due: no-relative-imports

Remove non-dismissible e2e tests
  e2e_playwright/__snapshots__/linux/deploy_dialog_test/deploy_dialog[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/deploy_dialog_test/deploy_dialog[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/deploy_dialog_test/deploy_dialog[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/deploy_dialog_test/deploy_dialog[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/deploy_dialog_test/deploy_dialog[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/deploy_dialog_test/deploy_dialog[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/main_menu_test/clear_cache_dialog[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/main_menu_test/clear_cache_dialog[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/main_menu_test/clear_cache_dialog[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/main_menu_test/clear_cache_dialog[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/main_menu_test/clear_cache_dialog[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/main_menu_test/clear_cache_dialog[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/main_menu_test/edit_active_theme_dialog[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/main_menu_test/edit_active_theme_dialog[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/main_menu_test/edit_active_theme_dialog[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/main_menu_test/edit_active_theme_dialog[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/main_menu_test/edit_active_theme_dialog[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/main_menu_test/edit_active_theme_dialog[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/main_menu_test/record_screencast_dialog[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/main_menu_test/record_screencast_dialog[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/main_menu_test/settings_dialog[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/main_menu_test/settings_dialog[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/main_menu_test/settings_dialog[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/main_menu_test/settings_dialog[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/main_menu_test/settings_dialog[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/main_menu_test/settings_dialog[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-in-main[chromium].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-in-main[firefox].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-in-main[webkit].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-in-sidebar[chromium].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-in-sidebar[firefox].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-in-sidebar[webkit].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-non-dismissible[chromium].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-non-dismissible[firefox].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-non-dismissible[webkit].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-with-large-width[chromium].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-with-large-width[firefox].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-with-large-width[webkit].png
  e2e_playwright/st_dialog.py
  e2e_playwright/st_dialog_test.py
Due: no-relative-imports

Add better error messages for non-given title
  frontend/lib/src/components/elements/Dialog/Dialog.tsx
  lib/streamlit/elements/dialog_decorator.py
  lib/tests/streamlit/layouts_test.py
Due: prettier, typecheck, no-relative-imports

Add st.fragment annotation
  lib/streamlit/elements/dialog_decorator.py
Due: no-relative-imports

Remove dismissible property from dialog
  e2e_playwright/st_dialog.py
  e2e_playwright/st_dialog_test.py
  frontend/lib/src/components/elements/Dialog/Dialog.test.tsx
  frontend/lib/src/components/elements/Dialog/Dialog.tsx
  lib/streamlit/elements/dialog_decorator.py
  lib/streamlit/elements/layouts.py
  lib/streamlit/elements/lib/dialog.py
  lib/tests/streamlit/layouts_test.py
  proto/streamlit/proto/Block.proto
Due: prettier, typecheck, no-relative-imports

Remove return type in favor of using st.rerun
  e2e_playwright/st_dialog.py
  lib/streamlit/elements/dialog_decorator.py
  lib/streamlit/elements/lib/dialog.py
Due: no-relative-imports

Add dialog decorator
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-non-dismissible[chromium].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-non-dismissible[firefox].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-non-dismissible[webkit].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-with-large-width[chromium].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-with-large-width[firefox].png
  e2e_playwright/__snapshots__/linux/st_dialog_test/dialog-with-large-width[webkit].png
  e2e_playwright/st_dialog.py
  e2e_playwright/st_dialog_nested.py
  e2e_playwright/st_dialog_nested_test.py
  e2e_playwright/st_dialog_test.py
  frontend/lib/src/components/elements/Dialog/Dialog.tsx
  lib/streamlit/__init__.py
  lib/streamlit/delta_generator.py
  lib/streamlit/elements/dialog_decorator.py
  lib/streamlit/elements/layouts.py
  lib/streamlit/elements/lib/dialog.py
  lib/tests/streamlit/layouts_test.py
  lib/tests/streamlit/runtime/metrics_util_test.py
Due: prettier, typecheck, no-relative-imports

Use lock mechanism to allow only a single dialog at a given time
  frontend/lib/src/WidgetStateManager.ts
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/elements/Dialog/Dialog.test.tsx
  frontend/lib/src/components/elements/Dialog/Dialog.tsx
  frontend/lib/src/components/shared/Modal/Modal.tsx
Due: prettier, typecheck
