Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

[fix] Error message bullets and uppercase-hex object reprs (#16683)
  frontend/lib/src/components/elements/ExceptionElement/ExceptionElement.test.tsx
  lib/streamlit/errors.py
  lib/streamlit/string_util.py
  lib/tests/streamlit/errors_test.py
  lib/tests/streamlit/string_util_test.py
  lib/tests/streamlit/write_test.py
Due: prettier, typecheck, no-relative-imports

[test] Fix false positive in sidebar flicker state monitor
  e2e_playwright/st_sidebar_flicker_test.py
Due: no-relative-imports

Address review: cover the false-positive path
  e2e_playwright/st_sidebar_flicker_test.py
Due: no-relative-imports

Drop element nodes of evicted fragments
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  frontend/lib/src/render-tree/AppRoot.ts
  frontend/lib/src/render-tree/visitors/ClearEvictedFragmentNodesVisitor.test.ts
  frontend/lib/src/render-tree/visitors/ClearEvictedFragmentNodesVisitor.ts
Due: prettier, typecheck

[fix] Show the correct year in the date picker header (#16686)
  e2e_playwright/st_date_input.py
  e2e_playwright/st_date_input_test.py
  e2e_playwright/st_datetime_input.py
  e2e_playwright/st_datetime_input_test.py
  frontend/lib/src/components/widgets/DateInput/CalendarPopoverHeader.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
  frontend/lib/src/components/widgets/DateInput/styled-components.ts
  frontend/lib/src/components/widgets/DateTimeInput/DateTimeInput.test.tsx
Due: prettier, typecheck, no-relative-imports

Clear widget state and keep transient identity on eviction
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  frontend/lib/src/render-tree/visitors/ClearEvictedFragmentNodesVisitor.test.ts
  frontend/lib/src/render-tree/visitors/ClearEvictedFragmentNodesVisitor.ts
Due: prettier, typecheck

Fix css/js type-error contract and address AI review comments.
  e2e_playwright/bidi_components/error_handling_test.py
  lib/streamlit/components/v2/__init__.py
  lib/streamlit/components/v2/bidi_component/main.py
  lib/streamlit/connections/sql_connection.py
  lib/streamlit/dataframe/lazy_df_source.py
  lib/streamlit/elements/lib/built_in_chart_utils.py
  lib/streamlit/elements/media.py
  lib/streamlit/elements/metric.py
  lib/streamlit/elements/widgets/pagination.py
  lib/streamlit/elements/write.py
  lib/streamlit/runtime/fragment.py
  lib/tests/streamlit/components/v2/test_component_registry.py
  lib/tests/streamlit/connections/sql_connection_test.py
  lib/tests/streamlit/dataframe/lazy_df_source_test.py
  lib/tests/streamlit/elements/lib/built_in_chart_utils_test.py
  lib/tests/streamlit/elements/metric_test.py
  lib/tests/streamlit/elements/pagination_test.py
  lib/tests/streamlit/runtime/fragment_test.py
  lib/tests/streamlit/write_test.py
Due: no-relative-imports

Assert the monitor still records real state changes
  e2e_playwright/st_sidebar_flicker_test.py
Due: no-relative-imports

[chore] Fix false positive in sidebar flicker e2e test (#16703)
  e2e_playwright/st_sidebar_flicker_test.py
Due: no-relative-imports

Preserve fragment toasts on eviction; address review
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  frontend/lib/src/render-tree/AppRoot.ts
  frontend/lib/src/render-tree/visitors/ClearEvictedFragmentNodesVisitor.test.ts
  frontend/lib/src/render-tree/visitors/ClearEvictedFragmentNodesVisitor.ts
Due: prettier, typecheck

Address AI review feedback on calendar header
  e2e_playwright/st_date_input_test.py
  frontend/lib/src/components/widgets/DateInput/CalendarPopoverHeader.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
  frontend/lib/src/components/widgets/DateInput/styled-components.ts
Due: prettier, typecheck, no-relative-imports

Replace evicted fragment nodes instead of removing them
  e2e_playwright/st_fragment_run_every.py
  e2e_playwright/st_fragment_run_every_test.py
  frontend/app/src/App.tsx
  frontend/lib/src/render-tree/AppRoot.test.ts
  frontend/lib/src/render-tree/AppRoot.ts
  frontend/lib/src/render-tree/visitors/ClearEvictedFragmentNodesVisitor.test.ts
  frontend/lib/src/render-tree/visitors/ClearEvictedFragmentNodesVisitor.ts
Due: prettier, typecheck, no-relative-imports

Move eviction test out of the fake-timers describe
  frontend/app/src/App.test.tsx
Due: prettier, typecheck

Address AI final review feedback
  frontend/lib/src/components/widgets/DateInput/CalendarPopoverHeader.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
Due: prettier, typecheck

[fix] Show the correct year in the date picker header (#16706)
  e2e_playwright/st_date_input.py
  e2e_playwright/st_date_input_test.py
  e2e_playwright/st_datetime_input.py
  e2e_playwright/st_datetime_input_test.py
  frontend/lib/src/components/widgets/DateInput/CalendarPopoverHeader.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
  frontend/lib/src/components/widgets/DateInput/styled-components.ts
  frontend/lib/src/components/widgets/DateTimeInput/DateTimeInput.test.tsx
Due: prettier, typecheck, no-relative-imports

Fix CCv2 e2e exception locator and address AI review comments.
  .cursor/rules/python_lib.mdc
  .github/instructions/python_lib.instructions.md
  e2e_playwright/bidi_components/error_handling_test.py
  lib/streamlit/AGENTS.md
  lib/streamlit/elements/arrow.py
  lib/streamlit/elements/lib/policies.py
  lib/streamlit/elements/lib/subtitle_utils.py
  lib/streamlit/elements/lib/utils.py
  lib/streamlit/elements/media.py
  lib/streamlit/elements/metric.py
  lib/streamlit/elements/pdf.py
  lib/streamlit/elements/pyplot.py
  lib/streamlit/elements/widgets/button_group.py
  lib/streamlit/elements/widgets/chat.py
  lib/streamlit/runtime/fragment.py
  lib/tests/streamlit/elements/audio_input_test.py
  lib/tests/streamlit/elements/button_group_test.py
  lib/tests/streamlit/elements/camera_input_test.py
  lib/tests/streamlit/elements/chat_test.py
  lib/tests/streamlit/elements/checkbox_test.py
  lib/tests/streamlit/elements/color_picker_test.py
  lib/tests/streamlit/elements/date_input_test.py
  lib/tests/streamlit/elements/file_uploader_test.py
  lib/tests/streamlit/elements/lib/subtitle_utils_test.py
  lib/tests/streamlit/elements/lib/utils_test.py
  lib/tests/streamlit/elements/metric_test.py
  lib/tests/streamlit/elements/multiselect_test.py
  lib/tests/streamlit/elements/number_input_test.py
  lib/tests/streamlit/elements/pyplot_test.py
  lib/tests/streamlit/elements/radio_test.py
  lib/tests/streamlit/elements/select_slider_test.py
  lib/tests/streamlit/elements/selectbox_test.py
  lib/tests/streamlit/elements/slider_test.py
  lib/tests/streamlit/elements/text_area_test.py
  lib/tests/streamlit/elements/text_input_test.py
  lib/tests/streamlit/elements/time_input_test.py
  lib/tests/streamlit/elements/vega_charts_test.py
Due: no-relative-imports

Use concise metric type names in StreamlitInvalidParameterTypeError.
  lib/streamlit/elements/metric.py
  lib/tests/streamlit/elements/metric_test.py
Due: no-relative-imports

Fold chart exceptions into tagged API errors
  lib/streamlit/elements/lib/built_in_chart_utils.py
  lib/tests/streamlit/elements/lib/built_in_chart_utils_test.py
  lib/tests/streamlit/elements/vega_charts_test.py
Due: no-relative-imports

Document internal control-flow exceptions
  lib/streamlit/runtime/caching/cache_errors.py
  lib/streamlit/runtime/caching/storage/cache_storage_protocol.py
  lib/streamlit/runtime/dataframe_source_manager.py
  lib/streamlit/runtime/runtime.py
  lib/streamlit/runtime/scriptrunner_utils/exceptions.py
  lib/streamlit/runtime/session_manager.py
  lib/streamlit/web/server/starlette/starlette_server.py
  lib/streamlit/web/skills.py
Due: no-relative-imports

Drop size-only exception follow-ups
  lib/streamlit/elements/lib/policies.py
  lib/streamlit/elements/lib/utils.py
  lib/streamlit/elements/widgets/chat.py
  lib/streamlit/elements/widgets/pagination.py
  lib/streamlit/runtime/caching/cache_errors.py
  lib/streamlit/runtime/caching/storage/cache_storage_protocol.py
  lib/streamlit/runtime/dataframe_source_manager.py
  lib/streamlit/runtime/runtime.py
  lib/streamlit/runtime/scriptrunner_utils/exceptions.py
  lib/streamlit/runtime/session_manager.py
  lib/streamlit/web/server/starlette/starlette_server.py
  lib/streamlit/web/skills.py
  lib/tests/streamlit/elements/audio_input_test.py
  lib/tests/streamlit/elements/camera_input_test.py
  lib/tests/streamlit/elements/chat_test.py
  lib/tests/streamlit/elements/checkbox_test.py
  lib/tests/streamlit/elements/color_picker_test.py
  lib/tests/streamlit/elements/date_input_test.py
  lib/tests/streamlit/elements/file_uploader_test.py
  lib/tests/streamlit/elements/lib/utils_test.py
  lib/tests/streamlit/elements/metric_test.py
  lib/tests/streamlit/elements/multiselect_test.py
  lib/tests/streamlit/elements/number_input_test.py
  lib/tests/streamlit/elements/pagination_test.py
  lib/tests/streamlit/elements/radio_test.py
  lib/tests/streamlit/elements/select_slider_test.py
  lib/tests/streamlit/elements/selectbox_test.py
  lib/tests/streamlit/elements/slider_test.py
  lib/tests/streamlit/elements/text_area_test.py
  lib/tests/streamlit/elements/text_input_test.py
  lib/tests/streamlit/elements/time_input_test.py
Due: no-relative-imports

Add key access for st.context
  .cursor/rules/python_lib.mdc
  .github/instructions/python_lib.instructions.md
  lib/streamlit/AGENTS.md
  lib/streamlit/runtime/context.py
  lib/streamlit/user_info.py
  lib/tests/streamlit/runtime/context_test.py
  lib/tests/streamlit/typing/context_types.py
  lib/tests/streamlit/typing/user_types.py
Due: no-relative-imports

Address remaining AI review comments on exception contracts.
  e2e_playwright/bidi_components/error_handling_test.py
  lib/streamlit/dataframe/lazy_df_source.py
  lib/streamlit/elements/image.py
  lib/streamlit/elements/lib/built_in_chart_utils.py
  lib/streamlit/elements/lib/policies.py
  lib/streamlit/elements/lib/subtitle_utils.py
  lib/streamlit/elements/metric.py
  lib/streamlit/elements/widgets/chat.py
  lib/streamlit/elements/widgets/color_picker.py
  lib/tests/streamlit/dataframe/lazy_df_source_test.py
  lib/tests/streamlit/elements/arrow_dataframe_test.py
  lib/tests/streamlit/elements/button_group_test.py
  lib/tests/streamlit/elements/metric_test.py
  lib/tests/streamlit/elements/video_test.py
Due: no-relative-imports

Address review comments on st.context key access.
  lib/streamlit/runtime/context.py
  lib/streamlit/user_info.py
  lib/tests/streamlit/runtime/context_test.py
  lib/tests/streamlit/typing/context_types.py
Due: no-relative-imports

Address follow-up AI review comments.
  lib/streamlit/runtime/context.py
  lib/streamlit/user_info.py
  lib/tests/streamlit/runtime/context_test.py
  lib/tests/streamlit/typing/user_types.py
Due: no-relative-imports

[refactor] Improve `st.context` and `st.user` typing (#16710)
  .cursor/rules/python_lib.mdc
  .github/instructions/python_lib.instructions.md
  lib/streamlit/AGENTS.md
  lib/streamlit/runtime/context.py
  lib/streamlit/user_info.py
  lib/tests/streamlit/runtime/context_test.py
  lib/tests/streamlit/typing/context_types.py
  lib/tests/streamlit/typing/user_types.py
Due: no-relative-imports

[fix] Harden AppTest so unsupported apps still run
  lib/streamlit/testing/v1/__init__.py
  lib/streamlit/testing/v1/app_test.py
  lib/streamlit/testing/v1/element_tree.py
  lib/tests/streamlit/testing/app_test_test.py
  lib/tests/streamlit/testing/element_tree_test.py
Due: no-relative-imports

Address leftover AI review nits on exception messages and docs.
  lib/streamlit/components/v2/bidi_component/main.py
  lib/streamlit/dataframe/lazy_df_source.py
  lib/streamlit/elements/lib/utils.py
  lib/streamlit/elements/metric.py
  lib/streamlit/elements/widgets/chat.py
  lib/streamlit/elements/widgets/color_picker.py
  lib/tests/streamlit/dataframe/lazy_df_source_test.py
  lib/tests/streamlit/elements/chat_test.py
  lib/tests/streamlit/elements/metric_test.py
Due: no-relative-imports

[fix] Fix AppTest type errors and callable-nav switch_page
  lib/streamlit/testing/v1/app_test.py
  lib/streamlit/testing/v1/element_tree.py
  lib/tests/streamlit/testing/app_test_test.py
Due: no-relative-imports

[fix] Address AppTest review findings on keys and pages
  lib/streamlit/testing/v1/app_test.py
  lib/streamlit/testing/v1/element_tree.py
  lib/tests/streamlit/testing/app_test_test.py
  lib/tests/streamlit/testing/element_tree_test.py
Due: no-relative-imports

[fix] Bypass AppTest disabled guard in server discard tests
  lib/tests/streamlit/runtime/state/session_state_test.py
Due: no-relative-imports

[fix] Keep AppTest navigation registry after a failed run
  lib/streamlit/testing/v1/app_test.py
  lib/tests/streamlit/testing/app_test_test.py
Due: no-relative-imports

[fix] Drop stale AppTest navigation after a successful skip
  lib/streamlit/testing/v1/app_test.py
  lib/tests/streamlit/testing/app_test_test.py
Due: no-relative-imports

[fix] Improve AppTest element tree behavior
  lib/streamlit/testing/v1/element_tree.py
  lib/streamlit/testing/v1/errors.py
  lib/tests/streamlit/testing/app_test_test.py
  lib/tests/streamlit/testing/element_tree_test.py
Due: no-relative-imports

[spec] Defensive Streamlit agent-skill discovery
  specs/2026-08-29-defensive-meta-skill-discovery/tech-spec.md
Due: none

[spec] Address review of defensive skill discovery
  specs/2026-08-29-defensive-meta-skill-discovery/tech-spec.md
Due: none

[spec] Fix remaining discovery-spec correctness nits
  specs/2026-08-29-defensive-meta-skill-discovery/tech-spec.md
Due: none

[fix] Address remaining AppTest review feedback
  lib/streamlit/testing/v1/app_test.py
  lib/streamlit/testing/v1/element_tree.py
  lib/tests/streamlit/testing/app_test_test.py
  lib/tests/streamlit/testing/element_tree_test.py
Due: no-relative-imports

[fix] Harden AppTest for keys, disabled widgets, and navigation (#16711)
  lib/streamlit/testing/v1/app_test.py
  lib/streamlit/testing/v1/element_tree.py
  lib/streamlit/testing/v1/errors.py
  lib/tests/streamlit/runtime/state/session_state_test.py
  lib/tests/streamlit/testing/app_test_test.py
  lib/tests/streamlit/testing/element_tree_test.py
Due: no-relative-imports
