Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Always add fragment_ids to set (#9069)
  e2e_playwright/st_fragment_mixed_execution_flow.py
  e2e_playwright/st_fragment_mixed_execution_flow_test.py
  lib/streamlit/runtime/fragment.py
Due: no-relative-imports

Fix duplicate dialog fragment id (#9066)
  e2e_playwright/st_dialog.py
  e2e_playwright/st_dialog_test.py
  lib/streamlit/elements/dialog_decorator.py
  lib/streamlit/runtime/fragment.py
  lib/tests/streamlit/runtime/fragment_test.py
Due: no-relative-imports

Fix fragment exception impacts queued fragments (#9041)
  e2e_playwright/__snapshots__/linux/st_dialog_test/st_dialog-with_inline_error[chromium].png
  e2e_playwright/st_fragment_multiple_fragments.py
  e2e_playwright/st_fragment_multiple_fragments_test.py
  lib/streamlit/errors.py
  lib/streamlit/runtime/fragment.py
  lib/streamlit/runtime/scriptrunner/exec_code.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/tests/streamlit/elements/layouts_test.py
  lib/tests/streamlit/runtime/fragment_test.py
  lib/tests/streamlit/runtime/scriptrunner/code_exec_test.py
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
Due: no-relative-imports

Throw/expect more specific error when hitting KeyErrors in FragmentStorage methods (#9011)
  lib/streamlit/errors.py
  lib/streamlit/runtime/fragment.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/tests/streamlit/runtime/fragment_test.py
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
Due: no-relative-imports

Don't immediately remove fragments added by callbacks (#8916)
  lib/streamlit/runtime/fragment.py
  lib/streamlit/runtime/scriptrunner/script_run_context.py
Due: no-relative-imports

Remove fragment_ids_this_run from script run context (#8953)
  lib/streamlit/runtime/scriptrunner/script_run_context.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
Due: no-relative-imports

Implement st.rerun(scope="fragment") (#8979)
  lib/streamlit/runtime/runtime.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
Due: no-relative-imports

Throw/expect more specific error when hitting KeyErrors in FragmentStorage methods (#9011)
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
Due: no-relative-imports

Remove mistakenly added whitespace
  lib/streamlit/runtime/runtime.py
Due: no-relative-imports

Always add fragment_ids to set (#9069)
  lib/streamlit/runtime/fragment.py
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
Due: no-relative-imports

Fix duplicate dialog fragment id (#9066)
  lib/tests/streamlit/runtime/fragment_test.py
Due: no-relative-imports

Fix fragment exception impacts queued fragments (#9041)
  lib/tests/streamlit/runtime/fragment_test.py
Due: no-relative-imports

De-experimentalize fragment
  lib/streamlit/__init__.py
  lib/streamlit/elements/dialog_decorator.py
  lib/tests/streamlit/elements/layouts_test.py
  lib/tests/streamlit/streamlit_test.py
Due: no-relative-imports

Address feedback
  lib/streamlit/elements/dialog_decorator.py
  lib/tests/streamlit/elements/layouts_test.py
Due: no-relative-imports

Update e2e test
  e2e_playwright/st_dialog.py
Due: no-relative-imports

De-experimentalize st.dialog (#9020)
  e2e_playwright/st_dialog.py
  lib/streamlit/__init__.py
  lib/streamlit/elements/dialog_decorator.py
  lib/streamlit/runtime/scriptrunner/script_run_context.py
  lib/tests/streamlit/elements/layouts_test.py
  lib/tests/streamlit/streamlit_test.py
Due: no-relative-imports

whoops should be 0
  e2e_playwright/st_tabs_test.py
Due: no-relative-imports

so confused
  e2e_playwright/st_tabs_test.py
Due: no-relative-imports

lets see if manually clicking on it before the screenshot fixes things?
  e2e_playwright/st_tabs_test.py
Due: no-relative-imports

as hacky as this is, i think it needs to click another one then the first one
  e2e_playwright/st_tabs_test.py
Due: no-relative-imports

fixing map width bugs
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/elements/DeckGlJsonChart/DeckGlJsonChart.tsx
Due: prettier, typecheck

okay actually selecting tabs now, lets see
  e2e_playwright/st_tabs_test.py
Due: no-relative-imports

removing extra newline
  e2e_playwright/st_tabs_test.py
Due: no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:9951946084
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Only expose selected objects in `components` module (#8873)
  lib/streamlit/components/v1/components.py
Due: no-relative-imports

Updating constraints. Github run id:9963995126
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Updating constraints. Github run id:9969374649
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Update the feedback widget design
  frontend/lib/src/components/shared/BaseButton/styled-components.ts
  lib/streamlit/elements/widgets/button_group.py
Due: prettier, typecheck, no-relative-imports

mostly working initial refactor pre-cleanup
  frontend/lib/src/components/widgets/NumberInput/NumberInput.tsx
Due: prettier, typecheck

Update snapshots
  e2e_playwright/__snapshots__/linux/st_feedback_test/st_feedback-faces[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_feedback_test/st_feedback-faces[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_feedback_test/st_feedback-faces[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_feedback_test/st_feedback-faces[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_feedback_test/st_feedback-faces[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_feedback_test/st_feedback-faces[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_feedback_test/st_feedback-stars[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_feedback_test/st_feedback-stars[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_feedback_test/st_feedback-stars[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_feedback_test/st_feedback-stars[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_feedback_test/st_feedback-stars[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_feedback_test/st_feedback-stars[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_feedback_test/st_feedback-thumbs[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_feedback_test/st_feedback-thumbs[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_feedback_test/st_feedback-thumbs[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_feedback_test/st_feedback-thumbs[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_feedback_test/st_feedback-thumbs[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_feedback_test/st_feedback-thumbs[light_theme-webkit].png
Due: none

cleaning up and adding some tests
  frontend/lib/src/components/widgets/NumberInput/NumberInput.test.tsx
  frontend/lib/src/components/widgets/NumberInput/NumberInput.tsx
Due: prettier, typecheck

removing some unecessary tests
  frontend/lib/src/components/widgets/NumberInput/NumberInput.test.tsx
Due: prettier, typecheck

Update highlight style in tests
  e2e_playwright/st_feedback_test.py
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.test.tsx
Due: prettier, typecheck, no-relative-imports

some more cleanups
  frontend/lib/src/components/widgets/NumberInput/NumberInput.tsx
Due: prettier, typecheck

moving the helpers to top to appease gh auto comments even though they get hoisted
  frontend/lib/src/components/widgets/NumberInput/NumberInput.tsx
Due: prettier, typecheck

attempting to appease linter
  frontend/lib/src/components/widgets/NumberInput/NumberInput.tsx
Due: prettier, typecheck

this line is no longer needed
  frontend/lib/src/components/core/Block/Block.tsx
Due: prettier, typecheck
