Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Add tzdata as explicit test dependency in pyproject.toml
  pyproject.toml
Due: none

Add Cursor Cloud environment configuration
  .cursor/.gitignore
  .cursor/Dockerfile
  .cursor/environment.json
Due: none

Refine AGENTS.md: add emphasis and simplify Cloud section
  AGENTS.md
Due: none

Fix checklist table header format
  specs/2026-05-14-grid-layout/product-spec.md
Due: none

Add grid layout product spec
  specs/2026-05-14-grid-layout/product-spec.md
Due: none

Simplify issue link format in grid layout spec
  specs/2026-05-14-grid-layout/product-spec.md
Due: none

fix: correct import for wait_for_app_run in lazy dataframe test
  e2e_playwright/st_dataframe_lazy_test.py
Due: no-relative-imports

[feature] Add lazy loading support for st.dataframe
  e2e_playwright/st_dataframe_lazy.py
  e2e_playwright/st_dataframe_lazy_test.py
  frontend/lib/src/BackendOperationClient.ts
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
  frontend/lib/src/components/widgets/DataFrame/LazyDataframeCache.ts
  frontend/lib/src/components/widgets/DataFrame/columns/utils.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useDataFrameCapabilities.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useLazyColumnSort.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useLazyDataLoader.ts
  lib/streamlit/dataframe/__init__.py
  lib/streamlit/dataframe/source.py
  lib/streamlit/elements/arrow.py
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/dataframe_chunk_handler.py
  lib/streamlit/runtime/dataframe_source_manager.py
  lib/tests/streamlit/dataframe/__init__.py
  lib/tests/streamlit/dataframe/source_test.py
  lib/tests/streamlit/runtime/dataframe_chunk_handler_test.py
  lib/tests/streamlit/runtime/dataframe_source_manager_test.py
  proto/streamlit/proto/BackMsg.proto
  proto/streamlit/proto/Dataframe.proto
  proto/streamlit/proto/ForwardMsg.proto
Due: prettier, typecheck, no-relative-imports

perf: avoid materializing entire Polars DataFrame for schema
  lib/streamlit/dataframe/source.py
Due: no-relative-imports

fix: disable search and select-all hotkeys for lazy dataframes
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
  frontend/lib/src/components/widgets/DataFrame/hooks/useLazyDataLoader.ts
Due: prettier, typecheck

Address PR review comments for lazy dataframe loading
  e2e_playwright/st_dataframe_lazy_test.py
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
  frontend/lib/src/components/widgets/DataFrame/hooks/useLazyColumnSort.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useLazyDataLoader.ts
  lib/streamlit/dataframe/source.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
Due: prettier, typecheck, no-relative-imports

fix: address PR review comments for lazy dataframe loading
  lib/streamlit/dataframe/source.py
  lib/streamlit/elements/arrow.py
  lib/streamlit/runtime/dataframe_chunk_handler.py
  lib/streamlit/runtime/dataframe_source_manager.py
  lib/tests/streamlit/runtime/dataframe_source_manager_test.py
  lib/tests/streamlit/typing/dataframe_types.py
Due: no-relative-imports

fix: disable auto-lazy mode in truncation test
  lib/tests/streamlit/dataframe_util_test.py
Due: no-relative-imports

fix: use ThreadState.get().fragment_id after rebase
  lib/streamlit/elements/arrow.py
Due: no-relative-imports

fix: address PR review comments for lazy dataframe loading
  frontend/lib/src/components/widgets/DataFrame/LazyDataframeCache.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useLazyColumnSort.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useLazyDataLoader.ts
  lib/streamlit/dataframe/source.py
  lib/tests/streamlit/dataframe/source_test.py
Due: prettier, typecheck, no-relative-imports

fix: rename dataframe package to dataframe_sources to avoid conflict
  lib/streamlit/dataframe_sources/__init__.py
  lib/streamlit/dataframe_sources/source.py
  lib/streamlit/elements/arrow.py
  lib/streamlit/runtime/dataframe_chunk_handler.py
  lib/streamlit/runtime/dataframe_source_manager.py
  lib/tests/streamlit/dataframe/__init__.py
  lib/tests/streamlit/dataframe_sources/source_test.py
  lib/tests/streamlit/runtime/dataframe_chunk_handler_test.py
Due: no-relative-imports

Update dataframe lazy load specs with prototype learnings
  specs/2026-05-07-dataframe-lazy-load/product-spec.md
  specs/2026-05-07-dataframe-lazy-load/tech-spec.md
Due: none

Some tweaks
  lib/streamlit/web/server/starlette/starlette_app_utils.py
  lib/streamlit/web/server/starlette/starlette_auth_routes.py
  lib/streamlit/web/server/starlette/starlette_server_config.py
  lib/tests/streamlit/web/server/starlette/starlette_auth_routes_test.py
Due: no-relative-imports

Update
  lib/tests/streamlit/web/server/starlette/starlette_app_utils_test.py
Due: no-relative-imports

Add repository variable for AI PR review models
  .github/workflows/ai-pr-review.yml
Due: none

Update
  lib/streamlit/auth_util.py
  lib/streamlit/web/server/starlette/starlette_auth_routes.py
  lib/tests/streamlit/auth_util_test.py
  lib/tests/streamlit/web/server/starlette/starlette_auth_routes_test.py
Due: no-relative-imports

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-dynamic_updated[firefox].png
Due: none

fix: address Cursor bot review comments for MermaidChart
  frontend/lib/src/components/shared/StreamlitMarkdown/MermaidChart.tsx
Due: prettier, typecheck

[chore] AI-assisted flaky E2E test fixes
  e2e_playwright/st_date_input_test.py
  e2e_playwright/theming/theme_chart_colors_test.py
Due: no-relative-imports

fix: pin protobufjs to 8.2.0
  frontend/lib/package.json
  frontend/yarn.lock
Due: none

Update protobufjs dependencies to latest versions
  .github/dependabot.yml
  NOTICES
  frontend/lib/package.json
  frontend/protobuf/package.json
  frontend/yarn.lock
Due: none

Add dependency groups to dependabot config
  .github/dependabot.yml
Due: none

fix: move emotion-icons group before emotion to take precedence
  .github/dependabot.yml
Due: none

Remove emotion-icons group (handled by emotion group)
  .github/dependabot.yml
Due: none

Fix TypeScript type errors after protobufjs update
  frontend/connection/src/StaticConnection.test.tsx
  frontend/lib/src/components/core/Block/StyledElementContainerLayoutWrapper.tsx
  frontend/lib/src/components/widgets/BidiComponent/utils/theme.test.ts
  frontend/lib/src/components/widgets/CustomComponent/componentUtils.test.ts
Due: prettier, typecheck

refactor: Extract shared extractLayoutSubElement helper
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/core/Block/StyledElementContainerLayoutWrapper.tsx
  frontend/lib/src/components/core/Layout/useLayoutStyles.ts
Due: prettier, typecheck

First pass
  e2e_playwright/st_progress_test.py
  frontend/lib/package.json
  frontend/lib/src/components/shared/ProgressBar/ProgressBar.test.tsx
  frontend/lib/src/components/shared/ProgressBar/ProgressBar.tsx
  frontend/lib/src/components/shared/ProgressBar/styled-components.ts
  frontend/lib/src/components/shared/ProgressBar/types.ts
  frontend/lib/src/components/widgets/CameraInput/CameraInputButton.tsx
  frontend/yarn.lock
Due: prettier, typecheck, no-relative-imports

Update notices
  NOTICES
Due: none

Address comments
  frontend/lib/src/components/shared/ProgressBar/ProgressBar.test.tsx
  frontend/lib/src/components/shared/ProgressBar/ProgressBar.tsx
  frontend/lib/src/components/shared/ProgressBar/styled-components.ts
Due: prettier, typecheck

Fix transition & borderRadius
  frontend/lib/src/components/shared/ProgressBar/ProgressBar.tsx
  frontend/lib/src/components/shared/ProgressBar/styled-components.ts
Due: prettier, typecheck

Update snaps
  e2e_playwright/__snapshots__/linux/custom_dark_sidebar_theme_test/custom_dark_sidebar_theme[firefox].png
  e2e_playwright/__snapshots__/linux/custom_dark_sidebar_theme_test/custom_dark_sidebar_theme_auto[firefox].png
  e2e_playwright/__snapshots__/linux/custom_dark_theme_test/custom_dark_themed_app[firefox].png
  e2e_playwright/__snapshots__/linux/custom_dark_theme_test/custom_light_theme_no_light_configs[firefox].png
  e2e_playwright/__snapshots__/linux/custom_dark_theme_test/custom_theme_auto_dark[firefox].png
Due: none

[feat][ParallelFragments] Add ParallelFragmentCoordinator with ctx propagation
  lib/streamlit/config.py
  lib/streamlit/runtime/fragment.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/streamlit/runtime/scriptrunner_utils/script_run_context.py
  lib/tests/streamlit/config_test.py
  lib/tests/streamlit/runtime/parallel_fragment_coordinator_test.py
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
  lib/tests/streamlit/runtime/scriptrunner/test_data/coordinator_id_capture.py
  lib/tests/streamlit/runtime/scriptrunner/test_data/rerun_once_then_finish.py
  lib/tests/streamlit/runtime/scriptrunner_utils/script_run_context_test.py
Due: no-relative-imports

Fix Vega-Lite chart tooltips in dialogs
  frontend/lib/src/components/elements/ArrowVegaLiteChart/styled-components.ts
Due: prettier, typecheck

Add e2e test for the layered chart hit functionality
  e2e_playwright/st_dialog.py
  e2e_playwright/st_dialog_test.py
Due: no-relative-imports

Address feedback
  frontend/lib/src/components/shared/ProgressBar/ProgressBar.test.tsx
  frontend/lib/src/components/shared/ProgressBar/ProgressBar.tsx
  frontend/lib/src/components/shared/ProgressBar/styled-components.ts
Due: prettier, typecheck

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
