Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Fix path
  frontend/lib/src/components/shared/AlertContainer/AlertContainer.tsx
Due: prettier, typecheck

Fix notices
  NOTICES
Due: none

Remove unnecessary package.json dependencies
  frontend/package.json
Due: none

Fix package.json versions
  frontend/app/package.json
  frontend/lib/package.json
Due: none

Fix yarn.lock and streamlit dialog snapshots
  frontend/app/src/components/StreamlitDialog/__snapshots__/StreamlitDialog.test.tsx.snap
  frontend/yarn.lock
Due: none

Respect current existing env var in build_info.py
  .github/scripts/build_info.py
Due: no-relative-imports

fixup! Respect current existing env var in build_info.py
  .github/scripts/build_info.py
Due: no-relative-imports

Fix eslintrc as yarn build was giving bad messages
  frontend/.eslintrc
Due: none

Add a comment for craco.config.js
  frontend/app/craco.config.js
Due: prettier, typecheck

Change eslintrc to eslintrc.js in order to make the eslint relative to each project
  frontend/.eslintrc.js
  scripts/check_license_headers.py
Due: prettier, typecheck, no-relative-imports

Remove console statement that I used for testing
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
Due: prettier, typecheck

Slightly simplify bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

Add support for setting the date input format
  frontend/src/lib/components/widgets/DateInput/DateInput.tsx
  lib/streamlit/elements/time_widgets.py
  proto/streamlit/proto/DateInput.proto
Due: prettier, typecheck, eslint, no-relative-imports

Move format
  lib/streamlit/elements/time_widgets.py
Due: no-relative-imports

Fix unit tests
  frontend/src/lib/components/widgets/DateInput/DateInput.test.tsx
Due: prettier, typecheck, eslint

Fix date formats regex
  lib/streamlit/elements/time_widgets.py
Due: no-relative-imports

Add range support to date input
  frontend/src/lib/components/widgets/DateInput/DateInput.tsx
Due: prettier, typecheck, eslint

Fix docstring comment
  frontend/src/lib/components/widgets/DateInput/DateInput.tsx
Due: prettier, typecheck, eslint

Respect current existing env var in build_info.py (#6906)
  .github/scripts/build_info.py
Due: no-relative-imports

Updating constraints. Github run id:5509028629
  constraints-3.10.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Add unit tests
  lib/tests/streamlit/elements/date_input_test.py
Due: no-relative-imports

Update test
  lib/tests/streamlit/elements/date_input_test.py
Due: no-relative-imports

Add e2e tests
  e2e/scripts/st_date_input.py
  e2e/specs/st_date_input.spec.js
Due: typecheck, no-relative-imports

Update formats
  e2e/scripts/st_date_input.py
Due: no-relative-imports

Update tests
  e2e/scripts/st_date_input.py
  e2e/specs/st_date_input.spec.js
  frontend/src/lib/components/widgets/DateInput/DateInput.test.tsx
  frontend/src/lib/components/widgets/DateInput/DateInput.tsx
Due: prettier, typecheck, eslint, no-relative-imports

Fix e2e tests
  e2e/scripts/st_date_input.py
  e2e/specs/st_date_input.spec.js
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input8-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input8.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_8-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_8.snap.png
Due: typecheck, no-relative-imports

Add snapshots
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input10-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input10.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input11-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input11.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input8-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input8.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input9-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input9.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_11-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_11.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_8-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_8.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_9-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_9.snap.png
Due: none

Fix test
  e2e/scripts/st_date_input.py
Due: no-relative-imports

Fix e2e tests
  e2e/specs/st_date_input.spec.js
Due: typecheck

Fix pathing alias nits
  frontend/lib/src/dataframes/Quiver.test.ts
  frontend/lib/src/hostComm/HostCommunicationManager.tsx
Due: prettier, typecheck

upd docstrings
  lib/streamlit/runtime/uploaded_file_manager.py
Due: no-relative-imports

Fix minor comments from Lukas
  frontend/app/craco.config.js
  frontend/lib/package.json
  frontend/lib/src/util/log.ts
  frontend/package.json
Due: prettier, typecheck

Apply review feedback
  frontend/src/lib/components/widgets/DateInput/DateInput.test.tsx
  frontend/src/lib/components/widgets/DateInput/DateInput.tsx
Due: prettier, typecheck, eslint

changes after review
  lib/streamlit/elements/camera_input.py
  lib/streamlit/elements/file_uploader.py
  lib/streamlit/runtime/uploaded_file_manager.py
  lib/tests/streamlit/elements/file_uploader_test.py
Due: no-relative-imports

Fix warnings
  frontend/src/lib/components/shared/AlertContainer/AlertContainer.tsx
Due: prettier, typecheck, eslint

add docstrings for MemoryUploadedFileManager
  lib/streamlit/runtime/memory_uploaded_file_manager.py
Due: no-relative-imports

StatusPanel is a DeltaGenerator
  lib/streamlit/delta_generator.py
  lib/streamlit/elements/status_panel.py
  test.py
Due: no-relative-imports

Fix baseweb warnings by using longhand properties (#6976)
  frontend/src/lib/components/shared/AlertContainer/AlertContainer.tsx
Due: prettier, typecheck, eslint

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
