Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Update st_table E2E snapshots for width/height support
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-11[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-11[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-11[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-14[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-14[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-14[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-22[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-22[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-22[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-23[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-23[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-23[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-25[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-25[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-25[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-32[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-32[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-32[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-6[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-6[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-6[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-9[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-9[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-9[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-styler_tooltip[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-styler_tooltip[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-styler_tooltip[webkit].png
Due: none

Fix autofix workflow to handle empty bot PRs and trigger CI
  .github/workflows/autofix.yml
  .github/workflows/bump-component-v2-lib.yml
  .github/workflows/update-browserslist-db.yml
  .github/workflows/update-emojis-material-icons.yml
Due: none

Add component-lib to dependabot npm updates
  .github/dependabot.yml
Due: none

Update .github/workflows/autofix.yml
  .github/workflows/autofix.yml
Due: none

Use yarn exec for eslint in check target
  Makefile
Due: none

Add E2E tests for st.table width/height and document fallback constants
  e2e_playwright/st_table.py
  e2e_playwright/st_table_test.py
  frontend/lib/src/components/elements/ArrowTable/ArrowTable.tsx
Due: prettier, typecheck, no-relative-imports

Centralize eslint and prettier in root frontend package
  frontend/app/package.json
  frontend/component-v2-lib/package.json
  frontend/connection/package.json
  frontend/lib/package.json
  frontend/package.json
  frontend/utils/package.json
  frontend/yarn.lock
Due: none

Use yarn run -T for sub-package eslint scripts
  frontend/app/package.json
  frontend/component-v2-lib/package.json
  frontend/connection/package.json
  frontend/lib/package.json
  frontend/package.json
  frontend/utils/package.json
  frontend/yarn.lock
Due: none

dynamic-containers-mutable-delta-generators
  lib/streamlit/__init__.py
  lib/streamlit/delta_generator_singletons.py
  lib/streamlit/elements/layouts.py
  lib/streamlit/elements/lib/mutable_expander_container.py
  lib/streamlit/elements/lib/mutable_popover_container.py
  lib/streamlit/elements/lib/mutable_tab_container.py
  lib/tests/streamlit/typing/expander_container_types.py
  lib/tests/streamlit/typing/popover_container_types.py
  lib/tests/streamlit/typing/tab_container_types.py
Due: no-relative-imports

Clarify typing test conventions in agent rules
  .cursor/rules/python_lib.mdc
  .github/instructions/python_lib.instructions.md
  lib/streamlit/AGENTS.md
Due: none

Add Linux E2E snapshots for st.table width/height tests
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-35[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-35[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-35[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-36[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-36[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-36[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-37[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-37[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-37[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-38[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-38[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-38[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_dimensions[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_dimensions[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_dimensions[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_dimensions_scrolled[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_dimensions_scrolled[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_dimensions_scrolled[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_height[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_height[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_height[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_height_scrolled[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_height_scrolled[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_height_scrolled[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_width[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_width[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_width[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_width_scrolled[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_width_scrolled[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_width_scrolled[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-multi_index_fixed_dimensions[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-multi_index_fixed_dimensions[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-multi_index_fixed_dimensions[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-multi_index_scrolled[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-multi_index_scrolled[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-multi_index_scrolled[webkit].png
Due: none

Clarify anti-regression test assertion rules
  .cursor/rules/python_lib.mdc
  .cursor/rules/python_tests.mdc
  .github/instructions/python_lib.instructions.md
  .github/instructions/python_tests.instructions.md
  lib/streamlit/AGENTS.md
  lib/tests/AGENTS.md
Due: none

Increase table column max width from 20rem to 25rem
  frontend/lib/src/components/elements/ArrowTable/styled-components.ts
  frontend/lib/src/theme/primitives/sizes.ts
Due: prettier, typecheck

Fix multi-index sticky column overlap by enforcing min-width
  frontend/lib/src/components/elements/ArrowTable/ArrowTable.tsx
  frontend/lib/src/components/elements/ArrowTable/styled-components.ts
Due: prettier, typecheck

docs: clarify sticky index behavior in st.table height parameter
  lib/streamlit/elements/arrow.py
Due: no-relative-imports

Simplify st.table width/height E2E tests
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-35[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-35[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-35[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-36[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-36[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-36[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-37[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-37[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-37[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-38[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-38[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-38[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_dimensions[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_dimensions[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_dimensions[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_dimensions_scrolled[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_dimensions_scrolled[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_dimensions_scrolled[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_height[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_height[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_height[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_height_scrolled[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_height_scrolled[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_height_scrolled[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_width[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_width[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_width[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_width_scrolled[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_width_scrolled[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_width_scrolled[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-multi_index_fixed_dimensions[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-multi_index_fixed_dimensions[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-multi_index_fixed_dimensions[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-multi_index_scrolled[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-multi_index_scrolled[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-multi_index_scrolled[webkit].png
  e2e_playwright/st_table.py
  e2e_playwright/st_table_test.py
Due: no-relative-imports

Add Linux E2E snapshots for simplified st.table width/height tests
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-35[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-35[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-35[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-36[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-36[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-36[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-content_width[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-content_width[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-content_width[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_dimensions_scrolled[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_dimensions_scrolled[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-fixed_dimensions_scrolled[webkit].png
Due: none

Mark test_recording_lifecycle as flaky to handle Firefox browser crashes
  e2e_playwright/st_audio_input_test.py
Due: no-relative-imports

Fix markdown syntax characters in widget labels (issue #7359)
  e2e_playwright/st_button.py
  e2e_playwright/st_button_test.py
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
Due: prettier, typecheck, no-relative-imports

Enhance st.logo to support middle-click navigation to home page (#13731)
  frontend/app/src/components/Logo/LogoComponent.tsx
Due: prettier, typecheck

Update frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
Due: prettier, typecheck

Add clarifying comments to autofix workflow
  .github/workflows/autofix.yml
Due: none

Pause component-lib dependency updates, enable security updates only
  .github/dependabot.yml
Due: none

Update .github/dependabot.yml
  .github/dependabot.yml
Due: none

Add lint and lint:fix scripts to root frontend package
  Makefile
  frontend/package.json
Due: none

Add typing tests for text_input and text_area, standardize naming
  lib/tests/streamlit/typing/README.md
  lib/tests/streamlit/typing/feedback_types.py
  lib/tests/streamlit/typing/pills_types.py
  lib/tests/streamlit/typing/segmented_control_types.py
  lib/tests/streamlit/typing/text_area_types.py
  lib/tests/streamlit/typing/text_input_types.py
Due: no-relative-imports

Add addressing-pr-review-comments skill
  .claude/.gitignore
  .claude/skills/addressing-pr-review-comments/SKILL.md
Due: none

Add AGENTS.md and CLAUDE.md guidance for AI agents working with skills
  .claude/.gitignore
  .claude/skills/AGENTS.md
  .claude/skills/CLAUDE.md
Due: none

Fix code blocks in st.table to fill cell width
  frontend/lib/src/components/elements/ArrowTable/styled-components.ts
Due: prettier, typecheck

[feat] Better frontend message caching for perf
  agent-knowledge/references/guides/forward-message-cache-referential-stability.md
  frontend/connection/src/ForwardMessageCache.test.ts
  frontend/connection/src/ForwardMessageCache.ts
  frontend/connection/src/ForwardMessageCacheInstrumentation.ts
  frontend/connection/src/ForwardMessagePayloadFreezer.ts
Due: prettier, typecheck

[feat] Render tree structural sharing for perf
  agent-knowledge/references/guides/render-tree-structural-sharing-referential-stability.md
  frontend/app/src/App.tsx
  frontend/lib/src/components/core/Block/utils.test.ts
  frontend/lib/src/components/core/Block/utils.ts
  frontend/lib/src/render-tree/AppNode.interface.ts
  frontend/lib/src/render-tree/AppRoot.test.ts
  frontend/lib/src/render-tree/AppRoot.ts
  frontend/lib/src/render-tree/BlockNode.ts
  frontend/lib/src/render-tree/ElementNode.ts
  frontend/lib/src/render-tree/NodeTouchTracking.ts
  frontend/lib/src/render-tree/visitors/ClearStaleNodeVisitor.ts
  frontend/lib/src/render-tree/visitors/SetNodeByDeltaPathVisitor.test.ts
  frontend/lib/src/render-tree/visitors/SetNodeByDeltaPathVisitor.ts
Due: prettier, typecheck

Clean up
  e2e_playwright/st_checkbox_test.py
  e2e_playwright/st_color_picker_test.py
  e2e_playwright/st_toggle_test.py
  frontend/lib/src/components/widgets/ColorPicker/ColorPicker.tsx
  lib/streamlit/runtime/state/session_state.py
  lib/tests/streamlit/runtime/state/session_state_test.py
  lib/tests/streamlit/typing/checkbox_types.py
  proto/streamlit/proto/Checkbox.proto
Due: prettier, typecheck, no-relative-imports

Fix default handling
  lib/streamlit/runtime/state/session_state.py
  lib/tests/streamlit/runtime/state/session_state_test.py
Due: no-relative-imports

First pass
  e2e_playwright/st_checkbox.py
  e2e_playwright/st_checkbox_test.py
  e2e_playwright/st_toggle.py
  e2e_playwright/st_toggle_test.py
  frontend/lib/src/components/widgets/Checkbox/Checkbox.test.tsx
  frontend/lib/src/components/widgets/Checkbox/Checkbox.tsx
  lib/streamlit/elements/widgets/checkbox.py
  lib/tests/streamlit/elements/checkbox_test.py
  proto/streamlit/proto/Checkbox.proto
Due: prettier, typecheck, no-relative-imports

regex nit
  e2e_playwright/st_toggle_test.py
Due: no-relative-imports

First pass
  e2e_playwright/st_text_area.py
  e2e_playwright/st_text_area_test.py
  e2e_playwright/st_text_input.py
  e2e_playwright/st_text_input_test.py
  frontend/lib/src/components/widgets/TextArea/TextArea.test.tsx
  frontend/lib/src/components/widgets/TextArea/TextArea.tsx
  frontend/lib/src/components/widgets/TextInput/TextInput.test.tsx
  frontend/lib/src/components/widgets/TextInput/TextInput.tsx
  lib/streamlit/elements/widgets/text_widgets.py
  lib/tests/streamlit/elements/text_area_test.py
  lib/tests/streamlit/elements/text_input_test.py
  proto/streamlit/proto/TextArea.proto
  proto/streamlit/proto/TextInput.proto
Due: prettier, typecheck, no-relative-imports

Consolidate `prettier` dependencies to frontend workspace root
  .pre-commit-config.yaml
  frontend/app/package.json
  frontend/component-v2-lib/package.json
  frontend/connection/package.json
  frontend/eslint-plugin-streamlit-custom/package.json
  frontend/lib/package.json
  frontend/package.json
  frontend/utils/package.json
  frontend/yarn.lock
  scripts/sync_vscode_devcontainer.py
Due: no-relative-imports

Update prettier-frontend hook to use yarn exec
  .pre-commit-config.yaml
Due: none
