Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Add comment explaining
  frontend/src/lib/SegmentMetricsManager.ts
Due: prettier, typecheck, eslint

Add back parsedFonts check
  frontend/src/theme/utils.ts
Due: prettier, typecheck, eslint

Use new object
  frontend/src/lib/SegmentMetricsManager.test.ts
Due: prettier, typecheck, eslint

Clarify what telemetry data our backend stores (#6463)
  frontend/src/lib/SegmentMetricsManager.test.ts
  frontend/src/lib/SegmentMetricsManager.ts
Due: prettier, typecheck, eslint

Add transformers
  lib/streamlit/runtime/metrics_util.py
Due: no-relative-imports

Add reserved
  proto/streamlit/proto/NewSession.proto
Due: none

Fully remove email from new session message (#6516)
  frontend/src/App.test.tsx
  lib/streamlit/runtime/app_session.py
  proto/streamlit/proto/NewSession.proto
Due: prettier, typecheck, eslint, no-relative-imports

Fix code block font change (#6535)
  frontend/src/theme/utils.ts
Due: prettier, typecheck, eslint

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Add additional attributions
  lib/streamlit/runtime/metrics_util.py
Due: no-relative-imports

Updating constraints. Github run id:4762143931
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.9.txt
Due: none

Further st.experimental_connection polish omnibus PR (#6530)
  lib/streamlit/connections/__init__.py
  lib/streamlit/connections/base_connection.py
  lib/streamlit/connections/snowpark_connection.py
  lib/streamlit/connections/sql_connection.py
  lib/streamlit/runtime/connection_factory.py
  lib/test-requirements.txt
  lib/tests/streamlit/connections/snowpark_connection_test.py
  lib/tests/streamlit/connections/sql_connection_test.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

Update docstrings for base connection and snowpark connection
  lib/streamlit/connections/base_connection.py
  lib/streamlit/connections/snowpark_connection.py
Due: no-relative-imports

Add SQL docstring updates
  lib/streamlit/connections/snowpark_connection.py
  lib/streamlit/connections/sql_connection.py
Due: no-relative-imports

Fix reStructuredText issues in connection_factory docstrings
  lib/streamlit/runtime/connection_factory.py
Due: no-relative-imports

Add connection_factory docstrings
  lib/streamlit/runtime/connection_factory.py
Due: no-relative-imports

Fix reStructuredText issues in ExperimentalBaseConnection docstrings
  lib/streamlit/connections/base_connection.py
Due: no-relative-imports

Fix reStructuredText issues in Snowpark docstrings
  lib/streamlit/connections/snowpark_connection.py
Due: no-relative-imports

Fix reStructuredText issues in SQL docstrings
  lib/streamlit/connections/sql_connection.py
Due: no-relative-imports

Address PR feedback
  lib/streamlit/connections/sql_connection.py
  lib/streamlit/runtime/connection_factory.py
Due: no-relative-imports

Post-rebase cleanups
  lib/streamlit/connections/base_connection.py
  lib/streamlit/connections/snowpark_connection.py
  lib/streamlit/connections/sql_connection.py
  lib/streamlit/runtime/connection_factory.py
Due: no-relative-imports

More cleanups from omnibus changes
  lib/streamlit/connections/sql_connection.py
Due: no-relative-imports

Add explicit guidance to not initialize connections directly
  lib/streamlit/connections/snowpark_connection.py
  lib/streamlit/connections/sql_connection.py
Due: no-relative-imports

Add example and fix note formatting on snowparkconnection.session
  lib/streamlit/connections/snowpark_connection.py
Due: no-relative-imports

Formatting fixes
  lib/streamlit/connections/snowpark_connection.py
Due: no-relative-imports

Update list of attributions
  lib/streamlit/runtime/metrics_util.py
Due: no-relative-imports

Remove getting latest vizjs script bc it's not needed anymore
  scripts/get_latest_vizjs.sh
Due: none

Add additional attributions (#6536)
  lib/streamlit/runtime/metrics_util.py
Due: no-relative-imports

Updating constraints. Github run id:4769261722
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Make random change to get CI to run
  README.md
  lib/setup.py
Due: no-relative-imports

Add implementation of SQL connection (#6381)
  lib/streamlit/connections/__init__.py
  lib/streamlit/connections/sql_connection.py
  lib/streamlit/runtime/connection_factory.py
  lib/tests/streamlit/connections/sql_connection_test.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

Start work on BaseConnection abstract class (#6346)
  lib/streamlit/connections/base_connection.py
  lib/streamlit/runtime/connection_factory.py
  lib/tests/streamlit/connections/__init__.py
  lib/tests/streamlit/connections/base_connection_test.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

Make slight improvement to missing requirement handling (#6395)
  lib/streamlit/runtime/connection_factory.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

Reload the connection when its secrets section changes (#6359)
  lib/streamlit/connections/base_connection.py
  lib/tests/streamlit/connections/base_connection_test.py
Due: no-relative-imports

Add implementation of Snowpark connection (#6388)
  .github/workflows/python-versions.yml
  lib/streamlit/connections/__init__.py
  lib/streamlit/connections/base_connection.py
  lib/streamlit/connections/snowpark_connection.py
  lib/streamlit/runtime/connection_factory.py
  lib/tests/streamlit/connections/snowpark_connection_test.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

Add a skeleton implementation of st.experimental_connection (#6332)
  lib/streamlit/__init__.py
  lib/streamlit/connections/__init__.py
  lib/streamlit/connections/base_connection.py
  lib/streamlit/runtime/connection_factory.py
  lib/tests/streamlit/runtime/connection_factory_test.py
  lib/tests/streamlit/runtime/metrics_util_test.py
  lib/tests/streamlit/streamlit_test.py
Due: no-relative-imports

Rework connection factory function API (#6436)
  lib/streamlit/connections/base_connection.py
  lib/streamlit/connections/snowpark_connection.py
  lib/streamlit/connections/sql_connection.py
  lib/streamlit/runtime/connection_factory.py
  lib/tests/streamlit/connections/base_connection_test.py
  lib/tests/streamlit/connections/snowpark_connection_test.py
  lib/tests/streamlit/connections/sql_connection_test.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

Don't always retry on .query() errors for SQL and Snowpark connections (#6511)
  lib/streamlit/connections/snowpark_connection.py
  lib/streamlit/connections/sql_connection.py
  lib/tests/streamlit/connections/snowpark_connection_test.py
  lib/tests/streamlit/connections/sql_connection_test.py
Due: no-relative-imports

Add retry behavior to the SQL/Snowpark read helper methods (#6468)
  lib/streamlit/connections/snowpark_connection.py
  lib/streamlit/connections/sql_connection.py
  lib/streamlit/runtime/connection_factory.py
  lib/test-requirements.txt
  lib/tests/streamlit/connections/snowpark_connection_test.py
  lib/tests/streamlit/connections/sql_connection_test.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
