Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Remove unnecessary
  frontend/st-lib/config/webpack.config.js
Due: prettier, typecheck

docstring fix
  frontend/src/lib/WebsocketConnection.tsx
Due: prettier, typecheck, eslint

SessionInfo is no longer a singleton
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/core/StreamlitDialog/StreamlitDialog.test.tsx
  frontend/src/lib/SessionInfo.test.ts
  frontend/src/lib/SessionInfo.ts
Due: prettier, typecheck, eslint

WebsocketConnection takes SessionInfo as a param
  frontend/src/lib/WebsocketConnection.test.tsx
  frontend/src/lib/WebsocketConnection.tsx
Due: prettier, typecheck, eslint

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:4362411693
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Fix mypy cache data api and script runner
  lib/streamlit/runtime/caching/cache_data_api.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
Due: no-relative-imports

fix mypy
  lib/streamlit/runtime/scriptrunner/script_runner.py
Due: no-relative-imports

Fix mypy cache data api and script runner (#6263)
  lib/streamlit/runtime/caching/cache_data_api.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
Due: no-relative-imports

Skip pushing a new history if the new page hash is the same as the current one
  frontend/src/App.test.tsx
  frontend/src/App.tsx
Due: prettier, typecheck, eslint

Refactoring App.test.tsx
  frontend/src/App.test.tsx
Due: prettier, typecheck, eslint

mocks.mockSessionInfoProps
  frontend/src/lib/SessionInfo.test.ts
  frontend/src/lib/WebsocketConnection.test.tsx
  frontend/src/lib/mocks/mocks.ts
Due: prettier, typecheck, eslint

MapboxToken.get takes a SessionInfo instance
  frontend/src/hocs/withMapboxToken/MapboxToken.ts
Due: prettier, typecheck, eslint

mapboxtoken WIP
  frontend/src/hocs/withMapboxToken/withMapboxToken.test.tsx
  frontend/src/hocs/withMapboxToken/withMapboxToken.tsx
Due: prettier, typecheck, eslint

FileUploadClient takes a SessionInfo instance
  frontend/src/lib/FileUploadClient.test.ts
  frontend/src/lib/FileUploadClient.ts
  frontend/src/lib/mocks/mocks.ts
Due: prettier, typecheck, eslint

niceify
  frontend/src/lib/mocks/mocks.ts
Due: prettier, typecheck, eslint

Fix SegmentMetricsManager
  frontend/src/lib/MetricsManagerTestUtils.ts
  frontend/src/lib/SegmentMetricsManager.test.ts
  frontend/src/lib/SegmentMetricsManager.ts
Due: prettier, typecheck, eslint

fix HttpClient.test
  frontend/src/lib/HttpClient.test.ts
Due: prettier, typecheck, eslint

Fix StreamlitDialog.tsx
  frontend/src/components/core/Block/ElementNodeRenderer.test.tsx
  frontend/src/components/core/StreamlitDialog/StreamlitDialog.test.tsx
  frontend/src/components/core/StreamlitDialog/StreamlitDialog.tsx
Due: prettier, typecheck, eslint

ConnectionManager fix
  frontend/src/lib/ConnectionManager.ts
Due: prettier, typecheck, eslint

fix AppView.test.tsx
  frontend/src/components/core/AppView/AppView.test.tsx
Due: prettier, typecheck, eslint

SessionInfo.clearCurrent
  frontend/src/lib/SessionInfo.ts
Due: prettier, typecheck, eslint

Fix MapboxToken.test.ts
  frontend/src/hocs/withMapboxToken/MapboxToken.test.ts
Due: prettier, typecheck, eslint

fix withMapboxToken
  frontend/src/hocs/withMapboxToken/withMapboxToken.test.tsx
  frontend/src/hocs/withMapboxToken/withMapboxToken.tsx
Due: prettier, typecheck, eslint

App + App test updates
  frontend/src/App.test.tsx
  frontend/src/App.tsx
Due: prettier, typecheck, eslint

tweaks
  frontend/src/hocs/withMapboxToken/withMapboxToken.test.tsx
  frontend/src/hocs/withMapboxToken/withMapboxToken.tsx
Due: prettier, typecheck, eslint

Current
  frontend/st-lib/config/webpack.config.js
  frontend/st-lib/package.json
  frontend/st-lib/src/components/core/StreamlitDialog/styled-components.ts
  frontend/st-lib/src/components/shared/TextElements/Text.tsx
  frontend/st-lib/src/components/shared/TextElements/index.tsx
  frontend/st-lib/tsconfig.lib.json
Due: prettier, typecheck

Fix App.tsx and tests
  frontend/src/App.test.tsx
  frontend/src/App.tsx
Due: prettier, typecheck, eslint

tweak
  frontend/src/App.test.tsx
Due: prettier, typecheck, eslint

Fix `make tstypecheck`
  Makefile
Due: none

tweak
  frontend/src/App.tsx
Due: prettier, typecheck, eslint

withMapboxToken: typing
  frontend/src/hocs/withMapboxToken/withMapboxToken.test.tsx
  frontend/src/hocs/withMapboxToken/withMapboxToken.tsx
Due: prettier, typecheck, eslint

Test markdown formatted exceptions
  lib/tests/streamlit/testing/element_tree_test.py
Due: no-relative-imports

add an extra test
  frontend/src/hocs/withMapboxToken/withMapboxToken.test.tsx
  frontend/src/hocs/withMapboxToken/withMapboxToken.tsx
Due: prettier, typecheck, eslint

tweak
  frontend/src/hocs/withMapboxToken/withMapboxToken.tsx
Due: prettier, typecheck, eslint

Fix `make tstypecheck` (#6273)
  Makefile
Due: none

withFullScreenWrapper simplification
  frontend/src/hocs/withFullScreenWrapper/withFullScreenWrapper.test.tsx
  frontend/src/hocs/withFullScreenWrapper/withFullScreenWrapper.tsx
Due: prettier, typecheck, eslint

Change an assertion on window.history.pushState
  frontend/src/App.test.tsx
Due: prettier, typecheck, eslint
