Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

fix: make copy button visible over long code text
  frontend/lib/src/components/elements/CodeBlock/styled-components.ts
Due: prettier, typecheck

Rename the config to showErrorLinks and update the options to auto/true/false
  frontend/app/src/App.tsx
  frontend/app/src/components/StreamlitContextProvider.tsx
  frontend/lib/src/components/core/LibConfigContext.tsx
  frontend/lib/src/components/elements/ExceptionElement/ExceptionElement.test.tsx
  frontend/lib/src/components/elements/ExceptionElement/ExceptionElement.tsx
  frontend/lib/src/test_util.tsx
  lib/streamlit/config.py
  lib/streamlit/runtime/app_session.py
  lib/tests/streamlit/config_test.py
  lib/tests/streamlit/proto_compatibility_test.py
  proto/streamlit/proto/NewSession.proto
Due: prettier, typecheck, no-relative-imports

Add scientific support & tests
  e2e_playwright/st_number_input.py
  e2e_playwright/st_number_input_test.py
  frontend/lib/src/components/widgets/NumberInput/utils.test.ts
  frontend/lib/src/components/widgets/NumberInput/utils.ts
Due: prettier, typecheck, no-relative-imports

First pass
  e2e_playwright/st_number_input_test.py
  frontend/lib/src/components/widgets/NumberInput/NumberInput.test.tsx
  frontend/lib/src/components/widgets/NumberInput/NumberInput.tsx
  frontend/lib/src/components/widgets/NumberInput/utils.test.ts
  frontend/lib/src/components/widgets/NumberInput/utils.ts
Due: prettier, typecheck, no-relative-imports

Switch test order
  e2e_playwright/st_number_input.py
Due: no-relative-imports

Update snapshot
  e2e_playwright/__snapshots__/linux/st_number_input_test/st_number_input-value_none_min_1[dark_theme-chromium].png
Due: none

Fixes
  frontend/lib/src/components/widgets/NumberInput/utils.test.ts
  frontend/lib/src/components/widgets/NumberInput/utils.ts
Due: prettier, typecheck

Add E2E visual snapshot tests for title parameter
  e2e_playwright/st_alert.py
  e2e_playwright/st_alert_test.py
Due: no-relative-imports

fix(test): scroll to middle position to avoid clamping on item removal
  e2e_playwright/st_multiselect_test.py
Due: no-relative-imports

Refactor documentation and add tests for download functionality
  lib/streamlit/elements/widgets/button.py
  lib/streamlit/runtime/file_util.py
  lib/streamlit/runtime/file_util_test.py
  lib/tests/streamlit/runtime/download_data_util_test.py
Due: no-relative-imports

Fix linting error
  frontend/lib/src/components/shared/Icon/styled-components.ts
Due: prettier, typecheck

Ignore Pillow deprecation warning in e2e tests
  e2e_playwright/pytest.ini
Due: none

ignore other warning as well
  e2e_playwright/pytest.ini
Due: none

Extend date input type tests
  lib/tests/streamlit/typing/date_input_types.py
Due: no-relative-imports

Fix
  e2e_playwright/pytest.ini
Due: none

Fix e2e flakiness caused by new year gif
  e2e_playwright/window_config_test.py
Due: no-relative-imports

Update
  lib/tests/streamlit/typing/date_input_types.py
Due: no-relative-imports

Fix spec format
  specs/0001-session-scoped-connections-and-rcr/product-spec.md
Due: none

Fix
  specs/0001-session-scoped-connections-and-rcr/product-spec.md
Due: none

Fix the spec format
  specs/0001-session-scoped-connections-and-rcr/product-spec.md
Due: none

Update
  specs/0001-session-scoped-connections-and-rcr/product-spec.md
  specs/0002-auth-oidc-tokens/product-spec.md
Due: none

Revert
  specs/0001-session-scoped-connections-and-rcr/product-spec.md
Due: none

Fix custom theme when embedded with embed_options
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  frontend/lib/src/index.ts
  frontend/lib/src/theme/utils.test.ts
  frontend/lib/src/theme/utils.ts
Due: prettier, typecheck

Remove duplicate test
  e2e_playwright/st_columns_test.py
Due: no-relative-imports

Fix typing
  e2e_playwright/st_columns.py
Due: no-relative-imports

Address PR comments
  frontend/lib/src/components/widgets/NumberInput/utils.ts
Due: prettier, typecheck

Address AI review feedback: fix JSDoc and dynamic error message
  frontend/lib/src/components/core/LibConfigContext.tsx
  lib/streamlit/runtime/app_session.py
Due: prettier, typecheck, no-relative-imports

First pass - simpler widgets
  frontend/app/src/App.tsx
  frontend/connection/src/WebsocketConnection.tsx
  frontend/lib/src/WidgetStateManager.test.ts
  frontend/lib/src/WidgetStateManager.ts
  frontend/lib/src/components/widgets/Checkbox/Checkbox.tsx
  frontend/lib/src/components/widgets/ColorPicker/ColorPicker.tsx
  frontend/lib/src/components/widgets/NumberInput/NumberInput.tsx
  frontend/lib/src/components/widgets/TextArea/TextArea.tsx
  frontend/lib/src/components/widgets/TextInput/TextInput.tsx
  frontend/lib/src/hooks/useQueryParamBinding.ts
  frontend/lib/src/index.ts
  frontend/lib/src/queryParamSerializers.test.ts
  frontend/lib/src/queryParamSerializers.ts
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/runtime.py
  lib/streamlit/runtime/session_manager.py
  lib/streamlit/runtime/state/common.py
  lib/streamlit/runtime/state/query_param_serializers.py
  lib/streamlit/runtime/state/query_params.py
  lib/streamlit/runtime/state/session_state.py
  lib/streamlit/runtime/state/widgets.py
  lib/streamlit/runtime/websocket_session_manager.py
  lib/streamlit/web/server/browser_websocket_handler.py
  lib/tests/streamlit/runtime/state/query_param_binding_test.py
  lib/tests/streamlit/runtime/state/query_param_serializers_test.py
Due: prettier, typecheck, no-relative-imports

Fixes
  frontend/connection/src/WebsocketConnection.tsx
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.test.tsx
  frontend/lib/src/hooks/useBasicWidgetState.ts
  lib/streamlit/elements/widgets/checkbox.py
  lib/streamlit/runtime/state/query_param_serializers.py
  lib/streamlit/runtime/state/widgets.py
  lib/streamlit/web/server/browser_websocket_handler.py
Due: prettier, typecheck, no-relative-imports

Add host comm handling
  lib/streamlit/runtime/scriptrunner_utils/script_run_context.py
  lib/streamlit/runtime/state/query_params.py
  lib/tests/streamlit/runtime/state/query_params_test.py
Due: no-relative-imports

Add slider/date/time input
  frontend/lib/src/components/widgets/DateInput/DateInput.tsx
  frontend/lib/src/components/widgets/Slider/Slider.tsx
  frontend/lib/src/components/widgets/TimeInput/TimeInput.tsx
  frontend/lib/src/index.ts
  frontend/lib/src/queryParamSerializers.test.ts
  frontend/lib/src/queryParamSerializers.ts
  lib/streamlit/runtime/state/widgets.py
Due: prettier, typecheck, no-relative-imports

Add selectbox/multiselect/selectslider/radio
  lib/streamlit/runtime/state/widgets.py
Due: no-relative-imports
