Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Add baseline snapshots for transparent wrapper visual test
  e2e_playwright/__snapshots__/linux/st_fragment_basics_test/st_fragment_basics-outside_container_transparent_wrapper[chromium].png
  e2e_playwright/__snapshots__/linux/st_fragment_basics_test/st_fragment_basics-outside_container_transparent_wrapper[firefox].png
  e2e_playwright/__snapshots__/linux/st_fragment_basics_test/st_fragment_basics-outside_container_transparent_wrapper[webkit].png
Due: none

Drop placeholder pattern from st.fragment docstring
  lib/streamlit/runtime/fragment.py
Due: no-relative-imports

Fix parent-rerun test to match actual nested fragment behavior
  e2e_playwright/st_fragment_basics_test.py
Due: no-relative-imports

Simplify st.bottom tests to avoid fixed-bar viewport coverage
  e2e_playwright/st_fragment_basics.py
  e2e_playwright/st_fragment_basics_test.py
Due: no-relative-imports

Restore parent-rerun test to expect child writes preserved
  e2e_playwright/st_fragment_basics_test.py
Due: no-relative-imports

Remove force=True workaround from radio test
  e2e_playwright/st_fragment_basics_test.py
Due: no-relative-imports

Add missing click_button import for merged widget persistence test
  e2e_playwright/st_fragment_basics_test.py
Due: no-relative-imports

Remove duplicate visual_container definition causing mypy no-redef error
  e2e_playwright/st_fragment_basics.py
Due: no-relative-imports

Fix form test visibility failure by scrolling into view
  e2e_playwright/st_fragment_basics_test.py
Due: no-relative-imports

Address review comments: remove redundant comments and tidy docstrings
  e2e_playwright/st_mermaid_chart_test.py
  frontend/lib/src/components/shared/StreamlitMarkdown/MermaidChart.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
  lib/tests/streamlit/typing/mermaid_chart_types.py
Due: prettier, typecheck, no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/pyproject.toml
  lib/streamlit/version.py
  pyproject.toml
Due: no-relative-imports

Add widget state persistence (persist_state) implementation plan
  widget-state-persistence-implementation-plan.md
Due: none

Reduce mermaid diagram font size to prevent label clipping
  frontend/lib/src/components/shared/StreamlitMarkdown/MermaidChart.tsx
Due: prettier, typecheck

Carry serialized label on RegisterWidgetResult instead of new session_state API
  lib/streamlit/elements/widgets/selectbox.py
  lib/streamlit/runtime/state/common.py
  lib/streamlit/runtime/state/safe_session_state.py
  lib/streamlit/runtime/state/session_state.py
Due: no-relative-imports

Apply automatic fixes
  frontend/yarn.lock
Due: none

Add persist_state shared definitions and state-layer support
  lib/streamlit/errors.py
  lib/streamlit/runtime/state/__init__.py
  lib/streamlit/runtime/state/common.py
  lib/streamlit/runtime/state/session_state.py
  lib/streamlit/runtime/state/widgets.py
Due: no-relative-imports

Thread persist_state through widget element APIs
  lib/streamlit/elements/widgets/button_group.py
  lib/streamlit/elements/widgets/checkbox.py
  lib/streamlit/elements/widgets/color_picker.py
  lib/streamlit/elements/widgets/multiselect.py
  lib/streamlit/elements/widgets/number_input.py
  lib/streamlit/elements/widgets/pagination.py
  lib/streamlit/elements/widgets/radio.py
  lib/streamlit/elements/widgets/select_slider.py
  lib/streamlit/elements/widgets/selectbox.py
  lib/streamlit/elements/widgets/slider.py
  lib/streamlit/elements/widgets/text_widgets.py
  lib/streamlit/elements/widgets/time_widgets.py
  lib/streamlit/runtime/state/widgets.py
Due: no-relative-imports

Add persist_state SessionState preservation tests
  lib/tests/streamlit/runtime/state/session_state_test.py
Due: no-relative-imports

Add persist_state register_widget validation tests
  lib/tests/streamlit/runtime/state/widgets_test.py
Due: no-relative-imports

Add persist_state element passthrough tests
  lib/tests/streamlit/elements/checkbox_test.py
  lib/tests/streamlit/elements/selectbox_test.py
  lib/tests/streamlit/elements/slider_test.py
Due: no-relative-imports

Add persist_state typing tests
  lib/tests/streamlit/typing/checkbox_types.py
  lib/tests/streamlit/typing/selectbox_types.py
  lib/tests/streamlit/typing/slider_types.py
Due: no-relative-imports

Seed remounted widgets with preserved persist_state value across page switches
  lib/streamlit/runtime/state/session_state.py
  lib/tests/streamlit/runtime/state/widgets_test.py
Due: no-relative-imports

Add persist_state e2e app and test
  e2e_playwright/widget_state_persistence.py
  e2e_playwright/widget_state_persistence_test.py
Due: no-relative-imports

Make persist_state e2e assertions robust to MPA cleanup timing
  e2e_playwright/widget_state_persistence.py
  e2e_playwright/widget_state_persistence_test.py
Due: no-relative-imports

Rename register result field to incoming_serialized_value and generalize docs
  lib/streamlit/elements/widgets/selectbox.py
  lib/streamlit/runtime/state/common.py
  lib/streamlit/runtime/state/session_state.py
Due: no-relative-imports

Prevent ESC from clearing multiselect selection
  frontend/lib/src/components/widgets/Multiselect/Multiselect.tsx
Due: prettier, typecheck

Add e2e tests for multiselect ESC behavior
  e2e_playwright/st_multiselect.py
  e2e_playwright/st_multiselect_test.py
Due: no-relative-imports

Add unit test for multiselect ESC behavior
  frontend/lib/src/components/widgets/Multiselect/Multiselect.test.tsx
Due: prettier, typecheck

[repro] Map Altair/Vega-Lite chart overflow in narrow columns
  work-tmp/debug/capture_chart_overflow.py
  work-tmp/debug/capture_compound_focus.py
  work-tmp/debug/chart_overflow_repro_findings.md
  work-tmp/debug/overflow_compound_focus_900px.png
  work-tmp/debug/overflow_narrow_900px.png
  work-tmp/debug/overflow_normal_1440px.png
  work-tmp/debug/overflow_summary.json
  work-tmp/debug/overflow_very_narrow_600px.png
  work-tmp/debug/test_chart_overflow_repro.py
Due: no-relative-imports

Target popover multiselect by container in e2e test
  e2e_playwright/st_multiselect_test.py
Due: no-relative-imports

Add QA report for persist_state widget feature
  qa-widget-state-persistence-report.md
Due: none

Validate via format_func with wire-label fallback only when it raises
  lib/streamlit/elements/lib/options_selector_utils.py
  lib/streamlit/elements/widgets/selectbox.py
  lib/tests/streamlit/elements/lib/options_selector_utils_test.py
Due: no-relative-imports

Apply automatic fixes
  frontend/connection/src/utils.test.ts
Due: prettier, typecheck

Restore persisted widget value to frontend on remount
  lib/streamlit/runtime/state/session_state.py
  lib/tests/streamlit/runtime/state/session_state_test.py
Due: no-relative-imports

Add e2e coverage for persisted widget remount restore
  e2e_playwright/widget_state_persistence_test.py
Due: no-relative-imports
