Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

DefaultStreamlitEndpoints.buildMediaURL tests
  frontend/src/lib/DefaultStreamlitEndpoints.test.ts
Due: prettier, typecheck, eslint

Update Audio.test.tsx
  frontend/src/components/elements/Audio/Audio.test.tsx
  frontend/src/lib/mocks/mocks.ts
Due: prettier, typecheck, eslint

constify our endpoint names
  frontend/src/lib/DefaultStreamlitEndpoints.ts
Due: prettier, typecheck, eslint

Comment
  frontend/src/lib/DefaultStreamlitEndpoints.ts
Due: prettier, typecheck, eslint

Set a default for RuntimeConfig.cache_storage_manager (#6361)
  lib/streamlit/runtime/runtime.py
  lib/tests/streamlit/runtime/runtime_test.py
Due: no-relative-imports

StreamlitEndpoints.buildMediaURL (#6366)
  frontend/src/App.tsx
  frontend/src/components/core/AppView/AppView.test.tsx
  frontend/src/components/core/AppView/AppView.tsx
  frontend/src/components/core/Block/ElementNodeRenderer.test.tsx
  frontend/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/src/components/core/Block/utils.ts
  frontend/src/components/elements/Audio/Audio.test.tsx
  frontend/src/components/elements/Audio/Audio.tsx
  frontend/src/lib/DefaultStreamlitEndpoints.test.ts
  frontend/src/lib/DefaultStreamlitEndpoints.ts
  frontend/src/lib/FileUploadClient.test.ts
  frontend/src/lib/ForwardMessageCache.test.ts
  frontend/src/lib/StreamlitEndpoints.ts
  frontend/src/lib/UriUtil.ts
  frontend/src/lib/mocks/mocks.ts
Due: prettier, typecheck, eslint

Implementation V2
  frontend/src/components/core/AppView/AppView.tsx
  frontend/src/components/core/ToastRenderer/ToastRenderer.tsx
  frontend/src/components/core/ToastRenderer/index.tsx
  frontend/src/components/elements/Toast/Toast.tsx
  frontend/src/components/elements/Toast/styled-components.tsx
  frontend/src/components/shared/StreamlitMarkdown/styled-components.ts
  lib/streamlit/elements/toast.py
Due: prettier, typecheck, eslint, no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Working tests
  frontend/st-lib/.babelrc.js
  frontend/st-lib/config/env.js
  frontend/st-lib/config/jest/babelTransform.js
  frontend/st-lib/jest.config.js
  frontend/st-lib/jsdom-polyfill-env.js
  frontend/st-lib/package.json
  frontend/st-lib/src/components/core/MainMenu/MainMenu.test.tsx
  frontend/st-lib/src/components/core/StreamlitDialog/StreamlitDialog.test.tsx
  frontend/st-lib/src/components/core/StreamlitDialog/__snapshots__/StreamlitDialog.test.tsx.snap
  frontend/st-lib/src/components/elements/DeckGlJsonChart/DeckGlJsonChart.test.tsx
  frontend/st-lib/src/components/elements/ExceptionElement/__snapshots__/ExceptionElement.test.tsx.snap
  frontend/st-lib/src/components/elements/Spinner/__snapshots__/Spinner.test.tsx.snap
  frontend/st-lib/src/hocs/withScreencast/components/VideoRecordedDialog/VideoRecordedDialog.test.tsx
  frontend/st-lib/tsconfig.lib.json
Due: prettier, typecheck

Fix python tests
  lib/tests/streamlit/delta_generator_test.py
  lib/tests/streamlit/streamlit_test.py
Due: no-relative-imports

add tests for HostToGuest messages
  frontend/src/hocs/withHostCommunication/withHostCommunication.test.tsx
  frontend/src/hocs/withHostCommunication/withHostCommunication.tsx
Due: prettier, typecheck, eslint

add more tests
  frontend/src/App.test.tsx
Due: prettier, typecheck, eslint

Add logging, toast clearing on unmount
  frontend/src/App.tsx
  frontend/src/components/core/AppView/AppView.tsx
  frontend/src/components/core/ToastRenderer/ToastRenderer.tsx
  frontend/src/components/elements/Toast/Toast.tsx
Due: prettier, typecheck, eslint

Add text_input 'type' parameter type hints
  lib/streamlit/elements/text_widgets.py
Due: no-relative-imports

Add file_uploader return value type hint
  lib/streamlit/elements/file_uploader.py
Due: no-relative-imports

add more tests for host to guest communication
  frontend/src/App.test.tsx
Due: prettier, typecheck, eslint

Replace focus with focus-visible styles
  frontend/src/components/shared/Button/styled-components.ts
  frontend/src/components/shared/Dropdown/styled-components.ts
  frontend/src/components/widgets/CameraInput/styled-components.ts
  frontend/src/components/widgets/FileUploader/styled-components.ts
  frontend/src/components/widgets/Slider/styled-components.ts
Due: prettier, typecheck, eslint

add more tests for guest to host communication
  frontend/src/App.test.tsx
Due: prettier, typecheck, eslint

Update tests
  frontend/src/components/core/StreamlitDialog/__snapshots__/StreamlitDialog.test.tsx.snap
Due: none

Add new lines
  lib/streamlit/elements/data_editor.py
Due: no-relative-imports

Set pandas min version to 1
  lib/setup.py
Due: no-relative-imports

Use the new string type for conversion
  lib/streamlit/type_util.py
Due: no-relative-imports

Use the new string type to support missing values
  lib/streamlit/elements/data_editor.py
Due: no-relative-imports

Remove deprecated indices
  lib/tests/streamlit/elements/data_editor_test.py
Due: no-relative-imports

Fix conftest
  lib/tests/conftest.py
Due: no-relative-imports

Collect specific subset of user-agent metadata useful for determining testing requirements
  frontend/src/lib/SegmentMetricsManager.ts
Due: prettier, typecheck, eslint

change
  e2e/scripts/st_image.py
Due: no-relative-imports

fix failing tests
  lib/tests/streamlit/delta_generator_test.py
  lib/tests/streamlit/logger_test.py
Due: no-relative-imports

Add os_version, drop device and device vendor
  frontend/src/lib/SegmentMetricsManager.ts
Due: prettier, typecheck, eslint

fix linter error
  frontend/src/App.test.tsx
Due: prettier, typecheck, eslint

Link to actual docs page
  lib/streamlit/runtime/state/session_state.py
Due: no-relative-imports

Allow session state to only allow serializable items (#6165)
  lib/streamlit/config.py
  lib/streamlit/errors.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/streamlit/runtime/state/safe_session_state.py
  lib/streamlit/runtime/state/session_state.py
  lib/tests/streamlit/config_test.py
  lib/tests/streamlit/runtime/state/session_state_test.py
Due: no-relative-imports

a few not working tests but I think jsdom should be present and the global window hack is bad
  frontend/autogen/proto.d.ts
  frontend/autogen/proto.js
  frontend/babel.config.js
  frontend/st-app/.babelrc.js
  frontend/st-app/config/jest/babelTransform.js
  frontend/st-app/jest.config.js
  frontend/st-app/jsdom-polyfill-env.js
  frontend/st-app/package.json
  frontend/st-app/scripts/start.js
  frontend/st-app/src/App.test.tsx
  frontend/st-app/src/ThemedApp.test.tsx
  frontend/st-app/src/setupTests copy.js
  frontend/st-app/src/setupTests.js
  frontend/st-lib/package.json
  frontend/yarn.lock
Due: prettier, typecheck

Fix issues in tests
  lib/tests/streamlit/elements/data_editor_test.py
  lib/tests/streamlit/elements/legacy_data_frame_test.py
Due: no-relative-imports

Don't check for deprecated indices
  lib/streamlit/elements/legacy_data_frame.py
Due: no-relative-imports

Pin pandas version to 2.x
  lib/setup.py
Due: no-relative-imports

Explicitly set range index in data mocks
  lib/tests/streamlit/data_mocks.py
Due: no-relative-imports

Don't use float index
  e2e/scripts/st_arrow_table.py
Due: no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
