Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

fixing minimal
  e2e_playwright/__snapshots__/linux/custom_theme_test/custom_themed_app[webkit].png
  e2e_playwright/__snapshots__/linux/sidebar_custom_theme_test/sidebar_custom_theme[webkit].png
Due: none

more thorough check
  frontend/app/src/App.tsx
Due: prettier, typecheck

Refactor Header component to remove `isTransparentBackground` prop and adjust background logic
  frontend/app/src/components/AppView/AppView.tsx
  frontend/app/src/components/Header/Header.test.tsx
  frontend/app/src/components/Header/Header.tsx
Due: prettier, typecheck

lint
  frontend/app/src/components/AppView/AppView.tsx
Due: prettier, typecheck

more improvements to test file
  frontend/app/src/components/Header/Header.test.tsx
Due: prettier, typecheck

linttt
  frontend/app/src/components/Header/Header.test.tsx
Due: prettier, typecheck

making simplifications
  frontend/app/src/components/Sidebar/Sidebar.test.tsx
Due: prettier, typecheck

little improvements on description of tests
  frontend/app/src/components/Header/Header.test.tsx
Due: prettier, typecheck

intentionally deleting one of the screenshots to test the workflow failing
  scripts/snapshot_cleanup.py
Due: no-relative-imports

refactor to helper
  frontend/app/src/App.tsx
Due: prettier, typecheck

Revert "intentionally deleting one of the screenshots to test the workflow failing"
  scripts/snapshot_cleanup.py
Due: no-relative-imports

Add type annotations for the .clear() method on cached functions
  lib/streamlit/runtime/caching/cache_data_api.py
  lib/streamlit/runtime/caching/cache_resource_api.py
  lib/tests/streamlit/typing/cache_types.py
Due: no-relative-imports

Enhance the type tests on the claer method and add its overload for catch-all
  lib/streamlit/runtime/caching/cache_data_api.py
  lib/streamlit/runtime/caching/cache_resource_api.py
  lib/tests/streamlit/typing/cache_types.py
Due: no-relative-imports

Update ruff
  .pre-commit-config.yaml
  lib/streamlit/__init__.py
Due: no-relative-imports

Update frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/core/Block/Block.tsx
Due: prettier, typecheck

Add border parameter to st.table
  frontend/lib/src/components/elements/ArrowTable/ArrowTable.tsx
  frontend/lib/src/components/elements/ArrowTable/styled-components.ts
  frontend/lib/src/dataframes/Quiver.ts
  lib/streamlit/elements/arrow.py
  proto/streamlit/proto/Arrow.proto
Due: prettier, typecheck, no-relative-imports

Add tests
  e2e_playwright/st_table.py
  e2e_playwright/st_table_test.py
  frontend/lib/src/components/elements/ArrowTable/ArrowTable.test.tsx
  lib/tests/streamlit/elements/arrow_table_test.py
Due: prettier, typecheck, no-relative-imports

Remove unused variable
  frontend/lib/src/components/elements/ArrowTable/ArrowTable.test.tsx
Due: prettier, typecheck

Simplify e2e test
  e2e_playwright/st_table.py
  e2e_playwright/st_table_test.py
Due: no-relative-imports

Add horizontal border
  frontend/lib/src/components/elements/ArrowTable/ArrowTable.tsx
  frontend/lib/src/components/elements/ArrowTable/styled-components.ts
  frontend/lib/src/dataframes/Quiver.ts
  lib/streamlit/elements/arrow.py
  proto/streamlit/proto/Arrow.proto
Due: prettier, typecheck, no-relative-imports

Do not show border below last row
  frontend/lib/src/components/elements/ArrowTable/styled-components.ts
Due: prettier, typecheck

Align table headers with cell values if there are no vertical borders
  frontend/lib/src/components/elements/ArrowTable/ArrowTable.tsx
Due: prettier, typecheck

Add extra space between columns
  frontend/lib/src/components/elements/ArrowTable/styled-components.ts
Due: prettier, typecheck

Update spacing to lg
  frontend/lib/src/components/elements/ArrowTable/styled-components.ts
Due: prettier, typecheck

Improve flaky handling
  e2e_playwright/st_dataframe_config_test.py
Due: no-relative-imports

Add a step to delete orphaned snapshots comments on successful workflow execution
  .github/workflows/snapshot-hygiene.yml
Due: none

adding annotations import
  scripts/snapshot_cleanup.py
Due: no-relative-imports

Adapt paddings
  frontend/lib/src/components/elements/ArrowTable/styled-components.ts
Due: prettier, typecheck

Typing
  lib/streamlit/elements/arrow.py
Due: no-relative-imports

Make border mode an enum
  frontend/lib/src/components/elements/ArrowTable/ArrowTable.tsx
  frontend/lib/src/components/elements/ArrowTable/styled-components.ts
  frontend/lib/src/dataframes/Quiver.ts
  lib/streamlit/elements/arrow.py
  proto/streamlit/proto/Arrow.proto
Due: prettier, typecheck, no-relative-imports

Update e2e test
  e2e_playwright/st_table.py
  e2e_playwright/st_table_test.py
Due: no-relative-imports

Update Python test
  lib/tests/streamlit/elements/arrow_table_test.py
Due: no-relative-imports

Update frontend tests
  frontend/lib/src/components/elements/ArrowTable/ArrowTable.test.tsx
Due: prettier, typecheck

Make frontend tests more robust
  frontend/lib/src/components/elements/ArrowTable/ArrowTable.test.tsx
Due: prettier, typecheck

Comments
  frontend/lib/src/components/elements/ArrowTable/styled-components.ts
Due: prettier, typecheck

Comment
  proto/streamlit/proto/Arrow.proto
Due: none

Fix frontend tests
  frontend/lib/src/components/elements/ArrowTable/ArrowTable.test.tsx
  frontend/lib/src/components/elements/ArrowTable/ArrowTable.tsx
  frontend/lib/src/components/elements/ArrowTable/styled-components.ts
Due: prettier, typecheck

Linter
  frontend/lib/src/components/elements/ArrowTable/ArrowTable.tsx
Due: prettier, typecheck

Update e2e test
  e2e_playwright/st_table.py
Due: no-relative-imports

Add snapshots
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-33[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-33[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-33[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-34[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-34[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-34[webkit].png
Due: none
