Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Honor page run_every on fragment reruns
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  lib/streamlit/commands/page_config.py
  lib/tests/streamlit/commands/page_config_test.py
Due: prettier, typecheck, no-relative-imports

Clarify the datetime calendar focus wait in the unit test
  frontend/lib/src/components/widgets/DateTimeInput/DateTimeInput.test.tsx
Due: prettier, typecheck

Hold page auto-rerun ticks until the current run finishes.
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  lib/streamlit/runtime/metrics_util.py
  lib/tests/streamlit/runtime/metrics_util_test.py
Due: prettier, typecheck, no-relative-imports

Align the page run_every spec with unsubmitted form reruns.
  specs/2026-07-15-page-run-every/product-spec.md
Due: none

Drop extra run_every docs and metrics
  lib/streamlit/.agents/skills/developing-with-streamlit/SKILL.md
  lib/streamlit/.agents/skills/developing-with-streamlit/references/performance.md
  lib/streamlit/commands/page_config.py
  lib/streamlit/runtime/metrics_util.py
  lib/tests/streamlit/runtime/metrics_util_test.py
Due: no-relative-imports

Clarify Apply button comment in datetime e2e
  e2e_playwright/st_datetime_input.py
Due: no-relative-imports

Recheck clipped labels when fonts finish loading later.
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
  frontend/lib/src/hooks/useLabelTitleTooltip.test.tsx
  frontend/lib/src/hooks/useLabelTitleTooltip.ts
Due: prettier, typecheck

Skip page auto-rerun ticks while a script run is active.
  e2e_playwright/st_set_page_config_test.py
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  lib/streamlit/.agents/skills/developing-with-streamlit/references/api-reference.md
  lib/streamlit/commands/page_config.py
Due: prettier, typecheck, no-relative-imports

Replay a skipped page tick when the run finishes
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
Due: prettier, typecheck

Drop a held page tick when the run is interrupted.
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
Due: prettier, typecheck

Agent API spec: record chat-client feedback as follow-ups
  specs/2026-08-28-agent-app-interface/mcp-support.md
  specs/2026-08-28-agent-app-interface/potential-follow-ups.md
Due: none

Keep a held page tick across a fragment interrupt.
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
Due: prettier, typecheck

Measure clipped labels once instead of observing resizes.
  frontend/lib/src/hooks/useLabelTitleTooltip.test.tsx
  frontend/lib/src/hooks/useLabelTitleTooltip.ts
  specs/2026-07-23-horizontal-wrap-control/product-spec.md
Due: prettier, typecheck

[docs] Add WCAG capability inventory wiki page (#17247)
  wiki/README.md
  wiki/accessibility-wcag.md
Due: none

Add nightly arm64 Python unit test job
  .github/actions/make_init/action.yml
  .github/workflows/AGENTS.md
  .github/workflows/nightly.yml
  .github/workflows/python-tests.yml
Due: none

[feature] Add `on_change="ignore"` mode to st.camera_input (#17246)
  e2e_playwright/st_camera_input.py
  e2e_playwright/st_camera_input_test.py
  frontend/lib/src/components/widgets/CameraInput/CameraInput.test.tsx
  frontend/lib/src/components/widgets/CameraInput/CameraInput.tsx
  lib/streamlit/elements/widgets/camera_input.py
  lib/tests/streamlit/elements/camera_input_test.py
  lib/tests/streamlit/typing/camera_input_types.py
  proto/streamlit/proto/CameraInput.proto
Due: prettier, typecheck, no-relative-imports

[feature] Add on_change="ignore" to datetime_input (#17267)
  e2e_playwright/st_datetime_input.py
  e2e_playwright/st_datetime_input_test.py
  frontend/lib/src/components/widgets/DateTimeInput/DateTimeInput.test.tsx
  frontend/lib/src/components/widgets/DateTimeInput/dateTimeInputUtils.test.ts
  frontend/lib/src/components/widgets/DateTimeInput/dateTimeInputUtils.ts
  lib/streamlit/elements/widgets/time_widgets.py
  lib/tests/streamlit/elements/datetime_input_test.py
  lib/tests/streamlit/typing/datetime_input_types.py
  proto/streamlit/proto/DateTimeInput.proto
Due: prettier, typecheck, no-relative-imports

Suspend page auto-rerun until the next run is active.
  e2e_playwright/st_set_page_config_test.py
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  frontend/lib/src/components/elements/Dialog/Dialog.test.tsx
  frontend/lib/src/components/elements/Dialog/Dialog.tsx
  frontend/lib/src/index.ts
  lib/streamlit/.agents/skills/developing-with-streamlit/references/performance.md
  lib/streamlit/commands/page_config.py
  lib/tests/streamlit/commands/page_config_test.py
Due: prettier, typecheck, no-relative-imports

Pin protoc archive digest in CI
  .github/actions/make_init/action.yml
Due: none

Log protoc digest mismatches before extraction.
  .github/actions/make_init/action.yml
Due: none

address PR feedback
  lib/streamlit/.agents/skills/developing-with-streamlit/references/snowflake-connection.md
  lib/streamlit/config.py
  lib/streamlit/runtime/connection_factory.py
  lib/tests/streamlit/config_test.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

First pass
  wiki/README.md
  wiki/accessibility-theme.md
  wiki/accessibility-wcag.md
Due: none

Drop meta issue-citation note from theme inventory
  wiki/accessibility-theme.md
Due: none

Clean up
  wiki/accessibility-theme.md
Due: none

Clean up 2
  wiki/accessibility-theme.md
Due: none

Put calendar toggle in tab order after date segments
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
  frontend/lib/src/components/widgets/DateInput/RangeDateInput.tsx
  frontend/lib/src/components/widgets/DateInput/SingleDateInput.tsx
  frontend/lib/src/components/widgets/DateTimeInput/DateTimeInput.test.tsx
  frontend/lib/src/components/widgets/DateTimeInput/SingleDateTimeInput.tsx
Due: prettier, typecheck

fix linter
  lib/tests/streamlit/config_test.py
Due: no-relative-imports

Fix unnecessary type assertions in date focus handlers
  frontend/lib/src/components/widgets/DateInput/RangeDateInput.tsx
  frontend/lib/src/components/widgets/DateInput/SingleDateInput.tsx
  frontend/lib/src/components/widgets/DateTimeInput/SingleDateTimeInput.tsx
Due: prettier, typecheck

Fix theme inventory scorecard accuracy from AI review
  wiki/accessibility-theme.md
  wiki/accessibility-wcag.md
Due: none

First pass
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.tsx
  frontend/lib/src/components/widgets/DateInput/RangeDateInput.tsx
  frontend/lib/src/components/widgets/DateInput/SingleDateInput.tsx
Due: prettier, typecheck

Address AI final-review feedback on date calendar button
  frontend/app/src/components/Header/Header.tsx
  frontend/app/src/components/Sidebar/Sidebar.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
  frontend/lib/src/components/widgets/DateInput/RangeDateInput.tsx
  frontend/lib/src/components/widgets/DateInput/SingleDateInput.tsx
  frontend/lib/src/components/widgets/DateInput/styled-components.ts
  frontend/lib/src/components/widgets/DateTimeInput/DateTimeInput.test.tsx
  frontend/lib/src/components/widgets/DateTimeInput/SingleDateTimeInput.tsx
  lib/streamlit/components/v2/__init__.py
Due: prettier, typecheck, no-relative-imports

Correct checkbox/radio target size and primary status fill
  wiki/accessibility-theme.md
Due: none

Split status-fill scores by page vs sidebar surface
  wiki/accessibility-theme.md
Due: none

Let Enter activate the datetime calendar button
  frontend/app/src/components/Sidebar/Sidebar.tsx
  frontend/lib/src/components/widgets/DateTimeInput/DateTimeInput.test.tsx
  frontend/lib/src/components/widgets/DateTimeInput/SingleDateTimeInput.tsx
Due: prettier, typecheck

Update version and project name in files
  frontend/package.json
  lib/pyproject.toml
  lib/streamlit/version.py
  pyproject.toml
  uv.lock
Due: no-relative-imports

Pin protoc zip SHA-256 in CI
  .github/actions/make_init/action.yml
  CONTRIBUTING.md
Due: none

Score checkbox/radio/toggle labels at 14px line boxes
  wiki/README.md
  wiki/accessibility-theme.md
Due: none

Fix calendar-button lint and restore focus to the toggle.
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
  frontend/lib/src/components/widgets/DateInput/RangeDateInput.tsx
  frontend/lib/src/components/widgets/DateInput/SingleDateInput.tsx
  frontend/lib/src/components/widgets/DateInput/styled-components.ts
  frontend/lib/src/components/widgets/DateTimeInput/DateTimeInput.test.tsx
  frontend/lib/src/components/widgets/DateTimeInput/SingleDateTimeInput.tsx
Due: prettier, typecheck

Clarify protoc SHA note in CONTRIBUTING
  CONTRIBUTING.md
Due: none

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
