Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Add e2e test for video autoplay and muted
  e2e_playwright/st_video.py
  e2e_playwright/st_video_test.py
Due: no-relative-imports

Add new github issue in message
  lib/streamlit/elements/arrow_altair.py
Due: no-relative-imports

Add snapshots
  e2e_playwright/__snapshots__/linux/empty_charts_test/st_vega_lite_chart_empty-0[chromium].png
  e2e_playwright/__snapshots__/linux/empty_charts_test/st_vega_lite_chart_empty-0[firefox].png
  e2e_playwright/__snapshots__/linux/empty_charts_test/st_vega_lite_chart_empty-0[webkit].png
  e2e_playwright/__snapshots__/linux/empty_charts_test/st_vega_lite_chart_empty-1[chromium].png
  e2e_playwright/__snapshots__/linux/empty_charts_test/st_vega_lite_chart_empty-1[firefox].png
  e2e_playwright/__snapshots__/linux/empty_charts_test/st_vega_lite_chart_empty-1[webkit].png
  e2e_playwright/__snapshots__/linux/empty_charts_test/st_vega_lite_chart_empty-2[chromium].png
  e2e_playwright/__snapshots__/linux/empty_charts_test/st_vega_lite_chart_empty-2[firefox].png
  e2e_playwright/__snapshots__/linux/empty_charts_test/st_vega_lite_chart_empty-2[webkit].png
  e2e_playwright/__snapshots__/linux/empty_charts_test/st_vega_lite_chart_empty-3[chromium].png
  e2e_playwright/__snapshots__/linux/empty_charts_test/st_vega_lite_chart_empty-3[firefox].png
  e2e_playwright/__snapshots__/linux/empty_charts_test/st_vega_lite_chart_empty-3[webkit].png
Due: none

Add streamlit exception tests for altair 4
  lib/tests/streamlit/elements/arrow_altair_test.py
Due: no-relative-imports

adding a react-select implementation allowing for a populated list of Google fonts (#8037) - transferred from @hollyos/react-select-google-fonts repo (experimentation repo)
  frontend/lib/src/components/shared/FontSelect/FontSelect.tsx
  frontend/lib/src/components/shared/FontSelect/Option.tsx
  frontend/lib/src/components/shared/FontSelect/contexts/FontContext.tsx
  frontend/lib/src/components/shared/FontSelect/hooks/useFetchGoogleFonts.ts
  frontend/lib/src/components/shared/FontSelect/types/FontTypes.d.ts
  frontend/lib/src/components/shared/FontSelect/utils/GoogleFontUtils.ts
  frontend/lib/src/components/shared/FontSelect/utils/axiosUtils.ts
  frontend/lib/src/util/GoogleFontUtils.ts
Due: prettier, typecheck

Add ability to clear cache for specific function arguments by passing args to `<cached_func>.clear()` (#8297)
  lib/streamlit/runtime/caching/cache_data_api.py
  lib/streamlit/runtime/caching/cache_resource_api.py
  lib/streamlit/runtime/caching/cache_utils.py
  lib/tests/streamlit/runtime/caching/cache_data_api_test.py
  lib/tests/streamlit/runtime/caching/cache_resource_api_test.py
Due: no-relative-imports

Fix linter issue
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

Update release to OpenID Connect (#8523)
  .github/workflows/release.yml
Due: none

move component to widgets / update formatting to align with repo standards / add licensing
  frontend/lib/src/components/shared/FontSelect/Option.tsx
  frontend/lib/src/components/widgets/FontSelect/FontSelect.tsx
  frontend/lib/src/components/widgets/FontSelect/Option.tsx
  frontend/lib/src/components/widgets/FontSelect/contexts/FontContext.tsx
  frontend/lib/src/components/widgets/FontSelect/hooks/useFetchGoogleFonts.ts
  frontend/lib/src/components/widgets/FontSelect/types/FontTypes.d.ts
  frontend/lib/src/components/widgets/FontSelect/utils/GoogleFontUtils.ts
  frontend/lib/src/components/widgets/FontSelect/utils/axiosUtils.ts
  frontend/lib/src/util/GoogleFontUtils.test.ts
Due: prettier, typecheck

Update discreteHeight to match continuous height
  frontend/lib/src/components/elements/ArrowVegaLiteChart/CustomTheme.tsx
Due: prettier, typecheck

Update snapshots
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-resolve-scale-independent[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-resolve-scale-independent[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-resolve-scale-independent[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-resolve-scale-independent[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-resolve-scale-independent[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-resolve-scale-independent[light_theme-webkit].png
Due: none

Some more refactoring and cleanups
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

Try out material design icon font
  frontend/lib/src/components/elements/ChatMessage/ChatMessage.tsx
  frontend/lib/src/components/elements/ChatMessage/styled-components.ts
  frontend/lib/src/theme/globalStyles.ts
Due: prettier, typecheck

remove other props
  frontend/lib/src/components/elements/ChatMessage/styled-components.ts
Due: prettier, typecheck

Fix type errors
  lib/streamlit/elements/arrow_altair.py
  lib/streamlit/elements/arrow_vega_lite.py
Due: no-relative-imports

Minor fixes
  lib/streamlit/elements/arrow_vega_lite.py
  lib/streamlit/runtime/state/widgets.py
Due: no-relative-imports

Remove snowpark restriction to Python 3.8
  lib/setup.py
Due: no-relative-imports

Fix vega_lite_test
  lib/tests/streamlit/elements/arrow_vega_lite_test.py
Due: no-relative-imports

Re-add limitation to Python <3.12
  lib/setup.py
Due: no-relative-imports

Handle Altair resolve_scale (#8497)
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-resolve-scale-independent[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-resolve-scale-independent[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-resolve-scale-independent[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-resolve-scale-independent[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-resolve-scale-independent[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-resolve-scale-independent[light_theme-webkit].png
  e2e_playwright/st_altair_chart.py
  e2e_playwright/st_altair_chart_test.py
  frontend/lib/src/components/elements/ArrowVegaLiteChart/CustomTheme.tsx
Due: prettier, typecheck, no-relative-imports

Add support for snowpark pandas
  lib/streamlit/elements/write.py
  lib/streamlit/type_util.py
Due: no-relative-imports

Fix comments
  e2e_playwright/empty_chart_errors.py
  e2e_playwright/empty_charts_errors_test.py
  e2e_playwright/st_pyplot.py
  e2e_playwright/st_pyplot_test.py
  e2e_playwright/st_vega_lite_chart.py
  e2e_playwright/st_vega_lite_chart_test.py
Due: no-relative-imports

Delete useless snapshots
  e2e_playwright/__snapshots__/linux/empty_charts_test/st_vega_lite_chart_empty-0[chromium].png
  e2e_playwright/__snapshots__/linux/empty_charts_test/st_vega_lite_chart_empty-0[firefox].png
  e2e_playwright/__snapshots__/linux/empty_charts_test/st_vega_lite_chart_empty-0[webkit].png
  e2e_playwright/__snapshots__/linux/empty_charts_test/st_vega_lite_chart_empty-1[chromium].png
  e2e_playwright/__snapshots__/linux/empty_charts_test/st_vega_lite_chart_empty-1[firefox].png
  e2e_playwright/__snapshots__/linux/empty_charts_test/st_vega_lite_chart_empty-1[webkit].png
  e2e_playwright/__snapshots__/linux/empty_charts_test/st_vega_lite_chart_empty-2[chromium].png
  e2e_playwright/__snapshots__/linux/empty_charts_test/st_vega_lite_chart_empty-2[firefox].png
  e2e_playwright/__snapshots__/linux/empty_charts_test/st_vega_lite_chart_empty-2[webkit].png
  e2e_playwright/__snapshots__/linux/empty_charts_test/st_vega_lite_chart_empty-3[chromium].png
  e2e_playwright/__snapshots__/linux/empty_charts_test/st_vega_lite_chart_empty-3[firefox].png
  e2e_playwright/__snapshots__/linux/empty_charts_test/st_vega_lite_chart_empty-3[webkit].png
Due: none

Fix flickering and widget state reset on page change
  frontend/app/src/App.tsx
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  proto/streamlit/proto/NewSession.proto
Due: prettier, typecheck, no-relative-imports

Some restructuring
  lib/streamlit/type_util.py
Due: no-relative-imports

Fix vega_lite_test as it was using altair_chart (#8537)
  lib/tests/streamlit/elements/arrow_vega_lite_test.py
Due: no-relative-imports

Add new empty snapshots
  e2e_playwright/__snapshots__/linux/st_vega_lite_chart_test/st_vega_lite_chart-empty[chromium].png
  e2e_playwright/__snapshots__/linux/st_vega_lite_chart_test/st_vega_lite_chart-empty[firefox].png
  e2e_playwright/__snapshots__/linux/st_vega_lite_chart_test/st_vega_lite_chart-empty[webkit].png
Due: none

Adjust default date for st.date_input if today's date is out of bounds (#8519)
  lib/streamlit/elements/widgets/time_widgets.py
  lib/tests/streamlit/elements/date_input_test.py
Due: no-relative-imports

Add comment and other expect in
  e2e_playwright/st_vega_lite_chart_test.py
Due: no-relative-imports

Move vega_lite_chart count to constant
  e2e_playwright/st_vega_lite_chart_test.py
Due: no-relative-imports

Remove snowflake extras python restriction (#8538)
  lib/setup.py
Due: no-relative-imports

Move e2e tests to python unit tests
  e2e_playwright/empty_chart_errors.py
  e2e_playwright/empty_charts_errors_test.py
  lib/tests/streamlit/elements/arrow_altair_test.py
  lib/tests/streamlit/elements/arrow_vega_lite_test.py
Due: no-relative-imports

Fix altair unit test
  lib/tests/streamlit/elements/arrow_altair_test.py
Due: no-relative-imports

Updating constraints. Github run id:8745723288
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Migrate st_empty to playwright
  e2e_playwright/st_empty.py
  e2e_playwright/st_empty_test.py
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
Due: prettier, typecheck, no-relative-imports

Migrate st arrow empty charts to playwright (#8527)
  e2e/scripts/st_arrow_empty_charts.py
  e2e/specs/st_arrow_empty_charts.spec.js
  e2e_playwright/__snapshots__/linux/st_vega_lite_chart_test/st_vega_lite_chart-empty[chromium].png
  e2e_playwright/__snapshots__/linux/st_vega_lite_chart_test/st_vega_lite_chart-empty[firefox].png
  e2e_playwright/__snapshots__/linux/st_vega_lite_chart_test/st_vega_lite_chart-empty[webkit].png
  e2e_playwright/st_pyplot.py
  e2e_playwright/st_pyplot_test.py
  e2e_playwright/st_vega_lite_chart.py
  e2e_playwright/st_vega_lite_chart_test.py
  frontend/cypress/snapshots/linux/2x/st_arrow_empty_charts.spec.js/arrowVegaLiteChart-0-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_empty_charts.spec.js/arrowVegaLiteChart-0.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_empty_charts.spec.js/arrowVegaLiteChart-1-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_empty_charts.spec.js/arrowVegaLiteChart-1.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_empty_charts.spec.js/arrowVegaLiteChart-2-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_empty_charts.spec.js/arrowVegaLiteChart-2.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_empty_charts.spec.js/arrowVegaLiteChart-3-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_arrow_empty_charts.spec.js/arrowVegaLiteChart-3.snap.png
  lib/tests/streamlit/elements/arrow_altair_test.py
  lib/tests/streamlit/elements/arrow_vega_lite_test.py
Due: typecheck, no-relative-imports

Remove spec
  e2e/specs/st_empty.spec.js
Due: typecheck

migrate st color picker to playwright
  e2e/specs/st_color_picker.spec.js
  e2e_playwright/st_color_picker.py
  e2e_playwright/st_color_picker_test.py
  frontend/cypress/snapshots/linux/2x/st_color_picker.spec.js/colorpicker0-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_color_picker.spec.js/colorpicker0.snap.png
  frontend/cypress/snapshots/linux/2x/st_color_picker.spec.js/colorpicker1-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_color_picker.spec.js/colorpicker1.snap.png
  frontend/cypress/snapshots/linux/2x/st_color_picker.spec.js/colorpicker2-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_color_picker.spec.js/colorpicker2.snap.png
  frontend/cypress/snapshots/linux/2x/st_color_picker.spec.js/colorpicker3-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_color_picker.spec.js/colorpicker3.snap.png
  frontend/cypress/snapshots/linux/2x/st_color_picker.spec.js/colorpicker4-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_color_picker.spec.js/colorpicker4.snap.png
Due: typecheck, no-relative-imports

Try to add material font
  frontend/app/public/index.html
  frontend/lib/src/components/elements/Toast/Toast.tsx
  frontend/lib/src/components/shared/Icon/DynamicIcon.tsx
  frontend/lib/src/theme/globalStyles.ts
  lib/streamlit/string_util.py
Due: prettier, typecheck, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
