Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Fix e2e test as the return value changed by using string value
  e2e_playwright/st_plotly_chart_select.py
Due: no-relative-imports

Fix some stuff that showed up in plotly pr
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/elements/ArrowVegaLiteChart/ArrowVegaLiteChart.tsx
  lib/streamlit/elements/arrow_altair.py
  lib/streamlit/elements/arrow_vega_lite.py
Due: prettier, typecheck, no-relative-imports

Remove change in test requirements
  lib/test-requirements.txt
Due: none

Fix is_select_enabled bug and other random fixes
  lib/streamlit/elements/arrow_altair.py
  lib/streamlit/elements/arrow_vega_lite.py
Due: no-relative-imports

Fix vega lite bug
  lib/streamlit/elements/arrow_vega_lite.py
Due: no-relative-imports

Fix type checker
  lib/streamlit/elements/arrow_altair.py
Due: no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:8678853273
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Fix e2e test
  e2e_playwright/st_altair_chart.py
  e2e_playwright/st_altair_chart_test.py
Due: no-relative-imports

Update some snapshots
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-scatter_chart_default_theme[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-scatter_chart_default_theme[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-scatter_chart_default_theme[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-scatter_chart_default_theme[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-scatter_chart_streamlit_theme[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-scatter_chart_streamlit_theme[light_theme-webkit].png
Due: none

Remove all snapshots
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-bar_chart_overwritten_theme[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-bar_chart_overwritten_theme[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-grouped_use_container_width_default_themest_altair_chart-grouped_layered_line_chart_streamlit_theme[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-grouped_use_container_width_default_themest_altair_chart-grouped_layered_line_chart_streamlit_theme[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-grouped_use_container_width_default_themest_altair_chart-grouped_layered_line_chart_streamlit_theme[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-pie_chart_large_legend_items[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-pie_chart_large_legend_items[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-pie_chart_large_legend_items[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-pie_chart_large_legend_items[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-pie_chart_large_legend_items[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-pie_chart_large_legend_items[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-scatter_chart_default_theme[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-scatter_chart_default_theme[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-scatter_chart_default_theme[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-scatter_chart_default_theme[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-scatter_chart_default_theme[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-scatter_chart_default_theme[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-scatter_chart_overwritten_theme[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-scatter_chart_overwritten_theme[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-scatter_chart_overwritten_theme[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-scatter_chart_overwritten_theme[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-scatter_chart_overwritten_theme[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-scatter_chart_overwritten_theme[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-scatter_chart_streamlit_theme[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-scatter_chart_streamlit_theme[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-scatter_chart_streamlit_theme[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-scatter_chart_streamlit_theme[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-scatter_chart_streamlit_theme[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-scatter_chart_streamlit_theme[light_theme-webkit].png
Due: none

Work to disallow adding rows unless necessary
  frontend/lib/src/AppNode.ts
  frontend/lib/src/components/elements/ArrowVegaLiteChart/ArrowVegaLiteChart.tsx
  lib/streamlit/elements/arrow_vega_lite.py
  proto/streamlit/proto/ArrowVegaLiteChart.proto
Due: prettier, typecheck, no-relative-imports

Remove all snapshots
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-bar_chart_overwritten_theme[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-bar_chart_overwritten_theme[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-bar_chart_overwritten_theme[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-bar_chart_overwritten_theme[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-bar_chart_overwritten_theme[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-bar_chart_overwritten_theme[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-grouped_bar_chart_default_theme[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-grouped_bar_chart_default_theme[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-grouped_bar_chart_default_theme[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-grouped_bar_chart_default_theme[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-grouped_bar_chart_default_theme[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-grouped_bar_chart_default_theme[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-grouped_bar_chart_streamlit_theme[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-grouped_bar_chart_streamlit_theme[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-grouped_bar_chart_streamlit_theme[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-grouped_bar_chart_streamlit_theme[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-grouped_bar_chart_streamlit_theme[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-grouped_bar_chart_streamlit_theme[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-grouped_use_container_width_default_themest_altair_chart-grouped_layered_line_chart_streamlit_theme[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-grouped_use_container_width_default_themest_altair_chart-grouped_layered_line_chart_streamlit_theme[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-grouped_use_container_width_default_themest_altair_chart-grouped_layered_line_chart_streamlit_theme[dark_theme-webkit].png
Due: none

Keep comments
  frontend/lib/src/components/widgets/CustomComponent/ComponentInstance.tsx
Due: prettier, typecheck

Remove width property
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/elements/Skeleton/Skeleton.test.tsx
  frontend/lib/src/components/elements/Skeleton/Skeleton.tsx
  proto/streamlit/proto/Skeleton.proto
Due: prettier, typecheck

Additional refactoring
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/elements/Skeleton/Skeleton.test.tsx
  frontend/lib/src/components/elements/Skeleton/Skeleton.tsx
Due: prettier, typecheck

Other refactorings
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/elements/DeckGlJsonChart/withMapboxToken/withMapboxToken.tsx
  frontend/lib/src/components/elements/Skeleton/styled-components.ts
  frontend/lib/src/components/widgets/CustomComponent/ComponentInstance.tsx
  frontend/lib/src/util/utils.ts
Due: prettier, typecheck

Add internal docstring
  frontend/lib/src/components/elements/Skeleton/styled-components.ts
  lib/streamlit/elements/empty.py
Due: prettier, typecheck, no-relative-imports

Fix docstring
  lib/streamlit/elements/empty.py
Due: no-relative-imports

Add some drive by fixes
  e2e_playwright/st_dialog_test.py
  e2e_playwright/st_table_test.py
  frontend/lib/src/components/elements/Skeleton/Skeleton.test.tsx
Due: prettier, typecheck, no-relative-imports

Fix skeleton test
  frontend/lib/src/components/elements/Skeleton/Skeleton.test.tsx
Due: prettier, typecheck

Refactor the cache widget replay warning
  lib/streamlit/components/v1/custom_component.py
  lib/streamlit/elements/__init__.py
  lib/streamlit/elements/form.py
  lib/streamlit/elements/utils.py
  lib/streamlit/elements/widgets/button.py
  lib/streamlit/elements/widgets/camera_input.py
  lib/streamlit/elements/widgets/chat.py
  lib/streamlit/elements/widgets/checkbox.py
  lib/streamlit/elements/widgets/color_picker.py
  lib/streamlit/elements/widgets/file_uploader.py
  lib/streamlit/elements/widgets/multiselect.py
  lib/streamlit/elements/widgets/number_input.py
  lib/streamlit/elements/widgets/radio.py
  lib/streamlit/elements/widgets/select_slider.py
  lib/streamlit/elements/widgets/selectbox.py
  lib/streamlit/elements/widgets/slider.py
  lib/streamlit/elements/widgets/text_widgets.py
  lib/streamlit/elements/widgets/time_widgets.py
  lib/streamlit/runtime/caching/cache_errors.py
  lib/streamlit/runtime/caching/cached_message_replay.py
  lib/streamlit/runtime/scriptrunner/script_run_context.py
Due: no-relative-imports

Some minor fixes
  lib/streamlit/runtime/caching/cached_message_replay.py
Due: no-relative-imports

change message size in e2e_playwright tests
  e2e_playwright/st_toast_test.py
Due: no-relative-imports

Add internal skeleton placeholder element (#8074)
  .pre-commit-config.yaml
  e2e_playwright/st_dialog_test.py
  e2e_playwright/st_table_test.py
  frontend/lib/src/AppNode.ts
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/elements/DeckGlJsonChart/withMapboxToken/withMapboxToken.tsx
  frontend/lib/src/components/elements/Skeleton/Skeleton.test.tsx
  frontend/lib/src/components/elements/Skeleton/Skeleton.tsx
  frontend/lib/src/components/elements/Skeleton/styled-components.ts
  frontend/lib/src/components/widgets/CustomComponent/ComponentInstance.tsx
  frontend/lib/src/util/utils.ts
  lib/streamlit/elements/empty.py
  lib/tests/streamlit/elements/doc_string_test.py
  lib/tests/streamlit/elements/empty_test.py
  lib/tests/streamlit/elements/map_test.py
  lib/tests/streamlit/runtime/script_data_test.py
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
  lib/tests/streamlit/runtime/secrets_test.py
  lib/tests/streamlit/source_util_test.py
  lib/tests/streamlit/watcher/local_sources_watcher_test.py
  lib/tests/streamlit/web/bootstrap_test.py
  lib/tests/streamlit/web/cli_test.py
  lib/tests/streamlit/web/server/app_static_file_handler_test.py
  lib/tests/streamlit/web/server/component_request_handler_test.py
  lib/tests/streamlit/web/server/routes_test.py
  lib/tests/streamlit/web/server/server_test.py
  proto/streamlit/proto/Element.proto
  proto/streamlit/proto/Skeleton.proto
  scripts/run_in_subdirectory.py
Due: prettier, typecheck, no-relative-imports

update st.toast snapshots
  e2e_playwright/__snapshots__/linux/st_toast_test/toast-collapsed[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_toast_test/toast-collapsed[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_toast_test/toast-collapsed[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_toast_test/toast-collapsed[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_toast_test/toast-collapsed[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_toast_test/toast-collapsed[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_toast_test/toast-default[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_toast_test/toast-default[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_toast_test/toast-default[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_toast_test/toast-default[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_toast_test/toast-default[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_toast_test/toast-default[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_toast_test/toast-expanded[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_toast_test/toast-expanded[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_toast_test/toast-expanded[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_toast_test/toast-expanded[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_toast_test/toast-expanded[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_toast_test/toast-expanded[light_theme-webkit].png
Due: none

Some more cleanup
  lib/streamlit/delta_generator.py
  lib/streamlit/elements/spinner.py
  lib/streamlit/runtime/caching/__init__.py
Due: no-relative-imports

Fix comments
  frontend/lib/src/WidgetStateManager.test.ts
  frontend/lib/src/WidgetStateManager.ts
Due: prettier, typecheck

Remove st warning from legacy caching
  lib/streamlit/runtime/legacy_caching/__init__.py
  lib/streamlit/runtime/legacy_caching/caching.py
Due: no-relative-imports

Updating constraints. Github run id:8692238363
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

remove duplicate dependency, make eslint happier
  frontend/lib/src/components/elements/Toast/Toast.tsx
Due: prettier, typecheck

Add new widget state manager methods to store frontend-only element state (#8448)
  frontend/lib/src/WidgetStateManager.test.ts
  frontend/lib/src/WidgetStateManager.ts
Due: prettier, typecheck

Refactor with new ElementState WidgetStateManager methods
  frontend/lib/src/WidgetStateManager.ts
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

[Plotly Selections] Refactor Keeping Zoom State to use new ElementState (#8484)
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-line-chart-specific-height-width[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-line-chart-specific-height-width[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-template-customization[dark_theme-chromium].png
  frontend/lib/src/WidgetStateManager.test.ts
  frontend/lib/src/WidgetStateManager.ts
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

Add comment and slight refactor
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

fix merge conflict miss
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

Clean up tests
  lib/streamlit/runtime/caching/cached_message_replay.py
  lib/tests/streamlit/runtime/caching/cache_data_api_test.py
  lib/tests/streamlit/runtime/caching/cache_resource_api_test.py
  lib/tests/streamlit/runtime/legacy_caching/caching_test.py
Due: no-relative-imports

Do imports in function to avoid circular dependency
  lib/streamlit/elements/widgets/button.py
  lib/streamlit/elements/widgets/chat.py
Due: no-relative-imports

Fix snapshots
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-line-chart-specific-height-width[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-line-chart-specific-height-width[light_theme-firefox].png
Due: none

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
