Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

[chore] Tighten the reason-telemetry plumbing
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  frontend/app/src/components/SkillsNudgeToast/skillsNudge.test.ts
  frontend/app/src/components/SkillsNudgeToast/skillsNudge.ts
  lib/streamlit/runtime/backend_operation_handler.py
  lib/streamlit/web/skills.py
  lib/tests/streamlit/runtime/backend_operation_handler_test.py
  lib/tests/streamlit/web/skills_test.py
Due: prettier, typecheck, no-relative-imports

[chore] Trim comment density in the reason-telemetry code
  lib/streamlit/runtime/backend_operation_handler.py
  lib/streamlit/web/skills.py
Due: no-relative-imports

[chore] Use field 2 for fallback_reason instead of reserving it
  proto/streamlit/proto/ForwardMsg.proto
Due: none

Improve tag accessibility in `st.multiselect` (#16200)
  e2e_playwright/st_multiselect_test.py
  frontend/lib/src/components/widgets/Multiselect/Multiselect.test.tsx
  frontend/lib/src/components/widgets/Multiselect/Multiselect.tsx
  frontend/lib/src/components/widgets/Multiselect/styled-components.ts
Due: prettier, typecheck, no-relative-imports

Fix accessibility behaviors
  frontend/lib/src/components/widgets/DateInput/CalendarPopoverHeader.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
  frontend/lib/src/components/widgets/DateInput/SingleDateInput.tsx
  frontend/lib/src/components/widgets/DateInput/styled-components.ts
Due: prettier, typecheck

Bug fix from qa pass
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.tsx
Due: prettier, typecheck

Clean up comments
  frontend/lib/src/components/widgets/DateInput/CalendarPopoverHeader.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.tsx
  frontend/lib/src/components/widgets/DateInput/SingleDateInput.tsx
  frontend/lib/src/components/widgets/DateInput/dateInputUtils.ts
  frontend/lib/src/components/widgets/DateInput/styled-components.ts
  frontend/lib/src/components/widgets/DateInput/useFirstDayOfWeek.ts
  frontend/lib/src/components/widgets/DateInput/weekInfo.ts
Due: prettier, typecheck

First pass
  e2e_playwright/shared/app_utils.py
  e2e_playwright/st_date_input_test.py
  frontend/lib/src/components/widgets/DateInput/CalendarPopoverHeader.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.tsx
  frontend/lib/src/components/widgets/DateInput/SingleDateInput.tsx
  frontend/lib/src/components/widgets/DateInput/dateInputUtils.test.ts
  frontend/lib/src/components/widgets/DateInput/dateInputUtils.ts
  frontend/lib/src/components/widgets/DateInput/styled-components.ts
  frontend/lib/src/components/widgets/DateInput/useFirstDayOfWeek.test.ts
  frontend/lib/src/components/widgets/DateInput/useFirstDayOfWeek.ts
  frontend/lib/src/components/widgets/DateInput/useIntlLocale.tsx
  frontend/lib/src/components/widgets/DateInput/weekInfo.ts
Due: prettier, typecheck, no-relative-imports

Fixes & styling
  frontend/lib/src/components/widgets/DateInput/CalendarPopoverHeader.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.tsx
  frontend/lib/src/components/widgets/DateInput/SingleDateInput.tsx
  frontend/lib/src/components/widgets/DateInput/styled-components.ts
  frontend/lib/src/hooks/useOverlayDismissal.ts
Due: prettier, typecheck

Fix sidebar coloration & flipping
  frontend/lib/src/components/widgets/DateInput/SingleDateInput.tsx
  frontend/lib/src/components/widgets/DateInput/styled-components.ts
Due: prettier, typecheck

Test fixes p1
  e2e_playwright/i18n_test.py
  e2e_playwright/st_dialog_test.py
  e2e_playwright/st_form_test.py
  e2e_playwright/st_fragment_basics_test.py
  e2e_playwright/st_popover_test.py
  e2e_playwright/st_sidebar_test.py
  e2e_playwright/websocket_disconnect_test.py
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.tsx
  frontend/lib/src/components/widgets/DateInput/SingleDateInput.tsx
  frontend/lib/src/components/widgets/DateInput/dateInputUtils.ts
  frontend/lib/src/components/widgets/DateInput/styled-components.ts
  frontend/lib/src/components/widgets/DateInput/weekInfo.ts
Due: prettier, typecheck, no-relative-imports

QA pass fixes
  e2e_playwright/i18n_test.py
  e2e_playwright/st_date_input_test.py
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.tsx
  frontend/lib/src/components/widgets/DateInput/SingleDateInput.tsx
  frontend/lib/src/components/widgets/DateInput/dateInputUtils.test.ts
  frontend/lib/src/components/widgets/DateInput/dateInputUtils.ts
Due: prettier, typecheck, no-relative-imports

Fix e2e test failures
  e2e_playwright/st_date_input_test.py
  frontend/lib/src/components/widgets/DateInput/DateInput.tsx
Due: prettier, typecheck, no-relative-imports

Redesign calendar
  frontend/lib/src/components/widgets/DateInput/CalendarPopoverHeader.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
  frontend/lib/src/components/widgets/DateInput/SingleDateInput.tsx
  frontend/lib/src/components/widgets/DateInput/styled-components.ts
Due: prettier, typecheck

Set min-width
  frontend/lib/src/components/widgets/DateInput/styled-components.ts
  frontend/lib/src/theme/primitives/sizes.ts
Due: prettier, typecheck

Remove redundant day of week logic
  frontend/lib/src/components/widgets/DateInput/DateInput.tsx
  frontend/lib/src/components/widgets/DateInput/SingleDateInput.tsx
  frontend/lib/src/components/widgets/DateInput/useFirstDayOfWeek.test.ts
  frontend/lib/src/components/widgets/DateInput/useFirstDayOfWeek.ts
  frontend/lib/src/components/widgets/DateInput/useIntlLocale.tsx
Due: prettier, typecheck

Address feedback p1
  frontend/lib/src/components/widgets/DateInput/SingleDateInput.tsx
  frontend/lib/src/components/widgets/DateInput/styled-components.ts
  frontend/lib/src/components/widgets/DateInput/weekInfo.ts
  frontend/lib/src/theme/primitives/sizes.ts
Due: prettier, typecheck

[chore] Address the consolidated AI review
  frontend/app/src/App.test.tsx
  lib/streamlit/web/skills.py
Due: prettier, typecheck, no-relative-imports

[feature] Emit a bounded failure reason on skills-install nudge telemetry (#16279)
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  frontend/app/src/components/SkillsNudgeToast/skillsNudge.test.ts
  frontend/app/src/components/SkillsNudgeToast/skillsNudge.ts
  frontend/lib/src/BackendOperationClient.test.ts
  frontend/lib/src/BackendOperationClient.ts
  frontend/lib/src/index.ts
  lib/streamlit/runtime/backend_operation_handler.py
  lib/streamlit/web/skills.py
  lib/tests/streamlit/runtime/backend_operation_handler_test.py
  lib/tests/streamlit/web/skills_test.py
  proto/streamlit/proto/ForwardMsg.proto
Due: prettier, typecheck, no-relative-imports

[fix] Harden skills install against partial-failure data loss
  lib/streamlit/web/skills.py
  lib/tests/streamlit/web/skills_test.py
Due: no-relative-imports

[test] Make the age-gate test actually exercise the age gate
  lib/streamlit/web/skills.py
  lib/tests/streamlit/web/skills_test.py
Due: no-relative-imports

Update date commit handling
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.tsx
  frontend/lib/src/components/widgets/DateInput/SingleDateInput.tsx
Due: prettier, typecheck

[chore] Wrap a long patch.object call to satisfy the pinned ruff formatter
  lib/tests/streamlit/web/skills_test.py
Due: no-relative-imports

[fix] Suppress the skills nudge when an install would only conflict, and report why (#15966)
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  frontend/app/src/components/SkillsNudgeToast/skillsNudge.test.ts
  frontend/app/src/components/SkillsNudgeToast/skillsNudge.ts
  lib/streamlit/runtime/app_session.py
  lib/streamlit/web/skills.py
  lib/tests/streamlit/proto_compatibility_test.py
  lib/tests/streamlit/runtime/app_session_test.py
  lib/tests/streamlit/web/skills_test.py
  proto/streamlit/proto/NewSession.proto
Due: prettier, typecheck, no-relative-imports

Align tab behavior with std
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
  frontend/lib/src/components/widgets/DateInput/SingleDateInput.tsx
Due: prettier, typecheck

Update version and project name in files
  frontend/package.json
  lib/pyproject.toml
  lib/streamlit/version.py
  pyproject.toml
  uv.lock
Due: no-relative-imports

Fix st.help header showing "page.run()" in multipage apps (#16244)
  e2e_playwright/st_help.py
  lib/streamlit/elements/help.py
  lib/tests/streamlit/elements/help_test.py
Due: no-relative-imports

[fix] support format='svg' in st.pyplot — fixes crash where SVG bytes were fed to PIL PNG decoder (#11489)
  lib/streamlit/elements/pyplot.py
  lib/tests/streamlit/elements/pyplot_test.py
Due: no-relative-imports

address AI review: use image_for_proto var + consolidate SVG tests with parameterize (#11489)
  lib/streamlit/elements/pyplot.py
  lib/tests/streamlit/elements/pyplot_test.py
Due: no-relative-imports

address AI review: improve test comment clarity (#11489)
  lib/tests/streamlit/elements/pyplot_test.py
Due: no-relative-imports

[fix] Re-derive heading anchor when heading text changes on rerun (#8793)
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
Due: prettier, typecheck

Apply oxfmt formatting to heading anchor test
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
Due: prettier, typecheck

[fix] dialog body re-executes when st.rerun is in button conditional (#13009)
  lib/tests/streamlit/elements/dialog_decorator_test.py
Due: no-relative-imports

Address review: extract shared anchor logic, add explicit-anchor test (#8793)
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
Due: prettier, typecheck

[fix] Preserve inline datasets for charts built via alt.Chart.from_json (#6269)
  lib/streamlit/elements/vega_charts.py
  lib/tests/streamlit/elements/vega_charts_test.py
Due: no-relative-imports

Address review: cover layered from_json charts, clarify merge comment
  lib/streamlit/elements/vega_charts.py
  lib/tests/streamlit/elements/vega_charts_test.py
Due: no-relative-imports

Address review: consolidate from_json tests, lead docstrings with behavior
  lib/tests/streamlit/elements/vega_charts_test.py
Due: no-relative-imports

Address review: assert frame equality per layer, plainer wording (#6269)
  lib/tests/streamlit/elements/vega_charts_test.py
Due: no-relative-imports

Decode the guard test's dataset to prove it is Arrow bytes (#6269)
  lib/tests/streamlit/elements/vega_charts_test.py
Due: no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
