Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Support built-in color names for the color parameter of charts
  lib/streamlit/elements/lib/built_in_chart_utils.py
  lib/streamlit/elements/lib/color_util.py
  lib/streamlit/elements/vega_charts.py
Due: no-relative-imports

Add comprehensive tests for built-in color functionality
  lib/tests/streamlit/elements/lib/built_in_chart_utils_test.py
  lib/tests/streamlit/elements/lib/color_util_test.py
  lib/tests/streamlit/elements/vega_charts_test.py
Due: no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Initial Project Work
  docs/transient-spinner-design.md
  frontend/lib/src/render-tree/AppNode.interface.ts
  frontend/lib/src/render-tree/AppRoot.test.ts
  frontend/lib/src/render-tree/AppRoot.ts
  frontend/lib/src/render-tree/BlockNode.test.ts
  frontend/lib/src/render-tree/BlockNode.ts
  frontend/lib/src/render-tree/ElementNode.test.ts
  frontend/lib/src/render-tree/ElementNode.ts
  frontend/lib/src/render-tree/index.ts
  frontend/lib/src/render-tree/test-utils.ts
Due: prettier, typecheck

Add Clear Stale Nodes Visitor
  frontend/lib/src/render-tree/AppNode.interface.ts
  frontend/lib/src/render-tree/AppRoot.test.ts
  frontend/lib/src/render-tree/AppRoot.ts
  frontend/lib/src/render-tree/BlockNode.test.ts
  frontend/lib/src/render-tree/BlockNode.ts
  frontend/lib/src/render-tree/ElementNode.test.ts
  frontend/lib/src/render-tree/ElementNode.ts
  frontend/lib/src/render-tree/test-utils.ts
  frontend/lib/src/render-tree/visitors/AppNodeVisitor.interface.ts
  frontend/lib/src/render-tree/visitors/ClearStaleNodeVisitor.test.ts
  frontend/lib/src/render-tree/visitors/ClearStaleNodeVisitor.ts
Due: prettier, typecheck

Add Filter Main Script Elements Visitor
  frontend/lib/src/render-tree/AppNode.interface.ts
  frontend/lib/src/render-tree/AppRoot.ts
  frontend/lib/src/render-tree/BlockNode.ts
  frontend/lib/src/render-tree/ElementNode.ts
  frontend/lib/src/render-tree/visitors/FilterMainScriptElementsVisitor.test.ts
  frontend/lib/src/render-tree/visitors/FilterMainScriptElementsVisitor.ts
Due: prettier, typecheck

Make small tweak to spinner
  lib/streamlit/elements/spinner.py
Due: no-relative-imports

Introduce TransientNode
  e2e_playwright/st_spinner.py
  frontend/lib/src/components/core/Block/RenderNodeVisitor.tsx
  frontend/lib/src/render-tree/AppNode.interface.ts
  frontend/lib/src/render-tree/AppRoot.ts
  frontend/lib/src/render-tree/BlockNode.ts
  frontend/lib/src/render-tree/ElementNode.ts
  frontend/lib/src/render-tree/StandaloneNode.ts
  frontend/lib/src/render-tree/TransientNode.test.ts
  frontend/lib/src/render-tree/TransientNode.ts
  frontend/lib/src/render-tree/visitors/ClearStaleNodeVisitor.ts
  frontend/lib/src/render-tree/visitors/DebugVisitor.ts
  frontend/lib/src/render-tree/visitors/ElementsSetVisitor.ts
  frontend/lib/src/render-tree/visitors/FilterMainScriptElementsVisitor.ts
  frontend/lib/src/render-tree/visitors/GetNodeByDeltaPathVisitor.ts
  frontend/lib/src/render-tree/visitors/SetNodeByDeltaPathVisitor.test.ts
  frontend/lib/src/render-tree/visitors/SetNodeByDeltaPathVisitor.ts
  lib/streamlit/cursor.py
  lib/streamlit/delta_generator.py
  lib/streamlit/elements/spinner.py
  lib/tests/streamlit/elements/cache_spinner_test.py
  lib/tests/streamlit/runtime/caching/common_cache_test.py
  lib/tests/streamlit/spinner_test.py
  lib/tests/streamlit/write_test.py
  proto/streamlit/proto/Delta.proto
  proto/streamlit/proto/Transient.proto
Due: prettier, typecheck, no-relative-imports

Update tests and lint errors
  docs/transient-spinner-design.md
  frontend/lib/src/render-tree/BlockNode.ts
  frontend/lib/src/render-tree/ElementNode.ts
  frontend/lib/src/render-tree/TransientNode.test.ts
  frontend/lib/src/render-tree/TransientNode.ts
  frontend/lib/src/render-tree/visitors/ClearStaleNodeVisitor.ts
  frontend/lib/src/render-tree/visitors/FilterMainScriptElementsVisitor.ts
Due: prettier, typecheck

Refactor root in AppRoot to not be a blockNode
  frontend/app/src/components/AppView/AppView.test.tsx
  frontend/lib/src/AppNode.test.ts
  frontend/lib/src/render-tree/AppRoot.test.ts
  frontend/lib/src/render-tree/AppRoot.ts
Due: prettier, typecheck

Introduce TransientNode
  frontend/lib/src/AppNode.ts
  frontend/lib/src/components/core/Block/RenderNodeVisitor.tsx
  frontend/lib/src/index.ts
  frontend/lib/src/render-tree/AppNode.interface.ts
  frontend/lib/src/render-tree/BlockNode.test.ts
  frontend/lib/src/render-tree/BlockNode.ts
  frontend/lib/src/render-tree/ElementNode.test.ts
  frontend/lib/src/render-tree/ElementNode.ts
  frontend/lib/src/render-tree/StandaloneNode.test.ts
  frontend/lib/src/render-tree/StandaloneNode.ts
  frontend/lib/src/render-tree/TransientNode.test.ts
  frontend/lib/src/render-tree/TransientNode.ts
  frontend/lib/src/render-tree/index.ts
  frontend/lib/src/render-tree/visitors/AppNodeVisitor.interface.ts
  frontend/lib/src/render-tree/visitors/ClearStaleNodeVisitor.ts
  frontend/lib/src/render-tree/visitors/ElementsSetVisitor.ts
  frontend/lib/src/render-tree/visitors/FilterMainScriptElementsVisitor.ts
  frontend/lib/src/render-tree/visitors/GetNodeByDeltaPathVisitor.ts
  frontend/lib/src/render-tree/visitors/SetNodeByDeltaPathVisitor.ts
Due: prettier, typecheck

Add Elements Set Visitor
  frontend/lib/src/components/core/Block/utils.ts
  frontend/lib/src/render-tree/AppNode.interface.ts
  frontend/lib/src/render-tree/AppRoot.test.ts
  frontend/lib/src/render-tree/AppRoot.ts
  frontend/lib/src/render-tree/BlockNode.test.ts
  frontend/lib/src/render-tree/BlockNode.ts
  frontend/lib/src/render-tree/ElementNode.test.ts
  frontend/lib/src/render-tree/ElementNode.ts
  frontend/lib/src/render-tree/visitors/ElementsSetVisitor.test.ts
  frontend/lib/src/render-tree/visitors/ElementsSetVisitor.ts
Due: prettier, typecheck

Update Python side
  frontend/lib/src/components/core/Block/RenderNodeVisitor.tsx
  frontend/lib/src/render-tree/AppRoot.ts
  frontend/lib/src/render-tree/BlockNode.ts
  frontend/lib/src/render-tree/ElementNode.ts
  frontend/lib/src/render-tree/TransientNode.ts
  frontend/lib/src/render-tree/visitors/ClearStaleNodeVisitor.ts
  frontend/lib/src/render-tree/visitors/DebugVisitor.ts
  frontend/lib/src/render-tree/visitors/ElementsSetVisitor.ts
  frontend/lib/src/render-tree/visitors/FilterMainScriptElementsVisitor.ts
  lib/streamlit/cursor.py
  lib/streamlit/delta_generator.py
  lib/streamlit/elements/spinner.py
  proto/streamlit/proto/Transient.proto
Due: prettier, typecheck, no-relative-imports

Add Get Node By Delta Path Visitor
  frontend/lib/src/AppNode.test.ts
  frontend/lib/src/render-tree/AppNode.interface.ts
  frontend/lib/src/render-tree/AppRoot.test.ts
  frontend/lib/src/render-tree/AppRoot.ts
  frontend/lib/src/render-tree/BlockNode.test.ts
  frontend/lib/src/render-tree/BlockNode.ts
  frontend/lib/src/render-tree/ElementNode.ts
  frontend/lib/src/render-tree/visitors/GetNodeByDeltaPathVisitor.test.ts
  frontend/lib/src/render-tree/visitors/GetNodeByDeltaPathVisitor.ts
  frontend/lib/src/render-tree/visitors/SetNodeByDeltaPathVisitor.test.ts
Due: prettier, typecheck

Add Render Node Visitor
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/core/Block/RenderNodeVisitor.test.tsx
  frontend/lib/src/components/core/Block/RenderNodeVisitor.tsx
  frontend/lib/src/render-tree/AppRoot.ts
Due: prettier, typecheck

Make logo just another node on the AppRoot
  frontend/app/src/components/AppView/AppView.test.tsx
  frontend/lib/src/AppNode.test.ts
  frontend/lib/src/AppNode.ts
  frontend/lib/src/index.ts
  frontend/lib/src/render-tree/AppRoot.test.ts
  frontend/lib/src/render-tree/AppRoot.ts
  frontend/lib/src/render-tree/BlockNode.test.ts
  frontend/lib/src/render-tree/ElementNode.test.ts
  frontend/lib/src/render-tree/StandaloneNode.test.ts
  frontend/lib/src/render-tree/StandaloneNode.ts
  frontend/lib/src/render-tree/index.ts
  frontend/lib/src/render-tree/visitors/AppNodeVisitor.interface.ts
  frontend/lib/src/render-tree/visitors/ClearStaleNodeVisitor.test.ts
  frontend/lib/src/render-tree/visitors/ClearStaleNodeVisitor.ts
  frontend/lib/src/render-tree/visitors/ElementsSetVisitor.test.ts
  frontend/lib/src/render-tree/visitors/ElementsSetVisitor.ts
  frontend/lib/src/render-tree/visitors/FilterMainScriptElementsVisitor.test.ts
  frontend/lib/src/render-tree/visitors/FilterMainScriptElementsVisitor.ts
  frontend/lib/src/render-tree/visitors/GetNodeByDeltaPathVisitor.test.ts
  frontend/lib/src/render-tree/visitors/GetNodeByDeltaPathVisitor.ts
  frontend/lib/src/render-tree/visitors/SetNodeByDeltaPathVisitor.test.ts
  frontend/lib/src/render-tree/visitors/SetNodeByDeltaPathVisitor.ts
Due: prettier, typecheck

Fix MPA issue
  frontend/lib/src/render-tree/AppRoot.ts
  frontend/lib/src/render-tree/visitors/DebugVisitor.ts
Due: prettier, typecheck

Add Set Node By Delta Path Visitor
  frontend/lib/src/AppNode.test.ts
  frontend/lib/src/render-tree/AppNode.interface.ts
  frontend/lib/src/render-tree/AppRoot.ts
  frontend/lib/src/render-tree/BlockNode.test.ts
  frontend/lib/src/render-tree/BlockNode.ts
  frontend/lib/src/render-tree/ElementNode.ts
  frontend/lib/src/render-tree/visitors/SetNodeByDeltaPathVisitor.test.ts
  frontend/lib/src/render-tree/visitors/SetNodeByDeltaPathVisitor.ts
Due: prettier, typecheck

Update doc
  docs/transient-spinner-design.md
Due: none

Latest updates on transiency
  frontend/lib/src/components/core/Block/RenderNodeVisitor.tsx
  frontend/lib/src/render-tree/AppRoot.ts
  frontend/lib/src/render-tree/ElementNode.ts
  frontend/lib/src/render-tree/visitors/SetNodeByDeltaPathVisitor.ts
  lib/streamlit/__init__.py
  lib/streamlit/cursor.py
  lib/streamlit/delta_generator.py
  lib/streamlit/elements/spinner.py
  lib/streamlit/runtime/caching/cache_utils.py
  lib/streamlit/runtime/forward_msg_queue.py
Due: prettier, typecheck, no-relative-imports

Fix plotly chart e2e test timeouts by replacing remote CSV with synthetic data
  e2e_playwright/st_plotly_chart.py
Due: no-relative-imports

update snapshots
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-fullscreen_reset_axis[chromium].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-fullscreen_reset_axis[firefox].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-fullscreen_reset_axis[webkit].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-fullscreen_zoomed_selection[chromium].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-fullscreen_zoomed_selection[firefox].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-fullscreen_zoomed_selection[webkit].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-line_chart_specific_height_width[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_plotly_chart_test/st_plotly_chart-line_chart_specific_height_width[light_theme-chromium].png
Due: none

Allow customizing ProgressColumn color
  e2e_playwright/st_dataframe_config.py
  frontend/lib/src/components/widgets/DataFrame/columns/ProgressColumn.test.ts
  frontend/lib/src/components/widgets/DataFrame/columns/ProgressColumn.ts
  lib/streamlit/elements/lib/column_types.py
  lib/tests/streamlit/elements/lib/column_types_test.py
Due: prettier, typecheck, no-relative-imports

Add tests
  frontend/lib/src/components/widgets/DataFrame/columns/ProgressColumn.test.ts
Due: prettier, typecheck

Ignore flaky e2e color picker test for firefox
  e2e_playwright/st_color_picker_test.py
Due: no-relative-imports

Add e2e test for audio input timer display
  e2e_playwright/st_audio_input_test.py
Due: no-relative-imports

Make timer display test more deterministic
  e2e_playwright/st_audio_input_test.py
Due: no-relative-imports

Update snapshots
  e2e_playwright/__snapshots__/linux/st_select_slider_test/st_select_slider-dynamic_updated[chromium].png
  e2e_playwright/__snapshots__/linux/st_select_slider_test/st_select_slider-dynamic_updated[firefox].png
  e2e_playwright/__snapshots__/linux/st_select_slider_test/st_select_slider-dynamic_updated[webkit].png
Due: none

Fix issues
  e2e_playwright/st_file_uploader_test.py
Due: no-relative-imports

Address review feedback for audio input timer test
  e2e_playwright/st_audio_input_test.py
Due: no-relative-imports

Use key as main identity for `st.radio` widget
  e2e_playwright/st_radio.py
  e2e_playwright/st_radio_test.py
  lib/streamlit/elements/widgets/radio.py
  lib/streamlit/elements/widgets/selectbox.py
  lib/tests/streamlit/elements/radio_test.py
Due: no-relative-imports

Update
  e2e_playwright/__snapshots__/linux/st_select_slider_test/st_select_slider-dynamic_updated[firefox].png
Due: none

Refactor `st.pills` e2e test
  e2e_playwright/st_pills_test.py
Due: no-relative-imports

Update
  e2e_playwright/__snapshots__/linux/st_radio_test/st_radio-dynamic_initial[chromium].png
  e2e_playwright/__snapshots__/linux/st_radio_test/st_radio-dynamic_initial[firefox].png
  e2e_playwright/__snapshots__/linux/st_radio_test/st_radio-dynamic_initial[webkit].png
  e2e_playwright/__snapshots__/linux/st_radio_test/st_radio-dynamic_updated[chromium].png
  e2e_playwright/__snapshots__/linux/st_radio_test/st_radio-dynamic_updated[firefox].png
  e2e_playwright/__snapshots__/linux/st_radio_test/st_radio-dynamic_updated[webkit].png
Due: none

Fix waveform vertical centering and remove WaveformSurface wrapper
  frontend/lib/src/components/audio/core/useWaveformController.ts
  frontend/lib/src/components/widgets/AudioInput/AudioInput.tsx
  frontend/lib/src/components/widgets/AudioInput/styled-components.ts
Due: prettier, typecheck

Fix race condition and sample rate handling in audio recording
  frontend/lib/src/components/audio/backends/WaveSurferRecordBackend.ts
  frontend/lib/src/components/audio/core/encodeToWav.ts
  frontend/lib/src/components/audio/core/types.ts
  frontend/lib/src/components/audio/core/useWaveformController.ts
  frontend/lib/src/components/widgets/AudioInput/AudioInput.tsx
Due: prettier, typecheck

Revert unrelated auth_util.py change
  lib/streamlit/auth_util.py
Due: no-relative-imports

Refactor waveform display and interactions
  frontend/lib/src/components/audio/backends/WaveSurferRecordBackend.ts
  frontend/lib/src/components/audio/core/useWaveformController.ts
  frontend/lib/src/components/audio/ui/WaveformSurface.tsx
Due: prettier, typecheck
