Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Change internal name to _pos
  frontend/src/components/widgets/DataFrame/hooks/useColumnLoader.ts
  lib/streamlit/elements/lib/column_config_utils.py
Due: prettier, typecheck, eslint, no-relative-imports

Implement test for _parse_value
  lib/tests/streamlit/elements/data_editor_test.py
Due: no-relative-imports

Apply various edits
  lib/streamlit/elements/data_editor.py
  lib/streamlit/elements/lib/column_config_utils.py
  lib/tests/streamlit/elements/lib/column_config_utils_test.py
Due: no-relative-imports

Update to glide data grid beta
  frontend/package.json
  frontend/yarn.lock
Due: none

Add column order to proto
  proto/streamlit/proto/Arrow.proto
Due: none

Add column order
  frontend/src/components/widgets/DataFrame/hooks/useColumnLoader.ts
Due: prettier, typecheck, eslint

Add some improvements
  lib/streamlit/elements/data_editor.py
  lib/streamlit/elements/lib/column_config_utils.py
Due: no-relative-imports

Add test for range type
  frontend/src/components/widgets/DataFrame/arrowUtils.test.ts
Due: prettier, typecheck, eslint

Remove comment
  frontend/src/components/widgets/DataFrame/columns/utils.ts
Due: prettier, typecheck, eslint

add `UserHashError` machinery to @st.cache_data and @st.cache_resource hash_funcs
  lib/streamlit/runtime/caching/cache_resource_api.py
  lib/streamlit/runtime/caching/cache_utils.py
  lib/streamlit/runtime/caching/hashing.py
Due: no-relative-imports

Change the year
  frontend/src/components/widgets/DataFrame/columns/utils.test.ts
Due: prettier, typecheck, eslint

Refactor `st.dataframe` and `st.data_editor` number formatting (#6591)
  frontend/src/components/widgets/DataFrame/arrowUtils.test.ts
  frontend/src/components/widgets/DataFrame/arrowUtils.ts
  frontend/src/components/widgets/DataFrame/columns/ChartColumn.ts
  frontend/src/components/widgets/DataFrame/columns/NumberColumn.test.ts
  frontend/src/components/widgets/DataFrame/columns/NumberColumn.ts
  frontend/src/components/widgets/DataFrame/columns/utils.test.ts
  frontend/src/components/widgets/DataFrame/columns/utils.ts
Due: prettier, typecheck, eslint

Updating constraints. Github run id:4832937269
  constraints-3.8.txt
Due: none

Update tests
  frontend/src/components/widgets/DataFrame/columns/NumberColumn.test.ts
  frontend/src/components/widgets/DataFrame/columns/ProgressColumn.test.ts
  frontend/src/components/widgets/DataFrame/columns/ProgressColumn.ts
Due: prettier, typecheck, eslint

Add test for min/max/step defaults
  frontend/src/components/widgets/DataFrame/columns/ProgressColumn.test.ts
Due: prettier, typecheck, eslint

Removed unused imports
  frontend/src/components/widgets/DataFrame/columns/ProgressColumn.ts
Due: prettier, typecheck, eslint

Change datetime column formatting to date-fns (#6590)
  NOTICES
  frontend/package.json
  frontend/src/components/widgets/DataFrame/columns/DateTimeColumn.test.ts
  frontend/src/components/widgets/DataFrame/columns/DateTimeColumn.ts
  frontend/src/components/widgets/DataFrame/columns/utils.test.ts
  frontend/src/components/widgets/DataFrame/columns/utils.ts
  frontend/yarn.lock
Due: prettier, typecheck, eslint

Add progress column type for `st.dataframe` and `st.data_editor` (#6593)
  frontend/src/components/widgets/DataFrame/columns/NumberColumn.test.ts
  frontend/src/components/widgets/DataFrame/columns/ProgressColumn.test.ts
  frontend/src/components/widgets/DataFrame/columns/ProgressColumn.ts
  frontend/src/components/widgets/DataFrame/columns/index.ts
  frontend/src/components/widgets/DataFrame/hooks/useDataEditor.ts
  lib/streamlit/elements/lib/column_config_utils.py
Due: prettier, typecheck, eslint, no-relative-imports

Better test script loading (#6575)
  lib/streamlit/testing/element_tree.py
  lib/streamlit/testing/script_interactions.py
  lib/tests/streamlit/runtime/caching/common_cache_test.py
  lib/tests/streamlit/runtime/state/session_state_test.py
  lib/tests/streamlit/script_interactions_test.py
  lib/tests/streamlit/testing/element_tree_test.py
Due: no-relative-imports

fix eslintrc
  frontend/.eslintrc
Due: none

Update StreamlitLib test
  frontend/src/lib/StreamlitLib.test.tsx
Due: prettier, typecheck, eslint

Remove "/index" from import paths
  frontend/src/lib/components/elements/Snow/Snow.test.tsx
  frontend/src/lib/components/shared/Dropdown/Selectbox.tsx
  frontend/src/lib/theme/emotion.d.ts
  frontend/src/lib/theme/globalStyles.ts
  frontend/src/lib/theme/utils.test.ts
  frontend/src/lib/theme/utils.ts
Due: prettier, typecheck, eslint

Make "Build Release" workflow to run in private forks
  .github/actions/make_init/action.yml
  .github/workflows/cli-regression.yml
  .github/workflows/cypress-update-snapshots.yml
  .github/workflows/cypress.yml
  .github/workflows/js-tests.yml
  .github/workflows/nightly.yml
  .github/workflows/pr-preview.yml
  .github/workflows/py-prod-deps-smoke-test.yml
  .github/workflows/python-versions.yml
  .github/workflows/release-candidate.yml
  .github/workflows/release.yml
  Makefile
  scripts/create_release.py
  scripts/get_release_branch.py
Due: no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:4837406425
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Add additional db attributions
  lib/streamlit/runtime/metrics_util.py
Due: no-relative-imports

Add library
  lib/streamlit/runtime/metrics_util.py
Due: no-relative-imports

Add db client attributions (#6556)
  lib/streamlit/runtime/metrics_util.py
Due: no-relative-imports

Updating constraints. Github run id:4847433091
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Updating constraints. Github run id:4849121894
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Remove circular dependencies and fix imports
  frontend/src/lib/mocks/mockTheme.ts
  frontend/src/theme/baseui.ts
  frontend/src/theme/createThemeUtil.ts
  frontend/src/theme/emotionBaseTheme/index.ts
  frontend/src/theme/emotionDarkTheme/index.ts
  frontend/src/theme/emotionLightTheme/index.ts
  frontend/src/theme/getColors.ts
  frontend/src/theme/themeConfigs.ts
  frontend/src/theme/utils.ts
Due: prettier, typecheck, eslint

Updated exceptions/tests for #6572
  e2e/specs/st_set_page_config.spec.js
  lib/streamlit/runtime/scriptrunner/script_run_context.py
Due: typecheck, no-relative-imports

LibContext, WIP
  frontend/src/app/App.tsx
  frontend/src/app/components/Sidebar/ThemedSidebar.tsx
  frontend/src/app/components/StreamlitDialog/ThemeCreatorDialog.tsx
  frontend/src/lib/components/core/AppContext.tsx
  frontend/src/lib/components/core/Block/ElementNodeRenderer.tsx
  frontend/src/lib/components/core/LibContext.tsx
  frontend/src/lib/components/elements/Spinner/Spinner.tsx
  frontend/src/lib/components/shared/FullScreenWrapper/FullScreenWrapper.tsx
  frontend/src/lib/components/shared/ProgressBar/ProgressBar.tsx
  frontend/src/lib/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
Due: prettier, typecheck, eslint

Move all theme bits into LibContext
  frontend/src/app/App.tsx
  frontend/src/app/components/StreamlitDialog/SettingsDialog.test.tsx
  frontend/src/app/components/StreamlitDialog/SettingsDialog.tsx
  frontend/src/app/components/StreamlitDialog/ThemeCreatorDialog.tsx
  frontend/src/lib/components/core/AppContext.tsx
  frontend/src/lib/components/core/LibContext.tsx
Due: prettier, typecheck, eslint

Move AppContext to app/
  frontend/src/app/App.tsx
  frontend/src/app/components/AppContext.tsx
  frontend/src/app/components/AppView/AppView.tsx
  frontend/src/app/components/Header/Header.tsx
  frontend/src/app/components/Sidebar/ThemedSidebar.tsx
Due: prettier, typecheck, eslint

Split AppContext into AppContext, LibContext (#6607)
  frontend/src/app/App.tsx
  frontend/src/app/components/AppContext.tsx
  frontend/src/app/components/AppView/AppView.tsx
  frontend/src/app/components/Header/Header.tsx
  frontend/src/app/components/Sidebar/ThemedSidebar.tsx
  frontend/src/app/components/StreamlitDialog/SettingsDialog.test.tsx
  frontend/src/app/components/StreamlitDialog/SettingsDialog.tsx
  frontend/src/app/components/StreamlitDialog/ThemeCreatorDialog.tsx
  frontend/src/lib/components/core/Block/ElementNodeRenderer.tsx
  frontend/src/lib/components/core/LibContext.tsx
  frontend/src/lib/components/elements/Spinner/Spinner.tsx
  frontend/src/lib/components/shared/FullScreenWrapper/FullScreenWrapper.tsx
  frontend/src/lib/components/shared/ProgressBar/ProgressBar.tsx
  frontend/src/lib/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
Due: prettier, typecheck, eslint

Updating constraints. Github run id:4854907272
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
