Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:8015581104
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Change return value to box and lasso from select_box and select_lasso
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

Fix small bug to always include box and lasso
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

Add docstring to plotly chart
  lib/streamlit/elements/plotly_chart.py
Due: no-relative-imports

Fix docstring typo
  lib/streamlit/testing/v1/app_test.py
Due: no-relative-imports

Expander and Status AppTest wrappers (#8187)
  lib/streamlit/testing/v1/app_test.py
  lib/streamlit/testing/v1/element_tree.py
  lib/tests/streamlit/testing/app_test_test.py
  lib/tests/streamlit/testing/element_tree_test.py
Due: no-relative-imports

Updating constraints. Github run id:8024357109
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

First pass
  frontend/lib/src/components/elements/AlertElement/AlertElement.tsx
  frontend/lib/src/components/elements/AlertElement/styled-components.tsx
  frontend/lib/src/components/shared/AlertContainer/AlertContainer.tsx
  frontend/lib/src/components/shared/AlertContainer/styled-components.ts
Due: prettier, typecheck

Add e2e test - update snaps P1
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_icon[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_icon[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_icon[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_icon[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_icon[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_icon[light_theme-webkit].png
  e2e_playwright/st_alert.py
  e2e_playwright/st_alert_test.py
Due: no-relative-imports

Style fixes
  frontend/lib/src/components/elements/AlertElement/AlertElement.tsx
  frontend/lib/src/components/elements/AlertElement/styled-components.tsx
  frontend/lib/src/components/shared/AlertContainer/AlertContainer.tsx
  frontend/lib/src/components/shared/AlertContainer/styled-components.ts
Due: prettier, typecheck

Snaps P1
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_icon[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_icon[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_icon[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_icon[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_icon[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_icon[light_theme-webkit].png
Due: none

Add new snaps
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_long_code[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_long_code[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_long_code[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_long_code[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_long_code[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_long_code[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-success_long_code[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-success_long_code[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-success_long_code[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-success_long_code[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-success_long_code[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-success_long_code[light_theme-webkit].png
Due: none

Updating constraints. Github run id:8028836195
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Updating constraints. Github run id:8036112613
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

fixup! jslinting
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/lib/src/components/elements/Skeleton/Skeleton.test.tsx
  frontend/lib/src/components/elements/Skeleton/Skeleton.tsx
Due: prettier, typecheck

Updating constraints. Github run id:8044682034
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Fix popover button padding
  frontend/lib/src/components/elements/Popover/styled-components.ts
Due: prettier, typecheck

Remove snapshots
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-disabled[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-disabled[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-disabled[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-disabled[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-disabled[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-disabled[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[light_theme-webkit].png
Due: none

Change margin
  frontend/lib/src/components/elements/Popover/styled-components.ts
Due: prettier, typecheck

Add loop parameter to st.audio
  frontend/lib/src/components/elements/Audio/Audio.tsx
  lib/streamlit/elements/media.py
  proto/streamlit/proto/Audio.proto
Due: prettier, typecheck, no-relative-imports

fix failing test
  lib/tests/streamlit/elements/help_test.py
Due: no-relative-imports

make mypy happy
  lib/streamlit/elements/media.py
Due: no-relative-imports

Fix comment
  frontend/lib/src/components/elements/AlertElement/AlertElement.tsx
Due: prettier, typecheck

Update popover snapshots
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-disabled[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-disabled[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-disabled[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-disabled[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-disabled[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-disabled[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[light_theme-webkit].png
Due: none

Fix right side padding
  frontend/lib/src/components/elements/AlertElement/styled-components.tsx
Due: prettier, typecheck

Fix: Alert element overflow (#8194)
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_icon[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_icon[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_long_code[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_long_code[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_long_code[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_long_code[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_long_code[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-error_long_code[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-success_long_code[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-success_long_code[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-success_long_code[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-success_long_code[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-success_long_code[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_alert_test/st_alert-success_long_code[light_theme-webkit].png
  e2e_playwright/st_alert.py
  e2e_playwright/st_alert_test.py
  frontend/lib/src/components/elements/AlertElement/AlertElement.tsx
  frontend/lib/src/components/elements/AlertElement/styled-components.tsx
Due: prettier, typecheck, no-relative-imports

Updating constraints. Github run id:8056141268
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Update element buffer based on new state
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
Due: prettier, typecheck

Add context comments with PR number
  frontend/app/src/App.test.tsx
Due: prettier, typecheck

Updating constraints. Github run id:8060624784
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Update styled component
  frontend/lib/src/components/elements/Popover/styled-components.ts
Due: prettier, typecheck

Add more comments
  frontend/lib/src/components/elements/Popover/styled-components.ts
Due: prettier, typecheck

Fix popover button padding (#8202)
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-disabled[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-disabled[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-disabled[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-disabled[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-disabled[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-disabled[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-empty[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-normal[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-sidebar[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-use_container_width[light_theme-webkit].png
  frontend/lib/src/components/elements/Popover/styled-components.ts
Due: prettier, typecheck

Updating constraints. Github run id:8066331865
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
