Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Consolidate ESLint dependencies to root frontend/package.json
  frontend/ESLINT.md
  frontend/app/package.json
  frontend/component-v2-lib/package.json
  frontend/connection/package.json
  frontend/lib/package.json
  frontend/package.json
  frontend/utils/package.json
  frontend/yarn.lock
Due: none

Remove ESLINT.md documentation file
  frontend/ESLINT.md
Due: none

feat: add fixing-streamlit-ci skill for diagnosing CI failures
  .claude/.gitignore
  .claude/skills/fixing-streamlit-ci.md
Due: none

Document Streamlit codebase setup analysis and improvements
  specs/tech-specs/codebase-setup-improvements.md
Due: none

fix: address PR review comments for fixing-streamlit-ci skill
  .claude/skills/fixing-streamlit-ci.md
Due: none

fix: use yarn test for frontend tests consistency
  .claude/skills/fixing-streamlit-ci.md
Due: none

Update version and project name in files
  frontend/package.json
  lib/pyproject.toml
  lib/streamlit/version.py
  pyproject.toml
Due: no-relative-imports

Apply automatic fixes
  frontend/yarn.lock
Due: none

Update
  lib/streamlit/commands/execution_control.py
Due: no-relative-imports

Add Final annotations and remove Java proto options
  lib/streamlit/elements/widgets/feedback.py
  proto/streamlit/proto/Feedback.proto
Due: no-relative-imports

Fix misleading test name for width configuration test
  frontend/lib/src/components/widgets/Feedback/Feedback.test.tsx
Due: prettier, typecheck

Address PR review comments for feedback tests
  lib/tests/streamlit/elements/button_group_test.py
  lib/tests/streamlit/runtime/state/widgets_test.py
Due: no-relative-imports

Fix stale outputs on stop
  frontend/lib/src/components/core/Block/utils.test.ts
  frontend/lib/src/components/core/Block/utils.ts
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/streamlit/runtime/scriptrunner_utils/script_requests.py
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
Due: prettier, typecheck, no-relative-imports

Enable dynamic changes to format_func when key is set
  lib/streamlit/elements/widgets/selectbox.py
  lib/streamlit/runtime/state/common.py
  lib/streamlit/runtime/state/session_state.py
Due: no-relative-imports

Add vite-plugin-terminal for debug logging to terminal
  frontend/app/package.json
  frontend/app/vite.config.ts
  frontend/yarn.lock
Due: prettier, typecheck

Add debug log files and port availability check
  .cursor/rules/overview.mdc
  .github/copilot-instructions.md
  .gitignore
  AGENTS.md
  Makefile
Due: none

Improve `make debug` with health checks and better server management
  Makefile
Due: none

Add `make debug` command for debugging with coding agents
  .cursor/rules/make_commands.mdc
  Makefile
Due: none

Use work-tmp/ for debug logs instead of .debug/
  .cursor/rules/overview.mdc
  .github/copilot-instructions.md
  .gitignore
  AGENTS.md
  Makefile
Due: none

Document hot-reload support in `make debug` command
  .cursor/rules/overview.mdc
  .github/copilot-instructions.md
  AGENTS.md
Due: none

Add hint about `make debug` in development tips
  .cursor/rules/overview.mdc
  .github/copilot-instructions.md
  AGENTS.md
Due: none

Add @playwright/cli for quick debugging screenshots
  .claude/skills/debugging-streamlit.md
  frontend/package.json
  frontend/yarn.lock
Due: none

Clarify hot-reload limitations in debug mode
  .claude/skills/debugging-streamlit.md
  .cursor/rules/overview.mdc
  .github/copilot-instructions.md
  AGENTS.md
Due: none

Require user confirmation before killing port processes in debugging skill
  .claude/skills/debugging-streamlit.md
Due: none

Add debugging-streamlit skill for AI agents
  .claude/.gitignore
  .claude/skills/debugging-streamlit.md
Due: none

Clarify Makefile catch-all comment about error code
  Makefile
Due: none

Use work-tmp/debug/ for debug playwright screenshots
  .claude/skills/debugging-streamlit.md
Due: none

Simplify debugging skill documentation
  .claude/skills/debugging-streamlit.md
Due: none

Update
  .claude/skills/debugging-streamlit.md
Due: none

Use uv run for streamlit in make debug command
  Makefile
Due: none

Move debug logs to work-tmp/debug/ subdirectory
  .claude/skills/debugging-streamlit.md
  .cursor/rules/overview.mdc
  .github/copilot-instructions.md
  AGENTS.md
  Makefile
Due: none

Use PYTHONPATH with uv run instead of sys.path hack in debugging skill
  .claude/skills/debugging-streamlit.md
Due: none

Link debugging skill from AGENTS.md and fix playwright-cli path
  .claude/skills/debugging-streamlit.md
  .cursor/rules/overview.mdc
  .github/copilot-instructions.md
  AGENTS.md
Due: none

Rename TERMINAL_CONSOLE to DEBUG_TO_CONSOLE
  Makefile
  frontend/app/vite.config.ts
Due: prettier, typecheck

Clean up
  frontend/app/src/App.tsx
  frontend/lib/src/WidgetStateManager.ts
Due: prettier, typecheck

Add tests & refactor
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  frontend/lib/src/WidgetStateManager.test.ts
  frontend/lib/src/WidgetStateManager.ts
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.test.tsx
  frontend/lib/src/hooks/useBasicWidgetState.test.ts
  frontend/lib/src/hooks/useBasicWidgetState.ts
Due: prettier, typecheck

Translate prototype code
  frontend/app/src/App.tsx
  frontend/lib/src/WidgetStateManager.ts
  frontend/lib/src/hooks/useBasicWidgetState.ts
Due: prettier, typecheck

Address comments
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  frontend/lib/src/WidgetStateManager.ts
Due: prettier, typecheck

Remove hasSeededValue
  frontend/lib/src/WidgetStateManager.test.ts
  frontend/lib/src/WidgetStateManager.ts
  frontend/lib/src/hooks/useBasicWidgetState.test.ts
  frontend/lib/src/hooks/useBasicWidgetState.ts
Due: prettier, typecheck

Improve query param persist mgmt
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  frontend/lib/src/WidgetStateManager.ts
Due: prettier, typecheck
