Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Remove cypress-circleci-reporter
  frontend/package.json
  frontend/yarn.lock
  scripts/run_e2e_tests.py
Due: no-relative-imports

Update cypress-file-upload & cypress-image-snapshot
  frontend/package.json
  frontend/yarn.lock
Due: none

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Up testing-library/react, testing-library/dom, & testing-library/react-hooks
  frontend/package.json
  frontend/yarn.lock
Due: none

Up testing-library/user-event
  frontend/package.json
  frontend/src/components/widgets/Form/FormSubmitButton.test.tsx
  frontend/yarn.lock
Due: prettier, typecheck, eslint

Up react-dropzone to 12.2.0
  frontend/package.json
  frontend/yarn.lock
Due: none

Up react-markdown & rehype & remark deps
  NOTICES
  frontend/package.json
  frontend/src/components/elements/CodeBlock/CodeBlock.tsx
  frontend/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
  frontend/yarn.lock
Due: prettier, typecheck, eslint

Fix Markdown issues in cache_data and cache_resource docstrings
  lib/streamlit/runtime/caching/cache_data_api.py
  lib/streamlit/runtime/caching/cache_resource_api.py
Due: no-relative-imports

fix failing test, remove selectbox format_func usage selectbox testing framework implementation
  lib/streamlit/elements/selectbox.py
  lib/tests/streamlit/testing/element_tree_test.py
Due: no-relative-imports

Failing multiselect tests
  lib/tests/streamlit/testing/element_tree_test.py
Due: no-relative-imports

Fix Markdown issues in cache_data and cache_resource docstrings (#5999)
  lib/streamlit/runtime/caching/cache_data_api.py
  lib/streamlit/runtime/caching/cache_resource_api.py
Due: no-relative-imports

Add review suggestions
  frontend/src/components/widgets/DataFrame/DataFrame.tsx
  frontend/src/components/widgets/DataFrame/EditingState.test.ts
Due: prettier, typecheck, eslint

Up plotly minor, types/plotly.js & types/react-plotly.js
  frontend/package.json
  frontend/yarn.lock
Due: none

Up deck & loaders dependencies
  frontend/package.json
  frontend/yarn.lock
Due: none

Complete form type annotations (#5986)
  lib/streamlit/elements/form.py
Due: no-relative-imports

Up typescript-eslint/eslint-plugin & typescript-eslint/parser
  frontend/package.json
  frontend/yarn.lock
Due: none

Dedupe
  frontend/yarn.lock
Due: none

Define the SessionStorage and SessionManager protocols (#5422)
  lib/streamlit/runtime/__init__.py
  lib/streamlit/runtime/runtime.py
  lib/streamlit/runtime/session_manager.py
  lib/streamlit/runtime/state/session_state.py
  lib/tests/streamlit/runtime/runtime_test.py
Due: no-relative-imports

Tweak the signatures of SessionManager.__init__ and SessionManager.connect_session (#5486)
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/session_manager.py
Due: no-relative-imports

Implement real version of WebsocketSessionManager (#5806)
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/memory_session_storage.py
  lib/streamlit/runtime/runtime.py
  lib/streamlit/runtime/session_manager.py
  lib/streamlit/runtime/websocket_session_manager.py
  lib/streamlit/web/server/server.py
  lib/tests/streamlit/runtime/app_session_test.py
  lib/tests/streamlit/runtime/runtime_test.py
  lib/tests/streamlit/runtime/runtime_test_case.py
  lib/tests/streamlit/runtime/runtime_threading_test.py
  lib/tests/streamlit/runtime/websocket_session_manager_test.py
  lib/tests/streamlit/web/server/server_test.py
Due: no-relative-imports

Fix syntax error from bad merge
  lib/tests/streamlit/web/server/server_test_case.py
Due: no-relative-imports

Rename runtime session methods (#5905)
  lib/streamlit/runtime/runtime.py
  lib/streamlit/web/server/browser_websocket_handler.py
  lib/tests/streamlit/runtime/runtime_test.py
  lib/tests/streamlit/web/server/browser_websocket_handler_test.py
Due: no-relative-imports

Add new MockSessionManager class for testing (#5665)
  lib/tests/streamlit/runtime/runtime_test.py
  lib/tests/streamlit/runtime/runtime_test_case.py
Due: no-relative-imports

Remove outdated comment
  lib/tests/streamlit/runtime/websocket_session_manager_test.py
Due: no-relative-imports

Fix breaking tests caused by rebasing
  lib/tests/streamlit/web/server/browser_websocket_handler_test.py
Due: no-relative-imports

Fix some tests not accounted for in last rebase
  frontend/src/lib/WebsocketConnection.test.tsx
Due: prettier, typecheck, eslint

Remove and replace some TODOs (#5855)
  lib/streamlit/runtime/runtime.py
  lib/streamlit/runtime/session_manager.py
  lib/streamlit/runtime/websocket_session_manager.py
Due: no-relative-imports

Clarify some TODO comments
  frontend/src/components/widgets/CameraInput/CameraInput.tsx
  frontend/src/components/widgets/FileUploader/FileUploader.tsx
Due: prettier, typecheck, eslint

Remove optional-checks from code that works with `SessionInfo` (#5453)
  lib/streamlit/runtime/runtime.py
  lib/streamlit/runtime/session_manager.py
Due: no-relative-imports

Implement the MemorySessionStorage class (#5696)
  lib/streamlit/runtime/memory_session_storage.py
  lib/tests/streamlit/runtime/memory_session_storage_test.py
Due: no-relative-imports

Fix some small errors caused by rebasing
  lib/tests/streamlit/runtime/runtime_test.py
  lib/tests/streamlit/runtime/runtime_test_case.py
  lib/tests/streamlit/runtime/websocket_session_manager_test.py
Due: no-relative-imports

Refactor current session behavior into WebsocketSessionManager (#5451)
  lib/streamlit/runtime/runtime.py
  lib/streamlit/runtime/state/session_state.py
  lib/streamlit/runtime/websocket_session_manager.py
  lib/streamlit/web/server/server.py
  lib/tests/streamlit/runtime/runtime_test.py
  lib/tests/streamlit/runtime/runtime_test_case.py
  lib/tests/streamlit/runtime/runtime_threading_test.py
  lib/tests/streamlit/runtime/websocket_session_manager_test.py
  lib/tests/streamlit/web/server/browser_websocket_handler_test.py
  lib/tests/streamlit/web/server/server_test.py
  lib/tests/streamlit/web/server/server_test_case.py
  lib/tests/streamlit/web/server/websocket_headers_test.py
Due: no-relative-imports

Make specifying session related RuntimeConfig params optional (#5903)
  lib/streamlit/runtime/runtime.py
  lib/streamlit/web/server/server.py
  lib/tests/streamlit/runtime/runtime_threading_test.py
Due: no-relative-imports

Test websocket reconnect behavior more rigorously (#5983)
  e2e/specs/websocket_reconnects.spec.js
Due: typecheck

Pass session ID back from frontend and use it to reconnect (#5819)
  e2e/scripts/websocket_reconnects.py
  e2e/specs/websocket_reconnects.spec.js
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/widgets/CameraInput/CameraInput.tsx
  frontend/src/components/widgets/FileUploader/FileUploader.tsx
  frontend/src/lib/ConnectionManager.ts
  frontend/src/lib/SessionInfo.test.ts
  frontend/src/lib/SessionInfo.ts
  frontend/src/lib/WebsocketConnection.test.tsx
  frontend/src/lib/WebsocketConnection.tsx
  lib/streamlit/runtime/runtime.py
  lib/streamlit/web/server/browser_websocket_handler.py
  lib/tests/streamlit/runtime/runtime_test.py
  lib/tests/streamlit/web/server/browser_websocket_handler_test.py
  lib/tests/streamlit/web/server/server_test.py
  lib/tests/streamlit/web/server/server_test_case.py
Due: prettier, typecheck, eslint, no-relative-imports

Define the SessionManager protocol and improve our websocket reconnect behavior (#5856)
  e2e/scripts/websocket_reconnects.py
  e2e/specs/websocket_reconnects.spec.js
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/widgets/CameraInput/CameraInput.tsx
  frontend/src/components/widgets/FileUploader/FileUploader.tsx
  frontend/src/lib/ConnectionManager.ts
  frontend/src/lib/SessionInfo.test.ts
  frontend/src/lib/SessionInfo.ts
  frontend/src/lib/WebsocketConnection.test.tsx
  frontend/src/lib/WebsocketConnection.tsx
  lib/streamlit/runtime/__init__.py
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/memory_session_storage.py
  lib/streamlit/runtime/runtime.py
  lib/streamlit/runtime/session_manager.py
  lib/streamlit/runtime/state/session_state.py
  lib/streamlit/runtime/websocket_session_manager.py
  lib/streamlit/web/server/browser_websocket_handler.py
  lib/tests/streamlit/runtime/app_session_test.py
  lib/tests/streamlit/runtime/memory_session_storage_test.py
  lib/tests/streamlit/runtime/runtime_test.py
  lib/tests/streamlit/runtime/runtime_test_case.py
  lib/tests/streamlit/runtime/runtime_threading_test.py
  lib/tests/streamlit/runtime/websocket_session_manager_test.py
  lib/tests/streamlit/web/server/browser_websocket_handler_test.py
  lib/tests/streamlit/web/server/server_test.py
  lib/tests/streamlit/web/server/server_test_case.py
  lib/tests/streamlit/web/server/websocket_headers_test.py
Due: prettier, typecheck, eslint, no-relative-imports

Remove old screenshots
  frontend/cypress/snapshots/linux/2x/st_help.spec.js/help-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_help.spec.js/help.snap.png
Due: none

Test workflow
  .github/workflows/cypress_snaps.yml
Due: none

update naming
  .github/workflows/cypress-snaps.yml
Due: none

[skip ci]
  .github/workflows/cypress-snaps.yml
  .github/workflows/snapshots.yml
Due: none

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
