Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Improve startup performance by lazy loading some dependencies (#6531)
  lib/streamlit/elements/legacy_data_frame.py
  lib/streamlit/elements/lib/pandas_styler_utils.py
  lib/streamlit/elements/media.py
  lib/streamlit/net_util.py
  lib/streamlit/runtime/credentials.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:5061474131
  constraints-3.8.txt
Due: none

Use .genericFonts instead of .fonts to fix bug with theme postMessage. (#6732)
  frontend/src/app/components/AppView/styled-components.ts
  frontend/src/app/components/StreamlitDialog/DeployDialog/styled-components.tsx
  frontend/src/lib/components/elements/ArrowTable/styled-components.ts
  frontend/src/lib/components/elements/DataFrame/styled-components.ts
  frontend/src/lib/components/elements/DocString/styled-components.ts
  frontend/src/lib/components/elements/Table/styled-components.ts
  frontend/src/lib/components/elements/TextElement/styled-components.ts
  frontend/src/lib/components/widgets/Slider/styled-components.ts
Due: prettier, typecheck, eslint

Address PR comments
  scripts/watch_frontend_lib.py
Due: no-relative-imports

Fix script and have it in Makefile instead of yarn because yarn takes over console
  Makefile
  frontend/package.json
  scripts/watch_frontend_lib.py
Due: no-relative-imports

Add comment for makefile
  Makefile
Due: none

Change watch-lib name as we are not in frontend lib
  Makefile
Due: none

Revert makefile that accidentally got commited
  Makefile
Due: none

minor fixes for clean and all-devel
  Makefile
Due: none

Fix comment feedback which is changing make name and echo statement
  Makefile
  frontend/package.json
Due: none

Test map & label markdown test fixes
  e2e/specs/label_markdown.spec.js
  e2e/specs/st_map.spec.js
Due: typecheck

Change default theme hash on app init (#6729)
  frontend/src/app/App.test.tsx
  frontend/src/app/App.tsx
Due: prettier, typecheck, eslint

Add watch lib script (#6730)
  Makefile
  frontend/package.json
  scripts/watch_frontend_lib.py
Due: no-relative-imports

Fix yarn start warnings
  frontend/.eslintrc
  frontend/app/craco.config.js
Due: prettier, typecheck

Readd makefile
  Makefile
Due: none

Document integer size limit for number_input and slider (#6724)
  lib/streamlit/elements/number_input.py
  lib/streamlit/elements/slider.py
Due: no-relative-imports

Updating constraints. Github run id:5063373453
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:5065456495
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.7.txt
  constraints-3.9.txt
Due: none

Remove unrelated snapshots with small diff failures
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/dateInput-invalid-table-dark.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/expander-invalid-task-list-dark.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/numberInput-valid-markdown-dark.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/radio-valid-colored-dark.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/selectSlider-invalid-task_list-dark.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/selectbox-valid-markdown-dark.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/tab-invalid-blockquote-and-hr-dark.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/textInput-valid-markdown-dark.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/timeInput-invalid-heading1-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_columns.spec.js/columns-medium-gap-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_columns.spec.js/columns-small-gap-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_multiselect.spec.js/multiselect11-dark.snap.png
Due: none

Remove light snapshots as well
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/dateInput-invalid-table.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/expander-invalid-task-list.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/numberInput-valid-markdown.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/radio-valid-colored.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/selectSlider-invalid-task_list.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/selectbox-valid-markdown.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/tab-invalid-blockquote-and-hr.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/textInput-valid-markdown.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/timeInput-invalid-heading1.snap.png
  frontend/cypress/snapshots/linux/2x/st_columns.spec.js/columns-medium-gap.snap.png
  frontend/cypress/snapshots/linux/2x/st_columns.spec.js/columns-small-gap.snap.png
  frontend/cypress/snapshots/linux/2x/st_multiselect.spec.js/multiselect11.snap.png
Due: none

Get rid of yarn start warnings and clean Makefile (#6739)
  Makefile
  frontend/.eslintrc
  frontend/app/craco.config.js
Due: prettier, typecheck

Remove some snapshots, add others
  frontend/cypress/snapshots/linux/2x/component_template.spec.js/iframe-template-reactless0.snap.png
  frontend/cypress/snapshots/linux/2x/component_template.spec.js/iframe-template-reactless1.snap.png
  frontend/cypress/snapshots/linux/2x/component_template.spec.js/iframe-template0.snap.png
  frontend/cypress/snapshots/linux/2x/component_template.spec.js/iframe-template1.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/slider-invalid-unordered-list-dark.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/slider-invalid-unordered-list.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/slider-valid-colored-dark.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/slider-valid-colored.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/slider-valid-link-dark.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/slider-valid-link.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/slider-valid-markdown-dark.snap.png
  frontend/cypress/snapshots/linux/2x/label_markdown.spec.js/slider-valid-markdown.snap.png
  frontend/cypress/snapshots/linux/2x/st_columns.spec.js/columns-medium-gap-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_columns.spec.js/columns-medium-gap.snap.png
  frontend/cypress/snapshots/linux/2x/st_columns.spec.js/columns-small-gap-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_columns.spec.js/columns-small-gap.snap.png
  frontend/cypress/snapshots/linux/2x/st_multiselect.spec.js/multiselect11-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_multiselect.spec.js/multiselect11.snap.png
Due: none

Remove streamlit.css. I'm not sure where it came from
  frontend/app/public/assets/streamlit.css
Due: none

Fix yarn buildLib
  frontend/lib/src/components/widgets/DataFrame/columns/CheckboxColumn.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useCustomRenderer.test.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useCustomRenderer.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useTooltips.ts
Due: prettier, typecheck

Add date_input snapshots, remove map ones
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input0-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input0.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input1-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input1.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input2-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input2.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input3-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input3.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input4-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input4.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input5-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input5.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input6-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input6.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input7-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input7.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input8-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input8.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_0-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_0.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_1-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_1.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_2-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_2.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_3-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_3.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_4-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_4.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_6-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_6.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_7-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_7.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_8-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/date_input_calendar_8.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/disabled date input-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_date_input.spec.js/disabled date input.snap.png
  frontend/cypress/snapshots/linux/2x/st_map.spec.js/stDeckGlJsonChart-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_map.spec.js/stDeckGlJsonChart.snap.png
Due: none

Fix eslintrc
  frontend/.eslintrc
Due: none

Fix codeql
  .github/codeql-config.yml
Due: none

Add notices and yarn.lock
  NOTICES
  frontend/yarn.lock
Due: none

Add back map specs
  frontend/cypress/snapshots/linux/2x/st_map.spec.js/stDeckGlJsonChart-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_map.spec.js/stDeckGlJsonChart.snap.png
Due: none

Countdown.test.tsx
  frontend/src/app/components/Countdown/Countdown.test.tsx
Due: prettier, typecheck, eslint

Convert Modal.test.tsx
  frontend/src/lib/components/shared/Modal/Modal.test.tsx
Due: prettier, typecheck, eslint

Convert ProgressBar.test.tsx
  frontend/src/lib/components/shared/ProgressBar/ProgressBar.test.tsx
  frontend/src/lib/components/shared/ProgressBar/__snapshots__/ProgressBar.test.tsx.snap
Due: prettier, typecheck, eslint

Updating constraints. Github run id:5076836288
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.7.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Add `ExternalUploadedFileManager` UploadedFileManager that works with external storage
  frontend/src/app/connection/DefaultStreamlitEndpoints.ts
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/uploaded_file_manager.py
  lib/streamlit/web/server/server.py
Due: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
