Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

update tests
  lib/tests/streamlit/elements/layouts_test.py
Due: no-relative-imports

some minor issues
  e2e_playwright/shared/toolbar_utils.py
  frontend/lib/src/components/core/Block/StyledElementContainerLayoutWrapper.tsx
  frontend/lib/src/components/core/Layout/useLayoutStyles.ts
Due: prettier, typecheck, no-relative-imports

fixing the bug
  e2e_playwright/st_line_chart.py
  e2e_playwright/st_line_chart_test.py
  lib/streamlit/elements/lib/built_in_chart_utils.py
Due: no-relative-imports

Updated snapshot logic from keyboard to mouse move
  e2e_playwright/custom_components/pdf_component_test.py
Due: no-relative-imports

linting
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/core/Block/StyledElementContainerLayoutWrapper.tsx
  frontend/lib/src/components/core/Layout/useLayoutStyles.test.tsx
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
Due: prettier, typecheck

Updated snapshots
  e2e_playwright/__snapshots__/linux/pdf_component_test/st_pdf-height_maximum[chromium].png
  e2e_playwright/__snapshots__/linux/pdf_component_test/st_pdf-height_maximum[firefox].png
  e2e_playwright/__snapshots__/linux/pdf_component_test/st_pdf-height_maximum[webkit].png
  e2e_playwright/__snapshots__/linux/pdf_component_test/st_pdf-height_minimum[webkit].png
Due: none

linting
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/core/Block/StyledElementContainerLayoutWrapper.tsx
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
Due: prettier, typecheck

Updated asserts
  e2e_playwright/custom_components/pdf_component_test.py
Due: no-relative-imports

Log warning instead of assert when config file is present
  lib/tests/conftest.py
Due: no-relative-imports

Fix pytest deprecation warnings
  lib/pytest.ini
  lib/tests/streamlit/connections/util_test.py
Due: no-relative-imports

snaps
  e2e_playwright/__snapshots__/linux/st_line_chart_test/st_line_chart-add_rows_preserves_styling[chromium].png
  e2e_playwright/__snapshots__/linux/st_line_chart_test/st_line_chart-add_rows_preserves_styling[firefox].png
  e2e_playwright/__snapshots__/linux/st_line_chart_test/st_line_chart-add_rows_preserves_styling[webkit].png
  e2e_playwright/__snapshots__/linux/st_line_chart_test/st_line_chart-column_order_preserved[chromium].png
  e2e_playwright/__snapshots__/linux/st_line_chart_test/st_line_chart-column_order_preserved[firefox].png
  e2e_playwright/__snapshots__/linux/st_line_chart_test/st_line_chart-column_order_preserved[webkit].png
Due: none

Fix
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
Due: no-relative-imports

Fix e2e test indices and file path issues for directory upload
  e2e_playwright/st_chat_input_test.py
  e2e_playwright/st_file_uploader_test.py
  frontend/lib/src/components/widgets/ChatInput/ChatInput.test.tsx
  frontend/lib/src/components/widgets/FileUploader/FileDropzone.test.tsx
  frontend/lib/src/components/widgets/FileUploader/FileDropzoneInstructions.test.tsx
  frontend/lib/src/components/widgets/FileUploader/FileUploader.test.tsx
Due: prettier, typecheck, no-relative-imports

swapping order to debug weird snapshot issue
  e2e_playwright/st_line_chart.py
  e2e_playwright/st_line_chart_test.py
Due: no-relative-imports

fixing other snaps
  e2e_playwright/__snapshots__/linux/st_line_chart_test/st_line_chart-add_rows_preserves_styling[chromium].png
  e2e_playwright/__snapshots__/linux/st_line_chart_test/st_line_chart-add_rows_preserves_styling[firefox].png
  e2e_playwright/__snapshots__/linux/st_line_chart_test/st_line_chart-add_rows_preserves_styling[webkit].png
Due: none

Updated snapshots for e2e tests
  e2e_playwright/__snapshots__/linux/st_file_uploader_test/st_file_uploader-width_300px[firefox].png
  e2e_playwright/__snapshots__/linux/st_file_uploader_test/st_file_uploader-width_stretch[chromium].png
  e2e_playwright/__snapshots__/linux/st_file_uploader_test/st_file_uploader-width_stretch[firefox].png
  e2e_playwright/st_file_uploader_test.py
  frontend/lib/src/components/widgets/ChatInput/ChatInput.test.tsx
Due: prettier, typecheck, no-relative-imports

feat: Add commit SHA to playwright test result artifact names
  .github/workflows/performance.yml
  .github/workflows/playwright-changed-files.yml
  .github/workflows/playwright-custom-components.yml
  .github/workflows/playwright.yml
  scripts/update_e2e_snapshots.py
Due: no-relative-imports

test: Modify chat input placeholder to trigger snapshot change
  e2e_playwright/st_chat_input.py
Due: no-relative-imports

fix: Use correct SHA for artifact naming in PR context
  .github/workflows/performance.yml
  .github/workflows/playwright-changed-files.yml
  .github/workflows/playwright-custom-components.yml
  .github/workflows/playwright.yml
  e2e_playwright/st_chat_input_test.py
Due: no-relative-imports

revert: Reset st_chat_input files to origin/develop state
  e2e_playwright/st_chat_input.py
  e2e_playwright/st_chat_input_test.py
Due: no-relative-imports

Extend button coverage
  lib/tests/streamlit/elements/button_test.py
Due: no-relative-imports

Update
  lib/tests/streamlit/elements/button_test.py
Due: no-relative-imports

Remove test
  lib/tests/streamlit/elements/button_test.py
Due: no-relative-imports

Update
  lib/streamlit/elements/vega_charts.py
Due: no-relative-imports

use fixed date for date input
  e2e_playwright/st_layouts_container_min_width.py
Due: no-relative-imports

Refactor text input e2e test
  e2e_playwright/st_text_input.py
  e2e_playwright/st_text_input_test.py
Due: no-relative-imports

Update app utils
  e2e_playwright/shared/app_utils.py
Due: no-relative-imports

Improve
  e2e_playwright/st_text_input.py
  e2e_playwright/st_text_input_test.py
Due: no-relative-imports

update snapshots
  e2e_playwright/__snapshots__/linux/st_layouts_container_min_width_test/st_layouts_container_min_width-inputs_reduced[chromium-layout-horizontal-inputs].png
  e2e_playwright/__snapshots__/linux/st_layouts_container_min_width_test/st_layouts_container_min_width-inputs_regular[chromium-layout-horizontal-inputs].png
Due: none

Add hover test
  e2e_playwright/st_metric_test.py
Due: no-relative-imports

Update
  e2e_playwright/shared/app_utils.py
  e2e_playwright/st_metric.py
  e2e_playwright/st_metric_test.py
Due: no-relative-imports

Update
  e2e_playwright/shared/app_utils.py
Due: no-relative-imports

Fix test
  e2e_playwright/st_metric_test.py
Due: no-relative-imports

Update
  e2e_playwright/st_metric.py
  e2e_playwright/st_metric_test.py
Due: no-relative-imports

Update
  e2e_playwright/__snapshots__/linux/st_metric_test/st_metric-with_help[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_metric_test/st_metric-with_help[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_metric_test/st_metric-with_help[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_metric_test/st_metric-with_help[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_metric_test/st_metric-with_help[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_metric_test/st_metric-with_help[light_theme-webkit].png
  e2e_playwright/st_metric_test.py
Due: no-relative-imports

Update snapshots
  e2e_playwright/__snapshots__/linux/st_metric_test/st_metric-chart_hover[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_metric_test/st_metric-chart_hover[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_metric_test/st_metric-chart_hover[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_metric_test/st_metric-chart_hover[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_metric_test/st_metric-chart_hover[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_metric_test/st_metric-chart_hover[light_theme-webkit].png
Due: none

Updated snapshots and formatting
  e2e_playwright/__snapshots__/linux/st_chat_input_test/st_chat_input-directory_filtered[chromium].png
  e2e_playwright/__snapshots__/linux/st_chat_input_test/st_chat_input-directory_filtered[firefox].png
  e2e_playwright/__snapshots__/linux/st_chat_input_test/st_chat_input-directory_filtered[webkit].png
  e2e_playwright/__snapshots__/linux/st_chat_input_test/st_chat_input-directory_uploaded[chromium].png
  e2e_playwright/__snapshots__/linux/st_chat_input_test/st_chat_input-directory_uploaded[firefox].png
  e2e_playwright/__snapshots__/linux/st_chat_input_test/st_chat_input-directory_uploaded[webkit].png
  e2e_playwright/__snapshots__/linux/st_file_uploader_test/st_file_uploader-directory_filtered[chromium].png
  e2e_playwright/__snapshots__/linux/st_file_uploader_test/st_file_uploader-directory_filtered[firefox].png
  e2e_playwright/__snapshots__/linux/st_file_uploader_test/st_file_uploader-directory_filtered[webkit].png
  e2e_playwright/__snapshots__/linux/st_file_uploader_test/st_file_uploader-directory_uploaded[chromium].png
  e2e_playwright/__snapshots__/linux/st_file_uploader_test/st_file_uploader-directory_uploaded[firefox].png
  e2e_playwright/__snapshots__/linux/st_file_uploader_test/st_file_uploader-directory_uploaded[webkit].png
  frontend/lib/src/components/widgets/ChatInput/ChatInput.test.tsx
Due: prettier, typecheck

Implement fixes
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
  frontend/lib/src/components/widgets/DataFrame/hooks/useSelectionHandler.ts
Due: prettier, typecheck
