Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Change pipefile back
  lib/Pipfile
Due: none

Fix test
  frontend/lib/src/util/UriUtil.test.ts
Due: prettier, typecheck

Cleanup
  frontend/lib/src/index.ts
Due: prettier, typecheck

Add back xssSanitizeSvg
  frontend/lib/package.json
  frontend/lib/src/index.ts
  frontend/lib/src/util/UriUtil.test.ts
  frontend/lib/src/util/UriUtil.ts
  frontend/yarn.lock
Due: prettier, typecheck

Fix svg xmlns addition
  lib/streamlit/elements/image.py
Due: no-relative-imports

Add test
  lib/tests/streamlit/elements/image_test.py
Due: no-relative-imports

Remove xss sanitation
  frontend/app/src/connection/DefaultStreamlitEndpoints.ts
  frontend/lib/src/index.ts
  frontend/lib/src/util/UriUtil.test.ts
  frontend/lib/src/util/UriUtil.ts
  lib/streamlit/elements/image.py
Due: prettier, typecheck, no-relative-imports

Remove dompurify
  frontend/lib/package.json
  frontend/yarn.lock
Due: none

Update notices
  NOTICES
Due: none

Update unit tests
  lib/tests/streamlit/elements/image_test.py
Due: no-relative-imports

Remove unused import
  lib/streamlit/elements/image.py
Due: no-relative-imports

Remove unneeded test
  frontend/app/src/connection/DefaultStreamlitEndpoints.test.ts
Due: prettier, typecheck

Fix e2e test
  e2e/specs/st_image_svg_sizing.spec.js
Due: typecheck

Remove print
  lib/tests/streamlit/elements/image_test.py
Due: no-relative-imports

Update e2e tests
  e2e/scripts/st_image.py
  e2e/scripts/st_image_replay.py
  e2e/specs/st_image.spec.js
  e2e/specs/st_image_replay.spec.js
  frontend/cypress/snapshots/linux/2x/st_image.spec.js/black-square-100px.snap.png
  frontend/cypress/snapshots/linux/2x/st_image.spec.js/black-square-column-10.snap.png
  frontend/cypress/snapshots/linux/2x/st_image.spec.js/black-square-column-8.snap.png
  frontend/cypress/snapshots/linux/2x/st_image.spec.js/black-square-column-9.snap.png
  frontend/cypress/snapshots/linux/2x/st_image.spec.js/gif-with-caption.snap.png
  frontend/cypress/snapshots/linux/2x/st_image.spec.js/image-with-caption.snap.png
  frontend/cypress/snapshots/linux/2x/st_image.spec.js/karriebear-avatar.snap.png
  frontend/cypress/snapshots/linux/2x/st_image_replay.spec.js/karriebear-avatar.snap 2.png
  frontend/cypress/snapshots/linux/2x/st_image_replay.spec.js/karriebear-avatar.snap.png
Due: typecheck, no-relative-imports

Update snapshots
  frontend/cypress/snapshots/linux/2x/st_image.spec.js/black-square-100px.snap.png
  frontend/cypress/snapshots/linux/2x/st_image.spec.js/black-square-column-10.snap.png
  frontend/cypress/snapshots/linux/2x/st_image.spec.js/black-square-column-8.snap.png
  frontend/cypress/snapshots/linux/2x/st_image.spec.js/black-square-column-9.snap.png
  frontend/cypress/snapshots/linux/2x/st_image.spec.js/gif-with-caption.snap.png
  frontend/cypress/snapshots/linux/2x/st_image.spec.js/image-with-caption.snap.png
  frontend/cypress/snapshots/linux/2x/st_image.spec.js/svg-image-11.snap.png
  frontend/cypress/snapshots/linux/2x/st_image.spec.js/svg-image-12.snap.png
Due: none

Update image test
  e2e/scripts/st_image_replay.py
  e2e/specs/st_image_replay.spec.js
Due: typecheck, no-relative-imports

Add allowed-message-origins to config (#7180)
  lib/streamlit/config.py
  lib/streamlit/web/server/routes.py
  lib/tests/streamlit/config_test.py
  lib/tests/streamlit/web/server/routes_test.py
Due: no-relative-imports

Fix skipDocString behavior. Rename to displayRootDocString.
  lib/streamlit/config.py
  lib/streamlit/runtime/scriptrunner/magic.py
  lib/tests/streamlit/config_test.py
  lib/tests/streamlit/runtime/scriptrunner/magic_test.py
Due: no-relative-imports

Support async methods, fix comments, no-op conversion from tuples to sets, for performance
  lib/streamlit/runtime/scriptrunner/magic.py
Due: no-relative-imports

Remove outdated snapshots
  frontend/cypress/snapshots/linux/2x/st_main_menu.spec.js/dev_main_menu-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_main_menu.spec.js/dev_main_menu.snap.png
Due: none

Integrated PR feedback
  e2e/playwright/st_status_test.py
  frontend/lib/src/components/elements/Expander/Expander.test.tsx
  frontend/lib/src/components/elements/Expander/Expander.tsx
  lib/streamlit/elements/lib/mutable_status_container.py
  lib/tests/streamlit/external/langchain/streamlit_callback_handler_test.py
  lib/tests/streamlit/layouts_test.py
Due: prettier, typecheck, no-relative-imports

add snapshots
  frontend/cypress/snapshots/linux/2x/st_markdown.spec.js/markdown-visuals-19-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_markdown.spec.js/markdown-visuals-19.snap.png
Due: none

Fix test
  lib/tests/streamlit/layouts_test.py
Due: no-relative-imports

Add github token to environment
  .github/workflows/community-voting.yml
Due: none

Add snapshots
  frontend/cypress/snapshots/linux/2x/st_main_menu.spec.js/dev_main_menu-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_main_menu.spec.js/dev_main_menu.snap.png
Due: none

Fix styling
  frontend/lib/src/components/shared/Radio/Radio.tsx
Due: prettier, typecheck

Add github token to environment (#7185)
  .github/workflows/community-voting.yml
Due: none

Fix implementation by using app context instead of outdated state
  frontend/app/src/App.tsx
  frontend/app/src/components/AppContext.tsx
  frontend/app/src/components/StreamlitDialog/DeployDialog/DeployDialog.tsx
Due: prettier, typecheck

Remove export
  frontend/app/src/components/MainMenu/MainMenu.tsx
Due: prettier, typecheck

Updating constraints. Github run id:5883771315
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Update allowed colors docstrings & allow grey (#7179)
  e2e/scripts/st_markdown.py
  frontend/cypress/snapshots/linux/2x/st_markdown.spec.js/markdown-visuals-19-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_markdown.spec.js/markdown-visuals-19.snap.png
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
  lib/streamlit/elements/heading.py
  lib/streamlit/elements/layouts.py
  lib/streamlit/elements/markdown.py
  lib/streamlit/elements/metric.py
  lib/streamlit/elements/progress.py
  lib/streamlit/elements/toast.py
  lib/streamlit/elements/widgets/button.py
  lib/streamlit/elements/widgets/camera_input.py
  lib/streamlit/elements/widgets/checkbox.py
  lib/streamlit/elements/widgets/color_picker.py
  lib/streamlit/elements/widgets/file_uploader.py
  lib/streamlit/elements/widgets/multiselect.py
  lib/streamlit/elements/widgets/number_input.py
  lib/streamlit/elements/widgets/radio.py
  lib/streamlit/elements/widgets/select_slider.py
  lib/streamlit/elements/widgets/selectbox.py
  lib/streamlit/elements/widgets/slider.py
  lib/streamlit/elements/widgets/text_widgets.py
  lib/streamlit/elements/widgets/time_widgets.py
Due: prettier, typecheck, no-relative-imports

FIx linter issue
  frontend/app/src/components/StreamlitDialog/DeployDialog/DeployDialog.tsx
Due: prettier, typecheck

Fix linter issue
  frontend/app/src/components/StreamlitDialog/DeployDialog/DeployDialog.tsx
Due: prettier, typecheck

Refactor URL handling
  frontend/app/src/components/StreamlitDialog/DeployDialog/DeployDialog.tsx
Due: prettier, typecheck

Add rule
  frontend/.eslintrc.js
Due: prettier, typecheck

Remove SKIP_SECTIONS
  lib/streamlit/config.py
  lib/streamlit/config_util.py
Due: no-relative-imports

Remove on and put a number for severity
  frontend/.eslintrc.js
Due: prettier, typecheck

Use ScriptRequests for `rerun` and `stop`
  lib/streamlit/commands/execution_control.py
  lib/streamlit/runtime/scriptrunner/script_run_context.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
Due: no-relative-imports

Remove old deploy functionality (#7182)
  frontend/app/src/App.tsx
  frontend/app/src/components/AppContext.tsx
  frontend/app/src/components/MainMenu/MainMenu.test.tsx
  frontend/app/src/components/MainMenu/MainMenu.tsx
  frontend/app/src/components/StreamlitDialog/DeployDialog/DeployDialog.tsx
  frontend/app/src/components/StreamlitDialog/DeployErrorDialogs/RepoIsAhead.test.tsx
  frontend/app/src/components/StreamlitDialog/DeployErrorDialogs/RepoIsAhead.tsx
  frontend/app/src/components/StreamlitDialog/DeployErrorDialogs/UncommittedChanges.test.tsx
  frontend/app/src/components/StreamlitDialog/DeployErrorDialogs/UncommittedChanges.tsx
  frontend/app/src/components/StreamlitDialog/DeployErrorDialogs/UntrackedFiles.test.tsx
  frontend/app/src/components/StreamlitDialog/DeployErrorDialogs/UntrackedFiles.tsx
  frontend/app/src/components/StreamlitDialog/DeployErrorDialogs/__snapshots__/RepoIsAhead.test.tsx.snap
  frontend/app/src/components/StreamlitDialog/DeployErrorDialogs/__snapshots__/UncommittedChanges.test.tsx.snap
  frontend/app/src/components/StreamlitDialog/DeployErrorDialogs/__snapshots__/UntrackedFiles.test.tsx.snap
  frontend/app/src/components/StreamlitDialog/DeployErrorDialogs/index.ts
  frontend/cypress/snapshots/linux/2x/st_main_menu.spec.js/dev_main_menu-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_main_menu.spec.js/dev_main_menu.snap.png
Due: prettier, typecheck

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
