Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Update lib/tests/streamlit/elements/slider_test.py
  lib/tests/streamlit/elements/slider_test.py
Due: no-relative-imports

docs: add note about iframe-resizer for content sizing
  specs/2026-03-13-st-iframe/product-spec.md
Due: none

Migrate from react-json-view to @microlink/react-json-view
  NOTICES
  frontend/lib/package.json
  frontend/lib/src/components/elements/Json/Json.tsx
  frontend/lib/src/components/elements/Json/useJsonTooltip.ts
  frontend/lib/src/components/widgets/DataFrame/columns/cells/JsonViewer.tsx
  frontend/yarn.lock
Due: prettier, typecheck

Disable commas in JSON viewer for cleaner display
  frontend/lib/src/components/elements/Json/Json.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/JsonViewer.tsx
Due: prettier, typecheck

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/st_json_test/st_json-copy_icon_on_hover[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_json_test/st_json-copy_icon_on_hover[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_json_test/st_json-copy_icon_on_hover[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_json_test/st_json-copy_icon_on_hover[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_json_test/st_json-copy_icon_on_hover[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_json_test/st_json-copy_icon_on_hover[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_json_test/st_json-keep_bounds[chromium].png
  e2e_playwright/__snapshots__/linux/st_json_test/st_json-keep_bounds[firefox].png
  e2e_playwright/__snapshots__/linux/st_json_test/st_json-keep_bounds[webkit].png
  e2e_playwright/__snapshots__/linux/st_json_test/st_json-width_pixels[chromium].png
  e2e_playwright/__snapshots__/linux/st_json_test/st_json-width_pixels[firefox].png
  e2e_playwright/__snapshots__/linux/st_json_test/st_json-width_pixels[webkit].png
Due: none

Update JSDoc comments to remove outdated react-json-view references
  frontend/lib/src/components/elements/Json/useJsonTooltip.ts
Due: prettier, typecheck

Add copy_to_clipboard parameter to st.markdown
  e2e_playwright/st_markdown.py
  e2e_playwright/st_markdown_test.py
  frontend/lib/src/components/elements/Markdown/Markdown.test.tsx
  frontend/lib/src/components/elements/Markdown/Markdown.tsx
  frontend/lib/src/components/elements/Markdown/styled-components.ts
  lib/streamlit/elements/markdown.py
  lib/tests/streamlit/elements/markdown_test.py
Due: prettier, typecheck, no-relative-imports

Fix E2E test for JSON copy button with @microlink/react-json-view
  e2e_playwright/st_dialog_test.py
Due: no-relative-imports

chore: increase default top_n flaky tests to 10
  .github/workflows/ai-fix-flaky-e2e-tests.yml
Due: none

test(Markdown): improve clipboard test to verify raw markdown is copied
  frontend/lib/src/components/elements/Markdown/Markdown.test.tsx
Due: prettier, typecheck

[fix] Disable italic completion in remend to fix underscore handling
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
Due: prettier, typecheck

[feat] Complete incomplete markdown syntax during streaming
  NOTICES
  e2e_playwright/st_write_stream.py
  e2e_playwright/st_write_stream_test.py
  frontend/lib/package.json
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
  frontend/yarn.lock
Due: prettier, typecheck, no-relative-imports

[fix] Fix E2E tests for incomplete markdown streaming
  e2e_playwright/st_write_stream.py
  e2e_playwright/st_write_stream_test.py
Due: no-relative-imports

[refactor] Add internal _markdown method with unterminated_parsing support
  e2e_playwright/st_write_stream.py
  e2e_playwright/st_write_stream_test.py
  frontend/lib/src/components/elements/Markdown/Markdown.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
  lib/streamlit/elements/markdown.py
  lib/streamlit/elements/write.py
  lib/tests/streamlit/elements/markdown_test.py
  proto/streamlit/proto/Markdown.proto
Due: prettier, typecheck, no-relative-imports

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-copy_to_clipboard_toolbar[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-copy_to_clipboard_toolbar[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-copy_to_clipboard_toolbar[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-copy_to_clipboard_toolbar[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-copy_to_clipboard_toolbar[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-copy_to_clipboard_toolbar[light_theme-webkit].png
Due: none

docs: add deprecation plan for st.components.v1.iframe/html
  specs/2026-03-13-st-iframe/product-spec.md
Due: none

fix: change scrolling default to True
  specs/2026-03-13-st-iframe/product-spec.md
Due: none

docs: simplify deprecation plan wording
  specs/2026-03-13-st-iframe/product-spec.md
Due: none

fix: correct #4659 description - it's about HTML content, not URLs
  specs/2026-03-13-st-iframe/product-spec.md
Due: none

fix: correct out-of-scope section for external URL auto-height
  specs/2026-03-13-st-iframe/product-spec.md
Due: none

docs: remove scrolling parameter, always enable scrolling
  specs/2026-03-13-st-iframe/product-spec.md
Due: none

fix: Clean up orphaned snapshots and revert unrelated st_table changes
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-10[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-10[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-10[webkit].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-21[chromium].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-21[firefox].png
  e2e_playwright/__snapshots__/linux/st_table_test/st_table-21[webkit].png
  e2e_playwright/__snapshots__/linux/st_write_stream_test/st_write_stream-incomplete_bold[chromium].png
  e2e_playwright/__snapshots__/linux/st_write_stream_test/st_write_stream-incomplete_bold[firefox].png
  e2e_playwright/__snapshots__/linux/st_write_stream_test/st_write_stream-incomplete_bold[webkit].png
  e2e_playwright/__snapshots__/linux/st_write_stream_test/st_write_stream-incomplete_code_block[chromium].png
  e2e_playwright/__snapshots__/linux/st_write_stream_test/st_write_stream-incomplete_code_block[firefox].png
  e2e_playwright/__snapshots__/linux/st_write_stream_test/st_write_stream-incomplete_code_block[webkit].png
Due: none

chore: update snapshots
  e2e_playwright/__snapshots__/linux/custom_dark_sidebar_theme_test/custom_dark_sidebar_theme[chromium].png
  e2e_playwright/__snapshots__/linux/custom_dark_sidebar_theme_test/custom_dark_sidebar_theme_auto[chromium].png
  e2e_playwright/__snapshots__/linux/custom_dark_sidebar_theme_test/custom_light_sidebar_theme_no_light_configs[chromium].png
  e2e_playwright/__snapshots__/linux/custom_dark_theme_test/custom_dark_themed_app[chromium].png
  e2e_playwright/__snapshots__/linux/custom_dark_theme_test/custom_light_theme_no_light_configs[chromium].png
  e2e_playwright/__snapshots__/linux/custom_dark_theme_test/custom_theme_auto_dark[chromium].png
  e2e_playwright/__snapshots__/linux/custom_light_sidebar_theme_test/custom_dark_sidebar_theme_no_dark_configs[chromium].png
  e2e_playwright/__snapshots__/linux/custom_light_sidebar_theme_test/custom_light_sidebar_theme[chromium].png
  e2e_playwright/__snapshots__/linux/custom_light_sidebar_theme_test/custom_light_sidebar_theme_auto[chromium].png
  e2e_playwright/__snapshots__/linux/custom_light_theme_test/custom_dark_theme_with_dark_configs[chromium].png
  e2e_playwright/__snapshots__/linux/custom_light_theme_test/custom_light_themed_app[chromium].png
  e2e_playwright/__snapshots__/linux/custom_light_theme_test/custom_theme_auto_light[chromium].png
  e2e_playwright/__snapshots__/linux/custom_light_theme_test/persisted_on_reload_after[chromium].png
  e2e_playwright/__snapshots__/linux/custom_light_theme_test/persisted_on_reload_before[chromium].png
  e2e_playwright/__snapshots__/linux/custom_theme_fonts_test/custom_fonts_app[chromium].png
  e2e_playwright/__snapshots__/linux/custom_theme_test/custom_themed_app[chromium].png
  e2e_playwright/__snapshots__/linux/custom_url_base_test/custom_theme_with_url_base[chromium].png
  e2e_playwright/__snapshots__/linux/sidebar_custom_theme_test/sidebar_custom_theme[chromium].png
  e2e_playwright/__snapshots__/linux/snowflake_dark_theme_test/snowflake_dark_theme[chromium].png
  e2e_playwright/__snapshots__/linux/snowflake_light_theme_test/snowflake_light_theme[chromium].png
  e2e_playwright/__snapshots__/linux/theme_from_window_test/theme_from_window_variable[chromium].png
Due: none

chore: upgrade vite v7 -> v8
  frontend/app/package.json
  frontend/app/src/util/reactUidCompat.ts
  frontend/app/vite.config.ts
  frontend/component-lib/package.json
  frontend/component-lib/vite.config.ts
  frontend/component-v2-lib/package.json
  frontend/connection/package.json
  frontend/connection/vite.config.ts
  frontend/eslint-plugin-streamlit-custom/package.json
  frontend/knip.json
  frontend/lib/package.json
  frontend/lib/src/components/elements/DeckGlJsonChart/DeckGlJsonChart.tsx
  frontend/lib/src/components/elements/DeckGlJsonChart/patchLumaCanvasContext.ts
  frontend/lib/src/components/elements/Json/Json.tsx
  frontend/lib/src/components/elements/Json/useJsonTooltip.ts
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.test.tsx
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/JsonViewer.tsx
  frontend/lib/src/theme/createBaseUiTheme.ts
  frontend/lib/src/util/reactJsonViewCompat.ts
  frontend/lib/src/util/reactPlotlyCompat.ts
  frontend/lib/vite.config.ts
  frontend/package.json
  frontend/utils/package.json
  frontend/yarn.lock
Due: prettier, typecheck

updates baesd on PR feedback
  .cursor/rules/typescript.mdc
  .github/instructions/typescript.instructions.md
  frontend/AGENTS.md
  frontend/lib/src/components/elements/PlotlyChart/utils.ts
  frontend/lib/src/util/reactJsonViewCompat.ts
  frontend/lib/src/util/reactPlotlyCompat.ts
  frontend/lib/src/util/resolveDefaultExport.ts
Due: prettier, typecheck

First pass
  e2e_playwright/multipage_apps/mpa_basics_test.py
  lib/streamlit/runtime/state/query_params.py
  lib/streamlit/runtime/state/session_state.py
  lib/tests/streamlit/runtime/state/query_params_test.py
  lib/tests/streamlit/runtime/state/session_state_test.py
Due: no-relative-imports

Update fix
  lib/streamlit/runtime/state/session_state.py
  lib/tests/streamlit/runtime/state/session_state_test.py
Due: no-relative-imports

Clean up
  lib/streamlit/runtime/state/query_params.py
  lib/streamlit/runtime/state/session_state.py
  lib/tests/streamlit/runtime/state/query_params_test.py
Due: no-relative-imports

Move layout docs to .claude/skills and remove agent-knowledge
  .claude/skills/understanding-streamlit-architecture/SKILL.md
  .claude/skills/understanding-streamlit-architecture/references/layout.md
  agent-knowledge/.gitignore
  agent-knowledge/INDEX.md
  agent-knowledge/README.md
Due: none

Add clarification comments/test
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  frontend/app/src/util/hostConfigHelpers.ts
Due: prettier, typecheck

Address comments
  lib/streamlit/runtime/state/session_state.py
  lib/tests/streamlit/runtime/state/session_state_test.py
Due: no-relative-imports

chore: update paths-ignore to use .claude/skills instead of agent-knowledge
  .github/workflows/component-template-e2e-tests.yml
  .github/workflows/performance.yml
  .github/workflows/playwright-changed-files.yml
  .github/workflows/playwright-custom-components.yml
  .github/workflows/pr-preview.yml
Due: none

chore: Remove py-docstring-fix cursor command
  .cursor/commands/py-docstring-fix.md
Due: none

chore: remove .claude/skills from paths-ignore in workflows
  .github/workflows/component-template-e2e-tests.yml
  .github/workflows/performance.yml
  .github/workflows/playwright-changed-files.yml
  .github/workflows/playwright-custom-components.yml
  .github/workflows/pr-preview.yml
Due: none

chore: Remove py-docstring-fix from .cursor/.gitignore
  .cursor/.gitignore
Due: none

Enable noImplicitReturns TypeScript compiler option
  frontend/lib/src/components/core/Block/styled-components.ts
  frontend/lib/src/components/elements/DeckGlJsonChart/useDeckGl.tsx
  frontend/lib/src/components/elements/Dialog/Dialog.tsx
  frontend/lib/src/components/elements/Tabs/Tabs.tsx
  frontend/lib/src/components/widgets/DataFrame/hooks/useColumnLoader.ts
  frontend/lib/src/components/widgets/FileUploader/styled-components.ts
  frontend/lib/src/components/widgets/NumberInput/NumberInput.tsx
  frontend/lib/src/hooks/useScrollToBottom.ts
  frontend/lib/src/theme/utils.ts
  frontend/lib/src/util/uploadFiles.ts
  frontend/typescript-config/base.tsconfig.json
Due: prettier, typecheck

fix(docstring): correct gather_metrics parameter order and formatting
  lib/streamlit/runtime/metrics_util.py
Due: no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
