Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Update `st.popover` styling (#8243)
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_popover_test/st_popover-container[light_theme-webkit].png
  frontend/lib/src/components/elements/Popover/Popover.tsx
Due: prettier, typecheck

Migrate stale PR handling to Github Actions (#8160)
  .github/stale.yml
  .github/workflows/stale.yml
Due: none

AppTest format_func (#8189)
  lib/streamlit/config.py
  lib/streamlit/elements/widgets/multiselect.py
  lib/streamlit/elements/widgets/radio.py
  lib/streamlit/elements/widgets/select_slider.py
  lib/streamlit/elements/widgets/selectbox.py
  lib/streamlit/runtime/state/common.py
  lib/streamlit/testing/v1/app_test.py
  lib/streamlit/testing/v1/element_tree.py
  lib/tests/streamlit/config_test.py
  lib/tests/streamlit/testing/element_tree_test.py
Due: no-relative-imports

Add `AreaChartColumn` to column config (#8237)
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-line_chart_column[chromium].png
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-line_chart_column[firefox].png
  e2e_playwright/__snapshots__/linux/st_data_editor_config_test/st_data_editor-line_chart_column[webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-area_chart_column[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-area_chart_column[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-area_chart_column[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-area_chart_column[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-area_chart_column[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-area_chart_column[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-auto_sized_columns[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-auto_sized_columns[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-auto_sized_columns[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-auto_sized_columns[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-image_column[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-image_column[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-image_column[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-image_column[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-line_chart_column[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-line_chart_column[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-line_chart_column[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-line_chart_column[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-line_chart_column[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_dataframe_config_test/st_dataframe-line_chart_column[light_theme-webkit].png
  e2e_playwright/st_dataframe_config.py
  e2e_playwright/st_dataframe_config_test.py
  frontend/lib/src/components/widgets/DataFrame/columns/ChartColumn.test.ts
  frontend/lib/src/components/widgets/DataFrame/columns/ChartColumn.ts
  frontend/lib/src/components/widgets/DataFrame/columns/index.ts
  lib/streamlit/column_config.py
  lib/streamlit/elements/lib/column_types.py
Due: prettier, typecheck, no-relative-imports

explicit update() method for query_params (#8205)
  .pre-commit-config.yaml
  lib/streamlit/runtime/forward_msg_queue.py
  lib/streamlit/runtime/state/query_params.py
  lib/streamlit/runtime/state/query_params_proxy.py
  lib/tests/streamlit/runtime/state/query_params_proxy_test.py
  lib/tests/streamlit/runtime/state/query_params_test.py
  scripts/mypy
  scripts/run_in_subdirectory.py
Due: no-relative-imports

Add linting to ensure lodash imports are correct (#8287)
  frontend/.eslintrc.js
  frontend/app/package.json
  frontend/yarn.lock
Due: prettier, typecheck

Fix typo, use toml format instead of python (#8339)
  lib/streamlit/runtime/credentials.py
Due: no-relative-imports

Fix white components backgrounds when OS is using dark theme (#8242)
  e2e_playwright/st_components_v1_test.py
  frontend/lib/src/components/elements/IFrame/IFrame.tsx
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
  frontend/lib/src/components/elements/PlotlyChart/__snapshots__/PlotlyChart.test.tsx.snap
  frontend/lib/src/components/elements/Video/Video.tsx
  frontend/lib/src/components/elements/Video/__snapshots__/Video.test.tsx.snap
  frontend/lib/src/components/widgets/CustomComponent/ComponentInstance.tsx
Due: prettier, typecheck, no-relative-imports

Add ability to use timedelta and stings to `start_time` and `end_time`. (#8348)
  lib/streamlit/elements/media.py
  lib/streamlit/runtime/caching/cache_data_api.py
  lib/streamlit/runtime/caching/cache_errors.py
  lib/streamlit/runtime/caching/cache_resource_api.py
  lib/streamlit/runtime/caching/cache_utils.py
  lib/streamlit/runtime/runtime_util.py
  lib/tests/streamlit/elements/audio_test.py
  lib/tests/streamlit/elements/help_test.py
  lib/tests/streamlit/runtime/caching/cache_utils_test.py
Due: no-relative-imports

Release 1.32.0 (#8256)
  frontend/app/package.json
  frontend/lib/package.json
  frontend/package.json
  lib/setup.py
Due: no-relative-imports

Allow packaging 24.x (#8338)
  lib/setup.py
Due: no-relative-imports

Update dependabot to valid settings (#8309)
  .github/dependabot.yml
Due: none

Migrate st_text to playwright (#8354)
  e2e/specs/st_text.spec.js
  e2e_playwright/__snapshots__/linux/st_text_test/st_text-ascii_art[chromium].png
  e2e_playwright/__snapshots__/linux/st_text_test/st_text-ascii_art[firefox].png
  e2e_playwright/__snapshots__/linux/st_text_test/st_text-ascii_art[webkit].png
  e2e_playwright/__snapshots__/linux/st_text_test/st_text-no_formatting_applied[chromium].png
  e2e_playwright/__snapshots__/linux/st_text_test/st_text-no_formatting_applied[firefox].png
  e2e_playwright/__snapshots__/linux/st_text_test/st_text-no_formatting_applied[webkit].png
  e2e_playwright/st_text.py
  e2e_playwright/st_text_test.py
Due: typecheck, no-relative-imports

Url decode link column display values if regex is used (#8258)
  frontend/lib/src/components/widgets/DataFrame/columns/LinkColumn.test.ts
  frontend/lib/src/components/widgets/DataFrame/columns/LinkColumn.ts
  frontend/lib/src/components/widgets/DataFrame/columns/utils.ts
Due: prettier, typecheck

resolve path when registering watcher for module paths (#8372)
  lib/streamlit/watcher/local_sources_watcher.py
Due: no-relative-imports

Migrate st_divider to playwright (#8313)
  e2e/specs/st_divider.spec.js
  e2e_playwright/__snapshots__/linux/st_divider_test/st_divider[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_divider_test/st_divider[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_divider_test/st_divider[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_divider_test/st_divider[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_divider_test/st_divider[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_divider_test/st_divider[light_theme-webkit].png
  e2e_playwright/st_divider.py
  e2e_playwright/st_divider_test.py
Due: typecheck, no-relative-imports

Require explicit suggestion of unsafe_allow_html in st.write (#8238)
  e2e_playwright/__snapshots__/linux/st_write_test/write_datetime[chromium].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_datetime[firefox].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_datetime[webkit].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_int[chromium].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_int[firefox].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_int[webkit].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_multi_line_monospace_block[chromium].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_multi_line_monospace_block[firefox].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_multi_line_monospace_block[webkit].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_none[chromium].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_none[firefox].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_none[webkit].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_np_float[chromium].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_np_float[firefox].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_np_float[webkit].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_single_line_monospace_block[chromium].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_single_line_monospace_block[firefox].png
  e2e_playwright/__snapshots__/linux/st_write_test/write_single_line_monospace_block[webkit].png
  e2e_playwright/st_write.py
  e2e_playwright/st_write_test.py
  lib/streamlit/elements/write.py
  lib/streamlit/string_util.py
  lib/tests/streamlit/string_util_test.py
  lib/tests/streamlit/write_test.py
Due: no-relative-imports

Fix initial iframe height for custom component (#8290)
  frontend/lib/src/components/widgets/CustomComponent/ComponentInstance.test.tsx
  frontend/lib/src/components/widgets/CustomComponent/ComponentInstance.tsx
Due: prettier, typecheck

Simplify toast message truncation to use character limit directly (#8337)
  frontend/lib/src/components/elements/Toast/Toast.test.tsx
  frontend/lib/src/components/elements/Toast/Toast.tsx
Due: prettier, typecheck

Make Text Input Ids more stable for testing purposes (#8286)
  frontend/lib/src/components/widgets/NumberInput/NumberInput.test.tsx
  frontend/lib/src/components/widgets/NumberInput/NumberInput.tsx
  frontend/lib/src/components/widgets/TextArea/TextArea.test.tsx
  frontend/lib/src/components/widgets/TextArea/TextArea.tsx
  frontend/lib/src/components/widgets/TextInput/TextInput.test.tsx
  frontend/lib/src/components/widgets/TextInput/TextInput.tsx
Due: prettier, typecheck

migrate st_rerun to playwright (#8356)
  e2e/specs/st_rerun.spec.js
  e2e_playwright/st_rerun.py
  e2e_playwright/st_rerun_test.py
Due: typecheck, no-relative-imports

Fix issue with not correctly waiting for connections (#8294)
  lib/streamlit/runtime/runtime.py
Due: no-relative-imports

Upgrade decamelize (#8257)
  NOTICES
  frontend/lib/package.json
  frontend/yarn.lock
Due: none

Fix infinite loop when `rerun` and triggered widgets are used together in AppTest (#8264)
  lib/streamlit/elements/widgets/button.py
  lib/streamlit/elements/widgets/chat.py
  lib/streamlit/testing/v1/element_tree.py
  lib/streamlit/testing/v1/local_script_runner.py
  lib/tests/streamlit/testing/app_test_test.py
Due: no-relative-imports

Migrate st_nested_columns to playwright (#8374)
  e2e/specs/st_nested_columns_1.spec.js
  e2e_playwright/__snapshots__/linux/st_columns_nested_1_test/st_columns-widget_layout_left_graph_right[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_columns_nested_1_test/st_columns-widget_layout_left_graph_right[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_columns_nested_1_test/st_columns-widget_layout_left_graph_right[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_columns_nested_1_test/st_columns-widget_layout_left_graph_right[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_columns_nested_1_test/st_columns-widget_layout_left_graph_right[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_columns_nested_1_test/st_columns-widget_layout_left_graph_right[light_theme-webkit].png
  e2e_playwright/st_columns_nested_1.py
  e2e_playwright/st_columns_nested_1_test.py
  frontend/cypress/snapshots/linux/2x/st_nested_columns_1.spec.js/nested_columns_1_0-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_nested_columns_1.spec.js/nested_columns_1_0.snap.png
  frontend/cypress/snapshots/linux/2x/st_nested_columns_1.spec.js/nested_columns_1_1-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_nested_columns_1.spec.js/nested_columns_1_1.snap.png
  frontend/cypress/snapshots/linux/2x/st_nested_columns_1.spec.js/nested_columns_1_2-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_nested_columns_1.spec.js/nested_columns_1_2.snap.png
  frontend/cypress/snapshots/linux/2x/st_nested_columns_1.spec.js/nested_columns_1_3-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_nested_columns_1.spec.js/nested_columns_1_3.snap.png
  frontend/cypress/snapshots/linux/2x/st_nested_columns_1.spec.js/nested_columns_1_4-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_nested_columns_1.spec.js/nested_columns_1_4.snap.png
  frontend/cypress/snapshots/linux/2x/st_nested_columns_1.spec.js/nested_columns_1_5-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_nested_columns_1.spec.js/nested_columns_1_5.snap.png
  frontend/cypress/snapshots/linux/2x/st_nested_columns_1.spec.js/nested_columns_1_6-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_nested_columns_1.spec.js/nested_columns_1_6.snap.png
  frontend/cypress/snapshots/linux/2x/st_nested_columns_1.spec.js/nested_columns_1_7-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_nested_columns_1.spec.js/nested_columns_1_7.snap.png
  frontend/cypress/snapshots/linux/2x/st_nested_columns_1.spec.js/nested_columns_1_8-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_nested_columns_1.spec.js/nested_columns_1_8.snap.png
Due: typecheck, no-relative-imports

Associate label with input to make label click focus input (#8155)
  frontend/lib/src/components/widgets/BaseWidget/WidgetLabel.tsx
  frontend/lib/src/components/widgets/NumberInput/NumberInput.test.tsx
  frontend/lib/src/components/widgets/NumberInput/NumberInput.tsx
  frontend/lib/src/components/widgets/TextArea/TextArea.test.tsx
  frontend/lib/src/components/widgets/TextArea/TextArea.tsx
  frontend/lib/src/components/widgets/TextInput/TextInput.test.tsx
  frontend/lib/src/components/widgets/TextInput/TextInput.tsx
Due: prettier, typecheck

Page switching in AppTest (#8280)
  lib/streamlit/testing/v1/app_test.py
  lib/streamlit/testing/v1/local_script_runner.py
  lib/tests/streamlit/testing/app_test_test.py
  lib/tests/streamlit/testing/test_data/main.py
  lib/tests/streamlit/testing/test_data/pages/page1.py
Due: no-relative-imports

Revert "Expire session storage cache on an async timer (#8083)" (#8281)
  lib/streamlit/runtime/caching/cache_resource_api.py
  lib/streamlit/runtime/caching/storage/in_memory_cache_storage_wrapper.py
  lib/streamlit/runtime/memory_session_storage.py
  lib/streamlit/util.py
  lib/tests/streamlit/util_test.py
Due: no-relative-imports

Migrate st_stop to playwright (#8358)
  e2e/specs/st_stop.spec.js
  e2e_playwright/st_stop.py
  e2e_playwright/st_stop_test.py
Due: typecheck, no-relative-imports

Fix langchain handler to correctly complete status container (#8311)
  lib/streamlit/external/langchain/streamlit_callback_handler.py
Due: no-relative-imports

Migrate st_columns_nested_3 to playwright (#8383)
  e2e/specs/st_nested_columns_3.spec.js
  e2e_playwright/st_columns_nested_3.py
  e2e_playwright/st_columns_nested_3_test.py
Due: typecheck, no-relative-imports

Release 1.32.2 (#8299)
  frontend/app/package.json
  frontend/lib/package.json
  frontend/package.json
  lib/setup.py
Due: no-relative-imports

Add metrics tracking for toolbar item clicks (#8340)
  frontend/app/src/App.tsx
  frontend/app/src/components/ToolbarActions/ToolbarActions.test.tsx
  frontend/app/src/components/ToolbarActions/ToolbarActions.tsx
Due: prettier, typecheck

Use the button width as minimum for `st.popover` container (#8266)
  e2e_playwright/st_popover_test.py
  frontend/lib/src/components/elements/Popover/Popover.tsx
Due: prettier, typecheck, no-relative-imports

Remove st_message_deduping as it doesn't actually check anything (#8359)
  e2e/scripts/st_message_deduping.py
  e2e/specs/st_message_deduping.spec.js
Due: typecheck, no-relative-imports

Migrate st_progress to playwright (#8325)
  e2e/specs/st_progress.spec.js
  e2e_playwright/__snapshots__/linux/st_progress_test/st_progress-0[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_progress_test/st_progress-0[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_progress_test/st_progress-0[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_progress_test/st_progress-0[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_progress_test/st_progress-0[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_progress_test/st_progress-0[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_progress_test/st_progress-1[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_progress_test/st_progress-1[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_progress_test/st_progress-1[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_progress_test/st_progress-1[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_progress_test/st_progress-1[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_progress_test/st_progress-1[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_progress_test/st_progress-2[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_progress_test/st_progress-2[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_progress_test/st_progress-2[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_progress_test/st_progress-2[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_progress_test/st_progress-2[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_progress_test/st_progress-2[light_theme-webkit].png
  e2e_playwright/st_progress.py
  e2e_playwright/st_progress_test.py
  frontend/cypress/snapshots/linux/2x/st_progress.spec.js/progresbar-0-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_progress.spec.js/progresbar-0.snap.png
  frontend/cypress/snapshots/linux/2x/st_progress.spec.js/progresbar-1-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_progress.spec.js/progresbar-1.snap.png
  frontend/cypress/snapshots/linux/2x/st_progress.spec.js/progresbar-2-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_progress.spec.js/progresbar-2.snap.png
Due: typecheck, no-relative-imports

Migrate st_help to playwright (#8314)
  e2e_playwright/__snapshots__/linux/st_help_test/st_help-0[chromium].png
  e2e_playwright/__snapshots__/linux/st_help_test/st_help-0[firefox].png
  e2e_playwright/__snapshots__/linux/st_help_test/st_help-0[webkit].png
  e2e_playwright/__snapshots__/linux/st_help_test/st_help-1[chromium].png
  e2e_playwright/__snapshots__/linux/st_help_test/st_help-1[firefox].png
  e2e_playwright/__snapshots__/linux/st_help_test/st_help-1[webkit].png
  e2e_playwright/__snapshots__/linux/st_help_test/st_help-2[chromium].png
  e2e_playwright/__snapshots__/linux/st_help_test/st_help-2[firefox].png
  e2e_playwright/__snapshots__/linux/st_help_test/st_help-2[webkit].png
  e2e_playwright/st_help.py
  e2e_playwright/st_help_test.py
  frontend/cypress/snapshots/linux/2x/st_help.spec.js/help-0-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_help.spec.js/help-0.snap.png
  frontend/cypress/snapshots/linux/2x/st_help.spec.js/help-1-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_help.spec.js/help-1.snap.png
  frontend/cypress/snapshots/linux/2x/st_help.spec.js/help-2-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_help.spec.js/help-2.snap.png
Due: no-relative-imports

Stop pruning empty blocks in clearStaleNodes (#8267)
  frontend/lib/src/AppNode.test.ts
  frontend/lib/src/AppNode.ts
Due: prettier, typecheck

Media elements improvements (#8203)
  e2e_playwright/st_audio.py
  e2e_playwright/st_audio_test.py
  e2e_playwright/st_video.py
  e2e_playwright/st_video_test.py
  frontend/lib/src/components/elements/Audio/Audio.tsx
  frontend/lib/src/components/elements/Video/Video.tsx
  lib/streamlit/elements/media.py
  lib/tests/streamlit/elements/audio_test.py
  lib/tests/streamlit/elements/help_test.py
  lib/tests/streamlit/elements/video_test.py
  proto/streamlit/proto/Audio.proto
  proto/streamlit/proto/Video.proto
Due: prettier, typecheck, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
