Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Fix rebase proto collision
  proto/streamlit/proto/Element.proto
Due: none

Add align param / logic
  frontend/lib/src/components/elements/PageLink/PageLink.tsx
  frontend/lib/src/components/elements/PageLink/styled-components.ts
  lib/streamlit/elements/widgets/button.py
  proto/streamlit/proto/PageLink.proto
Due: prettier, typecheck, no-relative-imports

Fix flicker - part 1
  frontend/app/src/components/AppView/AppView.tsx
Due: prettier, typecheck

Fix emoji flicker
  frontend/lib/src/components/elements/PageLink/styled-components.ts
Due: prettier, typecheck

Add debug console logs
  frontend/app/src/App.tsx
Due: prettier, typecheck

Add indent param, adjust tooltip, help fix
  frontend/lib/src/components/elements/PageLink/PageLink.tsx
  frontend/lib/src/components/elements/PageLink/styled-components.ts
  frontend/lib/src/components/shared/BaseButton/BaseButtonTooltip.tsx
Due: prettier, typecheck

Update page_path to page; new path matching, no label
  frontend/lib/src/components/elements/PageLink/PageLink.tsx
  lib/streamlit/commands/execution_control.py
  lib/streamlit/elements/widgets/button.py
  lib/streamlit/runtime/scriptrunner/script_run_context.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  proto/streamlit/proto/PageLink.proto
Due: prettier, typecheck, no-relative-imports

Warning & config fixes
  lib/streamlit/elements/widgets/button.py
  lib/streamlit/runtime/app_session.py
Due: no-relative-imports

Reconcile to allow label & loose path match
  lib/streamlit/commands/execution_control.py
  lib/streamlit/elements/widgets/button.py
Due: no-relative-imports

make page_path first, label kw param
  lib/streamlit/elements/widgets/button.py
Due: no-relative-imports

Config vs. page_config fix
  frontend/app/src/App.tsx
  lib/streamlit/commands/page_config.py
Due: prettier, typecheck, no-relative-imports

Update padding & topMargin
  frontend/lib/src/components/core/Block/styled-components.ts
  frontend/lib/src/components/elements/PageLink/styled-components.ts
Due: prettier, typecheck

Fix duplicate header
  frontend/lib/src/components/shared/Toolbar/index.tsx
Due: prettier, typecheck

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Updating constraints. Github run id:7258249678
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

add modification time not zero check for path changed
  lib/streamlit/watcher/event_based_path_watcher.py
  lib/streamlit/watcher/polling_path_watcher.py
Due: no-relative-imports

Migrate mpa e2e test
  e2e/specs/multipage_apps.spec.js
  e2e_playwright/multipage_apps/__init__.py
  e2e_playwright/multipage_apps/mpa_basics.py
  e2e_playwright/multipage_apps/mpa_basics_test.py
  e2e_playwright/multipage_apps/mpa_configure_sidebar.py
  e2e_playwright/multipage_apps/mpa_configure_sidebar_test.py
  e2e_playwright/multipage_apps/pages/02_page2.py
  e2e_playwright/multipage_apps/pages/03_page3.py
  e2e_playwright/multipage_apps/pages/04_page_with_duplicate_name.py
  e2e_playwright/multipage_apps/pages/05_page_with_duplicate_name.py
  e2e_playwright/multipage_apps/pages/06_page_6.py
  e2e_playwright/multipage_apps/pages/07_page_7.py
  frontend/lib/src/components/shared/StreamlitMarkdown/Heading.tsx
  scripts/run_e2e_tests.py
Due: prettier, typecheck, no-relative-imports

Add copyright header
  e2e_playwright/multipage_apps/__init__.py
Due: no-relative-imports

Remove pyplot screenshot
  frontend/cypress/snapshots/linux/2x/st_pyplot.spec.js/pyplot-check-if-cleared.snap.png
Due: none

Add snapshots
  e2e_playwright/__snapshots__/linux/mpa_basics_test/mpa-sidebar_nav[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/mpa_basics_test/mpa-sidebar_nav[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/mpa_basics_test/mpa-sidebar_nav[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/mpa_basics_test/mpa-sidebar_nav[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/mpa_basics_test/mpa-sidebar_nav[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/mpa_basics_test/mpa-sidebar_nav_collapsed[chromium].png
  e2e_playwright/__snapshots__/linux/mpa_basics_test/mpa-sidebar_nav_collapsed[firefox].png
  e2e_playwright/__snapshots__/linux/mpa_basics_test/mpa-sidebar_nav_collapsed[webkit].png
  e2e_playwright/__snapshots__/linux/mpa_basics_test/mpa-sidebar_nav_expanded[chromium].png
  e2e_playwright/__snapshots__/linux/mpa_basics_test/mpa-sidebar_nav_expanded[firefox].png
  e2e_playwright/__snapshots__/linux/mpa_basics_test/mpa-sidebar_nav_expanded[webkit].png
Due: none

Remove unneeded snapshots
  frontend/cypress/snapshots/linux/2x/multipage_apps.spec.js/multipage-apps-sidebar-nav-dark.snap.png
  frontend/cypress/snapshots/linux/2x/multipage_apps.spec.js/multipage-apps-sidebar-nav.snap.png
Due: none

Update glide version
  frontend/lib/package.json
  frontend/yarn.lock
Due: none

Add missing snapshot
  e2e_playwright/__snapshots__/linux/mpa_basics_test/mpa-sidebar_nav[light_theme-firefox].png
Due: none

Fix test
  frontend/lib/src/components/widgets/DataFrame/hooks/useCustomRenderer.test.ts
Due: prettier, typecheck

Update pyplot snapshot
  frontend/cypress/snapshots/linux/2x/st_pyplot.spec.js/pyplot-check-if-cleared.snap.png
Due: none

Update test
  e2e_playwright/multipage_apps/mpa_basics_test.py
Due: no-relative-imports

Update snapshots
  e2e_playwright/__snapshots__/linux/st_chat_message_test/chat_message-4[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_chat_message_test/chat_message-4[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_interactions_test/st_dataframe-fullscreen_collapsed[webkit].png
Due: none

Revert commit
  e2e_playwright/__snapshots__/linux/st_chat_message_test/chat_message-4[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_chat_message_test/chat_message-4[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_interactions_test/st_dataframe-fullscreen_collapsed[webkit].png
Due: none

Revert snapshots
  e2e_playwright/__snapshots__/linux/st_chat_message_test/chat_message-4[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_chat_message_test/chat_message-4[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_dataframe_interactions_test/st_dataframe-fullscreen_collapsed[webkit] copy.png
Due: none

Revert snapshot
  e2e_playwright/__snapshots__/linux/st_dataframe_interactions_test/st_dataframe-fullscreen_collapsed[webkit].png
Due: none

Remove wrong snapshot
  e2e_playwright/__snapshots__/linux/st_dataframe_interactions_test/st_dataframe-fullscreen_collapsed[webkit] copy.png
Due: none

Speed up plotly figures by 8x for users with "orjson"
  lib/streamlit/elements/plotly_chart.py
Due: no-relative-imports

Fix resize observer error (#7835)
  frontend/cypress/snapshots/linux/2x/st_pyplot.spec.js/pyplot-check-if-cleared.snap.png
  frontend/lib/src/components/core/Block/Block.tsx
Due: prettier, typecheck

Updates for new glide version
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
  frontend/lib/src/components/widgets/DataFrame/hooks/useDataExporter.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useTableSizer.ts
Due: prettier, typecheck

Add early execution fixture
  e2e_playwright/conftest.py
  e2e_playwright/multipage_apps/mpa_configure_sidebar_test.py
  e2e_playwright/pytest.ini
Due: no-relative-imports

Fix playwright port selection
  e2e_playwright/conftest.py
Due: no-relative-imports

Exclude all pytest ini files
  scripts/check_license_headers.py
Due: no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
