Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

fix: remove no-op popover persistence E2E test
  e2e_playwright/st_popover_test.py
Due: no-relative-imports

feat: st.expander & st.popover state persistence and CSS key class
  e2e_playwright/st_expander.py
  e2e_playwright/st_expander_test.py
  e2e_playwright/st_popover.py
  e2e_playwright/st_popover_test.py
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/elements/Expander/Expander.test.tsx
  frontend/lib/src/components/elements/Expander/Expander.tsx
  frontend/lib/src/components/elements/Popover/Popover.test.tsx
  frontend/lib/src/components/elements/Popover/Popover.tsx
Due: prettier, typecheck, no-relative-imports

Simplify ContainerContentsWrapper: accept userKey prop instead of suppressKeyClass
  frontend/lib/src/components/core/Block/Block.tsx
Due: prettier, typecheck

Add E2E test for popover state persistence across rerun
  e2e_playwright/st_popover_test.py
Due: no-relative-imports

Clean up Block.tsx and st_popover: remove dead code
  e2e_playwright/st_popover.py
  frontend/lib/src/components/core/Block/Block.tsx
Due: prettier, typecheck, no-relative-imports

Simplify Block.tsx, reuse child element, fix Expander TS error
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/elements/Expander/Expander.tsx
Due: prettier, typecheck

Fix ESLint no-non-null-assertion: make widgetMgr non-optional in Expander/Popover
  frontend/lib/src/components/elements/Expander/Expander.tsx
  frontend/lib/src/components/elements/Popover/Popover.tsx
Due: prettier, typecheck

Fix Block.test: add vertical flag for realistic container rendering path
  frontend/lib/src/components/core/Block/Block.test.tsx
Due: prettier, typecheck

Clarify widget mode comments in expander/popover tests
  frontend/lib/src/components/core/Block/Block.test.tsx
  frontend/lib/src/components/elements/Expander/Expander.test.tsx
  frontend/lib/src/components/elements/Popover/Popover.test.tsx
Due: prettier, typecheck

Fix #11308: update server.port after binding to port 0
  lib/streamlit/web/server/server.py
  lib/tests/streamlit/web/server/server_test.py
Due: no-relative-imports

Remove heading padding in horizontal containers
  frontend/lib/src/components/shared/StreamlitMarkdown/Heading.test.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/Heading.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/styled-components.ts
Due: prettier, typecheck

Use Tornado bind_sockets API and update server port rotation tests
  lib/streamlit/web/server/server.py
  lib/tests/streamlit/web/server/server_test.py
Due: no-relative-imports

Create Jarvis student assistant
  Jarvis student  assistant
Due: none

[chore] Add skill for uploading intermediate files to wiki
  .claude/.gitignore
  .claude/skills/uploading-intermediate-files/SKILL.md
  .gitignore
  CONTRIBUTING.md
Due: none

[docs] Document agent-wiki for sharing intermediate files
  .claude/skills/finalizing-pr/SKILL.md
  .cursor/rules/overview.mdc
  .github/copilot-instructions.md
  AGENTS.md
Due: none

[chore] Rename skill to sharing-pr-agent-artifacts
  .claude/.gitignore
  .claude/skills/finalizing-pr/SKILL.md
  .claude/skills/sharing-pr-agent-artifacts/SKILL.md
  .cursor/rules/overview.mdc
  .github/copilot-instructions.md
  AGENTS.md
  CONTRIBUTING.md
Due: none

[chore] Use backticks for skill reference to avoid auto-activation
  .cursor/rules/overview.mdc
  .github/copilot-instructions.md
  AGENTS.md
Due: none

[chore] Clone wiki repo in make all-dev for agent artifacts
  Makefile
Due: none

[chore] Clarify wiki branch policy and artifact examples
  .claude/skills/sharing-pr-agent-artifacts/SKILL.md
  CONTRIBUTING.md
Due: none

[chore] Improve shell script robustness in wiki upload skill
  .claude/skills/sharing-pr-agent-artifacts/SKILL.md
Due: none

feat: move to single review
  .github/workflows/ai-pr-review.yml
  scripts/ai_pr_review_post_inline_comments.py
  scripts/ai_pr_review_post_review.py
  scripts/ai_pr_review_prepare_inline_comments.py
  scripts/assets/code-review-consolidation-instructions.md
Due: no-relative-imports

fix: only write a JSON file in CI
  .claude/agents/reviewing-local-changes.md
Due: none

feat: enable ai-review to post inline-level comments
  .claude/agents/reviewing-local-changes.md
  .github/workflows/ai-pr-review.yml
  scripts/ai_pr_review_common.py
  scripts/ai_pr_review_post_inline_comments.py
  scripts/ai_pr_review_prepare_inline_comments.py
  scripts/assets/code-review-consolidation-instructions.md
  scripts/assets/code-review-instructions.md
Due: no-relative-imports

refactor: inline scripts instead
  .github/workflows/ai-pr-review.yml
  scripts/ai_pr_review_common.py
  scripts/ai_pr_review_post_review.py
  scripts/ai_pr_review_prepare_inline_comments.py
Due: no-relative-imports

fix: pre-commit and pr review comments
  .claude/agents/reviewing-local-changes.md
  .github/workflows/ai-pr-review.yml
Due: none

refactor: simplify
  .claude/agents/reviewing-local-changes.md
  .github/workflows/ai-pr-review.yml
Due: none

fix: a few edge cases
  .github/workflows/ai-pr-review.yml
Due: none

feat: add block-no-verify PreToolUse hook to .claude/settings.json
  .claude/settings.json
Due: none

feat: add block-no-verify beforeShellExecution hook to .cursor/hooks.json
  .cursor/hooks.json
Due: none

fix: simplify inline comments
  .claude/agents/reviewing-local-changes.md
  .claude/skills/finalizing-pr/SKILL.md
  .github/workflows/ai-pr-review.yml
  scripts/assets/code-review-inline-comments-instructions.md
  scripts/assets/code-review-instructions.md
Due: none

feat: separate inline comments from summary
  .claude/agents/reviewing-local-changes.md
  .github/workflows/ai-pr-review.yml
  scripts/assets/code-review-inline-comments-instructions.md
  scripts/assets/code-review-instructions.md
Due: none

fix: do not include individual reviews
  .github/workflows/ai-pr-review.yml
Due: none

[chore] Swap step order: trigger AI review before uploading artifacts
  .claude/skills/finalizing-pr/SKILL.md
Due: none

Add writing-spec skill for product/tech specs
  .claude/.gitignore
  .claude/skills/writing-spec/SKILL.md
  CONTRIBUTING.md
Due: none

fix: use third-person voice in skill description
  .claude/skills/writing-spec/SKILL.md
Due: none

Add browser.preferred config option
  lib/streamlit/cli_util.py
  lib/streamlit/config.py
  lib/tests/streamlit/cli_util_test.py
Due: no-relative-imports

fix: resolve "undefined" tooltip for yearmonth temporal encoding in Altair charts
  frontend/.yarn/patches/vega-lite-npm-6.4.2-2c6c27db4d.patch
  frontend/lib/package.json
  frontend/yarn.lock
Due: none

fix: extend dropdown hover highlight to full width with scrollbar
  frontend/lib/src/components/shared/Dropdown/styled-components.ts
  frontend/lib/src/components/shared/Highlight/styled-components.ts
  frontend/lib/src/components/widgets/TimeInput/styled-components.ts
Due: prettier, typecheck

Update version and project name in files
  frontend/package.json
  lib/pyproject.toml
  lib/streamlit/version.py
  pyproject.toml
Due: no-relative-imports

feat: Add st.iframe command for embedding content
  e2e_playwright/st_iframe.py
  e2e_playwright/st_iframe_test.py
  lib/streamlit/__init__.py
  lib/streamlit/elements/iframe.py
  lib/tests/streamlit/elements/iframe_test.py
Due: no-relative-imports
