Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Run bare execution tests based on playwright scripts
  .github/workflows/python-min-deps.yml
  .github/workflows/python-versions.yml
  Makefile
  e2e_playwright/st_components_v1.py
  e2e_playwright/st_dialog.py
  e2e_playwright/st_dialog_nested.py
  e2e_playwright/st_dialog_nested_test.py
  e2e_playwright/st_dialog_test.py
  e2e_playwright/st_expander.py
  e2e_playwright/st_plotly_chart_select.py
  e2e_playwright/st_status.py
  e2e_playwright/st_video.py
  lib/streamlit/runtime/state/session_state_proxy.py
  scripts/run_bare_execution_tests.py
Due: no-relative-imports

Fix Makefile and test
  Makefile
  e2e_playwright/custom_components/popular_components_test.py
Due: no-relative-imports

Update comment
  e2e_playwright/st_status.py
Due: no-relative-imports

Add comment
  e2e_playwright/st_video.py
Due: no-relative-imports

Move global call
  lib/streamlit/runtime/state/session_state_proxy.py
Due: no-relative-imports

Fix to use empty set
  scripts/run_bare_execution_tests.py
Due: no-relative-imports

Run bare execution tests
  Makefile
Due: none

Add 'expect iframe' check
  e2e_playwright/custom_components/popular_components.py
  e2e_playwright/custom_components/popular_components_test.py
Due: no-relative-imports

Move to dedicated workflow
  .github/workflows/python-bare-executions.yml
  .github/workflows/python-versions.yml
Due: none

Test failure
  e2e_playwright/st_status.py
Due: no-relative-imports

Add back test
  e2e_playwright/st_status.py
Due: no-relative-imports

Fix Makefile and e2e_playwright test for CustomComponents (#8617)
  Makefile
  e2e_playwright/custom_components/popular_components.py
  e2e_playwright/custom_components/popular_components_test.py
Due: no-relative-imports

Updating constraints. Github run id:8972016371
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Add ctx check
  lib/streamlit/components/v1/component_registry.py
Due: no-relative-imports

Add tests
  Makefile
  e2e_playwright/conftest.py
  e2e_playwright/custom_components/components_without_runtime_test.py
  e2e_playwright/pytest.ini
Due: no-relative-imports

Update comments
  e2e_playwright/conftest.py
  lib/streamlit/components/v1/component_registry.py
Due: no-relative-imports

Fix Makefile
  Makefile
Due: none

Fix popular_components test
  e2e_playwright/custom_components/popular_components_test.py
Due: no-relative-imports

Always return CustomComponent
  lib/streamlit/components/v1/component_registry.py
Due: no-relative-imports

Fix wrong return type
  lib/streamlit/components/v1/component_registry.py
Due: no-relative-imports

Add print
  e2e_playwright/st_status.py
Due: no-relative-imports

Apply feedback
  scripts/run_bare_execution_tests.py
Due: no-relative-imports

Add help tooltip test
  e2e_playwright/st_caption_test.py
Due: no-relative-imports

Remove expect
  e2e_playwright/st_caption_test.py
Due: no-relative-imports

Remove spec
  e2e/specs/st_tooltips_2.spec.js
  frontend/cypress/snapshots/linux/2x/st_tooltips_2.spec.js/stTooltipCaption.snap.png
  frontend/cypress/snapshots/linux/2x/st_tooltips_2.spec.js/stTooltipHeader.snap.png
  frontend/cypress/snapshots/linux/2x/st_tooltips_2.spec.js/stTooltipLatex.snap.png
  frontend/cypress/snapshots/linux/2x/st_tooltips_2.spec.js/stTooltipMarkdown.snap.png
  frontend/cypress/snapshots/linux/2x/st_tooltips_2.spec.js/stTooltipSubheader.snap.png
  frontend/cypress/snapshots/linux/2x/st_tooltips_2.spec.js/stTooltipText.snap.png
  frontend/cypress/snapshots/linux/2x/st_tooltips_2.spec.js/stTooltipTitle.snap.png
Due: typecheck

Add test to st.text
  e2e_playwright/__snapshots__/linux/st_text_test/st_text-ascii_art[chromium].png
  e2e_playwright/__snapshots__/linux/st_text_test/st_text-ascii_art[firefox].png
  e2e_playwright/__snapshots__/linux/st_text_test/st_text-ascii_art[webkit].png
  e2e_playwright/__snapshots__/linux/st_text_test/st_text-no_formatting_applied[chromium].png
  e2e_playwright/__snapshots__/linux/st_text_test/st_text-no_formatting_applied[firefox].png
  e2e_playwright/__snapshots__/linux/st_text_test/st_text-no_formatting_applied[webkit].png
  e2e_playwright/st_text.py
  e2e_playwright/st_text_test.py
  frontend/lib/src/components/elements/TextElement/TextElement.tsx
Due: prettier, typecheck, no-relative-imports

Implement MPAv2 feature
  frontend/app/src/App.tsx
  frontend/app/src/StreamlitLib.test.tsx
  frontend/app/src/components/AppView/AppView.tsx
  frontend/app/src/components/Sidebar/Sidebar.tsx
  frontend/app/src/components/Sidebar/SidebarNav.tsx
  frontend/app/src/components/Sidebar/styled-components.ts
  frontend/app/src/util/AppNavigation.ts
  frontend/lib/src/AppNode.test.ts
  frontend/lib/src/AppNode.ts
  frontend/lib/src/components/core/Block/Block.test.tsx
  frontend/lib/src/components/core/Block/ElementNodeRenderer.test.tsx
  frontend/lib/src/components/elements/Tabs/Tabs.test.tsx
  frontend/lib/src/components/shared/Icon/Material/MaterialFontIcon.tsx
  lib/streamlit/__init__.py
  lib/streamlit/commands/pages.py
  lib/streamlit/components/v1/custom_component.py
  lib/streamlit/elements/media.py
  lib/streamlit/elements/plotly_chart.py
  lib/streamlit/elements/widgets/button.py
  lib/streamlit/elements/widgets/camera_input.py
  lib/streamlit/elements/widgets/chat.py
  lib/streamlit/elements/widgets/checkbox.py
  lib/streamlit/elements/widgets/color_picker.py
  lib/streamlit/elements/widgets/data_editor.py
  lib/streamlit/elements/widgets/file_uploader.py
  lib/streamlit/elements/widgets/multiselect.py
  lib/streamlit/elements/widgets/number_input.py
  lib/streamlit/elements/widgets/radio.py
  lib/streamlit/elements/widgets/select_slider.py
  lib/streamlit/elements/widgets/selectbox.py
  lib/streamlit/elements/widgets/slider.py
  lib/streamlit/elements/widgets/text_widgets.py
  lib/streamlit/elements/widgets/time_widgets.py
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/pages_manager.py
  lib/streamlit/runtime/scriptrunner/script_run_context.py
  lib/streamlit/web/server/routes.py
  proto/streamlit/proto/ForwardMsg.proto
  proto/streamlit/proto/Navigation.proto
  proto/streamlit/proto/NewSession.proto
Due: prettier, typecheck, no-relative-imports

Add help tooltip test
  e2e_playwright/st_heading.py
  e2e_playwright/st_heading_test.py
Due: no-relative-imports

Add help to markdown
  e2e/scripts/st_latex.py
  e2e_playwright/st_markdown.py
  e2e_playwright/st_markdown_test.py
Due: no-relative-imports

Remove tooltips 2 test script
  e2e/scripts/st_tooltips_2.py
Due: no-relative-imports

Fix caption test
  e2e_playwright/__snapshots__/linux/st_text_test/st_text-ascii_art[chromium].png
  e2e_playwright/__snapshots__/linux/st_text_test/st_text-ascii_art[firefox].png
  e2e_playwright/__snapshots__/linux/st_text_test/st_text-ascii_art[webkit].png
  e2e_playwright/__snapshots__/linux/st_text_test/st_text-no_formatting_applied[chromium].png
  e2e_playwright/__snapshots__/linux/st_text_test/st_text-no_formatting_applied[firefox].png
  e2e_playwright/__snapshots__/linux/st_text_test/st_text-no_formatting_applied[webkit].png
  e2e_playwright/st_caption_test.py
Due: no-relative-imports

Cherry-pick fix
  e2e_playwright/custom_components/popular_components_test.py
  lib/streamlit/components/v1/component_registry.py
Due: no-relative-imports

Refactor Local Sources Watcher
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/runtime.py
  lib/streamlit/runtime/websocket_session_manager.py
  lib/tests/streamlit/runtime/app_session_test.py
  lib/tests/streamlit/runtime/runtime_test.py
  lib/tests/streamlit/runtime/runtime_test_case.py
  lib/tests/streamlit/web/server/server_test.py
Due: no-relative-imports

Remove fullscreen button for `st.table`
  frontend/lib/src/components/elements/ArrowTable/ArrowTable.tsx
Due: prettier, typecheck

Fix standalone custom-component execution (#8620)
  e2e_playwright/custom_components/popular_components_test.py
  lib/streamlit/components/v1/component_registry.py
Due: no-relative-imports

Add properties
  frontend/lib/src/components/elements/ArrowVegaLiteChart/arrowUtils.ts
Due: prettier, typecheck

Clear stale elements when st.rerun() is used (#8599)
  frontend/app/src/App.tsx
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/forward_msg_queue.py
  lib/tests/streamlit/runtime/app_session_test.py
  lib/tests/streamlit/runtime/forward_msg_queue_test.py
Due: prettier, typecheck, no-relative-imports

Updating constraints. Github run id:8977428428
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.12.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Refactor Local Sources Watcher to not be instantiated in multiple places. (#8623)
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/runtime.py
  lib/streamlit/runtime/websocket_session_manager.py
  lib/tests/streamlit/runtime/app_session_test.py
  lib/tests/streamlit/runtime/runtime_test.py
  lib/tests/streamlit/runtime/runtime_test_case.py
  lib/tests/streamlit/web/server/server_test.py
Due: no-relative-imports

Updated snaps
  e2e_playwright/__snapshots__/linux/st_altair_chart_test/st_altair_chart-grouped_bar_chart_default_theme[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-headers_in_sidebar[chromium].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-headers_in_sidebar[firefox].png
  e2e_playwright/__snapshots__/linux/st_markdown_test/st_markdown-headers_in_sidebar[webkit].png
  e2e_playwright/__snapshots__/linux/st_vega_lite_chart_test/st_vega_lite_chart-interactive[light_theme-firefox].png
Due: none

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
