Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Update
  lib/streamlit/runtime/metrics_util.py
Due: no-relative-imports

Clean up
  lib/streamlit/runtime/metrics_util.py
Due: no-relative-imports

Fix file upload failing on Android
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
Due: prettier, typecheck

Update
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
Due: prettier, typecheck

Add improvements
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
Due: prettier, typecheck

Try new approach
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  frontend/connection/src/constants.ts
Due: prettier, typecheck

AI review prototype
  .github/workflows/ai-review.yml
Due: none

Fix model
  .github/workflows/ai-review.yml
Due: none

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Update README.md
  README.md
Due: none

Update
  .github/workflows/ai-review.yml
Due: none

Fix versions
  .github/workflows/ai-review.yml
Due: none

Update
  .github/workflows/ai-pr-review.yml
Due: none

Add triage workflow
  .github/workflows/ai-issue-triage.yml
Due: none

Move wiki documents into repository
  CONTRIBUTING.md
  wiki/README.md
  wiki/code-styled-guide.md
  wiki/running-e2e-tests.md
Due: none

Update links
  CONTRIBUTING.md
  wiki/running-e2e-tests.md
Due: none

Update
  wiki/code-styled-guide.md
Due: none

Update
  e2e_playwright/README.md
  wiki/code-styled-guide.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update wiki/running-e2e-tests.md
  wiki/running-e2e-tests.md
Due: none

Update wiki/code-styled-guide.md
  wiki/code-styled-guide.md
Due: none

Update
  CONTRIBUTING.md
  wiki/README.md
  wiki/code-style-guide.md
Due: none

Update workflows
  .github/workflows/component-template-e2e-tests.yml
  .github/workflows/conda-build.yml
  .github/workflows/performance.yml
  .github/workflows/playwright-changed-files.yml
  .github/workflows/playwright-custom-components.yml
  .github/workflows/pr-preview.yml
Due: none

Update wiki/code-style-guide.md
  wiki/code-style-guide.md
Due: none

Apply feedback
  frontend/app/src/App.tsx
  frontend/lib/src/components/elements/PageLink/PageLink.test.tsx
  frontend/lib/src/components/elements/PageLink/PageLink.tsx
  frontend/lib/src/index.ts
  frontend/lib/src/util/utils.test.ts
  frontend/lib/src/util/utils.ts
  lib/streamlit/errors.py
  lib/streamlit/runtime/state/query_params.py
Due: prettier, typecheck, no-relative-imports

Updated
  lib/streamlit/errors.py
Due: no-relative-imports

Add more dependencies
  lib/streamlit/runtime/metrics_util.py
Due: no-relative-imports

Fix CI
  lib/tests/streamlit/runtime/state/query_params_test.py
Due: no-relative-imports

Apply feedback
  frontend/lib/src/components/elements/PageLink/PageLink.test.tsx
  frontend/lib/src/components/elements/PageLink/PageLink.tsx
Due: prettier, typecheck

update
  lib/streamlit/runtime/metrics_util.py
Due: no-relative-imports

Add more
  lib/streamlit/runtime/metrics_util.py
Due: no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
