Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Add ChatInput file chip snapshots to disallowed list
  scripts/snapshot_cleanup.py
Due: no-relative-imports

Fix retry E2E tests and remove unreliable spinner/cancel tests
  e2e_playwright/st_chat_input_test.py
Due: no-relative-imports

Fix delete button event bubbling and slice(-0) truncation bug
  e2e_playwright/st_chat_input_test.py
  frontend/lib/src/components/widgets/ChatInput/fileUpload/ChatUploadedFile.tsx
  frontend/lib/src/components/widgets/ChatInput/fileUpload/truncateFilename.test.ts
  frontend/lib/src/components/widgets/ChatInput/fileUpload/truncateFilename.ts
Due: prettier, typecheck, no-relative-imports

Use themed_app fixture for retry tests to match working pattern
  e2e_playwright/st_chat_input_test.py
Due: no-relative-imports

Address PR feedback: remove historical comments from tests
  e2e_playwright/st_chat_input_test.py
Due: no-relative-imports

Add E2E test for file upload retry click functionality
  e2e_playwright/st_chat_input_test.py
Due: no-relative-imports

Add retry attribute checks to existing error test instead of new tests
  e2e_playwright/st_chat_input_test.py
Due: no-relative-imports

Reduce file chip snapshot overhead: use themed_app for 1 type only
  e2e_playwright/st_chat_input_test.py
Due: no-relative-imports

Prevent running workflows on spec PRs
  .github/workflows/playwright.yml
Due: none

Update
  specs/0000-sprintf-thousand-separator/product-spec.md
Due: none

Fix st.bottom test failures: add to NON_ELEMENT_COMMANDS and fix E2E locator
  e2e_playwright/st_bottom_test.py
  lib/tests/streamlit/streamlit_test.py
Due: no-relative-imports

Fix headings unit test flakiness - 2
  frontend/lib/src/components/shared/StreamlitMarkdown/Heading.test.tsx
Due: prettier, typecheck

Skip other jobs
  .github/workflows/cli-regression.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/ensure-relative-imports.yml
  .github/workflows/js-tests.yml
  .github/workflows/python-bare-executions.yml
  .github/workflows/python-tests.yml
Due: none

Unify
  .github/workflows/codeql-analysis.yml
Due: none

Update
  .github/workflows/cli-regression.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/ensure-relative-imports.yml
  .github/workflows/js-tests.yml
  .github/workflows/playwright.yml
  .github/workflows/python-bare-executions.yml
  .github/workflows/python-tests.yml
Due: none

Refactor download utilities: move file handling functions to runtime module
  lib/streamlit/elements/lib/file_util.py
  lib/streamlit/runtime/download_data_util.py
  lib/streamlit/runtime/file_util.py
Due: no-relative-imports

[fix] Docstring indentation
  lib/streamlit/elements/widgets/button.py
Due: no-relative-imports

[fix] Clean up st_download_button_test
  e2e_playwright/__snapshots__/linux/st_download_button_test/st_download_button-icon_position_left_emoji[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_download_button_test/st_download_button-icon_position_left_emoji[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_download_button_test/st_download_button-icon_position_left_emoji[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_download_button_test/st_download_button-icon_position_left_emoji[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_download_button_test/st_download_button-icon_position_left_emoji[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_download_button_test/st_download_button-icon_position_left_emoji[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_download_button_test/st_download_button-icon_position_left_material[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_download_button_test/st_download_button-icon_position_left_material[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_download_button_test/st_download_button-icon_position_left_material[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_download_button_test/st_download_button-icon_position_left_material[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_download_button_test/st_download_button-icon_position_left_material[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_download_button_test/st_download_button-icon_position_left_material[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_download_button_test/st_download_button-icon_position_right_material[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_download_button_test/st_download_button-icon_position_right_material[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_download_button_test/st_download_button-icon_position_right_material[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_download_button_test/st_download_button-icon_position_right_material[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_download_button_test/st_download_button-icon_position_right_material[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_download_button_test/st_download_button-icon_position_right_material[light_theme-webkit].png
  e2e_playwright/st_download_button.py
  e2e_playwright/st_download_button_test.py
Due: no-relative-imports

[fix] Clean up st_link_button_test
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_left_emoji[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_left_emoji[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_left_emoji[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_left_emoji[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_left_emoji[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_left_emoji[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_left_material[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_left_material[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_left_material[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_left_material[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_left_material[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_left_material[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_left_primary[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_left_primary[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_left_primary[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_left_primary[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_left_primary[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_left_primary[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_right_emoji[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_right_emoji[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_right_emoji[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_right_emoji[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_right_emoji[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_right_emoji[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_right_primary[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_right_primary[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_right_primary[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_right_primary[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_right_primary[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_right_primary[light_theme-webkit].png
  e2e_playwright/st_link_button.py
  e2e_playwright/st_link_button_test.py
Due: no-relative-imports

[fix] Clean up st_page_link_test
  e2e_playwright/__snapshots__/linux/st_page_link_test/st_page_link-icon_position_left_emoji[chromium].png
  e2e_playwright/__snapshots__/linux/st_page_link_test/st_page_link-icon_position_left_emoji[firefox].png
  e2e_playwright/__snapshots__/linux/st_page_link_test/st_page_link-icon_position_left_emoji[webkit].png
  e2e_playwright/__snapshots__/linux/st_page_link_test/st_page_link-icon_position_left_material[chromium].png
  e2e_playwright/__snapshots__/linux/st_page_link_test/st_page_link-icon_position_left_material[firefox].png
  e2e_playwright/__snapshots__/linux/st_page_link_test/st_page_link-icon_position_left_material[webkit].png
  e2e_playwright/__snapshots__/linux/st_page_link_test/st_page_link-icon_position_right_material[chromium].png
  e2e_playwright/__snapshots__/linux/st_page_link_test/st_page_link-icon_position_right_material[firefox].png
  e2e_playwright/__snapshots__/linux/st_page_link_test/st_page_link-icon_position_right_material[webkit].png
  e2e_playwright/st_page_link.py
  e2e_playwright/st_page_link_test.py
Due: no-relative-imports

Add file chip snapshots to DISALLOWED_SNAPSHOTS list
  scripts/snapshot_cleanup.py
Due: no-relative-imports

Update snapshots
  e2e_playwright/__snapshots__/linux/st_button_test/st_button-icon_position_right_material[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_button_test/st_button-icon_position_right_material[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_button_test/st_button-icon_position_right_material[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_button_test/st_button-icon_position_right_material[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_download_button_test/st_download_button-icon_position_right_emoji[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_download_button_test/st_download_button-icon_position_right_emoji[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_download_button_test/st_download_button-icon_position_right_emoji[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_download_button_test/st_download_button-icon_position_right_emoji[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_right_material[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_right_material[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_right_material[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_link_button_test/st_link_button-icon_position_right_material[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_page_link_test/st_page_link-icon_position_right_emoji[chromium].png
  e2e_playwright/__snapshots__/linux/st_page_link_test/st_page_link-icon_position_right_emoji[firefox].png
Due: none

Prevent `st.dialog` from showing elements from previous dialog
  e2e_playwright/st_dialog.py
  e2e_playwright/st_dialog_test.py
  frontend/lib/src/render-tree/AppRoot.test.ts
  frontend/lib/src/render-tree/AppRoot.ts
  lib/streamlit/elements/lib/dialog.py
Due: prettier, typecheck, no-relative-imports

Improve error handling when running the AI review on forked PRs
  .github/workflows/ai-pr-review.yml
Due: none

Fix feedback and redact tokens on st.json
  lib/streamlit/auth_util.py
  lib/streamlit/elements/json.py
  lib/tests/streamlit/elements/json_test.py
Due: no-relative-imports

[fix] Update test condition for Bokeh
  e2e_playwright/custom_components/popular_components_test.py
Due: no-relative-imports

[feat] Add headingFontSize1-6 and headingFontWeight1-6 CSS Custom Properties
  frontend/component-v2-lib/src/theme.ts
  frontend/lib/src/components/widgets/BidiComponent/utils/theme.test.ts
  frontend/lib/src/components/widgets/BidiComponent/utils/theme.ts
Due: prettier, typecheck

removed margins from bottom of area chart
  e2e_playwright/st_metric_area_chart_test.py
  frontend/lib/src/components/elements/Metric/Metric.tsx
  frontend/lib/src/components/elements/Metric/styled-components.ts
Due: prettier, typecheck, no-relative-imports

Added image icon support to st.button
  frontend/lib/src/components/shared/Icon/DynamicIcon.tsx
  lib/streamlit/string_util.py
  lib/tests/streamlit/elements/button_test.py
Due: prettier, typecheck, no-relative-imports

fixed button.py to work with icons
  lib/streamlit/elements/widgets/button.py
Due: no-relative-imports

updated tests to match new margins
  frontend/lib/src/components/elements/Metric/Metric.test.tsx
Due: prettier, typecheck

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

[Prototype] Use key as main identity for data editor
  7749-plan.md
  e2e_playwright/st_data_editor_state_persistence.py
  e2e_playwright/st_data_editor_state_persistence_test.py
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
  frontend/lib/src/components/widgets/DataFrame/hooks/useWidgetState.test.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useWidgetState.ts
  lib/streamlit/elements/widgets/data_editor.py
  lib/tests/streamlit/elements/data_editor_test.py
Due: prettier, typecheck, no-relative-imports

[Prototype] Support dynamic rows with key as main identity for data editor
  7749-plan.md
  e2e_playwright/st_data_editor_state_persistence.py
  e2e_playwright/st_data_editor_state_persistence_test.py
  frontend/lib/src/components/widgets/DataFrame/hooks/EditingState.test.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/EditingState.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useWidgetState.test.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useWidgetState.ts
  lib/streamlit/elements/widgets/data_editor.py
  lib/tests/streamlit/elements/data_editor_test.py
Due: prettier, typecheck, no-relative-imports

Fix data editor regression when starting from empty column
  e2e_playwright/st_data_editor_config.py
  e2e_playwright/st_data_editor_config_test.py
  lib/streamlit/elements/widgets/data_editor.py
  lib/tests/streamlit/elements/data_editor_test.py
Due: no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
