Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Autoformat yaml in .github dir and enforce formatting (#6497)
  .github/actions/branch/action.yml
  .github/actions/build_info/action.yml
  .github/actions/make_init/action.yml
  .github/actions/preview_branch/action.yml
  .github/actions/tag_and_repo/action.yml
  .github/repo_meta.yaml
  .github/workflows/cli-regression.yml
  .github/workflows/cypress-update-snapshots.yml
  .github/workflows/cypress.yml
  .github/workflows/js-tests.yml
  .github/workflows/nightly.yml
  .github/workflows/pr-preview.yml
  .github/workflows/py-prod-deps-smoke-test.yml
  .github/workflows/python-versions.yml
  .github/workflows/release-candidate.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
Due: none

Tweak some st.experimental_connection-related names (#6437)
  lib/streamlit/connections/__init__.py
  lib/streamlit/connections/base_connection.py
  lib/streamlit/connections/snowpark_connection.py
  lib/streamlit/connections/sql_connection.py
  lib/streamlit/runtime/connection_factory.py
  lib/tests/streamlit/connections/__init__.py
  lib/tests/streamlit/connections/base_connection_test.py
  lib/tests/streamlit/connections/snowpark_connection_test.py
  lib/tests/streamlit/connections/sql_connection_test.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

Add a skeleton implementation of st.experimental_connection (#6332)
  lib/streamlit/__init__.py
  lib/streamlit/connections/__init__.py
  lib/streamlit/connections/base_connection.py
  lib/streamlit/runtime/connection_factory.py
  lib/tests/streamlit/runtime/connection_factory_test.py
  lib/tests/streamlit/runtime/metrics_util_test.py
  lib/tests/streamlit/streamlit_test.py
Due: no-relative-imports

Add implementation of SQL connection (#6381)
  lib/streamlit/connections/__init__.py
  lib/streamlit/connections/sql_connection.py
  lib/streamlit/runtime/connection_factory.py
  lib/tests/streamlit/connections/sql_connection_test.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

Make slight improvement to missing requirement handling (#6395)
  lib/streamlit/runtime/connection_factory.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

Allow st.experimental_connection callers to set a name via envvar (#6446)
  lib/streamlit/runtime/connection_factory.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

Merge config parameters from various sources in SQL/Snowpark connections (#6486)
  lib/streamlit/connections/snowpark_connection.py
  lib/streamlit/connections/sql_connection.py
  lib/streamlit/connections/util.py
  lib/tests/streamlit/connections/snowpark_connection_test.py
  lib/tests/streamlit/connections/sql_connection_test.py
  lib/tests/streamlit/connections/util_test.py
Due: no-relative-imports

Add retry behavior to the SQL/Snowpark read helper methods (#6468)
  lib/streamlit/connections/snowpark_connection.py
  lib/streamlit/connections/sql_connection.py
  lib/streamlit/runtime/connection_factory.py
  lib/test-requirements.txt
  lib/tests/streamlit/connections/snowpark_connection_test.py
  lib/tests/streamlit/connections/sql_connection_test.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

More misc st.experimental_connection renames (#6457)
  lib/streamlit/connections/base_connection.py
  lib/streamlit/connections/snowpark_connection.py
  lib/streamlit/connections/sql_connection.py
  lib/streamlit/runtime/connection_factory.py
  lib/tests/streamlit/connections/snowpark_connection_test.py
  lib/tests/streamlit/connections/sql_connection_test.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

Add a bunch of docstrings (#6491)
  lib/streamlit/connections/base_connection.py
  lib/streamlit/connections/snowpark_connection.py
  lib/streamlit/connections/sql_connection.py
  lib/streamlit/runtime/connection_factory.py
Due: no-relative-imports

Rework connection factory function API (#6436)
  lib/streamlit/connections/base_connection.py
  lib/streamlit/connections/snowpark_connection.py
  lib/streamlit/connections/sql_connection.py
  lib/streamlit/runtime/connection_factory.py
  lib/tests/streamlit/connections/base_connection_test.py
  lib/tests/streamlit/connections/snowpark_connection_test.py
  lib/tests/streamlit/connections/sql_connection_test.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

Add implementation of Snowpark connection (#6388)
  .github/workflows/python-versions.yml
  lib/streamlit/connections/__init__.py
  lib/streamlit/connections/base_connection.py
  lib/streamlit/connections/snowpark_connection.py
  lib/streamlit/runtime/connection_factory.py
  lib/tests/streamlit/connections/snowpark_connection_test.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

Allow users to specify name only for first party connections (#6478)
  lib/streamlit/runtime/connection_factory.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

Start work on BaseConnection abstract class (#6346)
  lib/streamlit/connections/base_connection.py
  lib/streamlit/runtime/connection_factory.py
  lib/tests/streamlit/connections/__init__.py
  lib/tests/streamlit/connections/base_connection_test.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

Reload the connection when its secrets section changes (#6359)
  lib/streamlit/connections/base_connection.py
  lib/tests/streamlit/connections/base_connection_test.py
Due: no-relative-imports

Support ttl and max_entries kwargs (#6449)
  lib/streamlit/runtime/connection_factory.py
  lib/tests/streamlit/runtime/connection_factory_test.py
Due: no-relative-imports

Add _repr_html_ implementations for the base and SQL connections (#6466)
  lib/streamlit/connections/base_connection.py
  lib/streamlit/connections/sql_connection.py
  lib/tests/streamlit/connections/base_connection_test.py
  lib/tests/streamlit/connections/sql_connection_test.py
Due: no-relative-imports

Use the current active Snowpark session if one is available
  lib/streamlit/connections/snowpark_connection.py
  lib/tests/streamlit/connections/snowpark_connection_test.py
Due: no-relative-imports

Add new bokeh files but it's taking forever to yarn start
  frontend/package.json
  frontend/src/components/elements/BokehChart/BokehChart.tsx
  frontend/src/components/elements/BokehChart/bokeh-api-2.4.3.min.js
  frontend/src/components/elements/BokehChart/bokeh-gl-2.4.3.min.js
  frontend/src/components/elements/BokehChart/bokeh-mathjax-2.4.3.min.js
  frontend/src/components/elements/BokehChart/bokeh-tables-2.4.3.min.js
  frontend/src/components/elements/BokehChart/bokeh-widgets-2.4.3.min.js
Due: prettier, typecheck, eslint

Allow users to set SQL create_engine kwargs from secrets
  lib/streamlit/connections/sql_connection.py
  lib/tests/streamlit/connections/sql_connection_test.py
Due: no-relative-imports

Only run Snowpark tests in Snowflake CI tests
  lib/tests/streamlit/connections/snowpark_connection_test.py
Due: no-relative-imports

Add `type: ignore`s
  lib/streamlit/connections/snowpark_connection.py
Due: no-relative-imports

Move copy button rendering and its container styles from ElementNodeRenderer.tsx and StreamlitMarkdown.tsx to StreamlitSyntaxHighlighter.tsx
  frontend/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/src/components/elements/CodeBlock/StreamlitSyntaxHighlighter.tsx
  frontend/src/components/elements/CodeBlock/styled-components.ts
  frontend/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
Due: prettier, typecheck, eslint

Remove .github/actions/tag_and_repo action
  .github/actions/tag_and_repo/action.yml
  .github/workflows/release.yml
Due: none

Create tag with constraints files for release
  .github/actions/build_info/action.yml
  .github/scripts/build_info.py
  .github/workflows/python-versions.yml
  .github/workflows/release-candidate.yml
  .github/workflows/release.yml
  Makefile
Due: no-relative-imports

fixup! Create tag with constraints files for release
  .github/workflows/python-versions.yml
Due: none

fixup! fixup! Create tag with constraints files for release
  .github/workflows/python-versions.yml
Due: none

Add a conditional check to only render copy button when code block is not empty
  frontend/src/components/elements/CodeBlock/StreamlitSyntaxHighlighter.tsx
Due: prettier, typecheck, eslint

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Remove the extra vertical space between code blocks caused by the added StyledCodeBlock
  frontend/src/components/elements/CodeBlock/styled-components.ts
Due: prettier, typecheck, eslint

fix: adjust spacing between code blocks in StyledCodeBlock
  frontend/src/components/elements/CodeBlock/styled-components.ts
Due: prettier, typecheck, eslint

Set overlay to hidden instead
  frontend/src/components/shared/StreamlitMarkdown/styled-components.ts
Due: prettier, typecheck, eslint

Remove unnecessary '\'
  frontend/src/components/elements/Spinner/__snapshots__/Spinner.test.tsx.snap
Due: none

Check in updated snapshots sans Spinner.test.tsx.snap
  frontend/src/components/elements/Spinner/__snapshots__/Spinner.test.tsx.snap
Due: none

Create tag with constraints files for new releases (#6495)
  .github/actions/build_info/action.yml
  .github/actions/tag_and_repo/action.yml
  .github/scripts/build_info.py
  .github/workflows/python-versions.yml
  .github/workflows/release-candidate.yml
  .github/workflows/release.yml
  Makefile
Due: no-relative-imports

Revert to overflow: ["auto", "overlay"]
  frontend/src/components/shared/StreamlitMarkdown/styled-components.ts
Due: prettier, typecheck, eslint

Revert all changes to StreamlitMarkdown/styled-components.ts, change display:flex to block in Alert/styled-components.tsx
  frontend/src/components/elements/Alert/styled-components.tsx
  frontend/src/components/shared/StreamlitMarkdown/styled-components.ts
Due: prettier, typecheck, eslint
