Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Up decamelize
  NOTICES
  frontend/package.json
  frontend/yarn.lock
Due: none

Up humanize-string
  NOTICES
  frontend/package.json
  frontend/yarn.lock
Due: none

Up & resolve query-string
  NOTICES
  frontend/package.json
  frontend/yarn.lock
Due: none

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Up react-debounce-render
  NOTICES
  frontend/package.json
  frontend/yarn.lock
Due: none

Add tests for Markdown Elements Resolve merge conflict with develop
  lib/streamlit/testing/element_tree.py
  lib/tests/streamlit/script_interactions_test.py
  lib/tests/streamlit/testing/element_tree_test.py
Due: no-relative-imports

Up & resolve katex, types/katex
  NOTICES
  frontend/package.json
  frontend/yarn.lock
Due: none

Up types/numeral
  frontend/package.json
  frontend/yarn.lock
Due: none

"client.showErrorDetails" controls whether deprecation warnings appear in-browser (#5945)
  lib/streamlit/config.py
  lib/streamlit/deprecation_util.py
  lib/tests/streamlit/deprecation_util_test.py
Due: no-relative-imports

Remove resolutions: dot-prop, trim, trim-newlines, https-proxy-agent & minimist
  NOTICES
  frontend/package.json
  frontend/yarn.lock
Due: none

Up glob-parent
  NOTICES
  frontend/package.json
  frontend/yarn.lock
Due: none

Up ini
  NOTICES
  frontend/package.json
  frontend/yarn.lock
Due: none

Up version to 1.17.0
  frontend/package.json
  lib/setup.py
Due: no-relative-imports

Add TODO to not forget to discuss is_caption field presence and steps to remove it safely from code.
  proto/streamlit/proto/Markdown.proto
Due: none

Up bl
  NOTICES
  frontend/package.json
  frontend/yarn.lock
Due: none

Add all markdown elements to testing framework (#5923)
  lib/streamlit/elements/markdown.py
  lib/streamlit/testing/element_tree.py
  lib/tests/streamlit/testing/element_tree_test.py
  proto/streamlit/proto/Markdown.proto
Due: no-relative-imports

Up node-notifier
  frontend/package.json
  frontend/yarn.lock
Due: none

Initial slider implementation
  lib/streamlit/testing/element_tree.py
Due: no-relative-imports

Error if unknown slider type
  lib/streamlit/testing/element_tree.py
Due: no-relative-imports

Improve detection of incompatible columns
  lib/streamlit/type_util.py
Due: no-relative-imports

Fix scipy pinning to >= 1.7.3 (from <= 1.7.3)
  lib/test-requirements.txt
Due: none

Unify error messages
  frontend/src/components/widgets/DataFrame/columns/BooleanColumn.ts
  frontend/src/components/widgets/DataFrame/columns/CategoricalColumn.ts
  frontend/src/components/widgets/DataFrame/columns/ChartColumn.ts
  frontend/src/components/widgets/DataFrame/columns/NumberColumn.ts
  frontend/src/components/widgets/DataFrame/columns/ObjectColumn.ts
  frontend/src/components/widgets/DataFrame/columns/TextColumn.ts
Due: prettier, typecheck, eslint

Use None as missing value token
  frontend/src/components/widgets/DataFrame/DataFrame.tsx
Due: prettier, typecheck, eslint

mypy.ini: ignore "tomli" imports
  lib/mypy.ini
Due: none

unpin watchdog
  lib/test-requirements.txt
Due: none

Improve support for dict and decimal types in quiver
  frontend/src/lib/Quiver.ts
Due: prettier, typecheck, eslint

Remove background for non-editable cells
  frontend/src/components/widgets/DataFrame/hooks/useDataLoader.ts
Due: prettier, typecheck, eslint

Add empty state for widget state
  lib/streamlit/elements/data_editor.py
Due: no-relative-imports

Up serialize-javascript
  frontend/package.json
  frontend/yarn.lock
Due: none

Up ssri
  NOTICES
  frontend/package.json
  frontend/yarn.lock
Due: none

Up ws
  NOTICES
  frontend/package.json
  frontend/yarn.lock
Due: none

Convert `linked_sliders` to integration test
  e2e/specs/linked_sliders.spec.js
  lib/streamlit/testing/element_tree.py
  lib/tests/streamlit/runtime/state/session_state_test.py
  lib/tests/streamlit/test_data/linked_sliders.py
Due: typecheck, no-relative-imports

Fix linter issues
  frontend/src/components/core/Block/ElementNodeRenderer.tsx
  frontend/src/components/widgets/DataFrame/columns/NumberColumn.ts
  frontend/src/components/widgets/DataFrame/hooks/useColumnSort.ts
  frontend/src/components/widgets/DataFrame/hooks/useDataEditor.ts
  frontend/src/components/widgets/DataFrame/hooks/useDataLoader.ts
Due: prettier, typecheck, eslint

Fix `slider` types
  lib/streamlit/testing/element_tree.py
Due: no-relative-imports

Up y18n
  NOTICES
  frontend/package.json
  frontend/yarn.lock
Due: none

Add tests for slider interaction
  lib/tests/streamlit/testing/element_tree_test.py
Due: no-relative-imports

Slider `get` overload for block
  lib/streamlit/testing/element_tree.py
Due: no-relative-imports

skip pyspark tests in Python 3.11
  lib/tests/streamlit/dataframe_selector_test.py
  lib/tests/streamlit/elements/map_test.py
  lib/tests/streamlit/runtime/caching/cache_errors_test.py
  lib/tests/streamlit/write_test.py
  lib/tests/testutil.py
Due: no-relative-imports

Add Type field for distinguishing sliders
  lib/streamlit/elements/select_slider.py
  lib/streamlit/elements/slider.py
  lib/streamlit/testing/element_tree.py
  proto/streamlit/proto/Slider.proto
Due: no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
