Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_select_test/st_pydeck_chart_select-scatterplot-single-selection[chromium].png
Due: none

Update pydeck selection snapshot
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_select_test/st_pydeck_chart_select-scatterplot-single-selection[chromium].png
Due: none

Reject widget-root descendants in hit probe
  e2e_playwright/st_pydeck_chart_test.py
Due: no-relative-imports

Ignore non-primary presses in popover interaction flag
  frontend/lib/src/components/widgets/DateInput/RangeDateInput.tsx
  frontend/lib/src/components/widgets/DateInput/SingleDateInput.tsx
  frontend/lib/src/components/widgets/DateInput/focusLeave.ts
  frontend/lib/src/components/widgets/DateTimeInput/SingleDateTimeInput.tsx
Due: prettier, typecheck

Pass the resolved module into the lazy attribute message and require difflib to be absent before probes.
  lib/streamlit/__init__.py
  lib/tests/streamlit/command_suggestions_test.py
Due: no-relative-imports

[fix] Align pydeck tooltips with the cursor (#17313)
  e2e_playwright/__snapshots__/linux/st_pydeck_chart_select_test/st_pydeck_chart_select-scatterplot-single-selection[chromium].png
  e2e_playwright/st_pydeck_chart.py
  e2e_playwright/st_pydeck_chart_test.py
  frontend/lib/src/components/elements/DeckGlJsonChart/styled-components.ts
Due: prettier, typecheck, no-relative-imports

[chore] Raise NumPy floor to 1.25
  lib/pyproject.toml
  scripts/assets/min-constraints-gen.txt
  uv.lock
Due: none

Keep typed text when it formats as an option
  lib/streamlit/elements/lib/options_selector_utils.py
  lib/streamlit/elements/widgets/multiselect.py
  lib/streamlit/elements/widgets/selectbox.py
  lib/tests/streamlit/elements/multiselect_test.py
  lib/tests/streamlit/elements/selectbox_test.py
Due: no-relative-imports

[fix] Put date and datetime calendar buttons in tab order (#17296)
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
  frontend/lib/src/components/widgets/DateInput/RangeDateInput.tsx
  frontend/lib/src/components/widgets/DateInput/SingleDateInput.tsx
  frontend/lib/src/components/widgets/DateInput/focusLeave.test.ts
  frontend/lib/src/components/widgets/DateInput/focusLeave.ts
  frontend/lib/src/components/widgets/DateTimeInput/DateTimeInput.test.tsx
  frontend/lib/src/components/widgets/DateTimeInput/SingleDateTimeInput.tsx
Due: prettier, typecheck

[fix] st attribute probes no longer import modules (#17311)
  lib/streamlit/__init__.py
  lib/streamlit/command_suggestions.py
  lib/tests/streamlit/command_suggestions_test.py
Due: no-relative-imports

Align date and time icon focus rings
  frontend/lib/src/components/widgets/DateInput/styled-components.ts
  frontend/lib/src/components/widgets/TimeInput/styled-components.ts
Due: prettier, typecheck

Refresh shared labels for the earlier option
  lib/streamlit/elements/lib/options_selector_utils.py
  lib/streamlit/elements/widgets/multiselect.py
  lib/streamlit/elements/widgets/selectbox.py
  lib/tests/streamlit/elements/multiselect_test.py
Due: no-relative-imports

[chore] Match pandas-stubs to pandas 3 and lazy-load tomli_w
  .github/dependabot.yml
  .pre-commit-config.yaml
  e2e_playwright/lazy_loaded_modules.py
  e2e_playwright/lazy_loaded_modules_test.py
  e2e_playwright/st_dataframe_styler_support.py
  e2e_playwright/st_table.py
  lib/streamlit/config_util.py
  pyproject.toml
  uv.lock
Due: no-relative-imports

Use a single Tab stop per date field
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
  frontend/lib/src/components/widgets/DateInput/RangeDateInput.tsx
  frontend/lib/src/components/widgets/DateInput/ReorderedSegments.tsx
  frontend/lib/src/components/widgets/DateInput/SingleDateInput.tsx
  frontend/lib/src/components/widgets/DateInput/dateFieldTabStop.test.ts
  frontend/lib/src/components/widgets/DateInput/dateFieldTabStop.ts
  frontend/lib/src/components/widgets/DateInput/focusLeave.test.ts
  frontend/lib/src/components/widgets/DateInput/focusLeave.ts
  frontend/lib/src/components/widgets/DateTimeInput/DateTimeInput.test.tsx
  frontend/lib/src/components/widgets/DateTimeInput/SingleDateTimeInput.tsx
Due: prettier, typecheck

Keep a slow fragment acknowledgement from being replaced by a page tick.
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  specs/2026-07-15-page-run-every/product-spec.md
Due: prettier, typecheck

Add e2e coverage for date field Tab stops
  e2e_playwright/st_date_input_test.py
  e2e_playwright/st_datetime_input_test.py
  frontend/lib/src/components/widgets/DateInput/ReorderedSegments.tsx
  frontend/lib/src/components/widgets/DateInput/dateFieldTabStop.ts
Due: prettier, typecheck, no-relative-imports

[fix] Raise pandas floor to 1.5.3
  lib/pyproject.toml
  lib/streamlit/runtime/credentials.py
  lib/tests/streamlit/config_util_test.py
  lib/tests/streamlit/runtime/credentials_test.py
  scripts/assets/min-constraints-gen.txt
  uv.lock
Due: no-relative-imports

Round date/time icon focus rings
  frontend/lib/src/components/widgets/DateInput/styled-components.ts
  frontend/lib/src/components/widgets/TimeInput/styled-components.ts
Due: prettier, typecheck

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-required_error[dark_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-required_error[dark_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-required_error[dark_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-required_error[light_theme-chromium].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-required_error[light_theme-firefox].png
  e2e_playwright/__snapshots__/linux/st_date_input_test/st_date_input-required_error[light_theme-webkit].png
Due: none

[chore] Clarify dependency floors and credentials TOML handling
  .pre-commit-config.yaml
  lib/pyproject.toml
  lib/streamlit/config_util.py
  lib/streamlit/runtime/credentials.py
  lib/tests/streamlit/runtime/credentials_test.py
Due: no-relative-imports

Clarify date/time focus-ring border-radius comments
  frontend/lib/src/components/widgets/DateInput/styled-components.ts
  frontend/lib/src/components/widgets/TimeInput/styled-components.ts
Due: prettier, typecheck

Agent API spec: align the v1 limitations table with the prototype
  specs/2026-08-28-agent-app-interface/product-spec.md
Due: none

Skip disabled date segments in single-Tab-stop helper
  e2e_playwright/st_date_input_test.py
  e2e_playwright/st_datetime_input_test.py
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
  frontend/lib/src/components/widgets/DateInput/dateFieldTabStop.test.ts
  frontend/lib/src/components/widgets/DateInput/dateFieldTabStop.ts
  frontend/lib/src/components/widgets/DateInput/focusLeave.ts
Due: prettier, typecheck, no-relative-imports

Clarify date-field Tab-stop helper docs
  frontend/lib/src/components/widgets/DateInput/dateFieldTabStop.ts
  frontend/lib/src/components/widgets/DateInput/focusLeave.ts
Due: prettier, typecheck

Fix disabled date Tab-stop e2e expectations
  e2e_playwright/st_date_input_test.py
  e2e_playwright/st_datetime_input_test.py
  frontend/lib/src/components/widgets/DateInput/dateFieldTabStop.test.ts
  frontend/lib/src/components/widgets/DateInput/dateFieldTabStop.ts
Due: prettier, typecheck, no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/pyproject.toml
  lib/streamlit/version.py
  pyproject.toml
  uv.lock
Due: no-relative-imports

[fix] Use theme focus ring on date/time input icon buttons (#17316)
  frontend/lib/src/components/widgets/DateInput/styled-components.ts
  frontend/lib/src/components/widgets/TimeInput/styled-components.ts
Due: prettier, typecheck

Restore nearest-segment focus for date field padding clicks
  e2e_playwright/st_date_input_test.py
  e2e_playwright/st_datetime_input_test.py
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
  frontend/lib/src/components/widgets/DateInput/SingleDateInput.tsx
  frontend/lib/src/components/widgets/DateInput/dateFieldTabStop.test.ts
  frontend/lib/src/components/widgets/DateInput/dateFieldTabStop.ts
  frontend/lib/src/components/widgets/DateInput/focusLeave.ts
Due: prettier, typecheck, no-relative-imports

[fix] Stop false fragment-callback element warning (#17292)
  lib/streamlit/commands/execution_control.py
  lib/streamlit/delta_generator.py
  lib/streamlit/runtime/scriptrunner_utils/script_run_context.py
  lib/tests/streamlit/runtime/scriptrunner_utils/fragment_thread_state_test.py
  lib/tests/streamlit/runtime/state/session_state_test.py
Due: no-relative-imports

[chore] Warn when websockets 17 pairs with old uvicorn (#17115)
  lib/streamlit/web/server/starlette/starlette_server.py
  lib/tests/streamlit/web/server/starlette/starlette_server_test.py
Due: no-relative-imports

[fix] Reject unsafe navigation network paths (#17301)
  lib/streamlit/commands/execution_control.py
  lib/streamlit/elements/widgets/button.py
  lib/streamlit/navigation/page.py
  lib/tests/streamlit/commands/execution_control_test.py
  lib/tests/streamlit/elements/page_link_test.py
  lib/tests/streamlit/navigation/page_test.py
Due: no-relative-imports

Allow switching to newly registered pages
  e2e_playwright/multipage_apps_v2/gated_page.py
  e2e_playwright/multipage_apps_v2/mpa_v2_basics.py
  e2e_playwright/multipage_apps_v2/mpa_v2_basics_test.py
  lib/streamlit/commands/execution_control.py
  lib/tests/streamlit/commands/execution_control_test.py
  lib/tests/streamlit/testing/app_test_test.py
Due: no-relative-imports

Keep load-test server logs for startup flakes
  e2e_playwright/load_testing/conftest.py
  e2e_playwright/load_testing/test_load.py
Due: no-relative-imports

Require descriptions on src ts-expect-error
  frontend/app/src/App.tsx
  frontend/app/src/components/Sidebar/Sidebar.tsx
  frontend/eslint.config.mjs
  frontend/lib/src/components/core/Block/utils.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useCustomRenderer.ts
  frontend/lib/src/test_util.tsx
  frontend/lib/src/theme/utils.ts
Due: prettier, typecheck

[feature] Add AppTest support for st.pagination
  lib/streamlit/testing/v1/app_test.py
  lib/streamlit/testing/v1/element_tree.py
  lib/tests/streamlit/testing/element_tree_test.py
Due: no-relative-imports

[feature] Clarify when AppTest pagination rejects a page
  lib/streamlit/testing/v1/element_tree.py
  lib/tests/streamlit/testing/element_tree_test.py
Due: no-relative-imports

Keep typed text that equals an option from being rewritten as a label.
  e2e_playwright/st_select_widgets_format_func_labels_test.py
  lib/streamlit/elements/lib/options_selector_utils.py
  lib/streamlit/elements/widgets/multiselect.py
  lib/streamlit/elements/widgets/selectbox.py
  lib/streamlit/runtime/state/common.py
  lib/streamlit/runtime/state/session_state.py
  lib/tests/streamlit/elements/button_group_test.py
  lib/tests/streamlit/elements/lib/options_selector_utils_test.py
  lib/tests/streamlit/elements/multiselect_test.py
  lib/tests/streamlit/elements/selectbox_test.py
  lib/tests/streamlit/runtime/state/session_state_test.py
Due: no-relative-imports

Apply automatic fixes
  NOTICES
Due: none

fix: narrow Arrow duration units before typed duration helpers
  frontend/lib/src/components/widgets/DataFrame/arrowUtils.ts
  frontend/lib/src/components/widgets/DataFrame/columns/NumberColumn.ts
  frontend/lib/src/dataframes/arrowFormatUtils.ts
Due: prettier, typecheck

Add typing tests for st.login
  lib/tests/streamlit/typing/auth_types.py
Due: no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
