Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

fix: address PR review comments for column statistics
  e2e_playwright/st_dataframe_interactions_test.py
  frontend/lib/src/components/widgets/DataFrame/menus/StatisticsChart.tsx
  frontend/lib/src/components/widgets/DataFrame/menus/statisticsUtils.ts
Due: prettier, typecheck, no-relative-imports

Apply automatic fixes
  frontend/yarn.lock
Due: none

Apply automatic fixes
  .pre-commit-config.yaml
  lib/streamlit/elements/deck_gl_json_chart.py
  lib/streamlit/elements/lib/mutable_expander_container.py
  lib/streamlit/elements/lib/mutable_popover_container.py
  lib/streamlit/elements/lib/mutable_tab_container.py
  lib/streamlit/elements/vega_charts.py
  lib/streamlit/elements/widgets/chat.py
  lib/streamlit/user_info.py
Due: no-relative-imports

Sync pre-commit ruff version and fix lint errors
  .pre-commit-config.yaml
  lib/streamlit/elements/deck_gl_json_chart.py
  lib/streamlit/elements/lib/mutable_expander_container.py
  lib/streamlit/elements/lib/mutable_popover_container.py
  lib/streamlit/elements/lib/mutable_tab_container.py
  lib/streamlit/elements/vega_charts.py
  lib/streamlit/elements/widgets/chat.py
  lib/streamlit/runtime/memory_media_file_storage.py
  lib/streamlit/user_info.py
Due: no-relative-imports

fixup
  lib/streamlit/runtime/checkpoint.py
  lib/streamlit/runtime/status_file.py
  lib/tests/streamlit/runtime/checkpoint_test.py
  lib/tests/streamlit/runtime/status_file_test.py
Due: no-relative-imports

[fix] Improve input support with password managers
  frontend/lib/src/components/widgets/TextInput/TextInput.test.tsx
  frontend/lib/src/components/widgets/TextInput/TextInput.tsx
Due: prettier, typecheck

[feat] Improve text area support for programmatic changes
  frontend/lib/src/components/widgets/TextInput/TextInput.tsx
  frontend/lib/src/hooks/useNativeInputValueChange.test.ts
  frontend/lib/src/hooks/useNativeInputValueChange.ts
  frontend/lib/src/hooks/useOnInputChange.ts
  frontend/lib/src/hooks/useStringInputCommitOnBlur.test.ts
  frontend/lib/src/hooks/useStringInputCommitOnBlur.ts
Due: prettier, typecheck

[fix] Better handling of maxChars
  frontend/lib/src/hooks/useNativeInputValueChange.ts
  frontend/lib/src/hooks/useStringInputCommitOnBlur.test.ts
  frontend/lib/src/hooks/useStringInputCommitOnBlur.ts
  frontend/lib/src/util/inputUtils.test.ts
  frontend/lib/src/util/inputUtils.ts
Due: prettier, typecheck

[fix] Handle more edge cases
  frontend/lib/src/hooks/useNativeInputValueChange.test.ts
  frontend/lib/src/hooks/useNativeInputValueChange.ts
  frontend/lib/src/hooks/useStringInputCommitOnBlur.test.ts
  frontend/lib/src/hooks/useStringInputCommitOnBlur.ts
Due: prettier, typecheck

[refactor] Compose into a single hook
  e2e_playwright/st_text_input_test.py
  frontend/lib/src/components/widgets/TextInput/TextInput.test.tsx
  frontend/lib/src/components/widgets/TextInput/TextInput.tsx
  frontend/lib/src/hooks/useNativeInputValueChange.test.ts
  frontend/lib/src/hooks/useNativeInputValueChange.ts
  frontend/lib/src/hooks/useStringInputCommitOnBlur.test.ts
  frontend/lib/src/hooks/useStringInputCommitOnBlur.ts
  frontend/lib/src/hooks/useStringInputHandlers.test.ts
  frontend/lib/src/hooks/useStringInputHandlers.ts
  frontend/lib/src/util/inputUtils.test.ts
  frontend/lib/src/util/inputUtils.ts
Due: prettier, typecheck, no-relative-imports

[feat] Improve text area support for programmatic changes
  e2e_playwright/st_text_area.py
  e2e_playwright/st_text_area_test.py
  frontend/lib/src/components/widgets/TextArea/TextArea.test.tsx
  frontend/lib/src/components/widgets/TextArea/TextArea.tsx
Due: prettier, typecheck, no-relative-imports

Add support for relative static URLs in media elements
  e2e_playwright/st_static_media_urls.py
  e2e_playwright/st_static_media_urls_test.py
  frontend/connection/src/DefaultStreamlitEndpoints.test.ts
  frontend/connection/src/DefaultStreamlitEndpoints.ts
  lib/streamlit/elements/lib/image_utils.py
  lib/streamlit/elements/media.py
  lib/streamlit/url_util.py
  lib/tests/streamlit/elements/image_test.py
  lib/tests/streamlit/elements/media_test.py
  lib/tests/streamlit/url_util_test.py
Due: prettier, typecheck, no-relative-imports

Integrate static URL tests into config_static_serving test
  e2e_playwright/config_static_serving.py
  e2e_playwright/config_static_serving_test.py
  e2e_playwright/st_static_media_urls.py
  e2e_playwright/st_static_media_urls_test.py
Due: no-relative-imports

Add os.path.isfile check for media static URLs
  lib/streamlit/elements/media.py
Due: no-relative-imports

Add /app/static/ URL docs to image, audio, and video docstrings
  lib/streamlit/elements/image.py
  lib/streamlit/elements/media.py
Due: no-relative-imports

Consolidate static URL E2E tests into single test function
  e2e_playwright/config_static_serving_test.py
Due: no-relative-imports

Update docstring wording: This includes -> Also supports
  lib/streamlit/elements/image.py
  lib/streamlit/elements/media.py
Due: no-relative-imports

chore: add knip to curtail frontend bloat
  frontend/knip.json
  frontend/package.json
  frontend/yarn.lock
Due: none

fix: buf commands utilize yarn exec
  .pre-commit-config.yaml
Due: none

Address PR review comments for static URL support
  e2e_playwright/config_static_serving.py
  e2e_playwright/config_static_serving_test.py
  frontend/connection/src/DefaultStreamlitEndpoints.test.ts
  frontend/connection/src/DefaultStreamlitEndpoints.ts
  lib/streamlit/url_util.py
Due: prettier, typecheck, no-relative-imports

feat: add knip step to CI
  .claude/skills/discovering-make-commands/SKILL.md
  .cursor/rules/overview.mdc
  .cursor/rules/typescript.mdc
  .cursor/rules/workflows.mdc
  .github/copilot-instructions.md
  .github/instructions/typescript.instructions.md
  .github/instructions/workflows.instructions.md
  .github/workflows/AGENTS.md
  .github/workflows/js-tests.yml
  AGENTS.md
  Makefile
  frontend/AGENTS.md
  frontend/knip.json
Due: none

refactor: remove all eslint-disable @typescript-eslint/no-unused-vars directives
  frontend/app/src/App.tsx
  frontend/app/src/StreamlitLib.test.tsx
  frontend/app/src/util/ScreenCastRecorder.ts
  frontend/connection/src/DoInitPings.tsx
  frontend/eslint.config.mjs
  frontend/lib/src/components/elements/DeckGlJsonChart/DeckGlJsonChart.tsx
  frontend/lib/src/components/elements/Json/Json.tsx
  frontend/lib/src/components/shared/BaseColorPicker/BaseColorPicker.tsx
  frontend/lib/src/components/shared/Dropdown/VirtualDropdown.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/DateTimeColumn.ts
  frontend/lib/src/components/widgets/DataFrame/columns/LinkColumn.ts
  frontend/lib/src/components/widgets/DataFrame/columns/cells/JsonViewer.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/utils.ts
  frontend/lib/src/components/widgets/DateInput/useIntlLocale.tsx
  frontend/lib/src/dataframes/arrowParseUtils.ts
  frontend/lib/src/util/utils.ts
  frontend/utils/src/browser/index.ts
Due: prettier, typecheck

Update version and project name in files
  frontend/package.json
  lib/pyproject.toml
  lib/streamlit/version.py
  pyproject.toml
Due: no-relative-imports

Remove non-key container identity spec from this PR
  specs/2026-03-10-non-key-container-identity/tech-spec.md
Due: none

Drop lastDefault tracking — stored state always wins for keyed containers
  specs/2026-02-26-layout-container-state-persistence/tech-spec.md
Due: none

fix: resolve type errors from ty 0.0.21 upgrade
  e2e_playwright/st_table.py
  lib/streamlit/elements/heading.py
  lib/streamlit/elements/lib/built_in_chart_utils.py
  lib/streamlit/elements/widgets/button_group.py
  lib/streamlit/web/server/starlette/starlette_app.py
Due: no-relative-imports

Fix cache decorators for Python 3.14 PEP 649 annotations
  lib/streamlit/runtime/caching/cache_utils.py
  lib/tests/streamlit/runtime/caching/cache_utils_test.py
Due: no-relative-imports

Update E2E test snapshots
  e2e_playwright/__snapshots__/linux/st_chat_message_test/st_chat_message-custom_name_with_url_avatar_and_chart[light_theme-webkit].png
  e2e_playwright/__snapshots__/linux/st_chat_message_test/st_chat_message-custom_name_with_url_avatar_and_dataframe[light_theme-webkit].png
Due: none

fix: correct PEP 649 test to properly simulate deferred annotations
  lib/tests/streamlit/runtime/caching/cache_utils_test.py
Due: no-relative-imports

fix: address PR review comments
  lib/streamlit/runtime/caching/cache_utils.py
  lib/tests/streamlit/runtime/caching/cache_utils_test.py
Due: no-relative-imports

Add frontend linting rules and recommendations
  specs/tech-specs/frontend-linting-rules.md
Due: none

chore: add oxlint as fast frontend linter
  .cursor/rules/typescript.mdc
  .github/instructions/typescript.instructions.md
  .pre-commit-config.yaml
  Makefile
  frontend/.oxlintrc.json
  frontend/AGENTS.md
  frontend/connection/src/DefaultStreamlitEndpoints.test.ts
  frontend/connection/src/DefaultStreamlitEndpoints.ts
  frontend/lib/src/components/core/Block/Block.tsx
  frontend/lib/src/components/elements/ArrowVegaLiteChart/useVegaLiteSelections.ts
  frontend/lib/src/components/shared/Profiler/CircularBuffer.ts
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
  frontend/lib/src/components/widgets/DataFrame/columns/cells/MultiSelectCell.test.tsx
  frontend/lib/src/components/widgets/DataFrame/hooks/columnConfigUtils.ts
  frontend/lib/src/components/widgets/DateInput/DateInput.test.tsx
  frontend/lib/src/dataframes/arrowConcatUtils.ts
  frontend/package.json
  frontend/yarn.lock
Due: prettier, typecheck

Update frontend linting rules with oxlint recommendations
  specs/tech-specs/frontend-linting-rules.md
Due: none

fix: address PR review comments
  frontend/.oxlintrc.json
  frontend/connection/src/DefaultStreamlitEndpoints.test.ts
  frontend/lib/src/components/shared/Profiler/CircularBuffer.ts
Due: prettier, typecheck

Fix PEP 649 annotation handling in st.help, st.fragment, and metrics
  lib/streamlit/elements/help.py
  lib/streamlit/runtime/fragment.py
  lib/streamlit/runtime/metrics_util.py
Due: no-relative-imports

docs: update AGENTS.md and CONTRIBUTING.md for oxlint
  .cursor/rules/overview.mdc
  .github/copilot-instructions.md
  AGENTS.md
  CONTRIBUTING.md
Due: none

test: add stability and mutual-exclusivity tests for passive keyed block.id
  lib/tests/streamlit/elements/layouts_test.py
Due: no-relative-imports

feat: set stable Block.id for passive keyed layout containers
  frontend/app/src/App.tsx
  frontend/lib/src/render-tree/AppRoot.ts
  frontend/lib/src/render-tree/visitors/ElementsSetVisitor.test.ts
  frontend/lib/src/render-tree/visitors/ElementsSetVisitor.ts
  lib/streamlit/elements/layouts.py
  lib/tests/streamlit/elements/layouts_test.py
Due: prettier, typecheck, no-relative-imports
