Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

fix: Remove duplicate import statement
  frontend/app/src/ThemedApp.tsx
  package-lock.json
  package.json
  protoc.zip
  protoc_install/bin/protoc
  protoc_install/bin/yarn
  protoc_install/include/google/protobuf/any.proto
  protoc_install/include/google/protobuf/api.proto
  protoc_install/include/google/protobuf/compiler/plugin.proto
  protoc_install/include/google/protobuf/descriptor.proto
  protoc_install/include/google/protobuf/duration.proto
  protoc_install/include/google/protobuf/empty.proto
  protoc_install/include/google/protobuf/field_mask.proto
  protoc_install/include/google/protobuf/source_context.proto
  protoc_install/include/google/protobuf/struct.proto
  protoc_install/include/google/protobuf/timestamp.proto
  protoc_install/include/google/protobuf/type.proto
  protoc_install/include/google/protobuf/wrappers.proto
  protoc_install/readme.txt
  yarn-4.5.3.cjs
Due: prettier, typecheck

refactor: Initialize navigation position, fix duplicate declarations, and update query parameter access.
  frontend/app/src/App.tsx
Due: prettier, typecheck

refactor: move `StreamlitEndpoints` import from `@streamlit/lib` to `@streamlit/connection`
  frontend/app/src/ThemedApp.tsx
Due: prettier, typecheck

ci: Add `PYTHON_MAX_VERSION` and `MY_DATE_TIME` environment variables to performance workflow.
  .github/workflows/performance.yml
Due: none

Release: Streamlit 1.52.2 + Fixes for Senior Review
  frontend/app/src/index.tsx
Due: prettier, typecheck

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Apply automatic fixes
  frontend/yarn.lock
Due: none

[fix] Ensure help Tooltips are accessible
  e2e_playwright/help_tooltip_test.py
  e2e_playwright/st_chat_input_test.py
  e2e_playwright/st_number_input_test.py
  e2e_playwright/st_slider_test.py
  frontend/lib/src/components/elements/Metric/Metric.tsx
  frontend/lib/src/components/shared/BaseColorPicker/BaseColorPicker.tsx
  frontend/lib/src/components/shared/Dropdown/Selectbox.tsx
  frontend/lib/src/components/shared/Radio/Radio.tsx
  frontend/lib/src/components/shared/Tooltip/Tooltip.test.tsx
  frontend/lib/src/components/shared/Tooltip/Tooltip.tsx
  frontend/lib/src/components/shared/TooltipIcon/TooltipIcon.test.tsx
  frontend/lib/src/components/shared/TooltipIcon/TooltipIcon.tsx
  frontend/lib/src/components/shared/TooltipIcon/styled-components.ts
  frontend/lib/src/components/widgets/AudioInput/AudioInput.tsx
  frontend/lib/src/components/widgets/BaseWidget/WidgetLabel.test.tsx
  frontend/lib/src/components/widgets/BaseWidget/WidgetLabel.tsx
  frontend/lib/src/components/widgets/BaseWidget/WidgetLabelHelpIcon.tsx
  frontend/lib/src/components/widgets/BaseWidget/WidgetLabelHelpIconInline.tsx
  frontend/lib/src/components/widgets/BaseWidget/index.ts
  frontend/lib/src/components/widgets/BaseWidget/styled-components.ts
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.tsx
  frontend/lib/src/components/widgets/CameraInput/CameraInput.tsx
  frontend/lib/src/components/widgets/ChatInput/fileUpload/ChatFileUploadButton.tsx
  frontend/lib/src/components/widgets/Checkbox/Checkbox.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.tsx
  frontend/lib/src/components/widgets/DateTimeInput/DateTimeInput.tsx
  frontend/lib/src/components/widgets/FileUploader/FileUploader.tsx
  frontend/lib/src/components/widgets/Multiselect/Multiselect.tsx
  frontend/lib/src/components/widgets/NumberInput/NumberInput.tsx
  frontend/lib/src/components/widgets/Slider/Slider.tsx
  frontend/lib/src/components/widgets/TextArea/TextArea.tsx
  frontend/lib/src/components/widgets/TextInput/TextInput.tsx
  frontend/lib/src/components/widgets/TimeInput/TimeInput.tsx
Due: prettier, typecheck, no-relative-imports

[feat] Update AGENTS rules for better a11y practices
  .cursor/rules/typescript.mdc
  .github/instructions/typescript.instructions.md
  frontend/AGENTS.md
Due: none

[feat] Update eslint rules for better a11y support
  frontend/app/src/hocs/withScreencast/components/ScreencastDialog/ScreencastDialog.tsx
  frontend/eslint-plugin-streamlit-custom/src/index.test.ts
  frontend/eslint-plugin-streamlit-custom/src/index.ts
  frontend/eslint-plugin-streamlit-custom/src/no-aria-hidden-with-focusable-children.test.ts
  frontend/eslint-plugin-streamlit-custom/src/no-aria-hidden-with-focusable-children.ts
  frontend/eslint.config.mjs
Due: prettier, typecheck

Add snapshots
  e2e_playwright/__snapshots__/linux/st_html_test/st_html-nested_lists[chromium].png
  e2e_playwright/__snapshots__/linux/st_html_test/st_html-nested_lists[firefox].png
  e2e_playwright/__snapshots__/linux/st_html_test/st_html-nested_lists[webkit].png
  frontend/lib/src/components/elements/Html/Html.test.tsx
Due: prettier, typecheck

First pass
  e2e_playwright/st_html.py
  e2e_playwright/st_html_test.py
  frontend/lib/src/components/elements/Html/Html.test.tsx
  frontend/lib/src/components/elements/Html/styled-components.ts
Due: prettier, typecheck, no-relative-imports

Create a separate cookie for auth tokens and make them available in st.user
  lib/streamlit/web/server/browser_websocket_handler.py
  lib/streamlit/web/server/oauth_authlib_routes.py
  lib/streamlit/web/server/server_util.py
  lib/tests/streamlit/web/server/oauth_authlib_routes_test.py
Due: no-relative-imports

Fix feedback and redact tokens on st.json
  lib/streamlit/auth_util.py
  lib/streamlit/elements/json.py
  lib/tests/streamlit/elements/json_test.py
Due: no-relative-imports

Address feedback
  lib/streamlit/auth_util.py
  lib/streamlit/user_info.py
  lib/tests/streamlit/auth_util_test.py
Due: no-relative-imports

Added cookie chunking and other minor fixes based on AI comments
  lib/streamlit/auth_util.py
  lib/streamlit/user_info.py
  lib/streamlit/web/server/browser_websocket_handler.py
  lib/streamlit/web/server/oauth_authlib_routes.py
  lib/tests/streamlit/auth_util_test.py
  lib/tests/streamlit/web/server/oauth_authlib_routes_test.py
Due: no-relative-imports

Fix minimum base64 space check to require at least 4 bytes
  lib/streamlit/auth_util.py
Due: no-relative-imports

Address feedback
  lib/streamlit/auth_util.py
  lib/streamlit/user_info.py
Due: no-relative-imports

Changes based on https://github.com/streamlit/streamlit/pull/12044#issuecomment-3310054404
  lib/streamlit/auth_util.py
  lib/streamlit/user_info.py
  lib/streamlit/web/server/browser_websocket_handler.py
  lib/tests/streamlit/auth_util_test.py
  lib/tests/streamlit/user_info_test.py
  lib/tests/streamlit/web/server/oauth_authlib_routes_test.py
Due: no-relative-imports

Add metrics
  lib/streamlit/user_info.py
Due: no-relative-imports

Address feedback from security
  lib/streamlit/auth_util.py
  lib/streamlit/runtime/app_session.py
  lib/streamlit/runtime/runtime.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/streamlit/runtime/scriptrunner_utils/script_run_context.py
  lib/streamlit/runtime/session_manager.py
  lib/streamlit/runtime/websocket_session_manager.py
  lib/streamlit/user_info.py
  lib/streamlit/web/server/oauth_authlib_routes.py
  lib/tests/streamlit/auth_util_test.py
  lib/tests/streamlit/user_info_test.py
  lib/tests/streamlit/web/server/oauth_authlib_routes_test.py
Due: no-relative-imports

Fix unit test
  frontend/lib/src/components/elements/Html/Html.test.tsx
Due: prettier, typecheck

Add on_release to st.cache_resource.
  lib/streamlit/runtime/caching/cache_resource_api.py
  lib/tests/streamlit/runtime/caching/cache_resource_api_test.py
Due: no-relative-imports

Match style of other arguments taking typed callables (and add None to type).
  lib/streamlit/runtime/caching/cache_resource_api.py
Due: no-relative-imports

First pass
  e2e_playwright/st_selectbox.py
  e2e_playwright/st_selectbox_test.py
  frontend/lib/src/components/shared/Dropdown/Selectbox.test.tsx
  frontend/lib/src/components/shared/Dropdown/Selectbox.tsx
Due: prettier, typecheck, no-relative-imports

Snapshot updates
  e2e_playwright/__snapshots__/linux/st_selectbox_test/st_selectbox-dynamic_initial[chromium].png
  e2e_playwright/__snapshots__/linux/st_selectbox_test/st_selectbox-dynamic_initial[firefox].png
  e2e_playwright/__snapshots__/linux/st_selectbox_test/st_selectbox-dynamic_updated[chromium].png
  e2e_playwright/__snapshots__/linux/st_selectbox_test/st_selectbox-dynamic_updated[firefox].png
Due: none

Another one
  e2e_playwright/__snapshots__/linux/st_selectbox_test/st_selectbox-dynamic_updated[firefox].png
Due: none

Try reorder
  e2e_playwright/st_selectbox.py
Due: no-relative-imports

Snapshots again
  e2e_playwright/__snapshots__/linux/st_selectbox_test/st_selectbox-dynamic_initial[chromium].png
  e2e_playwright/__snapshots__/linux/st_selectbox_test/st_selectbox-dynamic_initial[firefox].png
  e2e_playwright/__snapshots__/linux/st_selectbox_test/st_selectbox-dynamic_updated[chromium].png
Due: none

[chore] Update Browserslist DB
  frontend/yarn.lock
Due: none

Add e2e tests for exposing oidc tokens
  e2e_playwright/auth.py
  e2e_playwright/auth_test.py
Due: no-relative-imports

Allow dynamic changes to multiselect options when key is provided
  e2e_playwright/st_multiselect.py
  e2e_playwright/st_multiselect_test.py
  lib/streamlit/elements/lib/options_selector_utils.py
  lib/streamlit/elements/widgets/multiselect.py
  lib/streamlit/elements/widgets/selectbox.py
  lib/tests/streamlit/elements/lib/options_selector_utils_test.py
  lib/tests/streamlit/elements/multiselect_test.py
Due: no-relative-imports

Support formatting dynamic options in mutliselect
  frontend/lib/src/components/widgets/Multiselect/Multiselect.tsx
  frontend/lib/src/hooks/useSelectCommon.ts
  lib/streamlit/elements/widgets/multiselect.py
  lib/tests/streamlit/elements/multiselect_test.py
  proto/streamlit/proto/MultiSelect.proto
Due: prettier, typecheck, no-relative-imports

[spec] `st.App` - ASGI application entry point
  specs/0000-st-app/product-spec.md
Due: none

Update
  specs/0000-st-app/product-spec.md
Due: none

More tweaks
  specs/0000-st-app/product-spec.md
Due: none

Update spec
  specs/0000-st-app/product-spec.md
Due: none
