Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Update
  specs/0006-menu-button/product-spec.md
Due: none

Update
  specs/0003-query-param-binding-state-persistence/product-spec.md
Due: none

Update
  specs/0000-table-hide-index-header/product-spec.md
Due: none

Update
  specs/0008-table-hide-index-header/product-spec.md
Due: none

Add snapshot autofix workflow for E2E test snapshots
  .github/workflows/snapshot-autofix.yml
Due: none

Refactor: reuse update_e2e_snapshots.py script per Lukas's suggestion
  .github/workflows/snapshot-autofix.yml
Due: none

Fix: only wait for primary playwright.yml workflow
  .github/workflows/snapshot-autofix.yml
Due: none

Fix scroll test
  e2e_playwright/st_multiselect_test.py
Due: no-relative-imports

Design review
  frontend/app/src/components/Navigation/TopNavSection.tsx
  frontend/app/src/components/Navigation/styled-components.ts
  frontend/lib/src/components/shared/Dropdown/styled-components.ts
  frontend/lib/src/components/widgets/DataFrame/menus/styled-components.ts
  frontend/lib/src/components/widgets/Multiselect/Multiselect.tsx
  frontend/lib/src/theme/primitives/radii.ts
Due: prettier, typecheck

Make new radii theme-aware
  frontend/lib/src/theme/utils.ts
Due: prettier, typecheck

BE + tests
  lib/streamlit/elements/lib/built_in_chart_utils.py
  lib/streamlit/elements/lib/color_util.py
  lib/tests/streamlit/elements/lib/color_util_test.py
  lib/tests/streamlit/elements/vega_charts_test.py
Due: no-relative-imports

Fix time input scroll
  frontend/lib/src/components/widgets/TimeInput/TimeInput.tsx
Due: prettier, typecheck

FE & tests
  frontend/lib/src/components/elements/ArrowVegaLiteChart/colorUtils.test.ts
  frontend/lib/src/components/elements/ArrowVegaLiteChart/colorUtils.ts
  frontend/lib/src/components/elements/ArrowVegaLiteChart/useVegaElementPreprocessor.test.ts
  frontend/lib/src/components/elements/ArrowVegaLiteChart/useVegaElementPreprocessor.ts
  frontend/lib/src/components/widgets/DataFrame/columns/ChartColumn.ts
Due: prettier, typecheck

Fix date and datetime input style
  frontend/lib/src/components/widgets/DateInput/DateInput.tsx
  frontend/lib/src/components/widgets/DateTimeInput/createDateTimePickerOverrides.tsx
Due: prettier, typecheck

Fix color picker style
  frontend/lib/src/components/shared/BaseColorPicker/BaseColorPicker.tsx
Due: prettier, typecheck

Add e2e test
  e2e_playwright/st_chart_builtin_colors.py
  e2e_playwright/st_chart_builtin_colors_test.py
Due: no-relative-imports

Add docstring
  lib/streamlit/elements/vega_charts.py
Due: no-relative-imports

Add snapshots/addtl tests
  e2e_playwright/__snapshots__/linux/st_chart_builtin_colors_test/st_chart_builtin_colors-custom_theme[chromium].png
  e2e_playwright/__snapshots__/linux/st_chart_builtin_colors_test/st_chart_builtin_colors-custom_theme[firefox].png
  e2e_playwright/__snapshots__/linux/st_chart_builtin_colors_test/st_chart_builtin_colors-custom_theme[webkit].png
  frontend/lib/src/components/elements/ArrowVegaLiteChart/colorUtils.test.ts
  lib/tests/streamlit/elements/vega_charts_test.py
Due: prettier, typecheck, no-relative-imports

Clean up
  frontend/lib/src/components/widgets/DataFrame/columns/ChartColumn.ts
  lib/tests/streamlit/elements/vega_charts_test.py
Due: prettier, typecheck, no-relative-imports

Update lib/streamlit/runtime/download_data_util.py
  lib/streamlit/runtime/download_data_util.py
Due: no-relative-imports

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Popover gaps
  frontend/app/src/components/Navigation/TopNavSection.tsx
  frontend/lib/src/components/elements/Popover/Popover.tsx
  frontend/lib/src/components/shared/BaseColorPicker/BaseColorPicker.tsx
  frontend/lib/src/components/shared/Dropdown/Selectbox.tsx
  frontend/lib/src/components/widgets/DateInput/DateInput.tsx
  frontend/lib/src/components/widgets/DateTimeInput/createDateTimePickerOverrides.tsx
  frontend/lib/src/components/widgets/Multiselect/Multiselect.tsx
  frontend/lib/src/components/widgets/TimeInput/TimeInput.tsx
Due: prettier, typecheck

Apply automatic fixes
  frontend/yarn.lock
Due: none

Add make check command for validating changes
  .cursor/rules/make_commands.mdc
  .cursor/rules/overview.mdc
  .github/copilot-instructions.md
  AGENTS.md
  Makefile
  scripts/get_changed_files.py
Due: no-relative-imports

Consolidate ESLint dependencies into frontend workspace root
  frontend/app/package.json
  frontend/connection/package.json
  frontend/lib/package.json
  frontend/package.json
  frontend/utils/package.json
  frontend/yarn.lock
Due: none

Move pre-commit hooks before frontend checks in make check
  Makefile
Due: none

Clarify that frontend formatting is handled by pre-commit
  Makefile
Due: none

Filter out files with spaces in get_changed_files.py
  scripts/get_changed_files.py
Due: no-relative-imports

Add frontend test file mapping to get_changed_files.py
  scripts/get_changed_files.py
Due: no-relative-imports

Exclude e2e tests from python-tests in get_changed_files.py
  scripts/get_changed_files.py
Due: no-relative-imports

Clarify that make check runs unit tests, not e2e tests
  .cursor/rules/overview.mdc
  .github/copilot-instructions.md
  AGENTS.md
Due: none

Add 'No frontend files changed' message to make check
  Makefile
Due: none

Tweak top nav
  frontend/app/src/components/Navigation/styled-components.ts
Due: prettier, typecheck

Test: change primary button color to green for snapshot testing
  frontend/lib/src/components/shared/BaseButton/styled-components.ts
Due: prettier, typecheck

Dataframe context menu alignment
  frontend/lib/src/components/widgets/DataFrame/menus/styled-components.ts
Due: prettier, typecheck
