Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$

Add prototype for tooltip on json value click
  frontend/lib/src/components/elements/Json/Json.tsx
  frontend/lib/src/components/elements/Json/styled-components.ts
Due: prettier, typecheck

Refactor StreamlitSyntaxHighlighter
  frontend/app/src/components/StreamlitDialog/StreamlitDialog.tsx
  frontend/lib/src/components/elements/CodeBlock/StreamlitErrorCodeBlock.test.tsx
  frontend/lib/src/components/elements/CodeBlock/StreamlitErrorCodeBlock.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/Heading.test.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.test.tsx
  frontend/lib/src/components/shared/StreamlitMarkdown/StreamlitMarkdown.tsx
  frontend/lib/src/index.ts
Due: prettier, typecheck

Address comments
  frontend/app/src/components/StreamlitDialog/DialogErrorMessage.test.tsx
  frontend/app/src/components/StreamlitDialog/DialogErrorMessage.tsx
Due: prettier, typecheck

Fix styling
  frontend/lib/src/components/elements/CodeBlock/StreamlitErrorCodeBlock.tsx
Due: prettier, typecheck

Refactor error dialogs
  frontend/app/src/App.test.tsx
  frontend/app/src/App.tsx
  frontend/app/src/components/StreamlitDialog/DialogErrorMessage.test.tsx
  frontend/app/src/components/StreamlitDialog/DialogErrorMessage.tsx
  frontend/connection/src/ConnectionManager.ts
  frontend/connection/src/DoInitPings.tsx
  frontend/connection/src/StaticConnection.tsx
  frontend/connection/src/WebsocketConnection.test.tsx
  frontend/connection/src/WebsocketConnection.tsx
  frontend/connection/src/types.ts
Due: prettier, typecheck

Fix styling
  frontend/app/src/components/StreamlitDialog/DialogErrorMessage.tsx
  frontend/app/src/components/StreamlitDialog/styled-components.ts
Due: prettier, typecheck

Clean up
  frontend/lib/src/components/elements/CodeBlock/StreamlitErrorCodeBlock.test.tsx
  frontend/lib/src/components/elements/CodeBlock/StreamlitErrorCodeBlock.tsx
Due: prettier, typecheck

Add parselinks unit tests
  frontend/app/src/components/StreamlitDialog/DialogErrorMessage.test.tsx
Due: prettier, typecheck

[feature] agent-knowledge layout feature guide
  agent-knowledge/.gitignore
  agent-knowledge/INDEX.md
  agent-knowledge/references/guides/streamlit-layout-feature.md
Due: none

update snapshots
  e2e_playwright/__snapshots__/linux/st_code_test/st_code-height-long-code[chromium].png
  e2e_playwright/__snapshots__/linux/st_code_test/st_code-height-long-code[firefox].png
  e2e_playwright/__snapshots__/linux/st_code_test/st_code-height-long-code[webkit].png
  e2e_playwright/__snapshots__/linux/st_code_test/st_code-height-short-code[chromium].png
  e2e_playwright/__snapshots__/linux/st_code_test/st_code-height-short-code[firefox].png
  e2e_playwright/__snapshots__/linux/st_code_test/st_code-height-short-code[webkit].png
  e2e_playwright/__snapshots__/linux/st_code_test/st_code-long-no_wrap[chromium].png
  e2e_playwright/__snapshots__/linux/st_code_test/st_code-long-no_wrap[firefox].png
  e2e_playwright/__snapshots__/linux/st_code_test/st_code-long-no_wrap[webkit].png
  e2e_playwright/__snapshots__/linux/st_code_test/st_code-long-numbers-no_wrap[chromium].png
  e2e_playwright/__snapshots__/linux/st_code_test/st_code-long-numbers-no_wrap[firefox].png
  e2e_playwright/__snapshots__/linux/st_code_test/st_code-long-numbers-no_wrap[webkit].png
  e2e_playwright/__snapshots__/linux/st_code_test/st_code-long-numbers-wrap[chromium].png
  e2e_playwright/__snapshots__/linux/st_code_test/st_code-long-numbers-wrap[firefox].png
  e2e_playwright/__snapshots__/linux/st_code_test/st_code-long-numbers-wrap[webkit].png
  e2e_playwright/__snapshots__/linux/st_code_test/st_code-long-single-word-string-no-wrap[chromium].png
  e2e_playwright/__snapshots__/linux/st_code_test/st_code-long-single-word-string-no-wrap[firefox].png
  e2e_playwright/__snapshots__/linux/st_code_test/st_code-long-single-word-string-no-wrap[webkit].png
  e2e_playwright/__snapshots__/linux/st_code_test/st_code-long-single-word-string-wrap[chromium].png
  e2e_playwright/__snapshots__/linux/st_code_test/st_code-long-single-word-string-wrap[firefox].png
  e2e_playwright/__snapshots__/linux/st_code_test/st_code-long-single-word-string-wrap[webkit].png
  e2e_playwright/__snapshots__/linux/st_code_test/st_code-long-wrap[chromium].png
  e2e_playwright/__snapshots__/linux/st_code_test/st_code-long-wrap[firefox].png
  e2e_playwright/__snapshots__/linux/st_code_test/st_code-long-wrap[webkit].png
Due: none

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

[chore] Update Browserslist DB
  frontend/yarn.lock
Due: none

Update secrets.py
  lib/streamlit/runtime/secrets.py
Due: no-relative-imports

Lower the asset size threshold
  e2e_playwright/basic_app_test.py
Due: no-relative-imports

Add time input typing tests
  lib/tests/streamlit/typing/time_input_types.py
Due: no-relative-imports

Add unit tests coverage for plotly frontend component
  frontend/lib/src/components/elements/PlotlyChart/CustomTheme.test.tsx
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.test.tsx
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.tsx
Due: prettier, typecheck

Ignore eslint custom plugins for test coverage
  frontend/vitest.config.ts
Due: prettier, typecheck

Apply some tweaks
  frontend/lib/src/components/elements/PlotlyChart/CustomTheme.test.tsx
  frontend/lib/src/components/elements/PlotlyChart/PlotlyChart.test.tsx
Due: prettier, typecheck

Update frontend/vitest.config.ts
  frontend/vitest.config.ts
Due: prettier, typecheck

Try different threshold
  e2e_playwright/basic_app_test.py
Due: no-relative-imports

Migrate camera input from class- to functional-component
  frontend/lib/src/components/widgets/CameraInput/CameraInput.test.tsx
  frontend/lib/src/components/widgets/CameraInput/CameraInput.tsx
Due: prettier, typecheck

Update implementation
  frontend/lib/src/components/widgets/CameraInput/CameraInput.tsx
Due: prettier, typecheck

Add unit tests
  frontend/lib/src/components/widgets/CameraInput/CameraInput.test.tsx
Due: prettier, typecheck

Update threshold
  e2e_playwright/basic_app_test.py
Due: no-relative-imports

Apply fix
  frontend/lib/src/components/widgets/CameraInput/CameraInput.tsx
Due: prettier, typecheck

Add fix
  frontend/lib/src/components/widgets/CameraInput/CameraInput.tsx
Due: prettier, typecheck

Add back comment
  frontend/lib/src/components/widgets/CameraInput/CameraInput.tsx
Due: prettier, typecheck

Fix camera input bug
  frontend/lib/src/components/widgets/CameraInput/CameraInput.tsx
Due: prettier, typecheck

Apply suggested fix to frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.tsx from Copilot Autofix
  frontend/lib/src/components/widgets/ButtonGroup/ButtonGroup.tsx
Due: prettier, typecheck

Fix linting issues
  e2e_playwright/multipage_apps_v2/mpa_v2_basics.py
  lib/streamlit/runtime/state/query_params.py
Due: no-relative-imports
