Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

fix(spec): Address iteration 2 PR review comments
  specs/2026-05-13-data-editor-apply-edits/product-spec.md
Due: none

docs: tighten inline comments in add_script_run_ctx
  lib/streamlit/runtime/scriptrunner_utils/script_run_context.py
Due: no-relative-imports

Add schema-based identity for st.data_editor
  lib/streamlit/elements/widgets/data_editor.py
  lib/tests/streamlit/elements/data_editor_test.py
Due: no-relative-imports

fix: distinguish AppSkeleton from regular skeleton element config
  frontend/lib/src/components/core/Block/ElementNodeRenderer.test.tsx
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
Due: prettier, typecheck

fix: add data_signature to widget ID test for st.data_editor
  lib/tests/streamlit/runtime/state/widgets_test.py
Due: no-relative-imports

docs: trim fragment wrapper comments
  lib/streamlit/runtime/fragment.py
Due: no-relative-imports

docs: tighten add_script_run_ctx test docstrings
  lib/tests/streamlit/runtime/scriptrunner_utils/script_run_context_test.py
Due: no-relative-imports

docs: tighten thread-storage and snapshot comments
  lib/streamlit/runtime/scriptrunner_utils/script_run_context.py
Due: no-relative-imports

fix: address review comments for schema-based identity
  lib/streamlit/elements/widgets/data_editor.py
  lib/tests/streamlit/elements/data_editor_test.py
  lib/tests/streamlit/runtime/state/widgets_test.py
Due: no-relative-imports

fix(spec): Address iteration 3 AI review comments
  specs/2026-05-13-data-editor-apply-edits/product-spec.md
Due: none

docs: simplify delta_path=None policy test docstring
  lib/tests/streamlit/elements/element_policies_test.py
Due: no-relative-imports

docs: simplify nested-fragment delta_path test docstring
  lib/tests/streamlit/runtime/fragment_test.py
Due: no-relative-imports

docs: tighten default-arg closure-capture comment
  lib/tests/exception_capturing_thread.py
Due: no-relative-imports

fix(spec): Address iteration 4 AI review comments
  specs/2026-05-13-data-editor-apply-edits/product-spec.md
Due: none

Fragment: fix duplicate widgets for sequential fragments nested in parallel ones
  lib/streamlit/runtime/fragment.py
  lib/streamlit/runtime/scriptrunner_utils/script_run_context.py
Due: no-relative-imports

[chore] AI-assisted Python test coverage improvements
  lib/tests/streamlit/commands/execution_control_test.py
  lib/tests/streamlit/components/types/base_custom_component_test.py
  lib/tests/streamlit/delta_generator_singletons_test.py
  lib/tests/streamlit/elements/help_test.py
  lib/tests/streamlit/runtime/runtime_test.py
  lib/tests/streamlit/runtime/state/safe_session_state_test.py
  lib/tests/streamlit/runtime/state/session_state_proxy_test.py
  lib/tests/streamlit/runtime/state/session_state_test.py
Due: no-relative-imports

[chore] AI-assisted frontend test coverage improvements
  frontend/lib/src/FileUploadClient.test.ts
  frontend/lib/src/components/widgets/DataFrame/columns/DateTimeColumn.test.ts
  frontend/lib/src/components/widgets/DataFrame/columns/TextColumn.test.ts
  frontend/lib/src/components/widgets/DataFrame/columns/cells/MultiSelectCell.test.tsx
  frontend/lib/src/components/widgets/Pagination/Pagination.test.tsx
  frontend/lib/src/components/widgets/TimeInput/TimeInput.test.tsx
Due: prettier, typecheck

Move type parameter above width in expander and status APIs
  lib/streamlit/elements/layouts.py
  lib/streamlit/elements/lib/mutable_status_container.py
Due: no-relative-imports

fix(fragment): prevent stale auto-reruns from crashing apps
  e2e_playwright/st_fragment_run_every.py
  e2e_playwright/st_fragment_run_every_test.py
  lib/streamlit/runtime/fragment.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/tests/streamlit/runtime/fragment_test.py
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
Due: no-relative-imports

ci: read issue title and URL from event context in ai-issue-triage
  .github/workflows/ai-issue-triage.yml
Due: none

fix(fragment): order queued reruns by ancestry
  lib/streamlit/runtime/fragment.py
  lib/streamlit/runtime/scriptrunner/script_runner.py
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
Due: no-relative-imports

refactor(fragment): harden storage helpers and expand unit coverage
  lib/streamlit/runtime/fragment.py
  lib/tests/streamlit/runtime/fragment_test.py
Due: no-relative-imports

chore: add comment
  lib/streamlit/runtime/scriptrunner/script_runner.py
Due: no-relative-imports

chore: update snapshots
  e2e_playwright/__snapshots__/linux/hello_app_test/hello_app-print_media-portrait-sidebar_open[light_theme-firefox].png
Due: none

test(fragment): tighten parent-id assertion and drop duplicate queue test
  lib/tests/streamlit/runtime/fragment_test.py
  lib/tests/streamlit/runtime/scriptrunner/script_runner_test.py
Due: no-relative-imports

fix(fragment): remove the lookup storage lock
  lib/streamlit/runtime/fragment.py
Due: no-relative-imports

feat: add frontend edit cleanup for st.data_editor
  frontend/lib/src/components/widgets/DataFrame/DataFrame.tsx
  frontend/lib/src/components/widgets/DataFrame/hooks/EditingState.test.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/EditingState.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useDataEditor.test.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useDataEditor.ts
  frontend/lib/src/components/widgets/DataFrame/hooks/useDataLoader.ts
  lib/tests/streamlit/elements/data_editor_test.py
Due: prettier, typecheck, no-relative-imports

fix: address PR review comments on test coverage improvements
  lib/tests/streamlit/delta_generator_singletons_test.py
  lib/tests/streamlit/elements/help_test.py
  lib/tests/streamlit/runtime/runtime_test.py
Due: no-relative-imports

[chore] Address PR review comments for test improvements
  frontend/lib/src/components/widgets/DataFrame/columns/cells/MultiSelectCell.test.tsx
  frontend/lib/src/components/widgets/Pagination/Pagination.test.tsx
  frontend/lib/src/components/widgets/TimeInput/TimeInput.test.tsx
Due: prettier, typecheck

fix: address additional review comments for schema-based identity
  lib/streamlit/elements/widgets/data_editor.py
Due: no-relative-imports

Make DeferredFileHandler extend BackendOperationHandler
  lib/streamlit/runtime/backend_operation_handler.py
Due: no-relative-imports

fix: rename _session_id to session_id in DeferredFileHandler.handle
  lib/streamlit/runtime/backend_operation_handler.py
Due: no-relative-imports

Increase deferred file timeout to 3 minutes and clean up comments
  frontend/lib/src/BackendOperationClient.ts
Due: prettier, typecheck

Use generic error message for deferred file failures
  lib/streamlit/runtime/backend_operation_handler.py
Due: no-relative-imports

Use generic error message in BackendOperationDispatcher
  lib/streamlit/runtime/backend_operation_handler.py
Due: no-relative-imports

Update test to expect generic error message
  lib/tests/streamlit/runtime/backend_operation_handler_test.py
Due: no-relative-imports

fix: update dispatcher test to expect generic error message
  lib/tests/streamlit/runtime/backend_operation_handler_test.py
Due: no-relative-imports

fix: update E2E test to expect generic error message
  e2e_playwright/st_download_button_deferred_test.py
Due: no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
