Repository streamlit/streamlit: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, typecheck, eslint, no-relative-imports

prettier:
  name: Prettier
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn prettier --write
  language: node
  pass_filenames: true

typecheck:
  name: Typecheck
  entry: yarn --cwd frontend tsc --noEmit
  language: node
  pass_filenames: false

eslint:
  name: Eslint
  entry: ./scripts/run_in_subdirectory.py frontend/ yarn lint -- --fix
  language: node
  pass_filenames: true

no-relative-imports:
  language: pygrep
  name: No relative imports
  description: Streamlit style is to use absolute imports only (except docs building)
  entry: ^\s*from\s+\.
  pass_filenames: true

Vendor `pympler.asizeof` (#7193)
  .github/codeql-config.yml
  lib/min-constraints-gen.txt
  lib/setup.py
  lib/streamlit/runtime/caching/cache_resource_api.py
  lib/streamlit/runtime/legacy_caching/caching.py
  lib/streamlit/runtime/state/session_state.py
  lib/streamlit/vendor/pympler/__init__.py
  lib/streamlit/vendor/pympler/asizeof.py
  lib/tests/streamlit/runtime/caching/cache_resource_api_test.py
Due: no-relative-imports

Updating constraints. Github run id:5946048285
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Update version and project name in files
  frontend/package.json
  lib/setup.py
  lib/streamlit/version.py
Due: no-relative-imports

Move the decoding above the string parsing
  frontend/src/lib/components/widgets/DataFrame/columns/utils.ts
Due: prettier, typecheck, eslint

Add support for stlite list
  frontend/lib/src/components/widgets/DataFrame/columns/utils.ts
Due: prettier, typecheck

Fix
  frontend/lib/src/components/widgets/DataFrame/columns/utils.ts
Due: prettier, typecheck

add st.link_button
  frontend/lib/src/components/core/Block/ElementNodeRenderer.tsx
  lib/streamlit/__init__.py
  lib/streamlit/elements/widgets/button.py
  proto/streamlit/proto/Element.proto
  proto/streamlit/proto/LinkButton.proto
Due: prettier, typecheck, no-relative-imports

add st.link_button frontend
  frontend/lib/src/components/elements/LinkButton/LinkButton.tsx
  frontend/lib/src/components/elements/LinkButton/index.tsx
Due: prettier, typecheck

Track st.stop in metrics (#7222)
  lib/streamlit/commands/execution_control.py
Due: no-relative-imports

Add copyright
  e2e_playwright/__init__.py
Due: no-relative-imports

Use absolut imports
  e2e_playwright/st_arrow_dataframe_column_types_test.py
  e2e_playwright/st_arrow_dataframe_styler_support_test.py
  e2e_playwright/st_chat_message_test.py
  e2e_playwright/st_checkbox_test.py
  e2e_playwright/st_code_test.py
  e2e_playwright/st_data_editor_config_test.py
  e2e_playwright/st_expander_test.py
  e2e_playwright/st_headings_divider_test.py
  e2e_playwright/st_metric_test.py
  e2e_playwright/st_multiselect_test.py
  e2e_playwright/st_status_test.py
  e2e_playwright/st_toggle_test.py
Due: no-relative-imports

Add timeout to prevent flakyness
  e2e_playwright/st_code_test.py
Due: no-relative-imports

Working, simplified mapbox implementation
  frontend/lib/src/SessionInfo.ts
  frontend/lib/src/components/elements/DeckGlJsonChart/withMapboxToken/MapboxTokenError.tsx
  frontend/lib/src/components/elements/DeckGlJsonChart/withMapboxToken/index.tsx
  frontend/lib/src/components/elements/DeckGlJsonChart/withMapboxToken/withMapboxToken.test.tsx
  frontend/lib/src/components/elements/DeckGlJsonChart/withMapboxToken/withMapboxToken.tsx
  frontend/lib/src/hocs/withMapboxToken/MapboxToken.test.ts
  frontend/lib/src/hocs/withMapboxToken/MapboxToken.ts
Due: prettier, typecheck

Driveby comment deletion.
  lib/streamlit/web/server/routes.py
Due: no-relative-imports

Readd space
  frontend/lib/src/components/elements/DeckGlJsonChart/withMapboxToken/MapboxToken.test.ts
  frontend/lib/src/components/elements/DeckGlJsonChart/withMapboxToken/withMapboxToken.tsx
Due: prettier, typecheck

Readd space again to another line...
  frontend/lib/src/components/elements/DeckGlJsonChart/withMapboxToken/withMapboxToken.tsx
Due: prettier, typecheck

Fix import
  frontend/lib/src/components/elements/DeckGlJsonChart/DeckGlJsonChart.tsx
Due: prettier, typecheck

Updating constraints. Github run id:5960304191
  constraints-3.10.txt
  constraints-3.11.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Updating constraints. Github run id:5967239175
  constraints-3.10.txt
  constraints-3.8.txt
  constraints-3.9.txt
Due: none

Fix e2e test
  e2e_playwright/host_config.py
  e2e_playwright/host_config/host_config_test.py
Due: no-relative-imports

Add license header
  e2e_playwright/host_config/__init__.py
  e2e_playwright/host_config/host_config_test.py
Due: no-relative-imports

Minor fix
  lib/streamlit/config.py
  lib/streamlit/config_util.py
Due: no-relative-imports

Adjust test req & Reset min-constraints
  lib/test-requirements.txt
Due: none

Resolve python dep min version test (#7231)
  lib/test-requirements.txt
Due: none

consolidate alignments & add e2e test
  e2e/scripts/st_slider.py
  e2e/specs/st_slider.spec.js
  frontend/lib/src/components/widgets/Slider/Slider.tsx
Due: prettier, typecheck, no-relative-imports

Add comments
  frontend/lib/src/components/widgets/Slider/Slider.tsx
Due: prettier, typecheck

Fix nits
  frontend/lib/src/components/widgets/Slider/Slider.test.tsx
  frontend/lib/src/components/widgets/Slider/Slider.tsx
Due: prettier, typecheck

First pass - new alignment function
  frontend/lib/src/components/widgets/Slider/Slider.tsx
Due: prettier, typecheck

Add snaps
  frontend/cypress/snapshots/linux/2x/st_slider.spec.js/labels-overlap-slider-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_slider.spec.js/labels-overlap-slider.snap.png
  frontend/lib/src/components/widgets/Slider/Slider.test.tsx
Due: prettier, typecheck

Up version to 1.26.0
  frontend/app/package.json
  frontend/lib/package.json
  frontend/package.json
  lib/setup.py
Due: no-relative-imports

Updating constraints. Github run id:5968301004
  constraints-3.11.txt
Due: none

Update Streamlit Lib Version
  frontend/app/package.json
Due: none

Fix: `st.slider` overlapping label values (#7221)
  e2e/scripts/st_slider.py
  e2e/specs/st_slider.spec.js
  frontend/cypress/snapshots/linux/2x/st_slider.spec.js/labels-overlap-slider-dark.snap.png
  frontend/cypress/snapshots/linux/2x/st_slider.spec.js/labels-overlap-slider.snap.png
  frontend/lib/src/components/widgets/Slider/Slider.test.tsx
  frontend/lib/src/components/widgets/Slider/Slider.tsx
Due: prettier, typecheck, no-relative-imports

Updating constraints. Github run id:5968447908
  constraints-3.11.txt
  constraints-3.8.txt
Due: none

Remove unused dependency
  lib/streamlit/config.py
Due: no-relative-imports

Path conditions:
  prettier: any of: ^frontend/.*(.js|\.jsx|\.ts|\.tsx)$, but not: /vendor/
  typecheck: any of: \.js$|\.jsx$|\.ts$|\.tsx$
  eslint: any of: ^frontend/src/.*(.js|\.jsx|\.ts|\.tsx)$
  no-relative-imports: any of: \.py$
